.social
  position relative
  float left
  clear left
  margin-top 10px
  padding-left 15px
  &.coupon
    padding-left 0
  i
    display: inline-block;
    width: 24px;
    height: 26px;
    margin-right: 6px;
    background: url(../images/news.png);
    &.fb
      background-position: 0px -60px;
    &.vk
      background-position: -30px -60px;
    &.ok
      background-position: -60px -60px
    &.tw
      background-position: -90px -60px
