{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load set_var %}

<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />
<script type="text/javascript">
        $(function() {

            $( ".date" ).datepicker();
            setTiny('textarea[class="tiny"]');
        });
</script>

{% block keywords %}{% endblock %}

<div class="newsform">

    <form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        {% with form.fields.NAME.initial as name %}
        {% with form.fields.DETAIL_TEXT.initial as text %}
        {% with form.fields.COST.initial as cost %}
        {% with form.fields.KEYWORD.initial as keyword %}
        {% with form.fields.CURRENCY.initial as currnecy %}
        {% with form.fields.START_EVENT_DATE.initial as start_date %}
        {% with form.fields.END_EVENT_DATE.initial as end_date %}
        {% with form.fields.DOCUMENT_1.initial as doc_1 %}
        {% with form.fields.DOCUMENT_2.initial as doc_2 %}
        {% with form.fields.DOCUMENT_3.initial as doc_3 %}

            <div class="uploadimgage">
                <div>
                    <label class="sapce">{% trans 'Publication date' %} <font color="#FF0000">*</font></label>
                    {% if form.errors.START_EVENT_DATE %}
                        <div class="error-handler"> <div class="formserror">{{ form.errors.START_EVENT_DATE }}</div></div>
                    {% endif %}
                    <input type="text"  name="START_EVENT_DATE" value="{{ start_date }}"  placeholder="" class="date" />
                </div>
                <div>
                    <label class="sapce">  {% trans 'Deadline for receiving bids' %} <font color="#FF0000">*</font></label>
                    {% if form.errors.END_EVENT_DATE %}
                        <div class="error-handler"><div class="formserror">{{ form.errors.END_EVENT_DATE }}</div></div>
                    {% endif %}
                    <input type="text" name="END_EVENT_DATE" value="{{ end_date }}" placeholder="" class="date"  />
                </div>
                <div>
                    <div class="clumn1">
                        <label class="sapce">{% trans 'Starting price' %} <font color="#FF0000">*</font></label>
                        {% if form.errors.COST %}
                            <div class="error-handler"> <div class="formserror">{{ form.errors.COST }}</div></div>
                        {% endif %}
                        <input type="text" name="COST" value="{{ cost }}" placeholder="" class="text" />
                    </div>
                    <div class="clumn2">
                        <label class="sapce">{% trans 'Currency' %}<font color="#FF0000">*</font></label>
                        <select id="id_CURRENCY" name="CURRENCY">
                        {% for curr in currency_slots %}
                            <option value="{{ curr.id }}"{% if currnecy == curr.id %} selected="selected" {% endif %}>
                                {{ curr.title }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>
                <div>
                    <label class="sapce">{% trans 'Documents' %}</label>
                    {% if form.errors.DOCUMENT_1 or form.errors.DOCUMENT_2 or form.errors.DOCUMENT_3 %}
                        <div class="error-handler"> <div class="formserror">{{ form.errors.DOCUMENT_1 }}</div></div>
                        <div class="error-handler"> <div class="formserror">{{ form.errors.DOCUMENT_2 }}</div></div>
                        <div class="error-handler"> <div class="formserror">{{ form.errors.DOCUMENT_3 }}</div></div>
                    {% endif %}
                    <div class="line">
                        {% if doc_1 %}
                            <a href="{{ MEDIA_URL }}document/{{ doc_1.name }}">Doc 1</a>
                            <input type="checkbox" name="DOCUMENT_1-CLEAR" value="{{ doc_1 }}" />{% trans 'delete' %}
                        {% endif %}
                        <input type="file" id="id_DOCUMENT_1" name="DOCUMENT_1" value="{{ doc_1 }}"/>
                    </div>
                    <div class="line">
                        {% if doc_2 %}
                            <a href="{{ MEDIA_URL }}document/{{ doc_2.name }}">Doc 1</a>
                            <input type="checkbox" name="DOCUMENT_2-CLEAR" value="{{ doc_2 }}" />{% trans 'delete' %}
                        {% endif %}
                        <input type="file" id="id_DOCUMENT_2" name="DOCUMENT_2" value="{{ doc_2 }}"/>
                    </div>
                    <div class="line">
                        {% if doc_3 %}
                            <a href="{{ MEDIA_URL }}document/{{ doc_3.name }}">Doc 1</a>
                            <input type="checkbox" name="DOCUMENT_3-CLEAR" value="{{ doc_3 }}" />{% trans 'delete' %}
                        {% endif %}
                            <input type="file" id="id_DOCUMENT_3" name="DOCUMENT_3" value="{{ doc_3 }}"/>
                    </div>
                </div>
                <div>
                    <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="3" />
                    <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0" />
                    <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="3" />

                    <label class="sapce">{% trans 'Images' %}</label>

                    {% for i in '012'|make_list %}
                        {% resolve photos i as img %}
                        <div class="line">

                            {% if img %}
                                <a href='{{ MEDIA_URL }}th/{{ img.photo.name }}'>Image {{ i }}</a>
                                <input type="checkbox" name="del[]" value="{{ img.pk }}" />{% trans 'delete' %}
                                <input id="id_form-{{ i }}-item_ptr" name="form-{{ i }}" value="{{ img.pk }}" type="hidden" value="" />
                            {% endif %}
                            <input id="id_form-{{ i }}-photo" name="form-{{ i }}-photo" type="file" />
                        </div>
                    {% endfor %}
                </div>
                <div>
                    <label class="sapce">{% trans 'Keywords'  %}</label>
                     {% if form.errors.KEYWORD %}
                        <div class="error-handler"> <div class="formserror">{{ form.errors.KEYWORD }}</div></div>
                     {% endif %}
                    <textarea rows="5" name="KEYWORD" >{{ keyword }}</textarea>
                </div>

            </div>
            <ul class="uploadconfig">
                <li>
                    <label>{% trans 'Tender name' %} <font color="#FF0000">*</font></label>
                    {% if form.errors.NAME %}
                        <div class="error-handler"> <div class="formserror">{{ form.errors.NAME }}</div></div>
                    {% endif %}
                    <input type="text" name="NAME" value="{{ name }}" placeholder="" class="text" />
                </li>
                <li>
                    <label>{% trans 'Description' %} <font color="#FF0000">*</font></label>
                    {% if form.errors.DETAIL_TEXT %}
                        <div class="error-handler"> <div class="formserror">{{ form.errors.DETAIL_TEXT }}</div></div>
                    {% endif %}
                </li>
                <li>
                    <textarea class="tiny" style="height: 350px;"  name="DETAIL_TEXT" >{{ text }}</textarea>
                </li>
            </ul>
                <div class="append-formin">
                    <div class="addpage-title">{% trans 'Additional pages' %}</div>
                    <input id="id_form-TOTAL_FORMS" name="pages-TOTAL_FORMS" type="hidden" value="5" />
                    <input id="id_form-INITIAL_FORMS" name="pages-INITIAL_FORMS" type="hidden" value="0" />
                    <input id="count" value="{% if pages|length > 0 %}{{ pages|length }}{% else %}1{% endif %}" type="hidden" />
                    <input id="id_form-MAX_NUM_FORMS" name="pages-MAX_NUM_FORMS" type="hidden" value="10" />

                    {% if  pages|length >  0 %}
                        {% for page in  pages %}
                            {% set i = forloop.counter0 %}
                            {% include "additionalPage.html" %}
                        {% endfor %}
                    {% else %}
                        {% set i = 0 %}
                        {% include "additionalPage.html" %}
                    {% endif %}
               </div>
               <div class="newform-button">
                    <input type="submit" class="btntype2" name="submmit" value="{% trans "Save" %}">
                    <a href="#" class="btntype1">{% trans 'Cancel' %}</a>
                    </div>

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
    </form>
</div>
