{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
<div class="container">
    <div class="companies">
        {% include "Tenders/popupFilter.html" %}
        {% include "main/paginator.html" %}
        {% include "main/local_menu_script.html" %}
        <ul class="tender-list">
            {% for tender in object_list %}
            <li>
                {% setContextMenu tender %}




                <div class="title">
                    {% if tender.organization.flag %}
                        <img src="{{ MEDIA_URL }}small/{{ tender.organization.flag }}" class="flag" title="{{ tender.organization.title }}" alt="{{ tender.organization.title }}" />
                    {% else %}
                        <i class="flag sprite {{ tender.country.flag }}" title="{{ tender.country.text }}"></i>
                    {% endif %}
                    <font class="name">
                        {% if tender.country.text %}
                            {{ tender.country.text }}
                        {% else %}
                            {{ tender.organization.title }}
                        {% endif %}, {% trans 'Publication date' %}: {{ tender.obj_create_date|date:"d M Y" }}
                    </font>
                </div>
                <h2><a href="{% url "tenders:detail" tender.slug %}" >{{ tender.title }}</a></h2>
                <div class="line">
                    {% trans 'Starting price' %}: <font class="number">{{ tender.currency|default_if_none:""|getSymbol }} {{ tender.price|default_if_none:""|formatPrice }}</font>
                </div>
                <div class="line">
                    {% trans 'Organizer' %}: <a href="{% url  tender.organization.url  tender.organization.slug %}">{{ tender.organization.title }}</a>
                </div>
                <a href="{% url "tenders:detail" tender.slug %}" class="linkmore">{% trans 'More' %}...</a>
            </li>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}

            </ul>
           {% include "main/paginator.html" %}
    </div>
</div>
