{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
    <div class="companies">
          {% include "Tenders/popupFilter.html" %}
           {% include "main/paginator.html" %}
            <ul class="tender-list">
                {% for id , attr in tendersList.items %}
                    {% with attr.NAME.0 as name %}
                    {% with attr.COST.0 as cost %}
                    {% with attr.SLUG.0 as slug %}
                    {% with attr.CREATE_DATE.0 as date %}
                    {% with attr.CURRENCY.0 as currency %}
                    {% with attr.ORGANIZATION_FLAG.0 as org_flag %}
                    {% with attr.ORGANIZATION_NAME.0 as org_name %}
                    {% with attr.ORGANIZATION_ID.0 as org_id %}
                    {% with attr.COUNTRY_NAME|first as country_name %}
                    {% with attr.COUNTRY_FLAG|first as flag %}
                    {% with attr.COUNTRY_ID as country_id %}
                    <li>
                        <div class="title">
                               <img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else %}{{ flag }}{% endif %}" class="flag" />
                            <font class="name">{% if country_name %}{{ country_name }}{% else %}{{ org_name }}{% endif %}, {% trans 'Date of publication' %}: {{ date|date:"d M Y" }}</font>
                        </div>
                        <h2><a href="{% url "tenders:detail" slug %}" >{{ name }}</a></h2>
                        <div class="line">{% trans 'Starting price' %}: <font class="number">{{ currency|getSymbol }} {{ cost }}</font></div>
                        <div class="line">{% trans 'Organizer' %}: <a href="#">{{ org_name }}</a></div>
                        <a href="{% url "tenders:detail" slug %}" class="linkmore">{% trans 'More' %}...</a>
                    </li>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}

            </ul>
           {% include "main/paginator.html" %}
    </div>
</div>
