{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
<div class="container">
    <div class="companies">
        {% include "main/popupFilter.html" %}
        {% include "main/paginator.html" %}
        {% include "main/local_menu_script.html" %}
        <ul class="tender-list">
            {% for tender in object_list %}
            <li>
                {% setContextMenu tender %}
                <div class="title">
                    {% if tender.organization.flag %}
                        <img src="{{ tender.organization.flag_url }}" class="flag" title="{{ tender.organization.name }}" alt="{{ tender.organization.name }}" />
                    {% elif tender.country %}
                        <i class="flag sprite {{ tender.country.flag }}" title="{{ tender.country.name }}"></i>
                    {% endif %}
                    <font class="name">
                        {% if tender.country %}
                            {{ tender.country.name }}
                        {% else %}
                            {{ tender.organization.name }}
                        {% endif %}, {% trans 'Publication date' %}: {{ tender.created_at|date:"d M Y" }}
                    </font>
                </div>
                <h2><a href="{{ tender.get_absolute_url }}" >{{ tender.title }}</a></h2>
                <div class="line">
                    {% trans 'Starting price' %}: <font class="number">{{ tender.currency|default_if_none:""|getSymbol }} {{ tender.cost|default_if_none:""|formatPrice }}</font>
                </div>
                <div class="line">
                    {% trans 'Organizer' %}: <a href="{{ tender.organization.get_absolute_url }}">{{ tender.organization.name }}</a>
                </div>
                <a href="{{ tender.get_absolute_url }}" class="linkmore">{% trans 'More' %}...</a>
            </li>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}

            </ul>
           {% include "main/paginator.html" %}
    </div>
</div>
