{% extends 'main_page.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block header %}
    {% include "login_header.html" %}
{% endblock %}

<script>
$(function() {
	 $(".goods-details-tab").tabs();});
</script>

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/company.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        {% getOwner item.pk as owner %}

        {% if owner %}
            {% if owner.type == 'tpp' %}
                ga('set', 'dimension1', {{ owner.pk }});
            {% else %}
                ga('set', 'dimension3', {{ owner.pk }});
            {% endif %}
        {% endif %}
        ga('set', 'dimension2', 'exhibition');
    </script>
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
    <div class="tender">
        <div class="tender-details-title">
            {% if item.organization.flag %}
                <img src="{{ MEDIA_URL }}small/{{ item.organization.flag }}" class="flag" title="{{ item.organization.title }}" alt="{{ item.organization.title }}" />
            {% else %}
                <i class="flag sprite {{ item.country.flag }}" title="{{ item.country.text }}"></i>
            {% endif %}
            <font class="name">{% if item.organization.title %}{{ item.organization.title }}{% else %}{{ item.country.text }}{% endif %}</font>
        </div>
        <div class="tender-info">
            <div class="tender-button"><a class="bigbuy" href="#">{% trans "Apply now" %}</a></div>
                <span class="title">{{ item.title }}</span>
                <ul class="infolist">
                    <li>
                        <label>{% trans 'Publication date' %}:</label>
                        <span class="right">{{ item.start_event_date|default_if_none:"" }}</span>
                    </li>
                    <li>
                        <label>{% trans 'Deadline for receiving bids' %}:</label>
                        <span class="right">{{ item.end_event_date|default_if_none:"" }}</span>
                    </li>
                    <li>
                        <label>{% trans 'Starting price' %}:</label>
                        <span class="right"><font class="price">{{ item.currency|default_if_none:""|getSymbol }} {{ item.price|default_if_none:""|formatPrice }} </font></span>
                    </li>
                </ul>
                <div class="tender-bottom">
                    <div class="tender-bottom-left">
                        <img src="{{ MEDIA_URL }}small/{% if item.organization.flag %}{{ item.organization.flag }}{% else %}{{ item.organization.image }}{% endif %}" class="thumb" title="{{ item.organization.title }}" alt="{{ item.organization.title }}" />
                        <a href="{% url item.organization.url item.organization.slug %}">{{ item.organization.title }}</a>
                    </div>
                    <div class="tender-bottom-right">
                        {% b2bSocialButtons  item.image item.title item.text %}
                    </div>
                </div>
                <div class="goods-details-tab">
                    <div class="tab-cate">
                        <ul>
                        <li><a href="#goods-tabs-1">{% trans 'Description' %}</a></li>
                        <li><a href="#goods-tabs-2">{% trans 'Gallery' %}</a></li>
                        <li><a href="#goods-tabs-3">{% trans 'Documents' %}</a></li>
                        {% for page in additionalPages %}
                            <li><a href="#goods-tabs-{{ forloop.counter0|add:4 }}">{{ page.getTitle|truncatechars:10 }}</a></li>
                        {% endfor %}
                        </ul>
                    </div>
                    <div id="goods-tabs-1">
                        <div class="content-goods-tab">{{ item.text|cleanHtml|safe }} </div>
                    </div>
                    <div id="goods-tabs-2">
                        <div class="content-goods-tab">
                            <ul class="tpp-gallery">
                                {% for photo in photos %}
                                    <li>
                                        <div class="b-img">
                                            <img alt=""  src="{{ MEDIA_URL }}big/{{ photo.photo }}" alt="" />

                                            <div class="viewimge" onclick="document.getElementById('white-tpp').style.display='block';document.getElementById('black-tpp').style.display='block'">
                                                <i class="imgnews zoom"></i><span class="zoomtext">{% trans 'zoom' %}</span></div>
                                            <div class="gray-img"></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="goods-tabs-3">
                        <div class="content-goods-tab">
                            {% if item.doc_1 %}
                                <a href="{{ MEDIA_URL}}document/{{ item.doc_1 }}">{% trans 'Link to the document' %}</a><br>
                            {% endif %}
                            {% if item.doc_2 %}
                                <a href="{{ MEDIA_URL}}document/{{ item.doc_2 }}">{% trans 'Link to the document' %}</a><br>
                            {% endif %}
                            {% if item.doc_3 %}
                                <a href="{{ MEDIA_URL}}document/{{ item.doc_3 }}">{% trans 'Link to the document' %}</a><br>
                            {% endif %}
                        </div>
                    </div>
                    {% for page in additionalPages %}
                        <div id="goods-tabs-{{ forloop.counter0|add:4 }}">
                            <div class="content-goods-tab">{{ page.getContent|cleanHtml|safe }}</div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

