{% load staticfiles %}
{% load i18n %}
<div id="slide-var">
    <ul id="slideimage">
        <li><a href="#"><img src="http://static.tppcenter.com/static/b2c_banners/fruits2.jpg" alt="" /></a></li>
        <li><a href="#"><img src="http://static.tppcenter.com/static/b2c_banners/banners-b24online.jpg" alt="" /></a></li>
        <li><a href="#"><img src="http://static.tppcenter.com/static/b2c_banners/banners-b24online-stationary.jpg" alt="" /></a></li>
        <li><a href="#"><img src="http://static.tppcenter.com/static/b2c_banners/banners-b24online-food.jpg" alt="" /></a></li>
        <li><a href="#"><img src="http://static.tppcenter.com/static/b2c_banners/banners-b24online-clothes.jpg" alt="" /></a></li>
    </ul>
</div>