{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block keywords %}{% endblock %}

{% block title %}{% trans 'Banners' %}{% endblock %}

{% block content %}
    <div class="new-details">
        {% for site, types in sites.items %}
            <ul class="ads-clumn">
                <li><h3>{{ site }}</h3></li>

                {% for block in blocks %}
                        <li><a href="{{ block.get_absolute_url }}" class="btn-size">
                            <span>{{ block.name }}</span> | <span>{{ block.width }} X {{ block.height }}</span>
                        </a></li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
