{% load static %}
{% load i18n %}

{% load CustomFilters %}
{% load inclusionTags %}
<div class="container">
    <div class="companies">
        {% include "Exhibitions/popupFilter.html" %}
        {% include "main/paginator.html" %}
        {% include "main/local_menu_script.html" %}
        <ul class="tender-list" id="afisha-list">
            {% for exhibition in object_list %}
                <li>
                {% setContextMenu exhibition %}
                    <div class="title">
                        {% if exhibition.country %}
                            <i class="flag sprite {{ exhibition.country.flag }}" title="{{ exhibition.country.name }}" ></i>
                        {% endif %}
                        <font class="name">{{ exhibition.country.name }}  {{ exhibition.city }},  {{ exhibition.start_date|date:"d M Y" }} - {{ exhibition.end_date|date:"d M Y"  }}</font>
                    </div>
                    <h2><a href="{% url 'exhibitions:detail' exhibition.slug %}">{{ exhibition.title }}</a></h2>
                        <div class="line">{% trans 'Organizer' %}: <a href="{{ exhibition.organization.detail_url }}">{{ exhibition.organization.name }}</a></div>
                        <a href="{% url 'exhibitions:detail' exhibition.slug %}" class="linkmore">{% trans 'More' %}...</a>
                    </li>
            {% empty %}
                <div class="no-results">{% trans "No results found" %}</div>
            {% endfor %}
        </ul>
        {% include "main/paginator.html" %}
    </div>
</div>