{% load static %}
{% load i18n %}

{% load CustomFilters %}
{% load inclusionTags %}
<div class="container">
    <div class="companies">
        {% include "Exhibitions/popupFilter.html" %}
        {% include "main/paginator.html" %}
        {% include "main/local_menu_script.html" %}
        <ul class="tender-list" id="afisha-list">
            {% for exhibition in object_list %}
                <li>

                {% setContextMenu exhibition %}




                    <div class="title">
                        {% if exhibition.country.flag %}
                            <i class="flag sprite {{ exhibition.country.flag }}" title="{{ exhibition.country.text }}" ></i>
                        {% elif exhibition.organization.flag %}
                            <img src="{{ MEDIA_URL }}small/{{ exhibition.organization.flag }}" class="flag" alt="{{ exhibition.organization.name }}" title="{{ exhibition.organization.name }}" />
                        {% endif %}
                        <font class="name">{{ exhibition.country.text }}  {{ exhibition.city }},  {{ exhibition.start_event_date|date:"d M Y" }} - {{ exhibition.end_event_date|date:"d M Y"  }}</font>
                    </div>
                    <h2><a href="{% url 'exhibitions:detail' exhibition.slug %}">{{ exhibition.title }}</a></h2>
                        <div class="line">{% trans 'Organizer' %}: <a href="{% url exhibition.organization.url exhibition.organization.slug %}">{{ exhibition.organization.title }}</a></div>
                        <a href="{% url 'exhibitions:detail' exhibition.slug %}" class="linkmore">{% trans 'More' %}...</a>
                    </li>
            {% empty %}
                <div class="no-results">{% trans "No results found" %}</div>
            {% endfor %}
        </ul>
        {% include "main/paginator.html" %}
    </div>
</div>