{% load static %}
{% load i18n %}

{% load CustomFilters %}

<div class="container">
    <div class="companies">
        {% include "Exhibitions/popupFilter.html" %}
        {% include "main/paginator.html" %}
        {% include "main/local_menu_script.html" %}
        <ul class="tender-list" id="afisha-list">
            {% for exhibition in object_list %}
                <li>
                    {% resolve items_perms exhibition.pk|slugify as permlist %}

                    {% if 'delete_exhibition' in  permlist or 'change_exhibition' in permlist%}
                        <div class="blockbox">
                            <a href="#"><i class="btn-afisha imgnews"></i></a>
                            <div class="localmenu">
                                {% if 'change_exhibition' in permlist %}
                                     <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'exhibitions:update' exhibition.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                {% endif %}
                                {% if 'add_advtop' in permlist %}
                                    <div class="tender-action"><i class="imgnews noty icon-action"></i><a href="{% url 'adv_top:top_form' exhibition.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'Advertise' %}</span></a></div>
                                {% endif %}
                                {% if 'delete_exhibition' in  permlist %}
                                     <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url 'exhibitions:delete' exhibition.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="title">
                        {% if exhibition.country.flag %}
                            <i class="flag sprite {{ exhibition.country.flag }}" title="{{ exhibition.country.text }}" />
                        {% elif exhibition.organization.flag %}
                            <img src="{{ MEDIA_URL }}small/{{ exhibition.organization.flag }}" class="flag" alt="{{ exhibition.organization.name }}" title="{{ exhibition.organization.name }}" />
                        {% endif %}
                        <font class="name">{{ exhibition.country.text }}  {{ exhibition.city }},  {{ exhibition.start_event_date|makeDate|date:"d M Y" }} - {{ exhibition.end_event_date|makeDate|date:"d M Y"  }}</font>
                    </div>
                    <h2><a href="{% url 'exhibitions:detail' exhibition.slug %}">{{ exhibition.title }}</a></h2>
                        <div class="line">{% trans 'Organizer' %}: <a href="{% url exhibition.organization.url exhibition.organization.slug %}">{{ exhibition.organization.title }}</a></div>
                        <a href="{% url 'exhibitions:detail' exhibition.slug %}" class="linkmore">{% trans 'More' %}...</a>
                    </li>
            {% empty %}
                <div class="no-results">{% trans "No results found" %}</div>
            {% endfor %}
        </ul>
        {% include "main/paginator.html" %}
    </div>
</div>