{% extends 'main_page.html' %}

{% load static %}
{% load i18n %}
{% load CustomFilters %}

{% block header %}
    {% include "login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/company.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
        {% getOwner item.pk as owner %}

        {% if owner %}
            {% if owner.type == 'tpp' %}
                ga('set', 'dimension1', {{ owner.pk }});
            {% else %}
                ga('set', 'dimension3', {{ owner.pk }});
            {% endif %}
        {% endif %}
        ga('set', 'dimension2', 'exhibition');
    </script>
{% endblock %}

 <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/gmapCompany.css" %}" />

 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
 <script src="{% static "tppcenter/js/gmapSearchMarker.js" %}"></script>
 <script type="text/javascript">

        $(function() {
             $(".goods-details-tab").tabs();});

      var marker;
            $(document).ready(function($) {
                var tabs =  $( '.goods-details-tab' )
                tabs.tabs();

                var href = tabs.find('a[href="#goods-tabs-4"]');
                href.on('click',function(){

                    {% if item.position|length > 3 %}
                      marker = new google.maps.Marker({
                        position: new google.maps.LatLng({{ item.position }})
                    });
                    {% endif %}
                  initialize(false);




                })});




    </script>

{% block keywords %}{% endblock %}

{% block content %}
    <div class="tender">
        <div class="tender-details-title">
            {% if item.country.flag %}
                <i class="flag sprite {{ item.country.flag }}" title="{{ item.country.text }}"></i>
            {% elif item.organization.flag %}
                <img src="{{ MEDIA_URL }}small/{{ item.organization.flag }}" class="flag" title="{{ item.organization.title }}" alt="{{ item.organization.title }}" />
            {% endif %}
            <font class="name">
                {% if item.country.text %}{{ item.country.text }}{% else %}{{ item.organization.title  }}{% endif %} {{ item.city }}
                {{ exhibition.start_event_date|makeDate|date:"d M Y" }} - {{ exhibition.end_event_date|makeDate|date:"d M Y"  }}
            </font>
        </div>
        <div class="tender-info">
            <div class="tender-button"><a class="bigbuy" href="#" id="afisha">{% trans 'Sign Up' %}</a></div>
			    <span class="title">{{ item.title }}</span>
                <div class="tender-bottom">
                   	<div class="tender-bottom-left">
                      	<img src="{{ MEDIA_URL }}small/{% if item.organization.flag %}{{ item.organization.flag }}{% else %}{{ item.organization.image }}{% endif %}" title="{{ item.organization.title }}" alt="{{ item.organization.title }}" class="thumb" />
                        <a href="{% url item.organization.url item.organization.slug %}">{{ item.organization.title }}</a>
                    </div>
                </div>
                <div class="innov-details">
                  	<p>{{ item.text|cleanHtml|safe }}</p>
                </div>
                <div class="goods-details-tab">
                    <div class="tab-cate">
                        <ul>
                            <li><a href="#goods-tabs-1">{% trans 'Route Description' %}</a></li>
                            <li><a href="#goods-tabs-2">{% trans 'Document' %}</a></li>
                            <li><a href="#goods-tabs-3">{% trans 'Gallery' %}</a></li>
                            <li><a href="#goods-tabs-4">{% trans 'Contacts' %}</a></li>
                            {% for page in additionalPages %}
                            <li><a href="#goods-tabs-{{ forloop.counter0|add:5 }}">{{ page.getTitle|truncatechars:10 }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="goods-tabs-1">
                        <div class="content-goods-tab">
                            {{ route_description }}
                        </div>
                    </div>
                    <div id="goods-tabs-2">
                        <div class="content-goods-tab">
                            {% if item.doc_1 %}
                                <p><a href="{{ MEDIA_URL }}document/{{ item.doc_1 }}">{% trans 'Link to the File' %}</a> </p>
                            {% endif %}
                            {% if item.doc_2 %}
                                <p><a href="{{ MEDIA_URL }}document/{{ item.doc_2 }}">{% trans 'Link to the File' %}</a> </p>
                            {% endif %}

                            {% if item.doc_3 %}
                                <p><a href="{{ MEDIA_URL }}document/{{ item.doc_3 }}">{% trans 'Link to the File' %}</a> </p>
                            {% endif %}

                        </div>
                    </div>
                    <div id="goods-tabs-3">
                        <div class="content-goods-tab">
                            <ul class="tpp-gallery">
                                {% for photo in photos %}
                                    <li>
                                        <div class="b-img">
                                            <a class="fancybox" rel="gallery" href="{{ MEDIA_URL }}original/{{ photo.photo }}">
                                                <img src="{{ MEDIA_URL }}big/{{ photo.photo }}" />
                                            </a>
                                            <div class="viewimge">
                                                        <a class="fancybox" rel="gallery" href="{{ MEDIA_URL }}original/{{ photo.photo }}">
                                                            <i class="imgnews zoom"></i><span class="zoomtext">{% trans 'zoom' %}</span>
                                                        </a>
                                            </div>
                                            <div class="gray-img"></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div id="goods-tabs-4">
                        <div class="tpp-dt-content">
                            <div class="org-contacts">
                                <ul class="innov-tab-content">
                                    {% if item.organization.address %}
                                        <li>
                                            <span class="left">{% trans 'Address' %}: </span>
                                            <span class="right">{{ item.organization.address }}</span>
                                        </li>
                                    {% endif %}
                                    {% if item.organization.phone %}
                                        <li>
                                            <span class="left">{% trans 'Telephone number' %}: </span>
                                            <span class="right">{{ item.organization.phone }} </span>
                                        </li>
                                    {% endif %}
                                    {% if item.organization.fax %}
                                        <li>
                                            <span class="left">{% trans 'Fax' %}: </span>
                                            <span class="right">{{ item.organization.fax }}</span>
                                        </li>
                                    {% endif %}
                                    {% if item.organization.email %}
                                        <li>
                                                <span class="left">{% trans 'Email' %}: </span>
                                                <span class="right">{{ item.organization.email }}</span>
                                        </li>
                                    {% endif %}
                                    {% if item.organization.site_name %}
                                        <li>
                                            <span class="left">{% trans 'WWW' %}: </span>
                                            <span class="right">{{ item.organization.site_name }}</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            <div class="org-map"><div id="map-canvas"></div></div>
                        </div>
                    </div>
                    {% for page in additionalPages %}
                        <div id="goods-tabs-{{ forloop.counter0|add:5 }}">
                              <div class="content-goods-tab">{{ page.getContent|cleanHtml|safe }}</div>
                         </div>
                    {% endfor %}
                </div>
                <div class="afisha-reg">
                    <form id="registration_to_ex">
                        <i class="close-regform imgnews"></i>
                        <ul>
                            <li>
                            	<label id="registration_error_ex" style="margin-left:110px;color: red;" hidden="hidden">{% trans 'Name and Email are required' %}</label>
                                <label id="registration_succsefuly_ex" style="margin-left:110px;color: #008000;" hidden="hidden">{% trans 'You are registered successfully.' %}</label>

                            </li>
                        	<li>
                            	<label><b>{% trans 'Name' %}</b><font color="#FF0000">*</font></label>
                                <input type="text" name="name_register" placeholder="" class="text" />
                            </li>
                            <li>
                            	<label><b>{% trans "Email" %}</b><font color="#FF0000">*</font></label>
                                <input type="email" name="email_register" placeholder="" class="text" />
                            </li>
                            <li>
                            	<label><b>{% trans 'Telephone number' %}</b></label>
                                <input type="text" name="telephone_register" placeholder="" class="text" />
                            </li>
                            <li>
                            	<label><b>{% trans 'Company' %}</b></label>
                                 <input type="text" name="company_register" placeholder="" class="text" />
                            </li>
                            <li>
                            	<label><b>{% trans 'Position' %}</b></label>
                                <input type="text" name="position_register" placeholder="" class="text" />
                            </li>

                            <li class="end">
                                <input type="hidden" name="email_company_register" placeholder="" value="{{ item.organization.email }}"  />
                                <input type="hidden" name="ex_name_register" placeholder="" value="{{ item.title }}"  />
                            	<a class="btntype2 reg_to_exhebition" href="#">{% trans 'Sign Up' %}</a>
                                <a class="btntype1" href="#">{% trans 'Cancel' %}</a>
                            </li>
                        </ul>
                     </form>
            </div>
        </div>
    </div>
{% endblock %}