{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         {% for style in styles %}
            <link type="text/css" rel="stylesheet" href="{{ style }}" />
         {% endfor %}
    {% endblock %}

    {% block js %}
         {{ block.super }}
         {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
         {% endfor %}
                      <script type="text/javascript">
								$(function(){
									$(".copy").on("click", function(){
										$(".options option:selected").each(function(){
										   $(".textarea2").append('<option>'+$(this).text()+'</option>');
											$('option:selected', ".textarea").remove();
										});
									});
									$(".removeop").on("click", function(){
										$(".remove option:selected").each(function(){
										   $(".textarea").append('<option>'+$(this).text()+'</option>');
											$('option:selected', ".textarea2").remove();
										});
									});
									$(".buttonclear").on("click", function(){
										$(".remove option").each(function(){
										   $(".textarea").append('<option>'+$(this).text()+'</option>');
											$('option', ".textarea2").remove();
										});
									});
									$("#afisha").click(function(){
										$(".afisha-reg, #fade-profile").show();
									});
									$(".close-regform, .btntype1").click(function(){
										$(".afisha-reg, #fade-profile").hide();
									});
								});
							</script>
    {% endblock %}



     {% block content %}{% include "Exhibitions/contentPage.html" %}{% endblock %}
