{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}Exhibitions{% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         {% for style in styles %}
            <link type="text/css" rel="stylesheet" href="{{ style }}" />
         {% endfor %}
    {% endblock %}

    {% block js %}
         {{ block.super }}
         {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
         {% endfor %}
    {% endblock %}



     {% block content %} {{ exhibitionPage }}{% endblock %}
