{% load static %}
{% load i18n %}
{% load CustomFilters %}


<div class="container">
{% include "Vacancy/popupFilter.html" %}
 {% include "main/local_menu_script.html" %}
    <div class="companies">
    {% include "main/paginator.html" %}



                <ul class="vacancy-list">
                {% for vacancy in object_list %}
                    <li>
                    {% resolve items_perms vacancy.pk|slugify as permlist %}
                    {% if 'delete_requirement' in  permlist or 'change_requirement' in permlist %}

                        <div class="blockbox">
                            <a href="#"><i class="btn-afisha imgnews"></i></a>
                            <div class="localmenu">
                                {% if  'change_requirement' in permlist %}
                                     <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'vacancy:update' vacancy.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                {% endif %}
                                {% if 'add_advtop' in permlist %}
                                     <div class="tender-action"><i class="imgnews noty icon-action"></i><a href="{% url 'adv_top:top_form' vacancy.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'Advertise' %}</span></a></div>
                                {% endif %}
                                {% if 'delete_requirement' in permlist %}
                                     <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url 'vacancy:delete' vacancy.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}


               <h2><a href="{% url 'vacancy:detail' vacancy.slug %}">{{ vacancy.title }}</a></h2>

                        <div class="vacancy-desc">
                             {% if vacancy.country.flag %}
                                <i class="flag sprite {{ vacancy.country.flag }}" title="{{ vacancy.country.title }}" ></i>
                        	{% endif %}
                            <font class="date">{{ vacancy.city }}, {% trans 'Date' %}: {{ vacancy.obj_create_date|date:'d M Y' }}</font>

                           <p>{{ vacancy.text|truncatewords:30 }} </p>
                           <a href="{% url 'vacancy:detail' slug %}" class="more">{% trans "More" %}...</a>
                        </div>
                    </li>
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endfor %}

            </ul>

    </div>
{% include "main/paginator.html" %}
</div>
