{% extends 'main_page.html' %}

{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}


{% block header %}
    {% include "login_header.html" %}
{% endblock %}


{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/company.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
<script>
$(function() {
	 $(".goods-details-tab").tabs();});
</script>
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}
  <div class="vacancy-dt">
               <div class="tender-info">
					<span class="title">{{ item.title }}</span>
                    <div class="vacancy-button"><a href="#" id="send-resume" class="bigbuy">{% trans 'Send Resume' %}</a></div>
                    <ul class="inforesume">
                    	<li>
                        	<label>{% trans 'Date' %}:</label>
                            <span class="right">{{ item.obj_create_date|date:'d M Y' }}</span>
                        </li>
                        <li>
                        	<label>{% trans 'Company' %}:</label>
                            <span class="right">
                                {% if item.is_anonymous %}
                                    {% trans 'Anonymous company' %}
                                {% else %}
                                <a href="{% url 'companies:detail' item.organization.slug %}">{{ item.organization.title }}</a>
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                    {% b2bSocialButtons "" item.title item.text %}
                    <div class="goods-details-tab">
                        <div class="tab-cate">
                            <ul>
                                <li><a href="#goods-tabs-1">{% trans 'Description' %}</a></li>

                            </ul>
                        </div>
                        <div id="goods-tabs-1">
                            <div class="content-goods-tab">
                            	<ul class="innov-tab-content">

                                    <li>
                                    	<label>{% trans 'Type of employments' %}</label>
                                        <p>{{ item.type|default_if_none:"" }}</p>
                                    </li>

                                    <li>
                                    	<label>{% trans 'Description' %}</label>
                                       <p>{{ item.text|default_if_none:"" }}</p>
                                    </li>
                                    <li>
                                    	<label>{% trans 'Requirements' %}</label>
                                        <p>{{ item.requirements|default_if_none:"" }}</p>
                                    </li>
                                    <li>
                                    	<label>{% trans 'Terms' %}</label>
                                        <p>{{ item.terms|default_if_none:"" }}</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                   </div>
               </div>
     </div>
{% endblock %}

{% block vacancy %}
<div style="display: none;" class="white_content" id="light-vacancy">
    <div class="contact-table">
        <div class="contact-tablein" style="height: 280px;">
        	<a onclick="document.getElementById('light-vacancy').style.display='none';document.getElementById('fade-vacancy').style.display='none'" href="javascript:void(0)"><i class="close-event imgnews"></i></a>


            <ul class="contactform">
                <li style="text-align: center;">
                    <label id="send_resume_succsefuly" style="color: #008000;" hidden="hidden">{% trans 'You have successfully sent the message.' %}</label>
                </li>

                <li>
                	<label>{% trans 'You send resume on position:' %} <font color="#FF0000">*</font></label>
                   <div>{{ item.title }}</div>
                    <input id="vacancy-id" value="{{ item.pk }}" hidden="hidden">
                </li>

                <li>
                	<label>{% trans 'Add new resume to profile' %} <font color="#FF0000">*</font></label>
                   <a href="{% url 'resume:main'  %}">{% trans 'New resume' %}</a>
                </li>

            	<li>
                	<label>{% trans 'Send existing resume' %}:</label>
                    <select id="resume-id">
                        {% for resume in resumes %}
                        <option value="{{ resume.pk }}"> {{ resume.text }}</option>
                         {% empty %}
                           <option disabled> {% trans 'No existing resumes' %}</option>
                        {% endfor %}

                    </select>
                </li>
                <li class="end">
                	<div class="newform-button">
                        <a id="send-vacancy" class="btntype2" href="#">{% trans 'Send' %}</a>
                        <a class="btntype1" id="cancel-vacancy" href="#">{% trans 'Cancel' %}</a>
                    </div>
                </li>


            </ul>

        </div>
    </div>
</div>
<div class="black_overlay" id="fade-vacancy"></div>
{% endblock %}

