.contacts
  border-left solid 1px #e1e1e1
  &.product
    width 200px
    border none
    background-color #f3f3f3
    padding 10px
  .flag
    width 18px
    margin-right 10px
  .event-title
    margin-bottom 15px
  .address
    float left
    clear left
  .contact
    float left
    clear left
    margin-top 6px
  .sprite
    background url(../images/news.png)
    margin-right 6px
  .address-ico
    background-position -120px -90px
    width 16px
    height 16px
  .phone-ico
    background-position -137px -90px
    width 16px
    height 16px
  .extra-phone-ico
    background-position -153px -90px
    width 16px
    height 16px
  .site-ico
    background-position -170px -90px
    width 16px
    height 16px
  .mail-ico
    background-position -187px -88px
    width 16px
    height 16px
