.contact-us-btn
  margin-top 15px
  height 35px
  width 152px
  text-align center
  line-height 35px
  font-size 16px
  background-image -webkit-gradient( linear, left top, left bottom, color-stop(0, rgb(60,155,203)), color-stop(0.49, rgb(60,159,195)), color-stop(0.5, rgb(33,134,184)), color-stop(1, rgb(33,136,187)) )
  color #FFF
