.customer-fieldset
  border: solid 1px #aaaaaa !important
  padding: 0 1.4em 1.4em 1.4em !important
  margin: 0 0 1.5em 0 !important
  .title-legend
    font-weight: bold !important
    text-align: left !important
    font-weight 300 !important
    font-size 16px !important
    width: auto
    padding: 0 10px
    border-bottom: none
  .input-label
    font-weight 300
  .price
    font-weight 800
    font-size 14px
    color #4a4a4a
  .quantity
    margin-top 10px
