{% extends "registration/registration_base.html" %}
{% load i18n %}
{% block title %}{% if account %}{% trans 'Registration completed' %}{% else %}{% trans 'Activation problem' %}{% endif %}{% endblock %}
{% block body %}
    {% if account %}
         {{ account }}! {% trans 'Your registration complited' %}!  {% trans 'You can sign in' %} <a href='{% url auth_login %}'>{% trans 'profile' %}</a>
    {% else %}
        {% trans 'Sorry but you activation key is invalid' %}

    {% endif %}
{% endblock %}

