{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% block keywords %}{% endblock %}

   {% block title %}{% trans 'Password reset' %}{% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/login.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />

    {% endblock %}





            {% block content %}
            <div class="blogin">
            	<h3>{% trans 'Password reset' %}</h3>
                 <div style="margin-top: 20px;">

				 <p style="font-size: 15px;">{% trans "Enter your new password below to change the old password:" %}</p>
          <form method="post" action="">{% csrf_token %}
          <table>
            {{ form.as_table }}
            <tr><td><input type="submit" class="btnreg" value="{% trans "Change password" %}" /></td></tr>
          </table>
         </form>
                 </div>
            </div>
          {% endblock %}











