{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}{% trans 'Password reset' %}{% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/login.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />

    {% endblock %}





            {% block content %}
            <div class="blogin">
				<h3>{% trans 'Password reset' %}</h3>
                 <div style="margin-top: 20px;">

            <p style="font-size: 15px;">
                {% trans "Your password has been changed!" %}
                {% trans 'You can sign up' %} <a href="{% url "login" %}">{% trans 'here' %}</a>.

            </p>
                 </div>
            </div>
          {% endblock %}


















