{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block keywords %}{% endblock %}
   {% block title %}{% trans 'Password reset' %}{% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/login.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />

    {% endblock %}





            {% block content %}
            <div class="blogin">
           <h3>{% trans 'Password reset' %}</h3>
                 <div style="margin-top: 20px;">

            <span style="font-size: 15px;">{% trans  "We sent you an e-mail message with a link to change your password."%}
         {% trans "Please, check you email. To change the password, click on the link in the message." %}</span>
            </div>
                </div>
          {% endblock %}





