{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% include "b24online/main/paginator.html" %}

<div class="content-block">
  <div class="row">
    <div class="col-xs-12">

<!-- Loader -->
      <div class="loader"><img src="{% static 'b24online/images/ajax-loader.gif' %}" alt="loader"></div>

<!-- Content -->
{% for tpp in object_list %}
      <div class="content-block">
        <div class="row">
          <div class="col-xs-12 body">
            <div class="container content company">
{#             {% setContextMenu tpp %} #}

              <div class="row title-news">
                <div class="thumb-flag-block pull-left sprite-flags {{ tpp.country.flag }}"></div>
                <a href="{{ tpp.get_absolute_url }}" class="title-tpp pull-left">{{ tpp.name }}</a>
              </div>

              <div class="media body">
                <a class="pull-left logo" href="{{ tpp.get_absolute_url }}">
                  <div class="img-container">
                    {% if tpp.logo %}
                      <img class="media-object" src="{{ tpp.logo.big }}" alt="{{ tpp.name }}" title="{{ tpp.name }}" />
                    {% else %}
                      <img class="media-object" src="{% static 'b24online/images/100x100.png' %}" alt="{{ tpp.name }}" title="{{ tpp.name }}" />
                    {% endif %}
                  </div>
                </a>

                <div class="">
                  <div class="col-xs-7">
                    <div class="">
                      {% if tpp.short_description %}
                        {{ tpp.short_description|cleanHtml|safe|truncatechars_html:200 }}
                      {% else %}
                        {{ tpp.description|cleanHtml|safe|truncatechars_html:200 }}
                      {% endif %}
                    </div>
                    <div class="more pull-left"><a href="{{ tpp.get_absolute_url }}">{% trans "More" %}...</a></div>
                  </div>

                  <div class="col-xs-3 contacts pull-right">
                    {% if tpp.address %}
                      <div class="address">
                        <i class="address-ico sprite pull-left"></i>
                        {{ tpp.address }}
                      </div>
                    {% endif %}

                    {% if tpp.phone %}
                      <div class="extra-phone">
                        <i class="extra-phone-ico sprite pull-left"></i>
                        {{ tpp.phone }}
                      </div>
                    {% endif %}

                    {% if tpp.fax %}
                      <div class="extra-phone">
                        <i class="extra-phone-ico sprite pull-left"></i>
                        {{ tpp.fax }}
                      </div>
                    {% endif %}

                    {% if request.user.is_authenticated %}

                        <div class="mail">
                        <i class="mail-ico sprite pull-left"></i>
                          <div class="data pull-left">
                            <a href="{% url 'auth_login' %}">{% trans 'Send Message' %}</a>
{#                          <a class="contact-us" data-name="{{ tpp.title }}" data-id="{{ tpp.pk }}" href="{% url 'messages:send_message_to_recipient' 'organization' company.pk %}" >{% trans 'Contact us' %}</a> #}
                          </div>
                        </div>

                    {% else %}

                        <div class="mail">
                        <i class="mail-ico sprite pull-left"></i>
                          <div class="data pull-left">
                            <a href="{% url 'auth_login' %}">{% trans 'Contact us' %}</a>
                          </div>
                        </div>

                    {% endif %}
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

{% empty %}
    <p>{% trans "No results found" %}</p>
{% endfor %}

    </div>
    </div>
    </div>

{% include "b24online/main/paginator.html" %}

