{% extends 'b24online/main_page.html' %}

{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/tpp.reset.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/gmapCompany.css' %}" />

{% endblock %}


{% block keywords %}{% endblock %}

{% block js %}
    {{ block.super }}


    <script src="{% static "b24online/js/jquery.uploadify.min.js" %}"></script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{% static "b24online/js/gmapSearchMarker.js" %}"></script>
    <script type="text/javascript">
        var marker;
            $(document).ready(function($) {
                var tabs = $( '#tpp-details-tab' )
                tabs.tabs();
                var href = tabs.find('a[href="#cpn-tabs-contacts"]');
                (href).on('click',function(){

                    {% if item.location %}
                      {% with item.location|split:"," as LatLng %}
                      marker = new google.maps.Marker({
                        position: new google.maps.LatLng({{ LatLng.0 }}, {{ LatLng.1 }})

                        });
                      {% endwith %}
                    {% endif %}

                 initialize(false);

                })});
    </script>

    <script>
        ga('set', 'dimension3', {{ item_id }});
        ga('set', 'dimension2', 'tpp');
    </script>

    <!-- script for Company-Structure right buttons menu -->
    <script type="text/javascript">
        LANG['structure'] = {
            'confirm': '{% trans "Do you want to delete this record?" %}',
            'popup_ok': '{% trans "OK" %}',
            'popup_cancel': '{% trans "Cancel" %}',
            'popup_dep': '{% trans "Department name" %}',
            'popup_vac': '{% trans "Vacancy title" %}'
        };

        LANG['staff'] = {
            'confirm': '{% trans "Do you want to delete this record?" %}',
            'popup_add': '{% trans "OK" %}',
            'popup_cancel': '{% trans "Cancel" %}',
            'popup_dep': '{% trans "Department name" %}',
            'popup_vac': '{% trans "Vacancy title" %}',
            'popup_administrator': '{% trans "Administrator" %}',
            'popup_title': '{% trans "Add staff" %}',
            'popup_user_title': '{% trans "Add user email" %}',
            'popup_title_edit': '{% trans "Edit staff" %}',
            'popup_loading': '{% trans "Loading..." %}',
            'select_department': '{% trans "Select department" %}',
            'select_vacancy': '{% trans "Select vacancy" %}',
            'popup_hidden_user': '{% trans "Do not show user" %}',
            'extra_permissions_title': '{% trans "Select additional permissions" %}',
            'popup_staffgroup': '{% trans "Related to staff group" %}',
            'popup_for_children': '{% trans "Use permissions for child companies" %}',
        };

        var STAFFGROUPS = [
            {% for item in staffgroups %}
              {"value": {{ item.0 }}, "name": "{{ item.1 }}"},
            {% endfor %}  
        ];
        var EXTRAGROUPS = [
            {% for item in extragroups %}
              {"value": {{ item.0 }}, "name": "{{ item.1 }}"},
            {% endfor %}  
        ];

    </script>
{% endblock %}

{% block content %}
    <div class="companies">
        <div class="deal-details">
            <h3>
                {% if item.flag %}
                    <img src="{{ item.flag_url }}" class="flag" title="{{ item.name }}" alt="{{ item.name }}" />
                {% elif item.country.flag %}
                     <i class="flag sprite  {{ item.country.flag }}" title="{{ item.country.name }}"></i>
                {% endif %}
                {{ item.name }}
            </h3>
            {% if item.logo %}
                <img src="{{ item.logo.big }}" class="thumb-deal" alt="{{ item.name }}" title="{{ item.name }}"  />
            {% else %}
                <img src="{% static 'b24online/img/tpp.jpg' %}" class="thumb-deal" alt="" />
            {% endif %}
            <p>
                {% autoescape off %}
                    {{ item.short_description|force_escape|linebreaks }}
                {% endautoescape %}
            </p>
        </div>
        {% b2b_social_buttons  item.logo item.name item.description %}
        <div class="cpn-details-tab" id="tpp-details-tab">
            <div class="tab-cate">
            <ul>
                <li>
                    <a href="#cpn-tabs-about">
                        {% trans "About" %}
                    </a>
                </li>
                <li>
                    <a href="#cpn-tabs-recvisits">
                        {% trans "Recvisits" %}
                    </a>
                </li>
                <li>
                    <a data-id="news-tab" href="{% url "tpp:tab_news" item_id %}">
                        {% trans "News" %}
                    </a>
                </li>
                {% comment %}
                    <li>
                        <a href="#cpn-tabs-services">
                            {% trans "Services" %}
                        </a>
                    </li>
                {% endcomment %}
                <li>
                    <a data-id="tabs-gallery" href="{% url "tpp:tabs_gallery" item_id %}">
                        {% trans "Gallery" %}
                    </a>
                </li>
                <li>
                    <a data-id="document-tabs" href="{% url "tpp:tabs_documents" item.pk %}">
                        {% trans "Documents" %}
                    </a>
                </li>
                <li>
                    <a data-id="tenders-tenders" href="{% url "tpp:tab_tenders" item_id %}">
                        {% trans "Tenders" %}
                    </a>
                </li>
                <li>
                    <a data-id="exhibitions-tab" href="{% url "tpp:tab_exhibitions" item_id %}">
                        {% trans "Exhibitions" %}
                    </a>
                </li>
                <li>
                    <a data-id="innov-tab" href="{% url "tpp:tab_innov" item_id %}">
                        {% trans 'Innovation Projects' %}
                    </a>
                </li>
                <li>
                    <a data-id="proposal-tab" href="{% url "tpp:tab_proposal" item_id %}">
                        {% trans 'Business Proposals'  %}
                    </a>
                </li>
                <li>
                    <a data-id="structure-tab" href="{% url "tpp:tab_structure" item_id %}">
                        {% trans "Structure" %}
                    </a>
                </li>
                <li>
                    <a data-id="staff-tab" href="{% url "tpp:tab_staff" item_id %}">
                        {% trans "Staff" %}
                    </a>
                </li>
                <li>
                    <a href="#cpn-tabs-contacts">
                        {% trans "Contacts" %}
                    </a>
                </li>
                <li>
                    <a data-id="company-tab" href="{% url "tpp:tab_companies" item_id %}">
                        {% trans "Companies" %}
                    </a>
                </li>
            </ul>
        </div>
        <div id="cpn-tabs-about">
            <div class="tpp-dt-content">
                {{ item.description|cleanHtml|safe }}
            </div>
        </div>
        <div id="cpn-tabs-recvisits">
            <div class="tpp-dt-content"></div>
        </div>
        <!--
            <div id="cpn-tabs-services">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
            </div>
        -->
            <div id="cpn-tabs-contacts">
                <div class="tpp-dt-content">

                     <div class="org-contacts">
                       <ul>
                           {% if item.address %}
                                <li>
                                    <span class="left">{% trans 'Address' %}: </span>
                                    <span class="right">{{ item.address }}</span>
                                </li>
                           {% endif %}
                            {% if item.phone %}
                                <li>
                                    <span class="left">{% trans 'Telephone number' %}: </span>
                                    <span class="right">{{ item.phone }} </span>
                                </li>
                            {% endif %}
                            {% if item.fax %}
                                <li>
                                    <span class="left">{% trans 'Fax' %}: </span>
                                    <span class="right">{{ item.fax }}</span>
                                </li>
                            {% endif %}
                            {% if item.email %}
                            <li>
                                <span class="left">{% trans 'Email' %}: </span>
                                <span class="right">{{ item.email }}</span>
                            </li>
                            {% endif %}
                            {% if item.site %}
                            <li>
                                <span class="left">{% trans 'WWW' %}: </span>
                                <span class="right">{{ item.site }}</span>
                            </li>
                            {% endif %}
                        </ul>
                     </div>
                      <div class="org-map"> <div   id="map-canvas"></div></div>
                </div>
            </div>
        </div>
    </div>

        <div class="cpn-details-tab" id="tpp-details-tab">
          <div class="tab-cate">

          <ul>
            {% for page in item.additional_pages.all %}
                 <li><a href="#tabs-{{ forloop.counter0|add:5 }}">{{ page.title|truncatechars:40 }}</a></li>
            {% endfor %}
         </ul>

        </div>

            {% for page in item.additional_pages.all %}
              <div id="tabs-{{ forloop.counter0|add:5 }}">
                      <div class="content-goods-tab">{{ page.content|cleanHtml|safe }}</div>
              </div>
            {% endfor %}
        </div>

{% endblock %}
