{% load i18n %}
{% load CustomFilters %}
<div class="tpp-dt-content">
    <table class="table-deals table table-striped" cellpadding="0" cellpadding="0">
        <tr class="top">
            <td>№</td>
            <td>{% trans "Name" %}</td>
            <td>{% trans "Start date" %}</td>
            <td>{% trans "End date" %}</td>
            <td>{% trans "City" %}</td>
        </tr>

       {% for exhibition in page.object_list %}
            <tr>
                <td>{{ exhibition.pk }}</td>
                <td>
                    <a href="{{ exhibition.get_absolute_url }}" title="{{ exhibition.title }}">
                       {{ exhibition.title|truncatewords:10 }}
                    </a>
                </td>
                <td>
                    {{ exhibition.start_date|makeDate|date:"d M Y" }}

                </td>
                <td>{{ exhibition.end_date|makeDate|date:"d M Y" }}</td>
                <td>{{ exhibition.city }}</td>
            </tr>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </table>
    {% include "b24online/main/paginator.html" %}
</div>
