{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

<script>
    $(function(){
        companyStructure.init('{% url "companies:tab_structure" item_pk %}', LANG['structure']);
    });
    extendDepartment = () => {
      if ($('.sub-vacancy').is(":visible")) {
        $('.sub-vacancy').hide(250)
        $('.department-structure').removeClass('active')
      } else {
        $('.department-structure').addClass('active')
        $('.sub-vacancy').show(250)
      }
    }
    showModal = (target) => {
      $(`#${target}`).modal();
      let edit
      if (target.includes('edit')) {
        if (target.includes('Group')) {
          edit = $('.department-structure>a').attr('value')
          $('.edit-target').val(edit)
        } else {
          edit = $('.vacancy').attr('value')
          $('.edit-target').val(edit)
        }
      }
    }
</script>

<div class="tpp-dt-content">
    <div class="content-staff">
        <div class="content-staffin">
            {% if departments|length > 0 %}
                <div class="sitemap department">
                    {% for department in departments %}
                        <div data-item-id="{{ department.pk }}" data-type="department">
                            <div class="department-structure" onclick="extendDepartment()">
                              <a href="#" value="{{ department.name }}">{{ department.name }}</a>
                              {% if has_perm %}
                                <!-- <span class="fa fa-times pull-right"></span> -->
                                <i class="fa fa-times pull-right" data-toggle="modal" onclick="showModal('delGroupModal')"></i>
                                <i class="fa fa-pencil pull-right" data-toggle="modal" onclick="showModal('editGroupModal')"></i>
                                <i class="fa fa-plus-circle pull-right" data-toggle="modal" onclick="showModal('addGroupModal')"></i>
                              {% endif %}
                            </div>
                            <div class="sub-vacancy">
                                <div>{{ department.vacancyList}}</div>
                                {% for vacancy in department.vacancies.all %}
                                    {% spaceless %}
                                      <div data-type="vacancy"
                                          class="vacancy"
                                          value="{{ vacancy.name }}"
                                          data-item-id="{{ vacancy.pk }}"
                                          {% if vacancy.staffgroup %}
                                            data-staffgroup-id="{{ vacancy.staffgroup.id }}"
                                          {% endif %}
                                          {% if vacancy.is_hidden_user %}
                                            data-is-hidden-user="1"
                                          {% endif %}>
                                          <span>{{ vacancy.name }}</span>
                                          {% if has_perm %}
                                            <i class="fa fa-times pull-right" data-toggle="modal" onclick="showModal('delVacancyModal')"></i>
                                            <i class="fa fa-pencil pull-right" data-toggle="modal" onclick="showModal('editVacancyModal')"></i>
                                            <i class="fa fa-plus-circle pull-right" data-toggle="modal" onclick="showModal('addVacancyModal')"></i>
                                          {% endif %}
                                      </div>
                                    {% endspaceless %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="no-results">{% trans "No Departments found." %}</div>
            {% endif %}
            <!-- right buttons menu -->
            <div class="btn-clumn">
                {% if has_perm %}
                    <i class="btnadd btnaction imgnews addform department" id="add-button"></i>
                    <i class="btnedit btnaction imgnews panel" style="display: none;" id="edit-button"></i>
                    <i class="btnremove btnaction imgnews panel" style="display: none;" id="remove-button"></i>
                {% endif %}
            </div>
        </div>
    </div>
    {% include "b24online/main/paginator.html" %}
</div>

<div class="modal fade" id="delGroupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="myModalLabel">Удаление</h4>
      </div>
      <div class="modal-body">
        <div class="accept">Вы действительно хотите удалить группу?</div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="myModalLabel">Изменение</h4>
      </div>
      <div class="modal-body">
        <div class="accept">Измените название группы</div>
        <input type="text" class="edit-target" value="">
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addGroupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="myModalLabel">Добавление новой группы</h4>
      </div>
      <div class="modal-body">
        <div class="accept">Добавление группы</div>
        <input type="text" class="add-group" value="">
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="delVacancyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="myModalLabel">Удаление</h4>
      </div>
      <div class="modal-body">
        <div class="accept">Вы действительно хотите удалить вакансию?</div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editVacancyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="myModalLabel">Изменение</h4>
      </div>
      <div class="modal-body">
        <div class="accept">Изменение названия вакансии</div>
        <input type="text" class="edit-target" value="">
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addVacancyModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">×</button>
        <h4 class="modal-title" id="myModalLabel">Добавление</h4>
      </div>
      <div class="modal-body">
        <div class="accept">Добавление вакансии</div>
        <input type="text" class="add-vacancy" value="">
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button id="save" type="button" class="btn btn-primary" data-dismiss="modal">Подтвердить</button>
      </div>
    </div>
  </div>
</div>
