{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

<script>
        $(function(){
            companyStaff.init('{% url "tpp:tab_staff" item_pk %}', LANG['staff']);
        });
</script>

<div id="staff-tabs" class="tpp-dt-content">
    <div class="content-staff">
        <div class="content-staffin">
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-staff table table-striped">
                <tr class="top">
                    <td>&nbsp;</td>
                    <td>{% trans "Name" %}</td>
                    <td>{% trans "Department" %}</td>
                    <td>{% trans "Position" %}</td>
                    <td>{% trans "Contact" %}</td>
                    <td>{% trans "Status" %}</td>
                    <td class="status"></td>
                </tr>

                {% for user in page.object_list %}
                    <tr data-item-id="{{ user.pk }}">
                        <td>
                            <div class="avatar">
                                {% if user.profile.avatar %}
                                     <img src="{{ user.profile.avatar.th }}" alt="{{ user.profile.full_name }}" />
                                {% else %}
                                     <img style="width: 24px;height: 24px;" src="{% static "b24online/img/profile.jpg"  %}" alt="{{ user.profile.full_name }}" />
                                {% endif %}
                            </div>
                        </td>
                        {% if user.profile.full_name %}
                            <td>
                              <a href="#" title="{{ user.profile.full_name }}">{{ user.profile.full_name }}</a>
                            </td>
                        {% else %}
                            <td>
                              <a href="#" title="">{% trans "User with empty profile. User ID:" %} {{ user.pk }}</a>
                            </td>
                        {% endif %}
                        <td>{{ user.work_positions.first.department.name }}</td>
                        <td>{{ user.work_positions.first.name }}</td>
                        <td class="contact-us">
                          <i class="fa fa-envelope-o"
                            data-organization-id="{{ item_pk }}"
                            data-organization-name="{{ organization.name }}"
                            data-user-id="{{ user.pk }}"
                            data-id="{{ user.pk }}"
                            data-user-name="{% if user.profile.full_name %}{{ user.profile.full_name }}{% else %}{{ user.email }}{% endif %}">
                          </i>
                        </td>
                        <td class="status">
                          {% if status == 'Active' %}
                              <i class="fa fa-circle status-on">{{status}}</i>
                          {% else %}
                              <i class="fa fa-circle status-off">{{status}}</i>
                          {% endif %}
                        </td>
                        <td>
                            {% if has_perm %}
                                <i class="btnremove-small imgnews" data-id="{{ id }}"></i>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <div class="no-results">{% trans "No Staff found." %}</div>
                {% endfor %}

            </table>
            {% if has_perm %}
                <div class="btn-clumn">
                    <i class="btnadd btnaction imgnews addform" id="user-add-button"></i>
                    <!-- <i class="btnremove btnaction imgnews"></i> -->
                </div>
            {% endif %}
        </div>
    </div>
    {% include "b24online/main/paginator.html" %}
</div>
