{# The template for message dialog #}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

<div class="data">
    <h1>{% trans 'Participants of chat' %} &laquo;{{ form.chat.subject }}&raquo;</h1>
    <hr class="hr-divider-one">
</div>

{% if form.chat %}
<div class="data">
    <table width="100%" cellspacing="2" cellpadding="2"
        border="0" class="table-data">
        <tr>
            <th colspan="2">{% trans 'User' %}</th>
            <th>{% trans 'Messages' %}</th>
        </tr>
        {% for participant in form.chat.get_participants %}
            <tr>
                <td style="border-right: none;">
                    <span class="thumb">
                        {% if participant.profile.avatar %}
                            <img src="{{ participant.profile.avatar.small }}" />
                        {% else %}
                            <img style="width: 24px;height: 24px;" 
                                src="{% static 'b24online/img/profile.jpg' %}" />
                        {% endif %}
                    </span>
                </td>
                <td width="80%" style="border-left: none;">
                    <a href="#">{% if participant.profile.full_name %}{{ participant.profile.full_name }}{% else %}{{ participant.email }}{% endif %}</a>
                </td>
                <td align="right">0</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% if form %}
<div class="data">
    <form id="process-data-form" method="POST"  enctype="multipart/form-data" 
        action="{{ request.path }}">
        {% csrf_token %}
        <div>
            <ul class="sendmessage">
                <fieldset class="dcol">
                	<li>
                		<label>{{ form.new_user.label }}:</label>
                		<p class="form-field">{{ form.new_user }}</p>
                        <span class="errors hide-errors">
                            {{ form.new_user.errors|striptags }}
                        </span>
                	</li>
                    <li class="end">
                    	<div class="newform-button">
                        <a id="process-data-submit" class="btntype2" href="{{ request.path }}">{% trans 'Add participant' %}</a>
                        <a id="process-data-cancel" class="btntype1" href="#">{% trans 'Cancel' %}</a>
                      </div>
                    </li>
                </fieldset>
            </ul>
        </div>
    </form>
</div>

<script  type="text/javascript">
    $("#id_new_user").select2({
        width: '100%',
        allowClear: false,
   });
</script>

{% endif %}

