{# The template for message dialog #}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

<div class="data">
    <h1>{% trans 'Participants of chat' %} &laquo;{{ form.chat.subject }}&raquo;</h1>
    <hr class="hr-divider-one">
</div>

{% if form.chat %}
<div class="data">
    <table width="100%" cellspacing="2" cellpadding="2"
        border="0" class="table-data">
        <tr>
            <th>{% trans 'User' %}</th>
            <th>{% trans 'Messages' %}</th>
        </tr>
        {% for participant in form.chat.get_participants %}
            <tr>
                <td>{{ participant }}</td>
                <td>0</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endif %}

{% if form %}
<div class="data">
    <form id="add-new-participant-form" method="POST"  enctype="multipart/form-data" 
        action="{{ request.path }}">
        {% csrf_token %}
        <div>
            <ul class="sendmessage">
                <fieldset class="dcol">
                	<li>
                		<label>{{ form.new_user.label }}:</label>
                		<p class="form-field">{{ form.new_user }}</p>
                        <span class="errors hide-errors">
                            {{ form.new_user.errors|striptags }}
                        </span>
                	</li>
                    <li class="end">
                    	<div class="newform-button">
                        <a id="add-new-participant" class="btntype2" href="{{ request.path }}">{% trans 'Add participant' %}</a>
                        <a class="btntype1" id="cancel" href="#">{% trans 'Cancel' %}</a>
                      </div>
                    </li>
                </fieldset>
            </ul>
        </div>
    </form>
</div>

<script>
    $("#id_new_user").select2({
        width: '100%',
        allowClear: false,
   });
</script>

{% endif %}

