{% load static %}
{% load i18n %}
{% load CustomFilters %}

<div class="message-list">
{% if messages|length < 10 %}
    <div class="last"></div>
{% endif %}
{% for message in messages %}
    <div class="dateline"><span>{{ message.created_at|date:"d M Y" }}</span></div>
    <div class="customline" data-message="{{ message.pk }}" data-date="{{ message.created_at|date:"Y-n-d H:m:s.u" }}">
        <label class="time">
            {% if message.sender.profile.full_name %}
                {{ message.sender.profile.full_name }}
            {% else %}
                {{ message.sender.email }}
            {% endif %}
            {{ message.created_at|date:"d M Y H:i" }}
        </label>

        <div class="clumnleft">
            <span class="thimb">
                <img src="{{ message.sender.profile.avatar.th }}"/>
            </span>
        </div>
        <div class="clumnright">
            <p>{{ message.content }}</p>
        </div>
        {% if message.attachments %}
        <div class="clumnright" style="width=100%; background-color: #d9d9f1; margin: 10px 0;">
          {% for attachment in message.attachments.all %}
          <div style="float: left; margin: 5px; border:1px dotted; border-color: #888888; padding:3px;">
              <a href="{{ MEDIA_URL}}{{ attachment.file }}">
                  {% if attachment.is_image %}
                    <img src="{{ attachment.file|thumbnail:'50x0_0' }}" height="50px" />
                  {% else %}
                    <img src="{% static attachment.get_icon %}" height="50px" />
                  {% endif %}
              </a>
              <div style="text-align: center;">{{ attachment.get_shorted_name }}</div>
          </div>
          {% endfor %}
        </div>
        {% endif %}
    </div>
{% endfor %}
</div>