{# The template for message dialog #}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

{% if form %}
<div class="data">
    <form id="send-message-form" method="POST"  enctype="multipart/form-data" 
        action="{{ request.path }}">
        {% csrf_token %}
        <div>
            <ul class="sendmessage">
                <fieldset class="dcol">
                	{% if form.organization %}
                	<li>
                		<label class="required">{{ form.organization.label }}:</label>
                		<p>{{ form.organization }}</p>
                        <span id="organization_errors" class="errors hide-errors">
                            {{ form.organization.errors|striptags }}
                        </span>
                	</li>
                	{% else %}
                	    {% if form.for_organization and form.item %}
                	    <li>
                	    	<label>{% trans 'For organization' %}:</label>
                	    	<p>{{ form.item }}</p>
                	    </li>
                	    {% endif %}
                	{% endif %}

                	{% if form.recipient %}
                	<li>
                		<label class="required">{{ form.recipient.label }}:</label>
                		<p class="form-field">{{ form.recipient }}</p>
                        <span id="recipient_errors" class="errors hide-errors">
                            {{ form.recipient.errors|striptags }}
                        </span>
                	</li>
                	{% else %}
                	{% endif %}
                	<li>
                		<label>{{ form.subject.label }}:</label>
                		<p class="form-field">{{ form.subject }}</p>
                        <span class="errors hide-errors">
                            {{ form.subject.errors|striptags }}
                        </span>
                	</li>
                	<li>
                		<label class="required">{{ form.content.label }}:</label>
                		<p class="form-field">{{ form.content }}</p>
                        <span id="content_errors" class="errors hide-errors">
                            {{ form.content.errors|striptags }}
                        </span>
                	</li>
                	<li>
                		<label>{{ form.attachment.label }}:</label>
                		<p class="form-field">{{ form.attachment }}</p>
                        <span id="attachment_errors" class="errors hide-errors">
                            {{ form.attachment.errors|striptags }}
                        </span>
                	</li>

                	<li>
                		<label id="destination">{% trans 'Deliver as' %}</label>
                		    <div style="flow: left">
                	            <div>
                	                {{ form.send_as_message }}
                	                <span>{% trans 'Message' %}</span>
                	            </div>
                	            <div>
                	                {{ form.send_as_email }}
                	                <span>{% trans 'Email' %}</span>
                	            </div>
                		    <div>
                		  </div>
                	  </div>
                	</li>

                	<li>
                		<label>{{ form.redirect_to_chat.label }}:</label>
                		<span class="form-field">
                		    {{ form.redirect_to_chat }}
                		</span>
                	</li>
                    <li class="end">
                    	<div class="newform-button">
                        <a id="send-chat-message" class="btntype2" href="{{ request.path }}">{% trans 'Send' %}</a>
                        <a class="btntype1" id="cancel" href="#">{% trans 'Cancel' %}</a>
                      </div>
                    </li>
                </fieldset>
            </ul>
        </div>
    </form>
</div>
<script  type="text/javascript">
    addOneMoreInput('attachment', 'file-attachment');
</script>    
{% endif %}

{% if error %}
<div class="errors">
    {{ error }}
</div>
{% endif %}