{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
<script>
    $(function(){

        $('#file-title').remove();
        $('#file-input').remove();
    });
</script>
            {% include "main/paginator.html" %}
            {% include "Users/popupFilter.html" %}

             <ul class="listprd">
                {% for user in object_list %}

                    <li>


                      <div class="thumb">
                          <a href="#">
                              {% if user.image %}
                                  <img src="{{ MEDIA_URL }}big/{{ user.image }}" alt="{{ user.text }}" title="{{ user.text }}" />
                              {% else %}
                                  <img src="{% static 'tppcenter/img/profile.jpg' %}" alt="{{ user.text|truncatechars:40 }}" />
                              {% endif %}
                          </a>
                      </div>
                        <div class="link">

                            {% if user.country.flag %}
                                 <i class="flag sprite {{ user.country.flag }}" title="{{ user.country.text }}"></i>
                            {% endif %}
                        <a href="#" class="name">{{ user.text }}</a>
                       </div>

                        <a href="#" style="height: 20px;" class="btnbuy staff-contact-msg img-status contact-us" data-name="{{ user.text }}" data-id="{{ user.pk }}">{% trans 'Send message' %}</a>

                    </li>
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endfor %}
            </ul>
           {% include "main/paginator.html" %}
</div>
