__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venv3/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.mo
*.pot
*.log
docs/_build/
*.iml
.idea/
*.ipr
*.iws
/out/
.idea_modules/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
local_settings.py
logs/
*.sqlite3
*migrations*
uploads/
static/
media/
b24project/celerybeat-schedule
migrations/
