@charset "utf-8";
/* Reset ================================================================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, hr {margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:''; content: none;}
:focus {outline: 0;}
fieldset{border: 0; margin: 0; padding: 0;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse; border-spacing: 0;}
a {color:#4b8ab6; text-decoration: none;}
a:hover{color:#4b8ab6; text-decoration:underline;}
img{ border:0;}
/* Until ================================================================================= */
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix{display: inline-block;}
.clearfix{display: block;}
.clear{clear: both;}
/*button:focus, textarea:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus {
-moz-transition: all 0.25s ease-in-out 0s;
border-color: rgba(82, 168, 236, 0.75) !important;
box-shadow: 0 0 4px rgba(82, 168, 236, 0.5); outline: 0 none;}*/
.clear{clear:both;width:100% !important;float:none !important;height:0 !important;margin:0 !important;padding:0 !important;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

.img_gallery {
	position: relative;
}
.img_gallery .img_block {
	border: solid 1px rgba(232, 92, 65, 0.2);
	padding: 5px;
	box-sizing: border-box;
	width: 150px;
	height: 155px;
	margin-bottom: 5px;
	z-index: 8;
	border-radius: 3px;
	background-color: #FFF;
	position: relative;
}
.img_gallery .img_block img {
max-width: 140px;
max-height: 140px;
position: absolute;
margin: auto;
left: 0;
right: 0;
top: 0;
bottom: 0;
}
.img_gallery .shadow {
   z-index: 1;
   width: 100px;
   height: 50px;
   top: 90px;
   left: 2px;
   -webkit-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   -webkit-transform: rotate(-4deg);
   -moz-transform: rotate(-4deg);
   -ms-transform: rotate(-4deg);
   -o-transform: rotate(-4deg);
   transform: rotate(-4deg); 
   position: absolute;   
  }
.img_slider {
	position: relative;
}
.img_slider .img_block {
	border: solid 1px #CDD1D7; /*rgba(232, 92, 65, 0.2);*/
	padding: 2px;
	box-sizing: border-box;
	width: 80px;
	height: 80px;
	margin-bottom: 0px;
	z-index: 10;
	border-radius: 3px;
	background-color: #FFF;
	position: relative;
}
.img_slider .img_block img {
max-width: 70px;
position: absolute;
margin: auto;
left: 2px;
right: 2px;
top: 2px;
bottom: 2px;
}
.img_slider .shadow {
   z-index: 1;
   width: 70px;
   height: 50px;
   top: 14px;
   left: 1px;
   -webkit-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   -webkit-transform: rotate(-4deg);
   -moz-transform: rotate(-4deg);
   -ms-transform: rotate(-4deg);
   -o-transform: rotate(-4deg);
   transform: rotate(-4deg); 
   position: absolute;   
}
#slider1 .infopeople p a {word-wrap: word-break;}
#slider2 .infopeople p a {word-wrap: word-break;}
.review-clumn1 .title a, 
.review-clumn2 .title a {color: #383838;}

.img_prod_slider {
	position: relative;
}
.img_prod_slider .img_block {
	border: solid 1px #CDD1D7; /*rgba(232, 92, 65, 0.2);*/
	padding: 2px;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	margin-bottom: 0px;
	z-index: 10;
	border-radius: 3px;
	background-color: #FFF;
	position: relative;
}
.img_prod_slider .img_block img {
	position: absolute;
	margin: auto;
	left: 2px;
	right: 2px;
	top: 2px;
	bottom: 2px;
    max-height: 140px;
    max-width: 140px;
}
.img_prod_slider .shadow {
   z-index: 1;
   width: 70px;
   height: 80px;
   top: 55px;
   left: 3px;
   -webkit-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   box-shadow: 0 15px 6px rgba(0,0,0,0.3);
   -webkit-transform: rotate(-4deg);
   -moz-transform: rotate(-4deg);
   -ms-transform: rotate(-4deg);
   -o-transform: rotate(-4deg);
   transform: rotate(-4deg); 
   position: absolute;   
}
.captcha_img  img{
	padding-left: 15px;
	width: 200px;
	height: 36px;
}
#s_listitems{ position: relative; float: left; width: 540px;}
#s_listitems li{ position: relative; float: left; width: 150px; min-height: 242px; height: 242px; margin: 40px 30px 0 0; display: inline;}
#s_listitems li img.thumb{ float: left; padding-bottom: 10px;}
#s_listitems li h3{ font-size: 13px; font-weight: normal; line-height: 16px;}
#s_listitems li .price{position: absolute; width: 100%;  left:0px; color: #999;}
#s_listitems li .price font.num{ font-size: 16px; color: #ca4228;}
#s_listitems li .price font.price-old{ text-decoration: line-through;}
#s_listitems li p a{word-wrap: word-break;}
