{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
    {% include "b24online/main/paginator.html" %}

    <ul class="listnews">
        {% for greeting in object_list %}
            <li>
                <div class="thumb shadow">
                    <a href="{{ greeting.get_absolute_url }}">
                        <img src="{{ greeting.photo.big }}" alt="{{ greeting.name }}" title="{{ greeting.name }}" />
                    </a>
                </div>
                <div class="infoprd">
                    <a href="{{ greeting.get_absolute_url }}" class="name">{{ greeting.name }}</a>
                    {{ greeting.content|truncatewords_html:"30"|cleanHtml|safe }}
                <br />
                <p><strong>{% trans "Organization" %}:</strong> {{ greeting.organization_name }}</p>
                <p><strong>{% trans "Position" %}:</strong> {{ greeting.position_name }}</p>

                    <!--noindex-->
                        <a href="{{ greeting.get_absolute_url }}" class="more">{% trans 'Read more' %}...</a>
                    <!--/noindex-->
                </div>
            </li>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </ul>
    {% include "b24online/main/paginator.html" %}
</div>
