{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
     {{ block.super }}
     <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/login.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/datepicker.css" %}" />
{% endblock %}

{% block content %}
    <div class="blogin">
        <h3>{% trans 'Password reset' %}</h3>
        <div style="margin-top: 20px;">
            <span style="font-size: 15px;">
                {% blocktrans %}
                We have sent you an email with a link to reset your password.  Please check
                your email and click the link to continue.
                {% endblocktrans %}
            </span>
        </div>
    </div>
{% endblock %}