{% load static %} {% load i18n %} {% load CustomFilters %}

<script>
    {% getOwner item_id as owner %}

    {% if owner %}
        {% if owner.type == 'tpp' %}
            ga('set', 'dimension1', {{ owner.pk }});
        {% else %}
            ga('set', 'dimension3', {{ owner.pk }});
        {% endif %}
    {% endif %}
    ga('set', 'dimension2', 'news');
</script>

<!-- BLOG BLOCK -->
<section class="blog">

{% with newValues.CREATE_DATE.0 as date %} {% with newValues.DETAIL_TEXT.0 as content %} {% with newValues.IMAGE.0 as image %} {% with newValues.NAME.0 as name %}
{% with newValues.YOUTUBE_CODE.0 as youtube_code %} {% with newValues.COUNTRY_NAME.0 as country_name %} {% with newValues.COUNTRY_FLAG.0 as country_flag %}
{% with newValues.COUNTRY_ID as country_id %} {% with newValues.ORG_NAME.0 as org_name %} {% with newValues.ORG_FLAG.0 as org_flag %} {% with newValues.ORG_ID as org_id %}
{% with newValues.CATEGORY_NAME|first as category_name %}
    
	<!-- CONTAINER -->
    <div class="container">
    	<!-- ROW -->
        <div class="row">
        	<!-- BLOG LIST -->
            <div class="col-lg-9 col-md-9 col-sm-9">
            	<article class="post blog_post clearfix margbot20" data-appear-top-offset='-100' data-animated='fadeInUp'>
                	<div class="post_title" href="{% dynurl news_url url_parameter slug %}" >{{ name }}</div>
                    <ul class="post_meta">
                    	{% for user in users %} {% with user.USER_FIRST_NAME.0 as user_name%} {% with user.USER_LAST_NAME.0 as user_last_name%}
                    	<li><i class="fa fa-user"></i><a href="{% dynurl structure_url url_parameter %}" >{{ user_last_name }} {{ user_name }}</a></li>
                        {% endwith %} {% endwith %} {% endfor %}
                        <li><i class="fa fa-comments"></i>Commetcs <span class="sep">|</span> 15</li>
                        <li><i class="fa fa-eye"></i>views <span class="sep">|</span> 259</li>
                    </ul>
                    <div class="post_large_image">
                    	<div class="recent_post_date">{{ date|date:"d" }}<span>{{ date|date:"M Y" }}</span></div>
                        {% if youtube_code %}<iframe width="100%" height="320" src="//www.youtube.com/embed/{{ youtube_code }}" frameborder="0" allowfullscreen></iframe>
                        {% else%}<img src="{{ MEDIA_URL }}big/{{ image }}" alt="" />{% endif %}
                    </div>
                    <div class="blog_post_content">{{ content|cleanHtml|safe }}</div>
                </article>
                
                <div class="shared_tags_block clearfix" data-appear-top-offset='-100' data-animated='fadeInUp'>
                	<div class="pull-right tovar_shared clearfix">
                    	<p>Share item with friends</p>
                        <ul>
                        	<li><a class="facebook" href="http://www.facebook.com/sharer/sharer.php?s=100&p%5Btitle%5D=TITLE&p%5Bsummary%5D=DESC&p%5Burl%5D=URL&p%5Bimages%5D%5B0%5D=IMG_PATH" target="_blank" onclick="return Share.me(this);"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ffiddle.jshell.net%2F_display%2F&text=TITLE&url=URL" target="_blank" onclick="return Share.me(this)" ><i class="fa fa-twitter"></i></a></li>
                            <li><a class="vkontakte" href="http://vk.com/share.php?url=URL&title=TITLE&description=DESC&image=IMG_PATH&noparse=true" target="_blank" onclick="return Share.me(this);" ><i class="fa fa-vk"></i></a></li>
                            <li><a class="odnoklassniki" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=DESC&st._surl=URL" target="_blank" onclick="return Share.me(this);"><i class="fa fa-odnoklassniki"></i></a></li>
                        </ul>
                    </div>
                </div>
                    
            </div>
            <!-- //BLOG LIST -->
        </div>
        <!-- //ROW -->
    </div>
    <!-- //CONTAINER -->
{% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %} {% endwith %}
</section>
<!-- //BLOG BLOCK -->