{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% block content %}
    {{ block.super }}
    <div class="new-details">
        <h1 class="titlepage">{{ object.title }}</h1>
        <div class="country">{{ object.created_at|date:"d M Y" }}</div>

        <div class="content-news">
            <div class="gallery">
                <div id="panel">
                    {% if image %}
                        <img style="max-width: 70px; max-height: 60px;" id="largeImage" src="object.image.small" alt="{{ object.title }}" title="{{ object.title }}" />
                    {% else %}
                         <img id="largeImage" src="{% static "tppcenter/img/news.jpg" %}" alt="" />
                    {% endif %}
                </div>
                <div id="thumbs">
                   {% for gallery_obj in object.gallery_images %}
                        <img src="{{ gallery_obj.image.big }}" alt="" />
                   {% endfor %}
                </div>
            </div>
            <p>{{ object.content|cleanHtml|safe }} </p>
        </div>

        <div class="video-details">
        {% if object.video_code %}
            <iframe width="540" height="322" src="//www.youtube.com/embed/{{ object.video_code }}" frameborder="0" allowfullscreen></iframe>
        {% endif %}
        </div>
    </div>
{% endblock %}