{% extends "b24online/AdminTpp/baseAdmin.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Adveretisement settnings' %}{% endblock %}

{% block style %}
    {{ block.super }}
    <!-- DATA TABLES -->
    <link href="{% static "b24online/admin-tpp/css/datatables/dataTables.bootstrap.css" %}" rel="stylesheet" type="text/css"
          xmlns="http://www.w3.org/1999/html"/>
{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{% trans 'Banners' %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="banner" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Site' %}</th>
                                <th>{% trans 'Factor' %}</th>
                                <th>{% trans 'Width' %}</th>
                                <th>{% trans 'Height' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="10" class="dataTables_empty">Loading data from server</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>{% trans 'Name' %}</th>
                                <th>{% trans 'Site' %}</th>
                                <th>{% trans 'Factor' %}</th>
                                <th>{% trans 'Width' %}</th>
                                <th>{% trans 'Height' %}</th>
                                <th>{% trans 'Action' %}</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block bottomScript %}
    {{ block.super }}
    <script src="{% static "b24online/admin-tpp/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "b24online/admin-tpp/js/plugins/datatables/jquery.dataTables.js" %}" type="text/javascript"></script>
    <script src="{% static "b24online/admin-tpp/js/plugins/datatables/dataTables.bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "b24online/admin-tpp/js/AdminLTE/app.js" %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {

            $(document).on("click", ".saveType", function() {
                var ser = $(this).parents('tr').find('input').serialize();

                var button = $(this);
                $(this).addClass("disabled");

                $.post("{% url "AdminTpp:adv_sett" %}", ser, function() {
                    button.removeClass('disabled');
                });

            });

           $('#banner').dataTable( {
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "{% url "AdminTpp:adv_sett" %}",
                "aoColumnDefs": [
                    { 'bSortable': false, 'aTargets': [ 0, 1, 2, 3, 4, 5 ] },
                    {
                                "aTargets": [ 2 ],
                                "mData": 2,
                                "mRender": function ( data, type, full ) {

                                    return '<div class="input-group"><span class="input-group-addon">' +
                                            '<i class="fa fa-dollar"></i></span>' +
                                            '<input name="factor" value="' + data + '" type="text" class="form-control"></div>';

                                }
                    },
                    {
                        "aTargets": [ 0 ],
                        "mData": 0,
                        "mRender": function ( data, type, full ) {

                             return '<div class="form-group">' +
                                        '<input value="' + data + '" type="text" class="form-control" name="name"/>' +
                                    '</div>';
                        }
                    },
                    {
                        "aTargets": [ 3 ],
                        "mData": 3,
                        "mRender": function ( data, type, full ) {

                            return '<div class="form-group">' +
                                        '<input value="' + data + '" type="text" class="form-control" name="width"/>' +
                                    '</div>';
                        }
                    },
                    {
                        "aTargets": [ 4 ],
                        "mData": 4,
                        "mRender": function ( data, type, full ) {

                            return '<div class="form-group">' +
                                        '<input value="' + data + '" type="text" class="form-control" name="height"/>' +
                                    '</div>';
                        }
                    },
                    {
                        "aTargets": [ 5 ],
                        "mData": 5,
                        "mRender": function ( data, type, full ) {

                            return '<input type="hidden" name="id" value="' + data + '" />'
                                   + '<button data-id="' + data + '" class="saveType btn btn-success">Save</button>';

                        }
                    }
               ]
            });
        });
    </script>
{% endblock %}