{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
<html>
<head>

               <title>{% block title %}News Detail{% endblock %}</title>


{{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/shopcenter.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/anythingslider.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/jquery.countdown.css" %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "js/jquery.anythingslider.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.countdown.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.countdown-ru.js" %}"></script>
{% endblock %}




</head>
<body>
{% block header %}
{% include "header_big.html" %}
{% endblock %}
{% block body %}
   	<div id="main">
		<div id="sidebar">
			<div class="shopinfo">
				<span class="title">Dian chou bracelet's store</span>
				<div class="shopinfoin">
					<div class="badge">
						<i class="icons i-badge"></i>
						<i class="icons i-badge"></i>
						<i class="icons i-badge"></i>
					</div>
					<label>Store No.202435</label>
					<div class="feedbackinfo">
						<p>Израиль, Иерусалим</p>
						<p class="end"><i class="icons icon-cmt"></i> 96.3% <a href="#">positive feedback</a></p>
					</div>
				</div>
			</div>
			<div class="sale-left">
				<img src="images/gallery/p1.png" alt="" class="avatar" />
				<div class="saleinfo">
					<i class="icons icon-status status-online"></i>
					<p>Продавец в сети</p>
					<p><a href="#">Juliy Juliy</a></p>
					<p><a href="#" class="btnreg"><i class="icons i-cm"></i>Написать</a></p>
				</div>
			</div>
			<div id="searchleft">
				<input type="text" name="" placeholder="Поиск в магазине" class="text" />
				<a href="#" class="icons btnsl"></a>
			</div>
			<h3 class="spacer">Store Categories</h3>
			<ul id="categories">
				<li class="parent">Men (61)</li>
				<li><a href="#">New On August </a>(16)</li>
				<li><a href="#">New On July </a>(16)</li>
				<li><a href="#">3D Sweatshirt </a>(16)</li>
				<li><a href="#">3D T shirt </a>(16)</li>
				<li><a href="#">Punk Bra </a>(16)</li>
				<li><a href="#">Women T-shirt </a>(16)</li>
				<li><a href="#">Men T- Shirt </a>(16)</li>
				<li><a href="#">Women Shortsv </a>(16)</li>
				<li><a href="#">Galaxy Clothes </a>(16)</li>
				<li><a href="#">Galaxy Bag </a>(16)</li>
				<li><a href="#">Women Leggings </a>(16)</li>
				<li><a href="#">Women Pants </a>(16)</li>
				<li><a href="#">Women Coat </a>(16)</li>
				<li><a href="#">Women Shirt </a>(16)</li>
			</ul>
			<div class="title-filter">
				Самые популярные товары
			</div>
			<ul class="bestreview">
				<li>
					<a href="#"><img src="images/products/pr7.jpg" alt="" class="thumb" /></a>
					<a href="#">Футболка мужская с принтом Чарли-Чаплина...</a>
					<p><font class="number">$3.80</font> / шт.</p>
				</li>
				<li>
					<a href="#"><img src="images/products/pr7.jpg" alt="" class="thumb" /></a>
					<a href="#">Футболка мужская с принтом Чарли-Чаплина...</a>
					<p><font class="number">$3.80</font> / шт.</p>
				</li>
				<li>
					<a href="#"><img src="images/products/pr7.jpg" alt="" class="thumb" /></a>
					<a href="#">Футболка мужская с принтом Чарли-Чаплина...</a>
					<p><font class="number">$3.80</font> / шт.</p>
				</li>
				<li>
					<a href="#"><img src="images/products/pr7.jpg" alt="" class="thumb" /></a>
					<a href="#">Футболка мужская с принтом Чарли-Чаплина...</a>
					<p><font class="number">$3.80</font> / шт.</p>
				</li>
				<li>
					<a href="#"><img src="images/products/pr7.jpg" alt="" class="thumb" /></a>
					<a href="#">Футболка мужская с принтом Чарли-Чаплина...</a>
					<p><font class="number">$3.80</font> / шт.</p>
				</li>
			</ul>
			<div class="bestbuy">
				<div class="items-coupon">
					<ul>
						<li>
							<div class="discount"><i class="icons i-after"></i> спеццена</div>
							<a href="#"><img src="images/products/pr8.jpg" alt=""></a>
							<div class="coupon-info">
								<p><a href="#">Распродажа</a></p>
								<p>осенней коллекции</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="title-filter">
				Вы смотрели
			</div>
			<div id="gallery">
				<ul id="slider">
					<li>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl3.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl4.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl3.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl4.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
					</li>
					<li>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl3.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl4.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl3.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl4.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
					</li>
					<li>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl3.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl4.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl3.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl4.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl1.jpg" alt=""></a></div>
						<div class="items"><a href-"#"><img src="images/gallery/gl2.jpg" alt=""></a></div>
					</li>
				</ul>
			</div>
		</div>
		<div id="main-r">
			<div class="breadcrumbs">
				<div xmlns="http://rdf.data-vocabulary.org/#">
					<span typeof="v:Breadcrum"><a property="v:title" rel="v:url" href="#">Главная</a> &rarr;</span>
					<span typeof="v:Breadcrum"><a href="#" property="v:title" rel="v:url">Все категории</a> &rarr;</span>
					<span typeof="v:Breadcrum"><a property="v:title" rel="v:url" href="#">Одежда и Аксессуары </a> &rarr;</span>
					<span typeof="v:Breadcrum"><a href="#" property="v:title" rel="v:url">Одежда для мужчин</a> &rarr;</span>
					<span typeof="v:Breadcrum"><a href="#" property="v:title" rel="v:url">Аксессуары</a></span>
				</div>
			</div>
			<div class="title-items">
				<a href="#" class="btnback">&larr; Вернуться в каталог</a>
			</div>
              {% with productValues as  attr   %}
                    {% with attr.NAME|first as name  %}
			<div class="titleproduct">{{ name }}</div>
			  {% endwith %}
            {% endwith %}
            <div id="details-prd">
				<div class="galleryprd">
					<p><font class="id">Product ID: 1215014453</font></p>
					<div class="imagelib">
						<div class="imgout">
							<a href="#" class="bzoom"><i class="icons i-zoom"></i></a>
							<div id="imagebig">
								<img src="images/products/img-big1.jpg" border="0" />
							</div>
						</div>
						<ul class="allthumb">
							<li><a href="#nogo" rel="images/products/img-big1.jpg" class="image"><img src="images/products/img-small.jpg" class="imagesmall" border="0"/></a></li>
							<li><a href="#nogo" rel="images/products/img-big2.jpg" class="image"><img src="images/products/img-small.jpg" class="imagesmall" border="0"/></a></li>
							<li><a href="#nogo" rel="images/products/img-big1.jpg" class="image"><img src="images/products/img-small.jpg" class="imagesmall" border="0"/></a></li>
							<li><a href="#nogo" rel="images/products/img-big2.jpg" class="image"><img src="images/products/img-small.jpg" class="imagesmall" border="0"/></a></li>
							<li><a href="#nogo" rel="images/products/img-big1.jpg" class="image"><img src="images/products/img-small.jpg" class="imagesmall" border="0"/></a></li>
							<li><a href="#nogo" rel="images/products/img-big2.jpg" class="image"><img src="images/products/img-small.jpg" class="imagesmall" border="0"/></a></li>
						</ul>
					</div>
				</div>
				<div class="infodetails">
					<div class="pricedt">
						<p><font class="price1">US $42.25 / коробка</font></p>
						<p><font class="price2">US $33.25 </font>/ коробка</p>
						<p><font class="price3">20 шт. / коробка,  $1.66 / шт.</font></p>
						<span class="pr-rate"><img class="star" alt="" src="images/stars.png"></span>
					</div>
					<div class="fees">
						<i class="icons i-ship"></i>
						<p><font class="feesname">Бесплатная доставка</font></p>
						<p class="linkmail">
							<a href="#">в Израиль, Иерусалим израильской авиапочтой</a>
							<i class="icons arrow-lang"></i>
						</p>
						<p>Срок доставки: 5 дней</p>
					</div>
					<div class="option">
						<ul>
							<li>
								<label>Выберите цвет:</label>
								<a href="#" class="coloroption color-code1 active"></a>
								<a href="#" class="coloroption color-code2"></a>
								<a href="#" class="coloroption color-code3"></a>
								<a href="#" class="coloroption color-code4"></a>
							</li>
							<li>
								<label>обхват запястья - 22 см</label>
								<div class="option-size">
									<span id="linksize">обхват запястья - 22 см</span>
									<div class="allsize">
										<a href="#nogo">23</a>
										<a href="#nogo">24</a>
										<a href="#nogo">25</a>
										<a href="#nogo">26</a>
									</div>
								</div>
							</li>
							<li>
								<label>Количество коробок (20 шт/коробка):</label>
								<div class="numberof">
									<div class="numbers-row">
							        	<input type="text" name="french-hens" id="french-hens" value="1">
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="details-action">
						<a href="#" class="bigbuy">Купить</a>
						<div class="wl">
							<i class="icons i-wl"></i>
							<p><a href="#" class="wish">В избранное</a></p>
						</div>
					</div>
					<div class="socialplugin">
						<div><img src="images/fb.gif"></div>
						<div><img src="images/tw.gif"></div>
						<div><img src="images/pin.gif"></div>
					</div>
				</div>
				<div class="ship">
					<div class="shiptitle">
						Описание товара
						<span><a href="#">Способы доставки</a></span> <span><a href="#">Условия возврата</a></span>
					</div>
					<div class="configuration">
						<ul>
							<li>
								<span class="left">Процессор:</span>
								<span class="right">Intel Core i7-3517U 1900 МГц</span>
							</li>
							<li>
								<span class="left">Оперативная память:</span>
								<span class="right">4 ГБ DDR3 1600 МГц</span>
							</li>
							<li>
								<span class="left">Хранение информации:	</span>
								<span class="right">500 ГБ HDD 5400 rpm SATA II</span>
							</li>
							<li>
								<span class="left">Дисплей:</span>
								<span class="right">15.6" 1366x768 WXGA LED, глянцевый</span>
							</li>
							<li>
								<span class="left">Видеокарта:</span>
								<span class="right">Intel HD Graphics 4000, NVIDIA GeForce GT 635M 2048 МБ GDDR3</span>
							</li>
							<li>
								<span class="left">Привод:</span>
								<span class="right">DVD-RW</span>
							</li>
							<li>
								<span class="left">Беспроводная связь:</span>
								<span class="right">Wi-Fi 802.11n, Bluetooth 4.0</span>
							</li>
						</ul>
					</div>
					<div class="desc">
						<p>Freeshipping 20pc a lot The Hobbit ring Lord of the Rings Tbranduil PIN Of Air Blue Zircon retro elegant brooch XFH022 </p>
						<p>A we make photo my ourself,the items as showing on piture<br>
                            B 20pcs a lot,opp bag packing,if more than 200pcs ,freeshipping by DHL EMS or Fedex.</p>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
							  <tr>
							    <td><img src="images/products/pr9.jpg" alt=""></td>
							    <td>
							    	<p>Freeshipping 20pc a lot The Hobbit ring Lord of the Rings Tbranduil PIN Of Air Blue Zircon retro elegant brooch XFH022 </p>

									<p>A we make photo my ourself,the items as showing on piture
									B 20pcs a lot,opp bag packing,if more than 200pcs ,freeshipping by DHL EMS or Fedex.</p>
							    </td>
							  </tr>
							  <tr>
							    <td><img src="images/products/pr9.jpg" alt=""></td>
							    <td>&nbsp;</td>
							  </tr>
							</table>
					</div>
					<div class="feedback">
						<h3>Transaction History & Feedback</h3>
                     {% for id , attr  in commentsList.items %}

                    {% with attr.DETAIL_TEXT|first as content  %}
                    {% with attr.Date as date  %}
                    {% with attr.User.username as user %}
						<ul class="feedbacklist">
							<li>
								<div class="name">
									{{ user }}
									<p><font class="location">Израиль</font></p>
								</div>
								<div class="date">
									{{ date }}
									<p><font class="number">US $12.00</font> x 1 piece</p>
								</div>
								<div class="cmt">
									<div class="topcmt">
										<img src="{% static "images/stars.png" %}" alt="" class="star">
										<div class="vote">
											Is this feedback helpful for you?
											<span><a href="#" class="yes">Yes</a> <font>(1)</font></span>
											<span><a href="#" class="no">No</a> <font class="numberno">(5)</font></span>
										</div>
									</div>
									<p>{{ content }}</p>
								</div>
							</li>

						</ul>
                    {% endwith %}
                       {% endwith %}
                       {% endwith %}
                    {% endfor %}
						<div class="panaging">

             {%  if page.has_previous %}
			    	<a href="?page={{ page.previous_page_number }}" class="icons prev">Prev</a>
            {% endif %}
            <label>Страницы:</label>


                {% for i in paginator_range %}


                   {% ifequal i page.number %}
                       <a href="?page={{ page.number }}" class="current">{{ page.number }}</a>
                          {% else %}
                       <a href="?page={{ i}}">{{ i }}</a>
                 {% endifequal %}
               {% endfor %}
               {%  if page.has_next %}
			       	<a href="?page={{ page.next_page_number }}" class="icons next">Next</a>
               {% endif %}
			</div>
                    {% if form.is_multipart %}
                      <form enctype="multipart/form-data" method="post" action="">
                    {% else %}
                      <form action="" method="post">
                    {% endif %}
                    {{ form.management_form }}
                    {% csrf_token %}
						<ul class="bgform">
					<li>

						<div class="control-left">{{ form.DETAIL_TEXT.label_tag }}</div>
                        <div class="control" style="font-weight: bolder;color: red">{{  form.DETAIL_TEXT.errors }}</div>
						<div class="control"><textarea cols="70" name="DETAIL_TEXT" rows="7"></textarea></div>


					</li>
				</ul>
				<div class="rows-check"><input type="submit" name = "subCom" class="btnreg" value="Сохранить"></div>
					</div>
                </form>
				</div>
			</div>
			<div class="otherprd">
				<h1>Похожие товары</h1>
				<ul id="slider2">
					<li>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
						<div class="itemspp">
							<img src="images/products/pr1.jpg" alt="">
							<div class="infopeople">
								<p><a href="#">Футболка мужская с принтом Чарли-Чаплин...</a></p>
								<p><font class="number">$3.80</font> / шт.</p>
								<div><img class="star" alt="" src="images/stars.png">
									<div class="comment">
										<i class="icons icon-cmt"></i>
										<label><a href="#">512</a></label>
									</div>
									<a href="#"><i class="icons icon-heart"></i></a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
 {% endblock %}
{% block footer %}
{{ block.super }}
    {% endblock %}
</body>
</html>