{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}

{% block title %}News Detail{% endblock %}


{{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "centerpokupok/css/jquery.countdown.css" %}" />
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static "centerpokupok/css/company.css" %}">

    <!--[if IE]><link type="text/css" rel="stylesheet" href="css/ie.css" /><![endif]-->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-countdown/1.6.3/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="{% static "centerpokupok/js/jquery.countdown-ru.js" %}"></script>
    <script type="text/javascript" src="{% static "centerpokupok/js/incrementing.js" %}"></script>
    <script type="application/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


    <script>
    $(document).ready(function () {
                    $('#slider2').anythingSlider({hashTags: false});
    });

    </script>

    <script>
        $(document).ready(function(){
           $('.fancybox').fancybox();
        });
    </script>

    <script type="text/javascript">
        function originalPrice(obj)
        {
            discount = obj.data('discount');
            info = obj.parents('.infodetails');
            info.find('.discountinfo').remove();

            if(discount)
            {
                info.find('.price2').text(discount);
            } else {
                old = info.find('.price1')
                info.find('.price2').text(old.text())
                old.remove()
            }
        }

        $(function () {
            $('.countdowntext').each(function() {
                var until = parseInt($(this).data('countdown')) * 1000;

                now = +new Date();
                var lay = ((until - now) <= 1000 * 60 * 60 * 24) ? '{hnn}{sep}{mnn}{sep}{snn} {desc}' : '{dn}&nbsp;&nbsp;{dl} {desc}'
                $(this).countdown({
                    until: new Date(until),
                    layout: lay,
                    format: 'DHMS',
                    onExpiry: function() {
                        originalPrice($(this))
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block header %}
    {% include "Company/header.html" %}
{% endblock %}

{% block body %}
   	<div id="main">
		<div id="sidebar">
			{% include "Company/store_categories.html" %}

			{% include "popular.html" %}

			<div class="bestbuy">
				<div class="items-coupon">
					<ul>
						<li>
							<div class="discount"><i class="icons i-after"></i> спеццена</div>
							<a href="#"><img src="images/products/pr8.jpg" alt=""></a>
							<div class="coupon-info">
								<p><a href="#">{% trans 'Sale' %}</a></p>
								<p>{% trans 'winter collection' %}</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div id="main-r">
			<div class="breadcrumbs">
				<div xmlns="http://rdf.data-vocabulary.org/#">
					<span typeof="v:Breadcrum">
                        <a property="v:title" rel="v:url" href="{% url "main" %}">{% trans "Main" %}</a>
                        &rarr;
                    </span>
					<span typeof="v:Breadcrum">
                        <a href="{% url "companies:main" companyID %}" property="v:title" rel="v:url">{{ name }}</a>
                        &rarr;
                    </span>
					<span typeof="v:Breadcrum">
                        <a href="{% url "companies:products" companyID %}" property="v:title" rel="v:url">{% trans "Products" %}</a>
                    </span>
				</div>
			</div>
            <div class="title-items">
				<a href="javascript:history.back()" class="btnback">← {% trans "Back to catalog" %}</a>
			</div>
                    {% with productValues as  attr   %}
                    {% with attr.NAME|first as name  %}
                    {% with attr.IMAGE|first as picture  %}
                    {% with attr.ANONS|first as anons  %}
                    {% with attr.DETAIL_TEXT|first as content  %}
                    {% with attr.CURRENCY|first as currency  %}
                    {% with attr.COST|first as price  %}
                    {% with attr.DISCOUNT|first as discount %}
                    {% with productCoupon|first as coupon_discount %}
			<div class="titleproduct">{{ name }}</div>

            <div id="details-prd">
				<div class="galleryprd">
                    <p><font class="id">{% trans "Product ID" %}: {{ item_id }}</font></p>
					<div class="imagelib">
						<div class="imgout">
							<div id="imagebig">
                                <a href="#" data-index="0" class="bzoom"><i class="icons i-zoom"></i></a>
								<img src="{{ MEDIA_URL }}big/{{ picture }}" border="0" />
							</div>
						</div>
						<ul class="allthumb">
							<li>
                                <a href="#"  data-big="{{ MEDIA_URL }}big/{{ picture }}" class="image">
                                    <img src="{{ MEDIA_URL }}small/{{ picture }}" class="imagesmall" border="0"/>
                                </a>
                                <a href="{{ MEDIA_URL }}big/{{ picture }}" class="fancybox" rel="gallery" style="display: none;"></a>
                            </li>
						</ul>
					</div>
				</div>

				<div class="infodetails">
					<div class="pricedt">
                        {% if coupon_discount.title %}
                            <p><font class="price1"> {{ currency|getSymbol }} {{ price|formatPrice }}</font></p>
                            <p>
                                <font class="price2">
                                    {{ currency|getSymbol  }} {{ price|discountPrice:coupon_discount.title }}
                                </font>
                            </p>
                        {% elif discount %}
                            <p><font class="price1">{{ currency|getSymbol }} {{ price|formatPrice }}</font></p>
                            <p>
                                <font class="price2">
                                    {{ currency|getSymbol  }} {{ price|discountPrice:discount }}
                                </font>
                            </p>
                        {% else %}
						    <p>
                                <font class="price2">
                                    {{ currency|getSymbol  }} {{ price|formatPrice }}
                                </font>
                            </p>
                        {% endif %}
					</div>
                    {% if coupon_discount %}
                        <div class="discountinfo">
                            <div class="rows">
                                <i class="icons i-clock"></i>
                                <label>{% trans "Discount will end in" %}:</label>
                                <div class="countdowntext"
                                     {% if discount %}
                                        data-discount="{{ currency|getSymbol  }} {{ price|discountPrice:discount }}"
                                     {% endif %}  data-countdown="{{ coupon_discount.end_date|date:"U" }}">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <form id ='product_form' action="{% url "products:order" 1 %}" method="post">
                        <div class="option">

                                {% csrf_token %}
                            <ul>
                                <li>

                              <input type="hidden" name="product" value="{{ item_id }}">

                                    <label>{% trans "Quantity" %}</label>

                                    <div class="numberof">
                                        <div class="numbers-row">
                                            <input type="text" name="french-hens" id="french-hens" value="1">
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="details-action">
                            <a href="javascript:void(0);" onclick="$(this).closest('form').submit();" class="bigbuy">{% trans "Buy" %}</a>

                            <div class="wl favorite">
                                <i class="icons {% if favorite == 0 %} icon-heart {% else %} icon-colored-heart{% endif %}" data-gid="{{ item_id }}" ></i>
                                <p><a href="#"  class="wish">{% trans 'Favorite' %}</a></p>
                            </div>
                        </div>
                    </form>
					<div class="socialplugin">
						<div><img src="{% static "centerpokupok/images/fb.gif" %}"></div>
						<div><img src="{% static "centerpokupok/images/tw.gif" %}"></div>
						<div><img src="{% static "centerpokupok/images/pin.gif" %}"></div>
					</div>
				</div>

				<div class="ship">
					<div class="shiptitle">
						{% trans "Description" %}
						<span><a href="#">{% trans 'Delivery method' %}</a></span> <span><a href="#">{% trans 'Return policy' %}</a></span>
					</div>
					<div class="configuration">
						<ul>
							<li>
								<span class="left">{% trans "Short description" %}:</span>
								<span class="right">{{ anons }}</span>
							</li>
							<li>
								<span class="left">{% trans "Complete description" %}</span>
								<span class="right">{{ content }}</span>
							</li>

						</ul>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}

					</div>

					<div class="feedback">
						<h3>{% trans 'Transaction History & Feedback' %}</h3>
                    {% for id , attr  in commentsList.items %}

                        {% with attr.DETAIL_TEXT|first as content  %}
                        {% with attr.Date as date  %}
                        {% with attr.User.username as user %}
                            <ul class="feedbacklist">
                                <li>

                                    <div class="name">
                                        {{ user }}

                                    </div>

                                    <div class="date">
                                        {{ date }}

                                    </div>

                                    <div class="cmt">

                                        <p>{{ content }}</p>
                                    </div>

                                </li>
                            </ul>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}

					 {% include "paginator.html" %}

                    {% if form.is_multipart %}
                      <form enctype="multipart/form-data" method="post" action="">
                    {% else %}
                      <form action="" method="post">
                    {% endif %}

                        {{ form.management_form }}

                        {% csrf_token %}
                            <ul class="bgform">
                                <li>
                                    <div class="control-left">
                                        {{ form.DETAIL_TEXT.label_tag }}
                                    </div>
                                    <div class="control" style="font-weight: bolder;color: red">
                                        {{  form.DETAIL_TEXT.errors }}
                                    </div>
                                    <div class="control">
                                        <textarea cols="70" name="DETAIL_TEXT" rows="7"></textarea>
                                    </div>
                                </li>
                            </ul>
                            <div class="rows-check">
                                <input type="submit" name = "subCom" class="btnreg" value="{% trans 'Post' %}">
                            </div>
                        </form>
                    </div>
                </div>

                {% if sameProducts %}
                    <div class="otherprd">
                        <h1>{% trans "Similar products" %} </h1>

                        <ul id="slider2">
                          {% for id , attr  in sameProducts.items %}

                            {% with attr.NAME|first as name  %}
                            {% with attr.COST|first as cost  %}
                            {% with attr.CURRENCY|first as currency  %}
                            {% with attr.IMAGE|first as picture  %}

                            {% if  forloop.counter == 1 %}
                                <li>
                            {% endif %}

                            <div class="itemspp">
                                <div class="img_prod_slider">
                                    <div class="shadow"></div>
                                    <div class="img_block">
                                        <img src="{{ MEDIA_URL }}small/{{ picture }}" alt="{{ name }}">

                                    </div>
                                </div>

                                <div class="infopeople">
                                    <p><a href="{% url "products:detail" id %}">{{ name }}</a></p>
                                    <p><font class="number">{{ currency|getSymbol }} {{ cost|formatPrice }}</font></p>
                                </div>
                            </div>

                            {% if forloop.counter|divisibleby:"4" and   forloop.counter != forloop.last  %}
                                </li>
                                <li>
                            {% endif %}

                            {% if  forloop.counter == forloop.last %}
                                </li>
                            {% endif %}

                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                          {% endfor %}

                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}