{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}

{% block title %}News Detail{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
     $(document).ready(function () {

                    $('#slider1').anythingSlider({hashTags: false});
     })
    </script>
{% endblock %}

{% block header %}
    {% include "header_big.html" %}
{% endblock %}

{% block body %}
		<div id="main">
            <div id="sidebar">
                {% include "related_categories.html" %}
                    <div class="bestbuy">
                        <div class="items-coupon">
                            <h3>Самые выгодные купоны</h3>
                            <ul>
                                <li>
                                    <div class="discount"><i class="icons i-after"></i> -30%</div>
                                    <a href="#"><img alt="" src="images/products/pr4.jpg"></a>
                                    <div class="coupon-info">
                                        <p><a href="#">Изучение английского, немецкого, французского, испанского и др. языков</a></p>
                                        <p class="price">
                                            <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                            Экономия: $ 22.10
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="discount"><i class="icons i-after"></i> -30%</div>
                                    <a href="#"><img alt="" src="images/products/pr4.jpg"></a>
                                    <div class="coupon-info">
                                        <p><a href="#">5, 10 или 15 посещений подземного соляного грота</a></p>
                                        <p class="price">
                                            <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                            Экономия: $ 22.10
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div id="main-r">
                <div class="breadcrumbs">
                    <div xmlns="http://rdf.data-vocabulary.org/#">
                        <span typeof="v:Breadcrum">
                            <a property="v:title" rel="v:url" href="{% url "main" %}">{% trans "Main" %}</a> &rarr;
                        </span>
                        <span typeof="v:Breadcrum">
                            <a href="{% url "products:list" %}" property="v:title" rel="v:url">{% trans "Products" %}</a>
                        </span>
                        {% for id, crumb in breadCrumbs.items %}
                            {% with crumb.NAME|first as name %}
                                &rarr;
                                <span typeof="v:Breadcrum">
                                    <a href="{% url "products:category" id %}" property="v:title" rel="v:url">{{ name }}</a>
                                </span>
                            {% endwith %}
                        {% endfor %}
                    </div>
                </div>
                <div class="title-items">
                    {% trans "Products" %}
                    {% if currentCat %}
                        <i>/</i>  {{ currentCat }}
                    {% endif %}
                </div>

                <div class="topitems" style="margin-top: 20px">
                    <label>{% trans "Show only" %}</label>
                    <span>
                        <input type="checkbox" name="" class="checkbox">
                        <i class="icons icon-display1"></i>
                        <font>{% trans "Salesman online" %}</font>
                    </span>
                    <span>
                        <input type="checkbox" name="" class="checkbox">
                        <i class="icons icon-display2"></i>
                        <font>{% trans "High raiting" %}</font>
                    </span>
                    <span>
                        <input type="checkbox" name="" class="checkbox">
                        <i class="icons icon-display3"></i>
                        <font>{% trans "Free shipping" %}</font>
                    </span>

                </div>
                <div class="topitems">
                    <label>{% trans "Sort by" %}</label>
                    <span id="sortby">
                        <a href="#nogo" class="pricefilter">{% trans "Price" %} </a>
                        <div class="sortprice">
                            <ul>
                                <li><a href="#">$100 ~ $200</a></li>
                                <li><a href="#">$200 ~ $300</a></li>
                                <li><a href="#">$300 ~ $400</a></li>
                                <li><a href="#">$400 ~ $500</a></li>
                                <li><a href="#">$500 ~ $600</a></li>
                            </ul>
                        </div>
                    </span>
                    <span>
                        <a href="#">{% trans "Raiting" %}</a>
                    </span>

                </div>
                <ul id="listitems">
                    {% for id , product in products_list.items %}
                         {% with product.NAME|first as name %}
                         {% with product.IMAGE|first as picture %}
                         {% with product.COST|first as price %}
                         {% with product.CURRENCY|first as currency %}
                         {% with product.COMPANY_NAME|first as company %}
                         {% with product.COMPANY_ID as company_id %}
                         {% with product.COMPANY_IMAGE|first as company_image %}
                         {% with product.COUNTRY_NAME|first as country %}
                         {% with product.DISCOUNT|first as discount %}
                         {% with product.COUPON_DISCOUNT|first as coupon_discount %}
                         {% with product.COMMENTS as comment %}
                         {% with product.FAVORITE as favorite %}
                    <li>
                        {% if coupon_discount %}
                            <div class="discount"><i class="icons i-after"></i> -{{ coupon_discount }}%</div>
                        {% elif discount %}
                            <div class="discount"><i class="icons i-after"></i> -{{ discount }}%</div>
                        {% endif %}
                        <a href="{% url "products:detail" id %}">
                       <div class="img_gallery">
                            <div class="shadow"></div>
                            <div class="img_block">

                                <img src="{{ MEDIA_URL }}big/{{ picture }}" alt="{{ name }}" >
                            </div>
                        </div>
                    </a>
                        <p><a href="{% url "products:detail" id %}">{{ name }}</a></p>
                        <div class="price">
                            {% if coupon_discount %}
                                <font class="num">{{ currency|getSymbol }} {{ price|discountPrice:coupon_discount }}</font>
                                <p><font class="price-old">{{ currency|getSymbol }} {{ price|formatPrice }}</font></p>
                            {% elif discount %}
                                <font class="num">{{ currency|getSymbol }} {{ price|discountPrice:discount }}</font>
                                <p><font class="price-old">{{ currency|getSymbol }} {{ price|formatPrice }}</font></p>
                            {% else %}
                                <font class="num">{{ currency|getSymbol }} {{ price|formatPrice }}</font>
                            {% endif %}

                        </div>
                        <div class="bvote">
                            <img src="{% static "centerpokupok/images/stars.png" %}" alt="" class="star">
                            <div class="comment">
                                <i class="icons icon-cmt"></i>
                                <label><a href="{% url "products:detail" id %}">{{ comment }}</a></label>
                            </div>

                            <a href="#" class="favorite" >
                                <i class="icons {% if favorite == 1%}icon-colored-heart {% else %}icon-heart{% endif %}" data-gid="{{ id }}"></i>
                            </a>
                        </div>
                        <div class="bgname">
                            <a href="#" class="offline">
                                <i class="icons i-name"></i>
                                <b>{{ company }}</b>
                                <i class="icons icon-chat"></i>
                            </a>
                            <div class="salepopup">
                                <img src="{% static company_image %}" class="avatar" alt="{{ company }}" />
                                <div class="infosale">
                                    <i class="icons icon-status status-online"></i>
                                    <a href="{% url "companies:main" company_id %}">{{ company }}</a>
                                    <p><i class="icons icon-people"></i><i class="icons icon-people"></i><i class="icons icon-people"></i></p>
                                    <p>{{ country }}</p>
                                    <p><i class="icons icon-cmt"></i><font class="number">96.3%</font> <a href="#">positive feedback</a></p>
                                    <p><a class="btnreg" href="#"><i class="icons i-cm"></i>Написать продавцу </a></p>
                                </div>
                            </div>
                        </div>
                    </li>
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                    {% endfor %}

                </ul>
                <div class="items-coupon">
                    <h3>Акции и распродажи</h3>
                    <ul>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr2.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr3.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr2.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr3.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="itembanner"><a href="#"><img src="{% static "centerpokupok/images/banner.jpg" %}" alt=""></a></div>
                {% include "paginator.html" %}
                <div class="salepeople">
                    <h1>{% trans "Sellers" %}</h1>
                    <ul id="slider1">
                        {% for id , attr in companyList.items %}
                            {% with attr.COMPANY_NAME|first as name %}
                            {% with attr.COMPANY_IMAGE|first as picture %}
                            {% with attr.COUNTRY_NAME|first as country %}
                            {% with attr.COMPANY_ID|first as country_id %}
                      {% if  forloop.counter == 1 %}
                                      <li>
                                    {% endif %}
                          <div class="itemspp">
                            <div class="img_slider">
                            <div class="shadow"></div>
                            <div class="img_block">
                                <img  src="{{ MEDIA_URL }}big/{{ picture }}" alt="{{ name }}">
                                </div>
                            </div>
                                <div class="infopeople">
                                    <i class="icons icon-status status-online"></i>
                                    <p><a href="#">{{ name }}</a></p>
                                    <p><i class="icons icon-people"></i><i class="icons icon-people"></i><i class="icons icon-people"></i></p>
                                    <p>{{ country }}</p>
                                </div>
                        </div>

                          {% if forloop.counter|divisibleby:"7" and not forloop.last  %}

                                      </li>
                                     <li>
                                {% elif forloop.last %}
                                </li>
                                {% endif %}
                            {% endwith %}
                             {% endwith %}
                             {% endwith %}
                             {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
