{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}


               {% block title %}Order Step Two{% endblock %}








{% block header %}
{% include "header_big.html" %}
{% endblock %}
{% block body %}

<div id="main">
		<div id="sidebar">
			{% include "main/cabinet_menu.html" %}

		</div>
		<div id="main-r">
			<div class="breadcrumbs">
				<div xmlns="http://rdf.data-vocabulary.org/#">
					<span typeof="v:Breadcrum"><a property="v:title" rel="v:url" href="#">{% trans "Home Page" %}</a> &rarr;</span>
					<span typeof="v:Breadcrum"><a href="{% url "products:order" 1%}" property="v:title" rel="v:url">{% trans "Step One" %} </a> &rarr;</span>

				</div>
			</div>

			<div class="listitemcart">
				<span class="title">Order summary</span>
				{% with productValues.COST|first as cost %}
                {% with productValues.CURRENCY|first as currency %}
                {% with productValues.NAME|first as name %}

                <div class="titleform">
					{% trans "Your order" %}
				</div>
				<div class="order-row1">
					<span class="clumn1">{{ name }}</span>
					<span class="clumn2"><strong>x{{ qty }}</strong></span>
					<span class="clumn2" style="width: 70px;"><strong>{{ currency|getSymbol }} {{ cost }} </strong></span>
				</div>


				<div class="order-row2">
					<span class="clumn1">
						<strong>{% trans "Delivery method" %}</strong> — Priority Mail (1-3 days)
						<p><font class="note">{{ orderDetails.country }}, {{ orderDetails.city }},  {{ orderDetails.address }}</font></p>
					</span>
					<span class="clumn2"style="width: 70px;"><strong>{{ currency|getSymbol }} 11.60 </strong></span>
				</div>
				<div class="order-row2">
					<span class="clumn1">
						<strong>{% trans 'Payment' %}</strong> — Pay by cheque. We accept several currencies for cheques
					</span>

				</div>
				<div class="order-row2" id="totalorder">
					<span class="clumn1">
						<strong>{% trans "The total amount of your order" %}</strong>
					</span>
					<span class="clumn2"><strong>{{ currency|getSymbol }} {{ totalSum }} </strong></span>
				</div>
                {% endwith %}
                {% endwith %}
                {% endwith %}
				<div class="bottom-order">
					<a href="{% url "products:order" 1%}">&larr; {% trans "Make changes to your order" %}</a>
					<a href="{% url "products:order" 3%}" class="btnreg">{% trans "Confirm order" %}</a>
     			</div>
		    </div>
	    </div>
</div>



 {% endblock %}
