{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

<div class="container">
    <div class="companies">
        {% include "Wall/popupFilter.html" %}
        {% include "main/local_menu_script.html" %}
        {% include "main/paginator.html" %}
        <ul class="tender-list">
            {% for resume in object_list %}
            <li>
            {% setContextMenu resume %}




                <div class="title">
                    <font class="name">{% trans 'Publication date' %}: {{ resume.obj_create_date|date:"d M Y" }}</font>
                        </div>
                        <h2><a href="{% url "resume:detail" resume.slug %}" >{{ resume.text }}</a></h2>

                        <a href="{% url "resume:detail" resume.slug %}" class="linkmore">{% trans 'More' %}...</a>
                    <div class="line">{% if resume.cabinet.text %}{% trans 'User name' %}:<a href="#"> {{ resume.cabinet.text }}</a>{% endif %}</div>
                    </li>
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endfor %}

            </ul>
        {% include "main/paginator.html" %}
    </div>
</div>
