{% load static %}
{% load i18n %}
{% load CustomFilters %}

<script>
$(function() {
	 $(".goods-details-tab").tabs();});
</script>



  <div class="tender">

            {% with resumeValues.NAME.0 as name %}
            {% with resumeValues.BIRTHDAY.0 as birthday %}
            {% with resumeValues.MARITAL_STATUS.0 as marital_status %}
            {% with resumeValues.NATIONALITY.0 as nationality %}
            {% with resumeValues.TELEPHONE_NUMBER.0 as telephone_number %}
            {% with resumeValues.ADDRESS.0 as address %}
            {% with resumeValues.INSTITUTION.0 as institution %}
            {% with resumeValues.FACULTY.0 as faculty %}
            {% with resumeValues.PROFESSION.0 as profession %}
            {% with resumeValues.STUDY_START_DATE.0 as study_start_date %}
            {% with resumeValues.STUDY_END_DATE.0 as study_end_date %}
            {% with resumeValues.STUDY_FORM.0 as study_form %}
            {% with resumeValues.COMPANY_EXP_1.0 as company_exp_1 %}
            {% with resumeValues.COMPANY_EXP_2.0 as company_exp_2 %}
            {% with resumeValues.COMPANY_EXP_3.0 as company_exp_3 %}
            {% with resumeValues.POSITION_EXP_1.0 as position_exp_1 %}
            {% with resumeValues.POSITION_EXP_2.0 as position_exp_2 %}
            {% with resumeValues.POSITION_EXP_3.0 as position_exp_3 %}
            {% with resumeValues.START_DATE_EXP_1.0 as start_date_exp_1 %}
            {% with resumeValues.START_DATE_EXP_2.0 as start_date_exp_2 %}
            {% with resumeValues.START_DATE_EXP_3.0 as start_date_exp_3 %}
            {% with resumeValues.END_DATE_EXP_1.0 as end_date_exp_1 %}
            {% with resumeValues.END_DATE_EXP_2.0 as end_date_exp_2 %}
            {% with resumeValues.END_DATE_EXP_3.0 as end_date_exp_3 %}
            {% with resumeValues.ADDITIONAL_STUDY.0 as additional_study %}
            {% with resumeValues.LANGUAGE_SKILL.0 as language_skill %}
            {% with resumeValues.COMPUTER_SKILL.0 as computer_skill %}
            {% with resumeValues.ADDITIONAL_SKILL.0 as additional_skill %}
            {% with resumeValues.SALARY.0 as salary %}
            {% with resumeValues.ADDITIONAL_INFORMATION.0 as additional_information %}



               <div class="tender-info" id="resume-dt">
					<ul class="inforesume">
                    	<li>
                        	<label>{% trans 'Name' %}:</label>
                            <span class="right">{{ name }}</span>
                        </li>
                        <li>
                        	<label>{% trans 'Birthday' %}:</label>
                            <span class="right">{{ birthday|makeDate|date:'d M Y' }}</span>
                        </li>
                        <li>
                        	<label>{% trans 'Marital status' %}:</label>
                            <span class="right">{{ marital_status }}</span>
                        </li>
                        <li>
                        	<label>{% trans 'Citezenship' %}:</label>
                            <span class="right">{{ nationality }}</span>
                        </li>
                        <li>
                        	<label>{% trans 'Telephone number' %}:</label>
                            <span class="right"> {{ telephone_number }}</span>
                        </li>
                        <li>
                        	<label>{% trans 'Address' %}:</label>
                            <span class="right">{{ address }}</span>
                        </li>
                        <li>
                        	<label>{% trans 'Salary' %}:</label>
                            <span class="right">{{ salary }}</span>
                        </li>
                    </ul>
                    <div class="goods-details-tab">
                        <div class="tab-cate">
                            <ul>
                                <li><a href="#goods-tabs-1">{% trans 'Education' %}</a></li>
                                <li><a href="#goods-tabs-2">{% trans 'Experience' %}</a></li>
                                <li><a href="#goods-tabs-3">{% trans 'Skills' %}</a></li>
                                <li><a href="#goods-tabs-4">{% trans 'Additional' %}</a></li>
                            </ul>
                        </div>
                        <div id="goods-tabs-1">
                            <div class="content-goods-tab">
                                <ul class="inforesume">
                                    <li>
                                        <label>{% trans 'Institution' %}:</label>
                                        <span class="right">{{ institution }}</span>
                                    </li>
                                    <li>
                                        <label>{% trans 'Faculty' %}:</label>
                                        <span class="right">{{ faculty }}</span>
                                    </li>
                                    <li>
                                        <label>{% trans 'Study period' %}:</label>
                                        <span class="right">{{ study_start_date|makeDate|date:"d M Y" }} - {{ study_end_date|makeDate|date:'d M Y' }}</span>
                                    </li>
                                    <li>
                                        <label>{% trans 'Profession' %}:</label>
                                        <span class="right">{{ profession }}</span>
                                    </li>
                                    <li>
                                        <label>{% trans 'Additional' %}:</label>
                                        <span class="right"> {{ additional_study }}</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <div id="goods-tabs-2">
                            <div class="content-goods-tab">


                                <ul class="inforesume">
                                    <li>
                                        <label>{% trans 'Company' %}:</label>
                                        <span  class="resume">{{ company_exp_1 }}</span>
                                        <label>{% trans 'Position' %}:</label>
                                        <span class="resume">{{ position_exp_1 }}</span>
                                        <label>{% trans 'Work  period' %}:</label>
                                        <span class="resume">{{ start_date_exp_1|makeDate|date:"d M Y" }} - {{ end_date_exp_1|makeDate|date:'d M Y' }}</span>
                                    </li>
                                     <li>
                                        <label>{% trans 'Company' %}:</label>
                                        <span  class="resume">{{ company_exp_2 }}</span>
                                        <label>{% trans 'Position' %}:</label>
                                        <span class="resume">{{ position_exp_2 }}</span>
                                        <label>{% trans 'Work  period' %}:</label>
                                        <span class="resume">{{ start_date_exp_2|makeDate|date:"d M Y" }} - {{ end_date_exp_2|makeDate|date:'d M Y' }}</span>
                                    </li>
                                     <li>
                                        <label>{% trans 'Company' %}:</label>
                                        <span  class="resume">{{ company_exp_3 }}</span>
                                        <label>{% trans 'Position' %}:</label>
                                        <span class="resume">{{ position_exp_3 }}</span>
                                        <label>{% trans 'Work  period' %}:</label>
                                        <span class="resume">{{ start_date_exp_3|makeDate|date:"d M Y" }} - {{ end_date_exp_3|makeDate|date:'d M Y' }}</span>
                                    </li>
                                </ul>

                            </div>

                          </div>

                        <div id="goods-tabs-3">
                            <div class="content-goods-tab">
                                <ul class="inforesume">
                                    <li>
                                        <label>{% trans 'Language skills' %}:</label>
                                        <span class="right">{{ language_skill }}</span>
                                    </li>
                                    <li>
                                        <label>{% trans 'Computer skills' %}:</label>
                                        <span class="right">{{ computer_skill }}</span>
                                    </li>
                                    <li>
                                        <label>{% trans 'Additional skills' %}:</label>
                                        <span class="right">{{ additional_skill }}</span>
                                    </li>


                                </ul>
                            </div>
                        </div>
                        <div id="goods-tabs-4">
                            <div class="content-goods-tab">
                                {{ additional_information }}
                            </div>
                        </div>
                    </div>
               </div>




            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

     </div>


