{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
    {% include "TppTV/popupFilter.html" %}
    {% include "main/paginator.html" %}
    {% include "main/local_menu_script.html" %}
    <ul id="tv-list">
        {% for news in object_list %}
            <li>
                {% resolve items_perms news.pk|slugify as permlist %}

                {% if  redactor %}
                       <div class="blockbox">
                            <a href="#"><i class="btn-afisha imgnews"></i></a>
                            <div class="localmenu">
                                    <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'tv:update' news.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                     <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url 'tv:delete' news.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                            </div>
                        </div>
                {% endif %}
                <div class="title-tv">
                        {% if news.country.flag %}
                            <i class="flag sprite {{ news.country.flag }}" title="{{ news.country.text }}" />
                        {% endif %}
                        {{ news.obj_create_date|date:'d M Y' }}</div>
                	<div class="video">
                        {% if news.image %}
                            <img width="165" height="125" src="{{ MEDIA_URL }}small/{{ news.image }}" title="{{ news.title }}" alt="{{ news.title }}"/>
                        {% else %}
                            <img width="165" height="125" src="http://img.youtube.com/vi/{{ news.youtube_code }}/0.jpg" />
                        {% endif %}
                	</div>
                    <div class="link">
                        <a href="{%  url 'tv:detail' news.slug %}" class="name">{{ news.title|truncatechars:50 }} </a>
                    </div>
                </li>
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </ul>
    {% include "main/paginator.html" %}
</div>
