{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
            {% include "TppTV/popupFilter.html" %}
           {% include "main/paginator.html" %}
             <ul id="tv-list">
                {% for id , attr in newsList.items %}
                    {% with attr.NAME.0 as name %}
                    {% with attr.SLUG.0 as slug %}
                    {% with attr.CREATE_DATE.0 as date %}
                    {% with attr.YOUTUBE_CODE.0 as youtube_code %}
                    {% with attr.COUNTRY_NAME|first as country_name %}
                    {% with attr.COUNTRY_FLAG|first as flag %}
                    {% with attr.COUNTRY_ID as country_id %}
                    {% with attr.IMAGE|first as image %}
                <li>
                	<div class="title-tv">
                        {% if flag %}
                            <img src="{{ MEDIA_URL }}small/{{ flag }}" class="flag" alt="{{ country_name }}" />
                        {% endif %}
                        {{ date|date:'d M Y' }}</div>
                	<div class="video">
                        {% if image %}
                            <img width="170" height="125" src="{{ MEDIA_URL }}small/{{ image }}" />
                        {% else %}
                            <img width="170" height="125" src="http://img.youtube.com/vi/{{ youtube_code }}/0.jpg" />
                        {% endif %}
                	</div>
                    <div class="link">
                        <a href="{%  url 'tv:detail' slug %}" class="name">{{ name }} </a>
                    </div>
                </li>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}

                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endfor %}

            </ul>
           {% include "main/paginator.html" %}
</div>
