{% extends 'main_page.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block header %}
    {% include "login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/news.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}
{% block keywords %}{% endblock %}

{% block content %}
  <div class="new-details">

            <h1>{{ item.title }}</h1>
                <p class="date">
                {% if item.country.flag %}
                    <i class="flag sprite {{ item.country.flag }}" title="{{ item.country.text }}" ></i>
                    {{ item.country.text }}
                {% elif item.organization.flag %}
                    <img src="{{ MEDIA_URL }}small/{{ item.organization.flag }}" class="flag" alt="{{ item.organization.title }}" />
                    {{ item.organization.title }}
                {% endif %}

                   {{ item.obj_create_date|date:"d M Y" }},
                    {% for category in item.categories %} <a href="#">{{ category.text }}</a>{% endfor %}</p>

                <div class="video-details">
                 <iframe width="540" height="322" src="//www.youtube.com/embed/{{ item.youtube_code }}" frameborder="0" allowfullscreen></iframe>
                </div>

                {% b2bSocialButtons  "" item.image item.text %}
                <div class="content-news">
                   <p>{{ item.text|cleanHtml|safe }}</p>
                </div>

                <div class="related-news">
                	<span class="title">{% trans 'Similar news' %}</span>
                    <ul>
                    {% for news in similarNews %}
                      	<li>
                        	<span class="date">{{ news.obj_create_date|date:"d M y" }}</span>
                            {% if news.image %}
                        	    <img src="{{ MEDIA_URL }}big/{{ news.image }}" alt="{{ news.title }}" title="{{ news.title }}" class="thumb" />
                            {% else %}
                                <img src="{% static 'tppcenter/img/news.jpg' %}" alt="" class="thumb" />
                            {% endif %}

                            <a href="{% url  "tv:detail" news.slug %}" class="more">{{ news.title }} </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
  </div>
{% endblock %}
