{% load static %}
{% load i18n %}
{% load CustomFilters %}

<script>
    $('.keyword').html('');
</script>

  <div class="new-details">
            {% with newValues.CREATE_DATE.0 as date %}
            {% with newValues.DETAIL_TEXT.0 as content %}
            {% with newValues.NAME.0 as name %}
            {% with newValues.YOUTUBE_CODE.0 as youtube_code %}
            {% with newValues.COUNTRY_NAME.0 as country_name %}
            {% with newValues.COUNTRY_FLAG.0 as country_flag %}
            {% with newValues.COUNTRY_ID as country_id %}
            {% with newValues.ORG_NAME.0 as org_name %}
            {% with newValues.ORG_FLAG.0 as org_flag %}
            {% with newValues.ORG_ID as org_id %}
            {% with newValues.CATEGORY_NAME|first as category_name %}

            <h1>{{ name }}</h1>
                <p class="date">
                {% if country_flag or org_flag %}
                    <img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else  %}{{ country_flag }}{% endif %}" class="flag" alt="{{ country_name }}" />
                {% endif %}
                   {{ country_name }}
                   {{ date|date:"d M Y" }}, <a href="#">{{ category_name }}</a></p>

                <div class="video-details">
                 <iframe width="540" height="322" src="//www.youtube.com/embed/{{ youtube_code }}" frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="social">
                    <!-- Share for social networks -->
                    <a href="http://www.facebook.com/sharer/sharer.php?s=100&p%5Btitle%5D=TITLE&p%5Bsummary%5D=DESC&p%5Burl%5D=URL&p%5Bimages%5D%5B0%5D=IMG_PATH" target="_blank" onclick="return Share.me(this);"><i class="imgnews share-1"></i></a>
                    <a href="http://vk.com/share.php?url=URL&title=TITLE&description=DESC&image=IMG_PATH&noparse=true" target="_blank" onclick="return Share.me(this);"><i class="imgnews share-2"></i></a>
                    <!--<a href="http://connect.mail.ru/share?url=URL&title=TITLE&description=DESC&imageurl=IMG_PATH" target="_blank" onclick="return Share.me(this);">{шарь меня правильно}</a>-->
                    <a href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=DESC&st._surl=URL" target="_blank" onclick="return Share.me(this);"><i class="imgnews share-3"></i></a>
                    <a href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ffiddle.jshell.net%2F_display%2F&text=TITLE&url=URL" target="_blank" onclick="return Share.me(this)"><i class="imgnews share-4"></i></a>
                    <!-- /Share for social networks -->
                </div>
                <div class="content-news">
                   <p>{{ content|cleanHtml|safe }}</p>
                </div>

                <div class="related-news">
                	<span class="title">{% trans 'Similar news' %}</span>
                    <ul>
                    {% for id , attr in similarValues.items %}
                      {% with attr.NAME|first as sim_name %}
                      {% with attr.IMAGE|first as sim_image %}
                      {% with attr.DETAIL_TEXT|first as sim_content %}
                      {% with attr.CREATE_DATE|first as sim_create_date %}
                      {% with attr.SLUG|first as sim_slug %}
                    	<li>
                        	<span class="date">{{ date|date:"d M y" }}</span>
                            {% if sim_image %}
                        	    <img src="{{ MEDIA_URL }}big/{{ sim_image }}" alt="{{ sim_name }}" title="{{ sim_name }}" class="thumb" />
                            {% else %}
                                <img src="{% static 'tppcenter/img/news.jpg' %}" alt="" class="thumb" />
                            {% endif %}

                            <a href="{% url  "tv:detail" sim_slug %}" class="more">{{ sim_name }} </a>
                        </li>
                         {% endwith %}
                         {% endwith %}
                         {% endwith %}
                         {% endwith %}
                         {% endwith %}
                     {% endfor %}
                    </ul>
                </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

  </div>


