{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'FAQ' %}</h1>
                   
<p ><b><span >Вопрос: </span></b><span class="apple-converted-space"><span  >&nbsp;</span></span><span >в чем заключается основная цель портала?</span></p>

<p ><b><span >Ответ</span></b><span >: основная цель портала — налаживание бизнес-коммуникаций в предпринимательской среде, а также помощь в развитии бизнеса каждой компании, являющейся его пользователем. Кроме того, портал является отличным инструментом для успешного продвижения сделок, проектов, услуг и идей отдельных компаний. </span></p>

<p ><span >&nbsp;</span></p>

<p ><b><span >Вопрос</span></b><span >: что моей компании даст регистрация на портале «ТПП-Центр»?</span></p>

<p ><b><span >Ответ</span></b><span >: зарегистрировавшись на портале «ТППЦентр» Ваша компания получит возможность совершенно бесплатно воспользоваться целым рядом уникальных и одновременно очень актуальных сервисов, таких например как: социальная сеть предпринимателей, советы профессионалов, виральный маркетинг, информация о выставках, форумах и тендерах, фактор безопасной сделки, инновационные проекты, поиск партнеров, электронный банк, электронные магазины B2B и B2C торговли,&nbsp; новости, анонсы и аналитика по различным вопросам и многое другое. Кроме того, Вы сами, будучи сотрудником компании и специалистом в какой-либо отрасли можете стать полноценным участником нашего сообщества, разместив свою статью в разделе «Специалисты». Более подробную информацию о возможностях портала вы сможете получить просмотрев ролик «Видео гид по сайту» расположенный на главной странице.</span></p>

<p ><span >&nbsp;</span></p>

<p ><b><span >Вопрос</span></b><span >: какую информацию мы можем разместить на портале? </span></p>

<p ><b><span >Ответ</span></b><span >: Вы можете размещать практически в неограниченном количестве информацию касающейся Вашей компании, а также предлагаемых Вами товарах и услугах. Более того, Вы можете создать на портале личный сайт Вашей компании (с префиксом ТППЦентр), который вы сможете свободно администрировать с учетом потребностей Вашего бизнеса. </span></p>

<p ><span >&nbsp;</span></p>

<p ><b><span >Вопрос</span></b><span >: как посредством портала можно «пропиарить» свою компанию?</span></p>

<p ><b><span >Ответ</span></b><span >: На нашем портале вы можете:</span></p>

<p > </p>

<ul>
  <li><span >разместить рекламный баннер Вашей компании</span></li>

  <li><span >Выложить товар или услугу в соответствующий магазин </span><span  >B</span><span >2</span><span  >B</span><span > или </span><span  >B</span><span >2</span><span  >C</span></li>

  <li><span >Опубликовать статью от сотрудника Вашей компании в рубрике «Специалисты»</span></li>

  <li><span >Сделать заявку на размещение Анонса и Обзора от Вашей компании</span></li>

  <li><span >Заказать рекламное место в ТОПе портала</span></li>

  <li><span >Рассказать о выставках, форумах, конференциях и семинарах, проводимых Вашей компанией</span></li>
 </ul>

<p></p>

<p ><span >&nbsp;</span></p>

<p ><b><span >Вопрос</span></b><span >: чем</span><span style="   "> портал может быть полезен малым, средним и соответственно крупным компаниям?</span></p>

<p ><b><span >Ответ</span></b><span >: малому бизнесу портал дает уникальную возможность поиска инвесторов и партнеров, а также возможность получить квалифицированную консультацию специалистов в самых разных областях. Кроме того, портал позволяет совершенно бесплатно создать собственный внешний сайт с эксклюзивным дизайном, используя доменное имя второго уровня или свой оригинальный домен.&nbsp; </span></p>

<p ><span >Среднему&nbsp; бизнесу портал предоставляет целый п</span><span >ортфель удобных инструментов для самого широкого продвижения своего бизнеса (товара либо услуг) в сети Интернет </span></p>

<p ><span >Большой компании портал позволяет заявить о себе не только на национальном, но и международном рынках, т.&nbsp;к. пользователями портала являются компании из всех стран СНГ, а также ряда стран дальнего зарубежья.</span></p>

<p ><span >&nbsp;</span></p>

<p ><b><span >Вопрос</span></b><span >: для компаний из каких отраслей предназначен портал?</span></p>

<p ><b><span >Ответ</span></b><span >: Не имеет значения в какой отрасли работает компания и каков основной вид ее деятельности (производство, торговля, услуги, консалтинг и т.&nbsp;д.). На нашем портале представлены абсолютно все компании и Вы всегда сможете найти себе партнера по бизнесу, найти клиента, продвинуть товар или услугу, в не зависимости от того чем именно занимается Ваша компания.</span></p>

<p ><span >&nbsp;</span></p>

<p ><b><span >Вопрос:</span></b><span > чем портал интересен компаниям ориентированным на внешний рынок (экспорт), а чем работающем на внутреннем?</span></p>

<p ><b><span >Ответ</span></b><span >: наш портал сотрудничает с компаниями, являющимися членами Торгово-промышленных палат, а также целого ряда других бизнес-ассоциаций России и всех стран СНГ. Поэтому Вы всегда сможете найти партнера или покупателя как на внутреннем, так и на внешнем рынках.</span></p>

<p ><span >
    <br>
   </span></p>

<p ><b><span >Вопрос</span></b><span >: какова разница между В2В и В2С магазинами?</span></p>

<p ><b><span >Ответ</span></b><span >: Магазин </span><span  >B</span><span >2</span><span  >B</span><span > направлен на взаимодействие и торговлю компаний между собой (business to business).</span></p>

<p ><span >Магазин B2C направлен на предложение товаров и услуг компаний, зарегистрированных на портале, широкому кругу клиентов физических лиц (b</span><span  >usiness</span><span  > </span><span  >to</span><span  > </span><span  >customer</span><span >)</span><span >.</span></p>

<p ><b><span >
      <br>
     </span></b></p>

<p ><b><span >Вопрос</span></b><span >: что делать, если возникли трудности при регистрации компании на портале? </span></p>

<p ><b><span >Ответ</span></b><span >: по всем вопросам, в том числе, связанным с регистрацией на портале Вы можете обращаться по телефону , либо писать нам по электронной почте в наш московский офис: office</span><span >@</span><span  >tppcenter</span><span >.</span><span  >com</span><span >&nbsp; или по телефону  &nbsp; &nbsp;</span></p>

<p ><span ><b>
      <br>
     </b></span></p>

<p ><span ><b>Вопрос:</b> Моя компания не является членом ТПП, могу ли я быть зарегистрирован?</span></p>

<p ><span ><b>Ответ:</b> Вы можете быть зарегистрированы, но Вам будут не доступны полные модули портала. Для того, чтобы они работали, Вам необходимо связаться с нашей администрацией или с ТПП членом, который вы хотите являться.</span></p>
                </div>

            </div>

{% endblock %}