{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'Create online shop' %}</h1>
                    Интернет в наше время - это не только возможность получить необходимую информацию, найти собеседника, но и, конечно, возможность удобно совершать покупки в электронных магазинах. Популярность такого рода услуг постоянно растет. Это и понятно. Возможность купить/заказать все необходимое, не выходя из дома или офиса, делает Интернет-магазин незаменимым в сегодняшней бизнес риалии.
                    Кроме того, важным преимуществом Интернет магазина является широкий ассортимент товаров, не достижимый для розничного магазина, ограниченного малой площадью торгового зала и склада. Интернет-магазин предоставляет информацию 24 часа в сутки без перерывов и выходных, что является еще одним преимуществом. Нельзя не отметить и экономию средств и времени при пользовании услугами электронного магазина.
                    Исходя из всех вышеназванных преимуществ, сегодня все больше и больше покупателей пользуются услугами Интернет-магазинов. ПОЭТОМУ для каждого предпринимателя по его группе товаров или услуг есть возможность выставлять товары и услуги в своём итернет магазине, контролируемый компанией.
                    Модуль "Магазин онлайн" представляет новую пладформу для представления товара/продукта или вида услуги в виде мини сайта, для каждого из представленых. Важно в описании дать максимум информации о товаре/продукте или вида услуги и его целевой аудитории, технические данные и другие параметры мы советуем описать в отдельных дополнительных разделах(отдельных страницах). Не забудте опубликовать фото альбом и конечно убедитесь в том что отделы компании и сотрудники готовы к обращениям в социальной бизнес сети предпринимателей на нашем портале.
                    Ваши товары/продукты и услуги видят все участники проекта у себя на "стене", поэтому, пишите интересно, увлекательно и подробно и Вас обезательно заметят или найдут посредством фильтра. Фильтр даёт обширные возможности поиска включая сферу деятельности и отрасли, поэтому, не забывайте заполнить все поля.
                </div>

            </div>

{% endblock %}