{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'Terms of use' %}</h1>
                    <p style="font-weight: bold">1.Общие положения</p>

                    <p>
                        1.1. Настоящее Пользовательское соглашение (далее - " Соглашение") регламентирует отношения между администрацией сервиса B24Online.COM (далее - Администрация) и Участниками сервиса (далее - "Участники") по работе на веб-сайте сервиса в сети Интернет по адресу http://www.tppcenter.com/ (далее - Сайт).
                    </p>
                    <p>
                    1.2. Участником признается физическое или юридическое лицо, надлежащим образом присоединившееся к настоящему Пользовательскому Соглашению и прошедшим регистрацию на сайте в качестве  представителя компании или индивидуального предпринимателя, размещающего свою информацию на сайте сервиса (далее "Компания").
                    </p>
                    <p>
                        1.3. Сервис предназначен для того, чтобы Компании имели возможность самостоятельного размещения информации о своей деятельности, своих продуктах и услугах, проводимых мероприятиях. Покупатели могли изучить представленную информацию, скачивать информационные материалы, регистрироваться на проводимые мероприятия, устанавливать деловые контакты с Компаниями, получать предложения Компаний.
                    </p>
                    <p>
                        1.4. Все Участники сервиса проходят регистрацию на сайте. Использование псевдонимов при регистрации не допускается. Администрация имеет право проверить данные, введенные при регистрации. Если обнаружится, что указаны недостоверные сведения о себе, то такому участнику будет отказано в регистрации. Поля, обязательные для заполнения, помечены звездочкой (*) Администрация сервиса вправе отказать в регистрации без объяснения причин.
                            Регистрируясь, вы соглашаетесь с этическими нормами поведения, нарушение которых ведет к исключению из числа зарегистрированных участников. Регистрируясь, вы соглашаетесь на получение служебной и другой информации от Администрации сервиса.
                    </p>

                    <br /><br />
                    <p style="font-weight: bold">2. Этические нормы поведения</p>

                    <p>
                        2.1. Сервис является рекламно-маркетинговой площадкой для Компаний, которые зарегистрировались и разместили здесь свою информацию. Все Компании будут знать, кто совершил те или иные действия на страницах отображения их информации - скачал информационный материал или программу мероприятия, зарегистрировался на мероприятие или сделал заказ материала. Покупатели, совершившие эти действия, добровольно соглашаются на право Компаний использовать их данные для последующих рассылок им дополнительной информации. Рассылка может осуществляться как непосредственно по электронной почте ( в случае заказов материалов и регистраций на мероприятия), так и через отсылку предложений в офисы Покупателей (в случае скачивания материалов или программ мероприятий).
                    </p>
                    <p>
                        2.2.Компании соглашаются, что получение контактной информации от Покупателя, налагает на них обязательства по неразглашению этой информации третьим лицам.
                    </p>
                    <p>
                        2.3. Информация о потенциальных клиентах (Покупателях) и их действий является информацией для анализа программы продвижения  своих продуктов или услуг и выстраивания отношений со своими потенциальными клиентами, а не руководством к действиям - частой рассылке повторных предложений. Компании принимают на себя обязательства корректного общения с потенциальными клиентами (Покупателями) - не злоупотреблять своими предложениями, не высылать рекламные предложения третьих лиц, не предлагать своих услуг тем, кто в них не нуждается.
                    </p>
                    <p>
                        2.4. Все зарегистрированные участники воздерживаться от недоброжелательных сообщений и оскорблений по отношению к другим участникам.
                    </p>
                    <p>
                        2.5. Участники сервиса должны взаимно соблюдать требования конфиденциальности и безопасности пересылаемой информации.
                    </p>
                    <p>
                        2.6. Считается, что информация представленная участниками при регистрации не является конфиденциальной. Любая другая информация, созданная участниками, также не является конфиденциальной и открыта для зарегистрированных участников сервиса.
                    </p>
                    <p>
                        2.7. Индивидуальная статистическая и финансовая информация о каждом конкретном участнике является конфиденциальной и разглашению не подлежит.
                    </p>
                    <br /><br />
                    <p style="font-weight: bold">3. Условия размещения информации на сайте</p>
                    <p>
                        3.1.Компании размещают информацию на Сайте на условиях, определяемых настоящим Соглашением.
                    </p>
                    <p>
                        3.2. Соглашение вступает в силу после выражения Компанией  согласия с его условиями в форме нажатия кнопки "согласен с пользовательским соглашением", помещенной на страницах регистрации. В противном случае доступ к работе на сайте невозможен.
                    </p>
                    <p>
                        3.3. Компания (представитель компании)  самостоятельно размещает информацию на сайте сервиса. Информация не должна содержать сведения запрещенного характера. Размещенная информация должна соответствовать заявленной, названия материалов и содержание загруженных файлов должны соответствовать друг другу. Ответственность за достоверность информации несут Компании. Администрация сайта не несет ответственности за достоверность информации.
                    </p>
                    <br />
                    На сервисе запрещается размещать материалы с информацией следующего характера:
                    <br />
                    <p>- Ложная, некорректная или вводящая в заблуждение информация;</p>
                    <p>- Информация, противоречащая 18-й статье Федерального Закона «О рекламе»;</p>
                    <p>- Порнография,</p>
                    <p>- Обучение магии и различным видам психического воздействия на личность человека;</p>
                    <p>- Сомнительные медицинские услуги (лечение на расстоянии,магия,колдовство  и т.п.)</p>
                    <p>- Лотереи;</p>
                    <p>- Поддельные лекарства, часы, одежда и прочее;</p>
                    <p>- Сообщения, созданные с нарушением авторских и смежных прав, использованием чужих торговых марок;</p>
                    <p>- Реклама почтовых и электронных спам-рассылок;</p>
                    <p>- Реклама от имени других людей или организаций;</p>
                    <p>- Финансовые пирамиды и МЛМ бизнес;</p>
                    <p>- Реклама быстрых и легких способов заработка;</p>
                    <p>- Терроризм;</p>
                    <p>- Разжигание национализма;</p>
                    <p>- Любая другая информация, запрещенная Законодательством РФ;</p>
                    <br />
                    <p>
                        В случае размещения на сайте вышеперечисленной информации и запрещенной Законодательством РФ или не отвечающей политике проекта, информация будет немедленно удалена.
                    </p>
                    <br />

                    <p>
                        3.4. Компании, присоединившиеся к данному Соглашению и разместившие информацию на сайте, безвозмездно передают Администрации следующие не исключительные имущественные права в отношении информации:
                    </p>
                    <p>- право на воспроизведение;</p>
                    <p>- право на распространение;</p>
                    <p>- право на публичный показ;</p>
                    <p>- право на доведение до всеобщего сведения;</p>
                    <br />
                    <p>
                        Указанные права передаются Компаниями Администрации только для целей настоящего Соглашения, то есть для размещения информации на Сайте. Администрация имеет право использовать их в бесплатных рассылках проекта, для размещения на партнерских сайтах, в качестве рекламных материалов проекта.
                    </p>

                    <p>
                        3.6. Использование информации Компании Администрацией возможно только при обязательном указании авторства информации.
                    </p>
                    <p>
                        3.7. До тех пор, пока не установлено иное, все личные имущественные и не имущественные права на информацию принадлежат разместившим их Компаниям. Компании предупреждены об установленной действующим законодательством Российской Федерации ответственности за неправомерное использование и размещение чужих материалов. В случае если будет установлено, что разместивший информацию , не является их правообладателем, эта информация будет немедленно изъята из свободного доступа по первому требованию законного правообладателя.
                    </p>
                    <p>
                        3.8. Администрация имеет право отказать любой Компании в размещении информации, если ее содержание противоречит нормам этики и морали, специфике информации, размещаемой на сервисе, а также не соответствует требованиям действующего законодательства Российской Федерации и внутренней политике Администрации Сервиса.
                    </p>
                    <br /><br />
                    <p style="font-weight: bold">4. Заключительные положения</p>
                    <p>
                        4.1. Соглашение является юридически обязывающим договором между Участниками и Администрацией и регламентирует условия размещение информации на Сайте. Данное соглашение не регулирует финансовых отношений между Участниками и Администрацией. Финансовые отношения регулируются публичной офертой.
                    </p>
                    <p>
                        4.2.. Все возможные споры по поводу Соглашения разрешаются согласно нормам Российского права.
                    </p>
                    <p>
                        4.3. Лицо, считающее, что его права и интересы нарушены из-за действий Администрации или третьих лиц в связи с размещением на Сервисе какой-либо информации, направляет претензию по электронной почте 001@promoterminal.ru. Информация будет изъята из свободного доступа по первому требованию законного правообладателя.
                    </p>
                    <p>
                        4.4. Участники соглашаются  с тем, что Администрация вправе в любой момент в одностороннем порядке изменить условия настоящего Пользовательского соглашения. Использование сервиса, после внесения Администрацией изменений в Пользовательское соглашение означает согласие Участников с такими изменениями. Наиболее актуальная версия Соглашения находится на странице по адресу: http://www.promoterminal.com/base/pages/Index/UserAgreement.html
                    </p>
                    <p>
                        4.5. В случае принятия нормативно-правовых актов органами власти Российской Федерации, затрагивающих целиком или в части функционирование Сервиса, Администрация сохраняет за собой право любых изменений в функционировании Сервиса, направленных на приведение последнего в соответствие с новыми нормами.
                    </p>
                </div>
    </div>
{% endblock %}