
           {% include 'Paginator.html' %}
            {% for id ,attr in content.items %}

                <a href="{% url "news:detail" attr.SLUG.0 %}">alo{{ attr.NAME.0 }}</a>
                       {% endfor %}
            <ul class="walllist">
            	<li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
                <li>
                	<h3><a href="#">Название блока</a></h3>
                    <div class="thumb"><img src="img/prd.jpg" alt="" /></div>
                    <div class="desc">
                    	<p class="date">
                            <img src="img/flag.jpg" alt="" class="flag" />
                            Страна, Дата: 14 июня 2014 года
                        </p>
                        <p>Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись обнаружила на Youtube видеозапись Подробнее...</p>
                        <p class="linkmore"><a href="#">Подробнее...</a></p>
                    </div>
                </li>
            </ul>
          {% include 'Paginator.html' %}