{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}
{% isSiteOrganizationTpp as isOrg %}

<div class="companyinfo"><div style="margin: 0 15% 0 15%;">{% footer_text %}</div></div>
<div class="footer">
	<div class="wrapper">
    	<i class="logofooter imgmain"></i>
        <div class="adress">
            {% if not isOrg %}
        	    <h3>{% trans "Member of" %} {% getTppName %}</h3>
            {% endif %}

            ©2011 - 2014 Тпп-Центр - центр торгово0промышленных палат, ассоциаций, собзов и гильдий предпринимателей и промышленников.
        </div>
        <div class="ads"><img style="width: 540px;height: 85px;" src="{% static "usersites/img/b24logo.jpg" %}"/></div>
    </div>
</div>
<div class="tophead">


</div>