{% load CustomFilters %}
<div class="companyinfo">Сегодня днём компания Canonical неожиданно заявила о прекращении поддержки One. Тел: +9722722502237  Fax:  +9722722502237  Меил: migraox@gmail.com</div>
<div class="footer">
	<div class="wrapper">
    	<i class="logofooter imgmain"></i>
        <div class="adress">
        	<h3>Участник Деловой Центр Израиля</h3>
            ©2011 - 2014 Тпп-Центр - центр торгово0промышленных палат, ассоциаций, собзов и гильдий предпринимателей и промышленников.
        </div>
        <div class="ads">{% footer_text %}</div>
    </div>
</div>
<div class="tophead">

</div>