{% extends 'base.html' %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
	{{ title }}
{% endblock %}

{% block header %}
	{% getUserSitTopMenu %}
{% endblock %}

{% block body %}

	{% block slider %}
		{% getUserSiteSlider %}
	{% endblock %}
    
	{% block content %}
		{{ contentPage }}
	{% endblock %}
    
     {% isSiteOrganizationTpp as isOrg %}
        {% if isOrg %}
            {% userSitegetTopOnPage %}
        {% endif %}
{% endblock %}

{% block footer %}
	{% include 'footer.html' %}
{% endblock %}