{% extends 'base.html' %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}

{% isSiteOrganizationTpp as isOrg %}

{% block title %}{{ title }}{% endblock %}

  {% block header %}
       {% getUserSitTopMenu %}
    {% endblock %}

  {% block styles %}
    {{ block.super }}
    {% if isOrg %}
        <link type="text/css" rel="stylesheet" href="{% static "usersites/css/reset-adv.css" %}"/>
    {% endif %}
  {% endblock %}


  {% block body %}

<div class="main">
	<div class="wrapper">
    	<div class="menutop">
        	<div class="linkleft">
            	<a href="{% detail_page_to_tppcenter "project:about" %}">{% trans "About" %}</a>|<a href="{% detail_page_to_tppcenter "project:offer" %}">{% trans "Services" %}</a>|<a href="{% detail_page_to_tppcenter "project:faq" %}">{% trans "Help" %}</a>
            </div>
            <div class="signup">
            	<i class="i-lock imgmain"></i>
                <a href="#">{% trans "Sign in" %} </a>
            </div>
            <div class="notify none">
                <span><i class="imgmain i-note"></i></span>
                <span><i class="imgmain i-mail"></i></span>
                <span>
                    <i class="imgmain i-user" id="showevent"></i>
                </span>
                <span><i class="imgmain i-book"></i></span>
            </div>
        </div>
      {% block sidebar %}
           {% getUserSiteMenu %}

        {% endblock %}
        <div class="mainright">
        {% block slider %}
           {% getUserSiteSlider %}

            {% endblock %}

           {% block content %}

               <span style="padding-left: 225px;font-size: large;color: red;">{{ responseMessage }}</span>
            <h1 class="titlepage">{{ current_section }}</h1>


       {{ contentPage }}

                   {% endblock %}
        </div>
        {% if isOrg %}
            {% userSitegetTopOnPage %}
        {% endif %}
    </div>
</div>
  {% endblock %}


{% block footer %}
   {% include 'footer.html' %}
 {% endblock %}