{% extends 'base.html' %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}



{% block title %}{{ title }}{% endblock %}

  {% block header %}
       {% getUserSitTopMenu %}
    {% endblock %}

  {% block styles %}
    {{ block.super }}
     {% isSiteOrganizationTpp as isOrg %}
    {% if isOrg %}
        <link type="text/css" rel="stylesheet" href="{% static "usersites/css/reset-adv.css" %}"/>
    {% endif %}
  {% endblock %}


  {% block body %}

<div class="main">
	<div class="wrapper" style="width:1200px;">

      {% block sidebar %}
           {% getUserSiteMenu %}

        {% endblock %}
        <div class="mainright" style="float: left;">
        {% block slider %}
           {% getUserSiteSlider %}

            {% endblock %}

           {% block content %}

               <span style="padding-left: 225px;font-size: large;color: red;">{{ responseMessage }}</span>
            <h1 class="titlepage">{{ current_section }}</h1>


       {{ contentPage }}

                   {% endblock %}
        </div>
       {% block right_banner %}
           {% include "right_banner.html" %}

        {% endblock %}
        {% isSiteOrganizationTpp as isOrg %}
        {% if isOrg %}
            {% userSitegetTopOnPage %}
        {% endif %}
    </div>
</div>
  {% endblock %}


{% block footer %}
   {% include 'footer.html' %}
 {% endblock %}