{% load i18n %}
{% load CustomFilters %}
{% is_chamber_site as is_chamber %}
{% load cache %}
<div class="sidebar">
    <a href="/"><i class="" id="logo"><img src="{{ site.user_site.logo.big }}"/></i></a>
    <select id="lang_select" style="height: 29px;width: 220px;" >
        <option>{% trans 'Mother tongue' %}</option>
        <option value="am">Armenian</option>
        <option value="ar"> Arabic </option>
        <option value="en">English</option>
        <option value="he">עברית</option>
        <option value="ru">Русский</option>
        <option value="zh">Chinese</option>
    </select>

    <script>
        $(document).ready(function() {
            var path = (window.location.host).split('.');
            path = path[0];

            $("#lang_select").find('option').each(function( i, opt ) {
                if( opt.value === path )
                    $(opt).attr('selected', 'selected');
            });

            $("#lang_select" ).change(function(e) {
                if(!$(this).val())
                    return;

                path = (src).split('.');
                var languages = ["am","ar","en","he","ru","zh"];

                if ($.inArray(path[0], languages) > -1) {
                    path[0] = $(this).val();
                }
            });
        });

        $( "#lang_select" ).change(function(e) {
            if (!$( this ).val())
                return;

            path = (window.location.host).split('.');

            if (path[0] == 'www'){
                delete path[0]
            }

            var languages = ["am", "ar", "en", "he", "ru", "zh"];
            if($.inArray(path[0], languages)>-1){
                path[0] = $(this).val();
            }

            window.location.href = window.location.protocol + "//" + path.join('.');
            /*
            if (path.length > 2){
                            host = path[0] + '.' + path[1] + "." + path[2]
                        }else{
                            host = window.location.host
                        }
                         if (window.location.pathname.length > 1) {
                             path = window.location.pathname.split("/");


                             if ($.inArray(path[1], languages) > -1) {
                                 path[1] = $(this).val()
                             }

                             if (path.length > 0) {
                                 path = path.join("/");
                             }
                         }
                         else{
                             path = "/" +  $(this).val() + "/";
                         }
                        window.location.href =window.location.protocol + "//" + host  +
                                path + window.location.search + window.location.hash;
            */
        });
        </script>

    <div class="search">
        <input type="text" name="" placeholder="{% trans 'Search' %}…" class="text" />
        <input type="button" name="" class="btns imgmain" />
    </div>

    <ul class="categories">
        <li><a href="{% url main %}">{% trans 'Main' %}</a></li>
        <li><a href="{% url news:main %}">{% trans 'Company news' %}</a></li>
        <li><a href="{% url proposal:main %}">{% trans 'Business proposals' %}</a></li>
        {% if not is_chamber %}
            {% if site.user_site.organization.b2c_products.exists %}
                <li><a href="{% ulr products:main %}">{% trans 'B2C Products' %}</a></li>
            {% endif %}

            {% if site.user_site.organization.b2c_products.exists %}
                <li><a href="{% url products:main %}">{% trans 'B2B Products' %}</a></li>
            {% endif %}
        {% endif %}
        {% comment %}
            {% for page in site.user_site.organization.additional_pages %}
                <li><a href="{% url page:detail page.slug page.pk %}">{{ page.title }}</a></li>
            {% endfor %}
        {% endcomment
        {% if site.user_site.organization.galleries.exists %}
            <li><a href="{% url gallery:main %}">{% trans 'Gallery' %}</a></li>
        {% endif %}
        <li><a href="{% url pages:structure %}">{% trans 'Company structure' %}</a></li>
        <li><a href="{% url pages:contacts %}">{% trans 'Contact us' %}</a></li>
    </ul>
</div>
