  <div class="sidebar">
        	<a href="#"><i class="imgmain" id="logo"></i></a>
            <div class="bgcart">
            	<i class="iconcart imgmain"></i>
                <b>В вашей корзине 0 товаров</b>
				на сумму 0.00 руб.
            </div>
            <div class="search">
            	<input type="text" name="" placeholder="Поиск…" class="text" />
                <input type="button" name="" class="btns imgmain" />
            </div>
            <ul class="categories">
            	<li><a href="#">Главная</a></li>
                <li><a href="#">Наши проекты в СНГ</a></li>
                <li><a href="#">Новости компании</a></li>
                <li><a href="#">Статьи</a></li>
                <li><a href="#">Бизнес предложения</a></li>
                <li><a href="#">Магазин</a></li>
                <li><a href="#">Фотогалерея</a></li>
                <li><a href="#">Структура</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>