{% load i18n %}
{% load staticfiles %}
            <div class="slidehome">
            	<ul class="slide">
                	<li><img src="{% static "usersites/img/slide/slide-1.jpg" %}" alt="" /></li>
                    <li><img src="{% static "usersites/img/slide/slide-2.jpg" %}" alt="" /></li>
                    <li><img src="{% static "usersites/img/slide/slide-3.jpg" %}" alt="" /></li>
                </ul>
                <div class="register">
                    <div class="title">
                        <p><b>Зарегистрируйтесь</b></p>
                    </div>
                    <ul class="formregister">
                        <li><input type="text" name="" class="text" placeholder="E-mail" /></li>
                        <li><input type="text" name="" class="text" placeholder="Пароль" /></li>
                        <li><input type="text" name="" class="text" placeholder="Повторите пароль" /></li>
                        <li class="end"><a href="#" class="btnreg">Зарегистрироваться</a></li>
                    </ul>
                </div>
            </div>