{% load i18n %}{% load staticfiles %}
{% load CustomFilters %}

<div class="main-navbar">
    <nav role="navigation" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
{#                {% if site.user_site.logo %}#}
                    <img src="{{ site.user_site.logo.big }}" alt="">
{#                {% else %}#}
{#                  <img src="{% static 'b24online/img/item.jpg' %}" alt="" />#}
{#                {% endif %}#}
              </a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
        <div>
            <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'b2c_products:basket' %}"><span class="glyphicon glyphicon-shopping-cart"></span>{{ request|basket_quantity }}</a></li>
                    <li>
                        <div class="tmp_search  top_search clearfix">
                            <form action="{% url 'b2c_products:search' %}">
                                <input type="text" placeholder="Search" name="s">
                            </form>
                        </div>
                    </li>
                </ul>
        </div>

            <ul class="nav navbar-nav">
                    <li><a href="{% url 'main' %}">{% trans 'Home' %}</a></li>
                    <li><a href="{% url 'pages:about' %}">{% trans 'About us' %}</a></li>

                    {% if not is_chamber %}
                        {% if site.user_site.organization.b2c_products.exists %}
                            <li><a href="{% url 'b2c_products:main' %}">{% trans 'B2C Products' %}</a></li>
                        {% endif %}
                    {% endif %}

                    {# here need to check if there are coupons and add to the menu #}
                    {% if site.user_site.organization.b2c_coupons %}
                        <li><a href="{% url 'b2c_products:main' %}">{% trans 'B2C Coupons' %}</a></li>
                    {% endif %}

                    {% if site.user_site.organization.proposals.exists %}
                        <li><a href="{% url 'proposal:main' %}">{% trans 'Business proposals' %}</a></li>
                    {% endif %}

                    {% if site.user_site.organization.news.exists %}
                        <li><a href="{% url 'news:main' %}">{% trans 'Company news' %}</a></li>
                    {% endif %}

{#                    {% if site.user_site.organization.galleries.exists %}#}
{#                        <li><a href="{% url 'pages:gallery' %}">{% trans 'Gallery' %}</a></li>#}
{#                    {% endif %}#}

                    <li><a href="{% url 'pages:contacts' %}">{% trans 'Contact us' %}</a></li>

                    <!-- A language list - loading the available ones. -->
                    <li class="dropdown select-lang">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-flag"><span><b class="caret"></b></a>
                            <div class="select -lang dropdown-menu">
                                <form>
                                    <select name="lang" id="lang_select">
                                        <option>{% trans 'Mother tongue' %}</option>
                                        {% get_available_languages as LANGUAGES %}
                                        {% for code, lang in LANGUAGES %}
                                            <option value="{{ code }}">{{ lang }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>

                    </li>
            </ul>

        </div>
    </div>
    </nav>
</div>