{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block html_title %}{% trans 'Your basket' %}{% endblock %}
{% block title %}{% trans 'Your basket' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/extra.css' %}" />
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}
<div class="goods-details">
    <div class="data">
        <h1>{% trans 'Your basket' %}</h1>
        <hr class="hr-divider-one">
        <div class="data">
            <form action="" method="post">
            {% csrf_token %}
            {{ item_formset.management_form }}
            {% for deal_order in object_list %}
            <div class="data">
                {% with deal_order.get_customer as customer %}
                <h2>{{ deal_order }} for
                  <a href="{{ customer.get_absolute_url }}">{{ customer }}</a>
                </h2>
                {% endwith %}
                <hr class="hr-divider-two">
                <div class="data">
                <table width="100%" cellspacing="2" cellpadding="2"
                    border="0" class="table-data">
                    <tr>
                      <th>{% trans 'Product supplier' %}</th>
                      <th>{% trans 'Deal date' %}</th>
                      <th>{% trans 'Total deal cost' %}</th>
                      <th>{% trans 'Pay for deal' %}</th>
                      <th>{% trans 'Product' %}</th>
                      <th>{% trans 'Product price' %}</th>
                      <th>{% trans 'Product amount' %}</th>
                      <th>{% trans 'Delete item' %}</th>
                    </tr>
                    {% for deal in deal_order.get_draft_deals %}
                      {% with deal.get_items as items %}
                      {% get_length items as items_len %}

                      {% for deal_item in deal.get_items %}
                      {% with item_formset_dict|get_item:deal_item.pk as item_form %}
                      {% for hidden in item_form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                      <tr valign="top">
                        {% if forloop.first %}
                        <td rowspan="{{ items_len }}">
                          {{ deal.supplier_company.name }}
                        </td>
                        <td rowspan="{{ items_len }}">
                          {{ deal.created_at|date:"d M Y H:i" }}
                        </td>
                        <td rowspan="{{ items_len }}" align="center" nowrap>
                          {% if deal.total_cost %}
                            <span class="bolded">
                              {{ deal.currency|getSymbol }}&nbsp;{{ deal.total_cost }}
                            </span>
                          {% else %}
                            -
                          {% endif %}
                        </td>
                        <td rowspan="{{ items_len }}" align="center" nowrap>
                          <a class="mediumbuy" href="{% url 'products:deal_payment' deal.pk %}" >{% trans 'Order by Email' %}</a>
                          {% if deal.supplier_company.company_paypal_account %}
                          <br/><br/>
                          <a class="mediumbuy" href="{% url 'products:deal_paypal' deal.pk %}" >{% trans 'Pay by Paypal' %}</a>
                          {% endif %}
                        </td>
                        {% endif %}
                        <td><a href="{{ deal_item.item.get_absolute_url }}">{{ deal_item.item.name }}</a></td>
                        <td align="center" nowrap>
                          {% if deal_item.cost %}
                            {{ deal_item.currency|getSymbol }}&nbsp;{{ deal_item.cost }}
                          {% else %}
                            -
                          {% endif %}
                        </td>
                        <td align="center">{{ item_form.quantity }}</td>
                        <td align="center">{{ item_form.DELETE }}</td>
                      </tr>
                      {% endwith %}
                      {% endfor %}
                      {% endwith %}
                    {% endfor %}
                    <tr class="without-border">
                      <td colspan="6">&nbsp;</td>
                      <td colspan="2" align="right">
                        <input type="submit" name="update" value="{% trans 'Save changes' %}">
                      </td>
                    </tr>
                </table>
                </div>
            </div>
            {% endfor %}

            </form>
        </div>
        <div class="data">
            <h1>{% trans 'Total basket cost' %}</h1>
            <hr class="hr-divider-one">
            {% if total_cost_data %}
                {% for currency, cost in total_cost_data.items %}
                    <div class="detailinfo">
                        <label>{{ currency }}:</label>{{ cost }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}
