{% load i18n %}

<div class="container-fluid" id="adviser_chat">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <form id="new_message_form" action="{% url 'messages:add_to_chat' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-group">
                        <label for="recipient" class="required">{{ new_message_form.recipient.label }}</label>
                        {{ new_message_form.recipient }}
                        <span id="id_recipient_errors" class="field-error help-inline error-hidden"></span>
                    </div>
                    <div class="form-group">
                        <label for="subject">{{ new_message_form.subject.label }}</label>
                        {{ new_message_form.subject }}
                        <span id="id_subject_errors" class="field-error help-inline error-hidden"></span>
                    </div>
                    <div class="form-group">
                        <label for="content" class="required">{{ new_message_form.content.label }}</label>
                        {{ new_message_form.content }}
                        <span id="id_content_errors" class="field-error help-inline error-hidden"></span>
                    </div>
                    <div class="form-group">
                        <label for="attachment">{{ new_message_form.attachment.label }}</label>
                        {{ new_message_form.attachment }}
                        <span id="id_attachment_errors" class="field-error help-inline error-hidden"></span>
                    </div>
                </div>
                <button id="adviser_save_message" class="btn btn-primary btn-sm">{% trans 'Send message' %}</button>
            </form>
        </div>
    </div>
</div>            

<script type="text/javascript">
    $(document).on('click', '#adviser_save_message', function(e) {
        e.preventDefault(); 
        var processed_form = $(this).parents('form:first');
        $(processed_form).find('.field-error').empty().addClass('error-hidden');
        $(processed_form).find('.form-group .has-error').removeClass('has-error');
        $(processed_form).ajaxSubmit({
            url: this.href,
            type: 'post',
            success: function(data) {
                $(this).prop('disabled', true);
                if (data.code == 'error') {
                    $.each(data.errors, function(field_name, field_errors) {
                        var fieldId = '#id_' + field_name,
                            fieldErrorId = fieldId + '_errors',
                            field = $(fieldId),
                            fieldError = $(fieldErrorId),
                            fieldParentDiv = $(field).parent();
                        
                        $(fieldError).html(field_errors); 
                        $(fieldError).removeClass('error-hidden');
                        $(fieldParentDiv).addClass('has-error');
                    });
                } else if (data.code == 'success') {
                    $(processed_form).clearForm();
                    window.location.href = '/messages/';
                }
                $(this).prop('disabled', false);
            }
        });
        return false;
	});
    
</script>
