{% load i18n staticfiles %}

<form id="new_message_form" action="{% url 'messages:add_to_chat' %}" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<div class="panel panel-default panel-adviser">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans 'Online adviser' %}</h3>
        <span class="pull-right clickable" data-effect="fadeOut"><i class="fa fa-times"></i></span>
    </div>
    <div class="panel-body" style="padding: 2px;">
        <div id="message_recipient">{{ new_message_form.recipient }}</div>
        <div id="chat_content" style="margin-top: 10px; max-height: 300px; min-height:300px; overflow-y: scroll;"></div>
    </div>
    <div class="panel-footer">
        <div style="width: 70%; float:left;">
            {{ new_message_form.content }}
        </div>
        <div style="width: 25%; float: right;">
            <button id="adviser_save_message"><img src="{% static 'usersites/images/enter.png' %}" width="24px"></button>
            <button id="attach_file_button"><img src="{% static 'usersites/images/attach.png' %}" width="24px"></button>&nbsp;
            <input id="attach_file_field" type="file" style="display: none;">
        </div>
        <div style="clear:both;"></div>
    </div>
</div>
</form>

<script type="text/javascript">
    {% with new_message_form.get_staff_avatars as avatars %}
    var userAvatars = {
        {% for user_id, user_avatar in avatars.items %}'{{ user_id }}' : '{{ user_avatar }}',{% endfor %}
    };
    {% endwith %}

    var ACTION_HREF = $('new_message_form').attr('action');

    function formatOption(opt) {
        if (opt.id) { 
            var optId = opt.id.toString();
            if (optId in userAvatars) {
                return '<img src="' + userAvatars[optId] + '">&nbsp;' + opt.text;
            } else {
                return '<img src="static/b24online/img/profile_24x24.jpg">&nbsp;' + opt.text;
            }
        }
        return opt.text;
    }

    $(document).on('click', '#adviser_save_message', function(e) {
        e.preventDefault(); 
        $(this).prop('disabled', true);
        var processedForm = $(this).parents('#new_message_form');
        $(processedForm).find('.field-error').empty().addClass('error-hidden');
        $(processedForm).find('.form-group .has-error').removeClass('has-error');
        $(processedForm).ajaxSubmit({
            url: ACTION_HREF,
            type: 'post',
            success: function(data) {
                if (data.code == 'error') {

                } else if (data.code == 'success') {
                    $(processedForm).clearForm();
                    // Если чат создан, меняем ссылку
                    if ('chat_id' in data) {
                        ACTION_HREF = '/messages/chats/' + data['chat_id'] + '/add/';
                        console.log('OKOKOK');
                        console.log(ACTION_HREF);
                    }                
                    // Если был выбран получатель
                    if ('recipient_name' in data) {
                        $('#message_recipient').html(data['recipient_name']);
                    }
                    
                    if ('message_text' in data) {
                        console.log(data.message_text);
                    }
                }
                
            }
        });
        $(this).prop('disabled', false);
        return false;
	});

    $(document).on('click', '#attach_file_button', function(e) {
        e.preventDefault(); 
        $('#attach_file_field').click();
        return false;
	});
    
</script>
