{% load i18n %}
{% load CustomFilters %}

                  {% resolve items_perms obj.pk|slugify as permlist %}
                   {% if delete_perm in  permlist or change_perm in permlist%}
                        <div class="blockbox">
                            <a href="#"><i class="btn-afisha imgnews"></i></a>
                            <div class="localmenu">
                                {% if change_perm in permlist %}
                                     <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url url_namespace|add:':update' obj.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>

                                {% endif %}
                                {% if top_perm and top_perm in permlist %}
                                     <div class="tender-action"><i class="imgnews noty icon-action"></i><a href="{% url 'adv_top:top_form' obj.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'Advertise' %}</span></a></div>
                                     {% if set_current %}
                                          <div class="tender-action"><i class="imgnews sett icon-action"></i><a href="{% url 'setCurrent' obj.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'set current' %}</span></a></div>
                                     {% endif %}
                                {% endif %}
                                {% if delete_perm and delete_perm in  permlist %}
                                     <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url url_namespace|add:":delete" obj.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                                {% endif %}
                            </div>
                        </div>
                   {% endif %}