{% load staticfiles %}
{% load i18n %}

    {% for id, attr in notifDict.items %}
        {% with attr.DETAIL_TEXT|first as message  %}

        <li data-id="{{ id }}">

            <img src="{% static 'tppcenter/img/imgnone.png' %}" class="image" alt="" />
            <div class="info">{{ message }}</div>
        </li>


        {% endwith %}
    {% empty %}
        <li data-id="{{ id }}">
            {% trans "No results found" %}
        </li>
    {% endfor %}

    {% if lastLine %}
        <li class="last"></li>
    {% endif %}


