/* style.css and he_style.css is styling the direction of the site. */
@charset "utf-8";

/*---------- General Styling ----------*/
body{
	direction: rtl;
}

.btn-default{
    float: left;
}

/* ----------- Navigation Styling -------------------- */
.navbar-header{
	float: right;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .navbar-header{
        float: none;
    }
}

.navbar-collapse{
    clear: left;
	margin-left: 0;
	float: left!important;
}

.navbar-nav{
	float: left!important;
	clear: left;
}

.navbar-nav>li{
	float: right;
}

.top-search-nav-xs{
    float: right!important;
    clear: none;
    margin-right: 10px;
    padding-left: 10px;
}

.overlay {
    right: 0;
}

.top-nav .social-header {
    float: left;
}

.top-search-block {
    float: left;
}



.social-header .button{
	float: right;
}

.social-header{
    float: left!important;
}

.tel{
    float: right;
}


/* ----------- Proposal Styling -------------------- */

.proposal-thumb .btn-default {
    float: left;
}

.proposal-link{
    float: left;
}

.proposal-link span{
    float: right;
    padding-left: 5px;
}

/* ----------- News Styling -------------------- */
.news-main{
    float: right;
}

.news__img{
    float: right;
    /*padding-left: 10px;*/
    /*margin: 20px 0 20px;*/
}

.about-main{
    float: left;
}

.media-list .media-wrap{
    float: right;
}

/* ----------- Coupons Styling -------------------- */
.coupon-div{
	float: right;
}

.main-video .media,
.gal-item{
    float: right;
}

/* ----------- Product Styling -------------------- */

.category{
    float: left;
    padding-left: 10px;
}

.btn-mail-order{
    float: left;
}

.dec,
.inc{
    float: none;
}

.product__btn{
	float: none;
}

.product{
    float: right;
}

#product-page-slider #slider-thumbs .thumbnails li{
	float: right!important;
}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		float: left;
	}

	.navbar-default .navbar-toggle {
		float: left;
	}

	.top-nav .pull-right{
		float: left!important;
	}

	.coupon-timer p{
        float: right;
    }

	.coupon .product__title{
		float: right;
	}

	.coupon .product__discount{
		float: left;
	}

    .user-reg{
        float: right;
    }
}
/* ----------- Contact Styling -------------------- */

.main-contact .control-group{
	text-align: right;
}

.contact-info{
	float: right;
}

.contact-fields{
	float: right;
}

/* ----------- Counter Styling -------------------- */

/*---------- Footer Styling ----------*/
.footer-col span{
	padding-left: 10px;
}

.footer-col{
    float: right;
}

/*---------- Banner Advertisment Styling ----------*/
/* The banner above the footer */


/* ----------- Product list Styling -------------------- */
.item-page__coupon div{
	float: right;
	padding-right: 15px;
}

.item-page{
	float: right;
}

.item-price-table{
	float: left;
}

/*---------- table Styling ----------*/
/* The bable is used in the cart page to display the shoppings table */
.pay{
    float: left;
}

/*---------- Member banner Styling ----------*/
.membership-banner__member {
    float: right;
}

.membership-banner__member-text {
    float: none;
}

.membership-banner__member img {
    float: right;
}

@media(max-width:767px) {
    .navbar-header {
        float: none;
    }

    .navbar-brand {
        float: right;
    }

    .small-navbar{
        float: right!important;
    }
}


/* Profile page design */
#profile-usersite-page .image-col{
	float: right;
}

#profile-usersite-page .profile-clumn .radio{
	float: right;
	padding-left: 15px;
}

#profile-usersite-page .profile-clumn .radio label{
	float: left;
	padding-right: 15px;
	vertical-align: middle;
}

.language-navi-dropdown {
    margin: -10px -101px 0 0;
    z-index: 99;
}

.main-contact-btn{
    float: right;
}