/* style.css and he_style.css is styling the direction of the site. */
@charset "utf-8";

/*---------- General Styling ----------*/
body{
	direction: rtl;
}

.btn-default{
    float: left;
}

/* ----------- Navigation Styling -------------------- */
.navbar-header{
	float: right;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .navbar-header{
        float: none;
    }
}

.navbar-collapse{
    clear: left;
	margin-left: 0;
	float: left!important;
}

.navbar-nav{
	float: left!important;
	clear: left;
}

.navbar-nav>li{
	float: right;
}

.top-search-nav-xs{
    float: right!important;
    clear: none;
    margin-right: 10px;
    padding-left: 10px;
}

.overlay {
    right: 0;
}

.top-nav .social-header {
    float: left;
}

.top-search-block {
    float: left;
}



.social-header .button{
	float: right;
}

.social-header{
    float: left!important;
}

.tel{
    float: right;
}


/* ----------- Proposal Styling -------------------- */

.proposal-thumb .btn-default {
    float: left;
}

.proposal-link{
    float: left;
}

.proposal-link span{
    float: right;
    padding-left: 5px;
}

/* ----------- News Styling -------------------- */
.news-main{
    float: right;
}

.news__img{
    float: right;
    padding-left: 10px;
    margin: 20px 0 20px;
}

.about-main{
    float: left;
}

/* ----------- Coupons Styling -------------------- */
.coupon-div{
	float: right;
}

.main-video .media,
.gal-item{
    float: right;
}

/* ----------- Product Styling -------------------- */

.category{
    float: left;
    padding-left: 10px;
}

.btn-mail-order{
    float: left;
}

.dec,
.inc{
    float: none;
}

.product__btn{
	float: none;
}

.product{
    float: right;
}

@media (max-width: 767px) {
	.navbar-default .navbar-toggle {
		float: left;
	}

	.navbar-default .navbar-toggle {
		float: right;
	}

	.top-nav .pull-right{
		float: left!important;
	}

	.coupon-timer p{
        float: right;
    }

	.coupon .product__title{
		float: right;
	}

	.coupon .product__discount{
		float: left;
	}

    .user-reg{
        float: right;
    }
}
/* ----------- Contact Styling -------------------- */

.main-contact .control-group{
	text-align: right;
}

.contact-info{
	float: right;
}

.contact-fields{
	float: right;
}

/* ----------- Counter Styling -------------------- */

/*---------- Footer Styling ----------*/
.footer-col span{
	padding-left: 10px;
}

.footer-col{
    float: right;
}

/*---------- Banner Advertisment Styling ----------*/
/* The banner above the footer */


/* ----------- Product list Styling -------------------- */
.item-page__coupon div{
	float: right;
	padding-right: 15px;
}

.item-page{
	float: right;
}

.item-price-table{
	float: left;
}

/*---------- table Styling ----------*/
/* The bable is used in the cart page to display the shoppings table */
.pay{
    float: left;
}

/*---------- Member banner Styling ----------*/
.membership-banner__member {
    float: right;
}

.membership-banner__member-text {
    float: none;
}

.membership-banner__member img {
    float: right;
}

@media(max-width:767px) {
    .navbar-header {
        float: none;
    }

    .navbar-brand {
        float: left;
    }

    .small-navbar{
        float: right!important;
    }
}


/* Profile page design */
#profile-usersite-page .image-col{
	float: right;
}

#profile-usersite-page .profile-clumn .radio{
	float: right;
	padding-left: 15px;
}

#profile-usersite-page .profile-clumn .radio label{
	float: left;
	padding-right: 15px;
	vertical-align: middle;
}




/*!*---------- Navigation Styling ----------*!*/
/*.navbar-nav{*/
	/*float: right!important;*/
    /*margin-right: 15px;*/
	/*margin-left: 0;*/
/*}*/

/*.navbar-collapse{*/
	/*clear: left;*/
/*}*/

/*.navbar-nav>li{*/
	/*float: right;*/
/*}*/

/*.cust-nav{*/
  /*top:50px;*/
  /*right:0px;*/
/*}*/

/*.cust-nav>.cust-nav__btn{*/
	/*float: right;*/
/*}*/

/*.navbar-toggle{*/
	/*float: left;*/
/*}*/

/*.navbar-brand{*/
	/*float: right;*/
	/*margin-left: 10px;*/
/*}*/

/*!*.navbar-collapse{*!*/
	/*!*float: left;*!*/
/*!*}*!*/
/*@media (min-width: 1200px) {*/
	/*.navbar-header {*/
		/*float: right;*/
	/*}*/
/*}*/

/*.navbar-right{*/
	/*float: left!important;*/
/*}*/
/*!*---------- Slider Styling ----------*!*/

/*.carousel-caption{*/
	/*bottom: 0;*/
	/*right: 10%;*/
/*}*/

/*!*---------- Special offer Styling ----------*!*/
/*.offer-content{*/
	/*float: right;*/
/*}*/

/*.offer-btn{*/
	/*float: left;*/
/*}*/

/*!*---------- about-banner Styling ----------*!*/
/*.about-main__movie{*/
	/*float: left;*/
/*}*/

/*.about-main__text{*/
	/*float: right;*/
/*}*/

/*!*---------- Products Styling ----------*!*/
/*.main-coupons{*/
	/*float: right;*/
/*}*/

/*.product{*/
	/*float: right;*/
/*}*/

/*.products-thumb .thumbnail .btn-bott{*/
    /*right: 0;*/
/*}*/



/*.product__price{*/
	/*right: 15px;*/
/*}*/

/*.coupon-timer{*/
	/*right: 15px;*/
/*}*/

/*.item h4 span,*/
/*.item h3 span{*/
	/*float: left;*/
/*}*/

/*.go-to-full{*/
	/*float: left;*/
/*}*/

/*.go-to-full:after{*/
	/*font-family: "Glyphicons Halflings";*/
  	/*!*content: "\e250";*!*/
  	 /*content:"\e251";*/
/*}*/

/*.page-products .thumbnail .btn-bott,*/
/*.main-products .thumbnail .btn-bott{*/
    /*margin: 10px 0px 10px 10px;*/
/*}*/

/*.banner-ad-main-collection{*/
	/*float: left;*/
/*}*/
/*!*---------- Coupons Styling ----------*!*/

/*.coupon-panel{*/
	/*float: right;*/
/*}*/

/*.coupon-panel__price{*/
    /*float: right;*/
    /*border-left-width: 1px;*/
    /*border-right: none;*/
/*}*/

/*.coupon-panel__date{*/
    /*float: right;*/
/*}*/

/*.price-after-coupon span.after-dis{*/
	/*padding-left: 50px;*/
/*}*/

/*.price-after-coupon .after-dis{*/
	/*float: right;*/
	/*padding-right: 40px;*/
/*}*/

/*.price-after-coupon .before-dis{*/
	/*float: left;*/
	/*padding-left: 40px;*/
/*}*/

/*.coupon{*/
	/*float: right;*/
/*}*/

/*!*---------- News Styling ----------*!*/
/*.proposal-link{*/
    /*float: left;*/
/*}*/


/*.main-news{*/
	/*float: left;*/
/*}*/

/*.main-news .img-pos,*/
/*.news__img{*/
	/*float: right;*/
	/*padding-left: 10px;*/
/*}*/

/*.news__img{*/
	/*padding-left: 20px;*/
/*}*/

/*.proposal{*/
	/*float: right;*/
/*}*/

/*.main-proposal{*/
	/*float: right;*/
/*}*/

/*.main-news{*/
	/*float: left;*/
/*}*/

/*.news__btn{*/
	/*float: left;*/
/*}*/


/*!*---------- Jobs Styling ----------*!*/
/*.jobs-content{*/
	/*float: right;*/
/*}*/

/*.jobs-btn{*/
	/*float: left;*/
/*}*/

/*.jobs-head:after{*/
	/*font-family: "Glyphicons Halflings";*/
  	/*content:"\e128";*/
/*}*/
/*!*---------- Banner Advertisment Styling ----------*!*/
/*.membership-banner__member{*/
	/*float: right;*/
/*}*/

/*.membership-banner__ad{*/
	/*float: left;*/
/*}*/

/*.membership-banner__member img{*/
	/*float: right; */
/*}*/

/*.membership-banner__member-text{*/
	/*float: right;*/
/*}*/

/*!*---------- Contact Styling ----------*!*/
/*.contact-info, .contact-fields{*/
	/*float: right;*/
/*}*/

/*!*---------- Footer Styling ----------*!*/
/*footer span{*/
	/*margin-left: 5px;*/
/*}*/

/*.footer-col{*/
	/*float: right;*/
/*}*/

/*!*---------- Item Styling ----------*!*/
/*.item{*/
	/*float: right;*/
/*}*/

/*.item-page{*/
	/*float: right;*/
/*}*/

/*.item-price-table{*/
	/*float: left;*/
/*}*/

/*.item-page__price span{*/
	/*padding-left: 20px;*/
/*}*/

/*.item-page__coupon div{*/
	/*float: right;*/
	/*padding-left: 30px;*/
/*}*/

/*!*---------- Counter Styling ----------*!*/
/*#timer-detail-page{*/
    /*float: right;*/
/*}*/

/*#timer-detail-page > div{*/
    /*float: left;*/
/*}*/

/*!*---------- Pagination Styling ----------*!*/
/*.pagination, .pagination>li{*/
	/*float: right;*/
/*}*/

/*!*---------- about Styling ----------*!*/
/*.about-img{*/
	/*float: right;*/
/*}*/

/*.about-text{*/
	/*float: left;*/
/*}*/

/*.top_search{*/
	/*float: left;*/
/*}*/

/*.paginator, .category{*/
	/*float: left;*/
/*}*/

/*.pagination li{*/
	/*float: left;*/
/*}*/
/*!*---------- table Cart Styling ----------*!*/
/*.pay{*/
	/*float: left;*/
/*}*/

/*th, td{*/
	/*text-align: right;*/
/*}*/

/*.cart-sum-field dt{*/
	/*float: right;*/
/*}*/

/*.cart-sum-field dd{*/
	/*float: left;*/
	/*margin-left: 50px;*/
/*}*/

/*.panel-footer .special_offer__btn{*/
	/*float: left;*/
/*}*/

/*!*---------- Banners Styling ----------*!*/
/*.banner-main-page img{*/
    /*padding: 0px 0px 10px 10px;*/
/*}*/

/*.banner-main-page{*/
	/*float: right;*/
/*}*/