{% extends 'usersites_templates/galil/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load humanize %}
{% load inclusionTags %}
{% load content_tags %}

{# including the slider. The slider will apear only on the main page. #}
{% block slider %}
       {% include 'usersites_templates/galil/slider.html' %}
{% endblock %}

{% block content %}

<section class="content__info grid-layout">

{#----------------------------#}

{#      <div class="container">#}
{#        <div class="col-md-12 full-banner">#}
{#          <img src="images/fullbanner.jpg" class="img-responsive" />#}
{#        </div>#}
{#        </div>#}

    <div class="container">

          <hr class="divider">

        </div>

{#-----------------------------#}

    <div class="container clearfix">
        <div class="row">

            {% check_banner_exist "SITES RIGHT 1" as right_banner_1 %}
            {% check_banner_exist "SITES RIGHT 2" as right_banner_2 %}
            {% check_banner_exist "SITES RIGHT 3" as right_banner_3 %}
            {% check_banner_exist "SITES RIGHT 4" as right_banner_4 %}

            {# 4 banners, will lead to categories or products #}
            {# Checking for coupons. With coupons the banners will take 50% of the screen and will be in 2 lines. #}
            {# Without coupons the banners will take 100% of the screen and will be i 1 line. #}

            {% if right_banner_1 %}
                <div class="col-md-12 col-sm-12 col-xs-12 banner-ad-main-collection">


                    {% if right_banner_4 %}

                        <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 1" %}
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                        {% site_banner "top" "SITES RIGHT 2" %}
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 3" %}
                        </div>

                        <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 4" %}
                        </div>

                    {% elif right_banner_3 %}

                        <div class="col-md-4 col-sm-4 col-xs-12 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 1" %}
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 banner-main-page">
                        {% site_banner "top" "SITES RIGHT 2" %}
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-12 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 3" %}
                        </div>

                    {% elif right_banner_2 %}

                        <div class="col-md-6 col-sm-6 col-xs-6 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 1" %}
                        </div>

                        <div class="col-md-6 col-sm-6 col-xs-6 banner-main-page">
                        {% site_banner "top" "SITES RIGHT 2" %}
                        </div>

                     {% elif right_banner_1 %}

                        <div class="col-md-12 col-sm-12 col-xs-12 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 1" %}
                        </div>

                    {% endif %}


                </div>

            {% endif %}

        </div><!-- /end of Coupons and news modouls -->
    </div><!-- /container -->

        {% b2c_products 'B2CProducts/main_products.html' 16 %}




    {# Row for business proposals and news. If there are no bp the news will take a full line. #}
    {# The proposals will have the same design as the news, so i am using the news styles. #}
    <div class="container">

        <div class="row news">

                {% news 'News/wall.html' 4 %}

        </div><!-- end of news modoul -->
    </div>


</section>

{% endblock %}