.article-filter
  background-color #4a4a4a
  height 45px
  width 640px
  border-radius 4px
  margin-left -30px
  margin-right -30px
  .filter-ico
    position relative
    float left
    display inline
    top -3px
    font-size 22px
    color #eee
    margin-right 10px
    padding 3px 5px
    line-height 16px
    cursor pointer
    border solid 1px #333
    border-radius 3px
    background-color #414141
    padding 5px 6px
  .sprite
    margin -4px 10px 0 -7px
    width 32px
    height 32px
    background url(../images/news.png)
    background-position 0px -24px
  .filter-langs
    margin-top 13px
    .filter-lang
      position relative
      float left
      top -3px
      margin-left 5px
      color #fff
      background-color #333
      padding 4px 6px
      border-radius 4px
      font-size 12px
      cursor default
      a
        color #888
        cursor pointer
  .filter-search
    top -5px
    width 160px
    right -5px
    input
      height 28px
