#footer
  font-size 12px
  .footer-separator
    margin-top 80px
  .bottom
    font-size 11px
  .footer-links
    h5
      margin-bottom 15px
    a
      position relative
      float left
      clear left
