.right-aside
  width 100%
  .right-aside-block
    height 45px
    border-radius 4px
    background-color #4a4a4a
    padding 12px 5px 12px 5px
    color #fff
    a
      font-size 15px
      margin-left 5px
      color #fff
      cursor pointer
      .badge
        margin-left 3px
        font-size 10px
    i.disabled
      color #929292
      cursor default
    .num
      color #fff
    .icon-nt1
      width 14px
      height 14px
      background-position -160px -190px
    .icon-nt2
      width 15px
      height 11px
      background-position -175px -190px
    .icon-nt3
      width 18px
      height 13px
      background-position -191px -190px
      &.disable
        opacity .4
    .basket
      width 23px
      height 23px
      padding 2px
      background-image url(../../static/b24online/img/basket.png)
      background-repeat no-repeat
      text-align center
      font-weight bold
      color #fff
      position relative
      background-size 100% 100%
      top 2px
      font-size 14px
      font-style normal
      span
        position relative
        top -3px
    .icon-notyfi
      display inline-block
      margin 0 2px 0 9px
      vertical-align middle
    .imgnews
      background-image url(images/news.png)
    &.sell
      margin-top 15px
    &.title
      margin-top 15px
      height 35px
      padding 8px
      border-radius 0
      color #fff
      span
        font-size 16px
    &.companies-title
      background-color #f5f5f5
      height 35px
      padding 8px
      border-radius 3px 3px 0 0
      border solid 1px #e6e6e6
      span
        font-size 13px
        font-weight 700
        color #4a4a4a
    &.list
      .company-paid-card
        margin -13px -5px
        border-radius 0 0 3px 3px
        .flag
          margin-left 0
          .thumb-flag
            width 18px
        .paid-img
          margin-right 5px
          max-height 45px
        .text-details
          font-size 11px
        .thumb-title
          position relative
          font-size 12px
          margin-left 10px
          color #0089bc
          font-weight 700
