{% extends "base.html" %}
{% load staticfiles %}
{% load addParameter %}
{% load CustomFilters %}
{% load i18n %}

{% block title %}{% trans "Coupons" %}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "centerpokupok/css/jquery.countdown.css" %}">
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-countdown/1.6.3/jquery.countdown.min.js"></script>
    <script type="text/javascript" src="{% static "centerpokupok/js/jquery.countdown-ru.js" %}"></script>

    <script type="text/javascript">
        $(function () {
            bigCoupon = $('#topCountdown');

            if(bigCoupon.length > 0)
            {
                var until = parseInt(bigCoupon.data('countdown')) * 1000;
                bigCoupon.countdown({until: new Date(until), format: getFormat(until)})
            }
        })
        $(function () {
            $('.countdowntext').each(function() {
                var until = parseInt($(this).data('countdown')) * 1000;

                now = +new Date();
                var lay = ((until - now) <= 1000 * 60 * 60 * 24) ? '{hnn}{sep}{mnn}{sep}{snn} {desc}' : '{dn}&nbsp;&nbsp;{dl} {desc}'
                $(this).countdown({until: new Date(until), layout: lay, format: 'DHMS'});
            });
        });
    </script>
{% endblock %}

{% block header %}
    {% include "header_big.html" %}
{% endblock %}

{% block body %}
    <div id="main">
            <div id="sidebar">

                {% include "related_categories.html" %}

                <div class="bestbuy">
                    <div class="items-coupon">
                        <h3>Самые выгодные купоны</h3>
                        <ul>
                            <li>
                                <div class="discount"><i class="icons i-after"></i> -30%</div>
                                <a href="#"><img alt="" src="images/products/pr4.jpg"></a>
                                <div class="coupon-info">
                                    <p><a href="#">Изучение английского, немецкого, французского, испанского и др. языков</a></p>
                                    <p class="price">
                                        <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                        Экономия: $ 22.10
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="discount"><i class="icons i-after"></i> -30%</div>
                                <a href="#"><img alt="" src="images/products/pr4.jpg"></a>
                                <div class="coupon-info">
                                    <p><a href="#">5, 10 или 15 посещений подземного соляного грота</a></p>
                                    <p class="price">
                                        <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                        Экономия: $ 22.10
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="main-r">
                <div class="breadcrumbs">
                    <div xmlns="http://rdf.data-vocabulary.org/#">
                        <span typeof="v:Breadcrum">
                            <a property="v:title" rel="v:url" href="{% url "main" %}">{% trans "Main" %}</a> &rarr;
                        </span>
                        <span typeof="v:Breadcrum">
                            <a href="{% url "coupons:list" %}" property="v:title" rel="v:url">{% trans "Coupons" %}</a>
                        </span>

                         {% for crumb in breadCrumbs %}
                            &rarr;
                            <span typeof="v:Breadcrum">
                                <a href="{% url "products:category" crumb.pk %}" property="v:title" rel="v:url">{{ crumb.text }}</a>
                            </span>
                        {% endfor %}

                    </div>
                </div>

                <div class="title-items">
                    {% trans "Coupons" %}
                    {% if currentCat %}
                        <i>/</i> {{ currentCat }}
                    {% endif %}
                </div>

            {% for coupon in object_list %}


                {% if forloop.first %}
                <div class="coupontop">
                    <div class="thumb-cp">
                        <div class="discount"><i class="icons i-after"></i> -{{ coupon.coupon }}%</div>
                        <a href="{% url "products:detail" coupon.pk %}" title="{{ coupon.title }}">
                            <img width="300" height="225" alt="{{ coupon.title }}" src="{{ MEDIA_URL }}big/{{ coupon.image }}" />
                        </a>
                    </div>
                    <div class="couponinfo">
                        <a href="{% url "products:detail" coupon.pk %}">{{ coupon.title }}</a>
                        <div class="clock">
                            <p>{% trans "Time till the end" %}</p>
                            <div id="topCountdown" data-countdown="{{ coupon.coupon_end|date:"U" }}"></div>
                        </div>
                    </div>
                    <div class="bottom-cp">
                        <div class="price-cp">
                            <span>
                                <p>
                                    <font class="price1">
                                        {{ coupon.currency|getSymbol }} {{ coupon.price|discountPrice:coupon.coupon }}
                                    </font>
                                </p>
                            </span>
                            <span class="small">
                                <p>{% trans "You save" %}</p>
                                <p>
                                    <font class="price2">
                                        {{ coupon.currency|getSymbol }} {{  coupon.price|discountDiff:coupon.coupon }}
                                    </font>
                                </p>
                            </span>
                        </div>
                        <a href="{% url "products:detail" coupon.pk %}" class="btnbuy">{% trans "Buy" %}</a>
                    </div>
                </div>
                {% else %}

                {% if forloop.counter == 2 %}

                    <ul id="listcoupon">
                {% endif %}
                    <li>
                        <div class="thumb">
                            <a href="{% url "products:detail" coupon.pk %}" title="{{ coupon.title }}">
                                <img width="140" height="100" src="{{ MEDIA_URL }}small/{{ coupon.image }}" alt="{{ coupon.title }}" />
                            </a>
                            <div class="discount"><i class="icons i-after"></i> -{{ coupon.coupon }}%</div>
                        </div>
                        <div class="discountinfo">
                            <a href="{% url "products:detail" coupon.pk %}" title="{{ coupon.title }}">{{ coupon.title }}</a>
                            <div class="rows">
                                <font class="old">{{ coupon.currency|getSymbol }} {{ coupon.price|formatPrice }}</font>
                                <font class="number">{{ coupon.currency|getSymbol }} {{ coupon.price|discountPrice:coupon.coupon }}</font>
                            </div>
                            <div class="rows">
                                <i class="icons i-clock"></i>
                                <label>{% trans "Till the end" %}:</label>
                                <div class="countdowntext"  data-countdown="{{ coupon.coupon_end|date:"U" }}"></div>
                            </div>
                        </div>
                    </li>
                {% if forloop.last %}
                </ul>
                {% endif %}
                {% endif %}
            {% endfor %}

            {% include "paginator.html" %}

            </div>
        </div>
    </div>
{% endblock %}