               <div class="container" ng-class="class">

                    <div>
                        <p class="address">
                            <strong >{{ settings.contacts.address | removeTags }}</strong><br><br>
                            <a href="mailto:{{ settings.contacts.email | removeTags }}">{{ settings.contacts.email | removeTags }}</a>
                        </p>

                        <p class="phone-num">
                            <a href="tel:{{settings.contacts.tel}}">
                                <strong>{{ settings.contacts.phone | removeTags }}</strong>
                            </a>
                        </p>
                    </div>

                </div>
