            <div class="container" ng-class="class">

                    <section>
                        <div class="header vertical">
                            <dir-pagination-controls max-size="20"  direction-links="true" boundary-links="true"  class="paginator">  </dir-pagination-controls>

                            <div class="view vertical">
                                <button class="display-list" ng-class="{active: class=='layout'}" ng-click="layoutClass()"></button>
                                <button class="display-square" ng-class="{active: class=='grid-layout'}" ng-click="gridClass()"></button>
                            </div>
                        </div>

                        <ul class="gallery">
                            <figure  dir-paginate="img in galleryImages | itemsPerPage: 8">
                                <a href="{{ img.url }}" data-fancybox-group="gallery" fancybox class="fancybox">
                                    <img ng-src="{{ img.url }}">
                                </a>
                                <div class="descr"><p>{{ img.description }}</p></div>
                            </figure>
                        </ul>
                     </section>

                </div>
