                    <p class="about-company"><strong>Какое-то описание надаваемыъ услуг!</strong></p>

                    <section class="content__info__actions">






                        <div class="main-action" ng-show="false">

                            <div class="main-action__cover" style="background-image: url('static/images/sale-01.png');">
                                <div class="sale"><span>-30%</span></div>
                            </div> <!-- end main-action__cover -->

                            <div class="main-action__info">
                                <h3><a href="">ויזות, רישום וקבלתם</a></h3>
                                <p class="timer-heading">Время до окончания</p>

                                <div class="timer" timer date="November 2, 2015" id="timer"></div>

                                <div class="offer vertical">
                                    <p class="price">Дол. 340.0</p>
                                    <p class="economy">
                                        <span>Вы экономите</span>
                                        <span class="value">Дол. 0.0</span>
                                    </p>
                                    <a href="" class="buy"><span>Купить</span></a>
                                </div>
                            </div> <!-- end main-action__info -->

                        </div> <!-- end main-action -->



                        <div class="actions" ng-if="coupons">

                            <div class="action square" ng-repeat="coupon in coupons">
                                <div class="action__cover" style="background-image: url('{{ coupon.cover }}');">    <div class="sale"><span>-{{ coupon.percent }}%</span></div>
                                </div>
                                <div class="action__info">
                                    <h3><a ng-href="{{ coupon.more }}">{{ coupon.name | removeTags }}</a></h3>
                                    <p><span class="old-price">Дол. {{ coupon.oldPrice }}</span><span class="new-price">Дол. {{ coupon.oldPrice - coupon.oldPrice * coupon.percent / 100 }}</span></p>
                                    <p class="timer-heading">Дата окончания:</p>
                                    <div class="timer-mini">{{ coupon.endDate }}</div>

                                    <!-- <div class="timer-mini" compact date="{{ coupon.endDate }}"></div> -->

                                </div>
                            </div>

                        </div> <!-- ens actions -->
                    </section> <!-- end content__info__actions -->


                    <section class="content__info__news" ng-if="news">
                        <h2>Новости</h2>
                        <article class="news" ng-repeat="item in news">
                            <h3 formatted-text="{{ item.title }}"></h3>
                            <div class="news__content clearfix">
                                <div class="news__content__cover"><img ng-src="{{ item.cover }}" alt=""></div>
                                <div class="news__content__desc clearfix">
                                    <p class="date">{{ item.pubDate }}</p>
                                    <p class="text" formatted-text="{{ item.shortText }}"></p>
                                </div>
                                <a ng-href="#news/{{ item.id }}" class="more vertical"><span>Подробнее</span></a>
                            </div>
                        </article>
                    </section>

                    <section class="content__info__products" ng-if="b2cProducts && b2cProducts.length">
                        <h2>B2C Products</h2>
                        <ul class="products-list">
                            <li class="product" dir-paginate="product in b2cProducts | itemsPerPage: 8" >
                                <div class="product__cover vertical"><img ng-src="{{ product.cover }}" alt=""></div>
                                <div class="product__about">
                                    <p class="desc"><strong formatted-text="{{ product.name }}"></strong></p>
                                    <p class="detail">{{product.details}}</p>
                                    <p class="price"><span class="value">{{product.price}}</span><span class="currency">{{product.curency}}</span></p>
                                </div>
                                <a href="#products/b2c/{{ product.id }}" class="product__buy vertical"><span>Купить</span></a>
                            </li>
                        </ul>
                    </section><!-- end ccontent__info__products-->

                    <section class="content__info__products" ng-if="products && products.length">
                        <h2>B2B Products</h2>
                        <ul class="products-list">
                            <li class="product" dir-paginate="product in products | itemsPerPage: 8" >
                                <div class="product__cover vertical"><img ng-src="{{ product.cover }}" alt=""></div>
                                <div class="product__about">
                                    <p class="desc"><strong formatted-text="{{ product.name }}"></strong></p>
                                    <p class="detail">{{product.details}}</p>
                                    <p class="price"><span class="value">{{product.price}}</span><span class="currency">{{product.curency}}</span></p>
                                </div>
                                <a href="#products/b2b/{{ product.id }}" class="product__buy vertical"><span>Купить</span></a>
                            </li>
                        </ul>
                    </section><!-- end ccontent__info__products-->
