<div class="container" ng-class="class">

	<article class="clearfix">
	    <h3>{{ news.title | removeTags }}</h3>
	    <img ng-src="{{ news.cover }}" alt="">
	    <p>
	        {{ news.fullText | removeTags }}
	    </p>
	</article>
	<div class="socials">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/uk_UA/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>

        <div class="fb-share-button" data-layout="button_count"></div>


        <a href="#nul" class="gg" onclick="window.open('https://plus.google.com/share?url=http://serhiyhulyi.com.ua/pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>



        <a href="#nul" class="tw" onclick="window.open('http://twitter.com/home?status=Сувениры из путешествий: как выбирать, как упаковывать, о чём помнить при выборе.+http://serhiyhulyi.com.ua/pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>



        <a href="#nul" class="vk" onclick="window.open('http://vk.com/share.php?url=http://serhiyhulyi.com.ua/pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>
    </div>
</div>
