<div class="container" ng-class="class">

	<article class="clearfix">
	    <h2>{{ news.title | removeTags }}</h2>
	    <img ng-src="{{ news.cover }}" alt="">
	    <p>
	        {{ news.fullText | removeTags }}
	    </p>
	</article>
	<div class="socials">
<a href="#nul" class="fb" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=site.ru','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400')"></a>


        <a href="#nul" class="gg" onclick="window.open('https://plus.google.com/share?url=http://serhiyhulyi.com.ua/pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>



        <a href="#nul" class="tw" onclick="window.open('http://twitter.com/home?status=Сувениры из путешествий: как выбирать, как упаковывать, о чём помнить при выборе.+http://serhiyhulyi.com.ua/pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>



        <a href="#nul" class="vk" onclick="window.open('http://vk.com/share.php?url=http://serhiyhulyi.com.ua/pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>
    </div>
</div>
