                <div class="container" ng-class="class">
                
                    <div class="header vertical">
     
                        <dir-pagination-controls max-size="8"  direction-links="true" boundary-links="true"  class="paginator">  </dir-pagination-controls>
                         <!-- end paginator -->

                        <div class="view vertical">
                            <button class="display-list" ng-class="{active: class=='layout'}" ng-click="layoutClass()"></button>
                            <button class="display-square" ng-class="{active: class=='grid-layout'}" ng-click="gridClass()"></button>
                        </div>

                        <div class = "select category">
                            <span ng-click="toggleCateg();">Категория</span>
                            <ul class="select-dropdown" ng-show="show">
                                <li class="sub">
                                    <a href = "#/products" ng-click="hideCateg();">Products</a>
                                    <ul class="sub-menu">
                                        <li><a href="#/products" ng-click="selectCategory('econom')">Econom</a></li>
                                        <li><a href="#/products" ng-click="selectCategory('business')">Business</a></li>
                                        <li><a href="#/products" ng-click="selectCategory('luxury')">Luxury</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href = "#/products" ng-click="hideCateg();">Products</a>
                                </li>
                                <li class="sub">
                                    <a href = "#/products" ng-click="hideCateg();">Item 3</a>
                                    <ul class="sub-menu">
                                        <li><a href="">some product category 1</a></li>
                                        <li><a href="">some product category 2 and one very long</a></li>
                                        <li><a href="">some product category 3</a></li>
                                        <li><a href="">some product category 4</a></li>
                                        <li><a href="">some product category 5</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href = "#/products" ng-click="hideCateg();">Item 4</a>
                                </li>
                                <li>
                                    <a href = "#/products" ng-click="hideCateg();">Item 5</a>
                                </li>
                            </ul>            
                        </div> <!-- end select category -->
                    </div>


                    <section class="content__info__products">
                        <h2>B2C Products</h2>
                        <ul class="products-list">
                            <li class="product" dir-paginate="product in products | itemsPerPage: 8" >
                                <div class="product__cover vertical"><img ng-src="{{ product.cover }}" alt=""></div>
                                <div class="product__about">
                                    <p class="desc"><strong>{{product.name}}</strong></p>
                                    <p class="detail">{{product.details}}</p>
                                    <p class="price"><span class="value">{{product.price}}</span><span class="currency">₪</span></p>
                                </div>
                                <a href="" class="product__buy vertical"><span>Купить</span></a>
                            </li>
                        </ul>
                    </section><!-- end ccontent__info__products-->

                </div>