                <div class="container" ng-class="class">

                    <div class="header vertical">

                        <dir-pagination-controls
                            max-size="8"
                            direction-links="true"
                            boundary-links="true"
                            class="paginator"
                            on-page-change="pageChanged(newPageNumber)">
                        </dir-pagination-controls>
                         <!-- end paginator -->

                        <div class="view vertical">
                            <button class="display-list" ng-class="{active: class=='layout'}" ng-click="layoutClass()"></button>
                            <button class="display-square" ng-class="{active: class=='grid-layout'}" ng-click="gridClass()"></button>
                        </div>

                        <div class = "select category">
                            <span ng-click="toggleCateg();">Категория</span>
                            <ul class="select-dropdown" ng-show="show">
                                <li ng-repeat="item in categories" ng-class="{sub: item.subCategories}">
                                    <a href="" ng-click="toggleCategory(item.id)" toggle-class="selectedCategory">{{item.name}}</a>
                                    <ul class="sub-menu" ng-if="item.subCategories">
                                        <li ng-repeat="subItem in item.subCategories" ng-class="{sub: subItem.subCategories}">
                                            <a href="" ng-click="toggleCategory(subItem.id)" toggle-class="selectedCategory">{{subItem.name}}</a>
                                            <ul class="sub-menu sub-sub-menu" ng-if="subItem.subCategories">
                                                <li ng-repeat="subSubItem in subItem.subCategories">
                                                    <a  href="" ng-click="toggleCategory(subSubItem.id)" toggle-class="selectedCategory" ng-click="selectCategory(subSubItem.category)">{{subSubItem.name}}</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div> <!-- end select category -->
                    </div>


                    <section class="content__info__products">
                        <h2>Our products</h2>
                        <ul class="products-list">
                            <li class="product" dir-paginate="product in products | itemsPerPage: productsPerPage" total-items="totalProducts" current-page="pagination.current">
                                <div class="product__cover vertical"><img ng-src="{{ product.cover }}" alt=""></div>
                                <div class="product__about">
                                    <p class="desc"><strong>{{product.name | removeTags | splitLongText:60 }}</strong></p>
                                    <p class="detail">{{ product.details | removeTags }}</p>
                                    <p class="price"><span class="value">{{product.price}}</span><span class="currency">₪</span></p>
                                </div>
                                <a ng-href="{{ getCurrentUrl() + '/' + product.id }}" class="product__buy vertical"><span>Купить</span></a>
                            </li>
                        </ul>
                    </section><!-- end ccontent__info__products-->

                </div>
