<div class="container" ng-class="class">

                    <section class="content__info__structute clearfix">
                        <div class="wrap" ng-repeat="item in structure">
                            <h2>שיווק ומכירות</h2>
                            <article class="workers">
                                <table>
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td>Работник</td>
                                            <td>Должность</td>
                                            <td>Номер телефона</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="worker in item.workers">
                                            <td><img ng-if="worker.img && worker.img.length > 0" ng-src="{{ worker.img }}" alt=""></td>
                                            <td formatted-text="{{worker.name}}"></td>
                                            <td formatted-text="{{worker.post}}"></td>
                                            <td formatted-text="{{worker.phone}}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                        </div>

                    </section>

                </div>
