
body {background:#fff}

.mw-header {padding:12px 0 5px 0;border-bottom:2px solid #000;}
.mw-header .head-left-nav a {color:#000;padding:0 5px;}
.mw-header .head-left-nav span {color:#aeaeae;}

.mw-header .head-right-nav {text-align:right;}
.mw-header .head-right-nav a {color:#1c80b2;padding:0 5px;}

nav.main-fork {display:flex;flex-flow:row wrap;justify-content:space-around;}
nav.main-fork a {width:31%;padding:12px 0;height:auto;background:#f5f5f5;text-align:center;transition:background-color .1s;-webkit-transition:background-color .1s;-moz-transition:background-color .1s;}
nav.main-fork a:hover, a:focus {text-decoration:none;}
nav.main-fork i {font-size:30px;}
nav.main-fork h2 {color:#111;font-size:20px;margin:0;}
nav.main-fork p {font-size:13px;margin:0;color:#555;}

nav.main-fork a.b2c {border-bottom:2px solid #e6321e;}
nav.main-fork a.b2b {border-bottom:2px solid #1c80b2;}
nav.main-fork a.coupon {border-bottom:2px solid #0dbe42;}

nav.main-fork a.b2c > i {color:#e6321e;}
nav.main-fork a.b2c:hover {background:#e6321e;transition:background-color .1s;-webkit-transition:background-color .1s;-moz-transition:background-color .1s;}
nav.main-fork a.b2c:hover > i {color:#fff;}
nav.main-fork a.b2c:hover > h2 {color:#fff;}
nav.main-fork a.b2c:hover > p {color:#fff;}

nav.main-fork a.b2b > i {color:#1c80b2;}
nav.main-fork a.b2b:hover {background:#1c80b2;transition:background-color .1s;-webkit-transition:background-color .1s;-moz-transition:background-color .1s;}
nav.main-fork a.b2b:hover > i {color:#fff;}
nav.main-fork a.b2b:hover > h2 {color:#fff;}
nav.main-fork a.b2b:hover > p {color:#fff;}

nav.main-fork a.coupon > i {color:#0dbe42;}
nav.main-fork a.coupon:hover {background:#0dbe42;transition:background-color .1s;-webkit-transition:background-color .1s;-moz-transition:background-color .1s;}
nav.main-fork a.coupon:hover > i {color:#fff;}
nav.main-fork a.coupon:hover > h2 {color:#fff;}
nav.main-fork a.coupon:hover > p {color:#fff;}

.main-logo {padding:0;}
.main-logo img {width:250px;margin:17px 0 0 5px;}

.choose-language {text-align:center;list-style:none;}
.choose-language li {padding:10px;font-size:14px;display:inline-block;}
.choose-language li a {color:#333;opacity:1;}
.choose-language li a:hover {opacity:0.8;text-decoration:none;}
.flag-icon {border:1px solid #f1f1f1;position:relative;display:inline-block;margin:0 8px;width:27px;vertical-align:top;}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {position:absolute;top:50%;margin-top:-22px;z-index:5;display:inline-block;}
.carousel-control {position:absolute;top:0;left:0;bottom:0;width:10%;color:#fff;text-align:center;}
.carousel-control.left {right: auto;left: 0;background:none;opacity:0.9;}
.carousel-control.right {left: auto;right: 0;background:none;opacity:0.9;}
.carousel-indicators {position:absolute;bottom:-45px;left:50%;z-index:15;width:60%;margin-left:-30%;padding-left:0;list-style:none;text-align:center;}
.carousel-indicators li {display:inline-block;width:10px;height:10px;margin:1px;text-indent:-999px;border:1px solid #aeaeae;border-radius:10px;cursor:pointer;background-color:#f5f5f5;}
.carousel-indicators .active {margin:0;width:12px;height:12px;background-color:#f1f1f1;}
.carousel-caption {left:12%;right:12%;padding-bottom:30px;font-size:16px;color:#666;text-shadow:none;}

.icons-list {padding:40px 0;}
.icons-list i {color:#006eb9;font-size:44px;display:block;margin:10px 0;}
.icons-list h2 {font-weight:300;margin:0;}
.icons-list p {margin:0;}
.icons-list a {color:#000;}
.icons-list a:hover {color:#555;text-decoration:none;}
.icons-list a:hover > i {color:#0085cd;}






/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
.choose-language li {padding:10px 5px;}
.main-logo {padding:0;}
.main-logo img {width:210px;margin:23px 0 0 5px;}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.mw-header {padding:10px 0;}
.head-left-nav {text-align:center !important;padding:8px 0;}
.head-right-nav {text-align:center !important;}
.main-logo {padding:0;text-align:center;}
.main-logo img {width:286px;margin:0 0 25px 0;}
.choose-language {padding:0;}
.choose-language li {padding:10px 3px;font-size:13px;}
.flag-icon {margin:0 5px;width:20px;}
}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
.choose-language li {padding:10px 5px;font-size:13px;}
.flag-icon {margin:0 5px;width:23px;}
nav.main-fork {display:flex;flex-flow:row wrap;justify-content:space-around;}
nav.main-fork a {width:75%;padding:12px 0;margin:0 0 20px 0;height:auto;}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}