{% load staticfiles %}{% load i18n %}<!DOCTYPE html>
<html >
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<title>{% block title %}{% trans 'Shopcenter' %}{% endblock %}</title>

<link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700,400&subset=latin,latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'centerpokupok/css/reset.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'centerpokupok/css/jquery.countdown.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'centerpokupok/js/slick/slick.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'centerpokupok/css/anythingslider.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'centerpokupok/css/shopcenter.css' %}">
<script type="text/javascript" src="{% static 'centerpokupok/js/jquery-1.9.1.js' %}"></script>
<script type="text/javascript" src="{% static 'centerpokupok/js/jquery.anythingslider.js' %}"></script>
<script type="text/javascript" src="{% static 'centerpokupok/js/slick/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'centerpokupok/js/base.js' %}"></script>
<script type="text/javascript" src="{% static 'centerpokupok/js/jquery.countdown.js' %}"></script>
<script type="text/javascript" src="{% static 'centerpokupok/js/jquery.countdown-ru.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#slider1').slick({
              adaptiveHeight: true,
              autoplay: false,
              autoplaySpeed: 12000,
              arrows: true,
              dots: false,
              fade: false,
              infinite: true,
              initialSlide: 1,
              pauseOnHover: true,
              slidesToShow: 7,
              slidesToScroll: 2,
              slide: '.itempartner',
              speed: 1000,
              touchMove: true,
              useCSS: true,
              responsive: [
                {
                  breakpoint: 1024,
                  settings: {
                    slidesToShow: 6,
                    slidesToScroll: 3,
                  }
                },
                {
                  breakpoint: 900,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 3
                  }
                },
                {
                  breakpoint: 650,
                  settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 510,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                  }
                },
                {
                  breakpoint: 380,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2
                  }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
              ]
        });

        $('#slideimage').slick({
            arrows: false,
            dots: true
        });

        $('#bestproduct').slick({
            adaptiveHeight: false,
            autoplay: false,
            autoplaySpeed: 12000,
            arrows: true,
            dots: false,
            fade: false,
            infinite: true,
            initialSlide: 1,
            pauseOnHover: true,
            slidesToShow: 5,
            slidesToScroll: 2,
            slide: '.clumn-best',
            speed: 1000,
            touchMove: true,
            useCSS: true,
            responsive: [
                {
                  breakpoint: 1024,
                  settings: {
                    slidesToShow: 5,
                    slidesToScroll: 1,
                  }
                },
                {
                  breakpoint: 800,
                  settings: {
                    slidesToShow: 4,
                    slidesToScroll: 2
                  }
                },
                {
                  breakpoint: 650,
                  settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                  }
                },
                {
                  breakpoint: 500,
                  settings: {
                    slidesToShow: 2,
                    slidesToScroll: 2,
                    adaptiveHeight: true
                  }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
              ]
        });
    })
</script>
<script type="text/javascript">
$(function () {
    var austDay = new Date();
    austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
    $('.topCountdown').countdown({until: 60000});
});
$(function () {
    var austDay = new Date();
    austDay = new Date(austDay.getFullYear() + 1, 1 - 1, 26);
    $('#compactLayout').countdown({until: 60000, compact: true,
    layout: '{hnn}{sep}{mnn}{sep}{snn} {desc}'});
});
</script>
<!--[if IE]><link type="text/css" rel="stylesheet" href="css/ie.css" /><![endif]-->
</head>
<body>

{% include 'centerpokupok/header.html' %}

<!--   <div id="flag-var">
    <ul>
      <li><i class="iflag flag1"></i><a href="#">Израиль</a></li>
      <li><i class="iflag flag2"></i><a href="#">Латвия</a></li>
      <li><i class="iflag flag3"></i><a href="#">Израиль</a></li>
      <li><i class="iflag flag4"></i><a href="#">Израиль</a></li>
      <li><i class="iflag flag5"></i><a href="#">Израиль</a></li>
      <li><i class="iflag flag6"></i><a href="#">Израиль</a></li>
      <li><i class="iflag flag1"></i><a href="#">Израиль</a></li>
      <li><i class="iflag flag2"></i><a href="#">Россия</a></li>
      <li><i class="iflag flag3"></i><a href="#">Эстония</a></li>
      <li><i class="iflag flag4"></i><a href="#">Россия</a></li>
      <li><i class="iflag flag5"></i><a href="#">Эстония</a></li>
      <li><i class="iflag flag6"></i><a href="#">Эстония</a></li>
      <li><i class="iflag flag1"></i><a href="#">Россия</a></li>
      <li><i class="iflag flag2"></i><a href="#">Эстония</a></li>
      <li><i class="iflag flag3"></i><a href="#">Украина</a></li>
      <li><i class="iflag flag4"></i><a href="#">Беларусь</a></li>
      <li><i class="iflag flag5"></i><a href="#">Украина</a></li>
      <li><i class="iflag flag6"></i><a href="#">Беларусь</a></li>
      <li><i class="iflag flag1"></i><a href="#">Беларусь</a></li>
      <li><i class="iflag flag2"></i><a href="#">Украина</a></li>
      <li><i class="iflag flag3"></i><a href="#">Беларусь</a></li>
    </ul>
  </div> -->


{% block body %}{% endblock %}


</div>
{% block footer %}
<div id="quicklnk">
    <div class="container">
        <ul id="linkun">
            <li class="top">{% trans 'О площадке' %}</li>
            <li><a href="#">{% trans 'О системе' %}</a></li>
            <li><a href="#">{% trans 'Как работает площадка' %}</a></li>
            <li><a href="#">{% trans 'Анонсы и обзоры товаров' %}</a></li>
            <li><a href="#">{% trans 'Публичная оферта' %}</a></li>
        </ul>
        <ul id="linkun">
            <li class="top">{% trans 'Как купить' %}</li>
            <li><a href="#">{% trans 'Подписаться на обновления' %}</a></li>
            <li><a href="#">{% trans 'Как оплатить заказ' %}</a></li>
            <li><a href="#">{% trans 'Выбор доставки' %}</a></li>
            <li><a href="#">{% trans 'Защита покупателя' %}</a></li>
            <li><a href="#">{% trans 'Быстрое ознакомление' %}</a></li>
        </ul>
        <ul id="linkun">
            <li class="top">{% trans 'Сервисный' %}</li>
            <li><a href="#">{% trans 'Связаться с нами' %}</a></li>
            <li><a href="#">{% trans 'Часто задаваемые вопросы' %}</a></li>
            <li><a href="#">{% trans 'Спросить в сообществе' %}</a></li>
            <li><a href="#">{% trans 'Партнерская программа' %}</a></li>
        </ul>
        <ul id="subscribe">
            <li class="top">
                <i class="imgshop i-subs"></i>{% trans 'Подписаться на рассылку' %}
            </li>
            <li>{% trans 'Получайте каждую неделю наши анонсы и обзоры новинок' %}</li>
            <li><input type="text" name="" placeholder="{% trans 'Ваш E-mail' %}" class="text" /></li>
            <li><a class="btnreg" href="#">{% trans 'Подписаться' %}</a></li>
        </ul>
    </div>
</div>
<div id="footer">
    <div class="container">
        <p style="text-align:center;">© {%  now 'Y' %} {% trans 'Центр покупок - покупай с удовольствием по всему миру' %}</p>

    </div>
</div>
{% endblock %}
</body>
</html>