{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

<div class="analytics">
<div style="margin-top: 20px;">
  <h2>{% trans 'Statistics for' %} &laquo;{{ event_type.name }}&raquo;</h2>
    <div>
    <h3>{% trans 'For' %} {{ item_type }} &laquo;{{ instance }}&raquo;</h3>
    <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-staff">
      <tr class="top">
        {% for xdate in date_range %}
        <th colspan="2" align="center">{{ xdate.0|date:"d M Y" }}</td>          
        {% endfor %}
      </tr>
      <tr class="top">
        {% for xdate in date_range %}
        <th align="center">uniq</td>          
        <th align="center">total</td>          
        {% endfor %}
      </tr>
      <tr>
        {% for item in instance_data %}
        <td align="center">
          {% if item.unique %}
            <a href="{% url 'analytic:event_stats_detail' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance_id cnt_type='unique' %}?date={{ item.date|date:'Y-m-d'}}">{{ item.unique }}</a></td>
          {% else %}
            0
          {% endif%}
        </td>
        <td align="center">
          {% if item.total %}
            <a href="{% url 'analytic:event_stats_detail' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance_id cnt_type='total' %}?date={{ item.date|date:'Y-m-d'}}">{{ item.total }}</a>
          {% else %}
            0
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    </table>
    </div>
    <br/>
    <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-staff">
      <tr>
        <td align="center">
        <canvas id="stats-bar-{{ event_type_id }}-{{ content_type_id }}-{{ instance_id }}" 
          width="400" height="200"/>
        </td>
      </tr>
    </table>
</div>
</div>