{% extends 'b24online/main_page.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
{% endblock %}

{% block content %}
<div class="analytics">
  <div>
    <form method="get" action=".">
        {% csrf_token %}
        <div>
          <label class="sapce">{{ form.start_date.label}}</label>
          {% if form.errors.start_date %}
            <div class="error-handler"> <div class="formserror">{{ form.errors.start_date.0 }}</div></div>
          {% endif %}
          {{ form.start_date }}
        </div>
        <div>
          <label class="sapce">{{ form.end_date.label }}</label>
          {% if form.errors.end_date %}
            <div class="error-handler"><div class="formserror">{{ form.errors.end_date.0 }}</div></div>
          {% endif %}
          {{ form.end_date }}
        </div>
        <div class="newform-button">
          <input type="submit" class="btntype2" name="filter" value="{% trans 'Filter' %}">
          <a href="#" class="btntype1">{% trans 'Cancel' %}</a>
        </div>
    </form>
  </div>
  <br/>
  <div>
    {% for event_type, data_1 in data_grid %}
    <h2>{% trans 'Statistics for' %} &laquo;{{ event_type.name }}&raquo;</h2>
      {% for item_type, data_2 in data_1 %}
      <div>
      <h3>{% trans 'For' %} &laquo;{{ item_type }}&raquo;</h3>
      <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-staff">
        <tr class="top">
          <th rowspan="2">{% trans 'Product' %}</th>
          {% for xdate in date_range %}
          <th colspan="2">{{ xdate.0|date:"d M Y" }}</td>          
          {% endfor %}
        </tr>
        <tr class="top">
          {% for xdate in date_range %}
          <th>uniq</td>          
          <th>total</td>          
          {% endfor %}
        </tr>
        
        {% for instance, instance_data in data_2%}
        <tr>
          <td>{{ instance }}</td>
          {% for item in instance_data %}
          <td>{{ item.unique }}</td>
          <td>{{ item.total }}</td>
          {% endfor %}
        </tr>
        {% empty %}
        <tr>
          <td>{% trans 'No data' %}</td>
        </tr>
        {% endfor %}
      </table>
      </div>
      <br/>
      <br/>
      {% endfor %}
    <br/>
    {% endfor %}
  </div>    
</div>
{% endblock %}
