{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

    <p>&nbsp;</p>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-data">
      <tr align="center" class="top">
        <th rowspan="2">{% trans "Section name" %}</th>
        {% for event_type_id, event_type in event_types %}
        <th colspan="2">{{ event_type.name }}</th>
        {% endfor %}
      </tr>
      <tr class="top">
        {% for event_type_id, event_type in event_types %}
        <th>unique</th>
        <th>total</th>
        {% endfor %}
      </tr>

      {% for content_type_id, item_key, item_name, item_data in data_grid %}
        <tr id="{{ item_key }}-item" class="{% if item_data.detailed %} toggle-child{% endif %}">
          <td class="toggler">
            {{ item_name }}
          </td>
          {% for event_type_id, stats in item_data.common.items %}
          <td align="center">
            {% if stats.unique %}<a class="stats_detail" 
                href="{% url 'analytic:event_stats_ct_detail' event_type_id=event_type_id content_type_id=content_type_id cnt_type='unique' %}?start_date={{date_limits.start_date|date:'d/m/Y' }}&end_date={{date_limits.end_date|date:'d/m/Y' }}">{{ stats.unique }}</a>{% else %}0{% endif %}
          </td>
          <td align="center">
            {% if stats.total %}<a class="stats_detail" 
                href="{% url 'analytic:event_stats_ct_detail' event_type_id=event_type_id content_type_id=content_type_id cnt_type='total' %}?start_date={{ date_limits.start_date|date:'d/m/Y' }}&end_date={{ date_limits.end_date|date:'d/m/Y' }}">{{ stats.total }}</a>{% else %}0{% endif %}
          </td>
          {% endfor %}
        </tr>

        {% if item_data.detailed %}
        {% for instance, s_data in item_data.detailed %}
        <tr style="display: none;" class="{{ item_key }}-item-child">
          <td class="is-child">
            <a href="{{ instance.get_absolute_url }}">{{ instance.name|default:instance }}</a>
          </td>
          {% for event_type_id, stats in s_data.items %}
          <td align="center">
            {% if stats.unique %}
              <a class="stats_detail" href="{% url 'analytic:event_stats_detail' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance.id cnt_type='unique' %}?start_date={{ date_limits.start_date|date:'d/m/Y' }}&end_date={{ date_limits.end_date|date:'d/m/Y' }}">
                {{ stats.unique }}
              </a>
            {% else %}
              0
            {% endif %}
          </td>
          <td align="center">
            {% if stats.total %}
              <a class="stats_detail" href="{% url 'analytic:event_stats_detail' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance.id cnt_type='total' %}?start_date={{ date_limits.start_date|date:'d/m/Y' }}&end_date={{ date_limits.end_date|date:'d/m/Y' }}">
                {{ stats.total }}
              </a>
            {% else %}
              0
            {% endif %}

          </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}

      {% endfor %}
    </table>
