{% extends 'b24online/main_page.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

{% block title %}{% trans 'Statistics' %}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/datepicker.css" %}" />
{% endblock %}

{% block js %}
  {{ block.super }}
  <script  type="text/javascript" src="{% static 'b24online/js/Chart.min.js' %}"></script>
  <script  type="text/javascript" src="{% static 'b24online/js/Chart.colors.js' %}"></script>
  <script type="text/javascript">
    $(function() {
      $( ".date" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:",
        dateFormat: "dd/mm/yy"
      });
    });
  </script>

    <script>
    $(document).ready(function() {
        var analytic = {
            	proposal: 0,
            	company: 0,
            	exhibition: 0,
            	innov: 0,
            	news: 0,
            	product: 0,
            	tender: 0,
            	tpp: 0
        }

        $.ajax("{% url "analytic:get_analytic" %}", {
                   type: "GET",
                   success: function(data) {
                       if ( data.length > 0 )
                       {
                           for ( i in data )
                           {
                               dict = data[i];

                               if ( dict.type in analytic )
                                    analytic[dict.type] = dict.count;
                           }
                       }

                       for ( i in analytic )
                       {
                           $('#analytic-' + i).html(analytic[i]);
                       }
                   },
                   async: true,
                   cache: false,
                   dataType: 'json'
        });
    });
    </script>

{% endblock %}


{% block content %}
<div class="analytics">
    <div class="title">{% trans "My sections" %}</div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-analytics">
      <tr class="top">
        <td>{% trans "Section name" %}</td>
        <td>{% trans "Views" %}</td>
      </tr>
      <tr>
        <td>{% trans "Products" %}</td>
        <td id="analytic-product"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>
      <tr>
        <td>{% trans "Business Proposals" %}</td>
        <td id="analytic-proposal"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>
      <tr>
        <td>{% trans "Innovation Projects" %}</td>
        <td id="analytic-innov"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>
      <tr>
        <td>{% trans "Tenders" %}</td>
        <td id="analytic-tender"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>
      <tr>
        <td>{% trans "Exhibitions" %}</td>
        <td id="analytic-exhibition"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>
    {% if tpp %}
      <tr>
        <td>{% trans "Company" %}</td>
        <td id="analytic-company"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>

    {% else %}
      <tr>
        <td>{% trans "Main" %}</td>
        <td id="analytic-tpp"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>
      <tr>
        <td>{% trans "Companies" %}</td>
        <td id="analytic-company"><img src="{% static "b24online/img/analytic-loader.gif" %}"></td>
      </tr>
    {% endif %}
    </table>
</div>

<div class="analytics">
  <div class="title">{% trans "Events statistics" %}</div>
  {% comment %}
  <div class="newsform">
    <form method="get" action=".">
        {% csrf_token %}
        <div>
          <label>{{ form.start_date.label}}</label>
          {% if form.errors.start_date %}
            <div class="error-handler"> <div class="formserror">{{ form.errors.start_date.0 }}</div></div>
          {% endif %}
          {{ form.start_date }}
        </div>
        <div>
          <label>{{ form.end_date.label }}</label>
          {% if form.errors.end_date %}
            <div class="error-handler"><div class="formserror">{{ form.errors.end_date.0 }}</div></div>
          {% endif %}
          {{ form.end_date }}
        </div>
        <div class="newform-button">
          <input type="submit" class="btntype2" name="filter" value="{% trans 'Filter' %}">
          <a href="#" class="btntype1">{% trans 'Cancel' %}</a>
        </div>
    </form>
  </div>
  {% endcomment %}
  <br/>
  
  <p style="text-align:right; font-size: 130%;">
   <span style="float:left">
    {% with p_start_date=form.prev_week.start_date p_end_date=form.prev_week.end_date %}
        {% if p_start_date %}
        <a href="{{ request.path }}?start_date={{ p_start_date|date:'d/m/Y'|urlencode }}&end_date={{ p_end_date|date:'d/m/Y'|urlencode}}">&laquo;&nbsp;{% trans 'Previus week' %}</a>&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endwith  %}
   </span>
    {% with n_start_date=form.prev_week.start_date n_end_date=form.prev_week.end_date %}
        {% if n_start_date %}
        <span style="display: block; flow: right;">
        <a href="{{ request.path }}?start_date={{ n_start_date|date:'d/m/Y'|urlencode }}&end_date={{ n_end_date|date:'d/m/Y'|urlencode}}">{% trans 'Next week' %}&nbsp;&raquo;</a>&nbsp;&nbsp;&nbsp;
        </span>
        {% endif %}
    {% endwith  %}
    </p>
  <div>
    {% for event_type_id, event_type, data_1 in data_grid %}
    <div style="margin-top: 20px;">
      <h2>{% trans 'Statistics for' %} &laquo;{{ event_type.name }}&raquo;</h2>
      {% for content_type_id, item_type, data_2 in data_1 %}
        {% for instance_id, instance, instance_data in data_2 %}
        <div>
        <h3>{% trans 'For' %} {{ item_type }} &laquo;{{ instance }}&raquo;</h3>
        <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-staff">
          <tr class="top">
            {% for xdate in date_range %}
            <th colspan="2" align="center">{{ xdate.0|date:"d M Y" }}</td>          
            {% endfor %}
          </tr>
          <tr class="top">
            {% for xdate in date_range %}
            <th align="center">uniq</td>          
            <th align="center">total</td>          
            {% endfor %}
          </tr>
          <tr>
            {% for item in instance_data %}
            <td align="center">
              {% if item.unique %}
                <a href="{% url 'analytic:event_stats_detail' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance_id cnt_type='unique' %}?date={{ item.date|date:'Y-m-d'}}">{{ item.unique }}</a></td>
              {% else %}
                0
              {% endif%}
            </td>
            <td align="center">
              {% if item.total %}
                <a href="{% url 'analytic:event_stats_detail' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance_id cnt_type='total' %}?date={{ item.date|date:'Y-m-d'}}">{{ item.total }}</a>
              {% else %}
                0
              {% endif %}
            </td>
            {% endfor %}
          </tr>
        </table>
        </div>
        <br/>
        <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-staff">
          <tr>
            <td align="center">
            <canvas id="stats-bar-{{ event_type_id }}-{{ content_type_id }}-{{ instance_id }}" 
              width="400" height="200"/>
            </td>
          </tr>
        </table>
        {% endfor %}
      {% endfor %}
    </div>
    {% endfor %}
  </div>    
</div>
<script type="application/javascript">
{% for event_type_id, event_type, data_1 in data_grid %}
  {% for content_type_id, item_type, data_2 in data_1 %}
    {% for instance_id, instance, instance_data in data_2 %}
	var barChartData_{{ event_type_id }}_{{ content_type_id }}_{{ instance_id }} = {
		labels : [
    {% for xdate in date_range %}
      '{{ xdate.0|date:"d M Y" }}',
    {% endfor %}
		],
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : [
          {% for item in instance_data %}{{ item.unique }},{% endfor %}
				]
			},
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,0.8)",
				highlightFill : "rgba(151,187,205,0.75)",
				highlightStroke : "rgba(151,187,205,1)",
				data : [
          {% for item in instance_data %}{{ item.total }},{% endfor %}
				]
			}
		]
  };
    {% endfor %}  
  {% endfor %}  
{% endfor %}  

window.onload = function(){
{% for event_type_id, event_type, data_1 in data_grid %}
  {% for content_type_id, item_type, data_2 in data_1 %}
    {% for instance_id, instance, instance_data in data_2 %}

		var ctx = document.getElementById("stats-bar-{{ event_type_id }}-{{ content_type_id }}-{{ instance_id }}").getContext("2d");
		window.myBar_{{ event_type_id }}_{{ content_type_id }}_{{ instance_id }} = new Chart(ctx).Bar(barChartData_{{ event_type_id }}_{{ content_type_id }}_{{ instance_id }}, {
			responsive : true
		});
    {% endfor %}  
  {% endfor %}  
{% endfor %}  
	};

</script>

{% endblock %}
