{% extends 'b24online/main_page.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

{% block title %}{% trans 'Statistics' %}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/datepicker.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/extra.css" %}" />
{% endblock %}

{% block js %}
  {{ block.super }}
  <script  type="text/javascript" src="{% static 'b24online/js/Chart.min.js' %}"></script>
  <script  type="text/javascript" src="{% static 'b24online/js/Chart.colors.js' %}"></script>

  <script type="text/javascript">
    $(function() {
      $( ".date" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:",
        dateFormat: "dd/mm/yy"
      });
    });
    
  $(document).ready(
    function () {
    	$('.toggle-next').not('.force-open').each(
    	  function () {
    	    var child_class = '.' + $(this).attr('id') + '-child';
  	    	$(this).nextAll(child_class).hide();		    
    	  });

    	$('.toggle-next.force-open').addClass('toggled');

    	$('.toggle-next').click(function () {
    	    var child_class = '.' + $(this).attr('id') + '-child';
      		$(this).toggleClass('toggled').nextAll(child_class).toggle();	
    	});
    
    });
                                                                        
  </script>
{% endblock %}

{% block content %}
<div class="analytics">
  <div class="title">
    {% trans "Events statistics" %} 
    {% trans 'from' %} {{ form.date_limits.start_date|date:"d M Y" }}
    {% trans 'till' %} {{ form.date_limits.end_date|date:"d M Y" }}
  </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-stats">
      <tr align="center" class="top">
        <th rowspan="2">{% trans "Section name" %}</th>
        {% for event_type_id, event_type in event_types %}
        <th colspan="2">{{ event_type.name }}</th>
        {% endfor %}
      </tr>
      <tr class="top">
        {% for event_type_id, event_type in event_types %}
        <th>unique</th>
        <th>total</th>
        {% endfor %}
      </tr>

      {% for item_key, item_name, item_data in data_grid %}
        <tr id="{{ item_key }}-item" class="{% if item_data.detailed %} toggle-next{% endif %}">
          <td class="toggler">
            {{ item_name }}
          </td>
          {% for event_type_id, stats in item_data.common.items %}
          <td align="center">
            {% if stats.unique %}<a href="#">{{ stats.unique }}{% else %}0{% endif %}
          </td>
          <td align="center">
            {% if stats.total %}<a href="#">{{ stats.total }}{% else %}0{% endif %}
          </td>
          {% endfor %}
        </tr>

        {% if item_data.detailed %}
        {% for s_item, s_data in item_data.detailed %}
        <tr style="display: none;" class="{{ item_key }}-item-child">
          <td class="is-child">
            <a href="{{ s_item.get_absolute_url }}">{{ s_item.name|default:s_item }}</a>
          </td>
          {% for stats in s_data %}
          <td align="center">
            {% if stats.unique %}<a href="#">{{ stats.unique }}{% else %}0{% endif %}
          </td>
          <td align="center">
            {% if stats.total %}<a href="#">{{ stats.total }}{% else %}0{% endif %}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
        {% endif %}

      {% endfor %}
    </table>
</div>
{% endblock %}
