{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/jquery.bxslider.css" %}"/>

<script  type="text/javascript" src="{% static "tppcenter/js/jquery.bxslider.js"%}"></script>
<script  type="text/javascript" src="{% static "tppcenter/js/jquery.slimscroll.min.js"%}"></script>

<script type="text/javascript">
				$(document).ready(function(e) {
                   $(".showtype").click(function(){
					$(".external-type, #fade-profile").show();
					});
					$(".close-regform").click(function(){
						$(".external-type, #fade-profile").hide();
					});
					$('.listtype').slimScroll({
						height: '250px',
						railVisible: true,
						alwaysVisible: false

					});
                    $(".selectTemplate").click(function(event) {


                        var folder = event.target.id;
                        var src_1 = {% static "" %} + "tppcenter/img/templates/"+folder+ "/1.jpg";

                        var src_2 ={% static "" %} +  "tppcenter/img/templates/"+folder+ "/2.jpg";


                        $('.template1').attr('src',src_1);
                        $('.template2').attr('src',src_2);
                        $('#input-template').val(folder);

                        $(".external-type, #fade-profile").hide();
                  });
                });
              </script>

<script>
    $(function() {

	$('.themesb2b').bxSlider();
});
</script>
<div class="external-r">
            <div class="external-step1">
            	<h1>{% trans "My own site" %}</h1>
                <p>
                {% blocktrans %}
                    Dear colleagues , we are pleased to inform you that for the convenience of providing your interests,
                    we have developed an easy website builder that will help you create your own  external website in
                    just a couple of minutes.
                {% endblocktrans %}
                    {% trans "support" %}:
                    <a href="#">admin@tppcenter.com</a>.</p>
                <h3>{% trans "Your site" %}</h3>


            </div>
<form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        {% with form.fields.NAME.initial as name %}
        {% with form.fields.SITE_SLOGAN.initial as slogan %}
        {% with form.fields.SITE_LOGO.initial as logo %}
        {% with form.fields.DETAIL_TEXT.initial as content %}
        {% with form.fields.TEMPLATE.initial as template %}
        {% with form.fields.SITE_BANNER_1.initial as banner_1 %}
        {% with form.fields.SITE_BANNER_2.initial as banner_2 %}
        {% with form.fields.URL_BANNER_1.initial as url_banner_1 %}
        {% with form.fields.URL_BANNER_2.initial as url_banner_2 %}

            <div class="external-step3">
            	<ul class="step3form">
                    <li>
                   <div class="left">{% trans "Site domain" %}</div>
                   {% if form.errors.NAME %}
                         <div class="error-handler"><div class="formserror">{{ form.errors.NAME }}</div></div>
                   {% endif %}
                    <input type="text" name="NAME" placeholder="" class="text" style="width:30%;" value="{{ name }}"/>.b24online.com

                    </li>
                	<li>
                    	<div class="left">{% trans "Slogan" %}:</div>
                        {% if form.errors.SITE_SLOGAN %}
                         <div class="error-handler"><div class="formserror">{{ form.errors.SITE_SLOGAN }}</div></div>
                        {% endif %}
                        <div class="right">
                        	<input type="text" name="SITE_SLOGAN" placeholder="" class="text" style="width:60%;" value="{{ slogan }}">
                        	 ({% trans "maximum 50 characters" %})
                        </div>
                    </li>
                    <li>
                    	<div class="left">{% trans "Organization logo" %}:</div>
                        {% if form.errors.SITE_LOGO %}
                         <div class="error-handler"><div class="formserror">{{ form.errors.SITE_LOGO }}</div></div>
                         {% endif %}
                        <div class="right">
                        	<div class="fileinputs">
                                <div class="file-wrapper">
                                    <input type="file" name="SITE_LOGO">
                                    <span class="button">{% trans "Pick a file" %}</span>
                                </div>
                            </div>
                            <div class="viewimg">
                               {% if logo %}
                                <div class="b-img">
                                    <img src="{{ MEDIA_URL }}big/{{ logo.name }}">
                                    <div class="deleteimge"><i class="imgnews delete"></i><span class="deletext">{% trans "Remove" %}</span></div>
                                    <div class="gray-img"></div>
                                    <input id="delete" type="checkbox" name="IMAGE-CLEAR" value="{{ logo }}" hidden="hidden" />
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </li>
                   <li>
                    	<div class="left">{% trans "Left Banner" %}:</div>
                        {% if form.errors.SITE_BANNER_1 %}
                         <div class="error-handler"><div class="formserror">{{ form.errors.SITE_BANNER_1 }}</div></div>
                         {% endif %}
                        <div class="right">
                        	<div class="fileinputs">
                                <div class="file-wrapper">
                                    <input type="file" name="SITE_BANNER_1">
                                    <span class="button">{% trans "Pick a file" %}</span>
                                </div>
                            </div>
                            <div class="viewimg">
                               {% if banner_1 %}
                                <div class="b-img">
                                    <img src="{{ MEDIA_URL }}big/{{ banner_1.name }}">
                                    <div class="deleteimge"><i class="imgnews delete"></i><span class="deletext">{% trans "Remove" %}</span></div>
                                    <div class="gray-img"></div>
                                    <input id="delete" type="checkbox" name="IMAGE-CLEAR" value="{{ banner_1 }}" hidden="hidden" />
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </li>
                <li>
                    	<div class="left">{% trans "Right Banner" %}:</div>
                        {% if form.errors.SITE_BANNER_1 %}
                         <div class="error-handler"><div class="formserror">{{ form.errors.SITE_BANNER_2 }}</div></div>
                         {% endif %}
                        <div class="right">
                        	<div class="fileinputs">
                                <div class="file-wrapper">
                                    <input type="file" name="SITE_BANNER_2">
                                    <span class="button">{% trans "Pick a file" %}</span>
                                </div>
                            </div>
                            <div class="viewimg">
                               {% if banner_2 %}
                                <div class="b-img">
                                    <img src="{{ MEDIA_URL }}big/{{ banner_2.name }}">
                                    <div class="deleteimge"><i class="imgnews delete"></i><span class="deletext">{% trans "Remove" %}</span></div>
                                    <div class="gray-img"></div>
                                    <input id="delete" type="checkbox" name="IMAGE-CLEAR" value="{{ banner_2 }}" hidden="hidden" />
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    </li>
                   <li>
                    	<div class="left"> <a href="#" class="showtype">{% trans "Select a category" %}</a>:</div>


                        <div class="right templateImage">
                            <input id="input-template" type="hidden" name="TEMPLATE" value="{{ template }}">
                            {% if template %}

                                  <div class="ex-img"><img class="template1" src="{% static "" %}tppcenter/img/templates/{{ template }}/1.jpg" title="" alt="" width="198" height="51"></div>
                                  <div class="ex-img"><img class="template2" src="{% static "" %}tppcenter/img/templates/{{ template }}/2.jpg" title="" alt="" width="198" height="51"></div>
                            {% else %}
                                 <div class="ex-img"><img class="template1" src="{% static "tppcenter/img/ex-img.jpg" %}" title="" alt="" width="198" height="51"></div>
                                 <div class="ex-img"><img class="template2" src="{% static "tppcenter/img/ex-img.jpg" %}" title="" alt="" width="198" height="51"></div>
                            {% endif %}


                        </div>
                    </li>
                <li>
                 <div class="left">{% trans "Or use custom images" %}: ({% trans "dimensions" %} 700Х183)</div>
                <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="5" />
                <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0" />
                <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="5" />
                <div class="right">
                <ul>
                    {% for i in '01234'|make_list %}
                {% resolve photos i as img %}


                <li>
                        {% if img %}
                            <div class="b-img" style="width: 198px;height: 58px;">
                                <img style="width: 198px;height: 58px; " src='{{ MEDIA_URL }}big/{{ img.photo.name }}'>
                                <div class="deleteimge">
                                    <i class="imgnews delete"></i><span class="deletext">{% trans "Remove" %}</span>
                                </div>
                                <div class="gray-img" style="width: 198px;height: 58px; "></div>
                                <input id="delete" type="checkbox" name="del[]" value="{{ img.pk }}" hidden="hidden" />
                                <div>
                                    <input id="id_form-{{ i }}-item_ptr" name="form-{{ i }}" value="{{ img.pk }}" type="hidden" value="" />
                                </div>
                            </div>
                        {% endif %}
                        <div class="fileinputs">
                            <input name="form-{{ i }}-photo" type="file" style="width: 100%" >
                        </div>
                </li>
                {% endfor %}
                </ul>
                </div>
                </li>
                    <li>
                    	<div class="left">{% trans "Footer description" %}: ({% trans "maximum 200 characters" %})</div>
                        {% if form.errors.DETAIL_TEXT %}
                         <div class="error-handler"><div class="formserror">{{ form.errors.DETAIL_TEXT }}</div></div>
                         {% endif %}
                        <div class="right">
                        	<textarea cols="30" rows="10" style="width:80%;" name="DETAIL_TEXT">{{ content }}</textarea>
                        </div>
                    </li>
                </ul>
                <div class="btn-nextstep">

                    <input type="submit" class="bigbuy right" value="{% trans "Save" %}" >
                </div>
            </div>
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}

    </form>
        </div>

    <div class="external-type">
	    <i class="close-regform imgnews"></i>
        <div class="title">{% trans "Select a category" %}</div>
        <div class="listtype">
            {% for id, attr in template_values.items %}
              {% with attr.NAME|first as name %}
              {% with attr.TEMPLATE_IMAGE_FOLDER|first as template_folder %}
                 {% if forloop.counter|add:-1|divisibleby:"16" or forloop.counter0 == 0 %}
                      <ul>
                 {% endif %}
                      <li><a class="selectTemplate" id="{{ template_folder }}" href="#">{{ name }}</a></li>
                {% if forloop.counter|divisibleby:"16" or forloop.counter == organizationsList|length %}
                      </ul>
                {% endif %}
               {% endwith %}
               {% endwith %}
            {% endfor %}
        </div>
    </div>

