{% load static %}
{% load i18n %}
{% load CustomFilters %}
 {% include "main/local_menu_script.html" %}
<div class="container">
    <div class="companies">



            <ul class="tender-list">
                {% if siteValues %}
                    {% with siteValues.NAME.0 as name %}
                    {% with siteValues.SLUG.0 as slug %}
                    {% with siteValues.CREATE_DATE.0 as date %}
                    <li>

                    {% resolve items_perms id|slugify as permlist %}

                    {% if 'delete_usersites' in  permlist or 'change_usersites' in permlist%}
                    <div class="blockbox">
                            <a href="#"><i class="btn-afisha imgnews"></i></a>
                            <div class="localmenu">
                                {% if 'change_usersites' in permlist %}
                                     <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'site:update' site_id %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                {% endif %}

                                 {% if 'delete_usersites' in  permlist %}
                                     <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url 'site:delete' site_id %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                                 {% endif %}
                            </div>
                        </div>
                   {% endif %}

                        <div class="title">

                            <font class="name">{% trans 'Publication date' %}: {{ date|date:"d M Y" }}</font>
                        </div>
                        <h2><a href="http://{{ name }}.b24online.com" >{{ name }}</a></h2>

                        <a href="" class="linkmore">{% trans 'More' %}...</a>
                    </li>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% else %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endif %}

            </ul>

    </div>
</div>
