{% extends "centerpokupok/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block title %}{% trans 'Products' %}{% endblock %}


{{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "centerpokupok/css/company.css" %}">
    <!--[if IE]><link type="text/css" rel="stylesheet" href="css/ie.css" /><![endif]-->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
     $(document).ready(function () {

                    $('#slider1').anythingSlider({hashTags: false});
     })
    </script>
{% endblock %}

{% block header %}
    {% companyMenuB2C companyID "products" %}
{% endblock %}

{% block body %}
		<div id="main">
            <div id="sidebar">
                    <div class="bestbuy">
                        <div class="items-coupon">
                            <h3>{% trans 'Best buy products' %}</h3>
                            <ul>
                                <li>
                                    <div class="discount"><i class="icons i-after"></i> -30%</div>
                                    <a href="#"><img alt="" src="{% static 'centerpokupok/images/products/pr4.jpg' %}"></a>
                                    <div class="coupon-info">
                                        <p><a href="#">Изучение английского, немецкого, французского, испанского и др. языков</a></p>
                                        <p class="price">
                                            <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                            Экономия: $ 22.10
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="discount"><i class="icons i-after"></i> -30%</div>
                                    <a href="#"><img alt="" src="{% static 'centerpokupok/images/products/pr4.jpg' %}"></a>
                                    <div class="coupon-info">
                                        <p><a href="#">5, 10 или 15 посещений подземного соляного грота</a></p>
                                        <p class="price">
                                            <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                            Экономия: $ 22.10
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div id="main-r">

                <ul id="listitems">
                    {% for prod in object_list %}
                    <li>
                        {% if prod.coupon %}
                            <div class="discount"><i class="icons i-after"></i> -{{ prod.coupon }}%</div>
                        {% elif prod.discount %}
                            <div class="discount"><i class="icons i-after"></i> -{{ prod.discount }}%</div>
                        {% endif %}
                        <a href="{% url "products:detail" prod.pk %}">
                        <div class="img_gallery">
                            <div class="shadow"></div>
                            <div class="img_block">

                                <img src="{{ MEDIA_URL }}big/{{ prod.image }}" alt="{{ prod.title }}" >
                            </div>
                        </div>
                    </a>
                        <p><a href="{% url "products:detail" prod.pk %}">{{ prod.title }}</a></p>
                        <div class="price">
                            {% if prod.coupon %}
                                <font class="num">{{ prod.currency|getSymbol }} {{ prod.price|discountPrice:prod.coupon }}</font>
                                <p><font class="price-old">{{ prod.currency|getSymbol }} {{ prod.price|formatPrice }}</font></p>
                            {% elif discount %}
                                <font class="num">{{ prod.currency|getSymbol }} {{ prod.price|discountPrice:prod.discount }}</font>
                                <p><font class="price-old">{{ prod.currency|getSymbol }} {{ prod.price|formatPrice }}</font></p>
                            {% else %}
                                <font class="num">{{ prod.currency|getSymbol }} {{ prod.price|formatPrice }}</font>
                            {% endif %}

                        </div>
                        <div class="bvote">
                            <img src="{% static "centerpokupok/images/stars.png"  %}" alt="" class="star">
                            <div class="comment">
                                <i class="icons icon-cmt"></i>
                                <label><a href="{% url "products:detail" prod.pk %}">0</a></label>
                            </div>
                             <a href="#" class="favorite" >
                                <i class="icons {% if prod.pk in favorite %}icon-colored-heart {% else %}icon-heart{% endif %}" data-gid="{{ prod.pk }}"></i>
                            </a>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <div class="items-coupon">
                    <h3>{% trans 'Sales' %}</h3>
                    <ul>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="{% static 'centerpokupok/images/products/pr2.jpg' %}" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="{% static 'centerpokupok/images/products/pr3.jpg' %}" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="{% static 'centerpokupok/images/products/pr2.jpg' %}" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="{% static 'centerpokupok/images/products/pr3.jpg' %}" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                {% include "centerpokupok/paginator.html" %}
            </div>
        </div>
    </div>
{% endblock %}