{% load staticfiles %}
{% load i18n %}

<h3 class="spacer">{% trans "Store Categories" %}</h3>

			<ul id="categories">
                {% for id, attr in storeCategories.items %}
                    {% with attr.NAME|first as name %}
                    {% with attr.count as count %}
                        {% if category == id %}
                            <li class="parent">{{ name }} ({{ count }})</li>
                        {% elif count > 0 %}
                            <li><a href="{% url store_url companyID id %}">{{ name }}</a>({{ count }})</li>
                        {% endif %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
			</ul>