{% load staticfiles %}
{% load inclusionTags %}
{% load content_tags %}
{% load CustomFilters %}
{% load humanize %}

{# KRN check if there are banners and check the nuber of banners exist. #}

{# {% site_banner_total "top" 'SITES RIGHT 1" as total_banners %}.#}

{#{% if banner %}#}

    <!-- Banners -->

	<div class="container banners-container">

	    <!-- consider max-height with visible attr -->
	    <div class="row banners__row">

            {% check_banner_exist "SITES RIGHT 1" as right_banner_1 %}
            {% check_banner_exist "SITES RIGHT 2" as right_banner_2 %}
            {% check_banner_exist "SITES RIGHT 3" as right_banner_3 %}
            {% check_banner_exist "SITES RIGHT 4" as right_banner_4 %}

            {% if right_banner_1 %}
                    <div class="col-md-12 col-sm-12 col-xs-12 banner-ad-main-collection">


                        {% if right_banner_4 %}

                            <div class="col-md-3 col-sm-3 col-xs-6 banners__col">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 banners__col">
                            {% site_banner "top" "SITES RIGHT 2" %}
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 banners__col">
                                {% site_banner "top" "SITES RIGHT 3" %}
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 banners__col">
                                {% site_banner "top" "SITES RIGHT 4" %}
                            </div>

                        {% elif right_banner_3 %}

                            <div class="col-md-4 col-sm-4 col-xs-12 banners__col">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 banners__col">
                            {% site_banner "top" "SITES RIGHT 2" %}
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 banners__col">
                                {% site_banner "top" "SITES RIGHT 3" %}
                            </div>

                        {% elif right_banner_2 %}

                            <div class="col-md-6 col-sm-6 col-xs-6 banners__col">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 banners__col">
                            {% site_banner "top" "SITES RIGHT 2" %}
                            </div>

                         {% elif right_banner_1 %}

                            <div class="col-md-12 col-sm-12 col-xs-12 banners__col">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                        {% endif %}


                    </div>

                {% endif %}

		</div>
	</div>

{#{% endif %}#}
