{% extends 'usersites_templates/top_business/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load humanize %}
{% load inclusionTags %}
{% load content_tags %}

{# including the slider. The slider will apear only on the main page. #}
{% block slider %}
       {% include 'usersites_templates/top_business/slider.html' %}
{% endblock %}

{% block content %}

    {% b2c_products 'B2CProducts/main_products.html' 12 %}

    {% include 'usersites_templates/top_business/banner.html' %}

    {% coupons 'B2CProducts/main_coupons.html' 2 %}

    {% proposal 'Proposals/wall.html' 1 %}

{#    {% b2b_products 'B2BProducts/main_products.html' 4 %}#}

<div class="container">
    <div class="row">
            {% if news %}
                <div class="col-md-12 news-main">
                    {% news 'News/wall.html' 2 %}
                </div>
            {% endif %}
        </div>
</div>

{#    here come the gallery #}
    {% include 'usersites_templates/top_business/OrganizationPages/main_gallery.html' %}

{% endblock %}