{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}

{% block title %}News Detail{% endblock %}


{{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/company.css" %}">
    <!--[if IE]><link type="text/css" rel="stylesheet" href="css/ie.css" /><![endif]-->
{% endblock %}

{% block js %}
    {{ block.super }}
    <script>
     $(document).ready(function () {

                    $('#slider1').anythingSlider({hashTags: false});
     })
    </script>
{% endblock %}

{% block header %}
    {% include "Company/header.html" %}
{% endblock %}

{% block body %}
		<div id="main">
            <div id="sidebar">
                {% include "Company/store_categories.html" %}
                {% include "popular.html" %}
                    <div class="bestbuy">
                        <div class="items-coupon">
                            <h3>Самые выгодные купоны</h3>
                            <ul>
                                <li>
                                    <div class="discount"><i class="icons i-after"></i> -30%</div>
                                    <a href="#"><img alt="" src="images/products/pr4.jpg"></a>
                                    <div class="coupon-info">
                                        <p><a href="#">Изучение английского, немецкого, французского, испанского и др. языков</a></p>
                                        <p class="price">
                                            <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                            Экономия: $ 22.10
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="discount"><i class="icons i-after"></i> -30%</div>
                                    <a href="#"><img alt="" src="images/products/pr4.jpg"></a>
                                    <div class="coupon-info">
                                        <p><a href="#">5, 10 или 15 посещений подземного соляного грота</a></p>
                                        <p class="price">
                                            <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                            Экономия: $ 22.10
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
            </div>
            <div id="main-r">

                <ul id="listitems">
                    {% for id , product in products.items %}
                         {% with product.NAME|first as name %}
                         {% with product.IMAGE|first as picture %}
                         {% with product.COST|first as price %}
                         {% with product.CURRENCY|first as currency %}
                         {% with product.DISCOUNT|first as discount %}
                         {% with product.COUPON_DISCOUNT|first as coupon_discount %}
                         {% with product.COMMENTS as comment %}
                         {% with product.FAVORITE as favorite %}
                    <li>
                        {% if coupon_discount %}
                            <div class="discount"><i class="icons i-after"></i> -{{ coupon_discount }}%</div>
                        {% elif discount %}
                            <div class="discount"><i class="icons i-after"></i> -{{ discount }}%</div>
                        {% endif %}
                        <a href="{% url "products:detail" id %}">
                       <div class="img_gallery">
                            <div class="shadow"></div>
                            <div class="img_block">

                                <img src="{% static picture %}" alt="{{ name }}" >
                            </div>
                        </div>
                    </a>
                        <p><a href="{% url "products:detail" id %}">{{ name }}</a></p>
                        <div class="price">
                            {% if coupon_discount %}
                                <font class="num">{{ currency|getSymbol }} {{ price|discountPrice:coupon_discount }}</font>
                                <p><font class="price-old">{{ currency|getSymbol }} {{ price|formatPrice }}</font></p>
                            {% elif discount %}
                                <font class="num">{{ currency|getSymbol }} {{ price|discountPrice:discount }}</font>
                                <p><font class="price-old">{{ currency|getSymbol }} {{ price|formatPrice }}</font></p>
                            {% else %}
                                <font class="num">{{ currency|getSymbol }} {{ price|formatPrice }}</font>
                            {% endif %}

                        </div>
                        <div class="bvote">
                            <img src="images/stars.png" alt="" class="star">
                            <div class="comment">
                                <i class="icons icon-cmt"></i>
                                <label><a href="{% url "products:detail" id %}">{{ comment }}</a></label>
                            </div>
                             <a href="#" class="favorite" >
                                <i class="icons {% if favorite == 1%}icon-colored-heart {% else %}icon-heart{% endif %}" data-gid="{{ id }}"></i>
                            </a>
                        </div>
                    </li>
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                          {% endwith %}
                    {% endfor %}

                </ul>
                <div class="items-coupon">
                    <h3>Акции и распродажи</h3>
                    <ul>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr2.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr3.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr2.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="discount"><i class="icons i-after"></i> 30%</div>
                            <img src="images/products/pr3.jpg" alt="">
                            <div class="coupon-info">
                                <p><a href="#">Женские босоножки “Осенний туман”</a></p>
                                <p class="price">
                                    <font class="number">$ 53.80 </font><font class="dv">/ пара</font>
                                    Экономия: $ 22.10
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                {% include "paginator.html" %}
            </div>
        </div>
    </div>
{% endblock %}