{% if banner %}
    {% if side == 'top' %}
    <div class="offer__icons__icon">
        <a href="{{ banner.link }}" title="{{ banner.title }}" target="_self">
            <img src="{{ banner.image.url }}" alt="{{ banner.title }}" title="{{ banner.title }}" />
        </a>
    </div>
    {% elif side == 'left' %}
    <div class="banner-left">
        <a href="{{ banner.link }}" title="{{ banner.title }}" target="_self">
            <img src="{{ banner.image.url }}" alt="{{ banner.title }}" title="{{ banner.title }}" />
        </a>
    </div>
    {% else %}
    <div class="banner">
        <a href="{{ banner.link }}" title="{{ banner.title }}" target="_self">
            <img src="{{ banner.image.url }}" alt="{{ banner.title }}" title="{{ banner.title }}" />
        </a>
    </div>
    {% endif %}
{% endif %}
