{% load CustomFilters %}{% load inclusionTags %}{% load static %}{% load i18n %}

<hr class="footer-hr">

<footer>
  <div class="container">

    {% comment %}
    <div class="mail-social">

        <div class="mailing-list col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                <!-- <div class="col-md-12 col-sm-12 col-xs-12 clearfix"> -->
                <h3>Sign up to the latest news</h3>
                <form id="register-newsletter">
                    <input type="text" name="newsletter" required="" placeholder="Enter your email address">
                    <input type="submit" class="btn btn-custom-3" value="SIGN UP">
                </form>
                <!-- </div> -->

                <ul class="social-network social-circle">
                    <!-- <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li> -->
                    <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" class="icoGoogle" title="Email"><i class="fa fa-envelope-o"></i></a></li>
                    <!-- <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li> -->
                    <!-- <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
            </div>
            <!-- </div> -->

            <!-- <div class="social-links col-md-4 col-sm-4 col-xs-12"> -->

            </div>

    </div>
    {% endcomment %}

    <div class="footer-info">

      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <li><a href="#">About b24 online</a></li>
          <li><a href="#">Terms and conditions</a></li>
          <li><a href="#">Buyer guide</a></li>
          <li><a href="#">Seller guide</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">Register</a></li>
          <li><a href="#">Categories List</a></li>
          <li><a href="#">Coupons</a></li>
          <li><a href="#">Contact and FAQ </a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <li class="li-heading"><a href="#">Latest In B24Online</a></li>
          <li><a href="#">Red dot Dress</a></li>
          <li><a href="#">Coffee Cup</a></li>
          <li><a href="#">Great Camera</a></li>
          <li><a href="#">Nice Treehouse</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <ul>
          <li class="li-heading"><a href="#">Best sellers</a></li>
          <li><a href="#">Red dot Dress</a></li>
          <li><a href="#">Coffee Cup</a></li>
          <li><a href="#">Great Camera</a></li>
          <li><a href="#">Nice Treehouse</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer>


{% comment %}
{% is_chamber_site as is_chamber %}

{% site_banner "footer" "SITES FOOTER" %}

{% if site.user_site.logo %}
<img src="{{ site.user_site.logo.big }}" alt="" />
{% else %}
<img src="{% static 'b24online/img/item.jpg' %}" alt="" />
{% endif %}

{% if not is_chamber and site.user_site.organization.parent %}
<h4>{% trans "Member of" %} {{ site.user_site.organization.parent.name }}</h4>
{% endif %}
{% endcomment %}



<footer>


</footer>
