{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}


              <div class="dropdown">
                <div class="dropdown dropdown-toggle" data-toggle="dropdown">
                  <script>
                  $('.dropdown').hover(function() {
                    $(this).find('.afisha-dropdown').stop(true, true).delay(100).fadeIn(200);
                  }, function() {
                    $(this).find('.afisha-dropdown').stop(true, true).delay(500).fadeOut(500);
                  });
                  </script>
                  <i class="afisha fa fa-pencil" >
                    <ul class="afisha-dropdown dropdown-menu pull-right">
                      <li>
                        <a href="#"><i class="edit fa fa-pencil"></i>Edit</a>
                      </li>
                      <li>
                        <a href=#><i class="advertise fa fa-bell"></i>Advertise</a>
                      </li>
                      <li>
                        <a href="#"><i class="set fa fa-cogs"></i>Set current</a>
                      </li>
                      <li>
                        <a href="#"><i class="remove fa fa-times"></i>Remove</a>
                      </li>
                    </ul>
                  </i>
                </div>
              </div>


