{% load CustomFilters %}
{% load i18n %}
   	<div class="cabinet-form">
        <div class="current-company">
            {% comment %}
            {% trans "Current organization" %}:
            {% endcomment %}

            {% if current %}
                {% with current.NAME|first as name %}
                    <a href="#" class="cpn-current">{{ name }}</a>
                {% endwith %}
            {% else %}
                <a href="#" class="cpn-current">{{ user }}</a>
            {% endif %}
            <style>
                .current-company-select {
                    margin-top: 5px;
                }
                .current-company-select .select2-choice {
                    border-radius: 0;
                }

                .current-company-select .select2-chosen {
                    font-size: 11px;
                }

                .current-company-dropdown ul li:nth-child(even) { background: rgb(215, 215, 217); }
            </style>
            <input id="e1" />
            <script>
                $("#e1").select2({
                    width: '100%',
                    allowClear: false,
                    containerCssClass: 'current-company-select',
                    dropdownCssClass: 'current-company-dropdown',
                    multiple: false,
                    placeholder: '{{ current_company }}',
                    ajax: {
                        url: "/company-manage/",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                            return {
                                page: page // page number

                            };
                        },
                        results: function (data, page) {
                            var more = (page * 10) < data.total; // whether or not there are more results available
                            // notice we return the value of more so Select2 knows if more results can be loaded
                            return {results: data.content, more: more};
                        }

                    },
                    formatResult: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    formatSelection: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results

                }).on("change", function(e) {
                    $('#fade-profile').show();
                    window.location.href= updateURLParameter('set', e.val);
                });
            </script>
        </div>
    </div>
