{% load CustomFilters %}
{% load i18n %}

{% if is_paginated %}
    <div class="row paginator">
        <div class="total">{% trans "Total pages" %}: {{ page.paginator.num_pages }}</div>

        <div class="text-center">
        {% if page.has_previous %}
               &larr; <a class="single-page" href="{% dynurl url_paginator url_parameter page.previous_page_number %}" >{% trans "Back" %}</a>
        {% endif %}
        {% for i in paginator_range %}
            {% ifequal i page.number %}
                <span class="current-page">{{ page.number }}</span>
            {% else %}
               <a class="single-page" href="{% dynurl url_paginator url_parameter i %}">{{ i }}</a>
            {% endifequal %}
        {% endfor %}
        {%  if page.has_next %}
            <a class="single-page" href="{% dynurl url_paginator url_parameter page.next_page_number %}" >{% trans "Forward" %}</a>&rarr;
        {% endif %}
        </div>
    </div>
 {% endif %}
