{% extends 'b24online/forms.html' %}
{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<div id="u-site-wrapper">

{% include "b24online/UserSites/includes/breadcrumbs.html" %}
{% include "b24online/UserSites/includes/notifications.html" %}

<h1>{{ title }}</h1>

    {% for template in object_list %}

        <div class="templates-box" style="margin:10px 20px 10px 0;">
            <a class="link" href="{% url 'site:color' template.id %}">
                <img class="t-image" src="{{ template.thumbnail.small }}" >
                <p class="lead">{{ template }}</p>
            </a>
        </div>

    {% endfor %}

</div>
{% endblock %}

