{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}
<div class="tpp-dt-content">
    <table class="table-deals" cellpadding="0" cellpadding="0">
        <tr class="top">
            <td>№</td>
            <td>{% trans "Name" %}</td>
            <td>{% trans 'Project cost' %}</td>
            <td>{% trans "Date" %}</td>
        </tr>

       {% for innov in page.object_list %}
            <tr>
                <td>{{ innov.pk }}</td>
                <td>
                    <a href="{{ innov.get_absolute_url }}" title="{{ innov.name }}">
                        {{ innov.name|truncatewords:4 }}
                    </a>
                </td>
                <td>{{ innov.currency|getSymbol }} {{ innov.cost|formatPrice }}</td>
                <td>
                    {{ innov.created_at|date:'d M Y' }}
                </td>
            </tr>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </table>
    {% include "b24online/main/paginator.html" %}
</div>