<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Proposal</title>
    <!-- <link href="../styles/bootstrap-rtl.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" />
    <link rel="stylesheet" type="text/css" href="https://select2.github.io/select2-bootstrap-theme/css/select2-bootstrap.css">

    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
    <!-- <link href="../styles/style.rtl.css" rel="stylesheet"> -->
    <link href="../styles/style.css" rel="stylesheet">

  </head>
  <body>
    <div class="container-fluid wrapper">
      <div class="header-row">
        <div class="container header-container">
          <div class="col-xs-12 header">
            <div class="row">
              <div class="logo pull-left">
                <img src="../images/b24_small.png" alt="logo">
              </div>
              <div class="nav pull-left">
                <span class="tab"><a href="#">Советы</a></span> |
                <span class="tab"><a href="#">Реклама на портале</a></span> |
                <span class="tab"><a href="#">Описание</a></span> |
                <span class="tab"><a href="#">Публичная офертa</a></span> |
                <span class="tab"><a href="#">Новый пользователь</a></span>
              </div>
              <div class="nav pull-right">
                <span><a href="" class="fa fa-map-marker"></a></span>
                <!-- <span><img class="flag-current" src="flags/english.png" alt="en"></span> -->
                <div class="btn-group language-navi">
          				<div id="header-language-selector" data-toggle="dropdown">
          					<img class="flag-current" src="../flags/english.png" />
          				</div>
          			  <ul class="dropdown-menu lang-dropdown" role="menu">
      							<a href=""><img class="flag-icon" src="../flags/arabic.png" /></a>
      							<a href=""><img class="flag-icon" src="../flags/armenian.png" /></a>
      							<a href=""><img class="flag-icon" src="../flags/chinese.png" /></a>
      							<a href=""><img class="flag-icon" src="../flags/bulgarian.png" /></a>
      							<a href=""><img class="flag-icon" src="../flags/he.png" /></a>
      							<a href=""><img class="flag-icon" src="../flags/uk.png" /></a>
      							<a href=""><img class="flag-icon" src="../flags/es.png" /></a>
      							<a href=""><img class="flag-icon" src="../flags/hebrew.png" /></a>
          			  </ul>
          			</div>
                <span><img class="avatar" src="http://lorempixel.com/20/20" alt="avatar"/></span>
                <span class="person-name">Геннадий Андреевич Балачков <span class="caret"></span></span>
                <span><a class="logout" href="#exit">Выйти</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-row">
        <div class="container main-container">
          <div class="row">
            <div class="left-aside col-xs-3">
              <div class="left-select-container">
                <select id="monoSelect">
                  <option value="1">Организация 1</option>
                  <option value="2">Организация 2</option>
                  <option value="3">Организация 3</option>
                  <option value="4">Организация 4</option>
                  <option value="5">Организация 5</option>
                  <script>
                  $(document).ready(
                    function () {
                      $("#monoSelect").select2({
                        maximumSelectionLength: 5,
                      })
                    }
                  );
                  </script>
                </select>
              </div>
              <div class="list-group">
                <a href="#" class="list-group-item active red"><i class="fa fa-desktop"></i>Управление</a>
                <a href="#" class="list-group-item"><i class="fa fa-bars"></i>Стена</a>
                <a href="#" class="list-group-item"><i class="fa fa-coffee"></i>Новости</a>
                <a href="#" class="list-group-item"><i class="fa fa-suitcase"></i>B2B Центр</a>
                <a href="#" class="list-group-item"><i class="fa fa-shopping-cart"></i>Центр покупок</a>
                <a href="#" class="list-group-item"><i class="fa fa-globe"></i>Купоны</a>
                <a href="#" class="list-group-item"><i class="fa fa-shield"></i>Организации</a>
                <a href="#" class="list-group-item"><i class="fa fa-briefcase"></i>Компании</a>
                <a href="#" class="list-group-item"><i class="fa fa-lightbulb-o"></i>Инновационные проекты</a>
                <a href="#" class="list-group-item"><i class="fa fa-laptop"></i>Бизнес предложения</a>
                <a href="#" class="list-group-item"><i class="fa fa-users"></i>Выставки / Форумы</a>
                <a href="#" class="list-group-item"><i class="fa fa-desktop"></i>TPP CHANNEL</a>
                <a href="#" class="list-group-item"><i class="fa fa-graduation-cap"></i>Требуются</a>
                <a href="#" class="list-group-item"><i class="fa fa-user-plus"></i>Резюме</a>
              </div>
            </div>
            <div class="article col-xs-6">
              <div class="row">
                <div class="article-content col-xs-12">
                  <div class="content-block">
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="row">
                          <div class="container content details clear-bgc">
                            <div class="col-xs-12">
                              <div class="row">
                                <img class="thumb-flag-block pull-left" src="../flags/english.png" alt="flag">
                                <div class="date pull-left">Russia</div>
                              </div>
                            </div>
                            <br>
                            <div class="title">5М AUTOMOTİVE предлагает покупателям европейское качество по очень выгодным ценам и быструю доставку.</div>
                            <div class="link">
                              <img src="http://placehold.it/80x80" alt="logo">
                              <a href="#">5M OTOMOTIV</a>
                            </div>
                            <div class="col-xs-12">
                              <div class="col-xs-12 tabs">
                                <div id="exTab2" class="">
                                  <ul class="nav nav-tabs">
                                    <li class="active">
                                      <a  href="#1" data-toggle="tab">About</a>
                                    </li>
                                    <li>
                                      <a  href="#2" data-toggle="tab">Galery</a>
                                    </li>
                                    <li>
                                      <a href="#3" data-toggle="tab">Documents</a>
                                    </li>
                                    <li>
                                      <a href="#4" data-toggle="tab">Contacts</a>
                                    </li>
                                  </ul>
                                  <div class="tab-content">
                                    <div class="tab-pane active" id="1">
                                      <p>Мы являемся производителем  пневмотических тормозных систем,систем сцепления и ремкомплект суппортов для всех видов европейских коммерческих транспорт, автобусов и бортовых прицепов.</p>
                                      <img src="http://placehold.it/300x300" alt="">
                                      <p>Автомобильная компания 5М AUTOMOTİVE предлагает покупателям европейское качество по очень  выгодным ценам и быструю доставку.</p>
                                      <p>Работая с нами Вы всегда можете быть уверены о быстром и точном исполнении заказов ,высоком качестве продукции.</p>
                                      <p>Высочайшее качество товаров и услуг, являются залогом того, что на нас можно положиться.</p>
                                      <p>Наша продукция имеет сертификат ISO 9001:2008.</p>
                                      <p>Eсли будут вопросы всегда будем рады помочь !</p>
                                    </div>
                                    <div class="tab-pane" id="2">
                                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus cum aperiam odio numquam maxime voluptates laudantium facere eos voluptatibus.</div>
                                      <img src="http://placehold.it/150x150" alt="">
                                    </div>
                                    <div class="tab-pane" id="3">
                                      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus cum aperiam odio numquam maxime voluptates laudantium facere eos voluptatibus.</div>
                                      <img src="http://placehold.it/250x300" alt="">
                                    </div>
                                    <div class="tab-pane" id="4">
                                      <div class="col-xs-12">
                                        <div class="col-xs-4 field">Address:</div>
                                        <div class="col-xs-8 value">Barakfakih Org. San. Bölg. Ankara Cd. No:30 Kestel / BURSA / TÜRKİYE</div>
                                      </div>
                                      <div class="col-xs-12">
                                        <div class="col-xs-4 field">Telephone number:</div>
                                        <div class="col-xs-8 value">90 (224) 411 0680; 90 549 411 06 83</div>
                                      </div>
                                      <div class="col-xs-12">
                                        <div class="col-xs-4 field">Fax:</div>
                                        <div class="col-xs-8 value">90 (224) 411 0684</div>
                                      </div>
                                      <div class="col-xs-12">
                                        <div class="col-xs-4 field">Email:</div>
                                        <div class="col-xs-8 value">sabriye@5mautomotive.com.tr</div>
                                      </div>
                                      <div class="col-xs-12">
                                        <div class="col-xs-4 field">WWW:</div>
                                        <div class="col-xs-8 value">http://www.5mautomotive.com.tr</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <div class="col-xs-12">
                <div class="right-aside col-xs-10">
                  <div class="row">
                    <div class="right-aside-block">
                       <a href=""><i class="fa fa-exclamation-circle"><span class="badge">3</span></i></a>
                       <a href=""><i class="fa fa-envelope-o"><span class="badge">11</span></i></a>
                       <a href=""><i class="fa fa-users disabled"><span class="badge">3</span></i></a>
                       <a href=""><i class="fa fa-shopping-cart"><span class="badge">2</span></i></a>
                     </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <div class="right-aside col-xs-10">
                  <div class="row">
                      <div class="right-aside-block title">
                        <span>Платные объявления</span>
                      </div>
                      <div class="right-aside-block companies-title">
                        <span>Компании</span>
                      </div>
                      <div class="right-aside-block list">
                        <div class="thumbnail company-paid-card">
                          <div class="caption">
                            <ul class="media-list">
                              <li class="media">
                                <div class="media-body">
                                  <a class="flag pull-left" href="#">
                                    <img class="thumb-flag media-object" src="../flags/english.png" alt="...">
                                  </a>
                                  <a href="" class="thumb-title">Expert center</a>
                                </div>
                              </li>
                            </ul>
                            <div>
                              <img class="paid-img pull-left" src="http://placehold.it/70x50" alt="">
                              <p class="text-details">Expert center Company was founded in 2003...</p>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <footer id="footer">
          <hr class="footer-separator">
          <div class="container">
            <div class="row-fluid footer-links">
                <div class="col-xs-3">
                    <p class="footer-links">
                        <h5>ОПИСАНИЕ</h5>
                        <a href="#">Платежная система</a>
                        <a href="#">Реклама на портале</a>
                        <a href="#">Описание</a>
                        <a href="#">Публичная оферта</a>
                        <a href="#">Правила использования</a>
                        <a href="#">Приветствия</a>
                    </p>
                </div>
                <div class="col-xs-3">
                    <p class="footer-links">
                      <h5>ПОМОЩЬ</h5>
                      <a href="#">Советы</a>
                      <a href="#">Найти бизнес партнера</a>
                      <a href="#">Поиск работы/сотрудника</a>
                      <a href="#">Разместить анонс</a>
                      <a href="#">Языковая поддержка и перевод</a>
                      <a href="#">Новый пользователь</a>
                      <a href="#">Добавить бизнес предложение</a>
                      <a href="#">Собственный интернет-сайт</a>
                      <a href="#">Создать онлайн магазин</a>
                    </p>
                </div>
                <div class="col-xs-3">
                    <p class="footer-links">
                        <h5>КОНТАКТЫ</h5>
                        <a href="#">Часто задаваемые вопросы</a>
                        <a href="#">Контакты</a>
                    </p>
                </div>
                <div class="col-xs-3">
                    <p class="footer-links">
                        <h5>КОМПАНИИ: 50741</h5>
                        <span>Партнеры: 209</span>
                    </p>

                </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12 bottom">
                  <p class="text-muted bottom text-center">© 2015 - 2017 ТПП-Центр — Центр торгово-промышленных палат, ассоциаций, союзов и гильдий предпринимателей и промышленников.</p>
              </div>
            </div>
          </footer>
      </div>
    </div>
  </body>
</html>
