{% extends 'b24online/UserSites/baseSiteForm.html' %}
{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

{% block form %}
<h3>{% trans "Domain" %}</h3>

    <form method="post" action="" xmlns="http://www.w3.org/1999/html" id="user_site_form">
        {% csrf_token %}
        {{ wizard.management_form }}

        <div class="form-group">
        <label>{% trans "Site sub-domain" %}</label>
        <input type="text" name="{{ form.sub_domain.html_name }}" placeholder="mysite" class="text" style="width:30%;" value="{{ form.sub_domain.value|default_if_none:"" }}"/>.{{ domain }}
        {% if form.errors.sub_domain %}<small class="error">{{ form.errors.sub_domain.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
        <label>{% trans "OR your own domain" %}</label>
        <input type="text" name="{{ form.domain.html_name }}" placeholder="example.com" class="text" style="width:30%;" value="{{ form.domain.value|default_if_none:"" }}"/>
        {% if form.errors.domain %}<small class="error">{{ form.errors.domain.0 }}</small>{% endif %}
         </div>

        <div class="form-group">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <input type="submit" class="bigbuy" value="{% trans 'Next step' %}">
        </div>

    </form>
{% endblock %}
