{% extends 'b24online/UserSites/baseSiteForm.html' %}
{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

{% block form %}

    <form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html" id="user_site_form">
        {% csrf_token %}
        {{ wizard.management_form }}

        <div class="form-group">
        <label>{% trans "Slogan" %}</label>
        <input type="text" name="{{form.slogan.html_name}}" placeholder="{% trans 'Maximum 50 characters' %}" maxlength="50" class="text" style="width:60%;" value="{{ form.slogan.value|default_if_none:"" }}">
        {% if form.errors.slogan %}<small class="error">{{ form.errors.slogan.0 }}</small>{% endif %}
         </div>

        <br>
        <div class="form-group">
        <label>{% trans "Organization logo" %} <span>({% trans "Max Dimensions" %} 220x120px)</span></label>
        <input type="file" name="{{form.logo.html_name}}">
        {% if form.errors.logo %}<small class="error">{{ form.errors.logo.0 }}</small>{% endif %}
            <div class="viewimg">
            {% if form.initial.logo %}
                <img src='{% if form.initial.logo.original %}{{ form.initial.logo.original }}{% else %}{{ form.initial.logo.file.url }}{% endif %}'>
            {% elif form.logo.data %}
                <img src='{{ form.logo.data.file.url }}'>
            {% endif %}
            </div>
        </div>


        <div class="form-group" style="height:50px">
        <label>{% trans "Site default language" %}</label>
            {% if form.errors.language %}<small class="error">{{ form.errors.language.0 }}</small>{% endif %}
            {{ form.language }}
        </div>

        <div class="form-group">
        <label>{% trans "Site available languages" %}</label>
            {% if form.errors.languages %}<small class="error">{{ form.errors.languages.0 }}</small>{% endif %}
            <div style="margin:10px 0;color:#858585">
                {{ form.languages }}
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label>{% trans "Footer description" %}: ({% trans "maximum 200 characters" %})</label>
            <textarea name="{{form.footer_text.html_name}}" maxlength="200">{{ form.footer_text.value|default_if_none:"" }}</textarea>
            {% if form.errors.footer_text %}<small class="error">{{ form.errors.footer_text.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <input type="submit" class="bigbuy" value="{% trans 'Next step' %}">
        </div>


    </form>
{% endblock %}
