{% extends 'b24online/UserSites/baseSiteForm.html' %}
{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

{% block form %}



    <form method="post" action="" xmlns="http://www.w3.org/1999/html" id="user_site_form">
        {% csrf_token %}
        {{ wizard.management_form }}

        <h3>{% trans 'Social links' %}</h3>
        <div class="form-group">
        <label>{% trans "Facebook Link" %}</label>
        <input type="text" name="{{form.facebook.html_name}}" placeholder="{% trans 'Link to your facebook page or group' %}" maxlength="225" class="text" style="width:60%;" value="{{ form.facebook.value|default_if_none:"" }}">
        {% if form.errors.facebook %}<small class="error">{{ form.errors.facebook.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
        <label>{% trans "YouTube Link" %}</label>
        <input type="text" name="{{form.youtube.html_name}}" placeholder="{% trans 'Link to your youtube channel' %}" maxlength="225" class="text" style="width:60%;" value="{{ form.youtube.value|default_if_none:"" }}">
        {% if form.errors.youtube %}<small class="error">{{ form.errors.youtube.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
        <label>{% trans "Twitter Link" %}</label>
        <input type="text" name="{{form.twitter.html_name}}" placeholder="{% trans 'Link to your twitter account' %}" maxlength="225" class="text" style="width:60%;" value="{{ form.twitter.value|default_if_none:"" }}">
        {% if form.errors.twitter %}<small class="error">{{ form.errors.twitter.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
        <label>{% trans "Instagram Link" %}</label>
        <input type="text" name="{{form.instagram.html_name}}" placeholder="{% trans 'Link to your Instagram account' %}" maxlength="225" class="text" style="width:60%;" value="{{ form.instagram.value|default_if_none:"" }}">
        {% if form.errors.instagram %}<small class="error">{{ form.errors.instagram.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
        <label>{% trans "Vkontakte Link" %}</label>
        <input type="text" name="{{form.vkontakte.html_name}}" placeholder="{% trans 'Link to your vk page or group' %}" maxlength="225" class="text" style="width:60%;" value="{{ form.vkontakte.value|default_if_none:"" }}">
        {% if form.errors.vkontakte %}<small class="error">{{ form.errors.vkontakte.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
        <label>{% trans "Odnoklassniki Link" %}</label>
        <input type="text" name="{{form.odnoklassniki.html_name}}" placeholder="{% trans 'Link to your Ok account' %}" maxlength="225" class="text" style="width:60%;" value="{{ form.odnoklassniki.value|default_if_none:"" }}">
        {% if form.errors.odnoklassniki %}<small class="error">{{ form.errors.odnoklassniki.0 }}</small>{% endif %}
        </div>


        <div class="form-group">
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
            {% endif %}
            <input type="submit" class="bigbuy" value="{% trans 'Next step' %}">
        </div>

    </form>
{% endblock %}
