{% extends 'b24online/forms.html' %}
{% load i18n %}
{% load static %}
{% load CustomFilters %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<div id="u-site-wrapper">

{% include "b24online/UserSites/includes/breadcrumbs.html" %}
{% include "b24online/UserSites/includes/notifications.html" %}

<h1>{{ title }}</h1>

<form method="post" action="">{% csrf_token %}
<input type="hidden" name="id" value="{{ form.initial.id }}">

        <div class="form-group">
        <label>{% trans "Facebook Pixel code" %}</label>
        <input type="text" name="facebook_pixel" placeholder="{% trans "Insert your pixel ID here" %}" maxlength="30" class="text" style="width:60%;" value="{{ form.facebook_pixel.value|default_if_none:"" }}">

        {% if form.errors.facebook_pixel %}<small class="error">{{ form.errors.facebook_pixel.0 }}</small>{% endif %}
        </div>

        <div class="form-group">
            <input type="submit" class="bigbuy" value="{% trans 'Save' %}">
        </div>

    </form>

</div>
{% endblock %}
