{% extends 'b24online/forms.html' %}
{% load i18n %}
{% load static %}
{% load CustomFilters %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<div id="u-site-wrapper">

{% include "b24online/UserSites/includes/breadcrumbs.html" %}
{% include "b24online/UserSites/includes/notifications.html" %}

<h1>{{ title }}</h1>

<form method="post" action="">{% csrf_token %}
<input type="hidden" name="id" value="{{ form.initial.id }}">

        <div class="form-group">
        <label>{% trans "Google Analytics code" %}</label>
        <input type="text" name="google_analytics" placeholder="for example: UA-69005122-2" maxlength="30" class="text" style="width:60%;" value="{{ form.google_analytics.value|default_if_none:"" }}">
        {% if form.errors.google_analytics %}<small class="error">{{ form.errors.google_analytics.0 }}</small>{% endif %}
        </div>


        <div class="form-group">
            <input type="submit" class="bigbuy" value="{% trans 'Save' %}">
        </div>

    </form>

</div>
{% endblock %}
