{% extends 'b24online/forms.html' %}
{% load i18n %}
{% load static %}
{% load CustomFilters %}

{% block title %}{{ title }}{% endblock %}
{% block content %}

<div id="u-site-wrapper">

{% include "b24online/UserSites/includes/breadcrumbs.html" with template_color=1 %}
{% include "b24online/UserSites/includes/notifications.html" %}

    <h1>{{ template.name }}</h1>

    <div style="width:600px;font-size:14px;margin-top:15px;" class="templates-box">
        <img class="t-image" src="{{ template.thumbnail.small }}" >

            <div style="margin:20px 0;">{% if template.description %}<label>{% trans "Theme description" %}:</label>{{ template.description|linebreaksbr }}{% endif %}</div>

            <form action="" method="POST">{% csrf_token %}
                <hr>
                <input type="hidden" name="user_template" value="{{ template.id }}">
                {% if template_color %}
                    <div class="form-select">
                        <label>{% trans "Color scheme" %}:</label>
                        <select name="color_template">
                            {% for i in template_color %}
                            <option value="{{ i.id }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endif %}
                    <input class="bigbuy" style="" value="{% trans "Choose" %}" type="submit">
            </form>
    </div>

</div>


{% endblock %}
