{% extends 'b24online/forms.html' %}
{% load i18n %}
{% load static %}
{% load CustomFilters %}

{% block title %}{{ title }} - {{ current_organization }}{% endblock %}
{% block content %}
<script>$(function() {setTiny('textarea[class="tiny"]');});</script>

<div id="u-site-wrapper">

{% include "b24online/UserSites/includes/breadcrumbs.html" %}
{% include "b24online/UserSites/includes/notifications.html" %}

<h1>{{ title }}</h1>

        <p style="font-size:14.5px;padding:8px 0;color:#949494">{% blocktrans %}Dear colleagues, we are pleased to inform you that for the convenience of providing your interests,
                we have developed an easy website builder that will help you create your own  external website in
                just a couple of minutes.{% endblocktrans %}
            {% trans "support" %}:
            <a href="mailto:admin@tppcenter.com">admin@tppcenter.com</a>.
        </p>

<p style="font-size:14.5px;padding:15px 0;color:#949494">{% trans "Choose the section that you want to change:" %}</p>



<ul class="site-sections">

    <h3>{% trans "General Settings:" %}</h3>

    <a href="#">
        <li>
            <strong>{% trans "Domain Name" %}</strong>
        </li>
    </a>

    <a href="#">
        <li>
            <strong>{% trans "Site Languages" %}</strong>
        </li>
    </a>

    <a href="#">
        <li>
            <strong>{% trans "Product Delivery" %}</strong>
        </li>
    </a>


    <a href="#">
        <li>
            <strong>{% trans "Landing Page" %}</strong>
        </li>
    </a>

    <h3>{% trans "Appearance:" %}</h3>

    <a href="#">
        <li>
            <strong>{% trans "Site Template" %}</strong>
        </li>
    </a>

    <h3>{% trans "Content:" %}</h3>

    <a href="#">
        <li>
            <strong>{% trans "Site Slogan" %}</strong>
        </li>
    </a>

    <a href="#">
        <li>
            <strong>{% trans "Footer Text" %}</strong>
        </li>
    </a>

    <h3>{% trans "Images:" %}</h3>

    <a href="#">
        <li>
            <strong>{% trans "Organization Logo" %}</strong>
        </li>
    </a>

    <a href="#">
        <li>
            <strong>{% trans "Slider Images" %}</strong>
        </li>
    </a>

    <a href="#">
        <li>
            <strong>{% trans "Banners" %}</strong>
        </li>
    </a>

    <h3>{% trans "Links:" %}</h3>

    <a href="#">
        <li>
            <strong>{% trans "Social Links" %}</strong>
        </li>
    </a>

    <a href="#">
        <li>
            <strong>{% trans "Google Analytics" %}</strong>
        </li>
    </a>


</ul>



</div>
{% endblock %}