{% extends 'forms.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}"/>

<script type="text/javascript">

    $(function () {

        $(".date").datepicker();
        setTiny('textarea[class="tiny"]');
    });
</script>


<div class="newsform">
    <form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <div class="uploadimgage">
            <div class="imgbig">
                <label class="sapce">{% trans 'Image' %}</label>

                {% if form.errors.image %}
                    <div class="error-handler">
                    <div class="formserror">{{ form.errors.image }}</div></div>{% endif %}

                {% if image %}
                    <div class="b-img">
                        <img src="{{ MEDIA_URL }}big/{{ image }}">
                        <div class="deleteimge">
                            <i class="imgnews delete"></i><span class="deletext">{% trans "Remove" %}</span>
                        </div>

                        <div class="gray-img"></div>
                            <input id="delete" type="checkbox" name="IMAGE-CLEAR" value="{{ image }}" hidden="hidden"/>
                        </div>
                {% endif %}

                <div class="fileinputs">
                    <input name="image" type="file" style="width: 100%">
                </div>
            </div>

            <div class="imgother">
                <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="3"/>
                <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0"/>
                <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="3"/>
            </div>

            <div>
                <label class="sapce">{% trans 'Keyword' %}</label>
                {% if form.errors.keywords %}
                    <div class="error-handler"><div class="formserror">{{ form.errors.keywords }}</div></div>
                {% endif %}
                <textarea name="KEYWORD" rows="5">{{ keywords }}</textarea>
            </div>
        </div>

        <ul class="uploadconfig">
            <li>
                <label>{% trans 'Title' %}</label>

                {% if form.errors.title %}
                    <div class="error-handler"><div class="formserror">{{ form.errors.title }}</div></div>
                {% endif %}
                <input type="text" id="id_name" name="title" value="{{ title }}" class="text"/>
            </li>
            <li>
                <label>{% trans 'Preview description' %}</label>
                {% if form.errors.short_description %}
                    <div class="error-handler"><div class="formserror">{{ form.errors.short_description }}</div></div>
                {% endif %}
                <div>
                    <textarea rows="5" id="id_anons" name="short_description">{{ short_description }}</textarea>
                </div>
            </li>
            <li>
                <label>{% trans 'Content' %}</label>
                {% if form.errors.contet %}
                    <div class="error-handler"><div class="formserror">{{ form.errors.content }}</div></div>
                {% endif %}
            </li>
            <li>
                <div>
                    <textarea style="height: 300px;" class="tiny" id="id_detail_text" name="content">
                        {{ content }}
                    </textarea>
                </div>
            </li>
        </ul>
        <div class="newform-button">
            <input class="btntype2" type="submit" name="submit" value="Сохранить">
            <a href="#" class="btntype1">{% trans 'Content' %}</a>
        </div>

    </form>


</div>

{% endblock %}








