{% load static %}
{% load i18n %}
{% load CustomFilters %}


<div class="container">
    {% include "News/popupFilter.html" %}
    {% include "main/paginator.html" %}
    {% include "main/local_menu_script.html" %}

    <ul class="listnews">
        {% for news in object_list %}
            <li>
                {% resolve items_perms news.pk|slugify as permlist %}

                             {% if 'delete_news' in  permlist or 'change_news' in permlist or redactor%}
                                <div class="blockbox">
                                    <a href="#"><i class="btn-afisha imgnews"></i></a>
                                    <div class="localmenu">
                                        {% if 'change_news' in permlist or redactor %}
                                             <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'news:update' news.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                        {% endif %}
                                        {% if 'delete_news' in  permlist or redactor %}
                                             <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url 'news:delete' news.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                                        {% endif %}
                                    </div>
                                </div>
                           {% endif %}

                <div class="thumb shadow">
                    <a href="{% url "news:detail" news.slug %}">
                        {% if news.image %}
                            <img src="{{ MEDIA_URL }}big/{{ news.image }} " alt="{{ news.title }}" title="{{ news.title }}"/>
                        {% else %}
                            <img src="{% static "tppcenter/img/news.jpg" %}" alt="" />
                        {% endif %}
                    </a>
                </div>

                <div class="infoprd">
                    <a href="{% url "news:detail" news.slug %}" class="name">{{ news.title }}</a>
                    <p class="date">
                    {% if news.organization.flag %}
                        <img src="{{ MEDIA_URL }}small/{{ news.organization.flag }}" class="flag" title="{{ news.organization.title }}" alt="{{ news.organization.title }}" />
                    {% elif news.country.flag %}
                        <i class="sprite {{ news.country.flag }}" title="{{ news.country.name }}"></i>
                    {% endif %}
                    {{ news.obj_create_date|date:'d M Y' }}</p>
                    <p>
                        {% if news.anons %}
                            {% autoescape off %}
                                {{ news.anons|force_escape|linebreaks }}
                            {% endautoescape %}
                        {% else %}
                            {{ news.text|cleanHtml|safe|truncatewords_html:"30" }}

                        {% endif %}
                    </p>
                    <!--noindex--><a href="{% url "news:detail" news.slug %}" class="more">{% trans 'Read more' %}...</a><!--/noindex-->
                </div>
            </li>

        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}

    </ul>
    {% include "main/paginator.html" %}
</div>
