{% load static %}
{% load i18n %}
<div class="news-center">
        	<div class="keyword">
            	<div class="popuplifter">
            		<i class="icon-key imgnews" id="filter-link"></i>
                    <div class="filter-form">
                    	<i class="close-event imgnews"></i>
                        <span class="title">Фильтр</span>
                        <div class="tabfilter">
                        	<div class="tab-cate">
                                <ul>
                                    <li><a href="#tabfil-1">Страна</a></li>
                                    <li><a href="#tabfil-2">ТПП</a></li>
                                    <li><a href="#tabfil-3">Компания</a></li>
                                    <li><a href="#tabfil-4">Отрасль</a></li>
                                    <li><a href="#tabfil-5">Категория</a></li>
                                </ul>
                            </div>
                            <script type="text/javascript">
								$(function(){
									$(".copy").on("click", function(){
										$(".options option:selected").each(function(){
										   $(".textarea2").append('<option>'+$(this).text()+'</option>');
											$('option:selected', ".textarea").remove();
										});
									});
									$(".removeop").on("click", function(){
										$(".remove option:selected").each(function(){
										   $(".textarea").append('<option>'+$(this).text()+'</option>');
											$('option:selected', ".textarea2").remove();
										});
									});
								});
							</script>
                            <div id="tabfil-1">
                                <div class="tabfilter-content">
                                    <select multiple="multiple" class="options textarea">
                                        <option value="item1">Пример заполнения</option>
                                        <option value="item2">Пример заполнения</option>
                                        <option value="item3">Пример заполнения</option>
                                        <option value="item4">Пример заполнения</option>
                                        <option value="item5">Пример заполнения</option>
                                        <option value="item6">Пример заполнения</option>
                                        <option value="item7">Пример заполнения</option>
                                        <option value="item8">Пример заполнения</option>
                                        <option value="item9">Пример заполнения</option>
                                        <option value="item10">Пример заполнения</option>
                                    </select>
                                    <div class="button-clumn">
                                        <button class="removeop imgnews">Remove</button>
                                        <button class="copy imgnews">Copy</button>
                                    </div>

                                    <select class="textarea2 remove" multiple="multiple">

                                    </select>
                                </div>
                            </div>
                            <div id="tabfil-2">
                                <div class="tabfilter-content">
                                    <select multiple="multiple" class="options textarea">
                                        <option value="item1">Пример заполнения</option>
                                        <option value="item2">Пример заполнения</option>
                                        <option value="item3">Пример заполнения</option>
                                        <option value="item4">Пример заполнения</option>
                                        <option value="item5">Пример заполнения</option>
                                        <option value="item6">Пример заполнения</option>
                                        <option value="item7">Пример заполнения</option>
                                        <option value="item8">Пример заполнения</option>
                                        <option value="item9">Пример заполнения</option>
                                        <option value="item10">Пример заполнения</option>
                                    </select>
                                    <div class="button-clumn">
                                        <button class="removeop imgnews">Remove</button>
                                        <button class="copy imgnews">Copy</button>
                                    </div>

                                    <select class="textarea2 remove" multiple="multiple">

                                    </select>
                                </div>
                            </div>
                            <div id="tabfil-3">
                                <div class="tabfilter-content">
                                    <select multiple="multiple" class="options textarea">
                                        <option value="item1">Пример заполнения</option>
                                        <option value="item2">Пример заполнения</option>
                                        <option value="item3">Пример заполнения</option>
                                        <option value="item4">Пример заполнения</option>
                                        <option value="item5">Пример заполнения</option>
                                        <option value="item6">Пример заполнения</option>
                                        <option value="item7">Пример заполнения</option>
                                        <option value="item8">Пример заполнения</option>
                                        <option value="item9">Пример заполнения</option>
                                        <option value="item10">Пример заполнения</option>
                                    </select>
                                    <div class="button-clumn">
                                        <button class="removeop imgnews">Remove</button>
                                        <button class="copy imgnews">Copy</button>
                                    </div>

                                    <select class="textarea2 remove" multiple="multiple">

                                    </select>
                                </div>
                            </div>
                            <div id="tabfil-4">
                                <div class="tabfilter-content">
                                    <select multiple="multiple" class="options textarea">
                                        <option value="item1">Пример заполнения</option>
                                        <option value="item2">Пример заполнения</option>
                                        <option value="item3">Пример заполнения</option>
                                        <option value="item4">Пример заполнения</option>
                                        <option value="item5">Пример заполнения</option>
                                        <option value="item6">Пример заполнения</option>
                                        <option value="item7">Пример заполнения</option>
                                        <option value="item8">Пример заполнения</option>
                                        <option value="item9">Пример заполнения</option>
                                        <option value="item10">Пример заполнения</option>
                                    </select>
                                    <div class="button-clumn">
                                        <button class="removeop imgnews">Remove</button>
                                        <button class="copy imgnews">Copy</button>
                                    </div>

                                    <select class="textarea2 remove" multiple="multiple">

                                    </select>
                                </div>
                            </div>
                            <div id="tabfil-5">
                                <div class="tabfilter-content">
                                    <select multiple="multiple" class="options textarea">
                                        <option value="item1">Пример заполнения</option>
                                        <option value="item2">Пример заполнения</option>
                                        <option value="item3">Пример заполнения</option>
                                        <option value="item4">Пример заполнения</option>
                                        <option value="item5">Пример заполнения</option>
                                        <option value="item6">Пример заполнения</option>
                                        <option value="item7">Пример заполнения</option>
                                        <option value="item8">Пример заполнения</option>
                                        <option value="item9">Пример заполнения</option>
                                        <option value="item10">Пример заполнения</option>
                                    </select>
                                    <div class="button-clumn">
                                        <button class="removeop imgnews">Remove</button>
                                        <button class="copy imgnews">Copy</button>
                                    </div>

                                    <select class="textarea2 remove" multiple="multiple">

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="communities">
                            <b>Сообщества</b>
                            <input type="radio" name="" value="" class="radi" /> Все
                            <input type="radio" name="" value="" class="radi" /> Мои
                        </div>
                        <div class="sx">Сортировка</div>
                        <div class="sxform">
                        	<div class="clumn1">
                            	<label>Поле 1</label>
                                <select><option value="1"></option></select>
                                <span class="note"><a href="#">По убыванию</a>По возрастанию</span>
                            </div>
                            <div class="clumn2">
                            	<label>Поле 2</label>
                                <select><option value="1"></option></select>
                                <span class="note"><a href="#">По убыванию</a>По возрастанию</span>
                            </div>
                            <div class="filterbtn">
                            	<a href="#" class="btntype2">Сохранить</a>
                				<a href="#" class="btntype1">Отменить</a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="list-key">
                	<li>ООО "Колобок" <a href="#"><i class="i-close imgnews"></i></a></li>
                    <li>Новости <a href="#"><i class="i-close imgnews"></i></a></li>
                    <li>Новости <a href="#"><i class="i-close imgnews"></i></a></li>
                    <li>Только мои сообщества <a href="#"><i class="i-close imgnews"></i></a></li>
                </ul>
                <div class="search-key">
                	<input type="text" name="" placeholder="Поиск…" class="text" />
                    <input type="submit" name="" value="" class="i-search imgnews" />
                </div>
            </div>
           {% include "main/paginator.html" %}
            <ul class="listnews">
                {% for id , attr in newsList.items %}
                    {% with attr.NAME.0 as name %}
                    {% with attr.IMAGE.0 as image %}
                    {% with attr.DETAIL_TEXT.0 as content %}
                    {% with attr.CREATE_DATE.0 as date%}
                    {% with attr.COUNTRY_NAME|first as country_name %}
                    {% with attr.COUNTRY_FLAG|first as flag %}
                    {% with attr.COUNTRY_ID as country_id %}
                    <li>
                        <div class="thumb shadow"><a href="#"><img src="{{ MEDIA_URL }}small/{{ image }} " alt="{{ name }}" /></a></div>
                        <div class="infoprd">
                            <a href="#" class="name">{{ name }}</a>
                            <p class="date">{% if flag != 0  %}<img src="{% static flag %}" />{% endif %} {{ date|date:'d M Y' }}</p>
                            <p>{{ content|truncatewords:"30" }} </p>
                           <!--noindex--><a href="#" class="more">{% trans 'Read more' %}...</a><!--/noindex-->
                        </div>
                    </li>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}

            </ul>
           {% include "main/paginator.html" %}
  </div>