{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}


<div class="container">
    {% include "main/popupFilter.html" %}
    {% include "main/paginator.html" %}
    {% include "main/local_menu_script.html" %}

    <ul class="listnews">
        {% for news in object_list %}
            <li>
            {% setContextMenu news %}

                <div class="thumb shadow">
                    <a href="{% url "news:detail" news.slug %}">
                        {% if news.image %}
                            <img src="{{ MEDIA_URL }}big/{{ news.image }} " alt="{{ news.title }}" title="{{ news.title }}"/>
                        {% else %}
                            <img src="{% static "tppcenter/img/news.jpg" %}" alt="" />
                        {% endif %}
                    </a>
                </div>

                <div class="infoprd">
                    <a href="{% url "news:detail" news.slug %}" class="name">{{ news.title }}</a>
                    <p class="date">
                    {% if news.organization %}
                        {% if news.organization.flag %}
                            <img src="{{ MEDIA_URL }}small/{{ news.organization.flag }}" class="flag" title="{{ news.organization.name }}" alt="{{ news.organization.name }}" />
                        {% else %}
                            <i class="sprite {{ news.organization.country.flag }}" title="{{ news.organization.country.name }}"></i>
                        {% endif %}
                    {% elif news.country %}
                        <i class="sprite {{ news.country.flag }}" title="{{ news.country.name }}"></i>
                    {% endif %}
                    {{ news.created_at|date:'d M Y' }}</p>
                    <p>
                        {% if news.short_description %}
                            {% autoescape off %}
                                {{ news.short_description|force_escape|linebreaks }}
                            {% endautoescape %}
                        {% else %}
                            {{ news.content|cleanHtml|safe|truncatewords_html:"30" }}
                        {% endif %}
                    </p>
                    <!--noindex--><a href="{% url "news:detail" news.slug %}" class="more">{% trans 'Read more' %}...</a><!--/noindex-->
                </div>
            </li>

        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}

    </ul>
    {% include "main/paginator.html" %}
</div>
