{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}
       {% if title %}
         {{ title }}
       {% else %}
         {% trans 'News' %}
       {% endif %}
   {% endblock %}

   {% block description %}
        {% if description %}
             <meta name="description" content="{{ description|truncatewords:30 }}"/>
        {% else %}
            {{ block.super }}
         {% endif %}
   {% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         {% for style in styles %}
            <link type="text/css" rel="stylesheet" href="{{ style }}" />
         {% endfor %}
    {% endblock %}

    {% block js %}
         {{ block.super }}
         {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
         {% endfor %}
    {% endblock %}

     {% block content %} {{ newsPage }}{% endblock %}
