{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}
       {% if title %}
         {{ title }}
       {% else %}
         {% trans 'News' %}
       {% endif %}
   {% endblock %}

   {% block description %}
        {% if description %}
             <meta name="description" content="{{ description|truncatewords:30 }}"/>
        {% else %}
            {{ block.super }}
         {% endif %}
   {% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         {% for style in styles %}
            <link type="text/css" rel="stylesheet" href="{{ style }}" />
         {% endfor %}
            <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/company.css' %}" />
    {% endblock %}

    {% block js %}
         {{ block.super }}
         {% for script in scripts %}
            <script type="text/javascript" src="{{ script }}"></script>
         {% endfor %}
    {% endblock %}

     {% block content %} {{ newsPage }}{% endblock %}
         {% block addv_news_left %}
               {% if add_news %}
                    <div class="news-ads">
                        <div class="title">Реклама</div>
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <!-- tpp -->
                        <ins class="adsbygoogle"
                             style="display:inline-block;width:200px;height:200px"
                             data-ad-client="ca-pub-2235463261462932"
                             data-ad-slot="5963429718"></ins>
                        <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                   </div>


               {% endif %}

        {% endblock %}


     {% block addv_news %}
         {% if add_news %}
            <div class="news-ads">
                <div class="title">Реклама</div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                    <!-- tppbok -->
                    <ins class="adsbygoogle"
                         style="display:inline-block;width:200px;height:200px"
                         data-ad-client="ca-pub-2235463261462932"
                         data-ad-slot="1393629312"></ins>
                    <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
         {% endif %}
                {% endblock %}
