{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}


<div class="news-ads-wrapper">

        <div class="news-ads">
            <div class="title">{% trans "Last News" %}</div>


                <ul class="list-ads">

                    {% for id, attrs in newsValues.items %}
                        {% with attrs.NAME|first as name %}
                        {% with attrs.SLUG|first as slug %}
                        {% with attrs.IMAGE|first as image %}
                        {% with attrs.DETAIL_TEXT|first as text %}

                       


                            <li>
                                <div class="top">



                                    <a title="{{ name }}" href="{% url "news:detail" slug %}" class="linkads">{{ name }}</a>
                                </div>
                                <div class="infoads">
                                <a title="{{ name }}" href="{% url "news:detail" slug %}">
                                    {% if image %}
                                        <img src="{{ MEDIA_URL }}small/{{ image }}" alt="{{ name }}<" class="thumb" />
                                    {% endif %}
                                </a>
                                {{ text|cleanHtml|safe|truncatewords_html:7 }}
                                </div>
                            </li>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}

                    {% endfor %}
                </ul>

        </div>

</div>
