{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}


{% block header %}
    {% include "login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/company.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>
    $(function() {
         $(".goods-details-tab").tabs();});
    </script>

    <script>
        {% getOwner item.pk as owner %}

        {% if owner %}
            {% if owner.type == 'tpp' %}
                ga('set', 'dimension1', {{ owner.pk }});
            {% else %}
                ga('set', 'dimension3', {{ owner.pk }});
            {% endif %}
        {% endif %}
    </script>
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
    <div class="tender">
        <div class="tender-details-title">
            {% if item.country %}
                <i class="flag sprite {{ item.country.flag }}" title="{{ item.country.name }}"></i>
            {% elif item.organization.flag %}
                <img src="{{ MEDIA_URL }}small/{{ item.organization.flag }}" class="flag"  title="{{ item.organization.name }}"/>
            {% endif %}
            <font class="name">{% if item.country %}{{ item.country.name }}{% else %}{{ item.organization.name }}{% endif %}</font>
        </div>
        <div class="tender-info">
			<span class="title">{{ item.title }}</span>
            <div class="tender-bottom">
               	<div class="tender-bottom-left">
                    <img src="{{ MEDIA_URL }}small/{% if item.organization.flag %}{{ item.organization.flag }}{% else %}{{ item.organization.logo }}{% endif %}" class="thumb" />
                    <a href="{{ item.organization.get_absolute_url }}">{{ item.organization.name }}</a>
                </div>
            </div>
            <div class="innov-details">
                <p></p>
            </div>
            <div class="goods-details-tab">
                <div class="tab-cate">
                    <ul>
                        <li><a href="#goods-tabs-1">{% trans 'About' %}</a></li>
                        <li><a href="#goods-tabs-2">{% trans 'Document' %}</a></li>
                        <li><a href="#goods-tabs-3">{% trans 'Gallery' %}</a></li>
                        <li><a href="#goods-tabs-4">{% trans 'Contacts' %}</a></li>
                        {% for page in item.additional_pages.all %}
                             <li><a href="#goods-tabs-{{ forloop.counter0|add:4 }}">{{ page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="goods-tabs-1">
                    <div class="content-goods-tab">
                        {{ item.description|cleanHtml|safe }}
                    </div>
                </div>
                <div id="goods-tabs-2">
                    <div class="content-goods-tab">
                        {% for document in item.documents.all %}
                            <a href="{{ MEDIA_URL}}document/{{ document.document_url }}">{% trans 'Link to the document' %}</a><br>
                        {% endfor %}
                    </div>
                </div>
                <div id="goods-tabs-3">
                    <div class="content-goods-tab">
                        <ul class="tpp-gallery">
                            {% for gallery in item.galleries.all %}
                                {% for gallery_item in gallery.gallery_items.all %}
                                    <li>
                                        <div class="b-img">
                                            <a class="fancybox" rel="gallery" href="{{ MEDIA_URL }}original/{{ gallery_item.image }}">
                                                <img alt=""  src="{{ MEDIA_URL }}big/{{ gallery_item.image }}" />
                                            </a>
                                            <div class="viewimge">
                                                <a class="fancybox" rel="gallery" href="{{ MEDIA_URL }}original/{{ gallery_item.image }}">
                                                    <i class="imgnews zoom"></i><span class="zoomtext">{% trans 'zoom' %}</span>
                                                </a>
                                            </div>
                                            <div class="gray-img"></div>
                                        </div>
                                    </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="goods-tabs-4">
                    <div class="content-goods-tab">
                        <ul class="innov-tab-content">
                            {% if item.organization.address %}
                                <li>
                                    <span class="left">{% trans 'Address' %}: </span>
                                    <span class="right">{{ item.organization.address }}</span>
                                </li>
                            {% endif %}
                            {% if item.organization.phone %}
                                <li>
                                    <span class="left">{% trans 'Telephone number' %}: </span>
                                    <span class="right">{{ item.organization.phone }} </span>
                                </li>
                            {% endif %}
                            {% if item.organization.fax %}
                                <li>
                                    <span class="left">{% trans 'Fax' %}: </span>
                                    <span class="right">{{ item.organization.fax }}</span>
                                </li>
                            {% endif %}
                            {% if item.organization.email %}
                                <li>
                                    	<span class="left">{% trans 'Email' %}: </span>
                                        <span class="right">{{ item.organization.email }}</span>
                                </li>
                            {% endif %}
                            {% if item.organization.site %}
                                <li>
                                    <span class="left">{% trans 'WWW' %}: </span>
                                    <span class="right">{{ item.organization.site }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% for page in item.additional_pages.all %}
                    <div id="goods-tabs-{{ forloop.counter0|add:5 }}">
                          <div class="content-goods-tab">{{ page.content|cleanHtml|safe }}</div>
                     </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}