{% extends 'usersites_templates/default_no_banners/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load humanize %}
{% load content_tags %}

{% block content %}

<section class="content__info grid-layout">

    {% coupons 'B2CProducts/main_coupons.html' 4 %}
    {% b2c_products 'B2CProducts/main_products.html' 6 %}
    {% b2b_products 'B2BProducts/main_products.html' 6 %}

    <section class="content__info__news">

        {% proposal 'Proposals/wall.html' 1 %}
        {% news 'News/wall.html' 1 %}

    </section>
 </section>

{% endblock %}
