{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

<div class="analytics">
<div style="margin-top: 20px;">
  <h2>{% trans 'Statistics for' %} &laquo;{{ event_type.name }}&raquo;</h2>
    <div>
    {% if instance %}
    <h3>{% trans 'For' %} {{ item_type }} &laquo;{{ instance }}&raquo;</h3>
    {% endif %}
    <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-data">
      <tr class="top">
        {% for xdate in date_range %}
        <th colspan="2" align="center">{{ xdate.0|date:"d M Y" }}</td>          
        {% endfor %}
      </tr>
      <tr class="top">
        {% for xdate in date_range %}
        <th align="center">uniq</td>          
        <th align="center">total</td>          
        {% endfor %}
      </tr>
      <tr>
        {% for item in data_grid %}
        <td align="center">
          {% if item.unique %}
            {% if instance %}
            <a class="stats_diag" href="{% url 'analytic:event_stats_detail_distrib' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance_id cnt_type='unique' %}?date={{ item.date|date:'Y-m-d'}}"><strong>{{ item.unique }}</strong></a></td>
            {% else %}
            <a class="stats_diag" href="{% url 'analytic:event_stats_ct_detail_distrib' event_type_id=event_type_id content_type_id=content_type_id cnt_type='unique' %}?date={{ item.date|date:'Y-m-d'}}"><strong>{{ item.unique }}</strong></a></td>
            {% endif %}
          {% else %}
            0
          {% endif%}
        </td>
        <td align="center">
          {% if item.total %}
            {% if instance %}
            <a class="stats_diag" href="{% url 'analytic:event_stats_detail_distrib' event_type_id=event_type_id content_type_id=content_type_id instance_id=instance_id cnt_type='total' %}?date={{ item.date|date:'Y-m-d'}}"><strong>{{ item.total }}</strong></a>
            {% else %}
            <a class="stats_diag" href="{% url 'analytic:event_stats_ct_detail_distrib' event_type_id=event_type_id content_type_id=content_type_id cnt_type='total' %}?date={{ item.date|date:'Y-m-d'}}"><strong>{{ item.total }}</strong></a>
            {% endif %}
          {% else %}
            0
          {% endif %}
        </td>
        {% endfor %}
      </tr>
    </table>
    </div>
    <br/>

    <table width="100%" cellspacing="2" cellpadding="2" border="0">
      <tr>
        <td align="center">
        <canvas id="stats-bar" 
          width="400" height="200"/>
        </td>
      </tr>
    </table>
</div>
</div>

<script type="application/javascript">
	var barChartData = {
		labels : [
    {% for xdate in date_range %}
      '{{ xdate.0|date:"d M Y" }}',
    {% endfor %}
		],
		datasets : [
			{
				fillColor : "rgba(220,220,220,0.5)",
				strokeColor : "rgba(220,220,220,0.8)",
				highlightFill: "rgba(220,220,220,0.75)",
				highlightStroke: "rgba(220,220,220,1)",
				data : [
          {% for item in data_grid %}{{ item.unique }},{% endfor %}
				]
			},
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,0.8)",
				highlightFill : "rgba(151,187,205,0.75)",
				highlightStroke : "rgba(151,187,205,1)",
				data : [
          {% for item in data_grid %}{{ item.total }},{% endfor %}
				]
			}
		]
  };

  var ctx = document.getElementById("stats-bar").getContext("2d");
	window.myBar = new Chart(ctx).Bar(barChartData, {
	  responsive : true
	});

    $('#diagdialog').dialog({
        autoOpen: false,
        minWidth: 500,
        minHeight: 500,
        modal: true,
    });
    $(".stats_diag").on("click", function(e) {
        e.preventDefault();
        $("#diagdialog").html("");
        $("#diagdialog").dialog("open");
        $("#diagdialog").load(this.href);
        return false;
    });

</script>
