{% load static %}
{% load i18n %}
{% load CustomFilters %}

{% load inclusionTags %}


<div class="container">
     <div class="companies">
        {% include "b24online/main/popupFilter.html" %}
        {% include "b24online/main/paginator.html" %}
        {% include "b24online/main/local_menu_script.html" %}
        <ul class="company-list">
            {% for company in object_list %}
                <li>
                    {{ company|register_event:"view"|process_event:request }}
                     {% setContextMenu company %}
                    <div class="title">
                        <i class="flag sprite {{ company.country.flag }}"></i>
                        <a href="{{ company.get_absolute_url }}">{{ company.name }}</a>
                    </div>
                    <div class="company-infor">
                        {% if company.logo %}
                            <img src="{{ company.logo.big }}" class="logocompany" alt="{{ company.name }}" title="{{ company.name }}"/>
                        {% else %}
                           <img src="{% static "b24online/img/company.jpg" %}" class="logocompany" alt="" />
                        {% endif %}
                        <div class="desc">
                            {% if company.parent %}
                                <p class="link">
                                    <b>{% trans 'Member of' %}</b>
                                    <a href="{{ company.parent.get_absolute_url }}">{{ company.parent.name|truncatechars:30 }}</a>
                                </p>
                            {% endif %}

                            {% if company.short_description %}
                                {{ company.short_description|cleanHtml|safe|truncatechars:200 }}
                            {% else %}
                                {{ company.description|cleanHtml|safe|truncatewords_html:200 }}
                            {% endif %}
                            <a href="{{ company.get_absolute_url }}">{% trans "More" %}...</a>

                        </div>
                        <div class="companycontact">
                            {% if company.address %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info1"></i></div>
                                    <div class="nameinfo">{{ company.address }}</div>
                                </div>
                            {% endif %}
                            {% if company.phone %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info2"></i></div>
                                    <div class="nameinfo">{{ company.phone }}</div>
                                </div>
                            {% endif %}
                            {% if company.fax %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info3"></i></div>
                                    <div class="nameinfo">{{ company.fax }}</div>
                                </div>
                            {% endif %}
                            {% if company.site %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info4"></i></div>
                                    <div class="nameinfo"><a href="http://{{ company.site }}">{{ company.site }}</a></div>
                                </div>
                            {% endif %}
                            <div class="line">
                                <div class="iconinfo"><i class="imgnews icon-info5"></i></div>
                                <div class="nameinfo">
                                    <a class="contact-us" data-name="{{ company.title }}" data-id="{{ company.pk }}" href="#" >
                                        {% trans 'Contact us' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% empty %}
                <div class="no-results">{% trans "No results found" %}</div>
            {% endfor %}

        </ul>
        {% include "b24online/main/paginator.html" %}
    </div>
</div>
