{% extends 'b24online/main_page.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
{% block styles %}
     {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/tpp.reset.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static "b24online/css/gmapCompany.css" %}" />

{% endblock %}
{% block js %}
    {{ block.super }}
    <script>
        {% getOwner item as owner %}


        ga('set', 'dimension1', {{ item.pk }});

        {% if owner %}
            ga('set', 'dimension3', {{ owner.pk }});
        {% endif %}

        ga('set', 'dimension2', 'company');
    </script>


    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{% static 'b24online/js/gmapSearchMarker.js' %}"></script>
    <script src="{% static 'b24online/js/jquery.uploadify.min.js' %}"></script>

    <!-- Google maps -->
    <script type="text/javascript">
        var marker;

        $(document).ready(function($) {
                var tabs = $( '#tpp-details-tab' )
                tabs.tabs();
                var href = tabs.find('a[href="#cpn-tabs-contacts"]');
                (href).on('click',function(){

                    {% if item.location %}
                      {% with item.location|split:"," as LatLng %}
                      marker = new google.maps.Marker({
                        position: new google.maps.LatLng({{ LatLng.0 }}, {{ LatLng.1 }})

                        });
                      {% endwith %}
                    {% endif %}

                 initialize(false);

        })});
    </script>
    <!-- /Google maps -->

    <!-- script for Company-Structure right buttons menu -->
    <script type="text/javascript">
        LANG['structure'] = {
            'confirm': '{% trans "Do you want to delete this record?" %}',
            'popup_ok': '{% trans "OK" %}',
            'popup_cancel': '{% trans "Cancel" %}',
            'popup_dep': '{% trans "Department name" %}',
            'popup_vac': '{% trans "Vacancy title" %}',
            'popup_vac_title': '{% trans "Add the vacancy" %}',
            'popup_staffgroup': '{% trans "Related to staff group" %}',
            'popup_loading': '{% trans "Loading..." %}',
        };

        LANG['staff'] = {
            'confirm': '{% trans "Do you want to delete this record?" %}',
            'popup_add': '{% trans "OK" %}',
            'popup_cancel': '{% trans "Cancel" %}',
            'popup_dep': '{% trans "Department name" %}',
            'popup_vac': '{% trans "Vacancy title" %}',
            'popup_administrator': '{% trans "Administrator" %}',
            'popup_title': '{% trans "Add staff" %}',
            'popup_title_edit': '{% trans "Edit staff" %}',
            'popup_loading': '{% trans "Loading..." %}',
            'select_department': '{% trans "Select department" %}',
            'select_vacancy': '{% trans "Select vacancy" %}',
        };
    </script>

{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
    {{ item|register_event:"click"|process_event:request }}
    <div class="companies">
        <div class="deal-details">
            <h3> <i class="flag sprite {{ item.country.flag }}"></i>
                     {{ item.name }}
                    </h3>
                    {% if item.logo %}
                        <img src="{{ item.logo.big }}" class="thumb-deal" alt="{{ item.logo }}" title="{{ item.logo }}" />
                    {% else %}
                        <img src="{% static "b24online/img/company.jpg" %}" class="thumb-deal" alt="" />
                    {% endif %}

                    {% comment %} Pay membership button {% endcomment %}

                    {% if SHOW_PAYMENT_BUTTON %}
                        <div class="payjoin">
                            {% if DAYS_BEFORE_END == 0 %}
                                <span>{% trans "Free period is expired." %}</span>
                            {% else %}
                                <span>{% trans "Free period will expire in " %}{{ DAYS_BEFORE_END }}{% trans " days." %}</span>
                            {% endif %}
                            <!-- Script for PayPal payment button -->
                            {% comment %}<a href="#" class="btnpay" id="paypal-membership">{% trans "Pay membership" %}</a>{% endcomment %}
                            <div id="paypal-membership" style="padding-left: 30px; padding-bottom: 10px">
                                <script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=migirov@gmail.com"
                                {% comment %}<script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=slomberg@ymail.com"{% endcomment %}
                                {% comment %}<script src="https://www.paypalobjects.com/js/external/paypal-button.min.js?merchant=afend-developer@tppcenter.com"{% endcomment %}
                                    data-name="{% trans '1-year www.b24online.com membership' %}"
                                    data-number="Company ID: {{ item.pk }} ({{ item.title }})" {% comment %} Company's database ID{% endcomment %}
                                    data-quantity="1"
                                    data-button="paynow"
                                    data-amount="100"
                                    data-currency="USD"
                                    data-callback="www.b24online.com/payments/membership/"
                                    {% comment %}data-callback="http://b24online.ngrok.com/payments/membership/"{% endcomment %}
                                    data-env=""
                                    data-charset="utf-8" {% comment %}for non-english names passing to PayPal {% endcomment %}
                                ></script>
                                {% comment %}
                                PayPal Debugging Info
                                Sandbox ApplID: APP-80W284485P519543T
                                Sandbox Username: afend-developer_api1.tppcenter.com
                                Sandbox Password: 1401112459
                                Sandbox Signature: AFcWxV21C7fd0v3bYYYRCpSSRl31AC4CvkAkiTi9Z2vEGtM41XjTq2OI
                                Sandbox Endpoint: https://svcs.sandbox.paypal.com/AdaptivePayments/Pay
                                Production Endpoint: https://api-3t.paypal.com/nvp
                                {% endcomment %}
                            </div>
                        </div>
                    {% endif %}
                    {% comment %} /Pay membership button {% endcomment %}
                    {% if item.short_description %}
                        <p>{{ item.short_description|cleanHtml|safe }}</p>
                    {% else %}
                        <p>{{ item.description|cleanHtml|safe }}</p>
                    {% endif %}
                {% if item.parent %}
                     <p>
                        <b>{% trans 'Member of' %}</b>
                        <a href="{{ item.parent.get_absolute_url }}">{{ item.parent.name }}</a>
                     </p>
                {% endif %}
                </div>
                {% b2b_social_buttons  item.logo item.name item.description %}

                <div class="cpn-details-tab" id="tpp-details-tab">
                    <div class="tab-cate">
                        <ul>
                        	<li>
                                <a href="#cpn-tabs-about">
                                    {% trans "About" %}
                                </a>
                            </li>
                            <li>
                                <a href="#cpn-tabs-recvisits">
                                    {% trans "Recvisits" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="news-tab" href="{% url "companies:tab_news" item.pk %}">
                                    {% trans "News" %}
                                </a>
                            </li>
                           <!--
                            <li>
                                <a href="#cpn-tabs-services">
                                    {% trans "Services" %}
                                </a>
                            </li>
                            -->
                            <li>
                                <a data-id="gallery-tabs" href="{% url "companies:tabs_gallery" item.pk %}">
                                    {% trans "Gallery" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="document-tabs" href="{% url "companies:tabs_documents" item.pk %}">
                                    {% trans "Documents" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="tenders-tenders" href="{% url "companies:tab_tenders" item.pk %}">
                                    {% trans "Tenders" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="exhibitions-tab" href="{% url "companies:tab_exhibitions" item.pk %}">
                                    {% trans "Exhibitions" %}
                                </a>
                            </li>
                             <li>
                                <a data-id="news-tab" href="{% url "companies:tab_products" item.pk %}">
                                    {% trans "Products" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="innov-tab" href="{% url "companies:tab_innov" item.pk %}">
                                    {% trans 'Innovation Projects' %}
                                </a>
                            </li>
                            <li>
                                <a data-id="proposal-tab" href="{% url "companies:tab_proposal" item.pk %}">
                                    {% trans 'Business Proposals'  %}
                                </a>
                            </li>
                            <li>
                                <a data-id="structure-tab" href="{% url "companies:tab_structure" item.pk %}">
                                    {% trans "Structure" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="staff-tab" href="{% url "companies:tab_staff" item.pk %}">
                                    {% trans "Staff" %}
                                </a>
                            </li>

                            <li>
                                <a href="#cpn-tabs-contacts">
                                    {% trans "Contacts" %}
                                </a>
                            </li>
                            {% for page in item.additional_pages.all %}
                                 <li><a href="#tabs-{{ forloop.counter0|add:5 }}">{{ page.title|truncatechars:10 }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="cpn-tabs-about">
                        <div class="tpp-dt-content">
                        	{{ item.description|cleanHtml|safe }}
                        </div>
                    </div>
                    <div id="cpn-tabs-recvisits">
                        <div class="tpp-dt-content"></div>
                    </div>
            <div id="cpn-tabs-contacts">
                <div class="tpp-dt-content">

                    <div class="org-contacts">
                        <ul class="innov-tab-content">
                            {% if item.address %}
                                <li>
                                    <span class="left">{% trans 'Address' %}: </span>
                                    <span class="right">{{ item.address }}</span>
                                </li>
                            {% endif %}
                            {% if item.phone %}
                                <li>
                                    <span class="left">{% trans 'Telephone number' %}: </span>
                                    <span class="right">{{ item.phone }} </span>
                                </li>
                            {% endif %}
                            {% if item.fax %}
                                <li>
                                    <span class="left">{% trans 'Fax' %}: </span>
                                    <span class="right">{{ item.fax }}</span>
                                </li>
                            {% endif %}
                            {% if item.email %}
                                <li>
                                    	<span class="left">{% trans 'Email' %}: </span>
                                        <span class="right">{{ item.email }}</span>
                                </li>
                            {% endif %}
                            {% if item.site %}
                                <li>
                                    <span class="left">{% trans 'WWW' %}: </span>
                                    <span class="right">{{ item.site }}</span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="org-map"> <div   id="map-canvas"></div></div>

                </div>
            </div>
            {% for page in item.additional_pages.all %}
                <div id="tabs-{{ forloop.counter0|add:5 }}">
                      <div class="content-goods-tab">{{ page.content|cleanHtml|safe }}</div>
                 </div>
            {% endfor %}
        </div>
  </div>
{% endblock %}