{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}
<div class="tpp-dt-content">
    <table class="table-deals table table-striped" cellpadding="0" cellpadding="0">
        <tr class="top">
            <td>№</td>
            <td>{% trans "Image" %}</td>
            <td>{% trans "Name" %}</td>
            <td>{% trans "Description" %}</td>
           <td>{% trans "Price" %}</td>
        </tr>
       {% for product in page.object_list %}
            <tr>
                <td>{{ product.pk }}</td>
                <td>
                    <a href="{{ product.get_absolute_url }}" title="{{ product.name }}">
                        {% if product.image %}
                             <img src="{{ product.image.small }}" alt="{{ product.name }}" title="{{ product.name }}"/>
                        {% else %}
                             <img src="{% static "b24online/img/item.jpg"  %}" alt="" />
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ product.get_absolute_url }}" title="{{ product.name }}">
                        {{ product.name|truncatewords:2 }}
                    </a>
                </td>
                <td>{{ product.description|cleanHtml|safe|truncatewords_html:10 }}</td>
                <td>
                    {% if product.cost %}
                        {{ product.currency|getSymbol }}{{ product.cost }}
                    {% endif %}
                </td>

            </tr>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </table>
    {% include "b24online/main/paginator.html" %}
</div>
