{% load i18n %}
{% load CustomFilters %}
{% if has_perm %}
    <div class="blockbox">
        <a href="#"><i class="btn-afisha imgnews"></i></a>
        <div class="localmenu">
             {% if update_url %}
                 <div class="tender-action">
                     <i class="imgnews edit icon-action"></i>
                     <a href="{% url url_namespace|add:':'|add:update_url obj.pk %}?next={{ current_path }}">
                         <span class="deletext">{% trans 'edit' %}</span>
                     </a>
                 </div>
             {% else %}
                 <div class="tender-action">
                     <i class="imgnews edit icon-action"></i>
                     <a href="{% url url_namespace|add:':update' obj.pk %}?next={{ current_path }}">
                         <span class="deletext">{% trans 'edit' %}</span>
                     </a>
                 </div>
             {% endif %}
            {% if top_perm %}
                 <div class="tender-action">
                     <i class="imgnews noty icon-action"></i>
                     <a href="{% url 'adv_top:top_form' top_type obj.pk %}">
                         <span class="deletext">{% trans 'Advertise' %}</span>
                     </a>
                 </div>
            {% endif %}
            {% if set_current %}
                <div class="tender-action">
                    <i class="imgnews sett icon-action"></i>
                    <a href="{% url 'setCurrent' obj.pk %}?next={{ current_path }}">
                        <span class="deletext">{% trans 'set current' %}</span>
                    </a>
                </div>
            {% endif %}
            {% if delete_url %}
                <div class="tender-action">
                    <i class="imgnews remove icon-action"></i>
                    <a onclick="return confirm('Are you sure delete this item?')" href="{% url url_namespace|add:':'|add:delete_url obj.pk %}?next={{ current_path }}">
                        <span class="deletext">{% trans 'remove' %}</span>
                    </a>
                </div>
            {% elif delete %}
                <div class="tender-action">
                    <i class="imgnews remove icon-action"></i>
                    <a onclick="return confirm('Are you sure delete this item?')" href="{% url url_namespace|add:":delete" obj.pk %}?next={{ current_path }}">
                        <span class="deletext">{% trans 'remove' %}</span>
                    </a>
                </div>
            {% endif %}
            {% if extra_options %}
                {% for option_url, option_title in extra_options %}
                 <div class="tender-action">
                     <i class="imgnews noty icon-action"></i>
                     <a href="{{ option_url }}?next={{ current_path }}">
                         <span class="deletext">{{ option_title }}</span>
                     </a>
                 </div>
                 {% endfor %}
            {% endif %}

        </div>
    </div>
{% endif %}
