{% load CustomFilters %}
{% load i18n %}
{% if is_paginated %}
    <div class="panging">
        <span style="float: left;">{% trans "Total pages" %} : {{ page.paginator.num_pages }} </span>
        {%  if page.has_previous %}
               &larr; <a href="{% dynurl url_paginator url_parameter page.previous_page_number %}" >{% trans "Back" %}</a>
        {% endif %}
        {% for i in paginator_range %}
            {% ifequal i page.number %}
                <span style="font-weight: bolder" class="current">{{ page.number }}</span>
            {% else %}
               <a href="{% dynurl url_paginator url_parameter i %}">{{ i }}</a>
            {% endifequal %}
        {% endfor %}
        {%  if page.has_next %}
            <a href="{% dynurl url_paginator url_parameter page.next_page_number %}" >{% trans "Forward" %}</a>&rarr;
        {% endif %}
    </div>
 {% endif %}



