{% extends 'usersites/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    {{ block.super }}
    {% if proposals %}
    <ul class="walllist">
        <h2 class="titlepage">{% trans "Business proposals" %}</h2>
        {% for proposal in proposals %}
        <li>
            <h3><a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a></h3>
            <div class="desc">
                <p class="date">{% trans 'Date' %}: {{ proposal.created_at|date:'d M Y' }}</p>
                <p>{{ proposal.description|cleanHtml|safe|truncatewords_html:"30" }}</p>
                <p class="linkmore"><a href="{{ proposal.get_absolute_url }}">{% trans "more" %}...</a></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if news %}
    <ul class="walllist">
        <h2 class="titlepage">{% trans "News" %}</h2>
        {% for article in news %}
        <li>
            <h3><a href="{% url 'news:detail' article.slug article.pk %}">{{ article.title }}</a></h3>
            <div class="thumb">
                {% if article.image %}
                    <img style="max-width: 70px; max-height: 60px;" src="{{ article.image.small }} " alt="{{ article.title }}" title="{{ article.title }}"/>
                {% else %}
                    <img style="max-width:70px;" src="{% static "b24online/img/news.jpg" %}" alt="" />
                {% endif %}
            </div>
            <div class="desc">
                <p class="date">{% trans 'Date' %}: {{ article.created_at|date:'d M Y' }}</p>
                <p>
                    {% if article.short_description %}
                         {{ article.short_description|force_escape|linebreaks }}
                    {% else %}
                         {{ article.content|cleanHtml|safe|truncatewords_html:"30" }}
                    {% endif %}
                </p>
                <p class="linkmore"><a href="{% url 'news:detail' article.slug article.pk %}">{% trans "More" %}...</a></p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if coupons %}
    <div class="clear"></div><br>
    <h2>{% trans "Coupons" %}</h2>

        {% for product in coupons %}
        {% if product.is_coupon %}

        <div class="product-sale-box">
        <div class="product-sale">-{{ product.coupon_discount_percent|intword }}%</div>

        <div class="cover-image">
            {% if product.image %}
              <img src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
            {% else %}
              <img src="{% static 'b24online/img/item.jpg' %}" alt="" />
            {% endif %}
        </div>
            <div class="cover-text">
                <h2>{{ product.name }}</h2>

                <div class="white-line">
                <p class="lead">Price: <span class="price">{{ product.cost|formatPrice }} {{ product.currency|getSymbol }}</span> <span class="date">{% trans "Promotion ends" %} {{ product.end_coupon_date }}</span></p>
                </div>

                <a href="{% url 'b2c_products:detail' product.slug product.pk %}" class="green-btn-sale">{% trans "Buy Now" %}</a>

            </div>
            <div class="clear"></div>
        </div>


        {% endif %}
        {% endfor %}

    {% endif %}


    {% if b2c_products %}
    <ul class="listprd">
        <h2 class="titlepage">
            {% trans "B2C Products" %}
        </h2>
        {% for product in b2c_products %}
        <li>
            <div class="thumb">
                {% if product.is_coupon %}
                <div class="product-sale">-{{ product.coupon_discount_percent|intword }}%</div>
                {% endif %}
                {% if product.image %}
                    <img style="max-width: 150px; max-height: 138px;" src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
                {% else %}
                    <img style="max-width: 120px;" src="{% static 'b24online/img/item.jpg' %}" />
                {% endif %}
            </div>
            <div class="link">
                <a href="{% url 'b2c_products:detail' product.slug product.pk %}" class="name">{{ product.name|truncatewords:8 }}</a>
            </div>
            <div class="price">{{ product.cost|formatPrice }} {{ product.currency|getSymbol }}</div>
            <a href="{% url 'b2c_products:detail' product.slug product.pk %}" class="btnbuy">{% trans "Buy" %}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if b2b_products %}
    <ul class="listprd">

        <h2 class="titlepage">{% trans "B2B Products" %}</h2>
        {% for product in b2b_products %}
        <li>
            <div class="thumb">
                {% if product.image %}
                    <img style="max-width: 150px; max-height: 138px;" src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
                {% else %}
                    <img style="max-width: 120px;" src="{% static 'b24online/img/item.jpg' %}" />
                {% endif %}
            </div>
            <div class="link">
                <a href="{% url 'b2b_products:detail' product.slug product.pk %}" class="name">{{ product.name|truncatewords:8 }}</a>
            </div>
            <div class="price">
                {% if product.cost %}
                    {{ product.currency|getSymbol }} {{ product.cost|formatPrice }}
                {% else %}
                    {% trans 'Contact to price' %}
                {% endif %}
            </div>
            <a href="{% url 'b2b_products:detail' product.slug product.pk %}" class="btnbuy">{% trans "Buy" %}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}