{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}
{% is_chamber_site as is_chamber %}

<!--  {{ site.user_site.footer_text }} -->

<!-- Social links -->
<div style="margin:0 0 30px 0;">
  <div style="text-align:center;margin:0 auto;">

    {% if site.user_site.facebook %}
    <a href="{{ site.user_site.facebook }}" target="_blank"><i class="icon-facebook-official"></i></a>
    {% endif %}

    {% if site.user_site.youtube %}
    <a href="{{ site.user_site.youtube }}" target="_blank"><i class="icon-youtube"></i></a>
    {% endif %}

    {% if site.user_site.twitter %}
    <a href="{{ site.user_site.twitter }}" target="_blank"><i class="icon-twitter"></i></a>
    {% endif %}

    {% if site.user_site.instagram %}
    <a href="{{ site.user_site.instagram }}" target="_blank"><i class="icon-instagram"></i></a>
    {% endif %}

    {% if site.user_site.vkontakte %}
    <a href="{{ site.user_site.vkontakte }}" target="_blank"><i class="icon-vkontakte"></i></a>
    {% endif %}

    {% if site.user_site.odnoklassniki %}
    <a href="{{ site.user_site.odnoklassniki }}" target="_blank"><i class="icon-odnoklassniki"></i></a>
    {% endif %}

  </div>
</div>


    <div class="map" id="map" long="" lat="">

    </div>

    <footer>
        <div class="footer-content wrapper">
            <div class="copy">
                <img src="{{ site.user_site.logo.big }}" alt="">
                {% if not is_chamber and site.user_site.organization.parent %}
                <p><strong>{% trans "Member of" %} {{ site.user_site.organization.parent.name }}</strong><span>{% blocktrans %}Copyright © 2011 - 2015 Expert Center, All Rights Reserved.{% endblocktrans %}</span></p>
                {% endif %}
            </div>
            <div class="banner">
                {% site_banner "footer" "SITES FOOTER" %}
            </div>
        </div>
    </footer>
