{% load i18n %}{% load staticfiles %}
{% load CustomFilters %}
    <header>
        <div class="wrapper clearfix">
            <div id="menuToggle">
                <img src="{% static 'usersites/images/svg/menu.svg' %}" alt="">
            </div>
            <div class="horMenu">
                <ul class="navigation vertical clearfix">
                    <li><a href="{% url 'pages:about' %}">{% trans 'About us' %}</a></li>
                    {% for page in site.user_site.organization.additional_pages.all %}
                    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                    {% endfor %}

                    {# If any company products have questionnaires #}
                    {% questionnaire_for_company_products as company_questionnaires %}
                    {% if company_questionnaires.count %}
                        <li><a href="{% url 'questionnaires:case_list' %}">{% trans 'Questionnaries history' %}</a></li>
                    {% endif %}
                    
                    {# Registration. login and logout #}
                    {% comment %}
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'auth_logout' %}">{% trans 'Logout' %}</a></li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}" 
                                class="dialog-open"
                                data-title="{% trans 'User registartion' %}">{% trans 'Register' %}</a></li>
                        <li><a href="{% url 'auth_login' %}" 
                                class="dialog-open"
                                data-title="{% trans 'Sign in' %}">{% trans 'Login' %}</a></li>
                    {% endif %}
                    {% endcomment %}
                </ul>
                <div class="busket vertical">
                    <span ngCloak><a href="{% url 'b2c_products:basket' %}">{{ request|basket_quantity }}</a></span>
                </div>
            </div><!--End mainMenu-->
            <div class="tel vertical">
                <img src="{% static 'usersites/images/svg/tel.svg' %}" alt="">
                <a href="tel:{{ site.user_site.organization.phone }}">{{ site.user_site.organization.phone }}</a>
            </div>
        </div>
    </header>

