{% extends 'usersites/base.html' %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}
{% load cache %}
{% is_chamber_site as is_chamber %}
{% get_current_language as LANGUAGE_CODE %}
{% block title %}{{ title }}{% endblock %}

{% block header %}
    {% cache 3600 top_menu site.pk LANGUAGE_CODE %}
       {% include 'usersites/header.html' %}
    {% endcache %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "usersites/css/reset-adv.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static "usersites/css/tmp.css" %}"/>
{% endblock %}


{% block body %}

    <!-- AngularJS // MyAwesomeBasket -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="{% static 'usersites/js/basket.js' %}"></script>

    <div class="main" ng-app="myApp" ng-controller="MyAwesomeBasket">
        <div class="wrapper">

            {% block sidebar %}
                {% cache 3600 menu site.pk LANGUAGE_CODE %}
                    {% include 'usersites/site_sidebar.html' %}
                {% endcache %}
            {% endblock %}

            <div class="mainright">
                {% block slider %}
                    {% cache 3600 slider site.pk LANGUAGE_CODE %}
                        {% site_slider %}
                    {% endcache %}
                {% endblock %}

                {% block content %}
                    <span style="padding-left: 225px;font-size: large;color: red;">{{ responseMessage }}</span>
                    <h1 class="titlepage">{{ current_section }}</h1>
                {% endblock %}
            </div>
            <div class="sidebar adv">
                {% if is_chamber %}
                    <div class="news-ads">
                        {% site_context_adv %}

                    </div>
                {% else %}
                        {% site_banner "SITES RIGHT 1" %}
                        {% site_banner "SITES RIGHT 2" %}
                        {% site_banner "SITES RIGHT 3" %}
                        {% site_banner "SITES RIGHT 4" %}
                        {% site_banner "SITES RIGHT 5" %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


{% block footer %}
   {% include 'usersites/footer.html' %}
{% endblock %}