{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

    <div class="offer__slider">
        {% if site.user_site.slider_images|length == 0 %}

            <div class="slide" style="background-image: url({% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/1.jpg"></div>
            <div class="slide" style="background-image: url({% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/2.jpg"></div>
            <div class="slide" style="background-image: url({% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/3.jpg"></div>

        {% else %}
            {% for i in site.user_site.slider_images %}
                <div class="slide" style="background-image: url({{ i.image.big }})"></div>
            {% endfor %}
        {% endif %}
    </div>


