{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

    <div class="offer__slider">
        {% if images|length == 0 %}

            <div class="slide">
                <img src="{% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="{% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="{% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/3.jpg" alt="">
            </div>

        {% else %}
            {% for image in images %}
                <div class="slide">
                    <img src="{{ image }}" alt="">
                </div>
            {% endfor %}
        {% endif %}
    </div>

