{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}


{#--------------------------#}

    <header>
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-12">#}
                    {% for i in site.user_site.slider_images %}
                        <img src="{{ i.image.original }}" class="img-responsive">


                            <div class="module mid">
                                {% if i.description %}
                                    <h2>{{ i.description }}</h2>
                                {% else %}
                                    <h2>{{ site.user_site.organization.name }}</h2>
                                {% endif %}
                            </div>

                    {% endfor %}

{#                </div>#}
{#            </div>#}
{#        </div>#}
    </header>


{#--------------------------#}
