{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% with form.fields.POSITION.initial as position %}
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/gmapCompany.css" %}" />
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static "tppcenter/js/gmapSearchMarker.js" %}"></script>

<script type="text/javascript">
        $(function() {

            $( ".date" ).datepicker();
            setTiny('textarea[class="tiny"]');
        });

     var marker;

        {% if position %}
         marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ position }})
        });
        {% endif %}
         google.maps.event.addDomListener(window, 'load', initialize);
</script>

     {% block keywords %}{% endblock %}

    <div class="newsform">
    <form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">


    {% csrf_token %}
        {% with form.fields.NAME.initial as name %}
        {% with form.fields.IMAGE.initial as image %}
        {% with form.fields.DETAIL_TEXT.initial as text %}
        {% with form.fields.ADDRESS.initial as address %}
        {% with form.fields.SITE_NAME.initial as site_name %}
        {% with form.fields.TELEPHONE_NUMBER.initial as telephone_number %}
        {% with form.fields.FAX.initial as fax %}
        {% with form.fields.INN.initial as inn %}
        {% with form.fields.SLOGAN.initial as slogan %}
        {% with form.fields.EMAIL.initial as email %}
        {% with form.fields.KEYWORD.initial as keyword %}
        {% with form.fields.DIRECTOR.initial as director %}
        {% with form.fields.ANONS.initial as anons %}
        {% with form.fields.KPP.initial as kpp %}
        {% with form.fields.OKPO.initial as okpo %}
        {% with form.fields.OKATO.initial as okato %}
        {% with form.fields.OKVED.initial as okved %}
        {% with form.fields.ACCOUNTANT.initial as accountant %}
        {% with form.fields.ACCOUNT_NUMBER.initial as acoount_number %}
        {% with form.fields.BANK_DETAILS.initial as bank_detail %}

        <div class="uploadimgage">
            <div class="imgbig">
                <label>{% trans 'Image' %}</label>
                {% if form.errors.IMAGE %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.IMAGE }}</div></div>
                {% endif %}
                    {% if image %}
                        <div class="b-img">
                            <img src="{{ MEDIA_URL }}big/{{ image.name }}">
                            <div class="deleteimge"><i class="imgnews delete"></i><span class="deletext">
                                {% trans 'delete' %}</span>
                            </div>
                            <div class="gray-img"></div>
                            <input id="delete" type="checkbox" name="IMAGE-CLEAR" value="{{ image }}" hidden="hidden" />
                        </div>
                    {% endif %}

                    <div class="fileinputs">
                        <input name="IMAGE" type="file" class="fileimg" />
                        <div class="fakefile">
                            <input class="inputhide" />
                            <img src="{% static "tppcenter/img/file.png" %}" />
                        </div>
                    </div>
            </div>
            <div>
                <label class="sapce">{% trans 'Director name' %} <font color="#FF0000">*</font></label>
                {% if form.errors.DIRECTOR %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.DIRECTOR }}</div></div>
                {% endif %}
                <input type="text" name="DIRECTOR" value="{{ director }}" placeholder="" class="text" />
            </div>
            <div>
                <label class="sapce">{% trans 'Start date' %}</label>
                {% if form.errors.START_DATE %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.START_DATE }}</div></div>
                {% endif %}
                <input type="text" class="date" placeholder="" name="START_DATE" value="{{ tpp.start_date|date:"m/d/Y" }}" />
            </div>
            <div>
                <label class="sapce">{% trans 'End date' %}</label>
                {% if form.errors.END_DATE %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.END_DATE }}</div></div>
                {% endif %}
                <input type="text" class="date" placeholder="" name="END_DATE" value="{{ tpp.end_date|date:"m/d/Y" }}" />
            </div>
            <div>
                <label class="sapce">{% trans 'Telephone number' %} <font color="#FF0000">*</font></label>
                {% if form.errors.TELEPHONE_NUMBER %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.TELEPHONE_NUMBER }}</div></div>
                {% endif %}
                <input type="text" class="text" placeholder="" name="TELEPHONE_NUMBER" value="{{ telephone_number }}" />
            </div>
            <div>
                <label class="sapce">{% trans 'Fax' %}</label>
                {% if form.errors.FAX %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.FAX }}</div></div>
                {% endif %}
                <input type="text" class="text" placeholder="" name="FAX" value="{{ fax }}" />
            </div>
            <div>
                <label class="sapce">E-mail <font color="#FF0000">*</font></label>
                {% if form.errors.EMAIL %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.EMAIL }}</div></div>
                {% endif %}
                <input type="text" class="text" placeholder="" name="EMAIL" value="{{ email }}" />
            </div>
            <div>
                <label class="sapce">{% trans 'WWW' %}</label>
                {% if form.errors.SITE_NAME %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.SITE_NAME }}</div></div>
                {% endif %}
                <input type="text" class="text" placeholder="" name="SITE_NAME" value="{{ site_name }}"/>
            </div>
            <div>
                <label class="sapce">{% trans 'Keywords' %}</label>
                {% if form.errors.KEYWORD %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.KEYWORD }}</div></div>
                {% endif %}
                <textarea name="KEYWORD"  rows="4" >{{ keyword }}</textarea>
            </div>
        </div>
                  <ul class="uploadconfig">
                        <li>
                            <div class="clumn1">
                                <label>{% trans 'CCI' %}  <font color="#FF0000">*</font></label>
                                 {% if form.errors.INN %}<div class="error-handler"> <div class="formserror">{{ form.errors.INN }}</div></div>{% endif %}
                                <input type="text" name="INN" value="{{ inn }}"placeholder="" class="text" style="width:94%;" />
                            </div>
                            <div class="clumn2">
                                <label>{% trans 'Country' %}  <font color="#FF0000">*</font></label>
                                   <select style="width:94%;"  name="COUNTRY">

                                         {% for id , atrr in countries.items %}
                                         {% with atrr.NAME|first as country  %}
                                              <option value="{{ id }}"{% if choosen_country.id == id %} selected {% endif %}>{{ country }}</option>
                                         {% endwith %}
                                        {% endfor %}
                                   </select>
                            </div>
                        </li>
                        <li>
                            <label>{% trans 'Organization name' %} <font color="#FF0000">*</font></label>
                              {% if form.errors.NAME %}
                                  <div class="error-handler"> <div class="formserror">{{ form.errors.NAME }}</div></div>
                              {% endif %}
                            <input type="text" class="text" placeholder="" name="NAME" value="{{ name }}" />
                        </li>

                         <li>
                            <label>{% trans 'Preview description ' %} <font color="#FF0000">*</font></label>
                              {% if form.errors.ANONS %}
                                  <div class="error-handler"> <div class="formserror">{{ form.errors.ANONS }}</div></div>
                              {% endif %}
                            <textarea rows="5" name="ANONS">{{ anons }}</textarea>
                        </li>
                        <li>
                            <label>{% trans 'Detail description' %}</label>
                            {% if form.errors.DETAIL_TEXT %}
                                <div class="error-handler">
                                    <div class="formserror">{{ form.errors.DETAIL_TEXT }}</div>
                                </div>
                            {% endif %}
                        </li>
                        <li>
                            <div class="detail">
                                <textarea class="tiny" name="DETAIL_TEXT">{{ text }}</textarea>
                            </div>
                        </li>
                         <li>
                            <label>{% trans 'Address' %} <font color="#FF0000">*</font></label>
                             {% if form.errors.ADDRESS %}
                                  <div class="error-handler"> <div class="formserror">{{ form.errors.ADDRESS }}</div></div>
                            {% endif %}
                            <input type="text" name="ADDRESS" value="{{ address }}" placeholder="" class="text" />
                        </li>
                  </ul>
                    <div style="padding: 0 10px;">
                            <label>{% trans 'Place on the map' %} <font color="#FF0000">*</font></label>
                        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                        <div id="map-canvas"></div>
                   </div>
                    <div class="addpage-title">{% trans 'Detail' %}</div>
                    <div class="addpage-form">
                        <div class="clumn1">
                            <label>{% trans 'RRC' %}</label>
                             {% if form.errors.KPP %}<div class="error-handler"> <div class="formserror">{{ form.errors.KPP }}</div></div>{% endif %}
                            <input type="text" name="KPP" value="{{kpp}}" placeholder="" class="text" style="width:89%;" />
                            <label>{% trans 'RCEO' %}</label>
                            {% if form.errors.OKPO %}<div class="error-handler"> <div class="formserror">{{ form.errors.OKPO }}</div></div>{% endif %}
                            <input type="text" name="OKPO" value="{{okpo}}" placeholder="" class="text" style="width:89%;" />
                            <label>{% trans 'RCOSD' %}</label>
                            {% if form.errors.OKATO %}<div class="error-handler"> <div class="formserror">{{ form.errors.OKATO }}</div></div>{% endif %}
                            <input type="text" name="OKATO" value="{{okato }}" placeholder="" class="text" style="width:89%;" />
                            <label>{% trans 'ARCEA' %}</label>
                            {% if form.errors.OKVED %}<div class="error-handler"> <div class="formserror">{{ form.errors.OKVED }}</div></div>{% endif %}
                            <input type="text" name="OKVED" value="{{okved }}" placeholder="" class="text" style="width:89%;" />
                            <label>{% trans 'Accountant name' %}</label>
                             {% if form.errors.ACCOUNTANT %}<div class="error-handler"> <div class="formserror">{{ form.errors.ACCOUNTANT }}</div></div>{% endif %}
                            <input type="text"  name="ACCOUNTANT" value="{{accountant }}" placeholder="" class="text" style="width:89%;" />
                        </div>
                        <div class="clumn2">
                            <label>{% trans 'Account number' %}</label>
                            {% if form.errors.ACCOUNT_NUMBER %}<div class="error-handler"> <div class="formserror">{{ form.errors.ACCOUNT_NUMBER }}</div></div>{% endif %}
                            <input type="text" name="ACCOUNT_NUMBER" value="{{acoount_number }}" placeholder="" class="text" style="width:95%;" />
                            <label>{% trans 'Bank details' %}</label>
                            {% if form.errors.BANK_DETAILS %}<div class="error-handler"> <div class="formserror">{{ form.errors.BANK_DETAILS }}</div></div>{% endif %}
                            <textarea name="BANK_DETAILS"  rows="11" style="width:95%;">{{bank_detail }}</textarea>
                        </div>
                    </div>
            <div class="newform-button">
                <input type="submit" class="btntype2" name="submmit" value="{% trans "Save" %}">
                <a href="#" class="btntype1">{% trans 'Cancel' %}</a>
            </div>


            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
{% with  position|split:"," as LatLng %}
 <input type="hidden" id="latFld" name="Lat" value="{{ LatLng.0}}">
 <input type="hidden" id="lngFld" name="Lng" value="{{ LatLng.1 }}">
{% endwith %}


    </form>

                </div>
{% endwith %}