    {% load static %}
    {% load i18n %}
    {% load CustomFilters %}
    {% with form.fields.POSITION.initial as position %}
    <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/company.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
     <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/gmapCompany.css" %}" />
        <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
     <script>
        tinymce.init({mode:"textareas", selector: 'textarea[class="tiny"]', plugins : " paste", paste_as_text: true});
      </script>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{% static "tppcenter/js/gmapSearchMarker.js" %}"></script>
    <script type="text/javascript">
        $(function() {

            $( ".date" ).datepicker();

        });

     var marker;

        {% if position %}
         marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ position }})
        });
        {% endif %}
         google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div class="newsform">
    <form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">


    {% csrf_token %}
        {% with form.fields.NAME.initial as name %}
        {% with form.fields.IMAGE.initial as image %}
        {% with form.fields.DETAIL_TEXT.initial as text %}
        {% with form.fields.ADDRESS.initial as address %}
        {% with form.fields.SITE_NAME.initial as site_name %}
        {% with form.fields.TELEPHONE_NUMBER.initial as telephone_number %}
        {% with form.fields.FAX.initial as fax %}
        {% with form.fields.INN.initial as inn %}
        {% with form.fields.SLOGAN.initial as slogan %}
        {% with form.fields.EMAIL.initial as email %}
        {% with form.fields.KEYWORD.initial as keyword %}
        {% with form.fields.DIRECTOR.initial as director %}
        {% with form.fields.ANONS.initial as anons %}
        {% with form.fields.KPP.initial as kpp %}
        {% with form.fields.OKPO.initial as okpo %}
        {% with form.fields.OKATO.initial as okato %}
        {% with form.fields.OKVED.initial as okved %}
        {% with form.fields.ACCOUNTANT.initial as accountant %}
        {% with form.fields.ACCOUNT_NUMBER.initial as acoount_number %}
        {% with form.fields.BANK_DETAILS.initial as bank_detail %}





            <div class="uploadimgage">
                        <div class="imgbig">
                            <label>Миниатюра</label>
                              {% if image %}
                                 <div class="b-img">
                                <img src="{{ MEDIA_URL }}big/{{ image.name }}">
                                <div class="deleteimge"><i class="imgnews delete"></i><span class="deletext">удалить</span></div>
                                <div class="gray-img"></div>
                                <input id="delete" type="checkbox" name="IMAGE-CLEAR" value="{{ image }}" hidden="hidden" />
                                 </div>
                             {% endif %}

                            <div class="fileinputs">
                                <input name="IMAGE" type="file" class="fileimg" />
                                <div class="fakefile">
                                    <input class="inputhide" />
                                    <img src="{% static "tppcenter/img/file.png" %}" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <label class="sapce">Дата подключения</label>
                            <input type="text" class="date" placeholder="" name="START_DATE" value="{{ tpp.start_date|date:"m/d/Y" }}" />
                        </div>
                        <div>
                            <label class="sapce">Дата отключения</label>
                            <input type="text" class="date" placeholder="" name="END_DATE" value="{{ tpp.end_date|date:"m/d/Y" }}" />
                        </div>
                        <div>
                            <label class="sapce">Телефон <font color="#FF0000">*</font></label>
                             {% if form.errors.TELEPHONE_NUMBER %}<div class="formserror">{{ form.errors.TELEPHONE_NUMBER }}</div>{% endif %}
                            <input type="text" class="text" placeholder="" name="TELEPHONE_NUMBER" value="{{ telephone_number }}" />

                        </div>
                        <div>
                            <label class="sapce">Факс</label>
                            <input type="text" class="text" placeholder="" name="FAX" value="{{ fax }}" />
                        </div>
                        <div>
                            <label class="sapce">E-mail <font color="#FF0000">*</font></label>
                            {% if form.errors.EMAIL %}<div class="formserror">{{ form.errors.EMAIL }}</div>{% endif %}
                            <input type="text" class="text" placeholder="" name="EMAIL" value="{{ email }}" />
                        </div>
                        <div>
                            <label class="sapce">Сайт</label>
                            <input type="text" class="text" placeholder="" name="SITE_NAME" value="{{ site_name }}"/>
                        </div>
                    </div>
                  <ul class="uploadconfig">
                        <li>
                            <div class="clumn1">
                                <label>ИНН  <font color="#FF0000">*</font></label>
                                 {% if form.errors.INN %}<div class="formserror">{{ form.errors.INN }}</div>{% endif %}
                                <input type="text" name="INN" value="{{ inn }}"placeholder="" class="text" style="width:94%;" />
                            </div>
                            <div class="clumn2">
                                <label>Страна  <font color="#FF0000">*</font></label>
                                   <select style="width:94%;"  name="COUNTRY">

                                         {% for id , atrr in countries.items %}
                                         {% with atrr.NAME|first as country  %}
                                              <option value="{{ id }}"{% if choosen_country.id == id %} selected {% endif %}>{{ country }}</option>
                                         {% endwith %}
                                        {% endfor %}
                                   </select>
                            </div>
                        </li>
                        <li>
                            <label>Наименование компании <font color="#FF0000">*</font></label>
                              {% if form.errors.NAME %}<div class="formserror">{{ form.errors.NAME }}</div>{% endif %}
                            <input type="text" class="text" placeholder="" name="NAME" value="{{ name }}" />
                        </li>


                         <li>
                            <label>Описание для анонса <font color="#FF0000">*</font></label>
                              {% if form.errors.ANONS %}<div class="formserror">{{ form.errors.ANONS }}</div>{% endif %}
                            <textarea name="ANONS">{{ anons }}</textarea>
                        </li>
                        <li>
                            <label>Детальное описание</label>
                            <div class="">
                                  {% if form.errors.DETAIL_TEXT %}<div class="formserror">{{ form.errors.DETAIL_TEXT }}</div>{% endif %}
                                <textarea class="tiny" style="width: 456px;height: 90px;" name="DETAIL_TEXT">{{ text }}</textarea>

                            </div>
                        </li>
                         <li>
                            <label>Фактический адрес <font color="#FF0000">*</font></label>
                            <input type="text" name="ADDRESS" value="{{ address }}" placeholder="" class="text" />
                        </li>

                        <li>
                            <label>ФИО руководителя <font color="#FF0000">*</font></label>
                            <input type="text" name="DIRECTOR" value="{{ director }}" placeholder="" class="text" />
                        </li>
                        <li>

                            <div class="clumn1">
                                <label>Ключевые слова поиска</label>
                                <textarea name="KEYWORD"  rows="4" style="width:450px;">{{ keyword }}</textarea>
                            </div>
                        </li>
                  </ul>
                    <div class="addpage-form">

                            <label>Местоположение на карте <font color="#FF0000">*</font></label>
                             <input id="pac-input" class="controls" type="text" placeholder="Search Box">
                                <div style="width: 650px;" id="map-canvas"></div>

                    </div>
                    <div class="addpage-title">Реквизиты</div>
                    <div class="addpage-form">
                        <div class="clumn1">
                            <label>КПП</label>
                            <input type="text" name="KPP" value="{{kpp}}" placeholder="" class="text" style="width:89%;" />
                            <label>ОКПО</label>
                            <input type="text" name="OKPO" value="{{okpo}}" placeholder="" class="text" style="width:89%;" />
                            <label>ОКАТО</label>
                            <input type="text" name="OKATO" value="{{okato }}" placeholder="" class="text" style="width:89%;" />
                            <label>ОКВЭД</label>
                            <input type="text" name="OKVED" value="{{okved }}" placeholder="" class="text" style="width:89%;" />
                            <label>ФИО глав. бухгалтера</label>
                            <input type="text"  name="ACCOUNTANT" value="{{accountant }}" placeholder="" class="text" style="width:89%;" />
                        </div>
                        <div class="clumn2">
                            <label>Номер расчётного счёта</label>
                            <input type="text" name="ACCOUNT_NUMBER" value="{{acoount_number }}" placeholder="" class="text" style="width:95%;" />
                            <label>Реквизиты банка</label>
                            <textarea name="BANK_DETAILS"  rows="11" style="width:95%;">{{bank_detail }}</textarea>
                        </div>
                    </div>
            <div class="append-formin">
                    <div class="addpage-title">Дополнительные страницы</div>
                    <input id="id_form-TOTAL_FORMS" name="pages-TOTAL_FORMS" type="hidden" value="5" />
                    <input id="id_form-INITIAL_FORMS" name="pages-INITIAL_FORMS" type="hidden" value="0" />
                    <input id="count" value="{% if pages|length > 0 %}{{ pages|length }}{% else %}1{% endif %}" type="hidden" />
                    <input id="id_form-MAX_NUM_FORMS" name="pages-MAX_NUM_FORMS" type="hidden" value="10" />

                    {% if  pages|length >  0 %}
                        {% for page in  pages %}
                    <div class="addpage-form">
                        <div class="clumn1">
                            <label>Заголовок</label>
                            <input class="text" style="width:89%;" id="id_form-{{  forloop.counter0 }}-title"  name="pages-{{  forloop.counter0 }}-title" type="text" value="{{ page.getTitle }}" />
                            {% if forloop.counter0 > 0 %}
                              <a href="#" class="buttonclear  buttonremove">Remove</a>
                            {% else %}
                              <a href="#" class="buttonclear  add-advandce">Добавить</a>
                            {% endif %}
                        </div>
                        <div class="clumn2">
                            <label>Описание</label>

                            <div class="">
                                <textarea class="tiny" style="height: 158px;width: 456px;" id="id_form-{{  forloop.counter0 }}-content" name="pages-{{  forloop.counter0 }}-content">{{ page.getContent }}</textarea>

                            </div>
                        </div>
                       </div>
                              {% endfor %}
                             {% else %}

                       <div class="addpage-form">
                        <div class="clumn1">
                            <label>Заголовок</label>
                            <input class="text" style="width:89%;" id="id_form-0-title"  name="pages-0-title" type="text" value="" />

                            <a href="#" class="buttonclear add-advandce">Добавить</a>
                        </div>
                        <div class="clumn2">
                            <label>Описание</label>

                            <div class="">
                                <textarea class="tiny" style="height: 158px;width: 456px;" id="id_form-0-content" name="pages-0-content"></textarea>

                            </div>

                        </div>
                    </div>
             {% endif %}
            </div>
            <div class="newform-button">
                <input type="submit" class="btntype2" name="submmit" value="{% trans "Save" %}">
                <a href="#" class="btntype1">Отменить</a>
            </div>


            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
{% with  position|split:"," as LatLng %}
 <input type="hidden" id="latFld" name="Lat" value="{{ LatLng.0}}">
 <input type="hidden" id="lngFld" name="Lng" value="{{ LatLng.1 }}">
{% endwith %}


    </form>

                </div>
{% endwith %}