{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
    <div class="companies">
        {% include "Tpp/popupFilter.html" %}
        {% include "main/paginator.html" %}
        {% include "main/local_menu_script.html" %}
        <ul class="company-list">
            {% for tpp in object_list %}
                <li>
                    {% resolve tpps_perms tpp.pk|slugify as permlist %}

                    {% if  'change_tpp' in permlist%}
                            <div class="blockbox">
                                <a href="#"><i class="btn-afisha imgnews"></i></a>
                                <div class="localmenu">
                                    {% if 'change_tpp' in permlist %}
                                         <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'tpp:update' tpp.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                         <div class="tender-action"><i class="imgnews sett icon-action"></i><a href="{% url 'setCurrent' tpp.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'set current' %}</span></a></div>
                                    {% endif %}
                                </div>
                            </div>
                    {% endif %}
                    <div class="title">
                        {% if tpp.country.flag %}
                                <i class="flag sprite {{ tpp.country.flag }}" title="{{ tpp.country.text }}" ></i>
                        {% elif tpp.flag %}
                               <img src="{{ MEDIA_URL }}small/{{ tpp.flag }}" class="flag" alt="{{ tpp.title }}" title="{{ tpp.title }}"/>
                        {% endif %}
                        <a href="{% url 'tpp:detail' tpp.slug %}">{{ tpp.title }}</a>
                    </div>

                    <div class="company-infor">
                        {% if tpp.image %}
                            <img src="{{MEDIA_URL}}small/{{ tpp.image }}" class="logocompany" alt="{{ tpp.title }}" title="{{ tpp.title }}" />
                        {% else %}
                            <img src="{% static 'tppcenter/img/tpp.jpg' %}" class="logocompany" alt="" />
                        {% endif %}
                        <div class="desc">
                            {{ tpp.text|cleanHtml|safe|truncatewords_html:30 }}
                            <a href="{% url 'tpp:detail' tpp.slug %}">{% trans "More" %}...</a>
                        </div>
                        <div class="companycontact">
                            {% if tpp.address %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info1"></i></div>
                                    <div class="nameinfo">{{ tpp.address }}</div>
                               </div>
                            {% endif %}
                            {% if tpp.phone %}
                               <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info2"></i></div>
                                    <div class="nameinfo">{{ tpp.phone }}</div>
                               </div>
                            {% endif %}
                            {% if tpp.fax %}
                               <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info3"></i></div>
                                    <div class="nameinfo">{{ tpp.fax }}</div>
                               </div>
                            {% endif %}
                            {% if tpp.site %}
                               <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info4"></i></div>
                                    <div class="nameinfo"><a href="http://{{ tpp.site }}">{{ tpp.site }}</a></div>
                               </div>
                            {% endif %}
                               <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info5"></i></div>
                                    <div class="nameinfo"><a href="#">{% trans 'Contact us' %}</a></div>
                               </div>
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endfor %}

        </ul>
        {% include "main/paginator.html" %}
    </div>
</div>