{% load static %}
{% load i18n %}
{% load CustomFilters %}



  <div class="companies">

            {% with tppValues.NAME.0 as name %}
            {% with tppValues.DETAIL_TEXT.0 as content %}
            {% with tppValues.IMAGE.0 as image %}
            {% with tppValues.FLAG.0 as flag %}
            {% with country.FLAG.0 as country_flag %}
            {% with country.NAME.0 as country_name %}


                <div class="deal-details">
                    <h3><img src="{{ MEDIA_URL }}small/{% if flag %}{{ flag }}{% else %}{{ country_flag }}{% endif %}" class="flag" /> {{ name }}</h3>
                    <img src="{{ MEDIA_URL }}big/{{ image }}" class="thumb-deal" alt="" />
                    <p>{{ content|cleanHtml|safe }}</p>
                </div>
                <div class="social">
                    <a href="#"><i class="imgnews share-1"></i></a>
                    <a href="#"><i class="imgnews share-2"></i></a>
                    <a href="#"><i class="imgnews share-3"></i></a>
                    <a href="#"><i class="imgnews share-4"></i></a>
                </div>

                <div class="cpn-details-tab" id="tpp-details-tab">
                    <div class="tab-cate">
                        <ul>
                        	<li>
                                <a href="#cpn-tabs-about">
                                    {% trans "About" %}
                                </a>
                            </li>
                            <li>
                                <a href="#cpn-tabs-recvisits">
                                    {% trans "Recvisits" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="news-tab" href="{% url "tpp:tab_news" item_id %}">
                                    {% trans "News" %}
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="#cpn-tabs-services">
                                    {% trans "Services" %}
                                </a>
                            </li>
                            -->
                            <li>
                                <a href="#cpn-tabs-gallery">
                                    {% trans "Gallery" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="tenders-tenders" href="{% url "tpp:tab_tenders" item_id %}">
                                    {% trans "Tenders" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="exhibitions-tab" href="{% url "tpp:tab_exhibitions" item_id %}">
                                    {% trans "Exhibitions" %}
                                </a>
                            </li>
                            <li>
                                <a href="#cpn-tabs-structure">
                                    {% trans "Structure" %}
                                </a>
                            </li>
                            <li>
                                <a href="#cpn-tabs-staff">
                                    {% trans "Staff" %}
                                </a>
                            </li>
                            <li>
                                <a href="#cpn-tabs-contacts">
                                    {% trans "Contacts" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="company-tab" href="{% url "tpp:tab_companies" item_id %}">
                                    {% trans "Companies" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="cpn-tabs-about">
                        <div class="tpp-dt-content">
                        	{{ content }}
                        </div>
                    </div>
                    <div id="cpn-tabs-recvisits">
                        <div class="tpp-dt-content"></div>
                    </div>
                    <!--
                    <div id="cpn-tabs-services">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    -->
                    <div id="cpn-tabs-gallery">
                        <div class="tpp-dt-content"></div>
                    </div>
                    <div id="cpn-tabs-structure">
                        <div class="tpp-dt-content"></div>
                    </div>
                    <div id="cpn-tabs-staff">
                        <div class="tpp-dt-content"> </div>
                    </div>
                    <div id="cpn-tabs-contacts">
                        <div class="tpp-dt-content"></div>
                    </div>
                </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}


  </div>

