{% load static %}
{% load i18n %}
{% load CustomFilters %}

<script>
    $('.keyword').html('');
</script>
<script>
    ga('set', 'dimension3', {{ item_id }});
    ga('set', 'dimension2', 'tpp');
</script>
<!-- script for Tpp-details-staff delete content button -->
<script type="text/javascript">
    $(function(){
	    $(document).on('mouseenter','.table-staff tr', function(){

		    $(this).children().find(".btnremove-small").show();
		});

        $(document).on('mouseleave', '.table-staff tr', function(){
		    $(this).children().find(".btnremove-small").hide();
		});
	});
</script>



<!-- script for Staff add popup and delete -->
<script type="text/javascript">
    $(function(){
	    $(document).on('click','.btnremove-small', function(){
            var tr = $(this).parents('tr');
            var cabinetID = tr.data('cabinet');
            var color  = $(this).css("background-color");
            tr.css("background-color","#FF3700");

            if (confirm('Do you want to delete this record?'))
            {
                var contentHolder = $('#staff-tab .tpp-dt-content');
                contentHolder.html('<div class="loader"><img class="loader-img" src="' + statciPath + 'img/ajax-loader.gif"/></div>');

                $.post("{% url "tpp:tab_staff" item_id %}", {cabinetID: cabinetID}, function(data){
                        contentHolder.replaceWith(data);
                        }, 'html');

            }
            else
            {
                 tr.css("background", color);
            }
            return false;
		});
        <!-- add Staff (popup window) -->
        $(document).on('click','#user-add-button', function(){
            $('#fade-profile').show();
            $('#popup-context').load("{% url "tpp:tab_staff" item_id %} .staffaddin");
            $('#add-dep-popup').show();
            return false;
		});
    });
</script>

<!-- script for Staff adding -->
<script type="text/javascript">
    $(function(){
	    $(document).on('click','#btn-add-user', function(){

            var userEmail = $('#user-name').val();
            var departmentName = $('#dep-list').find(":selected").text();
            var vacancyName = $('#vacancy-list').find(":selected").text();
            var vacancyName = $('#vacancy-list').find(":selected").text();
            var isAdmin = 0;
            if ($('#is-admin').is(':checked'))
            {
                isAdmin = 1;
            }
            else
            {
                isAdmin = 0;
            }

            var contentHolder = $('#staff-tab .tpp-dt-content');

            contentHolder.html('<div class="loader"><img class="loader-img" src="' + statciPath + 'img/ajax-loader.gif"/></div>');

            $.post("{% url "tpp:tab_staff" item_id %}",
                    {departmentName: departmentName, userEmail: userEmail, vacancyName: vacancyName, isAdmin: isAdmin},
                    function(data){
                        contentHolder.replaceWith(data);
                    }, 'html');

            $('#dep-list:eq(0)').attr('selected','selected');
            $('#fade-profile').hide();

            return false;
		});
	});
</script>
<!-- script for Department adding (popup window)-->
<script type="text/javascript">
    var prevDepName = '';
    $(function(){
        <!-- press Add button -->
	    $(document).on('click','#btn-add-depart', function()
        {
            var inputField = $('#dep-name');
            var departmentName = inputField.val();
            var contentHolder = $('#structure-tab .tpp-dt-content');

            contentHolder.html('<div class="loader"><img class="loader-img" src="' + statciPath + 'img/ajax-loader.gif"/></div>');

            $.post("{% url "tpp:tab_structure" item_id %}", {departmentName: departmentName, prevDepName: prevDepName}, function(data){
                        contentHolder.replaceWith(data);
                    }, 'html');

            inputField.empty();
            prevDepName = '';
            $('.staffadd').hide();      <!-- hide pop-up window -->
            $('#fade-profile').hide();  <!-- switch off gray background -->
            return false;
		});
        <!-- press Cancel button -->
	    $(document).on('click','.btntype1', function()
        {
            $('.staffadd').hide();      <!-- hide pop-up window -->
            $('#fade-profile').hide();  <!-- switch off gray background -->
            return false;
		});

	});
</script>
<!-- script for Department selection -->
<script type="text/javascript">
    $(function(){
        var bkgr_color  = 0;
        var font_color = 0;
        var departmentID = 0;
        var currentRow = -1;

        <!-- select row -->
        $(document).on('mouseenter','.sitemap li', function(){
            currentRow = $(this);
            if(departmentID == 0)
            {
                bkgr_color = currentRow.css("background-color");
                font_color = currentRow.children('a').css("color");
                currentRow.css("background-color","#E6E6E6");
            }
            else
            {
                if(currentRow.data('department') != departmentID)
                {
                    bkgr_color = currentRow.css("background-color");
                    font_color = currentRow.children('a').css("color");
                    currentRow.css("background-color","#E6E6E6");
                }
            }
        });
        <!-- deselect row -->
        $(document).on('mouseleave', '.sitemap li', function(){
            currentRow = $(this);
            if(departmentID == 0)
            {
                currentRow.css("background-color", bkgr_color);
                currentRow.children('a').css("color", font_color);
            }
            else
            {
                if(currentRow.data('department') != departmentID)
                {
                    currentRow.css("background-color", bkgr_color);
                    currentRow.children('a').css("color", font_color);
                }
            }
		});
        <!-- mark row in Tpp-structure -->
        $(document).on('click', '.sitemap li', function(){
		    currentRow = $(this);
            currentRow.css("background-color", "#3397C9");
            currentRow.children('a').css("color", "white");
            <!-- deselect previous selection if it is -->
            var newSelectedRow = currentRow.data('department');
            if(departmentID != 0 && departmentID != newSelectedRow)
            {
                var lastSelectedRow = currentRow.parent('ul').find("[data-department='" + departmentID + "']");
                lastSelectedRow.css("background-color", bkgr_color);
                lastSelectedRow.children('a').css("color", font_color);
            }

            departmentID = newSelectedRow;
            $('#dep-remove-button').css('visibility', 'visible');
            $('#dep-edit-button').css('visibility', 'visible');
		});

        <!-- add Department (popup window) -->
        $(document).on('click','#dep-add-button', function(){
            $('#fade-profile').show();
            $('.staffadd').show();
            return false;
		});

        <!-- edit Department (popup window)-->
        $(document).on('click','#dep-edit-button', function(){
            var selectedRow = currentRow.parent('ul').find("[data-department='" + departmentID + "']");
            prevDepName = selectedRow.context.innerText;
            $('#dep-name').val(prevDepName);
            $('#fade-profile').show();
            $('.staffadd').show();
            return false;
		});

        <!-- remove Department -->
        $(document).on('click','#dep-remove-button', function()
        {
            var contentHolder = $('#structure-tab .tpp-dt-content');

            if (confirm('Do you want to delete this Department?'))
            {
                contentHolder.html('<div class="loader"><img class="loader-img" src="' + statciPath + 'img/ajax-loader.gif"/></div>');
                $.post("{% url "tpp:tab_structure" item_id %}", {departmentID: departmentID}, function(data){
                            contentHolder.replaceWith(data);
                        }, 'html');
            }
            return false;
		});
	});
</script>

{% with tppValues.POSITION.0 as position %}
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/gmapCompany.css" %}" />

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static "tppcenter/js/gmapSearchMarker.js" %}"></script>
<script type="text/javascript">
    var marker;
        $(document).ready(function($) {
            var tabs = $( '#tpp-details-tab' )
            tabs.tabs();
            var href = tabs.find('a[href="#cpn-tabs-contacts"]');
            (href).on('click',function(){

                {% if position %}
                  marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ position }})
                });
                {% endif %}

             initialize(false);

            })});
</script>
{% endwith %}

  <div class="companies">

            {% with tppValues.NAME.0 as name %}
            {% with tppValues.DETAIL_TEXT.0 as content %}
            {% with tppValues.IMAGE.0 as image %}
            {% with tppValues.FLAG.0 as flag %}
            {% with country.COUNTRY_FLAG.0 as country_flag %}
            {% with country.NAME.0 as country_name %}
            {% with tppValues.ADDRESS.0 as address %}
            {% with tppValues.TELEPHONE_NUMBER.0 as telephone_number %}
            {% with tppValues.EMAIL.0 as email %}
            {% with tppValues.FAX.0 as fax %}
            {% with tppValues.SITE_NAME.0 as site_name %}
            {% with tppValues.ANONS.0 as anons %}


                <div class="deal-details">
                <h3>
                {% if country_flag %}
                     <i class="sprite  {{ country_flag }}" title="{{ country_name }}"></i>
                {% else %}
                     <img src="{{ MEDIA_URL }}small/{{ flag }}" class="flag" title="{{ country_name }}" alt="{{ country_name }}" />

                {% endif %}
                 {{ name }}
                </h3>
                    {% if image %}
                        <img src="{{ MEDIA_URL }}big/{{ image }}" class="thumb-deal" alt="{{ name }}" title="{{ name }}"  />
                    {% else %}
                        <img src="{% static 'tppcenter/img/tpp.jpg' %}" class="thumb-deal" alt="" />
                    {% endif %}
                    <p>
                        {% autoescape off %}
                            {{ anons|force_escape|linebreaks }}
                        {% endautoescape %}
                    </p>
                </div>
                <div class="social">
                    <a href="#"><i class="imgnews share-1"></i></a>
                    <a href="#"><i class="imgnews share-2"></i></a>
                    <a href="#"><i class="imgnews share-3"></i></a>
                    <a href="#"><i class="imgnews share-4"></i></a>
                </div>

                <div class="cpn-details-tab" id="tpp-details-tab">
                    <div class="tab-cate">
                        <ul>
                        	<li>
                                <a href="#cpn-tabs-about">
                                    {% trans "About" %}
                                </a>
                            </li>
                            <li>
                                <a href="#cpn-tabs-recvisits">
                                    {% trans "Recvisits" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="news-tab" href="{% url "tpp:tab_news" item_id %}">
                                    {% trans "News" %}
                                </a>
                            </li>
                            <!--
                            <li>
                                <a href="#cpn-tabs-services">
                                    {% trans "Services" %}
                                </a>
                            </li>
                            -->
                            <li>
                                <a href="#cpn-tabs-gallery">
                                    {% trans "Gallery" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="tenders-tenders" href="{% url "tpp:tab_tenders" item_id %}">
                                    {% trans "Tenders" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="exhibitions-tab" href="{% url "tpp:tab_exhibitions" item_id %}">
                                    {% trans "Exhibitions" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="innov-tab" href="{% url "tpp:tab_innov" item_id %}">
                                    {% trans 'Innovation Projects' %}
                                </a>
                            </li>
                            <li>
                                <a data-id="proposal-tab" href="{% url "tpp:tab_proposal" item_id %}">
                                    {% trans 'Business Proposals'  %}
                                </a>
                            </li>                            
                            <li>
                                <a data-id="structure-tab" href="{% url "tpp:tab_structure" item_id %}">
                                    {% trans "Structure" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="staff-tab" href="{% url "tpp:tab_staff" item_id %}">
                                    {% trans "Staff" %}
                                </a>
                            </li>
                            <li>
                                <a href="#cpn-tabs-contacts">
                                    {% trans "Contacts" %}
                                </a>
                            </li>
                            <li>
                                <a data-id="company-tab" href="{% url "tpp:tab_companies" item_id %}">
                                    {% trans "Companies" %}
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="cpn-tabs-about">
                        <div class="tpp-dt-content">
                        	{{ content|cleanHtml|safe }}
                        </div>
                    </div>
                    <div id="cpn-tabs-recvisits">
                        <div class="tpp-dt-content"></div>
                    </div>
                    <!--
                    <div id="cpn-tabs-services">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    -->
                    <div id="cpn-tabs-gallery">
                        <div class="tpp-dt-content"></div>
                    </div>
                    <div id="cpn-tabs-contacts">
                        <div class="tpp-dt-content">

                             <div class="org-contacts">
                               <ul>
                                	<li>
                                    	<span class="left">{% trans 'Address' %}: </span>
                                        <span class="right">{{ address }}</span>
                                    </li>
                                    <li>
                                    	<span class="left">{% trans 'Telephone number' %}: </span>
                                        <span class="right">{{ telephone_number }} </span>
                                    </li>
                                    <li>
                                    	<span class="left">{% trans 'Fax' %}: </span>
                                        <span class="right">{{ fax }}</span>
                                    </li>
                                    <li>
                                    	<span class="left">{% trans 'Email' %}: </span>
                                        <span class="right">{{ email }}</span>
                                    </li>
                                    <li>
                                    	<span class="left">{% trans 'WWW' %}: </span>
                                        <span class="right">{{ site_name }}</span>
                                    </li>
                                </ul>
                             </div>
                              <div class="org-map"> <div   id="map-canvas"></div></div>
                        </div>
                    </div>
                </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

  </div>

