{% load static %}
{% load i18n %}



  <div class="companies">

            {% with tppValues.NAME.0 as name %}
            {% with tppValues.DETAIL_TEXT.0 as content %}
            {% with tppValues.IMAGE.0 as image %}
            {% with tppValues.FLAG.0 as flag %}
            {% with country.FLAG.0 as country_flag %}
            {% with country.NAME.0 as country_name %}


                <div class="deal-details">
                    <h3><img src="{{ MEDIA_URL }}small/{% if flag %}{{ flag }}{% else %}{{ country_flag }}{% endif %}" class="flag" /> {{ name }}</h3>
                    <img src="{{ MEDIA_URL }}big/{{ image }}" class="thumb-deal" alt="" />
                    <p>{{ content }}</p>
                </div>
                <div class="social">
                    <a href="#"><i class="imgnews share-1"></i></a>
                    <a href="#"><i class="imgnews share-2"></i></a>
                    <a href="#"><i class="imgnews share-3"></i></a>
                    <a href="#"><i class="imgnews share-4"></i></a>
                </div>

                <div class="cpn-details-tab" id="tpp-details-tab">
                    <div class="tab-cate">
                        <ul>
                        	<li><a href="#cpn-tabs-1">О нас</a></li>
                            <li><a href="#cpn-tabs-2">Реквизиты</a></li>
                            <li><a href="#cpn-tabs-3">Новости</a></li>
                            <li><a href="#cpn-tabs-4">Услуги</a></li>
                            <li><a href="#cpn-tabs-5">Фото</a></li>
                            <li><a href="#cpn-tabs-6">Тендеры</a></li>
                            <li><a href="#cpn-tabs-7">Афиша</a></li>
                            <li><a href="#cpn-tabs-8">Структура</a></li>
                            <li><a href="#cpn-tabs-9">Персонал</a></li>
                            <li><a href="#cpn-tabs-10">Контакты</a></li>
                            <li><a data-id="company-tab" href="/tpp/tabs/companies/?tpp={{ item_id }}">Компании</a></li>

                        </ul>
                    </div>
                    <div id="cpn-tabs-1">
                        <div class="tpp-dt-content">
                        	{{ content }}
                        </div>
                    </div>
                    <div id="cpn-tabs-2">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    <div id="cpn-tabs-3">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    <div id="cpn-tabs-4">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    <div id="cpn-tabs-5">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    <div id="cpn-tabs-6">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    <div id="cpn-tabs-7">
                        <div class="tpp-dt-content">Финский инженер и хакер Оона Ряйсянен (Oona Räisänen), которая увлекается обработкой звука, случайно обнаружила на Youtube видеозапись, сделанную с вертолёта во время преследования автомобиля. Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком, Оону не увлекли приключения полиции, но она очень заинтересовалась необычным звуком</div>
                    </div>
                    <div id="cpn-tabs-8">
                        <div class="tpp-dt-content">9</div>
                    </div>
                    <div id="cpn-tabs-9">
                        <div class="tpp-dt-content">10</div>
                    </div>
                    <div id="cpn-tabs-10">
                        <div class="tpp-dt-content">10</div>
                    </div>
                </div>


            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}


  </div>

