{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}
<div class="tpp-dt-content">
    <table class="table-deals" cellpadding="0" cellpadding="0">
        <tr class="top">
            <td>№</td>
            <td>{% trans "Name" %}</td>
            <td>{% trans 'Project cost' %}</td>
            <td>{% trans "Date" %}</td>
        </tr>

       {% for project in page.object_list %}
            <tr>
                <td>{{ project.pk }}</td>
                <td>
                    <a href="{% url 'innov:detail' project.slug %}" title="{{ project.name }}">
                        {{ project.name|truncatewords:4 }}
                    </a>
                </td>
                <td>{{ project.currency|getSymbol }} {{ project.cost|formatPrice }}</td>
                <td>
                    {{ date|date:'d M Y' }}
                </td>
            </tr>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </table>
    {% include "main/paginator.html" %}
</div>