{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
<div class="tpp-dt-content">
    <table class="table-big" cellpadding="0" cellpadding="0">
        {% for news in page.object_list %}
            <tr>
                <td colspan="2">
                    <a href="{{ news.get_absolute_url }}" title="{{ news.title }}">
                        {{ news.title|truncatewords:10 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{{ news.get_absolute_url }}" title="{{ news.title }}">
                        {% if news.image %}
                             <img src="{{ news.image.small }}" alt="{{ news.title }}" title="{{ news.title }}"/>
                        {% else %}
                              <img src="{% static "tppcenter/img/news.jpg" %}" alt="{{ news.title }}" />
                        {% endif %}
                    </a>
                </td>
                <td>
                    {{ news.content|cleanHtml|safe|truncatewords_html:50 }}
                </td>
            </tr>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </table>
    {% include "main/paginator.html" %}
</div>