{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

<script type="text/javascript">
    $(function(){
        // save Vacancy list content for swapping and inti vacancies for first department
        savedItems = $('#vacancy-list').html();

        // pull Vacancies related to selected Department in popup comboboxes
        $(document).on('change','#dep-list', function() {
			depID = $('#dep-list').find(':selected').data('department');
			$('#vacancy-list').html(savedItems);
			$('#vacancy-list option:not([class = ' + depID + '])').remove();
		});
    });
</script>
<script>
    // hide error message on click
    $(function() {
        $(document).on('click', '.error-msg p', function() {
            $(this).fadeOut(800);
        });
    });
</script>


<div id="staff-tabs" class="tpp-dt-content">
    <div class="content-staff">
        <div class="content-staffin">
            <div class="error-msg">
                {% if errorMessage %}
                    <p>{{ errorMessage }}</p>
                {% endif %}
            </div>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-staff">
                <tr class="top">
                    <td width="24">&nbsp;</td>
                    <td>{% trans "Name" %}</td>
                    <td>{% trans "Department" %}</td>
                    <td>{% trans "Position" %}</td>
                    <td>{% trans "Contact" %}</td>
                    <td>{% trans "Status" %}</td>
                    <td class="status"></td>
                </tr>

                {% for id, attr in workersList.items %}
                    {% with attr.IMAGE|first as avatar %}
                    {% with attr.USER_FIRST_NAME|first as f_name %}
                    {% with attr.USER_MIDDLE_NAME|first as m_name %}
                    {% with attr.USER_LAST_NAME|first as l_name %}
                    {% with attr.EMAIL|first as email %}
                    {% with attr.DEPARTMENT|first as department %}
                    {% with attr.VACANCY|first as vacancy %}
                    {% with attr.STATUS|first as status %}


                    <tr data-cabinet="{{ id }}">
                        <td>
                            <div class="avatar">
                                {% if avatar %}
                                     <img src="{{ MEDIA_URL }}th/{{ avatar }}" alt="{{ l_name }}" />
                                {% else %}
                                     <img style="width: 24px;height: 24px;" src="{% static "tppcenter/img/profile.jpg"  %}" alt="{{ l_name }}" />
                                {% endif %}
                            </div>
                        </td>
                        {% if attr %}
                            <td><a href="#" title="{{ f_name }} {{ m_name }} {{ l_name }}">{{ f_name }} {{ m_name }} {{ l_name }}</a></td>
                        {% else %}
                            <td><a href="#" title="">{% trans "User with empty profile. Cabinet ID:" %} {{ id }}</a></td>
                        {% endif %}
                        <td>{{ department }}</td>
                        <td>{{ vacancy }}</td>
                        <td><i class="staff-contact-msg img-status"></i></td>
                        {% if status == 'ACtive' %}
                            <td><i class="staff-status-active img-status"></i></td>
                        {% else %}
                            <td><i class="staff-status-passive img-status"></i></td>
                        {% endif %}
                        <td>
                            {% if 'delete_cabinet' in permissionsList %}
                                <i class="btnremove-small imgnews"></i>
                            {% endif %}
                        </td>
                    </tr>

                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}

                {% empty %}
                    <div class="no-results">{% trans "No Staff found." %}</div>
                {% endfor %}

            </table>
            {% if 'add_cabinet' in permissionsList %}
                <div class="btn-clumn">
                    <i class="btnadd btnaction imgnews addform" id="user-add-button"></i>
                    <!-- <i class="btnremove btnaction imgnews"></i> -->
                </div>
            {% endif %}
        </div>
    </div>
    {% include "main/paginator.html" %}

    <!-- Person add popup window -->
    <div class="staffadd" id="add-user-popup">
        <i class="close-formadd imgnews"></i>
        <div class="title">Add user</div>
        <div id="popup-context">
            <div class="staffaddin">
                <label>{% trans "Department" %}</label>
                <select id="dep-list" style="width:62%;">
                    <option disabled selected>{% trans "Select Department..." %}</option>
                    {% for id, attr in departmentsList.items %}
                    {% with attr.NAME|first as department %}
                        <option data-department="{{ id }}">{{ department }}</option>
                    {% endwith %}
                    {% empty %}
                        <div class="no-results">{% trans "Empty" %}</div>
                    {% endfor %}
                </select>
                <label>{% trans "/Vacancy" %}</label>
                <select id="vacancy-list" style="width:62%;">
                    <option disabled selected></option>
                    {% for id, attr in vacanciesList.items %}
                    {% with attr.NAME|first as vacancy %}
                    {% with attr.DEPARTMENT_ID|first as dep_id %}
                        <option data-vacancy="{{ id }}" class="{{ dep_id }}">{{ vacancy }}</option>
                    {% endwith %}
                    {% endwith %}
                    {% empty %}
                        <div class="no-results">{% trans "Empty" %}</div>
                    {% endfor %}
                </select>
                <input type="checkbox" name="AdminFlag" value="isAdmin" id="is-admin">{% trans "Administrator" %}
                <div class="inputadd">
                    {% if errorMessage %}
                        <div class="error-handler"> <div class="formserror">{{ errorMessage }}</div></div>
                    {% endif %}
                    <input type="text" name="" id="user-name" value="" class="text" />
                </div>
                <div class="formadd-button">
                    <a class="btntype2" id="btn-add-user" href="#">{% trans "Add" %}</a>
                    <a class="btntype1" href="#">{% trans "Cancel" %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
