{% load i18n %}
{% load CustomFilters %}
<div class="tpp-dt-content">
    <table class="table-deals" cellpadding="0" cellpadding="0">
        <tr class="top">
            <td>№</td>
            <td>{% trans "Name" %}</td>
            <td>{% trans "Start date" %}</td>
            <td>{% trans "End date" %}</td>
           <td>{% trans "Price" %}</td>


        </tr>

       {% for id, attr in tendersList.items %}
            {% with attr.NAME|first as name %}
            {% with attr.SLUG|first as slug %}
            {% with attr.START_EVENT_DATE|first as start_date %}
            {% with attr.END_EVENT_DATE|first as end_date %}
            {% with attr.COST|first as cost %}
            {% with attr.CURRENCY|first as currency %}
            <tr>
                <td>{{ id }}</td>
                <td>
                    <a href="{% url 'tenders:detail' slug %}" title="{{ name }}">
                       {{ name|truncatewords:10 }}
                    </a>
                </td>
                <td>
                    {{ start_date|makeDate|date:"d M Y" }}

                </td>
                <td>{{ end_date|makeDate|date:"d M Y" }}</td>
                <td>{{ currency|getSymbol }} {{ cost }}</td>

            </tr>
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </table>
    {% include "main/paginator.html" %}
</div>