.sprite-flag_afghanistan {
    width: 20px;
    height: 15px;
    background-position: -1px -1px;
}

.sprite-flag_albania {
    width: 20px;
    height: 15px;
    background-position: -23px -1px;
}

.sprite-flag_algeria {
    width: 20px;
    height: 15px;
    background-position: -45px -1px;
}

.sprite-flag_andorra {
    width: 20px;
    height: 15px;
    background-position: -67px -1px;
}

.sprite-flag_angola {
    width: 20px;
    height: 15px;
    background-position: -89px -1px;
}

.sprite-flag_antigua_and_barbuda {
    width: 20px;
    height: 15px;
    background-position: -111px -1px;
}

.sprite-flag_argentina {
    width: 20px;
    height: 15px;
    background-position: -133px -1px;
}

.sprite-flag_armenia {
    width: 20px;
    height: 15px;
    background-position: -155px -1px;
}

.sprite-flag_australia {
    width: 20px;
    height: 15px;
    background-position: -177px -1px;
}

.sprite-flag_austria {
    width: 20px;
    height: 15px;
    background-position: -199px -1px;
}

.sprite-flag_azerbaijan {
    width: 20px;
    height: 15px;
    background-position: -221px -1px;
}

.sprite-flag_bahamas {
    width: 20px;
    height: 15px;
    background-position: -243px -1px;
}

.sprite-flag_bahrain {
    width: 20px;
    height: 15px;
    background-position: -1px -18px;
}

.sprite-flag_bangladesh {
    width: 20px;
    height: 15px;
    background-position: -23px -18px;
}

.sprite-flag_barbados {
    width: 20px;
    height: 15px;
    background-position: -45px -18px;
}

.sprite-flag_belarus {
    width: 20px;
    height: 15px;
    background-position: -67px -18px;
}

.sprite-flag_belgium {
    width: 20px;
    height: 15px;
    background-position: -89px -18px;
}

.sprite-flag_belize {
    width: 20px;
    height: 15px;
    background-position: -111px -18px;
}

.sprite-flag_benin {
    width: 20px;
    height: 15px;
    background-position: -133px -18px;
}

.sprite-flag_bhutan {
    width: 20px;
    height: 15px;
    background-position: -155px -18px;
}

.sprite-flag_bolivia {
    width: 20px;
    height: 15px;
    background-position: -177px -18px;
}

.sprite-flag_bosnia_and_herzegovina {
    width: 20px;
    height: 15px;
    background-position: -199px -18px;
}

.sprite-flag_botswana {
    width: 20px;
    height: 15px;
    background-position: -221px -18px;
}

.sprite-flag_brazil {
    width: 20px;
    height: 15px;
    background-position: -243px -18px;
}

.sprite-flag_brunei {
    width: 20px;
    height: 15px;
    background-position: -1px -35px;
}

.sprite-flag_bulgaria {
    width: 20px;
    height: 15px;
    background-position: -23px -35px;
}

.sprite-flag_burkina_faso {
    width: 20px;
    height: 15px;
    background-position: -45px -35px;
}

.sprite-flag_burundi {
    width: 20px;
    height: 15px;
    background-position: -67px -35px;
}

.sprite-flag_cambodia {
    width: 20px;
    height: 15px;
    background-position: -89px -35px;
}

.sprite-flag_cameroon {
    width: 20px;
    height: 15px;
    background-position: -111px -35px;
}

.sprite-flag_canada {
    width: 20px;
    height: 15px;
    background-position: -133px -35px;
}

.sprite-flag_cape_verde {
    width: 20px;
    height: 15px;
    background-position: -155px -35px;
}

.sprite-flag_central_african_republic {
    width: 20px;
    height: 15px;
    background-position: -177px -35px;
}

.sprite-flag_chad {
    width: 20px;
    height: 15px;
    background-position: -199px -35px;
}

.sprite-flag_chile {
    width: 20px;
    height: 15px;
    background-position: -221px -35px;
}

.sprite-flag_china {
    width: 20px;
    height: 15px;
    background-position: -243px -35px;
}

.sprite-flag_colombia {
    width: 20px;
    height: 15px;
    background-position: -1px -52px;
}

.sprite-flag_comoros {
    width: 20px;
    height: 15px;
    background-position: -23px -52px;
}

.sprite-flag_congo_democratic_republic {
    width: 20px;
    height: 15px;
    background-position: -45px -52px;
}

.sprite-flag_congo_republic {
    width: 20px;
    height: 15px;
    background-position: -67px -52px;
}

.sprite-flag_cook_islands {
    width: 20px;
    height: 15px;
    background-position: -89px -52px;
}

.sprite-flag_costa_rica {
    width: 20px;
    height: 15px;
    background-position: -111px -52px;
}

.sprite-flag_cote_divoire {
    width: 20px;
    height: 15px;
    background-position: -133px -52px;
}

.sprite-flag_croatia {
    width: 20px;
    height: 15px;
    background-position: -155px -52px;
}

.sprite-flag_cuba {
    width: 20px;
    height: 15px;
    background-position: -177px -52px;
}

.sprite-flag_cyprus {
    width: 20px;
    height: 15px;
    background-position: -199px -52px;
}

.sprite-flag_czech_republic {
    width: 20px;
    height: 15px;
    background-position: -221px -52px;
}

.sprite-flag_denmark {
    width: 20px;
    height: 15px;
    background-position: -243px -52px;
}

.sprite-flag_djibouti {
    width: 20px;
    height: 15px;
    background-position: -1px -69px;
}

.sprite-flag_dominica {
    width: 20px;
    height: 15px;
    background-position: -23px -69px;
}

.sprite-flag_dominican_republic {
    width: 20px;
    height: 15px;
    background-position: -45px -69px;
}

.sprite-flag_east_timor {
    width: 20px;
    height: 15px;
    background-position: -67px -69px;
}

.sprite-flag_egypt {
    width: 20px;
    height: 15px;
    background-position: -89px -69px;
}

.sprite-flag_el_salvador {
    width: 20px;
    height: 15px;
    background-position: -111px -69px;
}

.sprite-flag_equador {
    width: 20px;
    height: 15px;
    background-position: -133px -69px;
}

.sprite-flag_equatorial_guinea {
    width: 20px;
    height: 15px;
    background-position: -155px -69px;
}

.sprite-flag_eritrea {
    width: 20px;
    height: 15px;
    background-position: -177px -69px;
}

.sprite-flag_estonia {
    width: 20px;
    height: 15px;
    background-position: -199px -69px;
}

.sprite-flag_ethiopia {
    width: 20px;
    height: 15px;
    background-position: -221px -69px;
}

.sprite-flag_federated_states_of_micronesia {
    width: 20px;
    height: 15px;
    background-position: -243px -69px;
}

.sprite-flag_fiji {
    width: 20px;
    height: 15px;
    background-position: -1px -86px;
}

.sprite-flag_finland {
    width: 20px;
    height: 15px;
    background-position: -23px -86px;
}

.sprite-flag_france {
    width: 20px;
    height: 15px;
    background-position: -45px -86px;
}

.sprite-flag_gabon {
    width: 20px;
    height: 15px;
    background-position: -67px -86px;
}

.sprite-flag_gambia {
    width: 20px;
    height: 15px;
    background-position: -89px -86px;
}

.sprite-flag_georgia {
    width: 20px;
    height: 15px;
    background-position: -111px -86px;
}

.sprite-flag_germany {
    width: 20px;
    height: 15px;
    background-position: -133px -86px;
}

.sprite-flag_ghana {
    width: 20px;
    height: 15px;
    background-position: -155px -86px;
}

.sprite-flag_greece {
    width: 20px;
    height: 15px;
    background-position: -177px -86px;
}

.sprite-flag_grenada {
    width: 20px;
    height: 15px;
    background-position: -199px -86px;
}

.sprite-flag_guatemala {
    width: 20px;
    height: 15px;
    background-position: -221px -86px;
}

.sprite-flag_guinea {
    width: 20px;
    height: 15px;
    background-position: -243px -86px;
}

.sprite-flag_guinea_bissau {
    width: 20px;
    height: 15px;
    background-position: -1px -103px;
}

.sprite-flag_guyana {
    width: 20px;
    height: 15px;
    background-position: -23px -103px;
}

.sprite-flag_haiti {
    width: 20px;
    height: 15px;
    background-position: -45px -103px;
}

.sprite-flag_honduras {
    width: 20px;
    height: 15px;
    background-position: -67px -103px;
}

.sprite-flag_hungary {
    width: 20px;
    height: 15px;
    background-position: -89px -103px;
}

.sprite-flag_iceland {
    width: 20px;
    height: 15px;
    background-position: -111px -103px;
}

.sprite-flag_india {
    width: 20px;
    height: 15px;
    background-position: -133px -103px;
}

.sprite-flag_indonesia {
    width: 20px;
    height: 15px;
    background-position: -155px -103px;
}

.sprite-flag_iran {
    width: 20px;
    height: 15px;
    background-position: -177px -103px;
}

.sprite-flag_iraq {
    width: 20px;
    height: 15px;
    background-position: -199px -103px;
}

.sprite-flag_ireland {
    width: 20px;
    height: 15px;
    background-position: -221px -103px;
}

.sprite-flag_israel {
    width: 20px;
    height: 15px;
    background-position: -243px -103px;
}

.sprite-flag_italy {
    width: 20px;
    height: 15px;
    background-position: -1px -120px;
}

.sprite-flag_jamaica {
    width: 20px;
    height: 15px;
    background-position: -23px -120px;
}

.sprite-flag_japan {
    width: 20px;
    height: 15px;
    background-position: -45px -120px;
}

.sprite-flag_jordan {
    width: 20px;
    height: 15px;
    background-position: -67px -120px;
}

.sprite-flag_kazakhstan {
    width: 20px;
    height: 15px;
    background-position: -89px -120px;
}

.sprite-flag_kenya {
    width: 20px;
    height: 15px;
    background-position: -111px -120px;
}

.sprite-flag_kiribati {
    width: 20px;
    height: 15px;
    background-position: -133px -120px;
}

.sprite-flag_kuwait {
    width: 20px;
    height: 15px;
    background-position: -155px -120px;
}

.sprite-flag_kyrgyzstan {
    width: 20px;
    height: 15px;
    background-position: -177px -120px;
}

.sprite-flag_laos {
    width: 20px;
    height: 15px;
    background-position: -199px -120px;
}

.sprite-flag_latvia {
    width: 20px;
    height: 15px;
    background-position: -221px -120px;
}

.sprite-flag_lebanon {
    width: 20px;
    height: 15px;
    background-position: -243px -120px;
}

.sprite-flag_lesotho {
    width: 20px;
    height: 15px;
    background-position: -1px -137px;
}

.sprite-flag_liberia {
    width: 20px;
    height: 15px;
    background-position: -23px -137px;
}

.sprite-flag_libya {
    width: 20px;
    height: 15px;
    background-position: -45px -137px;
}

.sprite-flag_liechtenstein {
    width: 20px;
    height: 15px;
    background-position: -67px -137px;
}

.sprite-flag_lithuania {
    width: 20px;
    height: 15px;
    background-position: -89px -137px;
}

.sprite-flag_luxembourg {
    width: 20px;
    height: 15px;
    background-position: -111px -137px;
}

.sprite-flag_macedonia {
    width: 20px;
    height: 15px;
    background-position: -133px -137px;
}

.sprite-flag_madagascar {
    width: 20px;
    height: 15px;
    background-position: -155px -137px;
}

.sprite-flag_malawi {
    width: 20px;
    height: 15px;
    background-position: -177px -137px;
}

.sprite-flag_malaysia {
    width: 20px;
    height: 15px;
    background-position: -199px -137px;
}

.sprite-flag_maledives {
    width: 20px;
    height: 15px;
    background-position: -221px -137px;
}

.sprite-flag_mali {
    width: 20px;
    height: 15px;
    background-position: -243px -137px;
}

.sprite-flag_malta {
    width: 20px;
    height: 15px;
    background-position: -1px -154px;
}

.sprite-flag_marshall_islands {
    width: 20px;
    height: 15px;
    background-position: -23px -154px;
}

.sprite-flag_mauretania {
    width: 20px;
    height: 15px;
    background-position: -45px -154px;
}

.sprite-flag_mauritius {
    width: 20px;
    height: 15px;
    background-position: -67px -154px;
}

.sprite-flag_mexico {
    width: 20px;
    height: 15px;
    background-position: -89px -154px;
}

.sprite-flag_moldova {
    width: 20px;
    height: 15px;
    background-position: -111px -154px;
}

.sprite-flag_monaco {
    width: 20px;
    height: 15px;
    background-position: -133px -154px;
}

.sprite-flag_mongolia {
    width: 20px;
    height: 15px;
    background-position: -155px -154px;
}

.sprite-flag_montenegro {
    width: 20px;
    height: 15px;
    background-position: -177px -154px;
}

.sprite-flag_morocco {
    width: 20px;
    height: 15px;
    background-position: -199px -154px;
}

.sprite-flag_mozambique {
    width: 20px;
    height: 15px;
    background-position: -221px -154px;
}

.sprite-flag_myanmar {
    width: 20px;
    height: 15px;
    background-position: -243px -154px;
}

.sprite-flag_namibia {
    width: 20px;
    height: 15px;
    background-position: -1px -171px;
}

.sprite-flag_nauru {
    width: 20px;
    height: 15px;
    background-position: -23px -171px;
}

.sprite-flag_nepal {
    width: 20px;
    height: 15px;
    background-position: -45px -171px;
}

.sprite-flag_netherlands {
    width: 20px;
    height: 15px;
    background-position: -67px -171px;
}

.sprite-flag_new_zealand {
    width: 20px;
    height: 15px;
    background-position: -89px -171px;
}

.sprite-flag_nicaragua {
    width: 20px;
    height: 15px;
    background-position: -111px -171px;
}

.sprite-flag_niger {
    width: 20px;
    height: 15px;
    background-position: -133px -171px;
}

.sprite-flag_nigeria {
    width: 20px;
    height: 15px;
    background-position: -155px -171px;
}

.sprite-flag_niue {
    width: 20px;
    height: 15px;
    background-position: -177px -171px;
}

.sprite-flag_north_korea {
    width: 20px;
    height: 15px;
    background-position: -199px -171px;
}

.sprite-flag_norway {
    width: 20px;
    height: 15px;
    background-position: -221px -171px;
}

.sprite-flag_oman {
    width: 20px;
    height: 15px;
    background-position: -243px -171px;
}

.sprite-flag_pakistan {
    width: 20px;
    height: 15px;
    background-position: -1px -188px;
}

.sprite-flag_palau {
    width: 20px;
    height: 15px;
    background-position: -23px -188px;
}

.sprite-flag_palestine {
    width: 20px;
    height: 15px;
    background-position: -45px -188px;
}

.sprite-flag_panama {
    width: 20px;
    height: 15px;
    background-position: -67px -188px;
}

.sprite-flag_papua_new_guinea {
    width: 20px;
    height: 15px;
    background-position: -89px -188px;
}

.sprite-flag_paraquay {
    width: 20px;
    height: 15px;
    background-position: -111px -188px;
}

.sprite-flag_peru {
    width: 20px;
    height: 15px;
    background-position: -133px -188px;
}

.sprite-flag_philippines {
    width: 20px;
    height: 15px;
    background-position: -155px -188px;
}

.sprite-flag_poland {
    width: 20px;
    height: 15px;
    background-position: -177px -188px;
}

.sprite-flag_portugal {
    width: 20px;
    height: 15px;
    background-position: -199px -188px;
}

.sprite-flag_qatar {
    width: 20px;
    height: 15px;
    background-position: -221px -188px;
}

.sprite-flag_romania {
    width: 20px;
    height: 15px;
    background-position: -243px -188px;
}

.sprite-flag_russia {
    width: 20px;
    height: 15px;
    background-position: -1px -205px;
}

.sprite-flag_rwanda {
    width: 20px;
    height: 15px;
    background-position: -23px -205px;
}

.sprite-flag_saint_kitts_and_nevis {
    width: 20px;
    height: 15px;
    background-position: -45px -205px;
}

.sprite-flag_saint_lucia {
    width: 20px;
    height: 15px;
    background-position: -67px -205px;
}

.sprite-flag_saint_vincent_and_the_grenadines {
    width: 20px;
    height: 15px;
    background-position: -89px -205px;
}

.sprite-flag_samoa {
    width: 20px;
    height: 15px;
    background-position: -111px -205px;
}

.sprite-flag_san_marino {
    width: 20px;
    height: 15px;
    background-position: -133px -205px;
}

.sprite-flag_sao_tome_and_principe {
    width: 20px;
    height: 15px;
    background-position: -155px -205px;
}

.sprite-flag_saudi_arabia {
    width: 20px;
    height: 15px;
    background-position: -177px -205px;
}

.sprite-flag_senegal {
    width: 20px;
    height: 15px;
    background-position: -199px -205px;
}

.sprite-flag_serbia {
    width: 20px;
    height: 15px;
    background-position: -221px -205px;
}

.sprite-flag_seychelles {
    width: 20px;
    height: 15px;
    background-position: -243px -205px;
}

.sprite-flag_sierra_leone {
    width: 20px;
    height: 15px;
    background-position: -1px -222px;
}

.sprite-flag_singapore {
    width: 20px;
    height: 15px;
    background-position: -23px -222px;
}

.sprite-flag_slovakia {
    width: 20px;
    height: 15px;
    background-position: -45px -222px;
}

.sprite-flag_slovenia {
    width: 20px;
    height: 15px;
    background-position: -67px -222px;
}

.sprite-flag_solomon_islands {
    width: 20px;
    height: 15px;
    background-position: -89px -222px;
}

.sprite-flag_somalia {
    width: 20px;
    height: 15px;
    background-position: -111px -222px;
}

.sprite-flag_south_africa {
    width: 20px;
    height: 15px;
    background-position: -133px -222px;
}

.sprite-flag_south_korea {
    width: 20px;
    height: 15px;
    background-position: -155px -222px;
}

.sprite-flag_south_sudan {
    width: 20px;
    height: 15px;
    background-position: -177px -222px;
}

.sprite-flag_spain {
    width: 20px;
    height: 15px;
    background-position: -199px -222px;
}

.sprite-flag_sri_lanka {
    width: 20px;
    height: 15px;
    background-position: -221px -222px;
}

.sprite-flag_sudan {
    width: 20px;
    height: 15px;
    background-position: -243px -222px;
}

.sprite-flag_suriname {
    width: 20px;
    height: 15px;
    background-position: -1px -239px;
}

.sprite-flag_swaziland {
    width: 20px;
    height: 15px;
    background-position: -23px -239px;
}

.sprite-flag_sweden {
    width: 20px;
    height: 15px;
    background-position: -45px -239px;
}

.sprite-flag_switzerland {
    width: 20px;
    height: 15px;
    background-position: -67px -239px;
}

.sprite-flag_syria {
    width: 20px;
    height: 15px;
    background-position: -89px -239px;
}

.sprite-flag_tajikistan {
    width: 20px;
    height: 15px;
    background-position: -111px -239px;
}

.sprite-flag_tanzania {
    width: 20px;
    height: 15px;
    background-position: -133px -239px;
}

.sprite-flag_thailand {
    width: 20px;
    height: 15px;
    background-position: -155px -239px;
}

.sprite-flag_togo {
    width: 20px;
    height: 15px;
    background-position: -177px -239px;
}

.sprite-flag_tonga {
    width: 20px;
    height: 15px;
    background-position: -199px -239px;
}

.sprite-flag_trinidad_and_tobago {
    width: 20px;
    height: 15px;
    background-position: -221px -239px;
}

.sprite-flag_tunisia {
    width: 20px;
    height: 15px;
    background-position: -243px -239px;
}

.sprite-flag_turkey {
    width: 20px;
    height: 15px;
    background-position: -1px -256px;
}

.sprite-flag_turkmenistan {
    width: 20px;
    height: 15px;
    background-position: -23px -256px;
}

.sprite-flag_tuvalu {
    width: 20px;
    height: 15px;
    background-position: -45px -256px;
}

.sprite-flag_uganda {
    width: 20px;
    height: 15px;
    background-position: -67px -256px;
}

.sprite-flag_ukraine {
    width: 20px;
    height: 15px;
    background-position: -89px -256px;
}

.sprite-flag_united_arab_emirates {
    width: 20px;
    height: 15px;
    background-position: -111px -256px;
}

.sprite-flag_united_kingdom {
    width: 20px;
    height: 15px;
    background-position: -133px -256px;
}

.sprite-flag_uruquay {
    width: 20px;
    height: 15px;
    background-position: -155px -256px;
}

.sprite-flag_usa {
    width: 20px;
    height: 15px;
    background-position: -177px -256px;
}

.sprite-flag_uzbekistan {
    width: 20px;
    height: 15px;
    background-position: -199px -256px;
}

.sprite-flag_vanuatu {
    width: 20px;
    height: 15px;
    background-position: -221px -256px;
}

.sprite-flag_vatican_city {
    width: 20px;
    height: 15px;
    background-position: -243px -256px;
}

.sprite-flag_venezuela {
    width: 20px;
    height: 15px;
    background-position: -265px -1px;
}

.sprite-flag_vietnam {
    width: 20px;
    height: 15px;
    background-position: -265px -18px;
}

.sprite-flag_yemen {
    width: 20px;
    height: 15px;
    background-position: -265px -35px;
}

.sprite-flag_zambia {
    width: 20px;
    height: 15px;
    background-position: -265px -52px;
}

.sprite-flag_zimbabwe {
    width: 20px;
    height: 15px;
    background-position: -265px -69px;
}
