body
  min-width 540px
  @import url('https://fonts.googleapis.com/css?family=Amatic+SC')
  @import url('https://fonts.googleapis.com/css?family=Roboto')
  font-family Arial, Helvetica, sans-serif
  font-size 12px
  .sprite-flags
    background-image: url(../images/spritesheet.png)
    background-repeat: no-repeat
  @import './flags.styl'
  a
    color #0089bc
  .wrapper
    padding 0
  .sprite
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
  @import './components/header'
// MAIN
  .main
    margin-top 20px
  .main-row
    .modal
      input
        padding: 0 10px
        margin-top: 10px
        border-radius: 1px
        height: 30px
        outline: none
        &.clear
          margin-top 0
    // MAIN-filter
    .main-container
      margin-top 20px
      @media (min-width: 992px)
        width 1002px
        padding-left 0
      @media (max-width: 992px)
        width inherit
        margin-left 10px
        margin-right 0
        padding 0
      .article
        @media (max-width: 992px)
          width 64%
        @media (max-width: 767px)
          margin-left 55px
          width 85%
      // width 1190px
      .main-content
        min-width 990px
        margin-left 0
        padding-top 2px
    @import './components/article-filter'
    @import './components/left-aside'
    // MAIN-center
    .article-content
      margin-top 15px
      margin-left -6%
      width 110%
      @media (max-width: 992px)
        margin-left -50px
        width 115%
      @import './components/content/tab-content'
      .paginator
        color #777
        .total
          position absolute
          margin-left 20px
        .current-page
          font-weight bolder
          margin-left 8px
        a
          margin-left 10px
      .coupon
        #exTab
          float left
          width 100%
          margin-top 20px
          border solid 1px #eee
          padding 10px
          @import './components/content/tab-content'
      @import './components/banner'
      .article-header
        font-size 20px
        font-weight 600
        margin-left 20px
        font-family 'Amatic'
      .block-title
        margin 10px 0 20px 0
        font-size 16px
        padding 5px 15px
        color #000
        font-weight bold
        height 30px
        background-color #e6e6e6
      .company
        .deal-details
          // margin 0 15px
          .company-flag
            margin-right 10px
            margin-top 3px
          .thumb-deal
            margin-right 20px
            margin-left 20px
            max-width 170px
            max-height 170px
          .member-of
            margin-top 40px
          .thumb-img
            margin-left 20px
            margin-right 20px
      @import './components/content-goods'
      @import './components/content-block'

    //MAIN-right aside
    @import './components/right-aside'
  @import './components/footer'
// MODAL (filter)
.modal
  .tab-content
    margin-top 20px
    .multipleSelect
      width 570px
