{% extends 'usersites/index.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load inclusionTags %}
{% load humanize %}

{% block after_css %}
    <link rel="stylesheet" href="{% static 'b24online/css/extra.css' %}">
    <style type="text/css">
        p.notify {
            text-align: left; 
            font-size: 150%; 
            font-weight: bold;            
            text-indent: 0;
        }
    </style>
    
{% endblock %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    {% with object.item as product %}
    <section class="content__info grid-layout">
        <div class="product_box clearfix">
            <h2>{{ product.name }} {{ product.sku }}</h2>
            <div class="preview">
                {% if product.image %}
                  <img src="{{ product.image.small }}" alt="{{ product.name }}" title="{{ product.name }}" />
                {% else %}
                  <img src="{% static 'b24online/img/item.jpg' %}" alt="" />
                {% endif %}
            </div>
        </div>

        <div class="InfoTabs">
            <ul>
                <li><a href="#tabs-1">{% trans 'About Company' %}</a></li>
                <li><a href="#tabs-2">{% trans 'Document' %}</a></li>
                <li><a href="#tabs-3">{% trans 'Gallery' %}</a></li>
                <li class="ui-tabs-active"><a href="#tabs-4">{% trans 'Questionnaires' %}</a></li>
            </ul>
            <div id="tabs-1">
                {{ product.description|cleanHtml|safe }}
            </div>
            <div id="tabs-2">
                <ul class="tpp-gallery gallery">
                    {% for document_obj in product.documents.all %}
                    <li>
                        <div class="b-img">
                            <a target="_blank" href="{{ document_obj.document.url }}">
                                <img src="{% static "b24online/img/file_icon.png" %}" />
                            </a>
                            <div class="viewimge">
                                <a target="_blank" href="{{ document_obj.document.url }}">
                                    <i class="imgnews"></i><span class="zoomtext">{% trans 'Download' %}</span>
                                </a>
                            </div>
                            <div class="gray-img"></div>
                        </div>
                        <div>{{ document_obj.name }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div id="tabs-3">
                <ul class="gallery">
                {% for gallery_obj in product.gallery_images %}
                    <figure>
                            <a rel="gallery" fancybox class="fancybox" href="{{ gallery_obj.image.original }}">
                                <img alt="" src="{{ gallery_obj.image.big }}" />
                            </a>
                    </figure>
                {% endfor %}
                 </ul>
            </div>
            
            <div id="tabs-4">
                <h3>{{ object.name }}</h3>
                <hr class="hr-divider-one">
                <p style="font-size: 100%;">
                    {% if object.image %}<div style="float: left;"><img src="{{ object.image.big }}" /></div>{% endif %}
                    <div style="margin-left: 20px; overflow: auto; text-align: left;">{{ object.short_description }}</div>
                </p>

                <div class="data">
                    {% if already %}
                        <p class="notify">
                            {% trans 'You have activated this questionnaire case already' %}.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    {% endwith %}
{% endblock %}
