{% extends 'usersites/index.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load inclusionTags %}
{% load humanize %}

{% block after_css %}
    <link rel="stylesheet" href="{% static 'b24online/css/extra.css' %}">
    <style type="text/css">
        #description {
            margin: 20px 0; 
            padding: 10px;
            text-align: left; 
            font-size: 120%;
            border: 1px dashed #aaaaaa;
            background-color: #eeeeee;
            position: relative;
            overflow: auto;
        }
        
        #item_image {
            float: left; 
            margin: 0 10px 10px 0 ; 
        }    

        table.q_data td {
            border: none;
            font-size: 120%;
            text-shadow: -1px -1px white, 1px 1px #333;
        }
        
        table.q_data td input {
            width: auto;
        }
        
        table.q_data tr.header {
            border: none;
        }

        table.q_data tr td {
            font-size: 120%;
            padding: 10px;
            vertical-align: middle;
        }

        table.q_data tr.header td {
            border-bottom: 2px dashed #0089bc;
            font-size: 150%;
            font-weight: bold;
            padding: 10px;
        }

        table.q_data tr:nth-last-child(1) td {
            border-bottom: 2px dashed #0089bc;
        }

        table.q_data tr {
            background-color: #ffffff;
        }
        
        #questions tr:nth-child(even) {
            background-color: #f1f1f1;
        }
        
    </style>
{% endblock %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    {{ block.super }}
    {% with object.item as product %}
    <section class="content__info grid-layout">
        <div class="data">
            <h2>{% trans 'Questionnaire' %}: {{ object.name }}</h2>
            <hr class="hr-divider-one">
            <div id="description">
                {% if object.image %}<img id="item_image" src="{{ object.image.big }}" />{% endif %}
                {{ object.short_description }}
            </div>
            <div class="data">
                <form action="" method="post">
                {% csrf_token %}
                {{ form.answer_formset.management_form }}
                {% for hidden in q_form.hidden_fields %}{{ hidden }}{% endfor %}
                <table id="questions" class="q_data" width="100%">
                    <tr class="header">
                        <td colspan="2">{% trans 'Answer the questions'%}:</td>
                    </tr>
                    {% for q_form in form.answer_formset %} 
                    
                    <tr valign="top">
                        <td align="left">
                            {% if q_form.question %}
                                {{ q_form.question.question_text }}
                            {% else %}
                                {{ q_form.question_text }}
                            {% endif %}
                        </td>
                        <td align="center">
                            <input id="id_{{ q_form.prefix }}-agree_0" 
                                name="{{ q_form.prefix }}-agree" type="checkbox" value="yes" /> 
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <br/>
                <table class="q_data" width="100%">
                    {% if form.inviter_email %}
                    <tr>
                        <td align="right">
                            {% trans 'Your Email' %}:
                        </td>
                        <td>
                            <span>{{ form.inviter_email }}</span>
                            {% if form.is_bound and form.inviter_email.errors %}
                                <p class="errors">{{ form.inviter_email.errors|striptags }}</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                    
                    {% if form.invite_by_email %}
                    <tr>
                        <td align="right">
                            {% trans 'Invite partner by Email' %}:
                        </td>
                        <td>
                            <span>{{ form.invite_by_email }}</span>
                            {% if form.is_bound and form.invite_by_email.errors %}
                                <p class="errors">{{ form.invite_by_email.errors|striptags }}</p>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}

                    <tr>
                        <td colspan="2" align="right">
                            <input type="submit" class="btntype2" name="submit" value="{% trans 'Save' %}">
                        </td>
                    </tr>
                </table> 
            </div>
        </div>
    </section>
    {% endwith %}
{% endblock %}
