{% extends 'usersites_templates/golan/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load humanize %}
{% load inclusionTags %}
{% load content_tags %}

{# including the slider. The slider will apear only on the main page. #}
{% block slider %}
       {% include 'usersites_templates/golan/slider.html' %}
{% endblock %}

{% block content %}

<section class="content__info grid-layout">

    {# About section of the company on the front page. Description + video. #}
    <div class="container">
        <div class="row">
            <div class="col-md-12 about-main">

                <div class="col-md-12 about-main__text">
                    {# Organization name #}
                    <h2>{{ site.user_site.organization.name }}</h2>
                    <p>
                        {# Organization description #}
                        {{ site.user_site.organization.short_description|cleanHtml|safe }}
                    </p>
                </div>

                {#KRN when adding a youtube movie link - changing the prev div to be 6 col #}
                {#<div class="col-md-6 about-main__movie hidden-xs hidden-sm">#}
                    {#<iframe width="560" height="315" src="https://www.youtube.com/embed/WeiLczOOH0w" frameborder="0" allowfullscreen></iframe>#}
                    {#<img src="{% static 'usersites/images/tmp/youtube.jpg' %}" />#}
                {#</div>#}

            </div>
        </div>
    </div>

            {% coupons 'B2CProducts/main_coupons.html' 2 %}

    {# Coupons and banners section. 2 coupons and 4 banners. #}
    <div class="container clearfix">


            {# 4 banners, will lead to categories or products #}
            {# Checking for coupons. With coupons the banners will take 50% of the screen and will be in 2 lines. #}
            {# Without coupons the banners will take 100% of the screen and will be i 1 line. #}
{#            {% if coupons.len > 0 %}#}
{#                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 banner-ad-main-collection">#}
{##}
{#                    <div class="col-md-6 col-sm-3 col-xs-6 banner-main-page">#}
{#                        {% site_banner "top" "SITES RIGHT 1" %}#}
{#                    </div>#}
{#                    <div class="col-md-6 col-sm-3 col-xs-6 banner-main-page">#}
{#                        {% site_banner "top" "SITES RIGHT 2" %}#}
{#                    </div>#}
{#                    <div class="col-md-6 col-sm-3 col-xs-6 banner-main-page">#}
{#                        {% site_banner "top" "SITES RIGHT 3" %}#}
{#                    </div>#}
{#                    <div class="col-md-6 col-sm-3 col-xs-6 banner-main-page">#}
{#                        {% site_banner "top" "SITES RIGHT 4" %}#}
{#                    </div>#}
{##}
{#                </div>#}
{#            {% else %}#}
            {% check_banner_exist "SITES RIGHT 1" as right_banner_1 %}
            {% check_banner_exist "SITES RIGHT 2" as right_banner_2 %}
            {% check_banner_exist "SITES RIGHT 3" as right_banner_3 %}
            {% check_banner_exist "SITES RIGHT 4" as right_banner_4 %}

            {% if right_banner_1 %}


                    <div class="col-md-12 col-sm-12 col-xs-12 banner-ad-main-collection">


                        {% if right_banner_4 %}

                            <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 2" %}
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                                {% site_banner "top" "SITES RIGHT 3" %}
                            </div>

                            <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                                {% site_banner "top" "SITES RIGHT 4" %}
                            </div>

                        {% elif right_banner_3 %}

                            <div class="col-md-4 col-sm-4 col-xs-12 banner-main-page">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 2" %}
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12 banner-main-page">
                                {% site_banner "top" "SITES RIGHT 3" %}
                            </div>

                        {% elif right_banner_2 %}

                            <div class="col-md-6 col-sm-6 col-xs-6 banner-main-page">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                            <div class="col-md-6 col-sm-6 col-xs-6 banner-main-page">
                            {% site_banner "top" "SITES RIGHT 2" %}
                            </div>

                         {% elif right_banner_1 %}

                            <div class="col-md-12 col-sm-12 col-xs-12 banner-main-page">
                                {% site_banner "top" "SITES RIGHT 1" %}
                            </div>

                        {% endif %}


                    </div>

            {% endif %}

{#            {% endif %}#}

    </div><!-- /container -->

    <div class="container">
        {% get_banners_list as mybanners %}

        {% for i in mybanners %}
            {% if 'SITES CAT' in i %}

              <div class="col-md-3 col-sm-3 col-xs-6 banner-main-page">
                {% site_banner "top" i %}
              </div>

            {% endif %}
        {% endfor %}
    </div>



    {% b2c_products 'B2CProducts/main_products.html' 4 %}

{# adding a gallery #}
{% include 'usersites_templates/golan/OrganizationPages/main_gallery.html' %}

{% videos 'Video/wall.html' 2 %}


    {# Row for business proposals and news. If there are no bp the news will take a full line. #}
    {# The proposals will have the same design as the news, so i am using the news styles. #}
    <div class="container">

        <div class="row ">

            {% proposal 'Proposals/wall.html' 2 %}

            {% news 'News/wall.html' 2 %}

        </div><!-- end of news modoul -->
    </div>


</section>

{% endblock %}