{% extends 'usersites/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load humanize %}
{% block content %}
    {{ block.super }}

<section class="content__info">
   {% include 'usersites/Paginator.html' %}

                <section class="content__info__products">
                    <h2>B2B Products</h2>
                    <ul class="products-list">

                        {% for product in object_list %}

                        <li class="product">
                            <div class="product__cover vertical">
                        <a href="{% url 'b2b_products:detail' product.slug product.pk %}">
                            {% if product.image %}
                              <img src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
                            {% else %}
                              <img src="{% static 'b24online/img/item.jpg' %}" alt="" />
                            {% endif %}
                        </a>
                            </div>
                            <div class="product__about">

                                <p class="desc">
                                    <strong>{{ product.name|truncatewords:8 }}</strong></p>
                                <p class="price"><span class="value">{% if product.is_coupon %}{{ product.get_discount_price }}{% else %}{{ product.cost|formatPrice }}{% endif %}</span><span class="currency">{{ product.currency|getSymbol }}</span></p>

                            </div>
                            <a href="{% url 'b2b_products:detail' product.slug product.pk %}" class="product__buy vertical"><span>{% trans "Buy" %}</span></a>
                        </li>

                        {% endfor %}

                    </ul>
                </section>

   {% include 'usersites/Paginator.html' %}
{% endblock %}