{% extends 'usersites/Paginator.html' %}
{% load CustomFilters %}
{% load i18n %}
{% load content_tags %}
{% block after_paginator %}
    {% b2b_categories as categories %}
    {% b2b_producers as prods %}
    <div class="view vertical">
        <button class="display-list"></button>
        <button class="display-square active"></button>
    </div>

    <div style="width:170px;padding:0 10px;" class="select category">
        <select class="category-selector">
              <option value="{% url 'b2b_products:main' %}">{% trans 'Select Producer' %}</option>
                  {% for i in prods %}
                  <option {% if i.0|check_pr_contain:request.get_full_path %}selected="selected"{% endif %} value="?pr={{ i.0 }}">
                      -&nbsp;{{ i.1 }}
                      </option>
                  {% endfor %}
        </select>
    </div>

    <div style="width:170px;padding:0 10px;" class="select category">
        <select class="category-selector">
            {% if 'b2b-products' in request.path %}
                <option value="{% url 'b2b_products:main' %}">{% trans 'Select Category' %}</option>
                    {% for pk, category in categories.items %}
                        <option {% if selected_category == category %}selected="selected"{% endif %} value="{% url 'b2b_products:category' category.slug pk %}">
                        {{ "-"|multiply:category.level|multiply:2 }} {{ category.name }}
                        </option>
                    {% endfor %}
            {% else %}
              <option value="{% url 'b2b_products:main' %}">{% trans 'Select Category' %}</option>
                  {% for pk, category in categories.items %}
                      <option {% if selected_category == category %}selected="selected"{% endif %} value="{% url 'b2b_products:category' category.slug pk %}">
                      {{ "-"|multiply:category.level|multiply:2 }} {{ category.name }}
                      </option>
                  {% endfor %}
            {% endif %}
        </select>
    </div>

    {{ block.super }}
{% endblock %}
