#u-site-wrapper {width:840px;padding:20px 10px;}
#u-site-wrapper p.lead {font-size:14px;margin:3px 0;}
#u-site-wrapper ol.breadcrumb li {display:inline-block;margin:10px 0;font-size:13px;color:#848484;}
#u-site-wrapper ol.breadcrumb li:after {margin:0 10px 0 10px;content:"/";color:#dedede;}
#u-site-wrapper ol.breadcrumb li:last-child:after {content:none;}
#u-site-wrapper .link img.t-image {opacity:1}
#u-site-wrapper .link:hover {color:#009eda;text-decoration:none;}
#u-site-wrapper .link:hover img.t-image {opacity:0.8;}
#u-site-wrapper .form-group {display:block;margin:15px 0;}
#u-site-wrapper .form-group input[type=text] {margin:3px 0;padding:5px;border:2px solid #919191;}
#u-site-wrapper .form-group label {display:block;}
#u-site-wrapper input.text {width:98%;}
#u-site-wrapper input.middle {width:50%;}
#u-site-wrapper input.short {width:20%;}
#u-site-wrapper textarea {border:2px solid #919191;}
#u-site-wrapper .bigbuy {margin:20px 0;}
#u-site-wrapper .notification-section {display:block;margin:5px 0 10px 0;}
#u-site-wrapper .notification-success {display:block;color:#3c763d;background:#dff0d8;border:1px solid #d6e9c6;margin:5px 0;padding:15px;font-size:14px;}
#u-site-wrapper .notification-error {display:block;color:#a94442;background:#f2dede;border:1px solid #ebccd1;margin:5px 0;padding:15px;font-size:14px;}
#u-site-wrapper .error {color:#ef6066;}
#u-site-wrapper .external-type {top:300px;}
#u-site-wrapper .external-type .title {font-size:18px;}
#u-site-wrapper .external-type .listtype {width:100% !important;}
#u-site-wrapper .external-type > .ul {float:right !important;}
#u-site-wrapper .template .ex-img {width:400px;display:inline-block;margin:5px 10px 5px 0;}
#u-site-wrapper .template .ex-img img {border:1px solid #dedede;}
#u-site-wrapper label {font-weight:bold;}
#u-site-wrapper input {padding:3px;}
#u-site-wrapper ul.site-sections a  {display:inline-block;font-size:14px;opacity:1;text-align:center;text-decoration:none;padding:15px 25px;margin:2px 0;background:#f6f6f6;}
#u-site-wrapper ul.site-sections a:hover {background:#222;opacity:0.8;}
#u-site-wrapper ul.site-sections a:hover li {color:#fff;}
#u-site-wrapper ul.site-sections li > i {font-size:24px;padding-bottom:10px;display:block;}
#u-site-wrapper h3 {border-bottom:1px solid #efefef;margin:15px 0;padding:0 0 5px 0;}
#u-site-wrapper .bigbuy {padding:10px 15px;cursor:pointer;}
#u-site-wrapper .templates-box {width:180px;display:inline-block;}
#u-site-wrapper .templates-box label {cursor:pointer;}
#u-site-wrapper .templates-box img.t-image {width:185px;border:1px solid #919191;display:block;}
#u-site-wrapper .viewimg {margin:0 0 15px 0;}
#u-site-wrapper .viewimg img {border:1px solid #919191;}




