Здравствуйте, {{ user }}!

На портале ТПП-Центр были произведены работы по переносу Вашего профиля в новую систему.
В процессе миграции для Вашего профиля был автоматически создан новый пароль.

Для переустановки пароля на Ваш собственный нажмите на нижеследующую ссылку или скопируйте её в свой браузер:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uid token %}

После смены пароля проверьте, пожалуйста, свои данные. При возникновении вопросов свяжитесь с нами.

С уважением,

Администрация сайта ТПП-Центр
