{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}

{% is_chamber_site as is_chamber %}

<!-- footer container -->
<div class="container">
    <div class="row">
        <div class="col-md-12 footer-ad-b24">
            {% site_banner "footer" "SITES FOOTER" %}
        </div>
    </div>
</div>

<footer>
    <div class="container footer-container">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="footer-menu">
              <li><a href="{% url 'main' %}">{% trans 'Home' %}</a></li>
              <li><a href="{% url 'pages:about' %}">{% trans 'About us' %}</a></li>
                {% for page in site.user_site.organization.additional_pages.all %}
                    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
                {% endfor %}

            </ul>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <h4>{% trans 'Contact us' %}:</h4>
            <span class="glyphicon glyphicon-home"></span>{{ site.user_site.organization.address }}<br/>
            <span class="glyphicon glyphicon-phone-alt"></span>{{ site.user_site.organization.phone }}<br/>
            <span class="glyphicon glyphicon-envelope"></span>{{ site.user_site.organization.email }}<br/>

            <br/>
            <div class="tmp_search clearfix">
                <form action="{% url 'b2c_products:search' %}">
                    <input type="text" placeholder="Search" name="s">
                </form>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 footer-membership-col">
            {% if site.user_site.logo %}
              <img src="{{ site.user_site.logo.big }}" alt="" />
            {% else %}
              <img src="{% static 'b24online/img/item.jpg' %}" alt="" />
            {% endif %}

              {% if not is_chamber and site.user_site.organization.parent %}
                <div class="membership-banner__member-text">
                  <h4>{% trans "Member of" %} {{ site.user_site.organization.parent.name }}</h4>
                </div>
              {% endif %}
        </div>
    </div>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix" >
        All rights reserved © <a href="http://www.b24online.com/">b24online.com</a> 2011-2016
    </div>
</footer>
