{% extends 'b24online/forms.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/extra.css' %}" />
{% endblock %}


{% block content %}
<div class="newsform form-container">
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <div class="uploadimgage">
            <div class="imgbig">
                <label class="sapce">{{ form.image.label }}</label>
                {% if form.bound and form.errors.image %}
                    <div class="error-handler">
                        <div class="formserror">{{ form.errors.image.0 }}</div>
                    </div>
                {% endif %}
                {% if form.initial.image %}
                    <div>
                        <div><img src="{{ form.initial.image.small }}"></div>
                    </div>
                {% endif %}
                <div class="fileinputs">
                    {{ form.image }}
                </div>
            </div>
        </div>

        <ul class="uploadconfig">
            <li>
                <label class="required">{{ form.name.label }}</label>
                {% if form.errors.name %}
                <div class="error-handler">
                    <div class="formserror">{{ form.errors.name.0 }}</div>
                </div>
                {% endif %}
                {{ form.name }}
           </li>
            <li>
                <label>{{ form.short_description.label }}</label>
                {% if form.errors.short_description %}
                <div class="error-handler">
                    <div class="formserror">{{ form.errors.short_description.0 }}</div>
                </div>
                {% endif %}
                {{ form.short_description }}
            </li>
            <li>
                <label>{{ form.description.label }}</label>
                {% if form.errors.description %}
                <div class="error-handler">
                    <div class="formserror">{{ form.errors.description.0 }}</div>
                </div>
                {% endif %}
                {{ form.description }}
            </li>
        </ul>
    </form>
</div>
{% endblock %}



