{% extends 'b24online/forms.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/extra.css' %}" />
{% endblock %}


{% block content %}
<div class="newsform form-container">
    <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        <ul class="uploadconfig">
            {% for field in form %}
            <li>
                <label {% if field.field.required %}class="required"{% endif %}>{{ field.label }}</label>
                {% if form.bound and .content_type %}
                <div class="error-handler">
                    <div class="formserror">{{ field.errors|striptags }}</div>
                </div>
                {% endif %}
                {{ field }}
            </li>
            {% endfor %}
        </ul>
    </form>
</div>
{% endblock %}



