{% extends 'b24online/main_page.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block title %}{% trans 'Product questionnaires' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/company.css" %}' />
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/extra.css" %}' />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="goods-details">
    <div class="data">
        <h1>{% trans 'Questionnaire detail' %}: <a href="{{ item.get_absolute_url }}">{{ item }}</a></h1>
        <hr class="hr-divider-one">
        <div class="data">
            <h2>{% trans 'For product' %}: <a href="{{ product.get_absolute_url }}">{{ product }}</a></h2>
            <hr class="hr-divider-two">
        </div>
        <div class="data">
            <h3>{% trans 'Questions' %}</h3>
            <span style="float: right; margin: 5px;">
                <a href="{% url 'questionnaires:add_question' item_id=item.id %}">
                    {% trans 'Add new question' %}
                </a>
            </span>
            <table width="100%" cellspacing="2" cellpadding="2"
                border="0" class="table-data">
                <tr>
                    <th>{% trans 'Question' %}</th>
                    <th>{% trans 'Score (if "Yes")' %}</th>
                    <th>{% trans 'Score (if "No")' %}</th>
                </tr>
                {% for question in item.questions %}                
            </table> 
        </div>
    </div>
</div>
{% endblock %}
