{% extends 'b24online/main_page.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block title %}{% trans 'Product questionnaires' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/company.css" %}' />
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/extra.css" %}' />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="goods-details">
    <div class="data">
        <h1>{% trans 'Questionnaire detail' %}: <a href="{{ item.get_absolute_url }}">{{ item }}</a></h1>
        <hr class="hr-divider-one">
        <div class="data">
            <h2>{% trans 'For product' %}: <a href="{{ product.get_absolute_url }}">{{ product }}</a></h2>
            <hr class="hr-divider-two">
        </div>
        <div class="data">
            <h3>{% trans 'Questions' %}</h3>
            {% if request.user == item.created_by %}
            <span style="float: right; margin: 5px;">
                <a href="{% url 'questionnaires:add_question' item_id=item.id %}">
                    {% trans 'Add new question' %}
                </a>
            </span>
            {% endif %}
            <table width="100%" cellspacing="2" cellpadding="2"
                border="0" class="table-data">
                <tr>
                    <th>{% trans 'Question' %}</th>
                    <th>{% trans 'Created by' %}</th>
                    {% if request.user == item.created_by %}
                    <th>{% trans 'Position' %}</th>
                    <th>&nbsp;</th>
                    {% endif %}
                </tr>
                {% for question in item.actual_questions %}                
                <tr>
                    <td>{{ question.question_text }}</td>
                    <td>{{ question.author }}</td>
                    {% if request.user == item.created_by %}
                    <td align="center" style="font-size: 130%;">
                        <a href="{{ request.path }}?move=up&question_id={{ question.id }}">&#8681;</a>
                        <a href="{{ request.path }}?move=down&question_id={{ question.id }}">&#8679;</a>
                    </td>
                    <td class="data-action">
                        <a class="imgnews edit icon-action" 
                            href="{% url 'questionnaires:update_question' pk=question.id %}"></a>
                        <a class="imgnews remove icon-action" 
                            href="{% url 'questionnaires:delete_question' pk=question.id %}"></a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td align="center" 
                        colspan="{% if request.user == item.created_by %}4{% else %}2{% endif %}">
                        {% trans 'There are no records' %}
                    </td>
                </tr>
                {% endfor %}
            </table> 
        </div>
        <div class="data" style="margin-top: 40px;">
            <h3>{% trans 'Recommendations' %}</h3>
            {% if request.user == item.created_by %}
            <span style="float: right; margin: 5px;">
                <a href="{% url 'questionnaires:add_recommendation' item_id=item.id %}">
                    {% trans 'Add new recommendation' %}
                </a>
            </span>
            {% endif %}
            <table width="100%" cellspacing="2" cellpadding="2"
                border="0" class="table-data">
                <tr>
                    <th>{% trans 'Question' %}</th>
                    <th>{% trans 'Color' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Desctiption' %}</th>
                    {% if request.user == item.created_by %}
                    <th>&nbsp;</th>
                    {% endif %}
                </tr>
                {% for recommendation in item.actual_recommendations %}                
                <tr valign="top">
                    <td>{{ recommendation.question|default:"" }}</td>
                    <td>{{ recommendation.for_color|default:"" }}</td>
                    <td>{{ recommendation.name|default:"" }}</td>
                    <td>{{ recommendation.description|truncatewords:40 }}</td>
                    {% if request.user == item.created_by %}
                    <td class="data-action">
                        <a class="imgnews edit icon-action" 
                            href="{% url 'questionnaires:update_recommendation' pk=recommendation.id %}"></a>
                        <a class="imgnews remove icon-action" 
                            href="{% url 'questionnaires:delete_recommendation' pk=recommendation.id %}"></a>
                    </td>
                    {% endif %}
                </tr>
                {% empty %}
                <tr>
                    <td align="center" 
                        colspan="{% if request.user == item.created_by %}4{% else %}3{% endif %}">
                        {% trans 'There are no records' %}
                    </td>
                </tr>
                {% endfor %}
            </table> 
        </div>

    </div>
</div>
{% endblock %}
