{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}

    <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-data">
        <tr>
            <th>{% trans 'Name' %}</th>
            <th>{% trans 'Created at' %}</th>
            <th>{% trans 'Created by' %}</th>
            <th>{% trans 'Questions' %}</th>
            <th>{% trans 'Recommendations' %}</th>
            <th>{% trans 'Status' %}</th>
        </tr>
    
        {% for item in page_obj.object_list %}
        <tr id="{{ item.id }}-item" class="toggle-child">
            <td>{{ item.name }}</td>
            <td>{{ item.created_by }}</td>
            <td>{{ item.created_at|date:"d/m/Y H:i" }}</td>
            <td>{{ item.hm_questions|default:"0" }}</td>
            <td>{{ item.hm_recommendations|default:"0" }}</td>
            <td>-</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" align="center">
            {% trans 'There are no questinnaires' %}
            </td>
        </tr>
        {% endfor %}
    </table>  
    {% with page_obj as page %}
        {% include 'b24online/main/paginator.html' %}
    {% endwith %}  
