{% extends 'b24online/main_page.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block title %}{% trans 'Product questionnaires' %}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/company.css" %}' />
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/extra.css" %}' />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="goods-details">
    <div class="data">
        <h1>{% trans 'Questionnaire list' %}
        {% if view.product %}{% trans 'for' %}: <a href="{{ view.product.get_absolute_url }}">{{ view.product }}</a>{% endif %}
        </h1>
        <hr class="hr-divider-one">
        <span style="float: right; margin: 5px;">
            <a href="{% url 'questionnaires:add' content_type_id=view.content_type_id item_id=view.product.id %}">
                {% trans 'Add new questionnaire' %}
            </a>
        </span>
        <div class="data">
            {% include "b24online/Questionnaires/listPage.html" %}
        </div>
    </div>
</div>
{% endblock %}
