{% load static %}
{% load i18n %}

<div class="data">
    <h1>{% trans 'Answers' %} {% trans 'of' %} &laquo;{{ responsive }}&raquo;</h1>
    <hr class="hr-divider-one">
</div>

<div class="data">
    <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-data">
        <tr>
            <th>{% trans 'Question' %}</th>
            <th>{% trans 'Answer' %}</th>
        </tr>
        {% if answers %}
            {% for answer in answers %}
            <tr>
                <td>{{ answer.question.question_text }}</td>
                <td>
                    {% if answer.is_true %}{% trans 'Yes' %}{% else %}-{% endif %}
                </td>
            </tr>
            {% endfor %}
        {% else %}
        <tr>
            <td colspan="2" align="center">{% trans 'There are no records' %}</td>
        </tr>
        {% endif %}
    </table>
</div>