
     <script>
        tinymce.init({mode:"textareas", selector: 'textarea[class="tiny"]', plugins : " paste", paste_as_text: true});
      </script>
                <div class="addpage-form">
                    <div class="clumn1">
                        <label>Заголовок</label>
                        <input class="text" style="width:89%;" id="id_form-{{ i }}-title"  name="pages-{{ i }}-title" type="text" value="" />

                        <a href="#" class="buttonclear buttonremove">Remove</a>
                    </div>
                    <div class="clumn2">
                        <label>Описание</label>

                        <div class="">
                            <textarea class="tiny" style="height: 158px;width: 456px;" id="id_form-{{ i }}-content" name="pages-{{ i }}-content"></textarea>

                        </div>

                    </div>
                </div>