{% load i18n %}
     <div class="addpage-form">
        <div class="clumn1">
            <label>{% trans 'Title' %}</label>
            <input class="text" style="width:89%;" id="id_form-{{ i }}-title"  name="pages-{{ i }}-title" type="text" value="{{ page.getTitle }}" />

                        {% if i > 0 %}
                          <a href="#" class="buttonclear  buttonremove">{% trans 'Remove' %}</a>
                        {% else %}
                          <a href="#" class="buttonclear  add-advandce">{% trans 'Add page' %}</a>
                        {% endif %}

                    </div>
                    <div class="clumn2">
                        <div style="margin-bottom: 20px"><label>{% trans 'Content' %}</label></div>

                        <div class="">
                            <textarea class="tiny"  id="id_form-{{ i }}-content" name="pages-{{ i }}-content">{{ page.getContent }}</textarea>
                        </div>

                    </div>
     </div>