{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        {% block  meta%}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            {% block description %}
             <meta name="description" content="Программа развития и продвижения предпринимательства,
             Портфель инструментов  в помощь предпринимателям для успешного продвижения сделок,
             проектов и услуг-Аналитическая информация о бизнес  процессах и интересах, Фактор безопасной сделки,
             Бизнес–предложения, Индекс предпринимателей - партнёры, инвесторы  и клиенты, Съезды, выставки и конференции,
             Конкурсы, тендеры, Собственный Интернет-сайт, Электронный магазин B2B , Электронный магазин B2C,
             Инновационные проекты, Электронный банк, ToolBar - Панель инструментов B2B,Социальная сеть предпринимателей,
             Корпоративный Блог Предпринимателя, менеджера и работников, Новости и актуалии государственной и
             международной экономики,Советы профессионалов, Виральный маркетинг, Электронная подпись, CRM Система управления бизнесом"/>
           {% endblock %}
        {% endblock %}
        <title>{% block title %}{% trans 'Main page' %}{% endblock %}</title>
        {% block styles %}
                <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
                <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/main.css"%}" />
                <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/reset.css"%}" />
                <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" />

        {% endblock %}

        {% block js %}
            <script type="application/javascript">
                statciPath = '{% static "tppcenter/" %}'
            </script>
		    <script  type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
            <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
            <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.min.js"></script>
            <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js"></script>

            <script  type="text/javascript" src="{% static "tppcenter/js/base.js"%}"></script>
            <script  type="text/javascript" src="{% static "tppcenter/js/async.js"%}"></script>
            <script  type="text/javascript" src="{% static "tppcenter/js/ui.js"%}"></script>
            <script  type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=ru" charset="utf-8"></script>
            <script  type="text/javascript">
              (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

              ga('create', 'UA-42990905-1', 'tppcenter.com');
            </script>

        {% endblock %}
    {% endblock %}
    <!--[if IE]><link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/ie.css" %}" /><![endif]-->
</head>

<body>
    {% block header %}

    {% endblock %}

    {% block body %}
    {% endblock %}


{% block footer %}
    <div class="wrapper">
        <div class="linkbottom">
            <ul class="clumn">
                <li>{% trans 'About' %}</li>
                <li><a href="{% url "project:about" %}">{% trans 'About' %}</a></li>
                <li><a href="{% url "project:how" %}">{% trans 'How the system works' %}</a></li>
                <li><a href="{% url "project:terms" %}">{% trans 'Terms of use' %}</a></li>
                <li><a href="{% url "project:privacy" %}">{% trans 'Privacy' %}</a></li>
            </ul>
            <ul class="clumn">
                <li>{% trans 'Advices' %}</li>
                <li><a href="{% url "project:shop" %}">{% trans 'Create online shop' %}</a></li>
                <li><a href="{% url "project:event" %}">{% trans 'Post announcement event' %}</a></li>
                <li><a href="{% url "project:proposal" %}">{% trans 'Add a business proposal' %}</a></li>
                <li><a href="{% url "project:partner" %}">{% trans 'Find a Business Partner' %}</a></li>
            </ul>
            <ul class="clumn">
                <li>{% trans 'Contacts' %}</li>
                <li><a href="{% url "project:contact" %}">{% trans 'Contac' %}</a></li>
                <li><a href="{% url "project:community" %}">{% trans 'Ask the community' %}</a></li>
                <li><a href="{% url "project:faq" %}">{% trans 'FAQ' %}</a></li>
            </ul>
            <ul class="clumn">
                <li>
                    <a href="#"><i class="imgmain iconsocial i-blog"></i></a>
                    <a href="#"><i class="imgmain iconsocial i-face"></i></a>
                    <a href="#"><i class="imgmain iconsocial i-tweet"></i></a>
                    <a href="#"><i class="imgmain iconsocial i-video"></i></a>
                </li>
                    <li>{% trans 'Products' %}: {% productCount %}</li>
                    <li>{% trans 'Companies' %}: {% companiesCount %}</li>
                    <li>{% trans 'Partners' %}: {% partnersCount %}</li>

            </ul>
        </div>
    </div>
 </div>
    <div id="footer">
        <div class="wrapper">
            © 2010–2014 {% trans "TPP-Center" %} — {% trans "Center of chambers of commerce, associations, unions and guilds " %}
        </div>
    </div>

 <div class="black_overlay" id="fade-profile"></div>
 {% endblock %}
    <script type="text/javascript">
     if ( ui ){
         $(document).bind(ui.signals['end_load'], function(event, url, data, history) {
             ga('send', 'pageview', {page: history});
         });
     }
     ga('send', 'pageview');
    </script>
</body>
</html>
