{% load i18n %}
<div class="popuplifter">
    <div class="filter-form">
        <i class="close-event imgnews"></i>
        <span class="title">{% trans "Filter" %}</span>

         <form action="" method="GET" name="filter-form">
            {% block filterTopContent %}

            {% endblock %}
            {% block filterBottomContent %}
                <div class="communities">
                    <b>Сообщества</b>
                    <input type="radio" name="filter" value="all" class="radi" /> {% trans "All" %}
                    <input type="radio" name="filter" value="my" class="radi" /> {% trans "My" %}
                </div>
                <div class="sx">{% trans "Sorting" %}</div>
                <div class="sxform">
                    <div class="clumn1">
                        <label>{% trans "Field" %}1</label>
                        <select><option value="1"></option></select>
                        <span class="note"><a href="#">{% trans "Descending" %}</a>{% trans "Ascending" %}</span>
                    </div>
                    <div class="clumn2">
                        <label>{% trans "Field" %}2</label>
                        <select><option value="1"></option></select>
                        <span class="note"><a href="#">{% trans "Descending" %}</a>{% trans "Ascending" %}</span>
                    </div>

                    <div class="filterbtn">
                        <a id="save-filter" href="#" class="btntype2">{% trans "Apply" %}</a>
                        <a href="#" class="btntype1">{% trans "Close" %}</a>
                    </div>
                </div>
            {% endblock %}
         </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
	    $( "#tabs" ).tabs();
        $( ".tabfilter" ).tabs();
    });
</script>