{% load i18n %}
<script>
        $('.showFilter').show();
</script>
<script>
    LANG['live-filter'] = {
        noResults: '{% trans "No result found" %}',
        minLen: '{% trans "Minimum length of search term is 3 characters" %}',
        selectOrg: '{% trans "Select organizations"  %}',
        selectBranch: '{% trans "Select branch"  %}',
        selectCompany: '{% trans "Select company"  %}',
        selectCountry: '{% trans "Select country"  %}',
        selectCategory: '{% trans "Select category"  %}'
    };

    baseOptions = {
        maximumSelectionSize: 5,
        width: "100%",
        multiple:true,
        formatNoMatches: function noMatches(term) {
            if (term.length > 0 && term.length < 3)
                return LANG['live-filter']['minLen'];

            return LANG['live-filter']['noResults'];
        },
        ajax: {
            url: "/filter/",
            dataType: 'json',
            quietMillis: 100,
            data: function (term, page) { // page is the one-based page number tracked by Select2
                return {
                    q: term, //search term
                    page: page, // page number
                    type: $(this).attr('id').replace('filter-', '')
                };
            },
            results: function (data, page) {
                var more = (page * 10) < data.total; // whether or not there are more results available
                // notice we return the value of more so Select2 knows if more results can be loaded
                return {results: data.content, more: more};
            }

        },
        formatResult: function (m) { return m.title; }, // omitted for brevity, see the source of this page
        formatSelection: function (m) { return m.title; }, // omitted for brevity, see the source of this page
        escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
    };

    options = {
        tpp: baseOptions,
        branch: baseOptions,
        bp_category: baseOptions,
        country: baseOptions,
        company: baseOptions
    };

    options['tpp']['placeholder'] = LANG['live-filter']['selectOrg'];
    options['branch']['placeholder'] = LANG['live-filter']['selectBranch'];
    options['company']['placeholder'] = LANG['live-filter']['selectCompany'];
    options['bp_category']['placeholder'] = LANG['live-filter']['selectCategory'];
    options['country']['placeholder'] = LANG['live-filter']['selectCountry'];
</script>

<div class="popuplifter">
    <div class="filter-form">
        <i class="close-event imgnews"></i>
        <span class="title">{% trans "Filter" %}</span>

         <form action="" method="GET" name="filter-form">
            {% block filterTopContent %}

            {% endblock %}

            {% block filterBottomContent %}
            <!--
                <div class="communities">
                    <b>Сообщества</b>
                    <input type="radio" checked="checked" name="filter" value="all" class="radi" /> {% trans "All" %}
                    <input type="radio" name="filter" value="my" class="radi" /> {% trans "My" %}
                </div>
            -->
                <div class="sx">{% trans "Sorting" %}</div>

                <div class="sxform">

                    <div class="clumn1">

                        <label>{% trans "Field" %}1</label>

                        <select name="sortField1">

                            <option {% if sortField1 == 'date' %}selected="selected"{% endif %} value="date">
                                {% trans "Creation date" %}
                            </option>
                            <option {% if sortField1 == 'name' %}selected="selected"{% endif %} value="name">
                                {% trans "Title" %}
                            </option>
                        </select>

                        <span class="note">

                            <input type="hidden" name="order1" value="{% if order1 == 'asc' %}asc{% else %}desc{% endif %}" />

                            <a href="#" data-order="desc" class="{% if order1 == 'asc' %}sortActive{% else %}sortCurr{% endif %}">
                                {% trans "Descending" %}</a>

                            <a href="#" data-order="asc" class="{% if order1 == 'asc' %}sortCurr{% else %}sortActive{% endif %}">
                                {% trans "Ascending" %}</a>

                        </span>

                    </div>

                    <div class="clumn2">

                        <label>{% trans "Field" %}2</label>

                        <select name="sortField2">

                            <option></option>
                            <option {% if sortField2 == 'date' %}selected="selected"{% endif %} value="date">{% trans "Creation date" %}</option>
                            <option {% if sortField2 == 'name' %}selected="selected"{% endif %} value="name">{% trans "Title" %}</option>

                        </select>

                        <span class="note">

                            <input type="hidden" name="order2" value="{% if order2 == 'asc' %}asc{% else %}desc{% endif %}" />

                            <a href="#" data-order="desc" class="{% if order2 == 'asc' %}sortActive{% else %}sortCurr{% endif %}">
                                {% trans "Descending" %}</a>

                            <a href="#" data-order="asc" class="{% if order2 == 'asc' %}sortCurr{% else %}sortActive{% endif %}">
                                {% trans "Ascending" %}</a>
                        </span>

                    </div>

                    <div class="filterbtn">
                        <a id="save-filter" href="#" class="btntype2">{% trans "Apply" %}</a>
                    </div>

                </div>
            {% endblock %}

         </form>
    </div>
</div>
<script type="text/javascript">
    $(function() {
	    $( "#tabs" ).tabs();
        $( ".tabfilter" ).tabs();
    });
</script>
