{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        {% block  meta%}
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% endblock %}
        <title>{% block title %}{% endblock %}</title>
        {% block styles %}
                <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
                <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/main.css"%}" />
                <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/reset.css"%}" />
                <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" />

        {% endblock %}

        {% block js %}
            <script type="application/javascript">
                statciPath = '{% static "tppcenter/" %}'
            </script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js"></script>

            <script type="text/javascript" src="{% static "tppcenter/js/base.js"%}"></script>
            <script type="text/javascript" src="{% static "tppcenter/js/async.js"%}"></script>
            <script type="text/javascript" src="{% static "tppcenter/js/ui.js"%}"></script>
        {% endblock %}
    {% endblock %}
    <!--[if IE]><link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/ie.css" %}" /><![endif]-->
</head>

<body>
    {% block header %}

    {% endblock %}

    {% block body %}
    {% endblock %}


{% block footer %}
    <div class="wrapper">
        <div class="linkbottom">
            <ul class="clumn">
                <li>{% trans 'About project' %}</li>
                <li><a href="{% url "project:about" %}">{% trans 'About project' %}</a></li>
                <li><a href="{% url "project:how" %}">{% trans 'How the system works' %}</a></li>
                <li><a href="{% url "project:terms" %}">{% trans 'Terms of use' %}</a></li>
                <li><a href="{% url "project:privacy" %}">{% trans 'Privacy' %}</a></li>
            </ul>
            <ul class="clumn">
                <li>{% trans 'Advices' %}</li>
                <li><a href="{% url "project:shop" %}">{% trans 'Create online shop' %}</a></li>
                <li><a href="{% url "project:event" %}">{% trans 'Post announcement event' %}</a></li>
                <li><a href="{% url "project:proposal" %}">{% trans 'Add a business proposal' %}</a></li>
                <li><a href="{% url "project:partner" %}">{% trans 'Find a Business Partner' %}</a></li>
            </ul>
            <ul class="clumn">
                <li>{% trans 'Contacts' %}</li>
                <li><a href="{% url "project:contact" %}">{% trans 'Contact us' %}</a></li>
                <li><a href="{% url "project:community" %}">{% trans 'Ask the community' %}</a></li>
                <li><a href="{% url "project:faq" %}">{% trans 'FAQ' %}</a></li>
            </ul>
            <ul class="clumn">
                <li>
                    <a href="#"><i class="imgmain iconsocial i-blog"></i></a>
                    <a href="#"><i class="imgmain iconsocial i-face"></i></a>
                    <a href="#"><i class="imgmain iconsocial i-tweet"></i></a>
                    <a href="#"><i class="imgmain iconsocial i-video"></i></a>
                </li>
                <li><a href="#"><i class="icons i-stastic"></i>{% trans 'Visitor statistic' %}</a></li>
                <li>{% trans 'Products' %}: 100</li>
                <li>{% trans 'Companies' %}: 100</li>
                <li>{% trans 'Partners' %}: 100</li>
            </ul>
        </div>
    </div>
 </div>
    <div id="footer">
        <div class="wrapper">
            © 2010–2014 {% trans "TPP-Center" %} — {% trans "Center of chambers of commerce, associations, unions and guilds " %}
        </div>
    </div>

 <div class="black_overlay" id="fade-profile"></div>
 {% endblock %}
</body>
</html>
