{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}{% trans 'Companies' %}{% endblock %}

   {% block description %}
        {% if description %}
             <meta name="description" content="{{ description|truncatewords:30 }}"/>
        {% else %}
            {{ block.super }}
         {% endif %}
   {% endblock %}


    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />

        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/company.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/external.css" %}"/>
    {% endblock %}

    {% block js %}
         {{ block.super }}
         <script src="//tinymce.cachefly.net/4/tinymce.min.js"></script>
         <script src="//tinymce.cachefly.net/4/jquery.tinymce.min.js"></script>

        <script>
            function setTiny(selector)
            {
                $(selector).tinymce({
                        mode:"textareas",
                        selector: selector,
                        plugins : " paste link lists print preview",
                        paste_as_text: true
                    });
            }
            $(document).on("click", ".add-advandce", function() {
                var formin = $('.append-formin');
                var prefix = formin.data('prefix');
                var num =  formin.find('textarea[class="tiny"]').length;

                if (num >= 5)
                    return false;

                var dataPost = {"prefix": prefix, "num": num};

                $.get('/addPage/get/',dataPost, function(data) {
                    formin.append(data);
                    num += 1;
                    setTiny('textarea[class="tiny"]:eq(' + num + ')');
                    formin.find('input[name$="TOTAL_FORMS"]').val(num)
                }, 'html');

                return false
            });

            $(document).on("click", ".buttonremove", function() {
                var page = $(this).parents(".addpage-form");
                page.remove();
                return false
            });

            $(document).on("click", ".deleteimge", function() {
                var parent = $(this).parent();
                parent.find('img').parent().remove();
                parent.find("#delete").attr('checked', 'checked');
            });
        </script>
    {% endblock %}



     {% block center %}
            <div class="forms-content">
                <div  class="keyword">
                    {% block keywords %}
                    {% endblock %}
                </div>
                {% block content %}{% endblock %}

            </div>

     {% endblock %}
{% block right %}{% endblock %}

