{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}{% trans 'Companies' %}{% endblock %}

   {% block description %}
        {% if description %}
             <meta name="description" content="{{ description|truncatewords:30 }}"/>
        {% else %}
            {{ block.super }}
         {% endif %}
   {% endblock %}


    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/company.css" %}" />
        <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
    {% endblock %}

    {% block js %}
         {{ block.super }}
        <script src="{% static "tppcenter/js/tinymce/tinymce.min.js"%}"></script>
        <script src="{% static "tppcenter/js/tinymce/jquery.tinymce.min.js"%}"></script>

        <script>
            function setTiny(selector)
            {
                $(selector).tinymce({
                        mode:"textareas",
                        selector: selector,
                        plugins : " paste link lists print preview",
                        paste_as_text: true,
                        language : 'ru'
                    });
            }
            $(document).on("click", ".add-advandce", function() {
                var formin = $('.append-formin');
                var num =  formin.find('textarea[class="tiny"]').length ;


                if (num >= 5)
                    return false;

                var dataPost = {"NUMBER": num};

                $.get('/addPage/get/',dataPost, function(data) {
                    formin.append(data);

                    num += 1;
                    setTiny('textarea[class="tiny"]:eq(' + num + ')');


                }, 'html');

                return false
            });
        </script>
    {% endblock %}



     {% block center %}
            <div class="forms-content">
                <div  class="keyword">
                    {% block keywords %}
                    {% endblock %}
                </div>
                {% block content %}{{ formContent }}{% endblock %}

            </div>

     {% endblock %}
{% block right %}{% endblock %}

