{% extends 'base.html' %}
{% load staticfiles %}
{% load CustomFilters %}
{% load i18n %}


        {% block title %}{% trans 'Tppcenter' %}{% endblock %}

         {% block styles %}
             {{ block.super }}
             <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/jquery.bxslider.css" %}" >



         {% endblock %}

        {% block js %}
             {{  block.super }}

            <script type="text/javascript" src="{% static "tppcenter/js/jquery.bxslider.js"%}"></script>
            <script type="text/javascript">
                $(document).ready(function(){
                  $('.bxslider').bxSlider();
                  $('.homeslide').bxSlider({
                        pager: true,
                        controls: false,
                        auto: true
                  });
                  $('.greetings').bxSlider();
                });
            $(document).ready(function() {
                $(".various").fancybox({
                    maxWidth	: 800,
                    maxHeight	: 600,
                    fitToView	: false,
                    width		: '70%',
                    height		: '70%',
                    autoSize	: false,
                    closeClick	: false,
                    openEffect	: 'none',
                    closeEffect	: 'none'
                });
            });
            </script>
        {% endblock %}


    {% block header %}
        {% include "main_header.html" %}
    {% endblock %}

{% block body %}
<div class="header">
<div class="wrapper">
	<a href="#"><i class="imgmain" id="logo"></i></a>
    <ul class="header-r">



        	<li>
            	<a href="http://centerpokupok.ru">
                	<div class="icon-l"><i class="iconsv1 imgmain"></i></div>
                    <div class="text-r">{% trans 'B2C center' %}</div>
                </a>
            </li>
            <li>
            	<a href="http://bankip.com">
                	<div class="icon-l"><i class="iconsv2 imgmain"></i></div>
                    <div class="text-r">{% trans 'Innovation projects' %}</div>
                </a>
            </li>
            <li>
            	<a href="{% url "project:pay" %}">
                	<div class="icon-l"><i class="iconsv3 imgmain"></i></div>
                    <div class="text-r">{% trans 'Payment System' %}</div>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="wrapper">
    <div class="main">
    	<div class="sideleft">
        	<div class="community">
            	<span class="title">{% trans 'Community' %}</span>
                <div class="slide-comm">
                    <ul class="bxslider">
                        {% for id,attr in organizationsList.items %}
                            {% with attr.NAME|first as name %}
                            {% with attr.TITLE_DESCRIPTION|first as title %}
                            {% with attr.FLAG|first as flag %}
                            {% with attr.SLUG|first as slug %}
                                 {% if forloop.counter|add:-1|divisibleby:"4" or forloop.counter0 == 0 %}
                                    <li>
                                 {% endif %}
                                 <a title="{{ title }}" href="{% url 'tpp:detail' slug %}" class="items">
                                     <img src="{{ MEDIA_URL }}small/{{flag }}" alt="{% trans 'Work with' %}{{ name }}" />
                                 </a>
                            	 {% if forloop.counter|divisibleby:"4" or forloop.counter == organizationsList|length %}
                                    </li>
                                 {% endif %}
                             {% endwith %}
                             {% endwith %}
                             {% endwith %}
                             {% endwith %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <ul class="services">
            	<li>
                    <div class="imgmain imgservice sv1"></div>
                    <div class="nameservice"><a href="{% url 'products:main' %}">{% trans 'Producst and services' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv2"></div>
                    <div class="nameservice"><a href="{% url 'companies:main' %}">{% trans 'Companies' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv3"></div>
                    <div class="nameservice"><a href="{% url 'tpp:main' %}">{% trans "Business community" %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv4"></div>
                    <div class="nameservice"><a href="{% url 'tenders:main' %}">{% trans 'Tenders' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv5"></div>
                    <div class="nameservice"><a href="{% url 'innov:main' %}">{% trans 'Innovative projects' %}</a></div>
                </li>
                <!--<li>
                    <div class="imgmain imgservice sv6"></div>
                    <div class="nameservice"><a href="#">{% trans 'Jobs' %}</a></div>
                </li>-->
                <li>
                    <div class="imgmain imgservice sv7"></div>
                    <div class="nameservice"><a href="{% url 'news:main' %}">{% trans "News" %}</a></div>
                </li>
            </ul>
        </div>
        <div class="mainright">

            <div class="homeslider">
            	<ul class="homeslide">
                    <li>
                       <div class="slide1">
                       		<div class="desc">
                            	<h2>{% trans 'Sign up' %}</h2>
                                <span class="text">{% trans 'and get tools for business' %}</span>
                            </div>
                            <span class="note">* {% trans 'In 2014, Portal TPP-Center was marked by the reward sign "Business Leader of the CIS" for his contribution to the development of economic integration' %}.</span>
                       </div>
                    </li>
                    <li>
                       <div class="slide2">
                       		<div class="desc">
                            	<h2>{% trans 'Registration' %}</h2>
                                <h3>{% trans 'on the portal will allow you to' %}</h3>
                                <ul class="list">
                                	<li>{% trans 'run a business behalf of the company' %}  (B2B, B2C)</li>
                                    <li>{% trans 'to buy goods as a private person' %}(B2C)</li>
                                    <li>{% trans 'draw attention toward your projects' %}(BANKIP)</li>
                                </ul>
                            </div>
                       </div>
                    </li>
                    <li>
                       <div class="slide3">
                       		<div class="desc">
                            	<h2>{% trans 'Sign up' %}</h2>
                                <h3>{% trans 'and you will be able' %}</h3>
                                <ul class="list">
                                	<li>{% trans 'create your own online shop' %}</li>
                                    <li>{% trans 'to represent your products and services' %}</li>
                                    <li>{% trans 'communicate with potential customers' %}</li>
                                </ul>
                            </div>
                       </div>
                    </li>
                    <li>
                       <div class="slide4">
                       		<div class="desc">
                            	<h2>{% trans 'Registred' %}</h2>
                                <h3>{% trans 'users can' %}</h3>
                                <ul class="list">
                                	<li>{% trans 'create their own websites' %}</li>
                                    <li>{% trans 'puts advertising on the portal' %}</li>
                                    <li>{% trans 'create their own communities of interest' %}</li>
                                </ul>
                            </div>
                       </div>
                    </li>
                </ul>
                <div class="register">
                	<div class="title">
                    	<p><b>{% trans 'Sign up' %}</b></p>
                        {% trans 'right now' %}
                    </div>

                    <form method='post' action=''>
                     {% csrf_token %}
                     <ul class="formregister">
                    	<li><input id="id_email"  class="text"  name="email" type="email" placeholder="E-mail"/></li>
                        <li> <input id="id_password1" type="password"  class="text "  name="password1" placeholder="{% trans 'Password' %}"/></li>
                        <li><input id="id_password2" type="password"  class="text"  name="password2" placeholder="{% trans 'Confirm password' %}"/></li>
                        <li>
                        	<input type="checkbox" name="tos" />
                            {% trans 'I agree to' %} <a href="#">{% trans 'the term' %}</a>
                        </li>

                        <li class="end"><input type="submit" name="Register" class="btnreg" value="{% trans "Sign up" %}"></li>
                    </ul>
                   </form>

                </div>
            </div>
            <div class="content-l">
            	<span class="best-title">{% trans 'Best deals' %}</span>
                <ul class="pr-best-price">
                	{% for id,attr in productsList.items %}
                         {% with attr.NAME|first as name %}
                         {% with attr.IMAGE|first as picture %}
                         {% with attr.SLUG|first as slug %}
                         {% with attr.ORGANIZATION_FLAG.0 as org_flag %}
                         {% with attr.ORGANIZATION_NAME.0 as org_name %}
                         {% with attr.ORGANIZATION_ID.0 as org_id %}
                         {% with attr.COUNTRY_NAME|first as country_name %}
                         {% with attr.COUNTRY_FLAG|first as flag %}
                         {% with attr.COUNTRY_ID as country_id %}
                    <li>
                    	<a href="{% url 'products:detail' slug %}">
                            <div class="thumb">
                                {% if picture %}
                                     <img src="{{ MEDIA_URL }}small/{{ picture }}" alt="{{ name }}" />
                                {% else %}
                                     <img src="{% static 'tppcenter/img/item.jpg' %}" alt="{{ name }}" />
                                {% endif %}
                            </div>
                        </a>
                        <div class="location">

                        	<img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else %}{{ flag }}{% endif %}" width="18" height="12" class="flag" />
                            <a href="{% url 'products:detail' slug %}">{{ name }}</a>
                        </div>
                    </li>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                    {% endfor %}

                </ul>
                <div class="review">
                	<div class="review-l">
                    	<h3>{% trans "Affiche" %}</h3>
                        <ul class="listcm">
                      {% for id,attr in exhibitionsList.items %}
                        {% with attr.NAME|first as name %}
                        {% with attr.COUNTRY|first as country %}
                        {% with attr.CITY|first as city %}
                        {% with attr.SLUG|first as slug %}
                        {% with attr.START_EVENT_DATE|first as date_event %}
                        {% with attr.ORGANIZATION_FLAG.0 as org_flag %}
                        {% with attr.ORGANIZATION_NAME.0 as org_name %}
                        {% with attr.ORGANIZATION_ID.0 as org_id %}
                        {% with attr.COUNTRY_NAME|first as country_name %}
                        {% with attr.COUNTRY_FLAG|first as flag %}
                        {% with attr.COUNTRY_ID as country_id %}
                        	<li>
                            	<div class="topcm">
                                	<img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else %}{{ flag }}{% endif %}" width="18" height="12" class="flag" />
                                    <div class="date">
                                        <p><b>{{ date_event|makeDate|date:"d M Y"}}</b></p>
                                        <p>{{ country }}  {{ city }}</p>
                                    </div>
                                </div>
                                <p class="linkcm"><a href="{% url 'exhibitions:detail' slug %}">{{ name }}</a></p>
                            </li>
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                        {% endwith %}
                      {% endfor %}

                        </ul>
                        <a href="{% url 'exhibitions:main' %}" class="btnview">{% trans "All exhibitions and forums" %} &rarr;</a>
                    </div>
                    <div class="review-l review-r">
                    	<h3>{% trans "Business offers" %}</h3>
                        <ul class="listcm">
                      {% for id,attr in serviceList.items %}
                        {% with attr.NAME|first as name %}
                         {% with attr.SLUG|first as slug %}
                        {% with attr.ORGANIZATION_FLAG.0 as org_flag %}
                        {% with attr.ORGANIZATION_NAME.0 as org_name %}
                        {% with attr.ORGANIZATION_ID.0 as org_id %}
                        {% with attr.COUNTRY_NAME|first as country_name %}
                        {% with attr.COUNTRY_FLAG|first as flag %}
                        {% with attr.COUNTRY_ID as country_id %}

                        	<li>
                            	<div class="topcm">
                                	<img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else %}{{ flag }}{% endif %}" width="18" height="12" class="flag" />
                                        <p><b>{{ country_name }}</b></p>
                                    <div class="date">

                                        <p>{{ org_name }}</p>
                                    </div>
                                </div>
                                <p class="linkcm"><a href="{% url 'proposal:detail' slug %}">{{ name }}</a></p>
                            </li>
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}

                        </ul>
                        <a href="{% url 'proposal:main' %}" class="btnview">{% trans "All business offers" %} &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="content-r">
            	<span class="titlevideo">{% trans 'Site guide of Tppcenter' %}</span>
                <div class="media">
                    <a class="various fancybox.iframe" href="http://www.youtube.com/embed/akWSS74wIA4?autoplay=1">
                 <img width="220" height="160" src="http://img.youtube.com/vi/akWSS74wIA4/0.jpg" /></a>
                </div>
                <div class="testimonials">
                	<i class="icons i-bullet"></i>
                	 {% trans 'You get your own web site,opportunity to presentation of its of business proposals,products, services, without restrictions.' %}
                </div>
                <span class="titlevideo">{% trans 'Videoreference of V.Migirov' %}</span>
                <div class="media">
                          <a class="various fancybox.iframe" href="http://www.youtube.com/embed/q9a0bDMf2qM?autoplay=1">
                         <img width="220" height="160" src="http://img.youtube.com/vi/q9a0bDMf2qM/0.jpg" /></a>
                 </div>
                <div class="pdfdownload">
                	<img src="{% static "tppcenter/img/pdf.png" %}" alt="" />
                    <span class="fileinfo">
                    	<a href="{% static "tppcenter/img/guide.pdf"%}">{% trans 'Download Guide Site' %} </a>
                        <p>(pdf-документ, 320 Кб)</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="peoples">
	<div class="wrapper">
    	<span class="title">{% trans 'Greetings' %}</span>
        <div class="people-slide">
        	<ul class="greetings">
               {% for id,attr in greetingsList.items %}
                  {% with attr.IMAGE|first as image %}
                  {% with attr.TPP|first as tpp %}
                  {% with attr.AUTHOR_NAME|first as name %}
                  {% with attr.POSITION|first as position %}
                  {% with attr.SLUG|first as slug %}
                  {% if forloop.counter|add:-1|divisibleby:"6" or forloop.counter0 == 0 %}
                          <li>
                   {% endif %}


                    <div class="items">
                    	<div class="bgtitle">
                        	<div class="textin">{{ tpp }}</div>
                        </div>
                    	<a href="{% url "greetings:detail" slug %}">
                            <img src="{{ MEDIA_URL }}big/{{ image }}" alt="{{ name }}" class="avatar" />
                        </a>
                        <div class="name">
                        	<a href="{% url "greetings:detail" slug %}">{{ name }}</a>
                            {{ position }}
                        </div>
                    </div>

                  {% if forloop.counter|divisibleby:"6" or forloop.counter == greetingsList|length%}
                       </li>
                  {% endif %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
                  {% endwith %}
               {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}

