{% load static %}
{% load i18n %}
{% load CustomFilters %}

<div class="tophead">
	<div class="news">
    	<div class="tophead-l">
        	<a href="#"><i class="imgnews news-logo"></i></a>
        	<a href="#" title="">{% trans 'About project' %}</a> | <a href="#" title="">{% trans 'Service' %}</a> | <a href="#" title="">{% trans 'Help' %}</a>
        </div>
        <div class="tophead-r">
        	{% if user.email %}<a href="{% url "logout" %}" title=""> {% trans 'Sign out'  %}{% else %}<a href="{% url "login" %}" title="">{% trans 'Sign in' %}{% endif %}</a>
        </div>
    </div>
</div>
<div class="news">
   {% if user.email %}
	<div class="profile">
        <div class="community">
            <div class="newstitle">
                <label>
                    Профиль: {{ user_name }} + </label><label class="cur-page">{{ current_section }}

                 </label>
                {% if current_company %}
                            <label style="padding-left: 40px" > {% trans 'Your current organization: ' %}{{ current_company|first }}</label>
                {% endif %}
                <div class="notify">
                    <span><i class="imgnews i-note" id="showevent"></i> <a href="#" class="num">{{ notification }}</a>
                      <div class="formevent">
                        	<i class="close-event imgnews"></i>
                          <div id='load'><img style="width: 250px;" id="load" src="{% static "tppcenter/img/loading.gif" %}"></div>
                          <div id="not-content">
                          </div>
                        </div>
                    </span>

                    <span><i class="imgnews i-mail" id="showevent"></i> <a href="#" class="num">2</a>

                    </span>

                    <span><i class="imgnews i-user" id="showevent"></i> <a href="#" class="num">2</a>

                    </span>
                    <span><i class="imgnews i-book" ></i> <a href="#" class="num">2</a>

                    </span>

                </div>
            </div>
            <div class="newslink">
                <div class="left">
                    <a class="add-new" href="{{ addNew }}">{% trans 'Add' %}</a>

                </div>
                <a href="#" class="btnprofile"><i class="imgnews bullet"></i> {% trans 'Profile' %}</a>
            </div>
        </div>
    </div>


        {% with cabinetValues.EMAIL|first as email %}
        {% with cabinetValues.COUNTRY|first as country %}
        {% with cabinetValues.LOGIN|first as login %}
        {% with cabinetValues.SKYPE|first as skype %}
        {% with cabinetValues.PROFESSION|first as profession %}
        {% with cabinetValues.MOBILE_NUMBER|first as mobile_number %}
        {% with cabinetValues.BIRTHDAY|first as birthday %}
        {% with cabinetValues.PERSONAL_STATUS|first as personal_status %}
        {% with cabinetValues.SEX|first as sex %}
        {% with cabinetValues.SITE_NAME|first as site_name %}
        {% with cabinetValues.ICQ|first as icq %}
        {% with cabinetValues.USER_MIDDLE_NAME|first as user_middle_name %}
        {% with cabinetValues.USER_FIRST_NAME|first as user_first_name %}
        {% with cabinetValues.USER_LAST_NAME|first as user_last_name %}
        {% with cabinetValues.IMAGE|first as image %}
        {% with cabinetValues.TELEPHONE_NUMBER|first as telephone_number %}
        {% with cabinetValues.CURRENT_COMPANY|first as current_company %}

     <div class="white_content" id="light-profile">
    <div class="profile-table">
        <div class="profile-tablein">
            <div class="profile-title">{% trans 'User profile' %}</div>
            <div class="profile-main">
            	<div class="avatar">
                	<img src="{{ MEDIA_URL }}big/{{ image }}" alt="{{ user_last_name }}" />
                    <p class="name">{{ personal_status }}</p>
                </div>
                <ul class="profile-info">
                	<li>
                    	<span class="left">{% trans 'Last name' %} </span>
                        <span class="right">{{ user_last_name }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'First name' %}</span>
                        <span class="right">{{ user_first_name }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Middle name' %}</span>
                        <span class="right">{{ user_middle_name }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Email' %}</span>
                        <span class="right">{{ email }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Login' %}</span>
                        <span class="right">{{ login }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'WWW' %}</span>
                        <span class="right">{{ site_name }}</span>
                    </li>
                    <li>
                    	<span class="left">ICQ</span>
                        <span class="right">{{ icq }}</span>
                    </li>
                </ul>
                <ul class="profile-info prf-clumn">
                	<li>
                    	<span class="left">{% trans 'Country' %}</span>
                        <span class="right">{{ country  }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Current organization' %}</span>
                        <span class="right">{{ current_company }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Sex' %}</span>
                        <span class="right">{{ sex }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Birthday' %}</span>
                        <span class="right">{{ birthday|makeDate|date:'d M Y' }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Telephone number' %}</span>
                        <span class="right">{{ telephone_number }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Mobile number' %}</span>
                        <span class="right">{{ mobile_number }}</span>
                    </li>
                    <li>
                    	<span class="left">Skype</span>
                        <span class="right">{{ skype }}</span>
                    </li>
                    <li>
                    	<span class="left">{% trans 'Profession' %}</span>
                        <span class="right">{{ profession }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
       {% endwith %}
{% endif %}
