<div class="tophead">
	<div class="news">
    	<div class="tophead-l">
        	<a href="#"><i class="imgnews news-logo"></i></a>
        	<a href="#" title="">О проекте</a> | <a href="#" title="">Услуги</a> | <a href="#" title="">Помощь</a>
        </div>
        <div class="tophead-r">
        	<a href="#" title="">Выйти</a>
        </div>
    </div>
</div>
<div class="news">
	<div class="profile">
        <div class="community">
            <div class="newstitle">

                <label>Профиль: {{ user_name }} + {{ current_section }}</label>
                <div class="notify">
                    <span><i class="imgnews i-note"></i> <a href="#">2</a></span>
                    <span><i class="imgnews i-mail"></i> <a href="#">2</a></span>
                    <span><i class="imgnews i-user"></i> <a href="#">2</a></span>
                    <span><i class="imgnews i-book"></i> <a href="#">2</a></span>
                </div>
            </div>
            <div class="newslink">
                <div class="left">
                    <a href="#">Пример</a>
                    <a href="#">Команда</a>
                    <a href="#">Другая</a>
                    <a href="#">Четвертая</a>
                </div>
                <a href="#" class="btnprofile"><i class="imgnews bullet"></i> Профиль</a>
            </div>
        </div>
    </div>