{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}


<div class="tophead">
	<div class="news">
    	<div class="tophead-l">
        	<a href="/"><i class="logo news-logo"></i></a>
        	{% showTopStaticPages %}
        </div>

        <div class="tophead-center">
            <!-- in User is not login show Google translate box here -->
            {% if not user.email %}
                <!-- Google Translate injection -->
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                            pageLanguage: 'en',
                            layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                            multilanguagePage: true}, 'google_translate_element');
                    }
                </script>

                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                <!-- /Google Translate injection -->

            {% endif %}
        </div>
        <div class="tophead-r">
        {% if user.email %}
            {% trans 'Profile' %}:
             <a href="#" class="barca">{% userName %}</a>
        {% endif %}



        	{% if user.email %}
                <a style="margin-left: 20px;" href="{% url "logout" %}" title=""> {% trans 'Sign out'  %}</a>
            {% else %}
                <a style="margin-left: 20px;" href="{% url "login" %}" title="">{% trans 'Sign in' %}</a>
            {% endif %}







        </div>
    </div>
</div>
<div class="news">




