{% load i18n %}

<div class="tophead">
	<div class="wrapper">
    	<div class="tophead-l">
        	<a href="#" title="">{% trans 'About project' %}</a> | <a href="#" title="">{% trans 'FAQ' %}</a> | <a href="#" title="">{% trans "Portal services" %}</a> | <a href="#" title="">{% trans 'Contacts' %}</a>
        </div>
        <div class="tophead-r">
        	<a href="{% url 'login' %}" title=""><i class="icons i-lock"></i><font>{% trans 'Sign in' %}</font></a> | <a href="{% url 'register' %}" title=""><font>{% trans 'Sign up' %}</font></a>
        </div>
    </div>
</div>