{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}News{% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
    {% endblock %}

    {% block js %}
        {{  block.super }}
        <script type="text/javascript">
            $(function() {
	            $( "#tabs" ).tabs();
                $( ".tabfilter" ).tabs();
                $(".date").datepicker();
            });
        </script>
        <script>
            function noMatches(term) {
                if (term.length > 0 && term.length < 3)
                   return '{% trans "Minimum length of search term is 3 characters" %}';

                return '{% trans "No result found" %}';

            }

            function filterChange(name, e) {
                if (e.added)
                {
                    $('<input type="hidden" />').attr('value', e.added.id).attr("name", name).appendTo(form)
                }
                else
                {
                    input = form.find('input[value="' + e.removed.id + '"]')

                    if (input.length == 1)
                        input.remove()
                }
            }


            $(document).ready(function() {

                ui.init();
                form = $('form[name="filter-form"]')

                $("#filter-country").select2(
                {
                    maximumSelectionSize: 5,
                    width: "100%",
                    placeholder: '{% trans "Select countries"  %}'
                });

                $("#filter-tpp").select2(
                    {
                        maximumSelectionSize: 5,
                        width: "100%",
                        multiple:true,
                        placeholder: '{% trans "Select organizations"  %}',
                        formatNoMatches: noMatches,
                        ajax: {
                            url: "/filter/",
                            dataType: 'json',
                            quietMillis: 100,
                            data: function (term, page) { // page is the one-based page number tracked by Select2
                                return {
                                    q: term, //search term
                                    page: page, // page number
                                    type: 'tpp'
                                };
                            },
                            results: function (data, page) {
                                var more = (page * 10) < data.total; // whether or not there are more results available

                                // notice we return the value of more so Select2 knows if more results can be loaded
                                return {results: data.content, more: more};
                            }

                        },
                        formatResult: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                        formatSelection: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                        escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                    });

                    $("#filter-tpp").on("change", function (e) { filterChange('tpp[]', e)});
                    $("#filter-country").on("change", function (e) { filterChange('country[]', e)});
                    $(document).on('click', '#save-filter', function() {
                        var params = form.serialize();
                        $(".filter-form, #fade-profile").hide();
                        ui.requester(window.location.pathname, params)
                    });

            });
        </script>

    {% endblock %}

{% block body %}
<div class="news-main">
         <div class="news-left">
            <div class="categories-news" id="tabs">
                <div class="tab-cate">
                    <ul>
                        <li><a href="#tabs-1">ТПП-Центр</a></li>
                        {% if user.email %}<li><a href="#tabs-2">Мои</a></li>{% endif %}
                    </ul>
                </div>
                <div id="tabs-1">
                    <ul class="tab1-cate">
                    	<li><a class="single-page" href="{% url 'news:main' %}">{% trans 'News' %}</a></li>
                        <li><a class="single-page" href="{% url 'products:main' %}">{% trans 'Products' %}</a></li>
                        <li><a class="single-page" href="#">Услуги</a></li>
                        <li><a class="single-page" href="#">ТПП</a></li>
                        <li><a class="single-page" href="{% url 'companies:main' %}">{% trans 'Companies' %}</a></li>
                        <li><a class="single-page" href="#">Инновационные проекты</a></li>
                        <li><a class="single-page" href="#">Бизнес-предложения</a></li>
                        <li><a class="single-page" href="#">Тендеры</a></li>
                        <li><a class="single-page" href="#">Афиша</a></li>
                        <li><a class="single-page" href="#">Купоны</a></li>
                        <li><a class="single-page" href="#">ТПП ТВ </a></li>
                        <li><a class="single-page" href="#">Вакансии</a></li>
                        <li><a class="single-page" href="#">Стена</a></li>
                    </ul>
                </div>
            {% if user.email %}
                <div id="tabs-2">
                    <ul class="tab1-cate">
                    	<li><a href="#">Новости</a></li>
                        <li><a href="#">Товары</a></li>
                        <li><a href="#">Услуги</a></li>
                        <li><a href="#">ТПП</a></li>
                        <li><a href="#">Компании</a></li>
                        <li><a href="#">Инновационные проекты</a></li>
                        <li><a href="#">Бизнес-предложения</a></li>
                        <li><a href="#">Тендеры</a></li>
                        <li><a href="#">Афиша</a></li>
                        <li><a href="#">Купоны</a></li>
                        <li><a href="#">ТПП ТВ </a></li>
                        <li><a href="#">Вакансии</a></li>
                        <li><a href="#">Стена</a></li>
                    </ul>
                </div>
            {% endif %}
            </div>
            <div class="bannerleft"><a href="#"><img src="{% static 'tppcenter/img/banner/b1.jpg' %}" alt="" /></a></div>
            <div class="bannerleft"><a href="#"><img src="{% static 'tppcenter/img/banner/b2.jpg' %}" alt="" /></a></div>
            <div class="bannerleft"><a href="#"><img src="{% static 'tppcenter/img/banner/b3.jpg' %}" alt="" /></a></div>
        </div>
<div class="news-center">
        	<div class="keyword">
            	<div class="popuplifter">
            		<i class="icon-key imgnews" id="filter-link"></i>
                    <div class="filter-form">
                        <form action="" method="GET" name="filter-form">
                            <i class="close-event imgnews"></i>
                            <span class="title">Фильтр</span>
                            <div class="tabfilter">

                                <div class="tab-cate">
                                    <ul>
                                        <li><a href="#tabfil-1">Страна</a></li>
                                        <li><a href="#tabfil-2">ТПП</a></li>
                                        <li><a href="#tabfil-3">Компания</a></li>
                                        <li><a href="#tabfil-4">Отрасль</a></li>
                                        <li><a href="#tabfil-5">Категория</a></li>
                                    </ul>
                                </div>
                                <div id="tabfil-1">
                                    <div class="tabfilter-content">
                                        <select multiple="multiple" id="filter-country">
                                            {% for id, attr in countries.items %}
                                                {% with attr.NAME|first as name %}
                                                    <option value="{{ id }}">{{ name }}</option>
                                                {% endwith %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div id="tabfil-2">
                                    <div class="tabfilter-content">
                                        <input id="filter-tpp" type="hidden" class="big-selector">
                                    </div>
                                </div>
                                <div id="tabfil-3">
                                    <div class="tabfilter-content">
                                        <select multiple="multiple" id="filter-company">
                                            <option value="item1">Пример заполнения</option>
                                            <option value="item2">Пример заполнения</option>
                                            <option value="item3">Пример заполнения</option>
                                            <option value="item4">Пример заполнения</option>
                                            <option value="item5">Пример заполнения</option>
                                            <option value="item6">Пример заполнения</option>
                                            <option value="item7">Пример заполнения</option>
                                            <option value="item8">Пример заполнения</option>
                                            <option value="item9">Пример заполнения</option>
                                            <option value="item10">Пример заполнения</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="tabfil-4">
                                    <div class="tabfilter-content">
                                        <select multiple="multiple" id="filter-branch">
                                            <option value="item1">Пример заполнения</option>
                                            <option value="item2">Пример заполнения</option>
                                            <option value="item3">Пример заполнения</option>
                                            <option value="item4">Пример заполнения</option>
                                            <option value="item5">Пример заполнения</option>
                                            <option value="item6">Пример заполнения</option>
                                            <option value="item7">Пример заполнения</option>
                                            <option value="item8">Пример заполнения</option>
                                            <option value="item9">Пример заполнения</option>
                                            <option value="item10">Пример заполнения</option>
                                        </select>
                                    </div>
                                </div>
                                <div id="tabfil-5">
                                    <div class="tabfilter-content">
                                        <select multiple="multiple" id="filter-category">
                                            <option value="item1">Пример заполнения</option>
                                            <option value="item2">Пример заполнения</option>
                                            <option value="item3">Пример заполнения</option>
                                            <option value="item4">Пример заполнения</option>
                                            <option value="item5">Пример заполнения</option>
                                            <option value="item6">Пример заполнения</option>
                                            <option value="item7">Пример заполнения</option>
                                            <option value="item8">Пример заполнения</option>
                                            <option value="item9">Пример заполнения</option>
                                            <option value="item10">Пример заполнения</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="communities">
                                <b>Сообщества</b>
                                <input type="radio" name="filter" value="all" class="radi" /> Все
                                <input type="radio" name="filter" value="my" class="radi" /> Мои
                            </div>
                            <div class="sx">Сортировка</div>
                            <div class="sxform">
                                <div class="clumn1">
                                    <label>Поле 1</label>
                                    <select><option value="1"></option></select>
                                    <span class="note"><a href="#">По убыванию</a>По возрастанию</span>
                                </div>
                                <div class="clumn2">
                                    <label>Поле 2</label>
                                    <select><option value="1"></option></select>
                                    <span class="note"><a href="#">По убыванию</a>По возрастанию</span>
                                </div>
                                <div class="filterbtn">
                                    <a id="save-filter" href="#" class="btntype2">Сохранить</a>
                                    <a href="#" class="btntype1">Отменить</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <ul class="list-key">
                	<li>ООО "Колобок" <a href="#"><i class="i-close imgnews"></i></a></li>
                    <li>Новости <a href="#"><i class="i-close imgnews"></i></a></li>
                    <li>Новости <a href="#"><i class="i-close imgnews"></i></a></li>
                    <li>Только мои сообщества <a href="#"><i class="i-close imgnews"></i></a></li>
                </ul>
                <div class="search-key">
                	<input type="text" name="" placeholder="Поиск…" class="text" />
                    <input type="submit" name="" value="" class="i-search imgnews" />
                </div>
            </div>

            {% block content %}{% endblock %}
        </div>
        <div class="newsright">

        	<div class="bannerleft nomargin"><a href="#"><img src="{% static 'tppcenter/img/banner/r1.jpg' %}" alt="" /></a></div>

            <div class="news-ads">
            	<div class="title">Платные объявления</div>
                <span class="titlesub">Название раздела</span>
                <ul class="list-ads">
                	<li>
                    	<div class="top">
                        	<img src="{% static 'tppcenter/img/flag5.gif' %}" class="flag" />
                            <a href="#" class="linkads">Пожарно - спасательный комплекс "Огнеборец... </a>
                        </div>
                        <div class="infoads">
                        	<a href="#"><img src="{% static 'tppcenter/img/prd/img4.jpg' %}" alt="" class="thumb" /></a>
                            предназначен для технического оснащения воинских частей...
                        </div>
                    </li>
                    <li>
                    	<div class="top">
                        	<img src="{% static 'tppcenter/img/flag5.gif' %}" class="flag" />
                            <a href="#" class="linkads">Пожарно - спасательный комплекс "Огнеборец... </a>
                        </div>
                        <div class="infoads">
                           предназначен для технического оснащения воинских частей...
                        </div>
                    </li>
                </ul>
                <span class="titlesub">Название раздела</span>
                <ul class="list-ads">
                	<li>
                    	<div class="top">
                        	<img src="{% static 'tppcenter/img/flag5.gif' %}" class="flag" />
                            <a href="#" class="linkads">Пожарно - спасательный комплекс "Огнеборец... </a>
                        </div>
                        <div class="infoads">
                           предназначен для технического оснащения воинских частей...
                        </div>
                    </li>
                	<li>
                    	<div class="top">
                        	<img src="{% static 'tppcenter/img/flag5.gif' %}" class="flag" />
                            <a href="#" class="linkads">Пожарно - спасательный комплекс "Огнеборец... </a>
                        </div>
                        <div class="infoads">
                        	<a href="#"><img src="{% static 'tppcenter/img/prd/img4.jpg' %}" alt="" class="thumb" /></a>
                            предназначен для технического оснащения воинских частей...
                        </div>
                    </li>
                </ul>
            </div>
            <div class="bannerleft"><a href="#"><img src="{% static 'tppcenter/img/banner/r1.jpg' %}" alt="" /></a></div>
            <div class="bannerleft"><a href="#"><img src="{% static 'tppcenter/img/banner/r3.jpg' %}" alt="" /></a></div>
        </div>
    </div>
{% endblock %}

