{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}News{% endblock %}




    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
    {% endblock %}

    {% block js %}


        {{  block.super }}
        <script type="text/javascript" src="{% static "tppcenter/js/plugin.js" %}"></script>
        <script type="text/javascript">

            $(document).ready(function(e) {
                $('#thumbs').delegate('img','click', function(){
                    $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
                });

            });
        </script>
        <script>


            function noMatches(term) {
                if (term.length > 0 && term.length < 3)
                   return '{% trans "Minimum length of search term is 3 characters" %}';

                return '{% trans "No result found" %}';

            }

            function filterChange(name, e) {

                var form = $('form[name="filter-form"]');

                if (e.added)
                {
                    if(!$('input[value="' + e.added.id + '"].filter-item').length)
                    {
                        $('<input type="hidden" />').attr({
                            value: e.added.id,
                            name: name,
                            class: 'filter-item'
                        }).attr("name", 'filter[' + name + '][]').appendTo(form);
                    }
                }
                else
                {
                    input = form.find('input[value="' + e.removed.id + '"].filter-item')

                    if (input.length == 1)
                        input.remove()
                }
            }


            options = {
                tpp: {
                    maximumSelectionSize: 5,
                    width: "100%",
                    multiple:true,
                    placeholder: '{% trans "Select organizations"  %}',
                    formatNoMatches: noMatches,
                    ajax: {
                        url: "/filter/",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            q: term, //search term
                            page: page, // page number
                            type: 'tpp'
                            };
                        },
                        results: function (data, page) {
                            var more = (page * 10) < data.total; // whether or not there are more results available
                            // notice we return the value of more so Select2 knows if more results can be loaded
                            return {results: data.content, more: more};
                        }

                    },
                    formatResult: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    formatSelection: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                },
                branch: {
                    maximumSelectionSize: 5,
                    width: "100%",
                    multiple:true,
                    placeholder: '{% trans "Select branch"  %}',
                    formatNoMatches: noMatches,
                    ajax: {
                        url: "/filter/",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            q: term, //search term
                            page: page, // page number
                            type: 'branch'
                            };
                        },
                        results: function (data, page) {
                            var more = (page * 10) < data.total; // whether or not there are more results available
                            // notice we return the value of more so Select2 knows if more results can be loaded
                            return {results: data.content, more: more};
                        }

                    },
                    formatResult: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    formatSelection: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                },

                country: {
                    maximumSelectionSize: 5,
                    width: "100%",
                    multiple:true,
                    placeholder: '{% trans "Select country"  %}',
                    formatNoMatches: noMatches,
                    ajax: {
                        url: "/filter/",
                        dataType: 'json',
                        quietMillis: 100,
                        data: function (term, page) { // page is the one-based page number tracked by Select2
                        return {
                            q: term, //search term
                            page: page, // page number
                            type: 'country'
                            };
                        },
                        results: function (data, page) {
                            var more = (page * 10) < data.total; // whether or not there are more results available
                            // notice we return the value of more so Select2 knows if more results can be loaded
                            return {results: data.content, more: more};
                        }

                    },
                    formatResult: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    formatSelection: function (m) { return m.title; }, // omitted for brevity, see the source of this page
                    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
                }
            }
            $(document).ready(function() {
                ui.init();
                uiDetail.init();

            });
        </script>
            <script type="text/javascript">
                $(function() {
                    $( "#tabs" ).tabs();
                    $( ".tabfilter" ).tabs();

                });
            </script>
    {% endblock %}

{% block body %}
<div class="news-main">
         <div class="news-left">
            <div class="categories-news" id="tabs">
                <div class="tab-cate">
                    <ul>
                        <li><a href="#tabs-1">ТПП-Центр</a></li>
                        {% if user.email %}<li><a href="#tabs-2">Мои</a></li>{% endif %}
                    </ul>
                </div>
                <div id="tabs-1">
                    <ul class="tab1-cate">

                    	<li><a class="single-page" href="{% url 'news:main' %}">{% trans 'News' %}</a></li>
                        <li><a class="single-page" href="{% url 'products:main' %}">{% trans 'Products' %}</a></li>
                      <!---  <li><a class="single-page" href="#">Услуги</a></li>-->
                        <li><a class="single-page" href="{% url 'tpp:main' %}">{%  trans 'Organizations' %}</a></li>
                        <li><a class="single-page" href="{% url 'companies:main' %}">{% trans 'Companies' %}</a></li>
                        <li><a class="single-page" href="{% url 'innov:main' %}">{% trans 'Innovation Projects' %}</a></li>
                        <li><a class="single-page" href="{% url 'proposal:main' %}">{% trans 'Business Proposals' %}</a></li>
                        <li><a class="single-page" href="{% url 'tenders:main' %}">{% trans 'Tenders' %}</a></li>
                        <li><a class="single-page" href="{% url 'exhibitions:main' %}">{% trans 'Exhibitions' %}</a></li>

                        <li><a class="single-page" href="{% url 'tv:main' %}">{% trans 'TPP TV' %} </a></li>
                        <!--<li><a class="single-page" href="#">Вакансии</a></li>-->
                        <li><a href="{% url "wall:main" %}">{% trans 'Wall' %}</a></li>

                    </ul>
                </div>
            {% if user.email %}
                <div id="tabs-2">
                    <ul class="tab1-cate">
                    	<li><a href="{%url 'news:my_main' %}">{% trans 'News' %}</a></li>
                        <li><a href="{% url 'products:my_main' %}">{% trans 'Products' %}</a></li>
                       <!-- <li><a href="#">Услуги</a></li>-->
                        <li><a href="{% url "tpp:my_main" %}">{% trans 'Organizations' %}</a></li>
                        <li><a href="{% url "companies:my_main" %}">{% trans 'Companies' %}</a></li>
                        <li><a href="{% url "innov:my_main" %}">{% trans 'Innovation Projects' %}</a></li>
                        <li><a href="{% url 'proposal:my_main' %}">{% trans 'Business Proposals'  %}</a></li>
                        <li><a href="{% url 'tenders:my_main' %}">{% trans 'Tenders' %}</a></li>
                        <li><a href="{% url 'exhibitions:my_main' %}">{% trans 'Exhibitions' %}</a></li>

                        <!--<li><a href="#">ТПП ТВ </a></li>-->
                       <!-- <li><a href="#">Вакансии</a></li>-->
                        <li><a href="{% url "profile:main" %}">{% trans 'Profile' %}</a></li>
                        <li><a href="{% url "wall:main" %}">{% trans 'Wall' %}</a></li>
                    </ul>
                </div>
            {% endif %}
            </div>
             <div class="banner-wrapper-left">
            {{ bannerLeft }}
             </div>
        </div>
        {% block center %}
<div class="news-center">
        	<div  class="keyword">
                <i class="icon-key imgnews" id="filter-link"></i>
                <ul class="list-key">
                </ul>
                <div class="search-key">
                <form action="" method="get" name="search">
                	<input type="text" name="q" value="{{ search }}" placeholder="{% trans "Find.." %}" class="text" />
                    <input type="submit" name="" value="" class="i-search imgnews" />
                </form>
                </div>
            </div>

            {% block content %}{% endblock %}
        </div>
        {% endblock %}
        {% block right %}
            <div class="newsright">
                <div class="bannerleft nomargin">
                    <a href="#">
                        <img src="{% static 'tppcenter/img/banner/r1.jpg' %}" alt="" />
                    </a>
                </div>
                {{ tops }}
                 <div class="banner-wrapper-right">
                {{ bannerRight }}
                 </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}

