{% extends 'base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load inclusionTags %}
{% load CustomFilters %}

   {% block title %}{% endblock %}




    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.css" />
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
    {% endblock %}

    {% block js %}
        {{  block.super }}
        <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
        <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.min.js"></script>
        <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js"></script>

        <script  type="text/javascript" src="{% static "tppcenter/js/async.js"%}"></script>
        <script  type="text/javascript" src="{% static "tppcenter/js/ui.js"%}"></script>
        <script  type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=ru" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "tppcenter/js/plugin.js" %}"></script>
        <script type="text/javascript">

        var LANG = {}

            $(document).ready(function(e) {
                $('#thumbs').delegate('img','click', function(){
                    $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
                });

            });
        </script>
        <script>
            $(document).ready(function() {
                ui.init();
                uiDetail.init();
                uiEvents.init();
            });
        </script>
            <script type="text/javascript">
                $(function() {
                    var cname = 'tab';
                    var ca = document.cookie.split(';');
                    var name = cname + "=";
                    var tab = 0;

                    for(var i=0; i < ca.length; i++)
                     {
                         var c = ca[i].trim();

                         if (c.indexOf(name)==0)
                         {
                            tab = c.substring(name.length, c.length);
                            break;
                         }
                     }

                    $( "#tabs" ).tabs({
                        active: tab,
                        activate: function(event, ui) {
                            var i = ui.newTab.index();

                            document.cookie = cname + "=" + i + "; path=/";
                        }
                    });
                    $( ".tabfilter" ).tabs();


                });





            </script>
    {% endblock %}

{% block body %}
<div class="news-main">
    {% block left %}
         <div class="news-left">

            {% if user.email %}
                {% getMyCompaniesList %}
            {% endif %}
            <div class="categories-news" id="tabs">
                <div class="tab-cate">
                    <ul>
                        <li><a href="#tabs-1" class="tab1">{% trans "TPP-Center" %}</a></li>
                        {% if user.email %}<li><a href="#tabs-2" class="tab2">{% trans "My" %}</a></li>{% endif %}
                    </ul>
                </div>
                <div id="tabs-1">
                    <ul class="tab1-cate">

                    	<li><a class="single-page" href="{% url 'news:main' %}">{% trans 'News' %}</a></li>
                        <li><a class="single-page" href="{% url 'products:main' %}">{% trans 'Products' %}</a></li>
                      <!---  <li><a class="single-page" href="#">Услуги</a></li>-->
                        <li><a class="single-page" href="{% url 'tpp:main' %}">{%  trans 'Organizations' %}</a></li>
                        <li><a class="single-page" href="{% url 'companies:main' %}">{% trans 'Companies' %}</a></li>
                        <li><a class="single-page" href="{% url 'innov:main' %}">{% trans 'Innovation Projects' %}</a></li>
                        <li><a class="single-page" href="{% url 'proposal:main' %}">{% trans 'Business Proposals' %}</a></li>
                        <li><a class="single-page" href="{% url 'tenders:main' %}">{% trans 'Tenders' %}</a></li>
                        <li><a class="single-page" href="{% url 'exhibitions:main' %}">{% trans 'Exhibitions / Forums' %}</a></li>

                        <li><a class="single-page" href="{% url 'tv:main' %}">{% trans 'TPP TV' %} </a></li>
                        <!--<li><a class="single-page" href="#">Вакансии</a></li>-->
                        <li><a href="{% url "wall:main" %}">{% trans 'Wall' %}</a></li>

                    </ul>
                </div>
            {% if user.email %}
                <div id="tabs-2">
                    <ul class="tab1-cate">
                    	<li><a href="{%url 'news:my_main' %}">{% trans 'News' %}</a></li>
                        <li><a href="{% url 'products:my_main' %}">{% trans 'Products' %}</a></li>
                       <!-- <li><a href="#">Услуги</a></li>-->
                        <li><a href="{% url "tpp:my_main" %}">{% trans 'Organizations' %}</a></li>
                        <li><a href="{% url "companies:my_main" %}">{% trans 'Companies' %}</a></li>
                        <li><a href="{% url "innov:my_main" %}">{% trans 'Innovation Projects' %}</a></li>
                        <li><a href="{% url 'proposal:my_main' %}">{% trans 'Business Proposals'  %}</a></li>
                        <li><a href="{% url 'tenders:my_main' %}">{% trans 'Tenders' %}</a></li>
                        <li><a href="{% url 'exhibitions:my_main' %}">{% trans 'Exhibitions / Forums' %}</a></li>
                        <li><a href="{% url 'adv_banners:main' %}">{% trans 'Banners' %}</a></li>
                        <li><a href="{% url 'analytic:main' %}">{% trans 'Analytic' %}</a></li>

                        <!--<li><a href="#">ТПП ТВ </a></li>-->
                       <!-- <li><a href="#">Вакансии</a></li>-->
                        <li><a href="{% url "profile:main" %}">{% trans 'Profile' %}</a></li>
                        <!-- <li><a href="{% url "wall:main" %}">{% trans 'Wall' %}</a></li>-->
                    </ul>
                </div>
            {% endif %}

            </div>
            <script>

            </script>
             <div class="banner-wrapper-left">
            {% getBanners item_id "Left 1" "Left 2" "Left 3" %}
             </div>
        </div>
    {% endblock %}
        {% block center %}
            <div class="news-center">
                <div  class="keyword">
                    {% block keywords %}
                        <i class="icon-key imgnews" id="filter-link"></i>
                        <ul class="list-key">
                        </ul>
                        <div class="search-key">
                        <form action="" method="get" name="search">
                            <input type="text" name="q" value="{{ search }}" placeholder="{% trans "Find.." %}" class="text" />
                            <input type="submit" name="" value="" class="i-search imgnews" />
                        </form>
                        </div>
                    {% endblock %}
                </div>

                {% block content %}{% endblock %}

            </div>

        {% endblock %}

        {% block right %}
            <div class="newsright">
                <div class="bannerleft nomargin">
                   {% right_tv %}
                </div>
                {% getTopOnPage item_id %}
                 <div class="banner-wrapper-right">
                {% getBanners item_id "Right 1" "Right 2" "Right 3" %}
                 </div>
            </div>
        {% endblock %}

    </div>

{% endblock %}

