.online_adviser {
    position: fixed;
    bottom: 0;
    right: 1%;
    padding: 10px 50px;
    border-radius: 2px 15px 15px 2px;
    background: #00af53;
    font-weight: bold;
    color: #ffffff;
    z-index: 101;
}

.online_adviser:hover {
    background-color: #008c42;
}

.online_adviser span {
    cursor: default;
}

#online_adviser_panel {
    display: none;
    z-index: 102; 
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 20%;
    margin-bottom: 0;
}
