.online_adviser {
    position: fixed;
    bottom: 0;
    right: 1%;
    padding: 10px 50px;
    border-radius: 2px 15px 15px 2px;
    background: #00af53;
    font-weight: bold;
    color: #ffffff;
    z-index: 101;
}
-
.online_adviser:hover {
    background-color: #008c42;
}

.online_adviser span {
    cursor: default;
}

#online_adviser_panel {
    display: none;
    z-index: 102; 
    position: fixed;
    bottom: 0;
    right: 1%;
    width: 20%;
    margin-bottom: 0;
}

textarea.adviser_message {
    width: 200px;
    height: 50px !important;
}

.panel-adviser {
    border-radius: 15px 15px 15px 15px !important;
}

.panel-adviser > .panel-heading {
    background-color: #00af53 !important;    
    border-radius: 15px 15px 0 0 !important;
}

.panel-adviser > .panel-footer {
    background-color: #eef1f5;    
    border-radius: 0 0 15px 15px !important;
}

#id_content {
    border: 1px solid #00af53;
}

#id_recipient {
    background-color: #e6ffe6;
}