.online_adviser {
    position: fixed;
    bottom: 5%;
    right: 5%;
    padding: 10px 50px;
    border-radius: 2px 15px 15px 2px;
    background: #00af53;
    font-weight: bold;
    color: #ffffff;
    z-index: 101;
}

.online_adviser:hover {
    background-color: #008c42;
}

.online_adviser span {
    cursor: default;
}

/*KRN adviser_chat */
/*------------------------*/
#online_adviser_dialog .select2-container.form-control{
    border: none!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none!important;
    padding: 0!important;
}

#online_adviser_dialog .btn-primary{
    width: 100%;
}

#online_adviser_dialog {
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui-dialog-titlebar-close:before {
    content: "\f00d";
    font-family: FontAwesome;
    left: 2px;
    position: absolute;
    top: -3px;
    color: #0d385e;
 }

.ui-dialog-titlebar {
  /* fallback */
  background-color: #286090;
  background-repeat: repeat-x;

  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#286090), to(#0d385e));

  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #0d385e, #286090);

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #0d385e, #286090);

  /* IE 10 */
  background: -ms-linear-gradient(top, #0d385e, #286090);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #0d385e, #286090);
    color: #fff;
}

/* Profile page design */
#profile-usersite-page .avatar img{
	margin: 10px;
}

#profile-usersite-page .avatar-btn{
	width: 150px;
	margin: 10px;
	height: 30px;
}

#profile-usersite-page .change-passwd-link a{
	color: #000;
	text-decoration: underline;
	margin: 10px;
}

 #profile-usersite-page .profile-clumn{
	color: #000;
	margin: 10px;
	list-style-type: none;
}

#profile-usersite-page .profile-clumn li{
	margin: 10px 0;
}

#profile-usersite-page .profile-clumn input.text,
#profile-usersite-page .profile-clumn select ,
#profile-usersite-page .profile-clumn input.date{
	height: 30px;
}

#profile-usersite-page .profile-clumn fieldset {
	border:1px solid #aaa;
	padding: 10px;
	margin-bottom: 15px;
}

#profile-usersite-page .profile-clumn legend {
    padding: 0.2em 0.5em;
    border:1px solid #aaa;
    color:#aaa;
    font-size:90%;
	width: 150px;
	text-align: center;
}

#profile-usersite-page .profile-clumn .name-lbl {
  width: 150px;
}

#profile-usersite-page .radio+.radio,
#profile-usersite-page .radio{
     margin-top: 0;
}

#profile-usersite-page .profilebutton{
	text-align: center;
	margin-bottom: 20px;
}


.