{% extends 'usersites/index.html' %}
{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% block content %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/gmapCompany.css" %}" />

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script src="{% static "b24online/js/gmapSearchMarker.js" %}"></script>
    <script type="text/javascript">
     var RecaptchaOptions = {
        theme : 'clean'
     };
     </script>

     <script type="text/javascript">
        var marker;
        $(function()  {
            {% if object.location %}
              {% with object.location|split:"," as LatLng %}
              marker = new google.maps.Marker({
                position: new google.maps.LatLng({{ LatLng.0 }}, {{ LatLng.1 }})

                });
              {% endwith %}
            {% endif %}

            initialize(false);
        });
    </script>


    <div class="map">
        <ul class="map-l">
            <li>{{ object.address }}</li>
            <li>
                <span class="left">{% trans 'Phone' %}: </span>
                <span class="right"><p>{{ object.phone }}</p></span>
            </li>

        </ul>
        <div class="ggmap"> <div id="map-canvas"></div></div>
    </div>

    <form method="post" name="sendMessage">
        {% csrf_token %}
        <ul class="contact-form">
            <li class="top">{% trans 'Ask a question' %}</li>
            <li>
                <div class="clumn1">
                    <label>{% trans 'Your name' %}</label>
                    {% if form.errors.name %}
                        <font color="red">{{ form.errors.name.0 }}</font>
                    {% endif %}
                    <input type="text" value="{{ form.name.value|default_if_none:"" }}" name="name" placeholder="" class="text" style="width:95%;" />
                </div>
                <div class="clumn2">
                    <label>{% trans 'You email' %}</label>
                    {% if form.errors.email %}
                        <font color="red">{{ form.errors.email.0 }}</font>
                    {% endif %}
                    <input type="text" value="{{ form.email.value|default_if_none:"" }}" name="email" placeholder="" class="text" style="width:95%;" />
                </div>
            </li>
            <li>
                <label>{% trans 'Message' %}</label>
                {% if form.errors.message %}
                    <font color="red">{{ form.errors.message.0 }}</font>
                {% endif %}
                <textarea name="message" cols="40" rows="5" style="width:98%;">{{ form.message.value|default_if_none:"" }}</textarea>
            </li>
            <li class="end center">
                <input type="submit" class="btnsend" value="{% trans 'Send' %}"/>
            </li>
        </ul>
    </form>
{% endblock %}