{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

{# ------------------------------ #}

<!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators hidden-xs">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner red-carousel">

            {% if site.user_site.slider_images|length == 0 %}

                <div class="item active">
                    <div class="fill" style="background-image:url('{% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/1.jpg');"></div>
                </div>
                <div class="item ">
                    <div class="fill" style="background-image:url('{% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/1.jpg');"></div>
                </div>
                <div class="item ">
                    <div class="fill" style="background-image:url('{% static 'usersites/templates/' %}{{ site.user_site.template.theme_folder }}/1.jpg');"></div>
                </div>

            {% else %}

                {% for i in site.user_site.slider_images %}
                    {% if forloop.first %}
                        <div class="item active ">
                            <img src="{{ i.image.original }}" >
                            <a href="{{ i.link }}" class="slider-img-title" title="{% if i.description %}{{ i.description }}{% endif %}">
                                {% if i.description %}
                                    {{ i.description }}
                                {% endif %}
                            </a>
                        </div>
                    {% else %}
                        <div class="item fill">
                            <img src="{{ i.image.original }}" >
                            <a href="{{ i.link }}" class="slider-desc" title="{% if i.description %}{{ i.description }}{% endif %}">
                                {% if i.description %}
                                    {{ i.description }}
                                {% endif %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

        </div>


    </header>

{# ------------------------------- #}
