
{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

               <title>{% block title %}{% trans 'Registration complete' %}{% endblock %}</title>





{% block header %}
{% include "header_big.html" %}
{% endblock %}
{% block body %}

    <div id="main">
		<div id="sidebar">
			<div class="reginfo-rows">
				{% trans "On August 20 at the website registered" %}
				<p><font class="number">120 352</font> customers</p>
			</div>
			<div class="reginfo-rows margintop">
			{% trans "We protect the interests of our customers, so the site has a system" %} <a href="#">{% trans "Consumer protection" %}</a>
			</div>
			<ul class="policy">
				<li>
					<i class="icons i-plc icon-plc1"></i>
					{% trans "The guaranteed delivery within 30 days" %}
				</li>
				<li>
					<i class="icons i-plc icon-plc2"></i>
					{% trans "Return policy and warranty" %}
				</li>
				<li>
					<i class="icons i-plc icon-plc3"></i>
					{% trans "Freezing of seller's funds till then buyer  confirm receipt of the goods" %}
				</li>
				<li class="end"><a href="#" class="btnback">{% trans "Ask us a question" %}</a></li>
			</ul>
		</div>
<div id="main-r">
			<div class="breadcrumbs">
				<div xmlns="http://rdf.data-vocabulary.org/#">
					<span typeof="v:Breadcrum"><a property="v:title" rel="v:url" href="/">{% trans "Home page" %}</a> &rarr;</span>
					<span typeof="v:Breadcrum"><a property="v:title" rel="v:url" href="#">{% trans "Registration" %} </a></span>
				</div>
			</div>

          <span style="font-size: 20px;"> {% trans 'Thank you that you have completed the registration! Now you can  ' %}
              <a href='{% url 'register' %}'>{% trans 'sign in' %}</a>, {% trans 'using the email and password you provided during registration.' %}</span>


			</div>
		</div>


 {% endblock %}
{% block footer %}
{{ block.super }}
    {% endblock %}















