<div class="regform">
    <span class="title">Создать новый аккаунт</span>
    <ul class="errorlist">
    {% for key, value in auth_form.errors.items %}
    <li>{% ifnotequal key '__all__' %} <span style="color: red;"> {{ key }} </span>{% endifnotequal %}  <span style="color: red;"> {{ value.as_text }}</span></li>
    {% endfor %}
     </ul>

     	<ul class="bgreg">




    <form method="post" action="">{% csrf_token %}
       <li>
                <label class="control-left">Email</label>
                <div class="control">
		     		<input type="text" style="width:190px;" class="textcheck" name="username">
				</div>
               </li>
           <li>
				<label class="control-left">Пароль</label>
			    <div class="control">
				<input  type="password" style="width:190px;" class="textcheck" name="password">
				</div>
			</li>
        </ul>

         <div class="bottom-reg">
              <p><a href="{% url 'auth_password_reset' %}">Забыли</a> свой пароль?</p>
        <input class="btnreg" name="Login" type="submit" value="Войти" />
             </div>

    </form>
</div>





