

	<div class="register">
				<div class="reg-left">
					<span class="title">Регистрация покупателя</span>
					 <form method='post' action=''>
                     {% csrf_token %}
                    <div class="regform">
						<span class="title">Создать новый аккаунт</span>

						<ul class="bgreg">



                            <li>
								<label class="control-left" for="id_email">E-mail</label>
								<div class="control">
                                   <span style="color: red;">{{ form.email.errors }}</span>
                                    {% if form.email.errors   %}
									<input id="id_email"  style="width:190px;" class="textcheck error"  name="email" type="email" >
                                      {% else %}
                                    	<input id="id_email"  style="width:190px;" class="textcheck "  name="email" type="email" >
                                    {% endif %}

								</div>
							</li>
							<li>
								<label class="control-left" for="id_password1">Пароль</label>
								<div class="control">
                                    <span style="color: red;">{{ form.password1.errors }}</span>
                                       {% if form.password1.errors   %}
								    	<input id="id_password1" type="password" style="width:190px;" class="textcheck error"  name="password1">
                                    {% else %}
                                        <input id="id_password1" type="password" style="width:190px;" class="textcheck "  name="password1">
                                    {% endif %}

								</div>
							</li>
                            <li>
								<label class="control-left" for="id_password2">Пароль</label>
								<div class="control">
                                    <span style="color: red;">{{ form.password2.errors }}</span>
                                       {% if form.password2.errors   %}
									        <input id="id_password2" type="password" style="width:190px;" class="textcheck error"  name="password2">
                                      {% else %}
                                          <input id="id_password2" type="password" style="width:190px;" class="textcheck"  name="password2">
                                    {% endif %}

								</div>
							</li>
						</ul>
						<div class="bottom-reg">
                            <span style="color: red;">{{ form.errors.rules }}</span>
							<p><input type="checkbox" name="tos" /> Я ознакомлен с <a href="#">условиями сайта</a></p>

							<p><input type="submit" name="Register" class="btnreg" value="Создать аккаунт"></p>

						</div>
                        </form>
					</div>
				</div>