{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans "About" %}</h1>
                    <p></p>
                    <p>Международная программа развития и поддержки предпринимательства. </p>
                    <p>Идея проекта состоит в объединении информационных ресурсов и создании общей структуры (электронный центр торгово - промышленных палат).
Проанализировав представленный материал, специалисты маркетинга и бизнес консалтинга дали заключение – концепция создания такой Системы не имеет аналогов.
В результате переговоров с ТПП стран СССР - СНГ (Россия, Украина, Белоруссия, и др.), участники встреч пришли к выводу, что объединение информационных ресурсов и создание общих структур - контроль за сделками, электронные магазины, широкий спектр дополнительных услуг – необходимы предпринимателям для успешной работы, поиска партнеров, приобретения и усовершенствования знаний, продвижения сделок и проектов.
В результате обсуждений с ТПП разных стран, работа с которыми проводилась в течение года, было проделано серьёзное аналитическое исследование, позволившее определить основное назначение системы, разработать функции системы, детализировать системы управления. </p>

                <p>
                    Цель и назначение проекта электронного центра Торгово - Промышленных палат (TPPCENTER.COM)
                    <ul>
                        <li> Создать программу развития и продвижения предпринимательства. </li>
                        <li>Создать портфель инструментов&nbsp; впомощь предпринимателям для успешного продвижения сделок, проектов и услуг. </li>
                        <li>Создание платформы коммуникаций в виртуальной сети для объединения Торгово-Промышленных палат и Ассоциаций предпринимателей (бизнесменов) различных стран в единую базу данных для успешной взаимовыгодной деятельности. </li>
                        <li>Каждая Торгово-Промышленная палата и Ассоциация, представляющие государства, получают&nbsp;самостоятельный портал с полным набором функций – под свое управление и контроль. </li>
                        <li>Объединение в Единой базе данных оперативной и справочной информации по экономике, финансам, сделкам, законам и актам в этих сферах; консультации специалистов – для успешной работы компаний &nbsp; Торгово-Промышленной палаты стран, входящих в проект. </li>
                        <li>Получение прибыли от работы портала в соответствием с функциями Центра Торгово-Промышленных Палат на уровнях В2В и В2С. </li>
                    </ul>
                    </p>
                <p>
                    Мигиров Валерий<br />
                    Генеральный директор<br />
                    Expert Center
                </p>
                </div>

            </div>

{% endblock %}