{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'Advertise with us' %}</h1>

                    <p><b><font size="4" color="#ff0000">Вниманию предпринимателей !</font><font size="4" color="#0054a5">&nbsp;</font></b></p>

<p> </p>

<p>Все модули проекта включая бизнес предложения, интернет магазин и внешний сайт :</p>

<p><b>Бесплатно </b>членам бизнес сообществ/организаций(ТПП, ассоциации, гильдии и других обьединений) участников проекта. Также предоставляется скидка 40% на размещение рекламы в ТОПах и баннеров.
  <br>
 </p>

<p></p>

<p><b>Все типы, виды и расположения рекламы возможно заказать самостоятельно через кабинет компании в разделе "Реклама на портале"</b>.</p>

<p><b><font size="4" color="#0054a5">Баннеры :</font></b></p>

<p>Для размещения рекламных баннеров на портале ТПП-Центр.</p>

<ul>
  <li><b>Центральный.</b> Горизонтальные баннеры шириной не более 644 точек и высотой не более 73 точек.</li>

  <li><b>Справа.</b>&nbsp;Горизонтальные&nbsp;баннеры, шириной 220 точек и высотой 80 точек.</li>

  <li><b>Большой баннер в магазине В2В</b>, шириной 630 точек и высотой 310 точек.&nbsp;</li>

  <li><b>В подвале внешних сайтов</b>, шириной 450 точек и высотой 60 точек.</li>
 </ul>

<div> Согласно размещению баннеромест на портале необходимо выбрать тип баннера, дату начала и окончания показа, указать название и изображение баннера, а так же ссылку, куда должен осуществляться переход, при клике по баннеру.&nbsp;</div>

<div>
  <br>
 </div>

<div>
  <p style="line-height: normal;" class="MsoNormal"><span lang="RU"><b> При размещении рекламных баннеров на портале ТПП-Центр необходимо помнить. </b>
      <br>
     Баннеры можно размещать на общем портале, на страницах, стран, организаций участниц проекта и предприятий. В каждом из указанных разделов можно продвигать один и тот же или разные баннеры.</span></p>

  <p class="MsoNormal"> </p>

  <p class="MsoNormal"><b><font size="4" color="#0054a5">Спецреклама в Топах в модулях :</font></b></p>

  <p class="MsoNormal"> </p>

  <p class="MsoNormal"><b>Данный спектор рекламы действует на всех модулях и при желании может оцениваться как по временным так и по кликовым параметрам.</b></p>

  <p class="MsoNormal">Бизнес предложения - Выделение Вашего бизнес предложения на оснавных позициях (Главной страницы портала, в странах или организациях).
    <br>
   Online-магазин B2B &nbsp;- Выделение Вашего продукта на оснавных позициях (Главной страницы портала, в странах или организациях).&nbsp;
    <br>
   Найти партнера &nbsp;- Выделение Вашего бизнеса на оснавных позициях (Главной страницы портала, в странах или организациях).</p>

  <p class="MsoNormal"> </p>

  <p class="MsoNormal"><b>При размещении рекламы в Топах на портале ТПП-Центр необходимо помнить.</b>
    <br>
   Рекламу можно размещать в отдельных топах на общем портале, на страницах, стран, организаций участниц проекта и предприятий. В каждом из указанных разделов можно продвигать один или разные предложения.</p>

  <p></p>

  <p></p>

  <p class="MsoNormal"><b> </b></p>

  <p class="MsoNormal"><b><font size="5" color="#ee1d24">Заинтересованы в рекламе на портале ? &nbsp;
        <br>
       </font></b><b><font size="5" color="#ee1d24"><b>Пишите на мейл : migirov@tppcenter.com</b></font></b></p>
 <b>
    <p></p>
   </b>
  <p></p>

  <p></p>

                </div>

            </div>
</div>
{% endblock %}