{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
    <div class="companies">
        <div class="deal-details">
            <h1>{% trans 'Contact us' %}</h1>
            <p>Вы можете обратиться к нам по электронной почте. Будем рады помочь вам и ответить на все ваши вопросы.</p>

            <p>
                Россия, 107023, г. Москва, Ленинградский проспект, д. 31А, строение 1, офис. 56 "БЦ Монарх"<br />
                e-mail: migirov@tppcenter.com, www.Tppcenter.com<br /><br />
                <strong>Представительства:</strong> Израиль, Украина, Белоруссия, Азербайджан, Армения, Грузия, Россия(Москва, Краснодар), Узбекистан, Молдова &nbsp;<br />
            </p>
            <br />
            <br />

            <div style="float: left; margin-right: 10px;">
                <p><strong>Телефоны</strong></p>
                <br />
                <div>
                    <ul>
                        <li >(+972) 72-250-22-37</li>
                    </ul>
                </div>
                <br />
                <p><strong>Email</strong></p>
                <br />
                <div>
                    <ul>
                        <li ><b>migirov@tppcenter.com</b> — Работа с палатами, ассоциациями и гильдиями</li>
                        <li ><b>office@tppcenter.com</b> — Общие вопросы, &nbsp;Московский офис ТПП-Центр</li>
                        <li><b>info@tppcenter.com</b> — Маркетинг/мероприятия/PR</li>
                        <li ><b>admin@tppcenter.com</b> — Техническая поддержка</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}