{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load CustomFilters %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    {% with page.NAME|first as name %}
                    {% with page.DETAIL_TEXT|first as text %}
                        <h1>{{ name }}</h1>
                        <p></p>
                        {{ text|cleanHtml|safe }}
                    {% endwith %}
                    {% endwith %}
                </div>

            </div>

{% endblock %}