{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'Post announcements' %}</h1>
                    Возможность прорекламировать новость/анонс компании либо другие комерческие действия приводящие в последствии к поднятию имиджа, приобритению новых клиентов или просто довести информацию до общественности.
                    Описать новый продукт или сервис компании считается неотъемлимой частью ПР компании и принимается клиентами более положительно чем просто новость о его создании, существовании или выпуска на рынок. Клиенты хотят понимать, знать и сравнивать.
                    Лучшим эфектом будет являтся сембиоз между Анонсом (допустим "новое скоро", потом о выпуске на рынок) и Обзор (описание и сравнение).
                    Ваши новости/статьи/обзоры видят все участники проекта у себя на "стене", поэтому, пишите интересно и увлекательно и Вас обезательно заметят и возможно станут Вашими постояными подписчиками.
                </div>

            </div>

{% endblock %}