{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'Privacy' %}</h1>
                <p  style="   "><span style="font-family: Cambria, serif;">1. Общие положения</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">1.1.</span><span style="font-family: Cambria, serif;">&nbsp;Настоящие Правила являются официальным документом Общества с ограниченной ответственностью «</span><span style="font-family: Cambria, serif;">ЭКСПЕРТНЫЙ ЦЕНТР</span><span style="font-family: Cambria, serif;">», расположенного по адресу </span><span style="font-family: Cambria, serif;">107023, г. Москва, Ленинградский проспект, д. 31А, строение 1, офис. 56 "БЦ Монарх"</span><span style="font-family: Cambria, serif;"> (далее – Администрация Сайта), и определяют порядок обработки и защиты информации о лицах (далее – Пользователи), пользующихся услугами интернет-сайта&nbsp;http://tppcenter.com/&nbsp;(далее – Сайт).</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">1.2.</span><span style="font-family: Cambria, serif;">&nbsp;Целью настоящих Правил является обеспечение надлежащей защиты информации о пользователях, в том числе их персональных данных, от несанкционированного доступа и разглашения.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">1.3.</span><span style="font-family: Cambria, serif;">&nbsp;Отношения, связанные со сбором, хранением, распространением и защитой информации о пользователях Сайта, регулируются настоящими Правилами, иными официальными документами Администрации Сайта и действующим законодательством Российской Федерации.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">1.4.</span><span style="font-family: Cambria, serif;">&nbsp;Действующая редакция Правил, являющихся публичным документом, доступна любому пользователю сети Интернет при переходе по ссылке&nbsp;</span><span style="font-family: Cambria, serif;">http://tppcenter.com/privacy/</span><span style="font-family: Cambria, serif;">. Администрация Сайта вправе вносить изменения в настоящие Правила. При внесении изменений в Правила Администрация Сайта уведомляет об этом пользователей путем размещения новой редакции Правил на Сайте по постоянному адресу&nbsp;</span><span style="font-family: Cambria, serif;">http://tppcenter.com/privacy/</span><span style="font-family: Cambria, serif;">&nbsp;не позднее, чем за 10 дней до вступления в силу соответствующих изменений. Предыдущие редакции Правил хранятся в архиве документации Администрации Сайта.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">1.5.</span><span style="font-family: Cambria, serif;">&nbsp;Настоящие Правила разработаны и используются в соответствии с Правилами пользования сайтом http://tppcenter.com/, размещенными на Сайте по адресу&nbsp;</span><span style="font-family: Cambria, serif;">http://tppcenter.com/terms-of-use/</span><span style="font-family: Cambria, serif;">. В случае наличия противоречий между настоящими Правилами и иными официальными документами Администрации Сайта применению подлежат настоящие Правила.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">1.6.</span><span style="font-family: Cambria, serif;">&nbsp;Регистрируясь и используя Сайт, Пользователь выражает свое согласие с условиями настоящих Правил.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">1.7.</span><span style="font-family: Cambria, serif;">&nbsp;В случае несогласия Пользователя с условиями настоящих Правил использование Сайта и его сервисов должно быть немедленно прекращено.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style=""><span style="font-family: Cambria, serif;">
      <br>
     <a name="1420994d35e63df6_2._Условия_пользования_"></a>2. Условия пользования Сайтом</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">2.1.</span><span style="font-family: Cambria, serif;">&nbsp;Оказывая услуги по использованию Сайта и его сервисов (далее – Услуги Сайта), Администрация Сайта, действуя разумно и добросовестно, считает, что Пользователь:</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">2.1.1. О</span><span style="font-family: Cambria, serif;">бладает всеми необходимыми правами, позволяющими ему осуществлять регистрацию и использовать настоящий Сайт;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">2.1.2. У</span><span style="font-family: Cambria, serif;">казывает достоверную информацию о себе в объемах, необходимых для пользования Услугами Сайта;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">2.1.3. О</span><span style="font-family: Cambria, serif;">сознает, что информация на Сайте, размещаемая Пользователем о себе, может становиться доступной для других Пользователей Сайта и пользователей Интернета, может быть скопирована и распространена такими пользователями;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">2.1.4. О</span><span style="font-family: Cambria, serif;">сознает, что некоторые виды информации, переданные им другим Пользователям, не могут быть удалены самим Пользователем;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">2.1.5. О</span><span style="font-family: Cambria, serif;">знакомлен с настоящими Правилами, выражает свое согласие с ними и принимает на себя указанные в них права и обязанности.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">2.2.</span><span style="font-family: Cambria, serif;">&nbsp;Администрация Сайта не проверяет достоверность получаемой (собираемой) информации о пользователях, за исключением случаев, когда такая проверка необходима в целях исполнения Администрацией Сайта обязательств перед пользователем.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style="   "><span style="font-family: Cambria, serif;">&nbsp;</span></p>

  <p  style="   "><span style="font-family: Cambria, serif;">&nbsp;</span></p>

  <p  style="   "><span style="font-family: Cambria, serif;">3. Цели обработки информации</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style=""><span style="font-family: Cambria, serif;  ">Администрация Сайта осуществляет обработку информации о Пользователях, в том числе их персональных данных, в целях выполнения обязательств Администрации Сайта перед Пользователями в отношении использования Сайта.<o:p></o:p></span></p>

  <p  style=""><a name="1420994d35e63df6_4._Состав_информации_о_"></a><span style="font-family: Cambria, serif;">4. Состав информации о пользователях</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style="   "><span style="font-family: Cambria, serif;">4.1. Персональные данные Пользователей</span><span style="font-family: Cambria, serif;"> включают в себя:</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">4.1.1.</span><span style="font-family: Cambria, serif;">&nbsp;Предоставляемые Пользователями и минимально необходимые для регистрации на Сайте: имя, фамилия, адрес электронной почты – для физических лиц и индивидуальных предпринимателей; полное наименование организации, адрес электронной почты, страна, город, адрес и телефон – для юридических лиц;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">4.1.2.</span><span style="font-family: Cambria, serif;">&nbsp;Предоставляемые Пользователями с использованием раздела редактирования своего профиля на Сайте&nbsp;</span><span style="font-family: Cambria, serif;">http://tppcenter.com/profile/settings/</span><span style="font-family: Cambria, serif;">&nbsp;(в том числе профессия, пол, дата рождения, наименование компании и должность – для физических лиц);</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">4.2. Иная информация о Пользователях, обрабатываемая Администрацией Сайта</span><span style="font-family: Cambria, serif;"> включает в себя:</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">4.2.1.</span><span style="font-family: Cambria, serif;">&nbsp;Стандартные данные, автоматически получаемые http-сервером при доступе к Сайту и последующих действиях Пользователя (IP-адрес хоста, вид операционной системы пользователя, страницы Сайта, посещаемые пользователем);</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">4.2.2.</span><span style="font-family: Cambria, serif;">&nbsp;Информация, автоматически получаемая при доступе к Сайту с использованием закладок (cookies);</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">4.2.4.</span><span style="font-family: Cambria, serif;">&nbsp;Информация, полученная в результате действий Пользователя на Сайте (в частности, поиск партнеров, отправка ему сообщений/предложений о сотрудничестве, сведения об участии в различных тендерах; <o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">4.2.5.</span><span style="font-family: Cambria, serif;">&nbsp;Информация, полученная в результате действий других пользователей на Сайте (получение Пользователем сообщения от других Пользователей).</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style="   "><a name="1420994d35e63df6_5._Обработка_информации"></a><span style="font-family: Cambria, serif;">5. Обработка информации о пользователях</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">5.1. Обработка персональных данных осуществляется на основе принципов:</span><span style="font-family: Cambria, serif;">
      <br>
     5.1.1. Законности целей и способов обработки персональных данных;<o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">5.1.2.Добросовестности;
      <br>
     5.1.3. Соответствия целей обработки персональных данных целям, заранее определенным и заявленным при сборе персональных данных, а также полномочиям Администрации Сайта;
      <br>
     5.1.4. Соответствия объема и характера обрабатываемых персональных данных, способов обработки персональных данных целям обработки персональных данных;
      <br>
     5.1.5. Недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.<o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">5.2.</span><span style="font-family: Cambria, serif;">&nbsp;Администрация Сайта осуществляет обработку персональных данных пользователя в целях исполнения соглашения между Администрацией Сайта и Пользователем на оказание Услуг Сайта (п. 1.2 Правил пользования Сайтом http://tppcenter.com/terms-of-use/). В силу статьи 6 Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных» отдельное согласие пользователя на обработку его персональных данных не требуется. В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация Сайта вправе осуществлять обработку персональных данных без уведомления уполномоченного органа по защите прав субъектов персональных данных.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">5.3. Сбор персональных данных Пользователя осуществляется на Сайте при регистрации, а также в дальнейшем при внесении пользователем по своей инициативе дополнительных сведений о себе с помощью инструментария Сайта.
      <br>
     Персональные данные, предусмотренные п. 4.1.1. настоящих Правил, предоставляются Пользователем и являются минимально необходимыми при регистрации.
      <br>
     Персональные данные, предусмотренные п. 4.1.2. настоящих Правил, дополнительно предоставляются Пользователем по собственной инициативе с использованием вкладки «Настройки» в разделе «Личный Кабинет».</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">5.4. </span><span style="font-family: Cambria, serif;">Персональные данные пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">5.5. </span><span style="font-family: Cambria, serif;">Персональные данные Пользователей не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящими Правилами.
      <br>
     5.5.1. При указании пользователя или при наличии согласия пользователя возможна передача персональных данных пользователя третьим лицам-контрагентам Администрации Сайта с условием принятия такими контрагентами обязательств по обеспечению конфиденциальности полученной информации.<o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">5.6. Предоставление персональных данных Пользователей по запросу государственных органов (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style="   "><a name="1420994d35e63df6_6._Права_и_обязанности_"></a><span style="font-family: Cambria, serif;">6. Права и обязанности пользователей</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.1. Пользователи вправе:</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.1.1.</span><span style="font-family: Cambria, serif;">&nbsp;Осуществлять круглосуточный доступ к информации о себе посредством загрузки своих персональных страниц на Сайте с использованием логина и пароля;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.1.2.</span><span style="font-family: Cambria, serif;">&nbsp;Самостоятельно вносить изменения и исправления в информацию о себе в Личном Кабинете Пользователя на Сайте, при условии, что такие изменения и исправления содержат актуальную и достоверную информацию;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.1.3.</span><span style="font-family: Cambria, serif;">&nbsp;Удалять информацию о себе со своей персональной страницы на Сайте;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.1.4.</span><span style="font-family: Cambria, serif;">&nbsp;Требовать от Администрации Сайта уточнения своих персональных данных, их блокирования или уничтожения в случае, если такие данные являются неполными, устаревшими, недостоверными, незаконно полученными или не являются необходимыми для заявленной цели обработки и если невозможно самостоятельно выполнить действия, предусмотренные п.п. 6.1.3. и 6.1.4. настоящих Правил;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.1.5.</span><span style="font-family: Cambria, serif;">&nbsp;На основании запроса получать от Администрации Сайта информацию, касающуюся обработки его персональных данных.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.2.</span><span style="font-family: Cambria, serif;">&nbsp;Поскольку Сайт является универсальным средством коммуникации и поиска партнеров и главной функцией Сайта является поиск бизнес-предложений и поддержание связей с партнерами из различных государств, следующая информация о зарегистрированном Пользователе всегда доступна любому зарегистрированному Пользователю Сайта:</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.2.1.</span><span style="font-family: Cambria, serif;">&nbsp;Фамилия и имя Пользователя;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.2.2.</span><span style="font-family: Cambria, serif;">&nbsp;Наименование и адрес организации, а так же адрес электронной почты и телефон организации;<o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">6.2.3.</span><span style="font-family: Cambria, serif;">&nbsp;Информация о принадлежности к определенной ТПП;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><a name="1420994d35e63df6_7._Меры_по_защите_инфор"></a><span style="font-family: Cambria, serif;">7. Меры по защите информации о Пользователях</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style="margin: 12pt 0cm 0.0001pt;    "><span style="font-family: Cambria, serif;">7.1.</span><span style="font-family: Cambria, serif;">&nbsp;Администрация Сайта принимает технические и организационно-правовые меры в целях обеспечения защиты персональных данных Пользователя от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">7.2.</span><span style="font-family: Cambria, serif;">&nbsp;Для авторизации доступа к Сайту используется логин (адрес электронной почты) и пароль Пользователя. Ответственность за сохранность данной информации несет Пользователь. Пользователь не вправе передавать собственный логин и пароль третьим лицам, а также обязан предпринимать меры по обеспечению их конфиденциальности.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  style="   "><a name="1420994d35e63df6_8._Ограничение_действия"></a><span style="font-family: Cambria, serif;">&nbsp;</span></p>

  <p  style="   "><span style="font-family: Cambria, serif;">8. Ограничение действия Правил<o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">8.1. </span><span style="font-family: Cambria, serif;">Действие настоящих Правил не распространяется на действия и интернет-ресурсы третьих лиц. <o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">8.2. Администрация Сайта не несет ответственности за последствия использования информации, которая, в силу природы Сайта, доступна любому пользователю сети Интернет. 8.2.1. Администрация Сайта рекомендует Пользователям ответственно подходить к решению вопроса об объеме информации о себе, размещаемой на Сайте. <o:p></o:p></span></p>

  <p  style="   "><a name="1420994d35e63df6_9._Обращения_пользовате"></a><span style="font-family: Cambria, serif;">9. Обращения пользователей</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.1.</span><span style="font-family: Cambria, serif;">&nbsp;Пользователи вправе направлять Администрации Сайта свои запросы, в том числе запросы относительно использования их персональных данных, в письменной форме по адресу: Россия, </span><span style="font-family: Cambria, serif;">107023, г. Москва, Ленинградский проспект, д. 31А, строение 1, офис. 56 "БЦ Монарх"</span><span style="font-family: Cambria, serif;"> или в форме электронного документа, подписанного квалифицированной электронной подписью в соответствии с законодательством Российской Федерации, по адресу электронной почты: </span><span style="font-family: Cambria, serif;">office@tppcenter.com</span><span style="font-family: Cambria, serif;">.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.2.</span><span style="font-family: Cambria, serif;">&nbsp;Запрос, направляемый пользователем, должен содержать следующую информацию:</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.2.1. Н</span><span style="font-family: Cambria, serif;">омер основного документа, удостоверяющего личность пользователя или его представителя;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.2.2. С</span><span style="font-family: Cambria, serif;">ведения о дате выдачи указанного документа и выдавшем его органе;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.2.3. С</span><span style="font-family: Cambria, serif;">ведения, подтверждающие регистрацию Пользователя на Сайте, в частности, порядковый номер id пользователя;</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.2.4. П</span><span style="font-family: Cambria, serif;">одпись пользователя или его представителя.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.3.</span><span style="font-family: Cambria, serif;">&nbsp;Администрация Сайта обязуется рассмотреть и направить ответ на поступивший запрос пользователя в течение 30 (тридцати) календарных дней с момента поступления обращения.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.4.</span><span style="font-family: Cambria, serif;">&nbsp;Вся корреспонденция, полученная Администрацией Сайта от пользователей (обращения в письменной или электронной форме), относится к информации ограниченного доступа и не разглашается без письменного согласия Пользователя. <o:p></o:p></span></p>

  <p  ><span style="font-family: Cambria, serif;">9.4.1. Персональные данные и иная информация о Пользователе, направившем запрос, не могут быть без специального согласия Пользователя использованы иначе, как для ответа по теме полученного запроса или в случаях, прямо предусмотренных законодательством.</span><span style="font-family: Cambria, serif;"><o:p></o:p></span></p>

                </div>
</div>
{% endblock %}