{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static  "tppcenter/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'Post announcement event' %}</h1>
                    Бизнес предложения – размещаются на портале для поиска партнеров или инвесторов в разных странах мира, а также предоставление интересующей их информации о бизнес–предложениях/проектах других предпринимателей.
                    Модуль "Бизнес предложения" представляет новую пладформу для представления бизнес–предложения/проектов в виде мини сайта, для каждого из представленых. Важно в описании дать максимум информации о предложения/проекта и его целевой аудитории, технические данные и другие параметры мы советуем описать в отдельных дополнительных разделах(отдельных страницах). Не забудте опубликовать фото альбом и конечно убедитесь в том что отделы компании и сотрудники готовы к обращениям в социальной бизнес сети предпринимателей на нашем портале.
                    Ваши бизнес–предложения/проекты видят все участники проекта у себя на "стене", поэтому, пишите интересно, увлекательно и подробно и Вас обезательно заметят или найдут посредством фильтра. Фильтр даёт обширные возможности поиска включая сферу деятельности и отрасли, поэтому, не забывайте заполнить все поля.
                </div>

            </div>

{% endblock %}