{% extends 'usersites/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% block content %}
    {{ block.super }}

<section class="content__info">
   {% include 'usersites/Paginator.html' %}
       <section class="content__info__news news-page">
        <h2>{% trans 'News' %}</h2>

        {% for news in object_list %}
            <article class="news">
                <h3><a href="{% url 'news:detail' news.slug news.pk %}">{{ news.title }}</a></h3>
                <div class="news__content clearfix">
                    <div class="news__content__cover">
            {% if news.image %}
                <img src="{{ news.image.small }} " alt="{{ news.title }}" title="{{ news.title }}"/>
            {% else %}
                <img src="{% static 'b24online/img/news.jpg' %}" alt="" />
            {% endif %}
            </div>
                    <div class="news__content__desc clearfix">
                        <p class="date">{{ news.created_at|date:'d M Y' }}</p>
                        <p class="text">
                            {% if news.short_description %}
                                 {{ news.short_description|force_escape|linebreaks|removetags:"p" }}
                            {% else %}
                                 {{ news.content|safe|truncatewords_html:"30"|removetags:"p" }}
                            {% endif %}
                        </p>
                    </div>
                    <a href="{% url 'news:detail' news.slug news.pk %}" class="more vertical"><span>{% trans "More" %}</span></a>
                </div>
            </article>
        {% endfor %}
 </section>
     {% include 'usersites/Paginator.html' %}
{% endblock %}