{% extends 'usersites/index.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% block content %}
    {{ block.super }}

    <section class="content__info">
        <article>

            <h3>Сувениры из путешествий: как выбирать, как упаковывать, о чём помнить при выборе.</h3>
            <img src='{% static "b24online/img/news.jpg" %}' alt="">

            <p>{{ object.content|cleanHtml|safe }}</p>

            {% if object.gallery_images %}
                <ul class="gallery">
                {% for gallery_obj in object.gallery_images %}
                        <figure>
                            <a href="{{ gallery_obj.image }}" rel="gallery" fancybox class="fancybox">
                                <img src="{{ gallery_obj.image.big }}" alt="" />
                            </a>
                        </figure>
                {% endfor %}
                </ul>
            {% endif %}

            {% if object.video_code %}
                <iframe width="540" height="322" src="//www.youtube.com/embed/{{ object.video_code }}" frameborder="0" allowfullscreen></iframe>
            {% endif %}

        </article>
    </section>
{% endblock %}