{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {% block head %}
            {% block  meta%}
                  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
                  {% load i18n %}
            {% endblock %}

            <title>{% block title %}{% endblock %}</title>

            {% block styles %}
                <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,700,400&subset=latin,latin-ext,cyrillic-ext' rel='stylesheet' type='text/css'>
                <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}">
                <link rel="stylesheet" type="text/css" href="{% static "css/shopcenter.css" %}">
                    <link rel="stylesheet" type="text/css" href="{% static "css/anythingslider.css" %}">
                <!--[if IE]><link type="text/css" rel="stylesheet" href="css/ie.css" /><![endif]-->
            {% endblock %}

            {% block js %}
                <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
                <script type="text/javascript" src="{% static "js/base.js" %}"></script>
                <script type="text/javascript" src="{% static "js/jquery.anythingslider.js" %}"></script>
            {% endblock %}
        {% endblock %}
    </head>

    <body>
        {% block header %}
        {% endblock %}

        {% block body %}
        {% endblock %}

        {% block footer %}
            </div>
            <div id="quicklnk">
                <div class="container">
                    <ul id="linkun">
                        <li class="top">О площадке</li>
                        <li><a href="#">О системе</a></li>
                        <li><a href="#">Как работает площадка</a></li>
                        <li><a href="#">Анонсы и обзоры товаров</a></li>
                        <li><a href="#">Публичная оферта</a></li>
                    </ul>
                    <ul id="linkun">
                        <li class="top">Как купить</li>
                        <li><a href="#">Подписаться на обновления</a></li>
                        <li><a href="#">Как оплатить заказ</a></li>
                        <li><a href="#">Выбор доставки</a></li>
                        <li><a href="#">Защита покупателя</a></li>
                        <li><a href="#">Быстрое ознакомление</a></li>
                    </ul>
                    <ul id="linkun">
                        <li class="top">Сервисный</li>
                        <li><a href="#">Связаться с нами</a></li>
                        <li><a href="#">Часто задаваемые вопросы</a></li>
                        <li><a href="#">Спросить в сообществе</a></li>
                        <li><a href="#">Партнерская программа</a></li>
                    </ul>
                    <ul id="subscribe">
                        <li class="top">
                            <i class="imgshop i-subs"></i>Подписаться на рассылку
                        </li>
                        <li>Получайте каждую неделю наши анонсы и обзоры новинок</li>
                        <li><input type="text" name="" placeholder="Ваш E-mail" class="text" /></li>
                        <li><a class="btnreg" href="#">Подписаться</a></li>
                    </ul>
                </div>
            </div>
            <div id="footer">
                <div class="container">
                    <label>© 2013 Центр покупок  —  покупай с удовольствием по всему миру</label>
                    <div class="social">
                        <a href="#" class="imgshop icon-social i-face">Facebook</a>
                        <a href="#" class="imgshop icon-social i-twitter">Twitter</a>
                        <a href="#" class="imgshop icon-social i-youtube">Youtube</a>
                        <a href="#" class="imgshop icon-social i-vimeo">vimeo</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </body>
</html>