{% load CustomFilters %}
{% if page.paginator.num_pages > 1 %}
       <div class="panaging">
             {%  if page.has_previous %}
                    <a href="{% dynurl url_paginator url_parameter "1"  %}" >начало</a>
                                    <a href="{% dynurl url_paginator url_parameter  page.previous_page_number  %}" >«</a>
            {% endif %}
            <label>Страницы:</label>


                {% for i in paginator_range %}


                   {% ifequal i page.number %}
                       <a href="{% dynurl url_paginator url_parameter page.number  %}" class="current">{{ page.number }}</a>
                          {% else %}
                       <a href="{% dynurl url_paginator url_parameter i  %}">{{ i }}</a>
                 {% endifequal %}
               {% endfor %}
               {%  if page.has_next %}
                                       <a href="{% dynurl url_paginator url_parameter page.next_page_number  %}" >»</a>
                   <a href="{% dynurl url_paginator url_parameter  page.paginator.num_pages %}" >конец </a>
               {% endif %}
                        </div>
{% endif %}