{% load i18n %}
{% load CustomFilters %}
           {% include 'Paginator.html' %}
            <ul class="walllist">
                 {% for id ,attr in content.items %}
                     {% with attr.NAME.0 as name %}
                     {% with attr.ANONS.0 as anons %}
                     {% with attr.DETAIL_TEXT.0 as detail_text %}
                     {% with attr.SLUG.0 as slug %}
                     {% with attr.CREATE_DATE.0 as create_date %}

            	<li>
                	<h3><a href="{% detail_page_to_tppcenter "proposal:detail" slug %}">{{ name }}</a></h3>
                    <div class="desc">
                    	<p class="date">

                             {% trans 'Date' %}:  {{ create_date|date:'d M Y' }}
                        </p>
                        <p>
                            {% if anons %}
                                 {{ anons|force_escape|linebreaks }}
                            {% else %}
                                 {{ detail_text|cleanHtml|safe|truncatewords_html:"30" }}
                            {% endif %}
                        </p>
                        <p class="linkmore"><a href="{% detail_page_to_tppcenter "proposal:detail" slug %}">{% trans "more" %}...</a></p>
                    </div>
                </li>
                     {% endwith %}
                     {% endwith %}
                     {% endwith %}
                     {% endwith %}
                     {% endwith %}

                {% endfor %}
            </ul>
          {% include 'Paginator.html' %}