{% extends 'index.html' %}
{% load staticfiles %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% block content %}
    {{ block.super }}
    <script>
    $(function() {
        $(".prj-details-tab").tabs();});
    </script>
    <div class="country">
        {% if object.country %}
            <i class="flag sprite {{ object.country.flag }}" title="{{ object.country.name }}"></i>
            {{ object.country.name }}
        {% else %}
            <img src="{{ site.user_site.organization.flag_url }}" class="flag"  title="{{ site.user_site.organization.name }}"/>
            {{ site.user_site.organization.name }}
        {% endif %}
    </div>
    <h2 class="title-details">{{ object.title }}</h2>
    <div class="company-dt">
        <img class="logo-cpn" src="{{ site.user_site.organization.logo.th }}" class="thumb" />
        <a href="/">{{ site.user_site.organization.name }}</a>
    </div>
    <div class="prj-details-tab">
        <div class="tab-cate">
            <ul>
                <li><a href="#goods-tabs-1">{% trans 'About' %}</a></li>
                <li><a href="#goods-tabs-2">{% trans 'Document' %}</a></li>
                <li><a href="#goods-tabs-3">{% trans 'Gallery' %}</a></li>
                <li><a href="#goods-tabs-4">{% trans 'Contacts' %}</a></li>
                {% for page in object.additional_pages.all %}
                    <li><a href="#goods-tabs-{{ forloop.counter0|add:5 }}">{{ page.title|truncatechars:10 }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="goods-tabs-1">
            <div class="content-goods-tab">
                {{ object.description|cleanHtml|safe }}
            </div>
        </div>
        <div id="goods-tabs-2">
            <div class="content-goods-tab">
                {% for document in object.documents.all %}
                <div class="b-img">
                    <img src="{% static "tppcenter/img/file_icon.png" %}" />
                    <div class="viewimge">
                        <a target="_blank" href="{{ item.document.url }}">
                            <i class="imgnews"></i><span class="zoomtext">{% trans 'Download' %}</span>
                        </a>
                    </div>
                    <div class="gray-img"></div>
                </div>
                <div>{{ document.name }}</div>
                {% endfor %}
            </div>
        </div>
        <div id="goods-tabs-3">
            <div class="content-goods-tab">
                <ul class="tpp-gallery">
                    {% for gallery_obj in object.gallery_images %}
                        <li>
                            <div class="b-img">
                                <a class="fancybox" rel="gallery" href="{{ gallery_obj.image.original }}">
                                    <img alt=""  src="{{ gallery_obj.image.big }}" />
                                </a>
                                <div class="viewimge">
                                    <a class="fancybox" rel="gallery" href="{{ gallery_obj.image.original }}">
                                        <i class="imgnews zoom"></i><span class="zoomtext">{% trans 'zoom' %}</span>
                                    </a>
                                </div>
                                <div class="gray-img"></div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div id="goods-tabs-4">
            <div class="content-goods-tab">
                <ul class="innov-tab-content">
                    {% if site.user_site.organization.address %}
                        <li>
                            <span class="left">{% trans 'Address' %}: </span>
                            <span class="right">{{ site.user_site.organization.address }}</span>
                        </li>
                    {% endif %}
                    {% if site.user_site.organization.phone %}
                        <li>
                            <span class="left">{% trans 'Telephone number' %}: </span>
                            <span class="right">{{ site.user_site.organization.phone }} </span>
                        </li>
                    {% endif %}
                    {% if site.user_site.organization.fax %}
                        <li>
                            <span class="left">{% trans 'Fax' %}: </span>
                            <span class="right">{{ site.user_site.organization.fax }}</span>
                        </li>
                    {% endif %}
                    {% if site.user_site.organization.email %}
                        <li>
                                <span class="left">{% trans 'Email' %}: </span>
                                <span class="right">{{ site.user_site.organization.email }}</span>
                        </li>
                    {% endif %}
                    {% if site.user_site.organization.site %}
                        <li>
                            <span class="left">{% trans 'WWW' %}: </span>
                            <span class="right">{{ site.user_site.organization.site }}</span>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>
        {% for page in object.additional_pages.all %}
        <div id="goods-tabs-{{ forloop.counter0|add:5 }}">
              <div class="content-goods-tab">{{ page.content|cleanHtml|safe }}</div>
         </div>
        {% endfor %}
    </div>
{% endblock %}