/** General Styling ***************/
/*********************************/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0; /* bottom = footer height */
}

.container{
	padding-right: 30px;
	padding-left: 30px;
}

p, div {
    font-size: 15px;
}

h1 a:hover, h1 a:visited, h1 a:link, h1 a:active
{
    text-decoration: none;
}

.wazeLink{
    color: #000;
    text-align: center;
}

.wazeLink:active{
    color: #000;
}

/** Navigation Styling ***************/
/*********************************/
#navbarCollapse .navbar-nav>li>.dropdown-submenu li{
	white-space: nowrap;
}

#navbarCollapse .dropdown-submenu>li>a {
	padding: 3px 5px;
}

#cart-dropdown,
#lang-dropdown{
	display: none;
}

/*lang styling*/
#lang-dropdown {
    width: 300px;
    padding: 8px;
    background: #f8f8f8;
    position: absolute;
   margin-right: -100px;
}

#cart-menu li:hover #lang-dropdown{
	display: block;
	float: left;
}

#cart-menu li:hover #lang-dropdown a{
	float: left;
	padding: 0 5px;
}

#cart-menu li:hover #lang-dropdown img{
	width: 24px;
}
/*****/

#cart-menu li:hover #cart-dropdown{
	display: block;
	width: 200px;
}

#cart-menu li:hover #cart-dropdown li{
	display: block;
}

.cart-menu-img{
	width: 50px;
	padding: 5px;
}

#cart-dropdown{
	padding: 0;
}

#cart-dropdown li a{
	padding: 5px 0 0 0;
}

#cart-dropdown li{
	padding-bottom: 5px;
}

#cart-dropdown li.divider{
	padding-bottom: 0;
	margin: 0;
}

.menu-cart-total{
	text-align: center;
	padding: 5px;
}

.menu-cart-checkout{
	text-align: center;
	padding: 5px;
}

/* logo styling*/
.top-logo{
	padding-top: 0;
	padding-bottom: 0;
}

.top-logo img{
	height: 50px;
	width: auto;
}

/* social styling*/
.social-header{
	padding: 15px 5px;
}

.social-header a{
	padding: 5px;
}

/* regular dropdown styling */
.reg-dropdown li a{
	padding-top: 10px;
	padding-bottom: 10px;
}

/** Slider Styling ***************/
/*********************************/
#myCarousel .carousel-inner{
  width:100%;
}

#myCarousel .carousel-inner .item img{
	height: 100%;
	/*width: auto;*/
	max-width: none;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	#myCarousel .carousel-inner{
	  max-height: 600px !important;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	#myCarousel .carousel-inner{
	  max-height: 500px !important;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	#myCarousel .carousel-inner{
	  max-height: 400px !important;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
	#myCarousel .carousel-inner{
	  max-height: 300px !important;
	}

	iframe{
        width: 100%!important;
        height: auto!important;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	#myCarousel .carousel-inner{
	  max-height: 150px !important;
	}
}

/** Products Styling ***************/
/*********************************/
.main-page-prod{
	max-width: 100%;
}

.btn-main-page{
	position: relative;
	bottom: 10px;
	left: 10px;
}

.main-products__col{
	padding: 5px;
	height: 100%;
}

.main-products__row .main-products__col .thumbnail{
	/*height: 100%;*/
	margin: 0;
}


.main-products__row{
	/*height: 480px;*/
	margin-bottom: 20px;
}

.main-products__row .thumbnail .caption,
.main-coupons__row .thumbnail .caption{
	padding: 0 9px;
}

.main-products__price{
	height: 20px;
}

.main-products__pbtn{
	height: 30px;
}

.thumbnail__page h3{
	font-size: 14px;
	font-weight: bold;
	height: 20px;
	line-height: 1.2em;
	margin-bottom: 15px;
}

.thumbnail__page h3 a{
	color: #000;
}

.prod-page__caption-col h1{
	margin-top: 0;
}

.prod-page__qty{
	margin-bottom: 20px;
	margin-top: 20px;
}

.prod-page__qty-box{
	width: 50px;
	height: 35px;
	text-align: center;
}


.prod-page__btn p a{
	width: 100%;
}

#product-page-slider .thumbnails{
	list-style: none;
	padding: 5px;
}

#product-page-slider #slider-thumbs .thumbnails .thumbnail{
	padding: 1px;
}

/* A thumb to fit all screens */
.main-products__row .main-products__col .thumbnail img{
	/*height: 200px;*/
}

.img-wrap-product{
	height: 150px;
	right: auto;
	overflow: hidden;
}

.img-wrap-coupon{
	height: 150px;
	width: 150px;
	right: auto;
	overflow: hidden;
}

.thumbnail .img-wrap-product img,
.thumbnail .img-wrap-coupon img{
	width: auto;
    max-width: inherit;
	max-height: 100%;
}

.main-coupons__col .thumbnail{
	height: 160px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.main-products__timer p {
		font-size: 12px;
		margin: 0;
	}

	.timer-mini {
		font-size: 12px;
	}

	.img-wrap-product{
		height: 100px;
		width: 100px;
		right: auto;
		overflow: hidden;
	}

	.main-products__row .thumbnail{
		height: 110px;
	}

	.main-products__row .thumbnail__page h3{
		height: auto;
	}
}

/** Pagination Styling ***************/
/*********************************/
.navbar-form .input-group>.form-control__search{
	width: 150px;
}

.products-pagination .navbar-form{
	width: 250px;
	margin: 20px;
}

.category-selector{
	height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/** Product Page Styling ***************/
/*********************************/
.prod-page-container{
	margin-top: 5em;
}

.prod-page__img{
	width: 100%;
}

.prod-page__img-col{
	padding: 10px;
}

.prod-page__caption-col{
	padding: 10px;
}

.product-page-container .item-page img{
	width: 100%;
	padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

.item-page__price{
	font-size: 18pt;
	font-weight:bold;
	padding: 10px 0 10px 0;
}

.item-page__regular{
	font-size: 18pt;
	font-weight: bold;
	padding: 10px 0 10px 0;
	color: #999999;
	text-decoration: line-through;
}

.item-page__qty{
	margin-bottom: 20px;
	margin-top: 20px;
}

.item-page__qty-box{
	width: 50px;
	height: 35px;
	text-align: center;
}

.product-page-btn{
	width: 100%;
	height: 50px;
	margin-bottom: 15px;
}

.categories-side{
	position: relative;
	float: right;
}

.products-side{
	position: relative;
	float: left;
}


/*---------- Counter Styling ----------*/
#timer-detail-page{
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    position: relative;
    border-radius: 3px;
	padding: 10px;
}

#timer-detail-page > div{
    padding: 10px;
    display: inline-block;
    position: relative;
}

#timer-detail-page div > span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

/** Coupons Styling ***************/
/*********************************/
.main-coupons__img{
	max-height: 200px;
}

.coupon-container{
	clear: both;
}

.main-coupons__col{
	padding: 5px;
}

.main-products__timer{
	height: 20px;
}

.coupon-hr{
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
	margin-top: 20px;
    margin-bottom: 10px;
}

.main-coupons__col .caption h3{
	font-size: 13pt;
	line-height: 18pt;
	height: 30px;
	text-align: center;
}
.main-coupons__col .caption h3 a{
	color: #000;
}

.main-coupons__col .caption{
	margin: 0 auto;
	text-align: center;
}

.main-products__price{
	font-size: 10pt;
	color: #000;
	/*padding-right: 10px;*/
	/*padding-left: 10px;*/
}

.main-products__price-original{
	color: #999;
	text-decoration: line-through;
	padding-right: 10px;
	padding-left: 10px;
}


/* Landscape phones and portrait tablets */
@media (max-width: 991px) {
	.main-coupons__col .caption h3{
		font-size: 12pt;
		line-height: 15pt;
		height: 45px;
	}

	.coupon-hr{
		margin-top: 10px;
	}
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.main-coupons__col .caption h3{
		height: 45px;
	}

	.coupon-hr{
		margin-top: 10px;
	}

	.main-products__price {
		font-size: 9pt;
	}
}

/** Timer Styling ******************/
#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
	padding-bottom: 20px;
	width: 300px;
    margin: 0 auto;
}

#clockdiv > div{
    margin: 2px;
    border-radius: 3px;
    background: #aaa;
    display: inline-block;
	float: left;
	padding: 1px;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #666;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.clock-container{
	width: 100%;
	text-align: center;
}


/** Banners Styling ***************/
/*********************************/
.banners__img{
	width: 100%;
}

.banners__col{
	padding: 2px;
}

.banners__col img{
	width: 100%;
}

.banners-container{
	margin-bottom: 15px;
}

/** News Styling ***************/
/*********************************/
.main-news__img{
	float: left;
	padding: 0 10px 10px 0;
	width: 50px;
	height: auto;
}

.main-news__panel{
	padding: 10px;
	width: 95%;
}

.main-news__panel-body{
	padding: 0;
}

.main-news__list{
	list-style: none;
	padding: 0;
}

/* image thumbnail */
.thumb {
    display: block;
	width: 100%;
	margin: 0;
	height: 280px;
}

/* Style to article Author */
.by-author {
	font-style: italic;
	line-height: 1.3;
	color: #aab6aa;
}

.news-img img{
	width: 100;
	margin-bottom: 20px;
	height: auto;
}

.media-object {
    max-width: 150px;
}

.news-big-article h2 a,
.news-side-articals h4 a{
	text-decoration: none;
}

.news-detail-page-container .news-page-img img{
	max-width: 100%;
}
/* Main Article [Module]
-------------------------------------
* Featured Article Thumbnail
* have a image and a text title.
*/
.featured-article {
	width: 100%;
	height: 350px;
	position: relative;
	margin-bottom: 1em;
}

.featured-article .block-title {
	/* Position & Box Model */
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
	/* background */
	background: rgba(0,0,0,0.7);
	/* Width/Height */
	padding: .5em;
	width: 100%;
	/* Text color */
	color: #fff;
	height: 70px;
}

.featured-article .block-title h2 {
	margin: 0;
}

/* Featured Articles List [BS3]
--------------------------------------------
* show the last 3 articles post
*/

.main-list {
	padding-left: .5em;
}

.main-list .media {
	padding-bottom: 1.1em;
	border-bottom: 1px solid #e8e8e8;
}


/** Proposal Styling ***************/
/*********************************/
.main-proposal__well{
	padding-bottom: 5px;
	background-image: none;
}

@media (max-width: 480px) {
    .main-proposal__well h2{
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px;
    }

    .main-proposal__well{
        font-size: 12px;
        padding: 10px;
    }

    h1{
        font-size: 20px;
    }

    .news-main h3{
        font-size: 16px;
        font-weight: bold;
    }

    .news-main p{
        font-size: 12px;
    }
}

.clear {
    clear:both;
}

.btn-info {
    margin-right:15px;
    text-transform:uppercase;
    padding:10px;
    display:block;
    float:left;
}

.btn-info a {
    display:block;
    text-decoration:none;
    width:100%;
    height:100%;
    color:#fff;
}

.more.label {
    float:right;
}

.proposal-page{
	margin-bottom: 30px;
}

/** Gallery slider Styling ***************/
/*********************************/
.modal-dialog {
	width:600px;
}

.gallery__thumbnail {
	margin-bottom:6px;
}

.modal-body {
    overflow: visible;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.gal_thumb {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

.gallery-slider-container{
	padding: 0 0 25px 0;
}

.about-container{
	padding: 0 0 25px 0;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.about-container{
		padding: 0 25px 25px 0;
		margin: 0;
	}

	.about-container h1{
		padding: 10px;
	}

	.about-container .row{
		margin: 0px;
	}

	.media-carousel img {
		width: 100%!important;
		height: auto!important;
	}

	.banner-prod-single{
		padding: 5px;
	}

	.media-carousel .carousel-control.right,
	.media-carousel .carousel-control.left{
		margin-top: 5px!important;
	}

    .media-object {
        max-width: 100%;
    }

    .media-heading {
        margin-top: 5px;
    }

    .featured-article {
        height: auto;
    }
}


/** Gallery Styling ***************/
/*********************************/
.gal-items{
	margin-right: -15px;
    margin-left: -15px;
}

.gal-item{
	overflow: hidden;
	padding: 3px;
}

.gal-item .box{
	height: 200px;
	overflow: hidden;
}

.box img{
	max-height: 100%;
	width: 100%;
	object-fit:cover;
	-o-object-fit:cover;
}

.gal-img-wrap{
	height: 200px;
	width: auto;
}

.gal-item a:focus{
	outline: none;
}

.gal-item a:after{
	content:"\e003";
	font-family: 'Glyphicons Halflings';
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 3px;
	left: 3px;
	top: 3px;
	bottom: 3px;
	text-align: center;
    line-height: 200px;
    font-size: 30px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}

.gal-item a:hover:after{
	opacity: 1;
}

.modal-open .gal-container .modal{
	background-color: rgba(0,0,0,0.4);
}

.modal-open .gal-item .modal-body{
	padding: 0px;
}

.modal-open .gal-item button.close{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #000;
    opacity: 1;
    color: #fff;
    z-index: 999;
    right: -12px;
    top: -12px;
    border-radius: 50%;
    font-size: 15px;
    border: 2px solid #fff;
    line-height: 25px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.35);
}

.modal-open .gal-item button.close:focus{
	outline: none;
}

.modal-open .gal-item button.close span{
	position: relative;
	top: -3px;
	font-weight: lighter;
	text-shadow:none;
}

.gal-container .modal-dialogue{
	width: 80%;
}

.gal-container .description{
	position: relative;
	height: 40px;
	top: -40px;
	padding: 10px 25px;
	background-color: rgba(0,0,0,0.5);
	color: #fff;
	text-align: left;
}

.gal-container .description h4{
	margin:0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}

.gal-container .modal.fade .modal-dialog {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    -ms-transform: scale(0.1);
    transform: scale(0.1);
    top: 100px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.gal-container .modal.fade.in .modal-dialog {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform: translate3d(0, -100px, 0);
    transform: translate3d(0, -100px, 0);
    opacity: 1;
}
@media (min-width: 768px) {
.gal-container .modal-dialog {
    width: 55%;
    margin: 50 auto;
}
}
@media (max-width: 768px) {
    .gal-container .modal-content{
        height:250px;
    }
}
/* Footer Style */
i.red{
    color:#BC0213;
}
.gal-container{
    /*padding-top :25px;*/
    padding-bottom:40px;
}

@media (max-width: 480px) {
    .gal-item .box {
        height: auto;
    }
}


/** Media carusel Styling ***************/
/*********************************/
.media-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}

/* Previous button  */
.media-carousel .carousel-control.left {
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}

/* Next button  */
.media-carousel .carousel-control.right {
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}

/* Changes the position of the indicators */
.media-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li {
  background: #c0c0c0;
}

.media-carousel .carousel-indicators .active {
  background: #333333;
}

.media-carousel img{
  width: 350px;
  height: 200px
}
/* End carousel */

/** Cart Page Styling ***************/
/*********************************/
.cart-page-box{
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: 20px 0;*/
    border-left: none;
    border-right: none;
}

#basket .table tfoot {
    font-size: 18px;
}

#basket .table tbody tr td{
    vertical-align: middle;
}

.cart-page-box .box-footer {
    background: #f7f7f7;
    margin: 30px 0 ;
    /*padding: 20px;*/
    /*border-top: solid 1px #eee;*/
}

.cart table .tb-img{
	max-width: 250px;
}

@media (max-width: 991px){
	.cart-page-box .box-footer .btn {
	    margin-bottom: 20px;
	}
}

.cart-page-box .btn {
    font-weight: 700;
    font-family: "Roboto",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .08em;
    padding: 6px 12px;
    font-size: 13px;
    line-height: 1.42857143;
    border-radius: 0;
}

.cart-page-table img{
    width: 50px;
}

#basket .table tbody tr td input {
    width: 60px;
    padding: 2px;
    text-align: right;
}

.paypal-icon{
	width: 15px;
	margin-right: 10px;
}

.xs-cart-table{
	padding: 0;
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
	.xs-cart-container{
		padding: 0;
	}

	.cart table .tb-img{
		max-width: 50px;
	}

	.cart table h3{
		font-size: 14px;
		margin-top: 5px;
    	margin-bottom: 0;
	}

	.cart .table>tbody>tr>td,
	.cart .table>tbody>tr>th,
	.cart .table>tfoot>tr>td,
	.cart .table>tfoot>tr>th,
	.cart .table>thead>tr>td,
	.cart .table>thead>tr>th{
		padding: 2px;
	}
}

/** Contact Styling ***************/
/*********************************/
.jumbotron {
background: #358CCE;
color: #FFF;
border-radius: 0px;
}

.jumbotron-sm {
	padding-top: 24px;
	padding-bottom: 24px;
}

.jumbotron small {
color: #FFF;
}

.h1 small {
font-size: 24px;
}

/** footer Styling ***************/
/*********************************/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 180px;
    width: 100%;margin: 0;
	padding: 20px 0 0 0;
	margin-top: 20px;
}

.footer-ad-b24 img{
	width: 100%;
}

footer p{
	margin: 0;
	padding: 0;
}

.glyphicon {
    font-size: 16px;
}

.footer-membership-col h4{
	text-align: center;
	font-size: 14px;
}

.footer-membership-col img{
    display: block;
	margin: auto;
    width: 220px;
}

.footer-menu{
    list-style: none;
    padding: 0;
}

.footer-menu a{
    text-decoration: none;
}

.footer-container>div{

}

/* table responsive for pages */

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	/*#no-more-tables tr { border: 1px solid #ccc; }*/

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee;*/
		position: relative;
		/*padding-left: 50%;*/
		white-space: normal;
		/*text-align:left;*/
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

.about-page-content table{
	overflow-x: auto;
}

.about-page-content td,
.about-page-content th{
	padding: 20px;
}

.about-page-content img{
	max-width:100% !important;
    height:auto;
    display:block;
	padding: 0;
}

/****************************************
** language navigation design ***********
***************************************/
.language-navi {
	position:relative;
	display:inline-block;
	width:24px;
	cursor:pointer;
	float:left;
	margin:6px 15px 0 0;
}

.language-navi-dropdown {
    display: none;
	top: 28px;
    left: 0;
    padding: 4px 4px 4px 8px;
	position: absolute;
    /*border-left: 1px solid #dedede;*/
    /*border-right: 1px solid #dedede;*/
    /*border-bottom: 1px solid #dedede;*/
	border: 1px solid #000;
    background: #d7d5d5;
    margin: -10px -101px 0 0;
    z-index: 99;
}

.language-navi:hover .language-navi-dropdown {display:block;}

.language-navi-dropdown a{
	padding: 0 5px;
}

.language-navi-dropdown img {
    width: 24px;
	display: inline;
}

/*********************************************/

/****************************
** top nav ******************
****************************/
.top-nav .tel{
	padding: 5px;
}

.top-nav{
	background-color: #000;
	color: #fff;
	height: 30px;
}

.top-nav .top_search{
	margin: 0;
}

.top-nav input{
	height: 20px;
	margin: 5px;
	background-color: #fff;
    border: 1px solid #aaa;
    color: #000;
}

.top-nav .social-header{
	padding: 0;
	margin: 3px;
}

.top-nav .social-header a.lang-toggle img {
    margin-top: 5px;
}

.top-nav .header-cart{
	padding: 0;
	margin: 5px;
}

.top-nav .social-header .button {
    width: 22px;
    height: 22px;
    border-radius: 3px;
    font-size: 14px;
    line-height: 22px;
	margin-right: 2px;
    margin-left: 2px;
    text-align: center;
    background-color: #fff;
    padding: 3px;
}

.top-nav .language-navi {
	position:relative;
	display:inline-block;
	cursor:pointer;
	float:left;
	margin:3px;
	z-index: 9999;
	color: #000;
}

.top-nav ul.dropdown-menu>li>a>img.flag-icon {
    border: 1px solid #e7e7e7;
    margin: -3px 5px 0 5px;
    width: 24px;
}

.top-nav ul.dropdown-menu>li>a{
	padding: 3px 5px;
	margin: 0;
}

.user-reg ul{
    list-style: none;
    padding: 2px;
}

.user-reg ul li{
    display: inline;
    padding-right: 5px;
}

.user-reg img{
    display: inline;
}

@media (max-width: 767px) {
	.user-reg{
        padding: 10px;
    }
}
