/** General Styling ***************/
/*********************************/
body{
	direction: rtl;
}

/** Navigation Styling ***************/
/*********************************/
.cart-menu-img{
	float: right;
}

.navbar-right {
    float: left!important;
    margin-left: -15px;
    margin-right: 0;
}

.navbar-header{
    float: right;
}

.navbar-toggle {
    float: left;
    margin-left: 15px;
}

.navbar-brand {
    float: right;
    padding-right: 60px;
}

.navbar-nav {
    float: right;
}

.navbar-nav>li {
    float: right;
}

.main-about__row p{
	padding-left: 15px;
}

#navbarCollapse .dropdown-submenu{
	text-align: right;
	right: 0;
}

.top-nav .social-header {
    float: left;
}

.top-search-block{
	float: left;
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
		right: auto;
		left: 0;
	}
}



@media (max-width: 480px) {
	.navbar-header{
		float: none;
	}

	.navbar-nav>li {
		float: none;
	}
}
/** Slider Styling ***************/
/*********************************/

/** Products Styling ***************/
/*********************************/
.btn-main-page{
	right: 10px;
}

.main-products__btn{
	float: left;
}

.prod-page__discount p{
	float: right;
	padding-left: 25px;
}

.timer-mini{
	float: right;
	position: relative;
}

.main-products__timer p{
	float: right;
	position: relative;
	padding-left: 10px;
}

.main-coupons__col {
    float: right;
}

.img-wrap-coupon{
	float: right;
    margin-left: 15px;
}

.media-carousel .carousel-control.left {
	right: -12px;
	left: inherit;
}

.media-carousel .carousel-control.right {
	left: -12px !important;
	right: inherit;
}

.item-page__price{
	float: right;
}


@media (max-width: 480px) {
	.img-wrap-product{
		float: right;
		margin-left: 15px;
	}
}

/** About Page Styling ***************/
/*********************************/
.about-short-col{
	float: right;
}

/** Product Page Styling ***************/
/*********************************/
.prod-page__img-col{
	border-left: 1px solid #ccc;
}

.search-in-pag{
	float: right!important;
}

.search-in-pag-btn{
	float: left;
}

.search-in-pag-input{
	float: right;
}

.pagination{
	float: left;
	padding-left: 10px;
}

.item-page{
	float: right;
}

.item-page__price{
	padding: 10px 0 10px 25px;
	float: right;
}

.item-page__qty{
	padding: 10px 0 10px 25px;
}
/** Coupons Styling ***************/
/*********************************/

/** Banners Styling ***************/
/*********************************/

/** News Styling ***************/
/*********************************/
.main-news__img{
	/*float: right;*/
	/*padding: 0 0 10px 10px;*/
}

.news-item a{
	float: left;
}

.news-main{
	float: right;
}

.news-main .media-wrap{
	float: right;
}

.about-main{
	float: left;
}

.news-big-article{
	float: right;
}

.news-side-articals{
	float: left;
}

.news-detail-page-container .news-page-img{
	float: right;
}

.news-detail-page-container .news-page-content{
	float: left;
}

/** Proposal Styling ***************/
/*********************************/
.btn-info {
    margin-left:15px;
    float: right;
}

.more.label {
    float: left;    
}

/** Gallery slider Styling ***************/
/*********************************/

/** Gallery Styling ***************/
/*********************************/
.gal-item {
    float: right;
}

/** Media carusel Styling ***************/
/*********************************/

/** Cart Page Styling ***************/
/*********************************/
.paypal-icon{
	margin-left: 10px;
}

/** Contact Styling ***************/
/*********************************/

/** footer Styling ***************/
/*********************************/
footer span {
    margin-left: 5px;
}

.footer-container>div{
	float: right;
}