{% load static %}
{% load i18n %}
{% load CustomFilters %}
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/company.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />

<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
<script>
        tinymce.init({mode:"textareas", selector: 'textarea[class="tiny"]', plugins : " paste", paste_as_text: true});
</script>
<script type="text/javascript">

$(function() {

	$( ".date" ).datepicker();
});
</script>
 <div class="newsform">
<form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">














{% csrf_token %}
    {% with form.fields.NAME.initial as name %}
    {% with form.fields.PRODUCT_NAME.initial as product_name %}
    {% with form.fields.DETAIL_TEXT.initial as text %}
    {% with form.fields.COST.initial as cost %}
    {% with form.fields.REALESE_DATE.initial as realese_date %}
    {% with form.fields.KEYWORD.initial as keyword %}
    {% with form.fields.CURRENCY.initial as currnecy %}
    {% with form.fields.TARGET_AUDIENCE.initial as target_audience %}
    {% with form.fields.SITE_NAME.initial as site_name %}
    {% with form.fields.BUSINESS_PLAN.initial as business_plan %}
    {% with form.fields.DOCUMENT_1.initial as doc_1 %}






        <ul class="tenderline">
                    <li>
                        <label>Наименование проекта <font color="#FF0000">*</font></label>
                         {% if form.errors.NAME %}<div class="formserror">{{ form.errors.NAME }}</div>{% endif %}
                        <input type="text" name="NAME" value="{{ name }}" placeholder="" class="text" />
                    </li>
                    <li>
                        <label>Наименование продукции <font color="#FF0000">*</font></label>
                         {% if form.errors.PRODUCT_NAME %}<div class="formserror">{{ form.errors.PRODUCT_NAME }}</div>{% endif %}
                        <input type="text" name="PRODUCT_NAME" value="{{ product_name }}" placeholder="" class="text" />
                    </li>
                    <li>
                    	<div class="clumn1">
                        	<label>Требуемая сумма <font color="#FF0000">*</font></label>
                             {% if form.errors.COST %}<div class="formserror">{{ form.errors.COST }}</div>{% endif %}
                            <input type="text" name="COST" value="{{ cost }}" placeholder="" class="text" />
                        </div>
                        <div class="clumn2">
                        	<label>Код валюты <font color="#FF0000">*</font></label>
                            <select id="id_CURRENCY" name="CURRENCY">
                                 {% for curr in currency_slots %}
                                     <option value="{{ curr.id }}"{% if currnecy == curr.id %} selected {% endif %}>{{ curr.title }}</option>
                                 {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li>
                        <label>Целевая аудитория</label>
                        <input type="text" name="TARGET_AUDIENCE" value="{{ target_audience }}" placeholder="" class="text" />
                    </li>
                    <li>
                        <label>Планируемая дата реализации/выхода на рынок</label>
                         {% if form.errors.REALESE_DATE %}<div class="formserror">{{ form.errors.REALESE_DATE }}</div>{% endif %}
                        <input type="text" name="REALESE_DATE" value="{{realese_date }}" placeholder="" class="date" style=" width:97%;" />
                    </li>
                    <li>
                        <label>Сайт проекта</label>
                        <input type="text" name="SITE_NAME" value="{{ site_name }}" placeholder="" class="text" />
                    </li>
                    <li>
                    	<div class="clumn1">
                        	<label>Отрасль</label>
                             <select id="id_BRANCH" name="BRANCH">
                                 {% for id, branch in branches.items %}
                                     <option value="{{ id }}" {% if currentBranch.id == id %}selected{% endif %} >{{ branch.NAME|first }}</option>
                                 {% endfor %}
                             </select>
                        </div>

                        <div class="clumn2">
                        	<label>Ключевые слова поиска</label>
                            <textarea name="KEYWORD"  rows="4" style="width:95%;">{{ keyword }}</textarea>
                        </div>
                    </li>
                    <li>
                    	<label>Описание <font color="#FF0000">*</font></label>
                         {% if form.errors.DETAIL_TEXT %}<div class="formserror">{{ form.errors.DETAIL_TEXT }}</div>{% endif %}
                        <div class="">
                            <textarea class="tiny" style="height: 164px;width: 616px;" name="DETAIL_TEXT" >{{ text }}</textarea>

                        </div>
                    </li>
                </ul>
               <div class="addpage-title">Галерея</div>
                <ul class="innov-img">
                <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="4" />
                <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0" />
                <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="4" />

                 {% for i in '0123'|make_list %}
                	<li>

                          {% resolve photos i as img %}
                             {% if img %}
                                <div class="b-img">
                                    <img src='{{ MEDIA_URL }}th/{{ img.photo.name }}'>
                                    <div class="deleteimge"><i class="imgnews delete"></i><span class="deletext">удалить</span></div>
                                     <div class="gray-img"></div>
                                     <input id="delete" type="checkbox" name="del[]" value="{{ img.pk }}" hidden="hidden" />
                                     <input id="id_form-{{ i }}-item_ptr" name="form-{{ i }}" value="{{ img.pk }}" type="hidden" value="" /><br>

                                </div>
                         {% endif %}
                        <div class="fileinputs">
                            <input name="form-{{ i }}-photo" type="file" class="fileimg">
                            <div class="fakefile">
                                <input class="inputhide">
                                <img src="{% static "tppcenter/img/file.png" %}">
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>


                <div class="addpage-title">Бизнес план</div>
                {% if form.errors.BUSINESS_PLAN %}<div class="formserror">{{ form.errors.BUSINESS_PLAN }}</div>{% endif %}
                <ul class="tenderline">
                	<li>
                    	<label>Описание <font color="#FF0000">*</font></label>
                        <div class="">
                            <textarea style="width: 616px;height: 134px;"  name="BUSINESS_PLAN" >{{ business_plan }}</textarea>

                        </div>
                    </li>
                    <li>
                    	<label>Файл бизнес плана:</label>
                         {% if doc_1 %}
                             <a href="{{ MEDIA_URL }}document/{{ doc_1.name }}">Doc 1</a>
                             <input type="checkbox" name="DOCUMENT_1-CLEAR" value="{{ doc_1 }}" />Delete<br>
                         {% endif %}
                        <input type="file" id="id_DOCUMENT_1" name="DOCUMENT_1" value="{{doc_1  }}"/>
                    </li>
                </ul>
           <div class="append-formin">
                <div class="addpage-title">Дополнительные страницы</div>
                <input id="id_form-TOTAL_FORMS" name="pages-TOTAL_FORMS" type="hidden" value="5" />
                <input id="id_form-INITIAL_FORMS" name="pages-INITIAL_FORMS" type="hidden" value="0" />
                <input id="count" value="{% if pages|length > 0 %}{{ pages|length }}{% else %}1{% endif %}" type="hidden" />
                <input id="id_form-MAX_NUM_FORMS" name="pages-MAX_NUM_FORMS" type="hidden" value="10" />

                {% if  pages|length >  0 %}
                    {% for page in  pages %}
                <div class="addpage-form">
                    <div class="clumn1">
                        <label>Заголовок</label>
                        <input class="text" style="width:89%;" id="id_form-{{  forloop.counter0 }}-title"  name="pages-{{  forloop.counter0 }}-title" type="text" value="{{ page.getTitle }}" />
                        {% if forloop.counter0 > 0 %}
                          <a href="#" class="buttonclear  buttonremove">Remove</a>
                        {% else %}
                          <a href="#" class="buttonclear  add-advandce">Добавить</a>
                        {% endif %}
                    </div>
                    <div class="clumn2">
                        <label>Описание</label>

                        <div class="">
                            <textarea class="tiny" style="height: 158px;width: 456px;" id="id_form-{{  forloop.counter0 }}-content" name="pages-{{  forloop.counter0 }}-content">{{ page.getContent }}</textarea>

                        </div>
                    </div>
                   </div>
                          {% endfor %}
                         {% else %}

                   <div class="addpage-form">
                    <div class="clumn1">
                        <label>Заголовок</label>
                        <input class="text" style="width:89%;" id="id_form-0-title"  name="pages-0-title" type="text" value="" />

                        <a href="#" class="buttonclear add-advandce">Добавить</a>
                    </div>
                    <div class="clumn2">
                        <label>Описание</label>

                        <div class="">
                            <textarea class="tiny" style="height: 158px;width: 456px;" id="id_form-0-content" name="pages-0-content"></textarea>

                        </div>

                    </div>
                </div>
         {% endif %}
        </div>
        <div class="newform-button">
            <input type="submit" class="btntype2" name="submmit" value="{% trans "Save" %}">
            <a href="#" class="btntype1">Отменить</a>
        </div>



        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}



</form>

</div>



