{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load set_var %}
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />

<script type="text/javascript">

$(function() {

	$( ".date" ).datepicker();
    setTiny('textarea[class="tiny"]');
});
</script>


 <div class="newsform">
<form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">


{% csrf_token %}
    {% with form.fields.NAME.initial as name %}
    {% with form.fields.PRODUCT_NAME.initial as product_name %}
    {% with form.fields.DETAIL_TEXT.initial as text %}
    {% with form.fields.COST.initial as cost %}
    {% with form.fields.REALESE_DATE.initial as realese_date %}
    {% with form.fields.KEYWORD.initial as keyword %}
    {% with form.fields.CURRENCY.initial as currnecy %}
    {% with form.fields.TARGET_AUDIENCE.initial as target_audience %}
    {% with form.fields.SITE_NAME.initial as site_name %}
    {% with form.fields.BUSINESS_PLAN.initial as business_plan %}
    {% with form.fields.DOCUMENT_1.initial as doc_1 %}


    <div class="uploadimgage">
        <div>
            <label class="sapce">{% trans 'Target audience' %}</label>
             {% if form.errors.TARGET_AUDIENCE %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.TARGET_AUDIENCE }}</div></div>
             {% endif %}
            <textarea rows="7" name="TARGET_AUDIENCE">{{ target_audience }}</textarea>
        </div>
        <div>
            <label class="sapce">{% trans 'Keyword' %}</label>
            {% if form.errors.KEYWORD %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.KEYWORD }}</div></div>
            {% endif %}
            <textarea name="KEYWORD"  rows="4" style="width:95%;">{{ keyword }}</textarea>
        </div>
        <div>
            <label class="sapce">{% trans 'Realese date' %}</label>
            {% if form.errors.REALESE_DATE %}
                <div class="error-handler"> <div class="formserror">{{ form.errors.REALESE_DATE }}</div></div>
            {% endif %}
            <input type="text" name="RELEASE_DATE" value="{{realese_date }}" placeholder="" class="date" style=" width:97%;" />
        </div>
        <div>
            <label class="sapce">{% trans 'Project site' %}</label>
             {% if form.errors.SITE_NAME %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.SITE_NAME }}</div></div>
             {% endif %}
            <input type="text" name="SITE_NAME" value="{{ site_name }}" placeholder="" class="text" />
        </div>
        <div>
            <div class="clumn1">
                <label  class="sapce">{% trans 'Cost of project' %}<font color="#FF0000">*</font></label>
                {% if form.errors.COST %}<div class="error-handler"> <div class="formserror">{{ form.errors.COST }}</div></div>{% endif %}
                <input type="text" name="COST" value="{{ cost }}" placeholder="" class="text" />
            </div>
            <div class="clumn2">
                <label  class="sapce">{% trans 'Currency' %} <font color="#FF0000">*</font></label>
                    <select id="id_CURRENCY" name="CURRENCY">
                        {% for curr in currency_slots %}
                            <option value="{{ curr.id }}"{% if currnecy == curr.id %} selected="selected" {% endif %}>
                                {{ curr.title }}
                            </option>
                        {% endfor %}
                    </select>
            </div>
        </div>
        <div>
            <label class="sapce">{% trans 'Gallery' %}</label>
        </div>
        <input id="id_form-TOTAL_FORMS" name="form-TOTAL_FORMS" type="hidden" value="4" />
        <input id="id_form-INITIAL_FORMS" name="form-INITIAL_FORMS" type="hidden" value="0" />
        <input id="id_form-MAX_NUM_FORMS" name="form-MAX_NUM_FORMS" type="hidden" value="4" />
        {% for i in '0123'|make_list %}
        {% resolve photos i as img %}
            <div>
                {% if img %}
                    <div class="b-img">
                        <img src='{{ MEDIA_URL }}th/{{ img.photo.name }}'>
                        <div class="deleteimge">
                            <i class="imgnews delete"></i><span class="deletext">{% trans "Remove" %}</span>
                        </div>
                        <div class="gray-img"></div>
                        <input id="delete" type="checkbox" name="del[]" value="{{ img.pk }}" hidden="hidden" />
                        <div>
                            <input id="id_form-{{ i }}-item_ptr" name="form-{{ i }}" value="{{ img.pk }}" type="hidden" value="" />
                        </div>
                    </div>
                {% endif %}
                <div class="fileinputs">
                    <input name="form-{{ i }}-photo" type="file" style="width: 100%" >
                </div>
            </div>
        {% endfor %}
    </div>

    <ul class="uploadconfig">
                    <li>
                        <label>{% trans 'Project name' %} <font color="#FF0000">*</font></label>
                         {% if form.errors.NAME %}
                             <div class="error-handler"> <div class="formserror">{{ form.errors.NAME }}</div></div>
                         {% endif %}
                        <input type="text" name="NAME" value="{{ name }}" placeholder="" class="text" />
                    </li>
                    <li>
                        <label>{% trans 'Product name' %} <font color="#FF0000">*</font></label>
                         {% if form.errors.PRODUCT_NAME %}
                             <div class="error-handler"> <div class="formserror">{{ form.errors.PRODUCT_NAME }}</div></div>
                         {% endif %}
                        <input type="text" name="PRODUCT_NAME" value="{{ product_name }}" placeholder="" class="text" />
                    </li>
                    <li>
                        <label>{% trans 'Description' %} <font color="#FF0000">*</font></label>
                        {% if form.errors.DETAIL_TEXT %}
                            <div class="error-handler"> <div class="formserror">{{ form.errors.DETAIL_TEXT }}</div></div>
                        {% endif %}
                    </li>
                    <li>
                        <div class="detail">
                            <textarea class="tiny" style="height: 164px;width: 616px;" name="DETAIL_TEXT" >
                                {{ text }}
                            </textarea>
                        </div>
                    </li>
                    <li>
                        	<label>{% trans 'Industry' %}</label>
                             <select id="id_BRANCH" name="BRANCH">
                                 {% for id, branch in branches.items %}
                                     <option value="{{ id }}" {% if currentBranch.id == id %}selected{% endif %} >{{ branch.NAME|first }}</option>
                                 {% endfor %}
                             </select>
                    </li>
                </ul>
                <div class="addpage-title">{% trans 'Business plan' %}</div>
                {% if form.errors.BUSINESS_PLAN %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.BUSINESS_PLAN }}</div></div>
                {% endif %}
                <ul class="tenderline">
                    <li>
                        <label>{% trans 'Description' %} <font color="#FF0000">*</font></label>
                    </li>
                	<li>
                        <textarea style="height: 200px; width: 100%;" class="tiny"  name="BUSINESS_PLAN" >
                            {{ business_plan }}
                        </textarea>
                    </li>
                    <li>
                    	<label>{% trans 'Business plan file' %}</label>
                         {% if form.errors.DOCUMENT_1 %}
                              <div class="error-handler"> <div class="formserror">{{ form.errors.DOCUMENT_1 }}</div></div>
                         {% endif %}
                         {% if doc_1 %}
                             <a href="{{ MEDIA_URL }}document/{{ doc_1.name }}">Doc 1</a>
                             <input type="checkbox" name="DOCUMENT_1-CLEAR" value="{{ doc_1 }}" />Delete<br>
                         {% endif %}
                        <input type="file" id="id_DOCUMENT_1" name="DOCUMENT_1" value="{{doc_1  }}"/>
                    </li>
                </ul>
           <div class="append-formin">
                <div class="addpage-title">{% trans 'Additional pages' %}</div>
                <input id="id_form-TOTAL_FORMS" name="pages-TOTAL_FORMS" type="hidden" value="5" />
                <input id="id_form-INITIAL_FORMS" name="pages-INITIAL_FORMS" type="hidden" value="0" />
                <input id="count" value="{% if pages|length > 0 %}{{ pages|length }}{% else %}1{% endif %}" type="hidden" />
                <input id="id_form-MAX_NUM_FORMS" name="pages-MAX_NUM_FORMS" type="hidden" value="10" />

                {% if  pages|length >  0 %}
                    {% for page in  pages %}
                        {% set i = forloop.counter0 %}
                        {% include "additionalPage.html" %}
                    {% endfor %}
                {% else %}
                    {% set i = 0 %}
                    {% include "additionalPage.html" %}
                {% endif %}
        </div>
        <div class="newform-button">
            <input type="submit" class="btntype2" name="submmit" value="{% trans "Save" %}">
            <a href="#" class="btntype1">{% trans 'Content' %}</a>
        </div>



        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}
        {% endwith %}



</form>

</div>



