{% extends 'forms.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />

<script type="text/javascript">
    $(function() {
        $( ".date" ).datepicker({
          dateFormat: "dd/mm/yy"
        });
        setTiny('textarea[class="tiny"]');
    });

    $(document).bind('branchSelected', function(event, pk, name) {
        add_branch(name, pk);
    });

    $(document).on('click', '.branch-remove', function() {
        var li = $(this).parents('li')
        var pk = li.data('pk');
        li.remove();
        $('input.brnach-' + pk).remove();
        return false;
    });
</script>
<style>
    .list-cat li {
        padding: 5px;
        border-radius: 5px;
        background-color: #333;
        color: #FFF;
        padding-right: 25px;
        position: relative;
        float: left;
        margin-bottom: 5px;
        margin-right: 5px;
    }

    .list-cat li .i-close {
        position: absolute;
        width: 8px;
        height: 7px;
        background-position: -195px 0;
        top: 8px;
        right: 5px;
    }
</style>

<div class="newsform">
    <form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <div class="uploadimgage">
        <div>
            <label class="sapce">{% trans 'Keywords' %}</label>
            {% if form.errors.keywords %}
                <div class="error-handler"> <div class="formserror">{{ form.errors.keywords.0 }}</div></div>
            {% endif %}
            <textarea name="keywords"  rows="4" >{{ form.keywords.value|default_if_none:"" }}</textarea>
        </div>
        <div>
            <label class="sapce">{% trans 'Release date' %}</label>
            {% if form.errors.release_date %}
                <div class="error-handler"> <div class="formserror">{{ form.errors.release_date.0 }}</div></div>
            {% endif %}
            <input type="text" name="release_date" value="{{ form.release_date.value|default_if_none:"" }}" placeholder="" class="date" style=" width:97%;" />
        </div>
        <div>
            <label class="sapce">{% trans 'Project site' %}</label>
            {% if form.errors.site %}
                <div class="error-handler"> <div class="formserror">{{ form.errors.site.0 }}</div></div>
            {% endif %}
            <input type="text" class="text" placeholder="" name="site" value="{{ form.site.value|default_if_none:"" }}"/>
        </div>
        <div>
            <div class="clumn1">
                <label  class="sapce">{% trans 'Project cost' %}<font color="#FF0000">*</font></label>
                {% if form.errors.cost %}
                    <div class="error-handler">
                        <div class="formserror">{{ form.errors.cost.0 }}</div>
                    </div>
                {% endif %}
                <input type="text"  name="cost" value="{{ form.cost.value|default_if_none:"" }}" placeholder="" class="text"/>
            </div>
           <div class="clumn2">
                <label class="sapce">{% trans 'Currency' %}</label>
                {% if form.errors.currency %}
                    <div class="error-handler">
                        <div class="formserror">{{ form.errors.currency.0 }}</div>
                    </div>
                {% endif %}

                <select id="id_currency" name="currency">
                    {% for choice in form.currency.field.choices %}
                        <option value="{{ choice.0 }}"{% if choice.0 == form.currency.value %} selected="selected" {% endif %}>
                            {{ choice.1 }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div>
            {% if form.errors.branches %}
                <div class="error-handler">
                    <div class="formserror">{{ form.errors.branches.0 }}</div>
                </div>
            {% endif %}
            <label class="sapce">{% trans 'Branches' %}</label>
                <ul id="list-branches" class="list-cat">
                </ul>
                <a href="#" id="select-branch" class="buttonclear  add-advandce">{% trans "Add branches" %}</a>
                <script>
                for(i in branches) {
                    add_branch(branches[i].name, branches[i].pk)
                }
            </script>
        </div>
    </div>

    <ul class="uploadconfig">
                    <li>
                        <label>{% trans 'Project name' %} <font color="#FF0000">*</font></label>
                         {% if form.errors.name %}
                             <div class="error-handler"> <div class="formserror">{{ form.errors.name.0 }}</div></div>
                         {% endif %}
                        <input type="text" name="name" value="{{ form.name.value|default_if_none:"" }}" placeholder="" class="text" />
                    </li>
                    <li>
                        <label>{% trans 'Product name' %} <font color="#FF0000">*</font></label>
                         {% if form.errors.product_name %}
                             <div class="error-handler"> <div class="formserror">{{ form.errors.product_name.0 }}</div></div>
                         {% endif %}
                        <input type="text" name="product_name" value="{{ form.product_name.value|default_if_none:"" }}" placeholder="" class="text" />
                    </li>
                    <li>
                        <label>{% trans 'Preview description' %}</label>
                        {% if form.errors.short_description %}
                            <div class="error-handler"><div class="formserror">{{ form.errors.short_description.0 }}</div></div>
                        {% endif %}
                        <textarea rows="7" name="short_description" >{{ form.short_description.value|default_if_none:"" }}</textarea>
                    </li>
                    <li>
                        <label>{% trans 'Description' %}</label>
                        {% if form.errors.description %}
                            <div class="error-handler"> <div class="formserror">{{ form.errors.description.0 }}</div></div>
                        {% endif %}
                    </li>
                    <li>
                        <div class="detail">
                            <textarea class="tiny" name="description" >{{ form.description.value|default_if_none:"" }}</textarea>
                        </div>
                    </li>
                </ul>
                <div class="addpage-title">{% trans 'Business plan' %}</div>
                {% if form.errors.business_plan %}
                    <div class="error-handler"> <div class="formserror">{{ form.errors.business_plan.0 }}</div></div>
                {% endif %}
                <ul class="tenderline">
                    <li>
                        <label>{% trans 'Description' %} <font color="#FF0000">*</font></label>
                    </li>
                	<li>
                        <textarea style="height: 200px; width: 100%;" class="tiny"  name="business_plan" >
                            {{ form.business_plan.value|default_if_none:"" }}
                        </textarea>
                    </li>
                </ul>
           <div class="append-formin" >
                        <div class="addpage-title">{% trans 'Additional pages' %}</div>
                        <a data-prefix="{{ additional_page_form.prefix }}" id="add-page" href="#" class="buttonclear  add-advandce">{% trans 'Add page' %}</a>
                        {{ additional_page_form.management_form }}
                        {{ additional_page_form.non_form_errors }}
                        {% for form in additional_page_form %}
                            {{ form.id }}
                            {% with prefix=form.prefix num=forloop.counter0 %}
                                {% include "additionalPage.html" %}
                            {% endwith %}
                        {% endfor %}
                    </div>
        <div class="newform-button">
            <input type="submit" class="btntype2" name="submmit" value="{% trans "Save" %}">
            <a href="#" class="btntype1">{% trans 'Cancel' %}</a>
        </div>
    </form>
</div>
{% endblock %}



