{% load static %}
{% load i18n %}
<div class="container">
    <div class="companies">
            {% include "Innov/popupFilter.html" %}
           {% include "main/paginator.html" %}
          {% include "main/local_menu_script.html" %}
           <ul class="tender-list" id="afisha-list">
                {% for id , attr in innovList.items %}
                    {% with attr.NAME.0 as name %}
                     {% with attr.SLUG.0 as slug %}
                    {% with attr.DETAIL_TEXT.0 as content %}
                    {% with attr.CREATE_DATE.0 as date%}
                     {% with attr.ORGANIZATION_FLAG.0 as org_flag %}
                    {% with attr.ORGANIZATION_NAME.0 as org_name %}
                    {% with attr.ORGANIZATION_ID.0 as org_id %}
                    {% with attr.ORGANIZATION_SLUG.0 as org_slug %}
                    {% with attr.ORGANIZATION_URL as org_url %}
                    {% with attr.COUNTRY_NAME|first as country_name %}
                    {% with attr.COUNTRY_FLAG|first as flag %}
                    {% with attr.COUNTRY_ID as country_id %}
                    {% with attr.BRANCH_NAME|first as branch_name %}
                    {% with attr.BRANCH_ID as branch_id %}
                    {% with attr.CABINET_NAME|first as cabinet_name %}
                    {% with attr.CABINET_LAST_NAME|first as cabinet_last_name %}
                    {% with attr.CABINET_ID as cabinet_id %}
                    {% with attr.CABINET_COUNTRY_NAME|first as cabinet_country_name %}
                    {% with attr.CABINET_COUNTRY_FLAG|first as cabinet_country_flag %}
                     {% with attr.CABINET_COUNTRY_ID as cabinet_country_id %}

                    <li>
                    {% if has_perms %}
                        <div class="blockbox">
                                <a href="#"><i class="btn-afisha imgnews"></i></a>
                                <div class="localmenu">
                                    <div class="tender-action"><i class="imgnews remove icon-action"></i><span class="deletext">{% trans 'remove' %}</span></div>
                                    <div class="tender-action"><i class="imgnews edit icon-action"></i><span class="deletext">{% trans 'edit' %}</span></div>
                                </div>
                            </div>
                    {% endif %}
                        <div class="title">
                        {% if cabinet_country_flag %}
                           <img src="{{ MEDIA_URL }}small/{{ cabinet_country_flag }}" class="flag" />
                        {% else %}
                           <img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else %}{{ flag }}{% endif %}" class="flag" />
                        {% endif %}
                            <font class="name">{{ org_name }}  {% trans 'Publication date' %}: {{ date|date:'d M Y' }}</font>
                        </div>
                        <h2><a href="{% url "innov:detail" slug %}">{{ name|truncatewords:14 }}</a></h2>
                        <div class="line">
                            {% if branch_name != 0  %}
                        	    <span class="clumn">{%  trans "Branch" %}: <font class="gray">{{ branch_name }}</font></span>
                            {% endif %}
                        	<span class="clumn">{% trans 'Organizer' %}:

                                    {% if  cabinet_name  %}
                                        <a href=""> {{ cabinet_last_name }} {{ cabinet_name }}</a>

                                    {% elif org_name %}
                                       <a href="{% url org_url org_slug %}">  {{ org_name }} </a>
                                    {% endif %}

                            </span>
                        </div>
                        <a href="{% url "innov:detail" slug %}" class="linkmore">{% trans 'More' %}...</a>
                    </li>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endfor %}

            </ul>
           {% include "main/paginator.html" %}
    </div>
</div>
