{% load static %}
{% load i18n %}
{% load CustomFilters %}

<script>
$(function() {
	 $(".goods-details-tab").tabs();});
</script>

<script>
    $('.keyword').html('');
</script>

  <div class="tender">
            {% with innovValues.NAME.0 as name %}
            {% with innovValues.COST.0 as cost %}
            {% with innovValues.BRANCH_NAME.0 as branch_name %}
            {% with innovValues.BRANCH_ID.0 as branch_id %}
            {% with innovValues.CURRENCY.0 as currency %}
            {% with innovValues.DETAIL_TEXT.0 as content %}
            {% with innovValues.DOCUMENT_1.0 as doc_1 %}
            {% with innovValues.PRODUCT_NAME.0 as product_name %}
            {% with innovValues.REALESE_DATE.0 as realese_date %}
            {% with innovValues.BUSINESS_PLAN.0 as bussines_plan %}
            {% with innovValues.ORGANIZATION_FLAG.0 as org_flag %}
            {% with innovValues.ORGANIZATION_NAME.0 as org_name %}
            {% with innovValues.ORGANIZATION_SLUG.0 as org_slug %}
            {% with innovValues.ORGANIZATION_URL as org_url %}
            {% with innovValues.ORGANIZATION_IMAGE.0 as org_image %}
            {% with innovValues.ORGANIZATION_ID.0 as org_id %}
            {% with innovValues.COUNTRY_NAME|first as country_name %}
            {% with innovValues.COUNTRY_FLAG|first as flag %}
             {% with innovValues.COUNTRY_ID as country_id %}


               <div class="tender-details-title">
               {% if countryUpdate %}
               		<img src="{{ MEDIA_URL }}small/{{ countryUpdate.CABINET_COUNTRY_FLAG.0 }}" class="flag" />
               {% else %}
                   <img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else %}{{ flag }}{% endif %}" class="flag" />
               {% endif %}
                    <font class="name">
                        {% if country_name %}
                            {{ country_name }}
                        {% elif org_name %}
                            {{ org_name }}
                         {% else %}
                            {{ countryUpdate.CABINET_COUNTRY_NAME|first  }}
                        {% endif %}
                    </font>
               </div>
               <div class="tender-info">
					<span class="title">{{ name }}</span>
                    <div class="tender-bottom">
                    	<div class="tender-bottom-left">

                        {% if org_flag or org_image %}
                        	<img src="{{ MEDIA_URL }}small/{% if org_flag %}{{ org_flag }}{% else %}{{ org_image }}{% endif %}" class="thumb" />
                        {% else %}
                            <img src="{% static 'tppcenter/img/company.jpg' %}" class="thumb" />
                        {% endif %}
                            {% if org_name %}<a href="{% url org_url  org_slug %} "> {{ org_name }}</a>{% else %} {{ cabinetUpdate.CABINET_FIRST_NAME.0 }} {{cabinetUpdate.CABINET_LAST_NAME.0  }}{% endif %}
                            </div>
                    </div>
                    <div class="innov-details">
                    	<p>{{ content|cleanHtml|safe }}</p>
                    </div>
                    <div class="goods-details-tab">
                        <div class="tab-cate">
                            <ul>
                                <li><a href="#goods-tabs-1">{% trans 'Main' %}</a></li>
                                <li><a href="#goods-tabs-2">{% trans 'Business plan' %}</a></li>
                                <li><a href="#goods-tabs-3">{% trans 'Gallery' %}</a></li>
                                <li><a href="#goods-tabs-4">{% trans 'Contacts' %}</a></li>
                                {% for page in additionalPages %}
                                 <li><a href="#goods-tabs-{{ forloop.counter0|add:5 }}">{{ page.getTitle|truncatechars:10 }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div id="goods-tabs-1">
                            <div class="content-goods-tab">
                            	<ul class="innov-tab-content">
                                	<li>
                                    	<span class="left">{% trans 'Product' %}: </span>
                                        <span class="right">{{ product_name }}</span>
                                    </li>
                                    <li>
                                    	<span class="left">{% trans 'Industry' %}: </span>
                                        <span class="right">{% if branch_name != 0 %}{{ branch_name }}{% endif %} </span>
                                    </li>
                                    <li>
                                    	<span class="left">{% trans 'Cost' %}: </span>
                                        <span class="right">{{ currency|getSymbol }} {{ cost }}</span>
                                    </li>
                                    <li>
                                    	<span class="left">{% trans 'Realese date' %}: </span>
                                        <span class="right">{{ realese_date }}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="goods-tabs-2">
                            <div class="content-goods-tab">
                                {% if doc_1 %}
                                   <p><a href="{{ MEDIA_URL }}document/{{ doc_1 }}">{% trans 'Link to Business Plan File' %}</a> </p>
                                {% endif %}
                                     <p>{{ bussines_plan|cleanHtml|safe }}</p>

                            </div>
                        </div>
                        <div id="goods-tabs-3">
                            <div class="content-goods-tab">
                                <ul class="tpp-gallery">
                              {% for photo in photos %}
                                <li>
                                    <div class="b-img">
                                        <img alt=""  src="{{ MEDIA_URL }}big/{{ photo.photo }}" alt="" />

                                        <div class="viewimge" onclick="document.getElementById('white-tpp').style.display='block';document.getElementById('black-tpp').style.display='block'">
                                            <i class="imgnews zoom"></i><span class="zoomtext">{% trans 'zoom' %}</span></div>
                                        <div class="gray-img"></div>
                                    </div>
                                </li>
                              {% endfor %}
                              </ul>
                            </div>
                        </div>
                        <div id="goods-tabs-4">
                            <div class="content-goods-tab">

                            </div>
                        </div>
                        {% for page in additionalPages %}
                        <div id="goods-tabs-{{ forloop.counter0|add:5 }}">
                              <div class="content-goods-tab">{{ page.getContent|cleanHtml|safe }}</div>
                         </div>
                        {% endfor %}
                    </div>
               </div>





            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}

     </div>


