{% extends "AdminTpp/baseAdmin.html" %}
{% load staticfiles %}

{% block title %}Users{% endblock %}

{% block style %}
    {{ block.super }}
    <!-- DATA TABLES -->
    <link href="{% static "admin-tpp/css/datatables/dataTables.bootstrap.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Data Table With Full Features</h3>
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Type</th>
                                                <th>Owner</th>
                                                <th>Target</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Active</th>
                                                <th>Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="5" class="dataTables_empty">Loading data from server</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Type</th>
                                                <th>Owner</th>
                                                <th>Target</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Active</th>
                                                <th>Price</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

        <!-- Bootstrap -->

        <!-- DATA TABES SCRIPT -->

        <!-- AdminLTE App -->


        <!-- page script -->

{% endblock %}

{% block bottomScript %}
    {{ block.super }}
    <script src="{% static "admin-tpp/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "admin-tpp/js/plugins/datatables/jquery.dataTables.js" %}" type="text/javascript"></script>
    <script src="{% static "admin-tpp/js/plugins/datatables/dataTables.bootstrap.js" %}" type="text/javascript"></script>
    <script src="{% static "admin-tpp/js/AdminLTE/app.js" %}" type="text/javascript"></script>
    <script type="text/javascript">

            var activeURL = "{% url "AdminTpp:adv" %}activate/";
            var deactiveURL = "{% url "AdminTpp:adv" %}deactivate/";
            var targetingURL = "{% url "AdminTpp:adv" %}targets/";

            $(function() {
                $(document).on('click', 'a.targets', function() {
                    var url = $(this).attr('href');

                    window.open(url, "", "width=280, height=365, directories=no, channelmode=no, location=no, menubar=no, resizable=no, scrollbars=no, status=no, titlebar=no, toolbar=no");

                    return false;
                });


                $('#example1').dataTable( {
                    "bProcessing": true,
                    "bServerSide": true,
                    "sAjaxSource": "{% url "AdminTpp:adv" %}",
                    "aoColumnDefs": [
                      { 'bSortable': false, 'aTargets': [ 0 ]


                      },
                      {
                            "aTargets": [ 0 ],
                            "mData": 0,
                            "mRender": function ( data, type, full ) {

                                if (data == "Banner"){
                                    return '<a target="_blank" href="' + full[8] + '">' + data + '</a>';
                                } else {
                                    return data
                                }

                            }
                        },
                        {
                            "aTargets": [ 5 ],
                            "mData": 5,
                            "mRender": function ( data, type, full ) {

                                if (data == "0"){
                                    return '<a href="' + activeURL + full[7] + '/">Activate</a>';
                                } else {
                                    return '<a href="' + deactiveURL + full[7] + '/">Deactivate</a>';
                                }

                            }
                        },
                        {
                            "aTargets": [ 2 ],
                            "mData": 2,
                            "mRender": function ( data, type, full ) {

                                return '<a class="targets" href="' + targetingURL + full[7] + '/">View targeting</a>';

                            }
                        },
                      { "bVisible": false,  "aTargets": [ 7,8 ] }

                   ]

                });
            });
    </script>
{% endblock %}