<ul class="sidebar-menu">
    <li class="active">
        <a href="{% url "AdminTpp:main" %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
    <li class="active">
        <a href="{% url "AdminTpp:users" %}">
            <i class="fa fa-dashboard"></i> <span>Users</span>
        </a>
    </li>
    <li class="active">
        <a href="{% url "AdminTpp:adv" %}">
            <i class="fa fa-dashboard"></i> <span>Advertisement</span>
        </a>
    </li>
</ul>