{% extends 'usersites_templates/galil/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load humanize %}
{% load inclusionTags %}
{% load content_tags %}

{# including the slider. The slider will apear only on the main page. #}
{% block slider %}
       {% include 'usersites_templates/galil/slider.html' %}
{% endblock %}

{% block content %}

<section class="content__info grid-layout">

{#----------------------------#}

{#      <div class="container">#}
{#        <div class="col-md-12 full-banner">#}
{#          <img src="images/fullbanner.jpg" class="img-responsive" />#}
{#        </div>#}
{#        </div>#}

    <div class="container">
{#        <div class="col-md-3 col-sm-6 col-xs-12 side-nav-wrapper"><!-- left nav -->#}
{#            {% include 'usersites_templates/galil/site_sidebar.html' %}#}
{##}
{##}
{#          <div class="banner">#}
{#            {% site_banner "top" "SITES RIGHT 1" %}#}
{#          </div>#}
{#          <div class="banner">#}
{#            {% site_banner "top" "SITES RIGHT 2" %}#}
{#          </div>#}
{#          <div class="banner">#}
{#            {% site_banner "top" "SITES RIGHT 3" %}#}
{#          </div>#}
{#            <div class="banner">#}
{#            {% site_banner "top" "SITES RIGHT 4" %}#}
{#          </div>#}
{##}
{#        </div><!-- End of left nav -->#}


        {% coupons 'B2CProducts/main_coupons.html' 2 %}

          <hr class="divider">

        </div>

        {% b2c_products 'B2CProducts/main_products.html' 8 %}



{#-----------------------------#}





    {# Row for business proposals and news. If there are no bp the news will take a full line. #}
    {# The proposals will have the same design as the news, so i am using the news styles. #}
    <div class="container">

        <div class="row news">
                {% proposal 'Proposals/wall.html' 2 %}

                {% news 'News/wall.html' 2 %}

        </div><!-- end of news modoul -->
    </div>


</section>

{% endblock %}