{% load i18n %}{% load staticfiles %}
{% load CustomFilters %}

{#---------------------------#}

     <!-- Navigation -->
      <div class="navbar" role="navigation">
        <div class="container">

{#          <div class="navbar-header">#}
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
{#                {% if site.user_site.logo %}#}
                    <img src="{{ site.user_site.logo.big }}" alt="">
{#                {% else %}#}
{#                  <img src="{% static 'b24online/img/item.jpg' %}" alt="" />#}
{#                {% endif %}#}
                    </a>
                </div>
{#            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">#}
{#            <span class="sr-only">Toggle navigation</span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            </button>#}
{#          </div>#}


{#          <div class="collapse navbar-collapse">#}
              <ul class="nav navbar-nav top-nav">

                  {# Registration. login and logout #}
                  {% if user.is_authenticated %}
                        {% get_messages_number as messages_number %}
                        <li>
                        <a href="{% url 'my_profile' %}">
                            {% if request.user.profile.avatar %}
                                <img src="{{ request.user.profile.avatar.th }}" 
                                    style="vertical-align:middle;margin-top:-4px;width:18px;">
                            {% else %}
                                <img src="/static/b24online/img/profile_24x24.jpg">         
                            {% endif %}
                            &nbsp;
                            {% if request.user.profile %}
                                {{ request.user.profile.full_name }}
                            {% else %}
                                {{ request.user }}
                            {% endif %}                            
                        </a>
                        </li>
                        <li>
                        <a href="{% url 'auth_logout' %}">{% trans 'Sign out' %}</a>
                        </li>
                        <li>
                        <a href="{% url 'messages:main' %}">
                            <img style="width:24px; margin-right: 4px;" class="flag-icon" src="/static/usersites/images/messages.png">{{ messages_number }}
                        </a>
                        </li>
                  {% else %}
                        <li>
                        <a href="{% url 'registration_register' %}" class="dialog-open"
                            data-title="{% trans 'User registartion' %}">{% trans 'Register' %}</a>
                        </li>
                        <li>
                        <a href="{% url 'auth_login' %}" class="dialog-open"
                            data-title="{% trans 'Sign in' %}">{% trans 'Sign in' %}</a>
                        </li>
                   {% endif %}

                  <li><a href="{% url 'b2c_products:basket' %}"><span class="glyphicon glyphicon-shopping-cart"></span>{{ request|basket_quantity }}</a></li>
                  <li>
                    <div class="tmp_search  top_search clearfix">
                        <form action="{% url 'b2c_products:search' %}">
                            <input type="text" placeholder="Search" name="s">
                        </form>
                    </div>
                  </li>

                  <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#"><img style="width:24px;" class="flag-icon" src="/static/b24online/bt/flags/{{ LANGUAGE_CODE }}.png"></a>

                        {% get_available_languages as LANGUAGES %}

                        <div id="lang-dropdown" role="menu" class="dropdown-menu">
                            {% for code, lang in LANGUAGES %}
                              {% if not code == LANGUAGE_CODE %}
                                  <a href="http://{{ code }}.{{ site }}{{ request.path }}"><img class="flag-icon" src="/static/b24online/bt/flags/{{ code }}.png"></a>
                              {% endif %}
                          {% endfor %}
                        </div>
                    </li>

                </ul>
          </div>

        </div>
      </div><!-- End of top Navigation -->

      <div class="container">

          <nav class = "navbar navbar-default navbar-static-top main-nav hidden-xs" role = "navigation">

              <ul class = "nav nav-justified">
                 <li><a href="{% url 'main' %}">{% trans 'Home' %}</a></li>
                 <li><a href="{% url 'pages:about' %}">{% trans 'About us' %}</a></li>

                    {% if not is_chamber %}
                        {% if site.user_site.organization.b2c_products.exists %}
                            <li><a href="{% url 'b2c_products:main' %}">{% trans 'B2C Products' %}</a></li>
                        {% endif %}
                    {% endif %}

                    {# here need to check if there are coupons and add to the menu #}
                    {% if site.user_site.organization.b2c_coupons %}
                        <li><a href="{% url 'b2c_products:main' %}">{% trans 'B2C Coupons' %}</a></li>
                    {% endif %}

                    {% if site.user_site.organization.proposals.exists %}
                        <li><a href="{% url 'proposal:main' %}">{% trans 'Business proposals' %}</a></li>
                    {% endif %}

                    {% if site.user_site.organization.news.exists %}
                        <li><a href="{% url 'news:main' %}">{% trans 'Company news' %}</a></li>
                    {% endif %}

        {#                    {% if site.user_site.organization.galleries.exists %}#}
        {#                        <li><a href="{% url 'pages:gallery' %}">{% trans 'Gallery' %}</a></li>#}
        {#                    {% endif %}#}

                    <li><a href="{% url 'pages:contacts' %}">{% trans 'Contact us' %}</a></li>
              </ul>

          </nav>

      <nav class = "navbar navbar-default navbar-static-top main-nav visible-xs xs-navbar" role = "navigation">

              <ul class = "nav nav-justified">
                 <li><a href="{% url 'main' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                 <li><a href="{% url 'pages:about' %}"><i class="fa fa-users" aria-hidden="true"></i></a></li>

                    {% if not is_chamber %}
                        {% if site.user_site.organization.b2c_products.exists %}
                            <li><a href="{% url 'b2c_products:main' %}"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
                        {% endif %}
                    {% endif %}

                    {% if site.user_site.organization.proposals.exists %}
                        <li><a href="{% url 'proposal:main' %}"><i class="fa fa-briefcase" aria-hidden="true"></i></a></li>
                    {% endif %}

                    {% if site.user_site.organization.news.exists %}
                        <li><a href="{% url 'news:main' %}"><i class="fa fa-newspaper-o" aria-hidden="true"></i></a></li>
                    {% endif %}

        {#                    {% if site.user_site.organization.galleries.exists %}#}
        {#                        <li><a href="{% url 'pages:gallery' %}">{% trans 'Gallery' %}</a></li>#}
        {#                    {% endif %}#}

                    <li><a href="{% url 'pages:contacts' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></li>
              </ul>

          </nav>
      </div>

{# secondary menu - custom gages #}
      <div class="container">
        <div class="cust-nav">
           {% for page in site.user_site.organization.additional_pages.all %}
                <button type="button" class="btn cust-nav__btn"><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></button>
            {% endfor %}
        </div>{# /secondary menu #}
      </div>
      <!-- end navigation -->

{#---------------------------#}

