{% load i18n %}
{% load CustomFilters %}
{% load cache %}
{% load inclusionTags %}
{% load content_tags %}
{% load mptt_tags %}


{#<h2 class="page-header section-header"><a href="#">Categories</a></h2>#}
{##}
{#{% b2c_categories as categories %}#}
{##}
{#    <div class="panel-group" id="accordion"> {# open the wrap panel div #}
{##}
{#        {% for pk, category in categories.items %}#}
{#            {% with forloop.counter|add:1 as nextcounter %}#}
{#            {% with categories.items|get_at_index:"nextcounter" as nextitem %}#}
{##}
{#              counter =  {{ forloop.counter }} next = {{ nextcounter }} level {{ category.level }} nextitem {{ nextitem.name }}#}
{#            {% if category.name != 'b2c-category' %}#}
{##}
                {# starting with the first list item - starting the next list group #}
{#                {% if forloop.counter == 2 %}#}
{#                        <div class="panel panel-default">#}
{##}
{#                          <div class="panel-heading">#}
{#                            <h4 class="panel-title">#}
{#                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="sidebar-list-item">{{ category.name }}</a>#}
{#                            </h4>#}
{#                          </div>#}
{##}
{#                        {% if categories.items.nextcounter.level == 1 %}#}
{#                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">#}
{#                                <div class="list-group">#}
{#                        {% endif %}#}
{##}
                {# if pk!=1 this is not the first cat. #}
                {# if level 2 create a link. if level 1 close the prev list and open a new one #}
{#                {% else %}#}
{##}
{#                            {% if category.level == 1 %}#}
{#                                <a href="{% url 'b2c_products:category' category.slug pk %}" class="list-group-item">{{ category.name }}</a>#}
{#                            {% elif category.level == 0 %}#}
{#                                {% if categories.items.prev.level == 1 %}#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    {% else %}#}
{#                                    </div>#}
{#                                        <div class="panel panel-default">#}
{##}
{#                                          <div class="panel-heading">#}
{#                                            <h4 class="panel-title">#}
{#                                              <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}" class="sidebar-list-item">{{ category.name }}</a>#}
{#                                            </h4>#}
{#                                          </div>#}
{##}
{#                                        {% if categories.items.next.level == 1 %}#}
{#                                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">#}
{#                                                <div class="list-group">#}
{#                                        {% endif %}#}
{#                                 {% endif %}#}
{#                            {% endif %}#}
{##}
{#                {% endif %}{# end if pk == 1 and else #}
{##}
{#            {% endif %}{# end if not b2c category #}
{#            {% endwith %}#}
{#            {% endwith %}#}
{#        {% endfor %}{# end the main for #}
{##}
{#     close the last div #}
{#        </div> {# close collapse list #}
{#      </div> {# close collapse menu #}
{#    </div> {# close a panel element #}
{##}
{#</div> {# open the wrap panel div #}

<h2 class="page-header section-header"><a href="#">Categories</a></h2>


{% b2c_categories show_as_list=1 as categories %}

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="list-group">
                {% for pk, category in categories.items %}

                    {% if category.name != 'b2c-category' %}
                        <a href="{% url 'b2c_products:category' category.slug pk %}" class="list-group-item">{{ category.name }}</a>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    </div>



<div class="banners-pack">
      <div class="col-md-12 col-sm-12 col-xs-12 banner banner_cat">
        {% site_banner "top" "SITES RIGHT 1" %}
        {% site_banner "top" "SITES RIGHT 2" %}
        {% site_banner "top" "SITES RIGHT 3" %}
      </div>
</div>


