{% load i18n %}
{% load CustomFilters %}
{% load cache %}
{% load inclusionTags %}
{% is_chamber_site as is_chamber %}
{% load mptt_tags %}

{% if categories %}
    <h2 class="page-header section-header"><a href="#">Categories</a></h2>

    <div class="panel-group sidebar side-bar" id="accordion">

    <div class="panel panel-default">
        {% for pk, category in categories.items %}
            {% recursetree nodes %}

              <div class="panel-heading">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-plus-sign">
                        </span>{{ category.name }}</a>
                    </h4>
              </div>

                <div id="collapse{{ pk }}" class="panel-collapse collapse ">

                    {% if not node.is_leaf_node %}
                        <ul class="list-group">
                          <li class="list-group-item">
                              <a href="{% url 'b2c_products:category' category.slug pk %}">{{ "-"|multiply:category.level|multiply:2 }} {{ category.name }}</a>
                          </li>
    {#                    {{ children }}#}
                        </ul>
                    {% endif %}

                </div>
            {% endrecursetree %}
        {% endfor %}
    </div>

  </div>

{% endif %}
