{% extends "appl/base.html" %}
{% block title %}Текущее время{% endblock %}
{% block content %}
    <p>Здравствуйте, {{ owner }}! Это Ваш личный кабинет.</p>
    <p>********************************************************************</p>
    {% if events_array %}
        <p>Последние события за {{ period }} дней на портале ТПП-Центр.</p>
        {% for event in events_array %}
            <p>{{ event.getName }}</p>
            <p>********************************************************************</p>
        {% endfor %}
    {% else %}
        <p>За последние {{ period }} дней на портале ТПП-Центр не было событий.</p>
        <p>********************************************************************</p>
    {% endif %}
{% endblock %}