{% extends 'b24online/forms.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% block content %}

<div class="newsform">
    <form method="post" action="">
    {% csrf_token %}
        <div style="margin:10px;">
            <label class="sapce">{% trans 'Realname' %}</label>
            {% if form.errors.realname %}
                <div class="error-handler"><div class="formserror">{{ form.errors.realname.0 }}</div></div>
            {% endif %}
            <input type="text" name="realname" value="{{ form.realname.value|default_if_none:"" }}" style="padding:5px;width:97%;" />
        </div>

        <div style="margin:10px;">
            <label class="sapce">{% trans 'Email' %}</label>
            {% if form.errors.email %}
                <div class="error-handler"><div class="formserror">{{ form.errors.email.0 }}</div></div>
            {% endif %}
            <input type="text" name="email" value="{{ form.email.value|default_if_none:"" }}" style="padding:5px;width:97%;" />
        </div>

        <div style="margin:10px;">
            <label class="sapce">{% trans 'Phone' %}</label>
            {% if form.errors.phone %}
                <div class="error-handler"><div class="formserror">{{ form.errors.phone.0 }}</div></div>
            {% endif %}
            <input type="text" name="phone" value="{{ form.phone.value|default_if_none:"" }}" style="padding:5px;width:97%;" />
        </div>

        <div style="margin:10px;">
            <label class="sapce">{% trans 'Message' %}</label>
            {% if form.errors.message %}
                <div class="error-handler"><div class="formserror">{{ form.errors.message.0 }}</div></div>
            {% endif %}
            <textarea name="message" rows="4" style="width:97%;resize:vertical;border:1px solid #dedede;padding:5px;">{{ form.message.value|default_if_none:"" }}</textarea>
        </div>

        <div class="newform-button">
            <input type="submit" class="btntype2" name="submmit" value="{% trans "Save" %}">
            <a href="#" onclick="javascript:history.go(-1);" class="btntype1">{% trans 'Cancel' %}</a>
        </div>
    </form>
</div>
{% endblock %}



