/* ---------- General Style ---------- */


/* ---------- Navigation Style ---------- */
.top-navigation{
	float: right;
}

.top-navigation__menu li{
	float: left; 
	padding-left: 20px;
}

.navbar-collapse{
	padding-right: 0;
}

.navbar-form{
	float: right;
}

/*---------------- products ---------*/
.product-content .price,
.product-content .d-price{
  float: left;
  margin-right: 10px;
}

/*---------------- footer ---------*/
.mail-social{
	clear: both;
}

.mailing-list{
	margin-bottom: 20px;
}

.footer-info{
	padding-top: 10px;
	margin-top: 20px;
}

.footer-info ul{
	list-style: none;
	padding: 0;
}

.footer-info ul li a{
	color: #000;
}

.footer-info ul li.li-heading{
	font-weight: bold;
}