{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
<div class="container">
    {% include "b24online/main/popupFilter.html" %}
    {% include "b24online/main/paginator.html" %}
    {% include "b24online/main/local_menu_script.html" %}
    <ul id="tv-list">
        {% for news in object_list %}
            <li>
            {% setContextMenu news %}

                <div class="title-tv">
                        {% if news.country %}
                            <i class="flag sprite {{ news.country.flag }}" title="{{ news.country.name }}"></i>
                        {% endif %}
                        {{ news.created_at|date:'d M Y' }}</div>
                	<div class="video">
                        {% if news.image %}
                            <img width="165" height="125" src="{{ news.image.small }}" title="{{ news.title }}" alt="{{ news.title }}"/>
                        {% else %}
                            <img width="165" height="125" src="http://img.youtube.com/vi/{{ news.video_code }}/0.jpg" />
                        {% endif %}
                	</div>
                    <div class="link">
                        <a href="{{ news.get_absolute_url }}" class="name">{{ news.title|truncatechars:50 }} </a>
                    </div>
                </li>
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </ul>
    {% include "b24online/main/paginator.html" %}
</div>
