{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}News{% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/company.css" %}" />
    {% endblock %}


    {% block js %}
         {{ block.super }}
        <script type="text/javascript" src="{% static "tppcenter/js/ajax.queue.min.js" %}"></script>


     <script type="text/javascript">
        $(function() {
            messagesUI.init();

        });
    </script>

    {% endblock %}

{% block keywords %}{% endblock %}

     {% block content %}
<div class="analytics">
				<div class="community">
                	<div class="messages-l">
                    	<div class="tab-cate">
                            <ul>
                                <li {% if active in organizations %} class="ui-tabs-active" {% endif %}>
                                    <a href="#message-tabs-1">{% trans "Organizations" %}</a>
                                </li>
                                <li {% if active in cabinets %} class="ui-tabs-active" {% endif %} >
                                    <a href="#message-tabs-2">{% trans "Users" %}</a>
                                </li>
                            </ul>
                        </div>
                        <div id="message-tabs-1">
                            <div class="message-tabcontent message-tabcontent-org">
								<ul class="custom-ms">
                                    <li style="display: none"><a href="#placeholder"></a> </li>

                                    {% for id, attr in organizations.items %}
                                        {% with attr.NAME|first as name %}
                                        {% with attr.IMAGE|first as image %}

                                        {% if active == id %}

                                            <li class="mess-cur ui-tabs-active">
                                                <span class="thumb">
                                                    <img src="{{ MEDIA_URL }}th/{{ image }}" />
                                                </span>
                                                <a data-url="{% url "messages:message_item" id  %}" data-user-id="{{ id }}" href="#custom-content-{{ id }}">
                                                    {{ name|truncatewords:3 }}
                                                </a>
                                            </li>

                                        {% else %}
                                            <li>
                                                <span class="thumb">
                                                    <img src="{{ MEDIA_URL }}th/{{ image }}" />
                                                </span>
                                                <a data-url="{% url "messages:message_item" id  %}" data-user-id="{{ id }}" href="{% url "messages:message_item" id  %}?box=1">
                                                    {{ name|truncatewords:3 }}
                                                </a>
                                            </li>
                                        {% endif %}

                                        {% endwith %}
                                        {% endwith %}
                                    {% endfor %}

                                </ul>
                                {% if active in organizations %}
                                    <div id="custom-content-{{ active }}">
                                        {% include "Messages/contentBox.html" %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <div id="message-tabs-2">
                            <div class="message-tabcontent message-tabcontent-cab">
								<ul class="custom-ms">
                                    <li style="display: none"><a href="#placeholder"></a> </li>

                                    {% for id, attr in cabinets.items %}
                                        {% with attr.USER_LAST_NAME|first as last_name %}
                                        {% with attr.USER_FIRST_NAME|first as first_name %}
                                        {% with attr.USER_MIDDLE_NAME|first as middle_name %}
                                        {% with attr.IMAGE|first as image %}

                                        {% if active == id %}

                                        <li class="mess-cur ui-tabs-active">
                                                <span class="thumb">
                                                    <img src="{{ MEDIA_URL }}th/{{ image }}"/>
                                                </span>
                                                <a data-url="{% url "messages:message_item" id  %}" data-user-id="{{ id }}" href="#custom-content-{{ id }}">
                                                    {{ first_name }} {{ last_name }}
                                                </a>
                                        </li>

                                        {% else %}

                                        <li>
                                            <span class="thumb">
                                                <img src="{{ MEDIA_URL }}th/{{ image }}"/>
                                            </span>
                                            <a data-url="{% url "messages:message_item" id  %}" data-user-id="{{ id }}" href="{% url "messages:message_item" id  %}?box=1">
                                                {{ first_name }} {{ last_name }}
                                            </a>
                                        </li>

                                        {% endif %}

                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                    {% endfor %}

                                </ul>

                                {% if active in cabinets %}
                                    <div id="custom-content-{{ active }}">

                                    {% include "Messages/contentBox.html" %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
     {% endblock %}

