{% load static %}
{% load i18n %}
{% for id, attr in messagesList.items %}
    {% with attr.CREATE_DATE as date %}
    {% with attr.DETAIL_TEXT|first as message %}
    {% with attr.USER_FIRST_NAME|first as fname %}
    {% with attr.USER_LAST_NAME|first as lname %}

    {% if lastDate and forloop.first %}

        {% if lastDate.day != date.day or lastDate.month != date.month or lastDate.year != date.year %}
             <div class="dateline"><span>{{ date|date:"d M Y" }}</span></div>
        {% endif %}

    {% else %}
        {% ifchanged date.day date.month date.year %}
            <div class="dateline"><span>{{ date|date:"d M Y" }}</span></div>
        {% endifchanged %}
    {% endif %}

    <div class="customline" data-message="{{ id }}" data-date="{{ date|date:"Y-n-d H:m:s.u" }}">
        <label class="time">{{ fname }} {{ lname }}    {{ date|date:"H:i" }}</label>
        <div class="clumnleft"><span class="thumb"></span></div>
        <div class="clumnright">
            <p>{{ message }}</p>
            <a href="#test">Подробнее...</a>
        </div>
    </div>

    {% if forloop.last and startDate %}
        {% if startDate.day != date.day or startDate.month != date.month or startDate.year != date.year %}
             <div class="dateline"><span>{{ date|date:"d M Y" }}</span></div>
        {% endif %}
    {% endif %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
{% endfor %}