{% load static %}
{% load i18n %}

{% if message_queryset|length < 10 %}
    <div class="last"></div>
{% endif %}

{% for message in message_queryset %}
    {% if lastDate and forloop.first %}
        {% if lastDate.day != message.created_at.day or lastDate.month != message.created_at.month or lastDate.year != message.created_at.year %}
             <div class="dateline"><span>{{ message.created_at|date:"d M Y" }}</span></div>
        {% endif %}
    {% else %}
        {% ifchanged message.created_at.day message.created_at.month message.created_at.year %}
            <div class="dateline"><span>{{ message.created_at|date:"d M Y" }}</span></div>
        {% endifchanged %}
    {% endif %}
    <div class="customline" data-message="{{ message.pk }}" data-date="{{ message.created_at|date:"Y-n-d H:m:s.u" }}">
        <label class="time">
            {% if message.sender.profile.full_name %}
                {{ message.sender.profile.full_name }}
            {% else %}
                {{ message.sender.email }}
            {% endif %}
            {% comment %}
                Date output here was made so, because standard output and filters draw UTC time, not local
            {% endcomment %}
            {{ message.created_at.hour }}:{{ message.created_at.minute|stringformat:"02d" }}
        </label>

        <div class="clumnleft">
            <span class="thumb">
                <img src="{{ MEDIA_URL }}th/{{ message.sender.profile.avatar }}"/>
            </span>
        </div>
        <div class="clumnright">
            <p>{{ message.content }}</p>
        </div>
    </div>
    {% if forloop.last and startDate %}
        {% if startDate.day != message.created_at.day or startDate.month != message.created_at.month or startDate.year != message.created_at.year %}
             <div class="dateline"><span>{{ message.created_at|date:"d M Y" }}</span></div>
        {% endif %}
    {% endif %}
{% empty %}
    {% if startDate %}
         <div class="dateline"><span>{{ startDate|date:"d M Y" }}</span></div>
    {% endif %}
{% endfor %}