{% extends 'usersites/index.html' %}
{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}
{% block content %}
    {{ block.super }}
    {% include 'usersites/Paginator.html' %}
    <ul class="walllist">
        {% for proposal in object_list %}
            <li>
                <h3><a href="{{ proposal.get_absolute_url }}">{{ proposal.title }}</a></h3>
                <div class="desc">
                    <p class="date">{% trans 'Date' %}:  {{ proposal.created_at|date:'d M Y' }}</p>
                    <p>{{ proposal.description|cleanHtml|safe|truncatewords_html:"30" }}</p>
                    <p class="linkmore"><a href="{{ proposal.get_absolute_url }}">{% trans "More" %}...</a></p>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include 'usersites/Paginator.html' %}
{% endblock %}