{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block keywords %}{% endblock %}

{% block title %}{% trans 'Banners' %}{% endblock %}

{% block content %}
            <div class="new-details">

                {% for site, types in sites.items %}

                    <ul class="ads-clumn">
                        <li><h3>{{ site }}</h3></li>

                        {% for id, attr in types.items %}
                            {% with attr.NAME|first as name %}
                            {% with attr.WIDTH|first as width %}
                            {% with attr.HEIGHT|first as height %}
                                <li><a href="{% url "adv_banners:banner_form" id %}" class="btn-size">
                                    <span>{{ name }}</span> | <span>{{ width }} X {{ height }}</span>
                                </a></li>
                            {% endwith %}
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}

                    </ul>

                {% endfor %}

            </div>

{% endblock %}