{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% if saved == 1%}
<div style="color: navy;margin-left: 200px;margin-top: 80px;font-size: 20px;">{% trans 'Your profile was updated' %}</div>
{% endif %}

<form enctype="multipart/form-data" method="post" action="" xmlns="http://www.w3.org/1999/html">


{% csrf_token %}


    <div class="user-profile">

            	<div class="profile-l">
                {% if avatar %}
                	<div class="avatar"><img src="{{ MEDIA_URL }}big/{{ avatar }}" alt="" /></div>
                {% endif %}
                {% if form.personal_status.errors   %}<div style="color: #ff0000">{{ form.personal_status.errors.as_text }}</div>{% endif %}
                    {% for choice in form.personal_status %}
                               <div class="line">{{ choice }}</div>
                            {% endfor %}

                    <div class="line"><b>{% trans 'Change avatar' %}</b></div>

                     <input type = "button" value = "Choose image"
                     onclick ="javascript:document.getElementById('imagefile').click();">
                    <input id = "imagefile" type="file" style='visibility: hidden;' name="image"/>

                </div>
                <ul class="profile-clumn">
                	<li>
                    	<label>{% trans 'Last name' %}</label>
                        {{ form.last_name }}
                         {% if form.last_name.errors   %}<div class="formerror">{{ form.last_name.errors.as_text }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>{% trans 'Name' %}</label>
                         {{ form.first_name }}
                         {% if form.first_name.errors   %}<div class="formerror">{{ form.first_name.errors.as_text }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>{% trans 'Middle name' %}</label>
                        {{ form.middle_name }}
                         {% if form.middle_name.errors   %}<div class="formerror">{{ form.middle_name.errors.as_text }}</div>{% endif %}
                    </li>
                    <li style="margin-bottom: 15px;">
                    	<label>{% trans 'Email' %}</label>
                        {{ form.email }}
                         {% if form.email.errors %}<div class="formerror">{{ form.errors.email }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>{% trans 'WWW' %}</label>
                         {{ form.site_name }}
                         {% if form.site_name.errors   %}<div class="formerror">{{ form.site_name.errors.as_text }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>ICQ</label>
                         {{ form.icq }}
                         {% if form.icq.errors   %}<div class="formerror">{{ form.icq.errors.as_text }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>Skype</label>
                         {{ form.skype }}
                         {% if form.skype.errors   %}<div class="formerror">{{ form.skype.errors.as_text }}</div>{% endif %}
                    </li>
                </ul>
                <ul class="profile-clumn">
                	<li>
                    	<label>{% trans 'Country' %}</label>
                         {{ form.country }}
                    </li>
                    <li>
                    	<label>{% trans 'Your organization' %}	</label>
                         <select id="id_CURRENCY" name="CURRENT_COMPANY">
                             {% for id, company in companies.items %}
                               <option value="{{ id }}"{% if current_company == id%} selected {% endif %}>{{ company.NAME.0 }}</option>
                             {% endfor %}
                           </select>
                    </li>
                    <li>
                    	<label>{% trans 'Sex' %}</label>
                        <div style="margin-bottom: 15px;" class="radio">
                           {% for choice in form.sex %}
                               {{ choice }}
                            {% endfor %}
                        {% if form.sex.errors   %}<div class="formerror">{{ form.sex.errors.as_text }}</div>{% endif %}
                        </div>
                    </li>
                    <li>
                    	<label class="small">{% trans 'Birthday' %}</label>
                        {{ form.birthday }}
                         {% if form.birthday.errors   %}<div class="formerror">{{ form.birthday.errors.as_text }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>{% trans 'Telephone Number' %}</label>
                       {{ form.telephone_number }}
                         {% if form.telephone_number.errors   %}<div class="formerror">{{ form.telephone_number.errors.as_text }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>{% trans 'Mobile number' %}</label>
                         {{ form.mobile_number }}
                         {% if form.mobile_number.errors   %}<div class="formerror">{{ form.mobile_number.errors.as_text }}</div>{% endif %}
                    </li>
                    <li>
                    	<label>{% trans 'Profession' %}</label>
                         {{ form.profession }}
                         {% if form.profession.errors   %}<div class="formerror">{{ form.profession.errors.as_text }}</div>{% endif %}
                    </li>
                </ul>

                <div class="profilebutton">

                	<input class="btntype2" type="submit" name="submit" value="{% trans 'Save' %}"/>
                    <a class="btntype1" href="#">{% trans 'Cancel' %}</a>
                </div>
            </div>



</form>






