{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}


   {% block title %}Profile{% endblock %}



    {% block header %}
        {% include "login_header.html" %}
    {% endblock %}


    {% block js %}
        {{ block.super }}
            <script type="text/javascript">
                $(function() {
                    $(".date").datepicker();
                    });
            </script>
    {% endblock %}


    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/news.css" %}" />
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/company.css" %}"/>
         <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/datepicker.css" %}" />


    {% endblock %}



     {% block content %} {{ profilePage }}{% endblock %}
