{% extends 'usersites/index.html' %}{% load static %}{% load i18n %}{% load CustomFilters %}{% load staticfiles %}{% load humanize %}
{% block title %}{{ title }}{% endblock %}
{% block content %}

<div class="basket_detail">
<h2>{% trans 'List of products:' %}</h2>

{% if products %}
<form method="post" action="">{% csrf_token %}
<table>
{% for i in products %}

  <tr style="background:#{% cycle 'ffffff' 'fafafa' %}">
    <td class="image">
        <a href="{% url 'b2c_products:detail' i.product_id.slug i.product_id.pk %}">
            {% if i.product_id.image %}
                <img src="{{ i.product_id.image.small }}" alt="i.name">
            {% else %}
                <img id="largeImage" src="{% static 'b24online/img/item.jpg' %}" alt="" />
            {% endif %}
        </a>
    </td>

    <td class="main">
        <a href="{% url 'b2c_products:detail' i.product_id.slug i.product_id.pk %}">
            <h2 style="padding-bottom:5px;">{{ i.product_id.name }} ({{ i.product_id.name }})</h2>
        </a>
        <p>{{ i.product_id.short_description|truncatewords:30 }}</p>
    </td>

    <td class="last">
        {% if i.product_id.cost %}
        Price<br>
        <strong>
            <span class="raw_cost">{{ i.product_id.cost|formatPrice }}</span>
            <span class="currency_symbol">{{ i.product_id.currency|getSymbol }}</span>

            <input type="hidden" name="product_id" value="{{ i.product_id.id }}">
            <input class="quantity" type="text" name="quantity" value="{{ i.quantity }}">

            <a href="{% url 'b2c_products:basket' %}?del={{ i.product_id.id }}" onclick="if (confirm('{% trans "Are you sure delete this product?" %}'));" class="btn-cancel"><i class="icon-cancel"></i></a>
        </strong>
        {% else %}
            {% trans 'Contact to price' %}
        {% endif %}
    </td>

  </tr>

{% endfor %}
</table>

<hr>

<div class="basket_buttons">
 <a href="{% url 'b2c_products:basket' %}?clean=1" class="red-btn">
        {% trans 'Clean basket' %}
    </a>
</div>

<div style="text-align:right">
<p id="total_cost"><strong>Total: {{ price.total|intcomma }} {{ products.get_currency }}</strong>
<strong class="currency_for_total_cost"></strong></p>
<button class="basket-btn btn-green" style="display:none;">{% trans "Send to E-mail" %}</button>
<button class="basket-btn">{% trans "Update price" %}</button>
</form>

<div style="text-align:right">
{% if paypal_form %}
<br>
{{ paypal_form.render }}
{% else %}
    <a class="bigbuy contact-us" style="display:block;margin-top:5px;" href="{% url 'pages:contacts' %}" >{% trans 'Countact us' %}</a>
{% endif %}

</div>

{% else %}
<br>
<p>{% trans 'Your basket is empty.' %}</p>
{% endif %}

</div>
</div>

<script>

    var currency=document.getElementsByClassName('currency_symbol')[0];
    $(document).ready(function(){
        $('.currency_for_total_cost').html(currency.innerHTML);
    });

</script>

{% endblock %}