{% extends 'usersites/index.html' %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% block js %}
    {{ block.super }}

    <script>
        $(document).ready(function() {
            $('.category-selector').on('change', function() {
                window.location.href = this.value
            });
        });
    </script>
{% endblock %}
{% block content %}
    {{ block.super }}
    <div>
        {% trans 'Categories' %}: <select class="category-selector">

            <option value="{% url 'b2c_products:main' %}">{% trans 'Slect Category' %}</option>
            {% for pk, category in categories.items %}
            <option {% if selected_category == category %}selected="selected"{% endif %} value="{% url 'b2c_products:category' category.slug pk %}">
                {{ "-"|multiply:category.level|multiply:2 }} {{ category.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    {% include 'Paginator.html' %}
    <ul class="listprd">
        {% for product in object_list %}
            <li>
                <div class="thumb">
                    <a href="{% url 'b2c_products:detail' product.slug product.pk %}">
                        {% if product.image %}
                          <img style="max-width: 150px; max-height: 138px;" id="largeImage" src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
                        {% else %}
                          <img id="largeImage" src="{% static 'b24online/img/item.jpg' %}" alt="" />
                        {% endif %}
                    </a>
                </div>
                <div class="link">
                    <a href="{% url 'b2c_products:detail' product.slug product.pk %}" class="name">{{ product.name|truncatewords:8 }}</a>
                </div>
                <div class="price">
                    {% if product.cost %}
                        {{ product.cost|formatPrice }} {{ product.currency|getSymbol }}
                    {% else %}
                        {% trans 'Contact to price' %}
                    {% endif %}
                </div>
                <a href="{% url 'b2c_products:detail' product.slug product.pk %}" class="btnbuy">{% trans "Buy" %}</a>
            </li>
        {% endfor %}
    </ul>
    {% include 'Paginator.html' %}
{% endblock %}