{% extends 'usersites/index.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load staticfiles %}
{% load inclusionTags %}
{% load humanize %}
{% block content %}
    {{ block.super }}


   <section class="content__info grid-layout">

        <div class="product_box clearfix">
            <h2>{{ object.name }} {{ object.sku }}</h2>
            <div class="preview">
                {% if object.image %}
                  <img src="{{ object.image.big }}" alt="{{ object.name }}" title="{{ object.name }}" />
                {% else %}
                  <img src="{% static 'b24online/img/item.jpg' %}" alt="" />
                {% endif %}
            </div>
            <div class="info">
                <form>
                    <table>
                        <tbody>
                            <tr>
                                <td>{% trans "Price" %}:</td>
                                <td>{{ object.currency|getSymbol }} {% if object.is_coupon %}{{ object.get_discount_price }}{% else %}{{ object.cost|formatPrice }}{% endif %}</td>
                            </tr>
                                {% if object.measurement_unit %}
                                <tr>
                                    <td>{% trans 'Unit' %}:</td>
                                    <td>{{ object.get_measurement_unit_display }}</td>
                                </tr>
                                {% endif %}
                            <tr>
                                <td>{% trans 'Amount' %}:</td>
                                <td><input type="text" id="item-amount" ng-model="quantity" name="amount"></td>
                                </form>
                            </tr>

                            <tr>
                                <td></td>
                                <td>
                                    {% if paypal_form %}
                                    {{ paypal_form.render }}
                                    {% else %}
                                        <a class="bigbuy contact-us" href="{% url 'pages:contacts' %}" >{% trans 'Countact us' %}</a>
                                    {% endif %}
                                </td>

                            <tr>
                                <td></td>
                                <td>
                                    {% b2b_social_buttons object.image object.name object.description %}
                                </td>

                            </td>
                        </tbody>
                    </table>

                    <!-- MyAwesomeBasket -->
                    <button ng-disabled="add_to_basket" ng-click="addToBasket({{object.pk}}, quantity)">
                        <span ng-hide="add_to_basket"><i class="icon-basket">&nbsp;</i>{% trans 'Add to basket' %}</span>
                        <span ng-show="add_to_basket"><i class="icon-ok">&nbsp;</i>{% trans 'Done!' %}</span>
                    </button>

            </div>
        </div>



            {% comment %}
            <li>
                <label>{% trans 'Deleviry method' %}:</label>
                 <div class="rightinfo">
                        <span class="trans-services"><i class="imgmain transport trans-1"></i></span>
                        <span class="trans-services"><i class="imgmain transport trans-2"></i></span>
                        <span class="trans-services"><i class="imgmain transport trans-3"></i></span>
                        <span class="trans-services"><i class="imgmain transport trans-4"></i></span>
                        <span class="trans-services"><i class="imgmain transport trans-5"></i></span>
                 </div>
            </li>
            {% endcomment %}

        <div class="InfoTabs">
            <ul>
                <li><a href="#tabs-1">{% trans 'About Company' %}</a></li>
                <li><a href="#tabs-2">{% trans 'Document' %}</a></li>
                <li><a href="#tabs-3">{% trans 'Gallery' %}</a></li>
            </ul>


            <div id="tabs-1">
                {{ object.description|cleanHtml|safe }}
            </div>


            <div id="tabs-2">
                <ul class="tpp-gallery gallery">
                    {% for document_obj in object.documents.all %}
                    <li>
                        <div class="b-img">
                            <a target="_blank" href="{{ document_obj.document.url }}">
                                <img src="{% static "b24online/img/file_icon.png" %}" />
                            </a>
                            <div class="viewimge">
                                <a target="_blank" href="{{ document_obj.document.url }}">
                                    <i class="imgnews"></i><span class="zoomtext">{% trans 'Download' %}</span>
                                </a>
                            </div>
                            <div class="gray-img"></div>
                        </div>
                        <div>{{ document_obj.name }}</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>


            <div id="tabs-3">
                <ul class="gallery">
                {% for gallery_obj in object.gallery_images %}
                    <figure>
                            <a rel="gallery" fancybox class="fancybox" href="{{ gallery_obj.image.original }}">
                                <img alt="" src="{{ gallery_obj.image.big }}" />
                            </a>
                    </figure>
                {% endfor %}
                 </ul>
            </div>
        </div>
    </section>


{% endblock %}