.companies{ position:relative; float:left; width:100%; padding-bottom:20px; margin:10px 0 0 0;}

.company-list{ position: relative; float: left; width: 100%;}
.company-list li{ position: relative; float: left; width: 100%; background-color: #fafafa; margin: 10px 0 0 0; padding: 8px 0 12px 0;}
.company-list li .title{ float: left; width: 100%;font-size: 16px; font-weight: bold;}
.company-list li .title .flag{ float: left; width: 18px; height: 12px; margin:4px 8px 0 12px; display: inline;}
.company-list li .title a{ display: block; font-size: 16px; font-weight: bold; padding-right: 10px;}
.company-list li .company-infor{ position: relative; float: left; width: 100%; margin: 10px 0 0 0;}
.company-list li .company-infor .logocompany{ float: left; max-width: 70px; max-height: 60px; background: url(../img/shadow-cpn.png) no-repeat left bottom; padding-bottom: 4px; margin: 0 10px 0 12px; display: inline;}
.company-list li .company-infor .desc{ float: left; width: 348px; color: #595959;}
.company-list li .company-infor .desc a.more{ display: block; padding-top: 12px;}
.company-list li .company-infor .desc p.link{ display:block; padding:0;}
.company-list li .company-infor .companycontact{ float: right; width: 175px;  border-left: 1px #e1e1e1 solid; padding-left:10px;}
.company-list li .company-infor .companycontact .line{ float: left; width: 100%; margin: 0 0 8px 0;}
.company-list li .company-infor .companycontact .line .iconinfo{ float: left; width: 25px;}
.company-list li .company-infor .companycontact .line .nameinfo{ float: left; max-width: 150px;}
.company-list li .company-infor .companycontact .line i{ display: inline-block; vertical-align: middle;}
.company-list li .company-details{ display:inline-block; width:385px; padding-top:8px;}
.company-list li p{ /*padding:12px 10px 0 10px;*/ display:inline-block;}
.logo-details{ float:left; width:70px; height:60px; margin:8px 10px 10px 10px;}
.payjoin{ position:relative; float:right; width:160px; background-color:#e8e8e8; border-radius:4px; margin:10px; display:inline;}
.payjoin span{ display:inline-block; font-size:11px; color:#4a4a4a; padding:10px;}
.btnpay{ display:inline-block; width:160px; height:36px; line-height:36px; text-align:center; font-size:15px; color:#FFF; text-shadow:-1px 1px 1px #327da2;
background-color:#2186b8; border-radius:4px;
background-image: -webkit-gradient(
linear,
left top,
left bottom,
color-stop(0, rgb(60,155,203)),
color-stop(0.49, rgb(60,159,195)),
color-stop(0.5, rgb(33,134,184)),
color-stop(1, rgb(33,136,187))
);
background-image: -moz-linear-gradient(
center top,
rgb(60,155,203) 0%,
rgb(60,159,195) 49%,
rgb(33,134,184) 50%,
rgb(33,136,187) 100%);}
.btnpay:hover{ color:#FFF; text-decoration:none; opacity:0.9; filter:alpha(opacity=90);}
.companies .social{ float:right; text-align:right;}
.cpn-details-tab{ position:relative; float:left; width:100%; background-color:#f5f5f5; border-radius:3px; border:1px solid; border-color:#CCC #FFF #FFF #CCC; box-sizing:border-box; margin: 20px 0 0 0;
box-shadow:inset 0 0 3px #CCC;}
.cpn-details-tab .tab-cate{ position:relative; float:left; width:100%; height:auto; background:#e6e6e6 url(../img/dot.png) repeat-x bottom center; font-size:11px;}
.cpn-details-tab .tab-top{position:relative; float:left; width:100%; padding:8px 0;background-color:#e6e6e6;}
.cpn-details-tab .tab-top a{ padding: 0 3px;}
.cpn-details-tab .ui-tabs-nav li a { padding:0 9px;}
.cpn-details-tab .content-goods-tab{ min-height:380px;}
.cpn-details-tab .ui-tabs-nav li.ui-tabs-active{ height:25px; line-height:25px;}
.cpn-details-tab .ui-tabs-nav li{ float:none; display:inline-block;}
.newsform label.sapce{ margin-top:8px;}

.uploadimgage input.text, .uploadimgage select, .uploadimgage textarea{ float:left; width:95%; border:1px #bdbdbd solid; padding:5px;}
.uploadimgage select{  padding:6px;}
.uploadimgage input.date{ float:left; width:95%; border:1px #bdbdbd solid; padding:5px; background:#FFF url(../img/date.png) no-repeat right center;}
.uploadconfig .company{ float:left; width:168px; border:1px #bdbdbd solid; background-color:#FFF;}
.uploadconfig .company li{ display:block; padding:3px 8px 4px 8px; color:#484848; margin-bottom:0; width:152px; cursor:pointer; margin:0;}
.uploadconfig .company li.selected{ background-color:#4a4a4a; color:#FFF;}
.addpage-form input.text{ margin-bottom:8px;}


.deals{ position:relative; float:left; width:100%; margin:12px 0;}
.table-deals{ float:left; width:100%; margin:12px 0 0 0;}
.table-deals tr td{ padding:8px 8px 8px 8px; font-size:11px;}
.table-deals tr:nth-child(2n+1){ background-color:#fcfcfc;}
.table-deals tr.top{ background-color:#e8e8e8;}
.table-deals tr.top td{ font-size:12px; font-weight:bold;}
.deal-details{box-sizing: border-box; position:relative; float:left; width:100%; background-color:#fafafa; padding:10px; margin:12px 0 0 0;}
.deal-details h3{ font-size:16px; font-weight:bold; padding-bottom:10px; float:left; width:100%;}
.deal-details .thumb-deal{ float:left; max-width:150px; max-height:130px; background:url(../img/shadow-cpn.png) no-repeat left bottom; padding-bottom:4px; margin:0 10px 10px 0; color:#595959;}
.deal-details .flag{ float:left; width:18px; height:12px; padding:4px 8px 0 0;}
.deal-details p{ padding-top:12px;}
.deals-info{ position:relative; float:left; width:100%; margin:20px 0 0 0;}
.deals-info-left{ position:relative; float:left; width:40%;}
.deals-info-left li{ float:left; width:100%; margin-bottom:10px; color:#9b9b9b}
.deals-info-left li label{ float:left; width:90px; margin-top:3px;}
.deals-info-left li .right{ float:left; font-size:15px; font-weight:bold; color:#000;}

.tenderline{ width: 95%; padding:10px 20px 20px 20px;}
.tenderline li{ float:left; width:100%; margin:12px 0 0 0;}
.tenderline li input.text, .tenderline li select, .tenderline li textarea{ float:left; width:97%; border:1px #bdbdbd solid; padding:5px;}
.tenderline li select{ float:left; width:98%; padding:6px;}
.tenderline li label{ float:left; width:100%; font-weight:bold; padding-bottom:5px;}
.tenderline li .clumn1, .tenderline li .clumn2{ width:300px;}
.tenderline li .clumn3, .tenderline li .clumn4{ width:49%;}
.tenderline li .clumn3 span, .tenderline li .clumn4 span{ float:left; line-height:22px; margin-right:4px; display:inline;}
.tenderline li .clumn1, .tenderline li .clumn3, .tenderline li .clumn5{ float:left;}
.tenderline li .clumn2, .tenderline li .clumn4, .tenderline li .clumn6{ float:right;}
.tenderline li .clumn5, .tenderline li .clumn6{ width:32%;}
.tenderline li input.date{ float:left; width:95%; border:1px #bdbdbd solid; padding:5px; background:#FFF url(../img/date.png) no-repeat right center;}
.tenderline li .editor{ float:left; border:1px #bdbdbd solid;}
.tenderline li .line{ float: left; width: 100%; margin-top: 5px;}
.tenderline li .line .buttonclear{ width: auto; padding: 0 35px;}

.tender-list{ position: relative; float: left; width: 100%;}
.tender-list li{ position: relative; float: left; width: 640px; background-color: #fafafa; margin: 10px 0 0 0; padding:10px;}
.tender-list li .title{ float: left; width: 100%;font-size: 16px; font-weight: bold;}
.tender-list li .title .flag{ float: left; width: 18px; height: 12px; margin:4px 8px 0 0; display: inline;}
.tender-list li .title .name{display: block; color:#9b9b9b; padding-right: 10px; font-size:12px; font-weight:normal; padding-top:2px;}
.tender-list li h2{ float:left; width:100%; font-size:16px; font-weight:bold; color:#0089bc; padding-top:12px;}
.tender-list li .line{ float:left; width:100%; padding:12px 0 0 0; color:#9b9b9b;}
.tender-list li .number{ font-size:15px; font-weight:bold; color:#000;}
.tender-list li .linkmore{ position:absolute; right:10px; bottom:10px;}
.tender-list li .button-r{ position:absolute; top:30px; right:10px;}
.tender-list li .button-r .bigbuy{ padding:8px 30px;}
#afisha-list h2{ max-width:65%;}

.tender{ position:relative; float:left; width:100%; padding-bottom:20px; margin:30px 0 0 0;}
.tender-details-title{ float: left; width: 100%;font-size: 16px; font-weight: bold;}
.tender-details-title .flag{ float: left; width: 18px; height: 12px; margin:4px 8px 0 0; display: inline;}
.tender-details-title .name{display: block; color:#9b9b9b; padding-right: 10px; font-size:12px; font-weight:normal; padding-top:2px;}
.tender-info{ position:relative; float:left; width:100%; margin:15px 0 0 0 ;}
.tender-info .title{ float:left; width:73%; font-size:16px; font-weight:bold; color:#000;}
.tender-info ul.infolist li{ float:left; width:100%; margin:12px 0 0 0;}
.tender-info ul.infolist li label{ float:left; width:190px; color:#9b9b9b;}
.tender-info ul.infolist li .right{ float:left; color:#000;}
.tender-info ul.infolist li .right .price{ font-size:15px; font-weight:bold; color:#1d82b4;}
.tender-bottom{ float:left; width:100%;}
.tender-bottom-left{ float:left; width:49%; line-height:26px; margin:12px 0 0 0;}
.tender-bottom-right{ float:right; width:49%; text-align:right;}
.tender-bottom-left .thumb{ float:left; width:30px; margin-right:8px;}
.tender-button{ position:absolute; top:-15px; right:0;}
#resume-dt{ margin:0;}
#afisha-info .title{ color:#0089bc; max-width:65%;}
.tender-info ul.inforesume li{ float:left; width:100%; margin:8px 0 0 0;}
.tender-info ul.inforesume li label{ float:left; width:115px; color:#9b9b9b;}
.tender-info ul.inforesume li .right{ float:left; color:#000; font-weight:bold;}
.tender-info ul.inforesume li .resume{ float:left; color:#000; font-weight:bold;margin-left: -40px;width: 90px;}

.vacancy-list{ position: relative; float: left; width: 100%;}
.vacancy-list li{ position: relative; float: left; width: 636px; background-color: #fafafa; margin: 10px 0 0 0; padding: 8px 12px;}
.vacancy-list li .h2{ float: left; width: 100%; font-size: 16px; font-weight: bold; padding-top: 12px;}
.vacancy-list li .logovacancy{ float: left; width: 70px; height: 60px; background: url(../img/shadow-cpn.png) no-repeat left bottom; margin: 8px 10px 0 0; display: inline;}
.vacancy-list li .vacancy-desc{ position:relative; float:left; width:555px; margin:8px 0 0 0;}
.vacancy-list li .vacancy-desc .flag{ float:left; width:18px; height:12px; padding-right:5px;}
.vacancy-list li .vacancy-desc .date{ color:#9b9b9b;}
.vacancy-list li .vacancy-desc p{ line-height:18px;padding-top: 10px;font-family: sans-serif;font-size: 14px;}
.vacancy-list li .vacancy-desc a.more{ display:block; text-align:right; padding-top:5px;}

.tender-list li .line .clumn{ float:left; padding-right:25px;}
.tender-list li .line .gray{ color:#4a4a4a;} 
.innov-details{ float:left; width:100%; margin:12px 0 0 0; color:#595959;}
.innov-tab-content{ float:left; margin: 0 0 0 20px; display:inline;}
.innov-tab-content li{ float:left; width:100%; margin:12px 0 0 0;}
.innov-tab-content li .left{ float:left; width:28%; color:#9b9b9b;}
.innov-tab-content li .right{ float:left; width:70%; color:#4a4a4a;}
.innov-tab-content li label{ float:left; width:100%; padding-bottom:6px; font-weight:bold;}
.innov-tab-content li input.text,.innov-tab-content li select,.innov-tab-content li textarea { float:left; width:90%; border:1px #bdbdbd solid; padding:5px;} 

.innov-coba{ float:left; width:238px; border:1px #bdbdbd solid; background-color:#FFF;}
.innov-coba li{ display:block; padding:3px 8px 4px 8px; color:#484848; margin-bottom:0; width:222px; cursor:pointer; margin:0;}
.innov-coba li.selected{ background-color:#4a4a4a; color:#FFF;}
.innov-img{ float:left; width:100%;}
.innov-img li{ float:left; width:140px; margin:20px 0 0 20px; display:inline;}

.vacancy-dt{ position:relative; float:left; width:100%; padding-bottom:20px; margin:10px 0 0 0;}
.vacancy-button{ position:absolute; top:30px; right:0;}
.bussiness-tab{ min-height:580px;}

#tpp-details-tab .ui-tabs-nav li a { padding:0 15px;}
.tpp-dt-content{ position: relative; float: left; padding:10px; width:638px; color: #595959;}
.tpp-gallery{ float:left; width:100%; padding-bottom:20px;}
.tpp-gallery li{float:left; width: 135px; margin:20px 0 0 20px; display:inline;}
.tpp-gallery li .b-img{ border:0; background:url(../img/shadow.png) no-repeat left bottom; padding-bottom:8px;}
.tpp-gallery li p{ padding-top:5px; text-align:center;}

.viewimge{ position:absolute; height:20px; line-height:20px; bottom:8px; right:0; cursor:pointer; display:none;}
.viewimge .zoom{ float:left; width:20px; height:20px; background-position:-178px -60px;}
.viewimge .zoomtext{ float:left; font-size:11px; color:#FFF; line-height:20px; width:62px; text-align:center; background-color:#000; opacity:0.8; filter:alpha(opacity=80);}
.b-img:hover .viewimge{ display:block;}
#tpp-details-tab .panging{ padding-bottom:20px;}

.tppgallery-table{ width:1100px; margin:0 auto;}
.tppgallery-tablein{ position:relative; float:left; width:100%; height:690px; background:#000;}
.tpp-zoom-gl{ position:relative; float:left; width:100%;}
.gray-img{ position:absolute; width:150px; height:130px; top:0; left:0; z-index:99; background-color:#d7d7d7; display:none;}

.black_gallery{ display: none; position: absolute; float:left; top: 0%; left: 0%; width: 100%; height:1350px; background-color: black; z-index:100; -moz-opacity: 0.8; opacity:0.8; filter: alpha(opacity=80);}
.white_gallery{display: none; position: absolute; top: 50px; left: 50%; z-index:999; width:1100px; height:690px; margin-left:-550px;}

.wall-title{ position:relative; float:left; width:100%; font-size:21px; font-weight:bold; color:#010101; margin:10px 0 0 0;}
.wall-title-bg{ position:relative; float:left; width:100%; font-size:16px; font-weight:bold; color:#010101; margin:10px 0 0 0; padding:6px 0; background-color:#e6e6e6; text-indent:12px;}

#tpp-details-tab .ui-tabs-nav li a { padding:0 15px;}
.tpp-dt-content{ position: relative; float: left; padding:10px; width:638px; color: #595959;}
.tpp-gallery{ float:left; width:100%; padding-bottom:20px;}
.tpp-gallery li{float:left; width:150px; margin:20px 0 0 12px; display:inline;}
.tpp-gallery li .b-img{ border:0; background:url(../img/shadow.png) no-repeat left bottom; padding-bottom:8px;}
.tpp-gallery li p{ padding-top:5px; text-align:center;}

.viewimge{ position:absolute; height:20px; line-height:20px; bottom:8px; right:0; cursor:pointer; display:none;}
.viewimge .zoom{ float:left; width:20px; height:20px; background-position:-178px -60px;}
.viewimge .zoomtext{ float:left; font-size:11px; color:#FFF; line-height:20px; width:62px; text-align:center; background-color:#000; opacity:0.8; filter:alpha(opacity=80);}
.b-img:hover .viewimge{ display:block;}
#tpp-details-tab .panging{ padding-bottom:20px;}


/*-------------Analytics----------*/
.analytics{ position:relative; float:left; width:100%; margin:12px 0 0 0;}
.analytics-top{ position:relative; float:left; width:100%; margin:12px 0 0 0;}
.analytics-top span.clumn{ float:left; margin-right:8px; color:#595959; line-height:24px;}
.analytics-top span.clumn label{ float:left; margin-right:4px;}
.analytics-top span.clumn input.date{ float:left; min-width:70px; border:1px #bdbdbd solid; padding:5px; background:#FFF url(../img/date.png) no-repeat right center;}
.analytics .title{ float:left; width:100%; margin:24px 0 8px 0; font-size:18px; font-weight:normal;}

.table-analytics{ float:left; width:100%; margin:12px 0 0 0;}
.table-analytics tr td{ padding:8px 0 8px 8px;}
.table-analytics tr:nth-child(2n+1){ background-color:#f5f5f5;}
.table-analytics tr.top{ background-color:#e8e8e8;}
.table-analytics tr.top td{ font-size:12px; font-weight:bold;}
.table-analytics tr td.date{ position:relative; float:right; min-width:80px;}
.avatar{ display:inline-block; width:24px; height:24px; background-color:#afafaf;}
.table-analytics tr td.date .number{ position:absolute; width:20px; height:20px; border-radius:10px; background-color:#ff0000; text-align:center; line-height:20px; color:#FFF; left:-20px;}

.messages-l{ position:relative; float:left; width:30%; border-right:1px #d8d8d8 solid; min-height:850px; background-color:#f5f5f5; box-sizing: border-box;}
.messages-l .tab-cate{ position:relative; float:left; width:100%; height:auto; background:#e6e6e6 url(../img/dot.png) repeat-x bottom center; font-size:11px;}
.message-tabcontent{ position:relative; float:left; width:100%;}
.custom-ms{ position:relative; float:left; width:100%;}
.custom-ms li{ position:relative; float:left; width:100%; margin:3px 0 0 0; font-size:12px; line-height:30px; white-space: nowrap;}
.custom-ms li .thumb{ float:left; width:24px; height:24px; background-color:#afafaf; margin:3px 8px; display:inline;}
.message-tabcontent .custom-ms li.mess-cur { background:#4a4a4a; font-weight:normal; border:0; line-height:30px; height:30px; max-width: 100%; overflow: hidden;}
.message-tabcontent .custom-ms li.mess-cur a{ color:#FFF;}
.message-tabcontent .custom-ms li.mess-cur:after{ content:""; position:absolute; width:0; height:0; right:0px; top:10px;
border-style: solid; border-width: 4px 7px 4px 0; border-color: transparent #fafafa transparent transparent;}
.custom-contentin{ position:absolute; left: 0; top: 0;}
.customtable{ position:relative; float:left; margin:0 10px;}
.dateline{ float:left; width:100%; padding:10px 0; text-align:center; background:url(../img/dota.png) repeat-x center center;}
.dateline span{ background:#f5f5f5; padding:0 8px; color:#9b9b9b; font-style:italic;}
.customline{ position:relative; float:left; width:100%; margin-bottom:15px; color:#595959;}
.customline label.time{ float:left; width:100%; color:#9b9b9b; padding-bottom:5px;}
.customline .clumnleft{ float:left; width:34px;}
.customline .clumnleft .thumb{ float:left; width:24px; height:24px; background-color:#afafaf;}
.customline .clumnleft .i-attack{ float:left; width:16px; height:17px; background-position:-199px -60px; margin:4px 0 0 5px; display:inline;}
.customline .clumnright{ float:left; width:400px;}
.custom-contentin .title{ float:left; width:100%; padding:8px 0; background-color:#e6e6e6; font-size:16px; font-weight:bold; text-indent:18px; margin-top:0; text-align:left; color:#000;}
.customform{ position:relative; float:left; text-align:center; margin:12px 12px 0 12px; display:inline; width: 97%;}
.customform .editor{ float:left; border:1px #bdbdbd solid; margin-bottom:10px; width: 100%; box-sizing: border-box;}
.customform .btntype2, .btnprice{ font-size:17px; padding:8px 40px; border:0;
background-color:#2186b8;
background-image: -webkit-gradient(
linear,
left top,
left bottom,
color-stop(0, rgb(60,155,203)),
color-stop(0.49, rgb(60,159,195)),
color-stop(0.5, rgb(33,134,184)),
color-stop(1, rgb(33,136,187))
);
background-image: -moz-linear-gradient(
center top,
rgb(60,155,203) 0%,
rgb(60,159,195) 49%,
rgb(33,134,184) 50%,
rgb(33,136,187) 100%);}
.slimScrollBar{ background:#0089bc!important; width:4px!important; opacity:1!important;}
.slimScrollRail{ width:4px!important; background:#d6d6d6!important; opacity:0.9!important}

.gray-img{ position:absolute; width:150px; height:130px; top:0; left:0; z-index:99; background-color:#d7d7d7; display:none;}

.portal-service{ position:relative; float:left; width:100%;}
.portal-service li{ position:relative; float:left; width:100%; margin:10px 0 0 0; width:636px; padding:12px; background-color:#fafafa;}
.portal-service li .titlemore, .portal-service li .titleless{ font-size:16px; font-weight:bold; color:#0089bc; text-decoration:underline; background:url(../img/more.png) no-repeat left center; padding-left:12px; display:block;}
.portal-service li .titleless{ background:url(../img/less.png) no-repeat left center;}
.portal-service li .contentportal{ position:relative; float:left; width:100%; color:#595959; display:none;}
.portal-service li .contentportal p{ padding-top:14px;}

/*---------------Tender-order----------*/
.tenderorder{ position:relative; float:right; width:880px;}
.tenderform{ position:relative; float:left; width:100%; padding-bottom:20px; margin:12px 0 0 0;}
.tenderform .tenderline{ width:100%; margin:0; padding:0;}
.tenderform .captcha{ float:left; margin-right:10px; display:inline;}
.wall-title{ position:relative; float:left; width:100%; font-size:21px; font-weight:bold; color:#010101; margin:10px 0 0 0;}
.wall-title-bg{ position:relative; float:left; width:100%; font-size:16px; font-weight:bold; color:#010101; margin:10px 0 0 0; padding:6px 0; background-color:#e6e6e6; text-indent:12px;}

.contact-table{ width:584px; margin:0 auto;}
.contact-tablein{ position:relative; float:left; width:100%; background-color:#FFF; border-radius:3px; padding:25px 0; margin-top:20%;}
.contactform{ position:relative; float:left; width:100%;}
.contactform li{ position:relative; float:left; width:80%; margin:15px 0 0 40px; color:#595959; display:inline;}
.contactform li label{ position:relative; float:left; width:100%; font-weight:bold; padding-bottom:6px;}
.contactform li .editor{ float:left; border:1px #bdbdbd solid;}
.contactform li.end{ text-align:center;}
.contactform li.end .btntype1, .contactform li.end .btntype2{ font-size:17px; padding:8px 40px;}
.closecontact{ position:absolute;}

.table-deals tr td.pr{ text-align:right;}
.table-deals tr td.status{ text-align: center; padding-left:0;}
#advertising .table-deals tr.top td{ font-size:12px;  padding:8px 0 8px 8px;}
#advertising .table-deals tr td{ font-size:13px; padding:2px 0 2px 8px;}
#advertising .table-deals tr td .thumb{ display:inline-block; width:24px; height:24px; background-color:#afafaf;}
#advertising .table-deals tr td .stt-close{ color:#f69679;}
#advertising .table-deals tr td .stt-active{ color:#197b30;}
#advertising .table-deals tr td .stt-add{ display:inline-block; height:21px; color:#FFF; line-height:21px; border-radius:3px; background: url("../img/btnbuy.gif") repeat-x; padding:0 20px; text-shadow:1px -1px 1px #327fa4;}
#advertising .table-deals tr td.end{ text-align:center;}
.ads-bottom{ position:relative; float:left; width:100%; padding:8px 0; margin:12px 0 0 0;background-color:#e8e8e8; font-size:13px; font-weight:bold; color:#4a4a4a; text-indent:18px;}
.ads-bottom .red{ color:#FF0000;}


.slimScrollDiv{ margin:15px 2px 15px 0;}
.arrow-scroll-up, .arrow-scroll-down{ position:absolute; width:10px; height:7px; right:0; z-index:9999; cursor:pointer;}
.arrow-scroll-up{ background:url(../img/up.png) no-repeat; top:5px;}
.arrow-scroll-down{ background:url(../img/down.png) no-repeat; bottom:5px;}
.custom-outline{ position:relative; float:left; width:100%;}
.ads-details{ position:relative; float:right; width:880px;}
.ads-details-center{ position:relative; float:left; width:580px;}

.ads-line{  width:100%;}
.ads-line li{ float:left; width:100%; margin:12px 0 0 0;}
.ads-line li input.text, .ads-line li select, .ads-line li textarea{ float:left; width:97%; border:1px #bdbdbd solid; padding:5px;}
.ads-line li select{ float:left; width:98%; padding:6px;}
.ads-line li label{ float:left; width:100%; font-weight:bold; padding-bottom:5px;}
.ads-line li .gray-img{ width:215px; height:72px;}
.ads-line li input.date{ float:left; width:95%; border:1px #bdbdbd solid; padding:5px; background:#FFF url(../img/date.png) no-repeat right center;}
.ads-line li .clumn1{ float:left; width:385px;}
.ads-line li .clumn2{ float:right; width:180px;}

.img-ads{ position:relative;  width:215px; height:72px;}
.img-ads:hover .deleteimge{ display:block;}
.tab-cate .tab-ads a{ padding:0 40px!important;}
.cpn-details-tab .content-tab-ads{ position:relative; float:left; width:558px; margin:15px 10px 10px 10px; display:inline;}
.cpn-details-tab .content-tab-ads .title{ position:relative; float:left; width:100%; font-weight:bold; padding:8px 0; background:#e8e8e8;}
.cpn-details-tab .content-tab-ads .clumn{ position:relative; float:left; width:165px; margin:0px 15px 0 10px; display:inline;}
.cpn-details-tab .content-tab-ads .clumn:last-child{ margin-right:0;}
.cpn-details-tab .content-tab-ads .clumnin{ position:relative; float:left; width:165px; height:315px;}
.cpn-details-tab .content-tab-ads .clumn ul li{ position:relative; float:left; width:100%; padding:6px 0; font-size:11px;}
.cpn-details-tab .content-tab-ads .clumn ul li input{ margin:0 5px 0 0; padding:0;}
.cpn-details-tab .content-tab-ads .clumn ul li:nth-child(2n){ background:#FFF;}
.ads-details-right{ position:relative; float:right; width:300px;}
.ads-order-details{ position:relative; float: left; width:280px;}

.screen{ position:relative; float:left; width:278px; border:1px #d7d7d7 solid; margin:12px 0 0 0; box-shadow: 0 0 7px #d7d7d7;}
.ads-order-details .title,
.ads-details-right .title{ position:relative; float:left; width:100%; margin:25px 0 10px 0; display:inline; font-size:18px; font-weight:bold; color:#000;}
.ads-price{ position:relative; float:left; width:100%;}
.ads-pricein{position:relative; float:left; width:100%; height:270px;}
.ads-pricein ul li{ float:left; width:270px; background:#f5f5f5; padding:6px 0; margin-right:10px; display:inline; font-size:13px;}
.ads-pricein ul li:nth-child(2n){ background:#FFF;}
.ads-pricein ul li .left, .total-price .left{ float:left; padding-left:8px;}
.ads-pricein ul li .right, .total-price .right{ float:right; padding-right:5px;}
.total-price{ position:relative; float:left; width:100%; background:#e8e8e8; padding:8px 0;}
.total-price.white{ background:#FFF;}
.ads-order-details .btnprice,
.ads-details-right .btnprice{ color:#FFF; font-size:17px; border-radius:3px; margin-top:10px; display:inline-block;}
.ads-order-details .btnprice:hover,
.ads-details-right .btnprice:hover{ text-decoration:none; opacity:0.9; filter:alpha(opacity=90);}
.btncatedt{ position:absolute; height:21px; color:#FFF; line-height:21px; border-radius:3px; background: url("../img/btnbuy.gif") repeat-x; padding:0 30px; text-shadow:1px -1px 1px #327fa4; top:5px; right:5px;}
.btncatedt:hover{ opacity:0.9; filter:alpha(opacity=90); color:#FFF; text-decoration:none;}
.social-l{ float:left; line-height:25px;}
.social-l a{ padding:0 3px;}
.cpn-staff{ position:relative; float:left; width:100%; padding-bottom:20px; border-top:5px #4a4a4a solid;}
.content-staff{ position: relative; float: left; width:100%;}
.content-staffin{ position: relative; float: left; padding:5px 10px; width:608px; min-height: 260px; color: #595959;}

.table-staff{ float:left; width:100%; font-size:13px;}
.table-staff tr td{ padding:3px 0 3px 8px;}
.table-staff tr:nth-child(2n+1){ background-color:#fafafa;}
.table-staff tr.top{ background-color:#e8e8e8;}
.table-staff tr.top td{ font-size:12px; font-weight:bold; padding:8px 0 8px 8px;}
.table-staff tr:hover{ background-color:#d2d2d2;}
.btn-clumn{ position:absolute; width:26px; right:-20px; top:0;}
.btnaction{display:inline-block; width:26px; height:26px; margin-top:5px; cursor:pointer;}
.btnadd{ background-position:0px -130px;}
.btnremove{ background-position:-26px -130px; visibility: hidden;}
.btnedit{ background-position:-65px -130px; visibility: hidden;}
.btnremove-small{ width:13px; height:13px; background-position:-52px -130px; margin-right:3px; float:right; display:none; cursor:pointer;}
.table-staff td.status{ width:65px;}

.sitemap{ position:relative; float:left; width:80%; margin: 0 0 0 25px; display:inline; padding-bottom:20px;}
.sitemap li{ position:relative; float:left; width:95%; margin:18px 0 0 0;}
.sitemap li a{background:url(../img/more.png) no-repeat left center; padding-left:15px; }
.sitemap li a.lesssitemap{background:url(../img/less.png) no-repeat left center;}
.sitemap li .sub{ position:relative; float:left; width:90%; margin-left:25px; display:none;}
.sitemap li .sub li{ position:relative; float:left; width:90%; padding-left:25px; background:url(../img/bullet1.png) no-repeat left top; margin:5px 0 0 0;}
/*.sitemap li:first-child .sub{ display:block;}
*/
.staffadd{ position:fixed; width:364px; top:200px; left:50%; margin-left:-182px;background-color:#FFF; border-radius:3px; padding-bottom:20px; z-index:1002; display:none;}
.staffadd .title{ float:left; width:100%; border-bottom:1px #d9d9d9 solid; padding:8px 0; font-size:13px; font-weight:bold; text-align:center; color:#000;}
.vacadd{ position:fixed; width:364px; top:200px; left:50%; margin-left:-182px;background-color:#FFF; border-radius:3px; padding-bottom:20px; z-index:1002; display:none;}
.vacadd .title{ float:left; width:100%; border-bottom:1px #d9d9d9 solid; padding:8px 0; font-size:13px; font-weight:bold; text-align:center; color:#000;}
.staffaddin{ position:relative; float:left; width:334px; margin:8px 15px 0px 15px; display:inline;}
.staffaddin label, .staffaddin select{ float:left; line-height:24px;}
.staffaddin select{ border:1px #bdbdbd solid; float:right;}
.inputadd{ position:relative; float:left; width:100%; border:1px #bdbdbd solid; box-sizing:border-box; margin-top:10px;}
.inputadd .button-add{ float:right; font-size:32px; color:#aeaeae; margin:0px 7px 0 0; display:inline; line-height:28px; cursor:pointer;}
.inputadd input.text{ float:left; width:80%; line-height:16px; background:none; border:0; padding:6px 5px; font-size: 16px;}
.staffaddin input.textstructure{ float:left; width:100%; padding:7px 0; border:1px #bdbdbd solid; box-sizing:border-box;}

.keyword-formadd{ position:relative; float:left; width:100%;}
.keyword-formadd .list-key{ width:100%; margin-left:0;}
.keyword-formadd .list-key li{ margin:8px 5px 0 0;}
.formadd-button{ position:relative; float:left; width:100%; margin:10px 0 0 0;}
.formadd-button .btntype1 { background: #FFF url(../img/bgbutton.gif) repeat-x bottom center; border:0;}
.formadd-button .btntype2, .formadd-button .btntype1{ font-size:17px; padding:8px 38px;}
.formadd-button .btntype2{ border:0;
background-color:#2186b8;
background-image: -webkit-gradient(
linear,
left top,
left bottom,
color-stop(0, rgb(60,155,203)),
color-stop(0.49, rgb(60,159,195)),
color-stop(0.5, rgb(33,134,184)),
color-stop(1, rgb(33,136,187))
);
background-image: -moz-linear-gradient(
center top,
rgb(60,155,203) 0%,
rgb(60,159,195) 49%,
rgb(33,134,184) 50%,
rgb(33,136,187) 100%);}

.localmenu{ position:absolute; width:112px; top:0px; right:0px; display:none; z-index: 9;}

.tender-action{ position:relative; float:left; width:100%; height:20px; margin-bottom:2px; background:#323232; cursor:pointer;}
.tender-action .icon-action{ float:left; width:20px; height:20px; }
.tender-action .remove{background-position:-120px -60px;}
.tender-action .edit{background-position:-216px -60px;}
.tender-action .ads{background-position:-237px -60px;}
.tender-action .deletext{ float:left; font-size:11px; color:#FFF; line-height:20px; width:84px; padding-left:8px;}
.tender-action .noty{background-position:0px -158px;}
.tender-action .sett{background-position:-22px -158px;}
.cpn-staff .social{ text-align:right;}


/*--------------Menucategories------------------*/
.menucategories{ position:absolute; width:180px; background:#e6e6e6; border:1px #cacaca solid; box-shadow:0px 3px 3px #dedede; display:none; top:21px; left:12px; z-index:99; border-radius:0px 0px 2px 2px;}
.menucategoriesin{ position:relative; float:left; width:100%; height:620px;}
.community .newslink .left a.selected{ text-decoration:none; background:#e6e6e6; border:1px #cfcfcf solid; border-bottom:0; position:relative; z-index:100; padding:7px 12px 8px 12px; box-shadow:0px -3px 3px #cfcfcf; border-radius:2px 2px 0px 0px;}
.arrow-up, .arrow-down{ position:absolute; width:24px; height:24px; right:0; z-index:99; cursor:pointer;}
.arrow-up{ top:0; background:url(../img/arrow-up.png) no-repeat;}
.arrow-down{ bottom:0; background:url(../img/arrow-down.png) no-repeat;}
#page-wrap{ position:relative; width:100%; height:588px; margin-top:12px;}
.menucategoriesin .slimScrollBar{ background:#E6E6E6!important; z-index:1!important;}
.submenu{ position:absolute; clearfix:after;}
.btn-afisha{ position: absolute; width: 34px; height: 35px; background-position: -266px -60px; top: 0; right: 0;}


.contact-table{ width:584px; margin:0 auto;}
.contact-tablein{ position:relative; float:left; width:100%; background-color:#FFF; border-radius:3px; padding:25px 0;}
.contactform{ position:relative; float:left; width:100%;}
.contactform li{ position:relative; float:left; width:80%; margin:15px 0 0 40px; color:#595959; display:inline;}
.contactform li label{ position:relative; float:left; width:100%; font-weight:bold; padding-bottom:6px;}
.contactform li .editor{ float:left; border:1px #bdbdbd solid;}
.contactform li.end{ text-align:center;}
.contactform li.end .btntype1, .contactform li.end .btntype2{ font-size:17px; padding:8px 40px;}
.closecontact{ position:absolute;}

.error-msg p {
    background: #FC2D46;
    color: #FFFFFF;
    cursor: pointer;
    padding: 5px;
}
/*---------- Styles for TPP and Company Staff -------------------*/
.img-status{ background:url(../img/news.png);}
.staff-status-passive{ width: 13px; height: 13px; background-position: -91px -130px; margin-left: 15px; float: left; display: inline;}
.staff-status-active{ width: 13px; height: 13px; background-position: -104px -130px; margin-left: 15px; float: left; display: inline;}
.staff-contact-msg{ width: 13px; height: 13px; background-position: -188px -90px; margin-left: 18px; float: left; display: inline; cursor: pointer;}
