.external-r{position: relative; width: 880px;}
.external-step1{ position:relative; float:left; width:542px; color:#595959;padding-top: 15px;}
.external-step1 h1{ display:block; font-size:21px; font-weight:bold; color:#000; padding-bottom:8px;}
.external-step1 p{ line-height:18px;}
.external-step1 h3{ float:left; width:100%; font-size:16px; font-weight:bold; color:#000; padding:20px 0;}
.tab-step{ position:relative; float:left; width:128px; padding:10px; color:#555; font-size:11px; margin-right:15px; display:inline;
 border-radius:3px; background:#e6e6e6; cursor:pointer;}
.tab-step b{ font-size:13px; color:#000;}
.tab-step.active{ background:#3397c9; color:#FFF;}
.tab-step.active b{ color:#FFF;}
.arr-step{ float:left; margin-right:15px; display:inline; font-size:28px; font-weight:bold; color:#cacaca; padding-top:8px;}
.line-step{ display:block;}
.line-step label{ float:left; width:100%; padding-bottom:4px; font-weight:bold;}
.line-step input.text{ display:inline-block; border:1px #bdbdbd solid; padding:5px;}
.line-step .domain{ display:inline-block; vertical-align:middle;}
.btn-nextstep{ float:left; width:100%; margin:25px 0 0 0;}
.external-slide{ position:relative; float:left; width:100%; margin-top:18px;}
.btn-nextstep .right{ float:right;}
.external-type{ position:absolute; width:605px; background-color:#FFF;border-radius:5px; padding:20px 25px; left:50%; margin-left:-327px; top:50%; margin-top:-176px; z-index:9999; display:none; color:#4a4a4a;}
.external-type .title{ position:relative; float:left; width:100%; text-align:center; font-size:24px; font-weight:bold; color:#333; padding:10px 0;}
.listtype{ position:relative; float:left; width:100%; height:260px;}
.listtype ul{ float:left; width:180px; margin-left:18px; display:inline;}
.listtype ul li{ float:left; width:100%; margin:8px 0 0 0;}
.external-step3{ position:relative; float:left; width:780px;}
.step3form{ position:relative; float:left; width:100%;}
.step3form li{position:relative; float:left; width:100%; margin:18px 0 0 0;}
.step3form li .left{ float:left; width:110px; margin-right:20px; display:inline;}
.step3form li .right{ float:left; width:650px; line-height:24px;}
.step3form li .right input.text, .step3form li .right textarea{ float:left; border:1px #bdbdbd solid; padding:5px;}
.step3form li .right .viewimg{ float:left; width:100%;}
.step3form li .right .ex-img{ float:left; width:198px; height:51px; margin:0px 18px 18px 0; display:inline;}
.external-step3 .btn-nextstep .right{ margin-right:20px;}