@charset "utf-8";
/* Reset ================================================================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, hr {margin: 0; padding: 0; border: 0; outline: 0;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after{content:''; content: none;}
:focus {outline: 0;}
fieldset{border: 0; margin: 0; padding: 0;}
ins{text-decoration: none;}
del{text-decoration: line-through;}
table{border-collapse: collapse; border-spacing: 0;}
a {color:#0089bc; text-decoration: none;}
a:hover{color:#0089bc; text-decoration:underline;}
img{ border:0;}
/* Until ================================================================================= */
.clearfix:after{content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix{display: inline-block;}
.clearfix{display: block;}
.clear{clear: both;}
/*button:focus, textarea:focus, input[type="email"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="text"]:focus {
-moz-transition: all 0.25s ease-in-out 0s;
border-color: rgba(82, 168, 236, 0.75) !important;
box-shadow: 0 0 4px rgba(82, 168, 236, 0.5); outline: 0 none;}*/
.clear{clear:both;width:100% !important;float:none !important;height:0 !important;margin:0 !important;padding:0 !important;}
article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video {
    display: block;
}

.news-center {position: relative}
.news-center .loader {height: 360px;}
.news-center .loader-img{position: absolute; left: 50%; top: 50%; margin-left: -50px; margin-top: -8px;}
.tabfilter-content
 {
    padding: 15px !important;
    box-sizing: border-box;
}
.tabfilter-content .big-selector {
    width: 100%;
}

.video-details {
    text-align: center;
}

.sxform .note a.sortCurr {
    text-decoration: none !important;
    color: #000;
    cursor: pointer;

}

.container .no-results {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

.message-box {
    position: absolute;
    width: 100%;
    top: 440px;
}
.custom-contentin {
    height: 460px;
    max-height: 460px;
    overflow-y: auto;
}

.message-list {
    float: none;
    bottom: 0;
    padding: 0 10px;
}

.message-list:after {
   content: "";
   display: block;
   clear: both;
}

.custom-ms {
    height: 430px;
    max-height: 430px;
    overflow-y: auto;
}

.customform .editor textarea {
    width: 100%;
    height: 200px;
    border: none;
    resize: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    box-sizing: border-box;
}

.message-loader {
    position: relative;
    display: none;
}

.message-loader > img {
    left: 50%;
    top: 40px;
    position: absolute;
}

.message-list .customline {
    width: 400px;
    overflow-wrap: break-word;
}

.message-paging-loader {
    text-align: center;
}

.customline .clumnleft {
    margin-bottom: 10px;
}

.custom-ms .thumb img {
    width: 24px;
    height: 24px;
}

.message-list .customline .thumb img {
    width: 30px;
    height: 30px;
}


.ads-line .date-line .clumn2 {
    float: left;
    margin-right: 20px;
}

.forms-content {
    float: left;
    width: 880px;
    margin: 0 0 0 18px;
    display: inline;
}

.uploadconfig .detail textarea {
    height: 200px;
}