body, input, textarea, select{ text-align:right;}

.header-r li .text-r{ padding: 0 10px 0 0;}
.tophead-l{ text-align:left;}
.services li .imgservice{ float:right; border-left: 1px solid #D2D4D8; border-right:0;}
.services li .nameservice{ border-right:1px #FFF solid; border-left:0; text-align:right!important; padding:0px 10px 0 0;}
.slide-comm, .bx-wrapper{ direction:ltr!important;}
.sprite{margin-right: 0;margin-left: 10px;}
.review-l ul.listcm li .topcm .flag{ float:right; margin-right:0;}
.review-l ul.listcm li .topcm .date{ float:right; padding-right:8px;}
.btnview{ float:right;}
.people-slide .greetings li .items .name{ text-align:right;}
.sideleft{ float:right;}
.mainright{ float:left;}
.register{ right:520px;}
.desc{ float:right; padding-right:30px;}
.homeslide .note{ left:410px; text-align:right;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{ left:80%;}
.pr-best-price li .location .flag{ float:right;}
.pr-best-price li .location a{}
.pdfdownload img{ float:right;}
.review-l{ float:right;}
.review-r{ float:left;}
.content-l{ float:right;}
.content-r{ float:left;}
#logo{ float:right;}
.header-r{ float:left;}
.tophead-r{ float:left;}
.tophead-l{ float:right;}
.bx-wrapper .bx-controls-direction a{ text-align:left;}
.linkbottom .clumn{ float:right;}
.tophead-l{ float:right; text-align:right;}
.tophead-r{ float:left;}
.news-logo{ float:right;}
.community .newstitle label{ float:right; padding-right:8px;}
.community .newstitle .notify{ float:left;}
.community .newslink .left{ float:right; margin-right:12px;}
.btnprofile, .less{ left:22px!important; right:auto!important;}
.profile-title{ padding-right:10px; width:1090px;}
.profile-main .avatar{ float:right; margin-right:22px;}
.profile-info{ float:right;}
.profile-info li .left{ float:right; text-align:left; width:60%;}
.profile-info li .right{ float:left;}
.news-left{ float:right;}
.newsright{ float:left;}
.news-center{ float:right; margin-right:18px;}
.tab1-cate li a{ padding-right:10px;}
.ui-tabs-nav li{ float:right;}
.list-ads li .top .flag{ float:right; }
.list-ads li .infoads .thumb{ float:right; margin-left:8px;}
.search-key{ float:left; margin-left:8px;}
.list-key{ float:right; margin-right:8px;}
.popuplifter{ float:right; right:12px;}
.list-key li{ float:right;}
.filter-form{ left:auto; right:9px;}
.textarea{ float:right; margin-right:20px;}
.textarea2{ float:left; margin-left:20px;}
.button-clumn{ float:right; margin-right:10px; margin-left:10px;}
.tabfilter, .communities, .sx, .sxform{ float:right;}
.sx{ width:510px; padding-right:10px;}
.sxform .clumn1{ float:right; margin-left:0; margin-right:20px;}
.sxform .clumn2{ float:left; margin-left:20px;}
.filter-form .title{ width:510px; padding-right:10px;}
.ads-clumn{ float:right; margin-right:30px;}
.ads-clumn:nth-child(1){ margin-right:0;}
.ads-clumn:nth-child(2n){ margin-right:30px;}
.ads-details{ float:left;}
.ads-details-center{ float:right;}
.ads-details-right{ float:left;}
.img-ads{ float:right;}
.ads-line li .clumn1{ float:right;}
.ads-line li .clumn2{ float:left;}
.cpn-details-tab .content-tab-ads .clumn ul li input{ float:right; margin-left:10px;}
.arrow-scroll-up, .arrow-scroll-down{ left:-1px; right:auto;}
.slimScrollBar{ left:1px; right:auto;}
.ads-pricein ul li .left{ float:right; text-align:right; padding-right:8px;}
.ads-pricein ul li .right{ float:left; padding-left:8px;}
.table-deals, .addpage-title, .table-analytics{ direction:rtl;}
.table-analytics tr td{ padding-right:8px;}
.listnews li .thumb{ float:right;}
.tender-list li .title .flag{ float:right; }
.btn-afisha{ right: auto; left:0;
-webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -sand-transform: rotate(90deg);}
.localmenu{ left:0; right:auto;}
.tender-action .icon-action{ float:right;}
.tender-action .deletext{ padding-right:5px; padding-left:0;}
.tender-list li .button-r{ right:auto; left:10px;}
.tender-list li h2{ float:right;}
.tender-list li .linkmore{ right:auto; left:10px;}
.tender-details-title .flag{ float:right; }
.tender-button{ right:auto; left:0;}
.tender-info .title{ float:right;}
.tender-bottom-left .thumb{ float:right; padding-left:8px;}
.tender-bottom-left{ float:right;}
.tenderline li .clumn1, .tenderline li .clumn3, .tenderline li .clumn5{ float:right;}
.tenderline li .clumn2, .tenderline li .clumn4, .tenderline li .clumn6{ float:left;}
.addpage-form .clumn1{ float:right;}
.addpage-form .clumn2{ float:left; margin-left:12px; display:inline;}
.analytics-top span.clumn{ float:right;}

.custom-ms li .thumb{ float:right;}
.customline .clumnleft, .customline .clumnleft .i-attack, .customline .clumnleft .thumb{ float:right;}
.custom-contentin .title{ direction:rtl; text-align:right;}
.company-list li .title .flag{ float:right;}
.company-list li .company-infor .companycontact{ float:left; border-left:0; border-right:1px solid #E1E1E1; padding-right:10px; padding-left:0;}
.company-list li .company-infor .logocompany, .company-list li .company-infor .desc, .company-list li .company-infor .companycontact .line .iconinfo, .company-list li .company-infor .companycontact .line .nameinfo{ float:right;}
.logo-details, .social-l{ float:right;}
.payjoin{ float:left;}
.social-l{ text-align:right;}
.companies .social{ text-align:left;}
.cpn-staff .social{ text-align:left;}
.table-staff{ direction:rtl; float:right;}
.btn-clumn{ right:auto; left:-22px;}
.content-staffin{ float:right;}

.sitemap li .sub li span{background: url("../img/bullet2.png") no-repeat right center rgba(0, 0, 0, 0); padding-right:25px;}
.sitemap li .sub li{ padding-right:25px;}
.sitemap li a{ background:url("../img/more-r.png") no-repeat scroll right center; padding-right:15px;}

.sitemap li a.lesssitemap{background:url(../img/less.png) no-repeat left 10px center;}
.sitemap li.current a{ padding-right:15px;}
.uploadimgage{ float:right; margin-right:14px; margin-left:0;}
.uploadconfig{ float:left;}

.table-deals tr td{ padding-right:8px;}
.deal-details .thumb-deal{ float:right; margin-left:10px;}
.deal-details{ width:96%;}
.goods-info{ float:left;}
.deals-info-left, .deals-info-left li label{ float:right; text-align:left;}
.deals-info-left li .right{ float:left; text-align:right; width:60%;}
.goods-info li .iconinfo{ float:right;}
.goods-info li .nameinfo{ float:left;}
.external-step1{ float:right; margin-right:20px;}
.tab-step, .arr-step{ float:right;}
.arr-step{-webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -sand-transform: rotate(180deg); line-height:60px;}
.external-r{ margin-right:20px;}
.external-slide .bx-wrapper .bx-next{ right:-18px;}
.external-slide .bx-wrapper .bx-viewport{ left:0px!important;}
.external-step3 .btn-nextstep .right{ margin-right:0; margin-left:20px;}
.step3form li{ direction:rtl;}
.step3form li .left{ float:right; direction:rtl;}
.step3form li .right input.text, .step3form li .right textarea{ float:right;}
.b-img{ float:right;}
div.fileinputs{ float:right; margin-right:30px;}
div.org-contacts ul li span.right{float: left;}
div.org-contacts ul li span.left{float: right;}
.btn-nextstep{ direction:rtl;}
.listprd li .link .flag{ float:right; }
.listprd li .link .name{ margin-left:0;}
.goods-details-left, .goods-details-center{ float:right;}
.goods-details-center{ margin-right:18px; margin-left:0;}
.uploadconfig li .clumn1, .uploadconfig li .clumn3{ float:right;}
.uploadconfig li .clumn2, .uploadconfig li .clumn4{ float:left;}
.btncatedt{ right:auto; left:5px;}
#afisha-list .desc{ padding-right:0;}
.tender-list li .line .clumn{ float:right; padding-left:25px; padding-right:0; direction:rtl;}
.innov-tab-content li .left{ float:right; direction:rtl; margin-right:20px; text-align:left;}
.innov-tab-content li .right{ width:78%;}
.arrow-up, .arrow-down, .arrow-up1, .arrow-down1, .arrow-up2, .arrow-down2{ right:auto; left:0;}
.menucategories{ left:auto; right:0; direction:rtl;}
.sub-menu-1, .sub-menu-2 { left:auto; right:180px;}
.my-goods-info li .social{ text-align:left;}
.goods-details .top-my .flag, .goods-details .name{ float:right;}
.my-goods-info li label{ float:right; text-align:left; direction:rtl;}
.my-goods-info li .rightinfo{ float:right;}
.my-goods-info{ float:left;}
.new-details .date{ direction:rtl;}
.content-news .gallery{ float:right; margin-left:10px;}
.related-news ul li .date{ direction:rtl;}
.related-news ul li .date img.flag{ float:right; }
.tender-info ul.inforesume li label, .tender-info ul.inforesume li .right{ float:right;}
.tender-info ul.inforesume li label{ text-align:left; direction:rtl;}
.tender-info ul.inforesume li .right{ padding-right:5px;}
.tenderline li label{ width:95%;}
.tenderorder{ margin-right:20px; display:inline;}
.tenderform .tenderline li label{ width:99%;}
.tenderform .captcha{ float:right;}
.tenderline li input.text{ float:right; margin-right:10px;}
.deal-details .flag{ float:right; }
.tpp-gallery li{ float:right; margin-right:12px; margin-left:0;}
.companies .social{ text-align:right;}
.addpage-form label{ width:95%;}
.styled-select{ direction:rtl;}
.styled-select .textfilter, .styled-select .texttype, .styled-select .textpart{ text-indent:25px;}
#search{ float:left;}
.services{ margin-top:0;}
#tv-list li .title-tv .flag{ float:right;}
.related-news ul li{ margin: 12px 0 0 40px;}
.profile-l { float:right;}
.profile-clumn{ margin-left:0; margin-right:9px;}
.profile-clumn, .profile-clumn li .radio span{ float:right;}
.profilebutton{ width:100%;}
.profile-l .btnbb{ float:right;}
.vacancy-list li .logovacancy{ float:right; margin: 8px 0 0 10px;}
.vacancy-list li .vacancy-desc .flag{ float:right; }
.vacancy-button{ right:auto; left:0;}
.innov-tab-content li label{ width:92%;}
.wall-title-bg{ direction:rtl;}
.vacancy-list li .vacancy-desc {width: 630px;}

.slide1{ width:770px; height:260px; background-image:url(../img/right/slide1.jpg);}
.slide2{ width:770px; height:260px; background-image:url(../img/right/slide2.jpg);}
.slide3{ width:770px; height:260px; background-image:url(../img/right/slide3.jpg);}
.slide4{ width:770px; height:260px; background-image:url(../img/right/slide4.jpg);}

.slide3 .desc{ padding-right:175px!important;}
.slide4 .desc{ width:330px; padding-right:155px;}
.slide2 .desc h3, .slide3 .desc h3, .slide4 .desc h3{ font-size:22px; font-weight:300; text-align: left; padding-bottom:12px;}
.desc ul.list li{ float:left; padding-left: 51px; margin-top:5px; font-size:14px; background:url(../img/bullet.png) no-repeat top left; padding-bottom:5px; font-family:Arial, Helvetica, sans-serif;}


.vacancy-list li .vacancy-desc a.more{ text-align:left;}
.content-goods-tab p{ padding-top: 14px; float: left; padding: 5px; width: 90%;}