{% extends "b24online/registration/registration_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans 'Password reset' %}{% endblock %}



{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
     {{ block.super }}
     <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/login.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/datepicker.css" %}" />
{% endblock %}

{% block content %}
<div class="blogin">
    <h3>{% trans 'Password reset' %}</h3>

    <div style="margin-top: 20px;">
        <span style="font-size: 15px;">{% trans "Forgot your password? Enter your e-mail and we will send you the required information to create a new password."%}</span>

        <form method='post' action=''>
            {% csrf_token %}

            <ul class="formlogin" id="register">
                <li>
                    <div>
                         {% for key, value in form.errors.items %}
                             {% ifequal key '__all__' %}  <p style="color: red;padding-bottom: 25px;">{{ value.as_text }} </p>{% endifequal %}
                         {% endfor %}
                    </div>
                </li>
                <li>
                    <label>{% trans "E-mail" %}</label>
                    <input id="id_email" name="email" class="text   {% if form.email.errors   %}error{% endif %}" type="email" >
                    {% if form.email.errors   %}<div class="formerror">{{ form.email.errors.as_text }}</div>{% endif %}
                </li>
                <li><input type="submit"  class="btnlogin" value="{% trans "Reset Password" %}"></li>
            </ul>
         </form>
    </div>
</div>
{% endblock %}