{% extends "b24online/registration/registration_base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}



{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
     {{ block.super }}
     <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css" %}" />
     <link type="text/css" rel="stylesheet" href="{% static "b24online/css/login.css" %}" />
     <link type="text/css" rel="stylesheet" href="{% static "b24online/css/datepicker.css" %}" />
{% endblock %}





{% block content %}
<div class="blogin">
    <h3>{% trans 'Password reset' %}</h3>
    <div style="margin-top: 20px;">
        <p style="font-size: 15px;">{% trans "Enter your new password below to reset your password:" %}</p>
        <form method="post" action="">{% csrf_token %}
            <table>
                {{ form.as_table }}
                <tr><td><input type="submit" class="btnreg" value="{% trans "Set password" %}" /></td></tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}