{% extends "b24online/registration/registration_base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/login.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/datepicker.css" %}" />
{% endblock %}

{% block content %}
<div class="blogin">
     <h3>{% trans 'Password reset complete' %}</h3>
     <div style="margin-top: 20px;">

        <p style="font-size: 15px;">
            {% trans "Your password has been reset!" %}
            {% trans 'You may now' %} <a href="{{ login_url }}">{% trans 'log in' %}</a>.

        </p>
     </div>
</div>
{% endblock %}