  {% load i18n %}
                        <div class="styled-select">



                            <select name="select">
                              <option value="1">{% trans "Choose region" %}</option>
                                     {% for id ,  country  in countryList.items %}
                                       {% with  country.NAME|first as name %}
                                          <option value="{{ id }}">{{ name }}</option> countryList
                                       {% endwith %}
                                     {% endfor %}

                            </select>
                        </div>