{% load staticfiles %}
{% load i18n %}
<ul id="sidevar">


                        {% for node  in sortedHierarchyStructure %}

                            {% with node.LEVEL as level  %}
                                {% with node.ISLEAF as isleaf  %}

                                    {% with node.PARENT_ID as parent_id  %}
                                        {% with node.pre_level as previous %}
                                            {% with node.parent_item.NAME|first  as parent_name  %}
                                                {% with node.item.NAME|first  as name  %}
                                                    {% with node.ID as id %}

                                                    {% if level == 1 %}

                                                        {% if previous > 1 %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        {% endif %}

                                                        {% if previous != 0 %}
                                                            </li>
                                                        {% endif %}

                                                        <li class="level1-li sub"><a class="level1-a" href="{% url "products:category" id %}  ">{{ name }}</a>

                                                        {% if isleaf == 0 %}
                                                            <div class="listHolder col1">
                                                        {% endif %}

                                                    {% endif %}

                                                {% if level == 2 and isleaf == 0 %}

                                                    {% if previous == 3 %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}

                                                    <div class="listCol">
                                                        <ul>
                                                            <li><h3><a href="{% url "products:category" id %}"> {{ name }}</a></h3></li>
                                                {% endif %}

                                                {% if level == 3 %}
                                                    <li>{{ name }}</li>
                                                {% endif %}

                                                {% if level == 2 and isleaf == 1 %}

                                                    {% if previous == 3 %}
                                                            </ul>
                                                        </div>

                                                        <div class="listCol">
                                                            <ul>
                                                                <li><h3>{{ parent_name}}</h3></li>
                                                    {% endif %}

                                                    {% if previous == 1 %}

                                                        <div class="listCol">
                                                            <ul>
                                                                <li><h3>{{ parent_name}}</h3></li>
                                                    {% endif %}

                                                    <li><a href="{% url "products:category" id %}" >{{ name }}</a></li>
                                                {% endif %}

                                                {% if forloop.counter == sortedHierarchyStructure|length %}

                                                    {% if previous == 1 %}
                                                        </li>
                                                        

                                                    {% endif %}

                                                    {% if previous == 2 or previous == 3 %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    {% endif %}

                                                {% endif %}


                                                {% endwith %}
                                                     {% endwith %}
                                            {% endwith %}
                                        {% endwith %}
                                    {% endwith %}
                                {% endwith %}
                            {% endwith %}
                        {% endfor %}


   <li class="level1-li sub"><a class="level1-a" href="{% url "categories:list" %}">{% trans "All categories" %}</a></li>



                </ul>