{% load staticfiles %}
{% load i18n %}
<div class="title-discount">
                    <span class="left">
                        <label>Купоны</label>
                        <a href="#">еще</a>
                    </span>
                    <span class="right">
                        <a href="#">Новые</a>
                        <a href="#">Популярные</a>
                        <a href="#">По категориям</a>
                    </span>
                </div>
                <div class="best-cp">
                    <div class="best-cp-l">
                        <div class="thumb-cp">
                            <div class="discount"><i class="icons i-after"></i> -50%</div>
                            <a href="#"><img alt="" src="images/products/pr5.jpg"></a>
                        </div>
                        <div class="couponinfo">
                            <a href="#">Процедуры омоложения кожи лица на основе косметики Hollyland</a>
                            <div class="clock">
                                <p>Осталось времени</p>
                                <div data-countdown="1422223200000" id="topCountdown"></div>
                            </div>
                        </div>
                        <div class="bottom-cp">
                            <div class="price-cp">
                                <span>
                                    <p><font class="price1">$ 120.<sub>00</sub></font></p>
                                    <p>Осталось 10 купонов</p>
                                </span>
                            </div>
                            <a class="btnbuy" href="#">Купить</a>
                        </div>
                    </div>
                    <ul class="best-cp-r">
                        <li>
                            <div class="thumb">
                                <a href="#"><img alt="" src="images/products/pr6.jpg"></a>
                                <div class="discount"><i class="icons i-after"></i> -35%</div>
                            </div>
                            <div class="discountinfo">
                                <a href="#">Изучение английского, немецкого, французского, испанского и др. языков</a>
                                <p>
                                    <font class="number">$ 13.80</font>
                                    <br />
                                    Осталось 10 купонов
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumb">
                                <a href="#"><img alt="" src="images/products/pr6.jpg"></a>
                                <div class="discount"><i class="icons i-after"></i> -35%</div>
                            </div>
                            <div class="discountinfo">
                                <a href="#">Изучение английского, немецкого, французского, испанского и др. языков</a>
                                <p>
                                    <font class="number">$ 13.80</font>
                                    <br />
                                    Осталось 10 купонов
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>