{% load staticfiles %}
{% load i18n %}
           <div class="review-clumn2">

        		<span class="title"><a title="Новости" alt="Новости" href="{% url "news:list" %}">{% trans "News" %} </a></span>


                <ul>
                    {% for id , attr  in newsList.items %}
                        {% load staticfiles %}
                        {% with attr.NAME|first as name  %}
                            {% with attr.IMAGE|first as picture  %}

                                {%  with attr.ACTIVE_FROM|first as date  %}
                                    <li>
                                        <a href="{% url "news:detail"  id  %}" alt="{{ name }}" title="{{ name }}">

                                            <img style=" width: 90px; height: 90px;" src="{% static picture %} " class="thumb" alt="{{ name }}" title="{{ name }}">
                                        </a>
                                        <p>
                                            {{ date }}
                                        </p>
                                        <p><a href="{% url "news:detail"  id  %}">{{ name }}</a></p>

                                    </li>

                                {% endwith %}
                            {% endwith %}
                        {% endwith %}

                    {% empty %}

                        <span> It's empty</span>

                    {% endfor %}


                </ul>




            </div>