   {% load staticfiles %}
    {% load i18n %}
    <span class="title">{% trans "Partner" %}</span>
            <ul id="slider1">

                 {% for id , attr  in tppList.items %}

                        {% with attr.NAME|first as name  %}
                        {% with attr.IMAGE|first as picture  %}
                           {% if  forloop.counter == 1 %}
                                  <li>
                                {% endif %}
                             <div class="itempartner">
                        <a href="#"><img src="{% static picture %}" alt=""></a>
                        <p><a href="#">{{ name }}</a></p>
                    </div>
                             {% if forloop.counter|divisibleby:"7" and   forloop.counter != forloop.last  %}
                                  </li>
                                 <li>
                                {% endif %}
                            {% if  forloop.counter == forloop.last %}
                            </li>
                            {% endif %}


                {% endwith %}
               {% endwith %}
            {% endfor %}



            </ul>