{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}
<div class="prd-new">
                        <div class="title-discount">
                            <span class="left">


                                <label>{% trans "Latest" %}</label>
                                <a href="{% url "products:list" %}">{% trans "more" %}</a>

                            </span>
                        </div>
                        <ul class="listnew">
                    {% for product in newProducrList %}

                            <li>
                                {% if product.coupon %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ product.coupon }}%</div>
                                {% elif product.discount %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ product.discount }}%</div>
                                {% endif %}
                               <div class="img_gallery">
					        	<div class="shadow"></div>
					            	<div class="img_block">
                                      <a href="{% url "products:detail" product.pk %}">
                                          <img src="{{ MEDIA_URL }}big/{{ product.image }}" alt="{{ product.title }}" />
                                      </a>
                                    </div>
					          </div>
                                <p><a href="{% url "products:detail" product.pk %}">{{ product.title }}</a></p>
                                <p>
                                    <font class="number"> {{ product.currency|getSymbol }}
                                        {% if product.coupon %}
                                            {{ product.price|discountPrice:product.coupon }}
                                        {% elif product.discount %}
                                            {{ product.price|discountPrice:product.discount }}
                                        {% else %}
                                            {{ product.price|formatPrice }}
                                        {% endif %}
                                    </font>
                                </p>
                                <p>
                                    {% if product.categories %}
                                        {% for cat in categories %}
                                             <a href="{% url "products:category" cat.pk %}" class="viewall">
                                                {{ cat.text|truncatewords:3 }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}

                                </p>
                            </li>
                    {% endfor %}

                        </ul>
                    </div>
                    <div class="prd-new">
                        <div class="title-discount">
                            <span class="left">

                                <label>{% trans "Top sales" %}</label>
                                  <a href="{% url "products:list" %}">{% trans "more" %}</a>

                            </span>
                        </div>
                        <ul class="listnew">
                        {% for product  in topPoductList %}
                            <li>
                                {% if product.coupon %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ product.coupon }}%</div>
                                {% elif product.discount %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ product.discount }}%</div>
                                {% endif %}
                              <div class="img_gallery">
					        	<div class="shadow"></div>
					            	<div class="img_block">
                                      <a href="{% url "products:detail" product.pk %}">
                                          <img src="{{ MEDIA_URL }}big/{{ product.image }}" alt="{{ product.title }}" />
                                      </a>
                                    </div>
					          </div>

                                <p><a href="{% url "products:detail" product.pk %}">{{ product.title }}</a></p>
                                <p>
                                    <font class="number"> {{ product.currency|getSymbol }}
                                        {% if product.coupon %}
                                            {{ product.price|discountPrice:product.coupon }}
                                        {% elif product.discount %}
                                            {{ product.price|discountPrice:product.discount }}
                                        {% else %}
                                            {{ product.price|formatPrice }}
                                        {% endif %}
                                    </font>
                                </p>
                                <p>
                                   {% if product.categories %}
                                        {% for cat in categories %}
                                             <a href="{% url "products:category" cat.pk %}" class="viewall">
                                                {{ cat.text|truncatewords:3 }}
                                            </a>
                                        {% endfor %}
                                    {% endif %}
                                </p>
                            </li>
                    {% endfor %}

                        </ul>
                    </div>