{% load staticfiles %}
{% load i18n %}
<div class="prd-new">
                        <div class="title-discount">
                            <span class="left">
                                <label>Новинки</label>
                                <a href="#">еще</a>
                            </span>
                        </div>
                        <ul class="listnew">
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                        </ul>
                    </div>
                    <div class="prd-new">
                        <div class="title-discount">
                            <span class="left">
                                <label>Хиты продаж</label>
                                <a href="#">еще</a>
                            </span>
                        </div>
                        <ul class="listnew">
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr1.jpg" alt="" /></a>
                                <p><a href="#">Футболка мужская с принтом Чарли-Чаплина...</a></p>
                                <p><font class="number">$3.80</font> / шт.</p>
                                <p><a href="#" class="viewall">Футболки мужские &rarr;</a></p>
                            </li>
                        </ul>
                    </div>