{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}
<div class="prd-new">
                        <div class="title-discount">
                            <span class="left">


                                <label>{% trans "Latest" %}</label>
                                <a href="{% url "products:list" %}">{% trans "more" %}</a>

                            </span>
                        </div>
                        <ul class="listnew">
                    {% for id , attr  in newProducrList.items %}
                        {% with attr.NAME|first as name %}
                        {% with attr.IMAGE|first as picture %}
                        {% with attr.CURRENCY|first as currency %}
                        {% with attr.COST|first as cost  %}
                        {% with attr.CATEGORY_NAME as category_name  %}
                        {% with attr.CATEGORY_ID as category_id  %}
                        {% with attr.DISCOUNT|first as discount  %}
                        {% with attr.COUPON_DISCOUNT|first as coupon_discount  %}

                            <li>
                                {% if coupon_discount %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ coupon_discount }}%</div>
                                {% elif discount %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ discount }}%</div>
                                {% endif %}
                               <div class="img_gallery">
					        	<div class="shadow"></div>
					            	<div class="img_block">
                                      <a href="{% url "products:detail" id %}">
                                          <img src="{{ MEDIA_URL }}big/{{ picture }}" alt="{{ name }}" />
                                      </a>
                                    </div>
					          </div>
                                <p><a href="{% url "products:detail" id %}">{{ name }}</a></p>
                                <p>
                                    <font class="number"> {{ currency|getSymbol }}
                                        {% if coupon_discount %}
                                            {{ cost|discountPrice:coupon_discount }}
                                        {% elif discount %}
                                            {{ cost|discountPrice:discount }}
                                        {% else %}
                                            {{ cost|formatPrice }}
                                        {% endif %}
                                    </font>
                                </p>
                                <p>
                                    <a href="{% url "products:category" category_id %}" class="viewall">
                                        {{ category_name }}
                                    </a>
                                </p>
                            </li>
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                    {% endfor %}

                        </ul>
                    </div>
                    <div class="prd-new">
                        <div class="title-discount">
                            <span class="left">

                                <label>{% trans "Top sales" %}</label>
                                  <a href="{% url "products:list" %}">{% trans "more" %}</a>

                            </span>
                        </div>
                        <ul class="listnew">
                        {% for id , attr  in topPoductList.items %}
                        {% with attr.NAME|first as name %}
                        {% with attr.IMAGE|first as picture %}
                        {% with attr.CURRENCY|first as currency %}
                        {% with attr.COST|first as cost  %}
                        {% with attr.CATEGORY_NAME as category_name  %}
                        {% with attr.CATEGORY_ID as category_id  %}
                        {% with attr.DISCOUNT|first as discount  %}
                        {% with attr.COUPON_DISCOUNT|first as coupon_discount  %}
                            <li>
                                {% if coupon_discount %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ coupon_discount }}%</div>
                                {% elif discount %}
                                    <div class="discount"><i class="icons i-after"></i> -{{ discount }}%</div>
                                {% endif %}
                              <div class="img_gallery">
					        	<div class="shadow"></div>
					            	<div class="img_block">
                                      <a href="{% url "products:detail" id %}">
                                          <img src="{{ MEDIA_URL }}big/{{ picture }}" alt="{{ name }}" />
                                      </a>
                                    </div>
					          </div>

                                <p><a href="{% url "products:detail" id %}">{{ name }}</a></p>
                                <p>
                                    <font class="number"> {{ currency|getSymbol }}
                                        {% if coupon_discount %}
                                            {{ cost|discountPrice:coupon_discount }}
                                        {% elif discount %}
                                            {{ cost|discountPrice:discount }}
                                        {% else %}
                                            {{ cost|formatPrice }}
                                        {% endif %}
                                    </font>
                                </p>
                                <p>
                                    {% if category_id %}
                                      <a href="{% url "products:category" category_id %}" class="viewall">
                                        {{ category_name }}
                                        {% endif %}
                                    </a>
                                </p>
                            </li>



                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                       {% endwith %}
                    {% endfor %}

                        </ul>
                    </div>