{% load staticfiles %}
{% load i18n %}
<div id="bestprice">
                    <h3>Выгодные предложения</h3>
                    <ul id="bestproduct">
                        <li>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr13.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 30%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Лесть из кожи Ликвидация! Торопитесь!</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr13.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                        </li>
                        <li>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr13.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 30%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Лесть из кожи Ликвидация! Торопитесь!</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr13.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                        </li>
                        <li>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr13.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 30%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Лесть из кожи Ликвидация! Торопитесь!</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr13.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                            <div class="clumn-best">
                                <div class="discount"><i class="icons i-after"></i> 30%</div>
                                <a href="#"><img src="images/products/pr12.jpg" alt="" class="thumb" /></a>
                                <a href="#" class="name">Кожанные сумки Скидки от 20%</a>
                            </div>
                        </li>
                    </ul>
                </div>