{% load staticfiles %}
{% load i18n %}
{% if productsSale %}
    <style>
        .discount-image-holder {
            background-color: #FFF;
            height: 155px;
            position: relative;
        }
        .discount-image-holder img {
            display: block;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    </style>
    <div id="bestprice">
        <h3>{% trans "Best proposals" %}</h3>

        <ul id="bestproduct">
            {% for product in productsSale %}

                {% if  forloop.counter == 1 %}
                    <li>
                {% endif %}

                <div class="clumn-best">
                    <div class="discount"><i class="icons i-after"></i> -{{ product.discount }}%</div>
                    <div class="discount-image-holder">
                        <a href="{% url "products:detail" product.pk %}">
                            <img alt="{{ product.title }}" src="{{ MEDIA_URL }}small/{{ product.image }}" class="thumb" />
                        </a>
                    </div>
                    <a href="{% url "products:detail" product.pk %}" class="name">{{ product.title }}</a>
                </div>

                {% if forloop.counter|divisibleby:"5" and not forloop.last  %}
                    </li>
                    <li>
                {% elif forloop.last %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}