{% load staticfiles %}
{% load i18n %}
<div class="review-clumn1">
                        <span class="title">Обзоры товаров</span>
                        <ul>
                            <li>
                                <a href="#"><img src="images/products/pr14.jpg" class="thumb" alt="" /></a>
                                <p>16 августа</p>
                                <p><a href="#">Новый ультратонкий ноутбук от Samsung S150</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr14.jpg" class="thumb" alt="" /></a>
                                <p>16 августа</p>
                                <p><a href="#">Что ожидать от осенней коллекции 2013</a></p>
                            </li>
                            <li>
                                <a href="#"><img src="images/products/pr14.jpg" class="thumb" alt="" /></a>
                                <p>16 августа</p>
                                <p><a href="#">Обновленный аромат от Moschino появится в продаже уже в сентябре</a></p>
                            </li>
                        </ul>
                    </div>