<!DOCTYPE html>
<html lang="ru" ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <title ng-bind-html="title ">Main page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><!--[if IE]>
        <meta http-equiv="ImageResize" content="no">
        <meta http-equiv="ImageToolbar" content="no">
        <meta name="MSSmartTagsPreventParsing" content="true">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"><![endif]-->
        <meta property="og:url" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta name="google-site-verification" content="">
        <!--<link rel="shortcut icon" href="images/favicon.ico">-->

        <script src="js/vendor/jquery-1.11.3.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>

        
        <link rel="stylesheet" href="js/slick/slick.css">
        <link rel="stylesheet" href="js/slick/slick-theme.css">
        <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css">

        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/general.css">
        <!--<link rel="stylesheet" href="css/animate.css">-->
    </head>
    <body ng-controller="mainInfoCtrl">


    
        <header>
            <div class="wrapper clearfix">
                <div id="menuToggle">
                    <img src="images/svg/menu.svg" alt="">
                </div>
                <div class="horMenu">
                    <ul class="navigation vertical">
                        <li ng-repeat="menuItem in menu">
                            <a href="#">{{menuItem}}</a>
                        </li>
                    </ul>
                    <div class="busket vertical">
                        <span>-</span>
                    </div>
                </div><!--End mainMenu--> 
                <div class="tel vertical">
                    <img src="images/svg/tel.svg" alt="">
                    <a href="tel:{{contacts.tel}}">{{contacts.phone}}</a>
                </div>
            </div>
        </header>

        <section class="offer">
            <div class="wrapper">
                
                <div class="logo">
                    <img ng-src="{{logo}}" alt="">
                </div>

                <div class="offer__slider">
                    <slick autoplay="true" autoplaySpeed="500" fade="true" dots="true">
                        <div class="slide" ng-repeat="slide in slides">
                            <img ng-src="{{slide.url}}" alt="">
                        </div>   
                    </slick>
                </div>

                <div class="offer__icons">
                    <a href="#" id="display-vertical">display vertical</a>
                    <div class="offer__icons__icon" ng-repeat="icon in offerIcons">
                        <img ng-src="{{icon.url}}" alt="">
                    </div>
                </div>         

            </div><!-- end wrapper-->
        </section><!-- end offer-->



        <section class="content">
            <div class="wrapper">
                <aside class="sidebar">
                
                    <div class = "select -lang">
                        <span>Russian</span>
                        <ul class="select-dropdown">
                            <li>
                                <a href = "#" class="lang-hebrew">Hebrew</a>
                            </li>
                            <li>
                                <a href = "#">Russian</a>
                            </li>
                            <li>
                                <a href = "#">Item 3</a>
                            </li>
                            <li>
                                <a href = "#">Item 4</a>
                            </li>
                            <li>
                                <a href = "#" c>Item 5</a>
                            </li>
                        </ul>            
                    </div>

                    <ul class="sidebar-menu" ng-accordion>

                        <li >    
                            <a href = "index.html">На главную</a>
                        </li>
                        <li >
                            <a><site-header back="back">Вернуться назад</site-header></a>   
                        </li>
                    </ul>

                </aside><!-- end content-->



            <section class="content__info" ng-controller="contentCtrl">

                <div class="container" ng-class="class">
                
                    <article class="clearfix">
                        <h3>Сувениры из путешествий: как выбирать, как упаковывать, о чём помнить при выборе.</h3>
                        <img src='images/article-cover.jpg' alt=''>
                        <p>Что привезти и чего ни в коем случае не привозить из Дублина, Амстердама, Нью-Йорка, Лиссабона и других городов. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae nostrum placeat vel. Atque et asperiores quis exercitationem ipsum pariatur eos a quas delectus voluptas iure quam eum quibusdam, voluptatum ipsam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit minima voluptatibus eveniet quam ex distinctio voluptas iusto a ea dolores saepe atque aliquid, rerum ad placeat, sequi voluptatum quidem totam!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nostrum aliquid esse ipsum! Fugit at, accusamus reiciendis praesentium unde dicta iste cum natus laborum impedit, quisquam, corporis molestias. Temporibus, modi.</p>

                    </article>

                    <div class="socials">
                        <a href="#nul" onclick="window.open('http://www.facebook.com/share.php?u=pharm-sp/article.html&title=Сувениры из путешествий: как выбирать, как упаковывать, о чём помнить при выборе.','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');" class="fb"></a>


                        <a href="#nul" class="gg" onclick="window.open('https://plus.google.com/share?url=pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>



                        <a href="#nul" class="tw" onclick="window.open('http://twitter.com/home?status=Сувениры из путешествий: как выбирать, как упаковывать, о чём помнить при выборе.+pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>



                        <a href="#nul" class="vk" onclick="window.open('http://vk.com/share.php?url=pharm-sp/article.html','','Toolbar=1,Location=0,Directories=0,Status=0,Menubar=0,Scrollbars=0,Resizable=0,Width=550,Height=400');"></a>
                    </div>

                </div>


                <form action="#" class="clearfix">
                    <h2>Задать вопрос</h2>
                    <input type="text" name="name" placeholder="Ваше имя" required>
                    <input type="email" name="email" placeholder="Ваша почта" required>
                    <textarea name="message" id="" placeholder="Сообщение" required></textarea>
                    <button>Отправить</button>
                </form><!-- end form-->



                <div class="contacts">
                    <p class="address"><strong>{{contacts.address}}</strong></p>
                    <p class="phone-num"><a href="tel:{{contacts.tel}}"><strong>{{contacts.phone}}</strong></a></p>
                </div>
            </section><!-- end content-info-->

        </div><!-- end wrapper -->
    </section><!-- end content-->

    <div class="map" id="map">
        
    </div>

    <footer>
        <div class="footer-content wrapper">
            <div class="copy">
                <img <img ng-src="{{orgLogo}}" alt="">
                <p><strong>{{contacts.orgName}}</span></p>
            </div>
            <div class="banner">
                <img ng-src="{{footerBanner}}" alt="">
            </div>
        </div>
    </footer>
    
<!-- //////////////////////////////////////////////////////////////////////// -->
    
    
        <script src="js/vendor/modernizr.js"></script>
       
        
        <script src="js/slick/slick.min.js"></script>

        <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="js/ui-accordion.js"></script>
        
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/fancybox/jquery.fancybox.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/dirPagination.js"></script>
        <script src="js/angular-slick/dist/slick.js"></script>

        <script src="app.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>


           

