{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
<div class="container">
   {% include "main/paginator.html" %}
   {% include "main/popupFilter.html" %}
   {% include "main/local_menu_script.html" %}
    <ul class="listprd">
    {% for product in object_list %}
        <li>
         {% setContextMenu product update_url=update_url %}
          <div class="thumb">
              <a href="{{ product.get_absolute_url }}">
                  {% if product.image %}
                      <img src="{{ MEDIA_URL }}big/{{ product.image }}" alt="{{ product.name }}" title="{{ product.name }}" />
                  {% else %}
                      <img src="{% static 'tppcenter/img/item.jpg' %}" alt="{{ product.name|truncatechars:40 }}" />
                  {% endif %}
              </a>
          </div>
            <div class="link">
                {% if product.country.flag %}
                     <i class="flag sprite {{ product.country.flag }}" title="{{ product.country.name }}"></i>
                {% endif %}
            <a href="{{ product.get_absolute_url }}" class="name">{{ product.name|truncatechars:45 }}</a>
           </div>
            <div class="price">
                {% if product.cost %}
                    {{ product.currency|getSymbol }} {{ product.cost|formatPrice }}
                {% else %}
                    {% trans 'Contact to price' %}
                {% endif %}
            </div>
            <a href="{{ product.get_absolute_url }}" class="btnbuy">{% trans 'Buy' %}</a>
        </li>
    {% empty %}
        <div class="no-results">{% trans "No results found" %}</div>
    {% endfor %}
    </ul>
   {% include "main/paginator.html" %}
</div>
