{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">

           {% include "main/paginator.html" %}
            {% include "Products/popupFilter.html" %}
             {% include "main/local_menu_script.html" %}
             <ul class="listprd">
                {% for id , attr in proposalList.items %}
                    {% with attr.NAME.0 as name %}
                    {% with attr.IMAGE.0 as image %}
                    {% with attr.CREATE_DATE.0 as date%}
                    {% with attr.COUNTRY_NAME|first as country_name %}
                    {% with attr.SLUG|first as slug %}
                    {% with attr.FLAG_CLASS|first as flag_class %}
                    {% with attr.COST|first as price %}
                    {% with attr.CURRENCY|first as currency %}
                    {% with attr.COUNTRY_ID as country_id %}
                    <li>
                     {% resolve items_perms id|slugify as permlist %}

                     {% if 'delete_product' in  permlist or 'change_product' in permlist%}
                            <div class="blockbox">
                                <a href="#"><i class="btn-afisha imgnews"></i></a>
                                <div class="localmenu">
                                    {% if 'delete_product' in  permlist %}
                                         <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url 'products:delete' id %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                                    {% endif %}
                                    {% if 'change_product' in permlist %}
                                         <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'products:update' id %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                    {% endif %}
                                    {% if 'add_advtop' in permlist %}
                                         <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'adv_top:top_form' id %}?next={{ current_path }}"> <span class="deletext">{% trans 'add top' %}</span></a></div>
                                    {% endif %}
                                </div>
                            </div>
                   {% endif %}
                      <div class="thumb">
                          <a href="{% url "products:detail" slug %}">
                              {% if image %}
                                  <img src="{{ MEDIA_URL }}big/{{ image }}" alt="{{ name }}" title="{{ name }}" />
                              {% else %}
                                  <img src="{% static 'tppcenter/img/item.jpg' %}" alt="{{ name|truncatewords:7 }}" />
                              {% endif %}
                          </a>
                      </div>
                        <div class="link">

                            {% if flag_class %}
                                 <i class="sprite {{ flag_class }}" title="{{ country_name }}"></i>
                            {% endif %}
                        <a href="{% url "products:detail" slug %}" class="name">{{ name }}</a>
                       </div>
                        <div class="price">
                            {% if price %}
                                {{ currency|getSymbol }} {{ price }}
                            {% else %}
                                {% trans 'Contact to price' %}
                            {% endif %}
                        </div>
                        <a href="{% url "products:detail" slug %}" class="btnbuy">{% trans 'Buy' %}</a>
                    </li>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% empty %}
                    <div class="no-results">{% trans "No results found" %}</div>
                {% endfor %}
            </ul>
           {% include "main/paginator.html" %}
</div>
