{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
           {% include "main/paginator.html" %}
             <ul class="listprd">
                {% for id , attr in productsList.items %}
                    {% with attr.NAME.0 as name %}
                    {% with attr.IMAGE.0 as image %}
                    {% with attr.CREATE_DATE.0 as date%}
                    {% with attr.COUNTRY_NAME|first as country_name %}
                    {% with attr.SLUG|first as slug %}
                    {% with attr.COUNTRY_FLAG|first as flag %}
                    {% with attr.COST|first as price %}
                    {% with attr.CURRENCY|first as currency %}
                    {% with attr.COUNTRY_ID as country_id %}
                    <li>
                      <div class="thumb"><a href="{% url "products:detail" slug %}"><img src="{{ MEDIA_URL }}small/{{ image }}" alt="{{ name }}" /></a></div>
                        <div class="link">
                    	<img src="{{ MEDIA_URL }}small/{{ flag }}" class="flag" alt="{{ country_name }}" />
                        <a href="{% url "products:detail" slug %}" class="name">{{ name }}</a>
                       </div>
                        <div class="price">{{ currency|getSymbol }} {{ price }}</div>
                        <a href="{% url "products:detail" slug %}" class="btnbuy">Купить</a>
                    </li>
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                {% endfor %}
            </ul>
           {% include "main/paginator.html" %}
</div>
