{% extends 'main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}


{% block header %}
    {% include "login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/company.css" %}" />
{% endblock %}

{% block js %}
    {{ block.super }}

    <script>
    $(function() {
         $(".goods-details-tab").tabs();});
    </script>

    <script>
        {% getOwner item_id as owner %}

        {% if owner %}
            {% if owner.type == 'tpp' %}
                ga('set', 'dimension1', {{ owner.pk }});
            {% else %}
                ga('set', 'dimension3', {{ owner.pk }});
            {% endif %}
        {% endif %}
        ga('set', 'dimension2', 'product');
    </script>
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}


  <div class="goods-details">
            	<h1>{{ item.title }}  {{ item.sku|default_if_none:"" }}</h1>
                <div class="goods-details-left">
                	<div class="gallery">
                        <div id="panel">
                            {% if item.image %}
                              <img id="largeImage" src="{{ MEDIA_URL }}big/{{ item.image }}" alt="{{ item.title }}" title="{{ item.title }}" />
                            {% else %}
                              <img id="largeImage" src="{% static 'tppcenter/img/item.jpg' %}" alt="" />
                            {% endif %}
                        </div>
                        <div id="thumbs">
                            {% for photo in photos %}
                               <img src="{{ MEDIA_URL }}big/{{ photo.photo }}" />
                            {% endfor %}
                        </div>
                    </div>
                    {% b2bSocialButtons item.image item.title item.text %}

                </div>
                <div class="goods-details-center">
                	<ul>
                    	<li>
                        	<label>{% trans "Price" %}:</label>
                            <p>
                                {% if item.price %}
                                     {{ item.currency|getSymbol }} {{ item.price|formatPrice }}
                                {% else %}
                                     {% trans 'Get price' %}
                                {% endif %}
                            </p>
                        </li>
                        {% if item.meas_unit %}
                            <li>
                                <label>{% trans 'Unit' %}:</label>
                                <p>{{ item.meas_unit }}</p>
                            </li>
                        {% endif %}
                        <li>
                        	<label>{% trans 'Amount' %}:</label>
                            <input type="text" name="" value="" class="text" style="width:60%;" />
                        </li>
                        {% comment %}
                        <li>
                        	<label>{% trans 'Delivery method' %}:</label>
                            <span class="trans-services"><i class="imgnews transport trans-1"></i></span>
                            <span class="trans-services"><i class="imgnews transport trans-2"></i></span>
                            <span class="trans-services selected"><i class="imgnews transport trans-3"></i></span>
                            <span class="trans-services"><i class="imgnews transport trans-4"></i></span>
                            <span class="trans-services"><i class="imgnews transport trans-5"></i></span>
                       </li>
                       {% endcomment %}
                       <li>
                           <a class="bigbuy contact-us" data-name="{{ item.title }}" data-id="{{ item.organization.pk }}" href="#" >{% trans 'Contact us' %}</a>
                       </li>
                    </ul>
                </div>
                <ul class="goods-info">
                   <li class="top">
                        <div class="iconinfo"><i class="sprite {{ item.country.flag }}" title="{{ item.country.text }}"></i> </div>
                        <div class="nameinfo"><b><a href="{% url 'companies:detail' item.organization.slug %}">{{ item.organization.title }}</a></b></div>
                   </li>
                   {% if item.organization.address %}
                       <li>
                            <div class="iconinfo"><i class="imgnews icon-info1"></i></div>
                            <div class="nameinfo">{{ item.organization.address }}</div>
                       </li>
                   {% endif %}
                   {% if item.organization.phone %}
                       <li>
                            <div class="iconinfo"><i class="imgnews icon-info2"></i></div>
                            <div class="nameinfo">{{ item.organization.phone }}</div>
                       </li>
                   {% endif %}
                   {% if item.organization.fax %}
                       <li>
                            <div class="iconinfo"><i class="imgnews icon-info3"></i></div>
                            <div class="nameinfo">{{ item.organization.fax }}</div>
                       </li>
                   {% endif %}
                   {% if item.organization.site_name %}
                       <li>
                            <div class="iconinfo"><i class="imgnews icon-info4"></i></div>
                            <div class="nameinfo"><a href="#">{{ item.organization.site_name }}</a></div>
                       </li>
                   {% endif %}
                   <li>
                        <div class="iconinfo"><i class="imgnews icon-info5"></i></div>
                        <div class="nameinfo">
                            <a class="contact-us" data-name="{{ item.title }}" data-id="{{ item.organization.pk }}" href="#" >{% trans 'Contact us' %}</a>
                        </div>
                   </li>
                </ul>
                <div class="goods-details-tab">
                    <div class="tab-cate">
                        <ul>
                            <li><a href="#goods-tabs-1">{% trans 'About company' %}</a></li>
                            <li><a href="#goods-tabs-2">{% trans 'Document' %}</a></li>
                            <li><a href="#goods-tabs-3">{% trans 'Reviews' %}</a></li>
                            {% for page in additionalPages %}
                                 <li><a href="#goods-tabs-{{ forloop.counter0|add:4 }}">{{ page.getTitle }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div id="goods-tabs-1">
                        <div class="content-goods-tab">{{ item.text|cleanHtml|safe }}</div>
                    </div>
                    <div id="goods-tabs-2">
                        <div class="content-goods-tab">
                            {% if item.doc_1 %}
                                <a href="{{ MEDIA_URL}}document/{{ item.doc_1 }}">{% trans 'Link to the document' %}</a><br>
                            {% endif %}
                            {% if item.doc_2 %}
                                  <a href="{{ MEDIA_URL}}document/{{ item.doc_2 }}">{% trans 'Link to the document' %}</a><br>
                            {% endif %}
                           {% if item.doc_3 %}
                                 <a href="{{ MEDIA_URL}}document/{{ item.doc_3 }}">{% trans 'Link to the document' %}</a><br>
                            {% endif %}
                        </div>
                    </div>
                    <div id="goods-tabs-3">
                        <div class="content-goods-tab">

                        </div>
                    </div>
                    {% for page in additionalPages %}
                        <div id="goods-tabs-{{ forloop.counter0|add:4 }}">
                                 <div class="content-goods-tab">{{ page.getContent|cleanHtml|safe }}</div>
                         </div>
                     {% endfor %}
                </div>
     </div>

{% endblock %}
