{% extends "baseFilter.html" %}
{% load i18n %}
{% block filterTopContent %}
    {% for name, ids in filters.items %}
        {% if ids %}
            {% for dict in ids %}
                {% with dict.id as id %}
                {% with dict.text as text %}
                    <input type="hidden" class="filter-item" name="filter[{{ name }}][]" value="{{ id }}" data-text="{{ text }}">
                {% endwith %}
                {% endwith %}
            {% endfor %}
        {% endif %}
    {% endfor %}

    <div class="tabfilter">
        <div class="tab-cate">
            <ul>
                <li><a href="#tabfil-1">{% trans "Country" %}</a></li>
                <li><a href="#tabfil-2">{% trans "Organization" %}</a></li>
                <li><a href="#tabfil-3">{% trans "Company" %}</a></li>
                <li><a href="#tabfil-4">{% trans "Branch" %}</a></li>
            </ul>
        </div>

        <div id="tabfil-1">
            <div class="tabfilter-content">
                <input id="filter-country" type="hidden" class="big-selector">
            </div>
        </div>

        <div id="tabfil-2">
            <div class="tabfilter-content">
                <input id="filter-tpp" type="hidden" class="big-selector">
            </div>
        </div>

        <div id="tabfil-3">
            <div class="tabfilter-content">
                <input id="filter-company" type="hidden" class="big-selector">
            </div>
        </div>

        <div id="tabfil-4">
            <div class="tabfilter-content">
                <input id="filter-branch" type="hidden" class="big-selector">
            </div>
        </div>
    </div>

{% endblock %}
