{% load i18n %}
    <div class="addpage-form" id="num-aparams">
        <div class="clumn1">
            <label>{% trans 'Title' %}</label>
                {% if form.errors.title %}
                    <div class="error-handler">
                        <div class="formserror">{{ form.errors.title.0 }}</div>
                    </div>
                {% endif %}
            <input class="pr-text" style="width:98%;padding:8px;" id="{{ prefix }}-title" name="{{ prefix }}-title" type="text" value="{{ form.title.value|default_if_none:"" }}" />
            <div style="margin-bottom: 20px">{% trans 'Delete' %}: <input type="checkbox" name="{{ prefix }}-DELETE" {% if form and form.DELETE.value %} checked="checked" {% endif %}/></div>
        </div>

        <div class="clumn1">
            <div style="margin-bottom:20px"><label>{% trans 'Description' %}</label></div>
            <div class="">
                {% if form.errors.description %}
                    <div class="error-handler">
                        <div class="formserror">{{ form.errors.description.0 }}</div>
                    </div>
                {% endif %}
                <input style="width:98%;padding:8px;" id="{{ prefix }}-description" name="{{ prefix }}-description" type="text" value="{{ form.description.value|default_if_none:"" }}" />
            </div>
        </div>

        <div class="clumn1">
            <div style="margin-bottom:20px"><label>{% trans 'Cost' %}</label></div>
            <div class="">
            {% if form.errors.extra_cost %}
                <div class="error-handler">
                    <div class="formserror">{{ form.errors.extra_cost.0 }}</div>
                </div>
            {% endif %}
                <input class="text pr-cost" style="width:98%;padding:8px;" id="{{ prefix }}-extra_cost" name="{{ prefix }}-extra_cost" type="text" value="{{ form.extra_cost.value|default_if_none:"" }}" />
            </div>
        </div>
    </div>
