{% load i18n %}
{% load static %}
<div class="tpp-dt-content">
    {% if has_perm %}
        <div class="uploader">
                <form>
                    <input id="file-upload" name="image" type="file" multiple="true">
                    <div id="file-upload-queue"></div>
                </form>
        </div>
    {% endif %}
    <div class="files_holder">
        {% include "b24online/tab_documents_structure.html" %}
    </div>
</div>

{% if has_perm %}
    <!-- Gallery uploader -->
    <style>
        .uploader {
            max-height: 130px;
            overflow-y: hidden;
        }
        #file-upload-queue, #file-upload {
            float: left;
            margin-left: 11px;
        }
        .uploader:after {
           content: "";
           display: block;
           clear: both;
        }
    </style>

    <script>
        LANG['UPLOAD'] = {
            'uploading': '{% trans "Uploading" %}',
            'success': '{% trans "Uploaded" %}',
            'fail': '{% trans "Fail" %}',
            'wasUploaded': '{% trans "The following files were not uploaded" %}'
        };

        var buttonImage= '{% static "b24online/img/folder-blue-upload.png" %}';

        options = {
            fileSizeLimit: '2MB',
            fileTypeExts: '*.pdf; *.doc; *.docx; *.zip; *.rar; *.xls; *.xlsx; *.pptx; *.pptm; *.ppt',
            fileObjName: 'document',
            swf: '{% static "b24online/uploadify.swf" %}',
            uploader: '{{ uploaderURL }}',
            buttonImage: buttonImage,
            queueID: 'file-upload-queue'
        }


        FileUploader.init($('#file-upload'), LANG['UPLOAD'], buttonImage, '{{ structureURL }}', options);
    </script>
    <!-- /Gallery uploader -->
{% endif %}
