{% extends 'b24online/base.html' %}
{% load staticfiles %}
{% load CustomFilters %}
{% load i18n %}

{% block title %}{% trans 'B24Online' %}{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/jquery.bxslider.css' %}" >
{% endblock %}

{% block js %}
    {{  block.super }}

    <script type="text/javascript" src="{% static 'b24online/js/jquery.bxslider.js'%}" ></script>
    <script type="text/javascript">
        $(document).ready(function(){
          $('.bxslider').bxSlider();
          $('.homeslide').bxSlider({
                pager: true,
                controls: false,
                auto: true
          });
          $('.greetings').bxSlider();
        });
        $(document).ready(function() {
            $(".various").fancybox({
                maxWidth	: 800,
                maxHeight	: 600,
                fitToView	: false,
                width		: '70%',
                height		: '70%',
                autoSize	: false,
                closeClick	: false,
                openEffect	: 'none',
                closeEffect	: 'none'
            });
        });
    </script>
{% endblock %}


{% block header %}
    {% include "b24online/main_header.html" %}
{% endblock %}

{% block body %}
<div class="header">
    <div class="wrapper">
        <a href="#"><i class="logo-main" id="logo"></i></a>
        <ul class="header-r">
                <li>
                    <a href="{% url 'products:main_b2c' %}">
                        <div class="icon-l"><i class="iconsv1 imgmain"></i></div>
                        <div class="text-r">{% trans 'B2C center' %}</div>
                    </a>
                </li>
                <li>
                    <a href="http://bankip.com">
                        <div class="icon-l"><i class="iconsv2 imgmain"></i></div>
                        <div class="text-r">{% trans 'Innovation projects' %}</div>
                    </a>
                </li>
                <li>
                    <a href="{% url "project:detail" "payment-system" "140824" %}">
                        <div class="icon-l"><i class="iconsv3 imgmain"></i></div>
                        <div class="text-r">{% trans 'Payment System' %}</div>
                    </a>
                </li>
            </ul>
    </div>
</div>
<div class="wrapper">
    <div class="main">
    	<div class="sideleft">
          <select id="lang_select" style="height: 24px;width: 200px; border-left-color: #E8E8E8; border-bottom-color: #E8E8E8" >
                        <option>{% trans 'Mother tongue' %}</option>
                        {% get_available_languages as LANGUAGES %}
                        {% for code, lang in LANGUAGES %}
                            <option value="{{ code }}">{{ lang }}</option>
                        {% endfor %}
                    </select>

                    <script>
                        var path = (window.location.host).split('.');
                        var lang = path[0];

                        if (lang.length != 2) {
                            lang = 'ru';
                        }



                        $("#lang_select").find('option').each(function( i, opt ) {
                            if( opt.value === lang )
                                $(opt).attr('selected', 'selected');
                        });

                        $( "#lang_select" ).change(function(e) {

                            if (!$( this ).val())
                                return;

                            path = (window.location.host).split('.');

                            if (path[0] == 'www'){
                                delete path[0]
                            }

                            if (path.length > 2){
                                host = path[1] + '.' + path[2]
                            } else {
                                host = window.location.host
                            }

                            var lang = $( this ).val() + '.';

                            window.location.href = window.location.protocol + "//" + lang + host  +
                                window.location.pathname + window.location.search + window.location.hash;

                        });
                </script>

                <!-- Google Translate injection -->
                <div id="google_translate_element_main" style="margin-top: 2px; margin-bottom: 2px;">
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({
                                pageLanguage: 'en',
                                multilanguagePage: true}, 'google_translate_element_main');
                        }
                    </script>
                    <style type="text/css">
                    .goog-te-combo {
                      width: 200px;
                    }
                    </style>
                    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
            <!-- /Google Translate injection -->

        	<div class="community">
            	<span class="title">{% trans 'Community' %}</span>
                <div class="slide-comm">
                    <ul class="bxslider">
                        {% for org in organizationsList %}
                                 {% if forloop.counter|add:-1|divisibleby:"4" or forloop.counter0 == 0 %}
                                    <li>
                                 {% endif %}
                                 <a title="{{ org.name }}" href="{{ org.get_absolute_url }}" class="items">
                                     <img src="{{ org.flag_url }}" alt="{% trans 'Work with' %}{{ org.name }}" title="{{ org.name }}" />
                                 </a>
                            	 {% if forloop.counter|divisibleby:"4" or forloop.counter == organizationsList|length %}
                                    </li>
                                 {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>



            <ul class="services">
            	<li>
                    <div class="imgmain imgservice sv1"></div>
                    <div class="nameservice"><a href="{% url 'products:main' %}">{% trans 'Producst and services' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv2"></div>
                    <div class="nameservice"><a href="{% url 'companies:main' %}">{% trans 'Companies' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv3"></div>
                    <div class="nameservice"><a href="{% url 'tpp:main' %}">{% trans "Business community" %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv4"></div>
                    <div class="nameservice"><a href="{% url 'tenders:main' %}">{% trans 'Tenders' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv5"></div>
                    <div class="nameservice"><a href="{% url 'innov:main' %}">{% trans 'Innovative projects' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv6"></div>
                    <div class="nameservice"><a href="{% url 'vacancy:main' %}">{% trans 'Jobs' %}</a></div>
                </li>
                <li>
                    <div class="imgmain imgservice sv7"></div>
                    <div class="nameservice"><a href="{% url 'news:main' %}">{% trans "News" %}</a></div>
                </li>
            </ul>
        </div>
        <div class="mainright">

            <div class="homeslider">
            	<ul class="homeslide">
                    <li>
                       <div class="slide1">
                       		<div class="desc">
                            	<h2>{% trans 'Sign up' %}</h2>
                                <span class="text">{% trans 'and get tools for business' %}</span>
                            </div>
                            <span class="note">* {% trans 'In 2014, Portal TPP-Center was marked by the reward sign "Business Leader of the CIS" for his contribution to the development of economic integration' %}.</span>
                       </div>
                    </li>
                    <li>
                       <div class="slide2">
                       		<div class="desc">
                            	<h2>{% trans 'Registration' %}</h2>
                                <h3>{% trans 'on the portal will allow you to' %}</h3>
                                <ul class="list">
                                	<li>{% trans 'run a business behalf of the company' %}  (B2B, B2C)</li>
                                    <li>{% trans 'to buy goods as a private person' %}(B2C)</li>
                                    <li>{% trans 'draw attention toward your projects' %}(BANKIP)</li>
                                </ul>
                            </div>
                       </div>
                    </li>
                    <li>
                       <div class="slide3">
                       		<div class="desc">
                            	<h2>{% trans 'Sign up' %}</h2>
                                <h3>{% trans 'and you will be able' %}</h3>
                                <ul class="list">
                                	<li>{% trans 'create your own online shop' %}</li>
                                    <li>{% trans 'to represent your products and services' %}</li>
                                    <li>{% trans 'communicate with potential customers' %}</li>
                                </ul>
                            </div>
                       </div>
                    </li>
                    <li>
                       <div class="slide4">
                       		<div class="desc">
                            	<h2>{% trans 'Registred' %}</h2>
                                <h3>{% trans 'users can' %}</h3>
                                <ul class="list">
                                	<li>{% trans 'create their own websites' %}</li>
                                    <li>{% trans 'puts advertising on the portal' %}</li>
                                    <li>{% trans 'create their own communities of interest' %}</li>
                                </ul>
                            </div>
                       </div>
                    </li>
                </ul>
                <div class="register">
                	<div class="title">
                    	<p><b>{% trans 'Sign up' %}</b></p>
                        {% trans 'right now' %}
                    </div>

                    <form method='post' action='{% url "registration_register" %}'>
                     {% csrf_token %}
                     <ul class="formregister">
                    	<li><input id="id_email"  class="text"  name="email" type="email" placeholder="E-mail"/></li>
                        <li> <input id="id_password1" type="password"  class="text "  name="password1" placeholder="{% trans 'Password' %}"/></li>
                        <li><input id="id_password2" type="password"  class="text"  name="password2" placeholder="{% trans 'Confirm password' %}"/></li>
                        <li>
                        	<input type="checkbox" name="tos" />
                            {% trans 'I agree to' %} <a href="#">{% trans 'the term' %}</a>
                        </li>

                        <li class="end"><input type="submit" name="Register" class="btnreg" value="{% trans "Sign up" %}"></li>
                    </ul>
                   </form>
                </div>
            </div>
            <div class="content-l">
            	<span class="best-title">{% trans 'Best deals' %}</span>
                <ul class="pr-best-price">
                	{% for prod in productsList %}
                    <li>
                    	<a href="{{ prod.get_absolute_url }}">
                            <div class="thumb">
                                {% if prod.image %}
                                     <img src="{{ prod.image.big }}" alt="{{ prod.name }}" title="{{ prod.name }}" />
                                {% else %}
                                     <img src="{% static 'b24online/img/item.jpg' %}"  />
                                {% endif %}
                            </div>
                        </a>
                        <div class="location">
                            <i class="flag sprite {{ prod.country.flag }}" title="{{ prod.country.name }}"></i>
                            <a style="width: 75%;" href="{{ prod.get_absolute_url }}">{{ prod.name }}</a>
                        </div>
                    </li>
                    {% endfor %}

                </ul>
                <div class="review">
                	<div class="review-l">
                    	<h3>{% trans "Affiche" %}</h3>
                        <ul class="listcm">
                          {% for exh in exhibitionsList %}
                                <li>
                                    <div class="topcm">
                                        <i class="flag sprite {{ exh.country.flag }}" title="{{ exh.country.name }}"></i>
                                        <div class="date">
                                            <p><b>{{ exh.start_date|date:"d M Y"}}</b></p>
                                            <p>{{ exh.country.name }}  {{ exh.city }}</p>
                                        </div>
                                    </div>
                                    <p class="linkcm"><a href="{{ exh.get_absolute_url }}">{{ exh.title }}</a></p>
                                </li>
                          {% endfor %}
                        </ul>
                        <a href="{% url 'exhibitions:main' %}" class="btnview">{% trans "All exhibitions and forums" %} &rarr;</a>
                    </div>
                    <div class="review-l review-r">
                    	<h3>{% trans "Business offers" %}</h3>
                        <ul class="listcm">
                        {% for srvc in serviceList %}
                        	<li>
                            	<div class="topcm">
                                        {% if srvc.country %}
                                            <i class="flag sprite {{ srvc.country.flag }}" title="{{ srvc.country.name }}"></i>
                                        {% elif srvc.organization.flag %}
                                            <img src="{{ srvc.organization.flag_url }}" width="18" height="12" class="flag" alt="{{ srvc.organization.name }}" title="{{ srvc.organization.name }}" />
                                        {% endif %}
                                        <p><b>{{ srvc.country.name }}</b></p>
                                    <div class="date">

                                        <p>{{ srvc.organization.name }}</p>
                                    </div>
                                </div>
                                <p class="linkcm"><a href="{{ srvc.get_absolute_url }}">{{ srvc.title }}</a></p>
                            </li>
                        {% endfor %}

                        </ul>
                        <a href="{% url 'proposal:main' %}" class="btnview">{% trans "All business offers" %} &rarr;</a>
                    </div>
                </div>
            </div>
            <div class="content-r">
                 <span class="titlevideo">{% trans 'Introduction to London Markets' %}</span>
                 <div class="media">

                         <img width="220px" height="80px" src="{% static 'b24online/img/london_logo.png' %}" />
                          <div class="pdfdownload">
                	        <img src="{% static "b24online/img/pdf.png" %}" alt="" />
                              <span class="fileinfo">
                            	<a href="{% static "b24online/img/LSEG_2014.pdf"%}">{% trans 'Download Presentation' %} </a>
                              </span>
                          </div>


                 </div>


                <span class="titlevideo">{% trans 'Videoreference of V.Migirov' %}</span>
                 <div class="media">
                          <a class="various fancybox.iframe" href="http://www.youtube.com/embed/q9a0bDMf2qM?autoplay=1">
                         <img width="220" height="160" src="http://img.youtube.com/vi/q9a0bDMf2qM/0.jpg" /></a>
                 </div>



                <div class="pdfdownload">
                	<img src="{% static "b24online/img/pdf.png" %}" alt="" />
                    <span class="fileinfo">
                    	<a href="{% static "b24online/img/guide.pdf"%}">{% trans 'Download Guide Site' %} </a>
                        <p>({% trans "pdf-document" %}, 320 Кб)</p>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="peoples">
	<div class="wrapper">
    	<span class="title">{% trans 'Greetings' %}</span>
        <div class="people-slide">
        	<ul class="greetings">
               {% for greet in greetingsList %}
                  {% if forloop.counter|add:-1|divisibleby:"6" or forloop.counter0 == 0 %}
                          <li>
                  {% endif %}
                    <div class="items">
                    	<div class="bgtitle">
                        	<div class="textin">{{ greet.organization_name }}</div>
                        </div>
                    	<a href="{{ greet.get_absolute_url }}">
                            <img src="{{ greet.photo.big }}" alt="{{ greet.name }}" class="avatar" title="{{ greet.name }}" />
                        </a>
                        <div class="name">
                        	<a href="{{ greet.get_absolute_url }}">{{ greet.name }}</a>
                            {{ greet.position_name }}
                        </div>
                    </div>

                  {% if forloop.counter|divisibleby:"6" or forloop.counter == greetingsList|length %}
                       </li>
                  {% endif %}
               {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}

