<!DOCTYPE html>
<html>
<head>
    <title>The books list </title>
     {% load staticfiles %}
    <script type="text/javascript" src="{% static "b24online/js/jquery-1.10.2.min.js" %}"></script>
    <script>
        function items(page){
           link =  "/items/{{ item }}/showlist/"+page + "/";

          $("#items_table").load(link);


        }
        $(document).ajaxStart(function( event, xhr, settings ){
         $("#load").show();
        });
        $(document).ajaxComplete(function( event, xhr, settings ){
         $("#load").hide();
        });
        $(document).ready(function(){
            items(1);
        });


    </script>
</head>
<body>
<a href="create/">Create</a>

<div id="items_table"></div>
<div id ='load'><img src="{% static "images/loading.gif" %}"></div>




</body>
</html>


