{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

<script type="text/javascript">if (window.location.hash == '#_=_') { window.location.hash = '';}</script>

<div class="tophead">
	<div class="news">
    	<div class="tophead-l">
        	<a href="/"><i class="logo news-logo"></i></a>
        	{% show_top_static_pages %}
        </div>
      <div class="tophead-center">
      </div>


    <div class="tophead-r">

      <div class="geolocation-navi">
        <a href="/wall/" title="Geolocation"><span class="icon-location"></span></a>
      </div>

            <div class="language-navi">
            <img style="width:24px;" class="flag-icon" src="/static/b24online/bt/flags/{{ LANGUAGE_CODE }}.png">
            {% get_available_languages as LANGUAGES %}
            <div class="language-navi-dropdown">
              {% for code, lang in LANGUAGES %}
                  {% if not code == LANGUAGE_CODE %}
                  <a href="http{% if request.is_secure %}s{% endif %}://{{ code }}.{{ site }}{{ request.path }}"><img class="flag-icon" src="/static/b24online/bt/flags/{{ code }}.png"></a>
                  {% endif %}
              {% endfor %}
            </div>
            </div>

    {% if request.user.is_authenticated %}
    <div style="display:inline-block;width:auto;margin-top:2px;">

    <a href="{% url "profile:main" %}" style="text-decoration:none">
    {% if request.user.profile.avatar %}
    <img src="{{ request.user.profile.avatar.th }}" style="vertical-align:middle;margin-top:-4px;width:18px;">
    {% else %}
    <div style="background:#d3d3d3;width:17px;height:17px;display:inline-block;vertical-align:middle;margin-top:-4px;border:1px solid #aeaeae;"></div>
    {% endif %}
    </a>
    <a href="{% url "profile:main" %}" class="barca">{% userName %}</a>
    </div>
    {% endif %}

        {% if user.is_authenticated %}
        <a style="margin-left: 20px;" href="{% url 'auth_logout' %}" title=""> {% trans 'Sign out'  %}</a>
    {% else %}
        <a class="#" class="social-but" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><span class="icon-facebook-official"></span></a>
        <a class="#" class="social-but" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><span class="icon-gplus-squared"></span></a>
        <a href="{% url 'auth_login' %}" title="{% trans 'Sign in' %}"><i class="icons i-lock"></i><font>{% trans 'Sign in' %}</font></a> | <a href="{% url 'registration_register' %}?next={{ request.path }}" title="{% trans 'Sign up' %}"><font>{% trans 'Sign up' %}</font></a>
    {% endif %}
        </div>
    </div>
</div>
<div class="news">
