{% extends 'b24online/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load inclusionTags %}
{% load CustomFilters %}

    {% block header %}
        {% include "b24online/login_header.html" %}
    {% endblock %}

    {% block styles %}
         {{ block.super }}
         <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.css" />
         <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/news.css' %}" />
         <style>
            .selected-menu {
                background-color: #D7D7D9;
                color: #FFF;
            }
            .basket {
                width: 20px;
                height: 20px;
                padding: 5px;
                background-image: url({% static "b24online/img/basket.svg" %});
                background-repeat: no-repeat;
                text-align: center;
                font-weight: bold;
                background-size: 100% 100%;
            }

            .basket a {
                margin: 0px;
            }

         </style>
    {% endblock %}

    {% block js %}
        {{  block.super }}
        <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/bundled/html4+html5/jquery.history.min.js"></script>
        <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/select2/3.5.0/select2.min.js"></script>
        <script  type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&language=ru" charset="utf-8"></script>
        <script  type="text/javascript" src="{% static "b24online/js/ui.js"%}"></script>
        <script type="text/javascript" src="{% static "b24online/js/plugin.js" %}"></script>

        {% if user.is_authenticated %}
            <script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
            <script  type="text/javascript" src="{% static "b24online/js/async.js"%}"></script>
        {% endif %}

        <script type="text/javascript">
		$(document).ready(function() {
			$(".fancybox").fancybox({
				openEffect	: 'none',
				closeEffect	: 'none'
			});
		});
        var LANG = {};

            $(document).ready(function(e) {
                $('#thumbs').delegate('img','click', function(){
                    $('#largeImage').attr('src',$(this).attr('src').replace('thumb','large'));
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                ui.init();
                uiDetail.init();
                uiEvents.init();
            });
        </script>
        <script type="text/javascript">
                $(function() {
                    var cname = 'tab';
                    var ca = document.cookie.split(';');
                    var name = cname + "=";
                    var tab = 0;

                    for(var i=0; i < ca.length; i++) {
                         var c = ca[i].trim();

                         if (c.indexOf(name)==0) {
                            tab = c.substring(name.length, c.length);
                            break;
                         }
                     }

                    $( "#tabs" ).tabs({
                        active: tab,
                        activate: function(event, ui) {
                            var i = ui.newTab.index();

                            document.cookie = cname + "=" + i + "; path=/";
                        }
                    });
                    $( ".tabfilter" ).tabs();
                });
        </script>
    {% endblock %}

{% block body %}
<div class="news-main">
    {% block left %}
         <div class="news-left">
         <div class="b-filter">
            	<div class="b-filter-left">
                	<select id="lang_select">
                    	<option disabled selected>{% trans 'Mother tongue' %}</option>
                        {% get_available_languages as LANGUAGES %}
                        {% for code, lang in LANGUAGES %}
                            <option value="{{ code }}">{{ lang }}</option>
                        {% endfor %}
                    </select>
                     <!-- Google Translate injection -->
                    <div id="google_translate_element_main" style="margin-top: 2px; margin-bottom: 2px;">
                        <script type="text/javascript">
                            function googleTranslateElementInit() {
                                new google.translate.TranslateElement({
                                    pageLanguage: 'en',
                                    multilanguagePage: true,
                                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element_main');
                            }
                        </script>
                        <style type="text/css">
                        .goog-te-combo {
                          width: 200px;
                        }
                       .goog-te-gadget-simple{background-color:#fff;
                                              border-left:1px solid #d5d5d5;border-top:1px solid #9b9b9b;border-bottom:1px solid #e8e8e8;border-right:1px solid #d5d5d5;
                                              font-size: 6pt;display:inline-block;padding-top:1px;cursor:pointer;zoom:1;*display:inline;float: left;width: 107px;}
                        </style>
                        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                </div>
            <!-- /Google Translate injection -->
                </div>
              {% if not addNew or not user.is_authenticated %}
                  <a  class="add-new {% if not user.is_authenticated %}logged-out{% endif %}" href="#">
                    <button class="addButton disable">
                        <img src="{% static 'b24online/img/plus.svg' %}" alt="">
                        <span>{% trans 'Add' %}</span>
                    </button>
                  </a>
              {% else %}
                    <a class="add-new" href="{{ addNew }}">
                        <button class="addButton">
                            <img src="{% static 'b24online/img/plus.svg' %}" alt="">
                            <span>{% trans 'Add' %}</span>
                        </button>
                    </a>
              {% endif %}
            </div>
          <script>
                    $(document).ready(function() {
                          var path = (window.location.host).split('.');
                          path = path[0];
                         $("#lang_select").find('option').each(function( i, opt ) {
                            if( opt.value === path )
                                $(opt).attr('selected', 'selected');
                        });
                    });
                    $( "#lang_select" ).change(function(e) {
                        if (!$( this ).val())
                        return;

                        path = (window.location.host).split('.');
                        if (path[0] == 'www'){
                            delete path[0]
                        }

                        if (path.length > 2){
                            host = path[1] + '.' + path[2]
                        }
                        else{
                            host = window.location.host
                        }


                        window.location.href =window.location.protocol + "//" +   $( this ).val() + "." + host  +
                                window.location.pathname + window.location.search + window.location.hash;

                    });

                </script>


            <div class="categories-news" id="tabs">
                <div class="tab-cate">
                    <ul>
                        <li><a href="#tabs-1" class="tab1">{% trans "Main" %}</a></li>
                        {% if user.is_authenticated %}<li><a href="#tabs-2" class="tab2">{% trans "My" %}</a></li>{% endif %}
                    </ul>
                </div>
                {% if user.is_authenticated %}
                   {% get_my_companies_list %}
                {% endif %}
                <div id="tabs-1">
                    <ul class="tab1-cate">
                        <li><a class="single-page" href="{% url 'wall:main' %}">{% trans 'Wall' %}</a></li>
                    	<li><a class="single-page" href="{% url 'news:main' %}">{% trans 'News' %}</a></li>
                        <li><a class="single-page" href="{% url 'products:main' %}">{% trans 'Products B2B' %}</a></li>
                        <li><a class="single-page" href="{% url 'products:main_b2c' %}">{% trans 'Products B2C' %}</a></li>
                        <li><a class="single-page" href="{% url 'products:main_сoupons' %}">{% trans 'Online Coupons' %}</a></li>
                        <li><a class="single-page" href="{% url 'tpp:main' %}">{%  trans 'Organizations' %}</a></li>
                        <li><a class="single-page" href="{% url 'companies:main' %}">{% trans 'Companies' %}</a></li>
                        <li><a class="single-page" href="{% url 'innov:main' %}">{% trans 'Innovation Projects' %}</a></li>
                        <li><a class="single-page" href="{% url 'proposal:main' %}">{% trans 'Business Proposals' %}</a></li>
                        <li><a class="single-page" href="{% url 'exhibitions:main' %}">{% trans 'Exhibitions / Forums' %}</a></li>

{% comment %}           <li><a style="color: #a9a9a9;" title="Coming soon..." href="">{% trans 'Leasing' %}</a></li>
                        <li><a style="color: #a9a9a9;" title="Coming soon..." href="">{% trans 'v-Storage' %}</a></li>
{% endcomment %}        <li><a class="single-page" href="{% url 'tv:main' %}">{% trans 'TPP TV' %} </a></li>
                        <li><a class="single-page" href="{% url 'vacancy:main' %}">{% trans 'Job requirements' %} </a></li>
                        <li><a class="single-page" href="{% url 'resume:main' %}">{% trans 'Resume' %}</a></li>


                        <!-- temporary hide..

                        <li><a class="single-page" href="{% url 'tenders:main' %}">{% trans 'Tenders' %}</a></li>
                        <li><a class="single-page" href="{% url "users:main" %}">{% trans 'Users' %}</a></li>

                        -->

                    </ul>
                </div>
                {% if user.is_authenticated %}
                    <div id="tabs-2">
                        <ul class="tab1-cate">
                            {% if user.is_authenticated %}
                                {% if user.is_commando or user.is_superuser %}
                                    <li id="menu-admin"><a href="{% url "AdminTpp:adv" %}">{% trans 'Admin Panel' %}</a></li>
                                {% endif %}
                            {% endif %}
                            <li><a class="single-page" href="{% url 'news:my_main' %}">{% trans 'News' %}</a></li>
                            <li><a class="single-page" href="{% url 'products:my_main' %}">{% trans 'Products B2B' %}</a></li>
                            <li><a class="single-page" href="{% url 'products:my_b2c' %}">{% trans 'Products B2C' %}</a></li>
                            <li><a class="single-page" href="{% url "tpp:my_main" %}">{% trans 'Organizations' %}</a></li>
                            <li><a class="single-page" href="{% url "companies:my_main" %}">{% trans 'Companies' %}</a></li>
                            <li><a class="single-page" href="{% url "innov:my_main" %}">{% trans 'Innovation Projects' %}</a></li>
                            <li><a class="single-page" href="{% url 'proposal:my_main' %}">{% trans 'Business Proposals'  %}</a></li>

                            <li><a class="single-page" href="{% url 'exhibitions:my_main' %}">{% trans 'Exhibitions / Forums' %}</a></li>

    {% comment %}           <li><a style="color: #a9a9a9;" title="Coming soon..." href="">{% trans 'Leasing' %}</a></li>
                            <li><a style="color: #a9a9a9;" title="Coming soon..." href="">{% trans 'v-Storage' %}</a></li>
    {% endcomment %}
                            <li><a href="{% url 'adv_banners:main' %}">{% trans 'Banners' %}</a></li>
    {% comment %}           <li><a href="{% url 'Adv:main' %}">{% trans 'Advertisement' %}</a></li>
    {% endcomment %}        <li><a href="{% url 'analytic:main' %}">{% trans 'Analytic' %}</a></li>
                            <li><a href="{% url 'site:main' %}">{% trans 'Site' %}</a></li>
                            <li><a class="single-page" href="{% url 'vacancy:my_main' %}">{% trans 'Job requirements' %}</a></li>
                            <li><a href="{% url 'resume:my_main' %}">{% trans 'Resume' %}</a></li>

                        {# The deals history #}
                        <li><a href="{% url 'products:deal_list' %}">
                            {% trans 'Current deals' %} ({{ request|deal_quantity|default:"0" }})</a></li>
                        <li><a href="{% url 'products:deal_list' %}">
                            {% trans 'Deals history' %}</a></li>

                            <!-- temporary hide..
                            <li><a class="single-page" href="{% url 'tenders:my_main' %}">{% trans 'Tenders' %}</a></li>
                            <li><a href="{% url "profile:main" %}">{% trans 'Profile' %}</a></li>
                            <li><a href="{% url "messages:main" %}">{% trans 'Messages' %}</a></li>
                            <li><a class="single-page" href="{% url "users:main" %}">{% trans 'Users' %}</a></li>

                            -->


    {% comment %}           <li><a href="{% url "wall:main" %}">{% trans 'Wall' %}</a></li>
    {% endcomment %}    </ul>
                    </div>
                {% endif %}
            </div>
            <div class="banner-wrapper-left">

                {% get_banner "Left 1" item %}
                {% get_banner "Left 2" item %}
                {% get_banner "Left 3" item %}
            </div>
        </div>
    {% endblock %}
        {% block center %}
            <div class="news-center">
                <div  class="keyword">
                    {% block keywords %}
                        <div class="showFilter">
                        <i class="icon-key imgnews" id="filter-link"></i>
                        <ul class="list-key">
                        </ul>
                        <div class="search-key">
                        <form action="" method="get" name="search">
                            <input type="text" name="q" value="{% search_query %}" placeholder="{% trans "Find.." %}" class="text" />
                            <input type="submit" name="" value="" class="i-search imgnews" />
                        </form>
                        </div>
                        </div>
                    {% endblock %}
                </div>

                {% block content %}{% endblock %}

            </div>

        {% endblock %}

        {% block right %}

            <div class="newsright">
            <div class="b-notyfi event-holder">
            	<i id="showevent" class="imgnews icon-notyfi icon-nt1 showevent {% if not notif and not user.is_authenticated  %} disable {% endif %}"></i><a href="#" class="showevent num">{% set_notification_count %}</a>
              <div class="formevent">
                <i class="close-event imgnews" ></i>
                <div class="notify-header"><h4>{% trans 'Notifications'  %}</h4></div>
                <div class="list-holder">
                  <ul>
                  </ul>
                </div>
                <div class="notify-footer"><a href="#" class="viewmore">{% trans 'See all' %}…</a></div>
              </div>

              <i class="imgnews icon-notyfi icon-nt2  {% if not mail and not user.is_authenticated  %} disable {% endif %}"></i>
              <a href="{% url 'messages:main' %}" class="num" id="mailcounter">{% set_message_count %} </a>
              <a href="#"><i class="imgnews icon-notyfi icon-nt3 disable"></i></a>

              {% if request.user.is_authenticated %}  
                  <span class="basket">
                      <a href="{% url 'products:deal_order_basket' %}">{{ request|deal_order_quantity|default:"0" }}</a>
                  </span>
              {% else %}
                  <a href="#"><i class="imgnews icon-notyfi icon-nt4 disable"></i></a>
              {% endif %}
            </div>
                <div>
                    <div class="help-desk">
                        <div class="title">{% trans "Shortcuts" %}</div>
                        <span class="titlesub">{% trans "Business" %}</span>
                        <ul class="list-shortcuts">
                            <li><div class="shortcut"><a href="{% url 'companies:add' %}">{% trans "Create a Company Account" %}</a></div></li>
                            <li><div class="shortcut"><a href="{% url 'proposal:add' %}">{% trans "Add Business Proposal" %}</a></div></li>
                            <li><div class="shortcut"><a href="{% url 'products:add' %}">{% trans "Add B2B Product" %}</a></div></li>
                            <li><div class="shortcut"><a href="{% url 'products:addB2C' %}">{% trans "Add B2C Product" %}</a></div></li>
                        </ul>

                        <span class="titlesub">{% trans "Jobs &amp; Vacancies" %}</span>
                        <ul class="list-shortcuts">
                            <li><div class="shortcut"><a href="{% url 'vacancy:add' %}">{% trans "Post a Vacancy" %}</a></div></li>
                            <li><div class="shortcut"><a href="{% url 'resume:add' %}">{% trans "Post Your Resume Online" %}</a></div></li>
                        </ul>
                    </div>
                </div>
                {% get_top_on_page item %}
                 <div class="banner-wrapper-right">
                 {% get_banner "Right 1" item %}
                 {% get_banner "Right 2" item  %}
                 {% get_banner "Right 3" item  %}
                 </div>
            </div>

        {% endblock %}

</div>

{% endblock %}

