{% load i18n %}
{% load staticfiles %}
<ul class="tpp-gallery">
    {% for item in documents %}
        <li>
            <div class="b-img">
                <img src="{% static "b24online/img/file_icon.png" %}" />

                {% if has_perm %}
                <div class="deleteimge">
                    <a class="removePhoto" href="{% url removeURL item_type url_parameter item.pk %}">
                        <i class="imgnews delete"></i>
                        <span class="deletext">{% trans "Remove" %}</span>
                    </a>
                </div>
                {% endif %}
                <div class="viewimge">
                    <a target="_blank" href="{{ item.document.url }}">
                        <i class="imgnews"></i><span class="zoomtext">{% trans 'Download' %}</span>
                    </a>
                </div>
                <div class="gray-img"></div>
            </div>
            <div>{{ item.name }}</div>
        </li>
    {% endfor %}
</ul>

{% if is_paginated %}
<div class="panging">
    <span style="float: left;">{% trans "Total pages" %} : {{ page.paginator.num_pages }} </span>
    {%  if page.has_previous %}
    &larr; <a href="{% url 'products:tabs_documents_paged' item_type item_id page.previous_page_number %}" >{% trans "Back" %}</a>
    {% endif %}
    {% for i in paginator_range %}
    {% ifequal i page.number %}
    <span style="font-weight: bolder" class="current">{{ page.number }}</span>
    {% else %}
    <a href="{% url 'products:tabs_documents_paged' item_type item_id i %}">{{ i }}</a>
    {% endifequal %}
    {% endfor %}
    {%  if page.has_next %}
    <a href="{% url 'products:tabs_documents_paged' item_type item_id page.next_page_number %}" >{% trans "Forward" %}</a>&rarr;
    {% endif %}
</div>
{% endif %}
