{% load i18n %}
<ul class="tpp-gallery">
    {% for item in gallery %}
        <li>
            <div class="b-img">
                <img src="{{ item.image.big }}" />

                {% if has_perm %}
                <div class="deleteimge">
                    <a class="removePhoto" href="{% url removeURL url_parameter item.pk %}">
                        <i class="imgnews delete"></i>
                        <span class="deletext">{% trans "remove" %}</span>
                    </a>
                </div>
                {% endif %}
                <div class="viewimge">
                    <a class="fancybox" rel="gallery" href="{{ item.image.original }}">
                        <i class="imgnews zoom"></i><span class="zoomtext">{% trans 'zoom' %}</span>
                    </a>
                </div>
                <div class="gray-img"></div>
            </div>
        </li>
    {% endfor %}
</ul>
{% include "b24online/main/paginator.html" %}