{% load i18n %}
{% load staticfiles %}
<div class="tpp-dt-content">

    {% if has_perm %}

      <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus cum aperiam odio numquam maxime voluptates laudantium facere eos voluptatibus.</div>
      <script type="text/javascript">
        $(document).ready(function() {
          $("a.grouped_elements").fancybox();
        });
      </script>
      <div class="upload">
        <form>
            <input id="image-upload" name="image" type="file" multiple="true">
        </form>
        <div class="upload-btn">
          <i class="fa fa-upload"></i>
          <div class="text">Upload</div>
        </div>
      </div>
    {% endif %}

    {% include "b24online/tab_gallery_structure.html" %}
</div>

{% if has_perm %}
  
    </style>

    <script>
        LANG['UPLOAD'] = {
            'uploading': '{% trans "Uploading" %}',
            'success': '{% trans "Uploaded" %}',
            'fail': '{% trans "Fail" %}',
            'wasUploaded': '{% trans "The following files were not uploaded" %}'
        };
        var buttonImage= '{% static "b24online/img/folder-blue-upload.png" %}';
        options = {
            fileSizeLimit: '500KB',
            fileTypeExts: '*.jpg; *.jpeg; *.png; *.gif',
            fileObjName: 'image',
            swf: '{% static "b24online/uploadify.swf" %}',
            uploader: '{{ uploaderURL }}',
            buttonImage: buttonImage,
            queueID: 'image-upload-queue'
        }
        FileUploader.init($('#image-upload'), LANG['UPLOAD'], buttonImage, '{{ structureURL }}', options);
    </script>
    <!-- /Gallery uploader -->
{% endif %}
