{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load CustomFilters %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
{% endblock %}

{% block title %} {{ page.title }} {% endblock %}


{% block content %}
    <div class="companies">
        <div class="deal-details">
            <h1>{{ page.title }}</h1>
            <p></p>
            {{ page.content|cleanHtml|safe }}
        </div>
    </div>
{% endblock %}
