{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="deal-details">
                    <h1>{% trans 'Add a business proposal' %}</h1>
                    Важно создать и поддерживать в актуальном состоянии комканию, которая представляет собой интерактивую визитную картачку для поиска, как Логотип компании, название компании, краткое описание компании, контактую форму и конечно добавить товары, сервисы или проекты которые Вы хотите реализовать.
                    Используйте BizNetwork – социальная сеть предпринимателей, посредством которой Вы и потенциальные партнера/инвестова имеют возможность общения, и, самое главное - заключения сделок. В нашей системе можно доверять друг другу – большенство пользователей удостоверены в Системе документально через ТПП и Ассоциации предпринимателей, партнёров програмы.
                    Вашу компанию/бизнес–предложения/проекты/товары и услуги видят все участники проекта у себя на "стене", поэтому, пишите интересно, увлекательно и подробно и Вас обезательно заметят или найдут посредством фильтра. Фильтр даёт обширные возможности поиска включая сферу деятельности и отрасли, поэтому, не забывайте заполнить все поля.
                </div>

            </div>

{% endblock %}