{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/news.css"%}" />
    <link type="text/css" rel="stylesheet" href="{% static "b24online/css/company.css"%}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="companies">
                <div class="new-details">













            	<h1>Интеграция платёжных инструментов системы PayOnline в интернет платформу ТПП Центр</h1>

                <div class="content-news">
                	<div class="gallery">
                        <div id="panel">

                                <img id="largeImage" src="{% static 'b24online/img/payonline.png' %}" alt="">

                        </div>
                        <div id="thumbs">

                        </div>
                    </div>
                    <div>
                            <p>На днях прошла встреча руководств Эксперт-Центра и платежной системы <strong>PayOnline</strong>, в ходе чего было принято решение об интеграции данной системы оплаты в интернет-платформу <strong>ТПП Центр</strong>.</p>
                            <p>Как сообщает <strong>информационный отдел ТПП Центра</strong>, данное сотрудничество открывает новые возможности ведения бизнеса. Операционный центр PayOnline является одной из ведущих электронных систем оплаты в России, которая непрерывно работает над повышением качества и удобства сервиса и которая предоставляет удобную платежную форму и весьма простой документооборот.</p>
                            <p>PayOnline это универсальная система платежей, которая позволяет принимать на сайте платежи и самому оплачивать товары, услуги и сервисы при помощи банковских карт, через QIWI Кошелек, WebMoney, Яндекс.Деньги, а также с помощью карт сотовых операторов, таких как: Билайн, МегаФон, МТС. </p>
                            <p>Преимущества системы PayOnline позволят расширить возможности клиентов на сайте, а именно: регулярный прием платежей, возможность оплачивать товары «в один клик», продажа товаров и продуктов в кредит, возможность отслеживать все финансовые действия и управлять платежами.</p>
                            <p>Данное соглашение позволит построить новые системы лояльности, а также увеличить объемы продаж на сайте, путем привлечения целевой аудитории, которая уже имеет достаточный опыт в совершении покупок on-line при помощи предоставления клиентам различных скидок, бонусов и подарков.</p>
                            <p>При помощи дополнительной услуги payID владельцы банковских карточек смогут не только увеличить безопасность совершения платежей, но и сохранить время при вводе реквизитов своей карты при оплате, а также</p>

                    </div>
                </div>














  </div>
</div>

{% endblock %}