{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
    {% include "Wall/popupFilter.html" %}
    <div class="wall-title">{% trans 'Latest updates' %}</div>
    {% if productsValues %}
        <div class="wall-title-bg">{% trans 'Products' %}</div>
        <ul class="listprd">
            {% for prod in productsValues %}
                <li>
                    <div class="thumb">
                        <a href="{% url "products:detail" prod.slug %}">
                            {% if prod.image %}
                                <img src="{{ MEDIA_URL }}big/{{ prod.image }}" alt="{{ prod.title }}" title="{{ prod.title }}" />
                            {% else %}
                                <img src="{% static 'tppcenter/img/item.jpg' %}" alt="" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="link">
                        <i class="flag sprite {{ prod.country.flag }}" title="{{ prod.country.text }}"></i>
                        <a href="{% url "products:detail" prod.slug %}" class="name">{{ prod.title|truncatechars:40 }}</a>
                    </div>
                    <div class="price">
                        {% if prod.price %}
                            {{ prod.currency|getSymbol }} {{ prod.price }}
                        {% else %}
                            {% trans 'Get the price' %}
                        {% endif %}
                    </div>
                    <a href="{% url "products:detail" prod.slug %}" class="btnbuy">{% trans 'Buy' %}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if innovValues  %}
        <div class="wall-title-bg">{% trans 'Innovation Project' %}</div>
        <ul class="tender-list" id="afisha-list">
            {% for innov in innovValues %}
                <li>
                    <div class="title">
                        {% if innov.country.flag %}
                            <i class="flag sprite {{ innov.country.flag }}" title="{{ innov.country.text }}"></i>
                        {% elif innov.organization.flag %}
                            <img src="{{ MEDIA_URL }}small/{{ innov.organization.flag }}" class="flag" title="{{ innov.organization.title }}" alt="{{ innov.organization.title }}"/>
                        {% endif %}
                        <font class="name">{% trans 'Publication date' %}: {{ innov.obj_create_date|date:'d M Y' }}</font>
                    </div>
                    <h2><a href="{% url "innov:detail" innov.slug %}">{{ innov.title|truncatewords:14 }}</a></h2>
                    <div class="desc">{% trans 'Project cost' %}: <b class="num">{{ innov.currency|getSymbol }} {{ innov.price }}</b></div>
                    <div class="line">
                    {% if innov.branch %}
                        <span class="clumn">{%  trans "Branch" %}:
                        {% for branch in innov.branch %}
                            {% if branch.title  %}
                                 <font class="gray">{{ branch.title }}</font>
                            {% endif %}
                        {% endfor %}
                        </span>
                    {% endif %}
                        <span class="clumn">{% trans 'Organizer' %}:
                            {% if  innov.cabinet  %}
                                <a href=""> {{ innov.cabinet.text }}</a>
                            {% elif innov.organization.title %}
                                <a href="{% url innov.organization.url innov.organization.slug %}">  {{ innov.organization.title }} </a>
                            {% endif %}
                        </span>
                    </div>
                    <a href="{% url "innov:detail" innov.slug %}" class="linkmore">{% trans 'More' %}...</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if exhibitionsValues %}
        <div class="wall-title-bg">{% trans 'Exhibitions' %}</div>
        <ul class="tender-list" id="afisha-list">
            {% for exhibition in exhibitionsValues %}
                <li>
                    <div class="title">
                        {% if exhibition.country.flag %}
                            <i class="flag sprite {{ exhibition.country.flag }}" title="{{ exhibition.country.text }}"></i>
                        {% elif exhibition.organization.flag %}
                            <img src="{{ MEDIA_URL }}small/{{ exhibition.organization.flag }}" class="flag" title="{{ exhibition.organization.title }}" alt="{{ exhibition.organization.title }}"/>
                        {% endif %}
                        <font class="name">{{ exhibition.country.text }}  {{ exhibition.city }},  {{ exhibition.start_event_date|makeDate|date:"d M Y" }} - {{ exhibition.end_event_date|makeDate|date:"d M Y"  }}</font>
                    </div>
                    <h2><a href="{% url 'exhibitions:detail' exhibition.slug %}">{{ exhibition.title }}</a></h2>
                    <div class="line">{% trans 'Organizer' %}:
                        <a href="{% url exhibition.organization.url exhibition.organization.slug %}">{{ exhibition.organization.title }}</a>
                    </div>
                    <a href="{% url 'exhibitions:detail' exhibition.slug %}" class="linkmore">{% trans 'More' %}...</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if proposalsValues %}
        <div class="wall-title-bg">{% trans 'Bussiness Proposals' %}</div>
        <ul class="tender-list" id="afisha-list">
            {% for proposal in proposalsValues %}
                <li>
                    <div class="title">
                        {% if proposal.country.flag %}
                            <i class="flag sprite {{ proposal.country.flag }}" title="{{ proposal.country.text }}"></i>
                        {% elif proposal.organization.flag %}
                            <img src="{{ MEDIA_URL }}small/{{ proposal.organization.flag }}" class="flag" title="{{ proposal.organization.title }}" alt="{{ proposal.organization.title }}" />
                        {% endif %}
                        <font class="name">{{ proposal.country.text }}, {% trans 'Date' %}: {{ proposal.obj_create_date|date:"d M Y" }}</font>
                    </div>
                    <h2><a href="{% url "proposal:detail" proposal.slug %}"> {{ proposal.title }} </a></h2>
                    <div class="line">{% trans 'Organization' %}:
                        <a href="">{{ proposal.organization.title }}</a>
                    </div>
                    <a href="{% url "proposal:detail" proposal.slug %}" class="linkmore">{% trans 'More' %}...</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if newsValues %}
        <div class="wall-title-bg">{% trans 'News' %}</div>
        <ul class="listnews">
            {% for news in newsValues %}
                <li>
                    <div class="thumb shadow">
                        <a href="{% url "news:detail" news.slug %}">
                            {% if news.image %}
                                <img src="{{ MEDIA_URL }}small/{{ news.image }} " alt="{{ news.title }}" title="{{ news.title }}"/>
                            {% else %}
                                <img src="{% static "tppcenter/img/news.jpg" %} " alt="" />
                            {% endif %}
                        </a>
                    </div>
                    <div class="infoprd">
                        <a href="{% url "news:detail" news.slug %}" class="name">{{ news.title }}</a>
                        <p class="date">
                            {% if news.organization.flag or news.country.flag %}
                                {% if news.organization.flag %}
                                    <img src="{{ MEDIA_URL }}small/{{ news.organization.flag }}" class="flag"  alt="{{ news.organization.title }}" title="{{ news.organization.title }}"/>
                                {% else %}
                                    <i class="flag sprite {{ news.country.flag }}" title="{{ news.country.text }}"></i>
                                {% endif %}
                            {% endif %}
                            {{ news.obj_create_date|date:'d M Y' }}
                        </p>
                        <p>{{ news.text|cleanHtml|safe|truncatewords_html:"30" }} </p>
                        <!--noindex--><a href="{% url "news:detail" news.slug %}" class="more">{% trans 'Read more' %}...</a><!--/noindex-->
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>