/*---------- General Styling ----------*/
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
	max-width: 100%;
	/*overflow-x: hidden;*/
}

.content{
	flex: 1;
}

.wazeLink{
    color: #000;
    text-align: center;
}

.wazeLink:active{
    color: #000;
}

.wazeLink img{
	width: auto;
}

.center-wrap {
  line-height: 120px;
  text-align: center;
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.vertical-center-child {
  display: table-cell;
  	vertical-align: middle;
	float: none;
}

.vertical-center-parent{
	table-layout: fixed;
    display: table;
}

.v-align {
    display: inline-block;
    vertical-align: middle !important;
    float: none;
}

h2.page-header a,
h2.page-header{
	text-decoration: none;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
	/*margin-top: 24px;*/
}

h2.page-header.inner-page{
	padding-top: 0;
	margin-top: 10px;
}

.section-header{
	border: none;
	color: #a00c0b;
	/*margin-top: 10px;*/
	margin-bottom: 5px;
	padding-top: 5px;
}

.glyphicon{
	font-size: 16px;
}
/*---------- logo Styling ----------*/
.logo{
    width: auto;
    height: 70px;
    padding: 0 5%;
}

.top_search{
	position: relative;
	clear: both;
	margin-top: 10px;
}

.top-nav{
	position: relative;
}

/*---------- Navigation Styling ----------*/
.main-nav{
	min-height: 10px;
	margin-top: 20px;
}

.main-nav>ul>li>a{
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	font-weight: 400;
}


/* Portrait phones and smaller */
@media (max-width: 480px) {
	.top_search input{
		width: 50px;
	}
}

#lang-dropdown{
	/*display: none;*/
}

/*lang styling*/
#lang-dropdown{
	width: 260px;
	padding: 8px;
	background: #f5f5f5;
}

.navbar-nav li:hover #lang-dropdown{
	/*display: block;*/
	float: left;
}

.navbar-nav li:hover #lang-dropdown a{
	float: left;
	padding: 0 5px;
}

.navbar-nav li:hover #lang-dropdown img{
	width: 24px;
}


.side-bar a{
	text-decoration: none;
}

.side-bar ul li a:hover,
.side-bar ul li a:focus,
.side-bar ul li a:active{
	font-weight: bold;
}

.banner{
	margin-bottom: 10px;
	margin-top: 10px;
	position: relative;
	padding: 0;
	height: auto;
}

.banner:last-child{
	margin-right: 0;
}

.banners-pack{
	margin-right: -15px;
    margin-left: -15px;
}

.banner img{
	width: 100%;
	height: auto;
	padding: 0;
}

#banner1,
.slider-wrapper,
.side-nav-wrapper,
.coupons{
	position: relative;
}

.navbar-brand>img{
	max-height: 80px;
	padding: 5px;
}

/* Social links */
.social-header{
	padding-top: 7px;
    padding-bottom: 15px;
}

.social-header a{
	margin: 0 5px;
}

.social-header i{
	/*padding: 8px 20px 8px 12px;*/
}

.social-header .circle {
   display: block;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    background-color: #fff;
	float: left;
	margin-top: -10px;
}

.social-header .button{
	display:block;
	width:36px;
	height:36px;
	border-radius:18px;
	font-size: 15px;
	/*color:#000;*/
	line-height:36px;
	text-align:center;
	background:#fff;
}

/*---------- Sidebar Styling ----------*/
.sidebar-list{
	text-decoration: none;
	list-style: none;
	font-size: 16px;
	padding: 0;
}

.sidebar-list li{
	padding: 10px 5px;
	border: 1px solid #ddd;
	margin-bottom: 2px;
}

.sidebar-list .lvl0-sidebar{
	color: #333;
    background-color: #f5f5f5;
	font-weight: bold;
}


/*---------- Slider Styling ----------*/
.slider-wrapper{
	margin-top: 10px;
}

.carousel-caption{
	float: left;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 0;
	padding-bottom: 0;
	bottom: 0;
	left: 0;
	width: 100%;
}

.carousel-caption__header{
	font-weight: bold;
	float: left;
}

.carousel-caption p{
	float: left;
	text-align: left;
}

.carousel-caption__header,
.carousel-caption p{
	padding-left: 10px;
	padding-right: 100px;
}

.carousel-caption__intro{
	text-transform: uppercase;
}

.carousel-inner img{
	height: auto;
	width: 100%;
}

.carousel-caption{

}

.carousel-indicators {
    left: 92%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}


/*******************************/
.banner .s-desc {
    width: 100%;
    height: 100%;
    background: url(../images/bg-header-module.png) repeat-x scroll 0 bottom;
}

.banner .s-desc {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.banner>div {
    position: relative;
    overflow: visible;
}



.slide-wrapper{
	padding: 0 10px 0 0;
}

.coupon-wrapper{
	padding: 0 0 0 10px;
	z-index: 1;
}

.main-coupon{
	border: none;
	padding: 0;
	position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.main-coupon img{
}

.coupons>.row>.product>.thumbnail>img{
	height: 285px;
	width: auto;
}

.product__badge>.coupon-badge{
	position: absolute;
    right: 10px;
    top: 10px;
	z-index: 20;
	/*background-image: url('/static-assets/usersites/usersites_templates/galil/css/images/discount_badge.png');*/
	/*background-repeat: no-repeat;*/
	width: 130px;
    height: 128px;
}

.product__badge{
	top: 10px;
}

.product__badge .coupon_persent{
	position: absolute;
	top: 8px;
	right: 5px;
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 2.5em;
    padding: 40px;
    z-index: 30;
}

span.percent{
	font-size: 0.5em;
}

.full-banner{
	margin: 10px 0;
	padding: 0;
}
.section-header{
	padding-bottom: 9px;
    margin: 0 0 20px 0;
    border-bottom: 1px solid #eee;
    text-transform: uppercase;
}

.product{
	padding: 0 1px;
}

/*tmpcomm*/
/*.product .thumbnail{*/
	/*height: 420px;*/
/*}*/

.thumbnail img {
    width: 100%;
}

/*tmpcomm*/
/*.main-products-thumb .product .thumbnail>img{*/
	/*max-width: 281px;*/
	/*height: 187px;*/
/*}*/

/*tmpcomm*/
/*@media (max-width: 767px) {*/
	/*.main-products-thumb>.product>.thumbnaill {*/
		/*height: 500px;*/
	/*}*/
/*}*/

/*tmpcomm*/
/*.coupons .product .thumbnail{*/
	/*height: 540px;*/
/*}*/

.category{
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}

/*tmpcomm*/
/*!* Landscape tablets and medium desktops *!*/
/*@media (min-width: 992px) and (max-width: 1199px) {*/
	/*.coupons .product .thumbnail{*/
		/*height: 560px;*/
	/*}*/
/*}*/

/*tmpcomm*/
/* Portrait tablets and small desktops */
/*@media (min-width: 768px) and (max-width: 991px) {*/
	/*.product .thumbnail{*/
		/*height: 450px;*/
	/*}*/

	/*.coupons .product .thumbnail{*/
		/*height: 560px;*/
	/*}*/
/*}*/

/*tmpcomm*/
/*!* Landscape phones and portrait tablets *!*/
/*@media (max-width: 767px) {*/
	/*.product .thumbnail{*/
		/*max-height: 620px;*/
		/*min-height: 460px;*/
	/*}*/

	/*.coupons .product .thumbnail{*/
		/*height: 600px;*/
	/*}*/
/*}*/

/*tmpcomm*/
/*!* Portrait phones and smaller *!*/
/*@media (max-width: 480px) {*/
	/*.product .thumbnail{*/
		/*height: 450px;*/
	/*}*/
/*}*/

.coupon{
	position: relative;
}

/*tmpcomm*/
/*.main-products>.row>.product>.thumbnail>img{*/
	/*height: 185px;*/
/*}*/

.main-products .product{
	min-height: 400px;
}

/*tmpcomm*/
/*.main-products .product .thumbnail{*/
	/*min-height: 385px;*/
/*}*/

/*tmpcomm*/
/* Portrait tablets and small desktops */
/*@media (max-width: 991px) {*/
	/*.main-products .product .thumbnail{*/
		/*min-height: 412px;*/
		/*max-width: 370px;*/
	/*}*/
/*}*/

/*tmpcomm*/
/*!* Landscape phones and portrait tablets *!*/
/*@media (max-width: 767px) {*/
	/*.main-products .product .thumbnail{*/
		/*max-height: 620px;*/
		/*min-height: 460px;*/
		/*max-width: 766px;*/
	/*}*/

	/*.main-products>.row>.product>.thumbnail>img{*/
		/*max-height: 300px;*/
		/*max-width: 100%;*/
		/*min-height: 185px;*/
		/*height: auto;*/
	/*}*/
/*}*/

/*tmpcomm*/
/*@media (max-width: 480px) {*/
	/*.main-products .product .thumbnail{*/
		/*min-height: 380px;*/
		/*max-width: 766px;*/
	/*}*/

	/*.main-products>.row>.product>.thumbnail>img{*/
		/*max-height: 300px;*/
		/*max-width: 100%;*/
		/*min-height: 185px;*/
		/*height: auto;*/
	/*}*/
/*}*/

.main-products .product{
	height: 100%;
}

.main-prod-thumb-p{
	height: 90px;
}

.main-products-thumb{
	height: 100%;
}

.product__title{
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

.product__cat{
	font-size: 12px;
	text-transform: uppercase;
}

.product__price{
	font-size: 18px;
	font-weight: bold;
}

.product__price__coupon{
	font-size: 24px;
	font-weight: bold;
}

.product__valid__coupon{
	color: #979797;
	font-size: 12px;
}

.product__deleted-price{
	color: #979797;
	text-decoration: line-through;
	font-size: 18px;
	font-weight: normal;
	padding-left: 10px;
}

.product__discount{
	background: #f0ad4e;
	color: #fff;
	padding: 0 5%;
	font-size: 16px;
}

.product__btn{
	margin-top: 6px;
}

.coupon-timer{
	line-height: 12px;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.main-products .row{
		height: 440px;
	}

	.main-products .thumb-img{
		max-height: 185px;
	}
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.main-products .row{
		height: 420px;
	}

	.main-products .thumb-img{
		max-height: 150px;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.main-products .row{
		height: 470px;
	}

	.main-products .thumb-img{
		max-height: 237px;
	}
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

.banner-ad-main-collection{
	padding: 20px 0 0 0px;
	width: 100%;
}

.banner-main-page img {
    padding: 0px 0px 10px 10px;
    width: 100%;
}

/*---------- Jobs Styling ----------*/
.job_offer{
	padding-top: 0;
	padding-bottom: 0;
	background-color: #fff;
	border: 1px solid #979797;
}

.job_offer__header{
	color: #a00c0b;
	text-transform: uppercase;
	font-weight: bold;
}

.job_offer__p{
	color: #262626;
	font-size: 1em !important;
	padding-top: 20px;
}

.job_offer__span{
	font-weight: bold;
}

/*---------- News Styling ----------*/
.news .thumbnail{
	border: none;
}

.news__img img{
	position: relative;
	width: 100%;
}

.news_page h2{
	margin-top: 0;
}

.news_page .btn-align{
	text-align: center;
}

.news-wrapper, .main-proposal{
	margin-bottom: 10px;
}

.wall-news-img{
	width: 20%;
}

.wall-news-content{
	width: 80%;
}

/*---------- Footer Styling ----------*/
footer{
	margin-top: 20px;
	margin-bottom: 0;
}

footer .row{
	padding-bottom: 10px;
}

footer a{
	text-decoration: none;
}

footer a:hover,
footer a:active{
	text-decoration: none;
}

footer ul{
	list-style: none;
	padding: 0;
}

footer img{
	width: 100%;
}

footer .btn-default{
	margin-top: 10px;
}

.footer-col{
	position: relative;
	margin-top: 10px;
}/*---------- Footer Styling ----------*/
footer{
	margin-top: 20px;
	margin-bottom: 0;
}

footer .row{
	padding-bottom: 10px;
}

footer a{
	text-decoration: none;
}

footer a:hover,
footer a:active{
	text-decoration: none;
}

footer ul{
	list-style: none;
	padding: 0;
}

footer img{
	width: 100%;
}

footer .btn-default{
	margin-top: 10px;
}

.footer-col{
	position: relative;
}

/*---------- News Styling ----------*/
.media-body h4{
	margin: 0;
}

.news-wrapper{
	padding-left: 15px;
}

/*---------- Banner Advertisment Styling ----------*/
.banner-ad{
	height: 150px;
	width: 100%;
	background-color: ##fffcf7;
	margin-bottom: 20px;
	border: none;
	padding: 0;
	margin-left: 1px;
}

.shadow {
  -webkit-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 26px -1px rgba(0,0,0,0.75);
}

.banner-ad__member{
	border: 1px solid #aaa;
	height: 100%;
	padding: 0;

}

.banner-ad__member img{
	width: auto;
	height: 100%;
	max-height: 100%;
	padding: 10px;
	float:left;
	display:inline;
}

.banner-ad__member h4,
.banner-ad__member p {
	text-align: center;
	padding: 0 10px;
}

.banner-ad__member h4{
	padding-top: 10%;
}

.banner-ad__ad{
	padding: 0;
	height: 150px;
}

.banner-ad__ad img{
	max-width: 100%;
	height: auto;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@media \0screen {
  img {
  	width: auto; /* for ie 8 */
  }
}

/*---------- Pagination Styling ----------*/
.pagination{
	text-align: center;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
	text-decoration: none;
}

/*---------- Item Styling ----------*/
.item-page, .item-price-table{
	position: relative;
}

.item-page img{
	max-height: 365px;
	width: auto;
	margin: auto;
}

.item-page__price{
	font-size: 2em;
	color: green;
	font-weight: bold;
}

.item-page__coupon{
	font-size: 1em;
	margin-bottom: 20px;
	margin-top: 10px;
	border-top: 1px solid #aaa;
	padding-top: 10px;
}

.item-page__coupon div{
	position: relative;
}

.item-page__qty{
	margin-bottom: 20px;
	margin-top: 20px;
}

.item-page__qty-box{
	width: 50px;
	height: 35px;
	text-align: center;
}

.item-price-table .coupon-panel__btn{
	font-weight: bold;
	font-size: 1.8em;
	height: 50px;
	margin-bottom: 20px;
}

.item-price-table .coupon-panel__btn span{
	padding: 0 20px;
	font-size: 1em;
	font-weight: normal;
}

.coupon-panel__btn{
	width: 100%;
    height: 40px;
    margin-top: 20px;
}

.cust-page p img{
	max-width: 100%;
    float: none;
    height: auto;
    margin: 10px auto;
    display: block;
}
/*---------- Counter Styling ----------*/
#timer-detail-page{
    font-family: sans-serif;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    position: relative;
    border-radius: 3px;
	padding: 10px;
}

#timer-detail-page > div{
    padding: 10px;
    display: inline-block;
    position: relative;
}

#timer-detail-page div > span{
    padding: 15px;
    border-radius: 3px;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.map {
    height: 250px;
    display: block;
    width: 100%;
    margin-top: 20px;
    background-color: #ccc;
}
/*--------- contact form --------------*/
.contact-info, .contact-fields{
	position: relative;
}

.contact-fields{
	margin-top: 80px;
}

.contact-fields-email{
	margin: 20px 0;
}

.contact-fields-email .controls input,
.contact-fields-email .controls textarea{
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.contact-fields-email .controls textarea{
	height: auto;
}

.pay{
	position: relative;
}

.news__btn{
	position: relative;
}
/*---------- table Styling ----------*/
.table{
	margin-bottom: 0;
}

.tb-pic{
	width: 8em;
}

.tb-item{
	width: 25em;
}

.tb-qty{
	width: 3em;
}

.tb-price{
	width: 10em;
}

.tb-total{
	width: 10em;
}

.tb-remove{
	width: 5em;
}

.tb-img{
	width: 75px;
	height: auto;
}

.tb-hr{
	margin-top: 5px;
}

.tb-in-qty{
	padding-right: 2px;
	padding-left: 2px;
}

@media (min-width: 600px) {
  	.tb-in-qty{
		padding-right: 10px;
		padding-left: 10px;
	}
}

.cust-page p img {
		max-width: 100%;
		float: none;
		height: auto;
		margin: 10px auto;
		display: block;
	}



/*small/medium side display*/
@media (min-width: 768px) {

	/*Allow main to be next to Nav*/
	.main {
		position: absolute;
		width: calc(100% - 40px); /*keeps 100% minus nav size*/
		margin-left: 40px;
		float: right;
	}

	#accordion .glyphicon {
		margin-right: 10px;
	}

	.panel-collapse > .list-group .list-group-item:first-child {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.panel-collapse > .list-group .list-group-item {
		border-width: 1px 0;
	}

	.panel-collapse > .list-group {
		margin-bottom: 0;
	}

	.panel-collapse .list-group-item {
		border-radius: 0;
	}

	.panel-collapse .list-group .list-group {
		margin: 0;
		margin-top: 10px;
	}

	.panel-collapse .list-group-item li.list-group-item {
		margin: 0 -15px;
		border-top: 1px solid #ddd !important;
		border-bottom: 0;
		padding-left: 30px;
	}

	.panel-collapse .list-group-item li.list-group-item:last-child {
		padding-bottom: 0;
	}

	.panel-collapse div.list-group div.list-group {
		margin: 0;
	}

	.panel-collapse div.list-group .list-group a.list-group-item {
		border-top: 1px solid #ddd !important;
		border-bottom: 0;
		padding-left: 30px;
	}

	.panel-collapse .list-group-item li.list-group-item {
		border-top: 1px solid #DDD !important;
	}

	/*---------- Banner Advertisment Styling ----------*/
	/* The banner above the footer */
	.membership-banner {
		padding: 0;
		text-align: center;
		margin-top: 20px;
	}

	.membership-banner__member {
		height: 100%;
		padding: 0;
		display: table;
		position: relative;
	}

	.membership-banner__member img {
		width: auto;
		max-height: 80px;
		margin: 10px;
		display: inline;
		position: relative;
	}

	.membership-banner__member-text {
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 0 10px;
		position: relative;
	}

	.membership-banner__member h4 {
		padding-top: 10px;
		font-size: 1em;
	}

	.membership-banner__member p {
		font-size: 0.7em;
	}

	.membership-banner__ad {
		padding: 0;
		margin: 0;
		height: 80px;
		position: relative;
	}

	.membership-banner__ad img {
		max-width: 100%;
		height: auto;
		max-height: 80px;
		vertical-align: middle;
		margin: auto;
		padding: 10px;
	}

	@media \0screen {
		img {
			width: auto; /* for ie 8 */
		}
	}
}

/* table responsive for pages */

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	/*#no-more-tables tr { border: 1px solid #ccc; }*/

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		/*border-bottom: 1px solid #eee;*/
		position: relative;
		/*padding-left: 50%;*/
		white-space: normal;
		/*text-align:left;*/
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

.about-page-content table{
	overflow-x: auto;
}

.about-page-content td,
.about-page-content th{
	padding: 20px;
}

.about-page-content img{
	max-width:100% !important;
    height:auto;
    display:block;
	padding: 0;
}

