/* style.css and he_style.css is styling the direction of the site. */
@charset "utf-8";

/*---------- General Styling ----------*/
body{
	direction: rtl;
}

/*---------- logo Styling ----------*/
/*.navbar-brand>img{*/
    /*padding: 0 10px 0 0;*/
/*}*/


/*---------- Navigation Styling ----------*/
.xs-navbar ul li{
	float: right;
}

.top-nav li{
	float: left;
}

.navbar-collapse>.top-nav{
	float: left;
}

.navbar-nav{
	float: right;
    margin-right: -15px;
	margin-left: 0px;
}

.top-nav{
	float: left;
}

.navbar-nav>li{
	float: right;
}

.social-header .button{
	float: right;
}

.cust-nav{
  top:50px;
  right:0px;
}

.cust-nav>.cust-nav__btn{
	float: right;
}

.navbar-toggle{
	float: left;
}
.navbar-brand{
	float: right;
}

.navbar-header{
	float: right;
}

/*.navbar-collapse{*/
	/*float: left;*/
/*}*/
@media (min-width: 1200px) {
	.navbar-header {
		float: right;
	}
}

.navbar-right{
	float: left!important;
}

.social-header .button{
	float: right;
}

.social-header{
    float: left!important;
}

.top-search-block {
    float: left;
}

.user-reg{
	float: right;
}

@media (max-width: 767px){
    .user-reg{  float: right;  }
}
/*---------- Slider Styling ----------*/

.carousel-caption{
	bottom: 0;
	right: 10%;
}

.slider-wrapper{
	float: right;
}

#banner1{
	float: right;
	padding-right: 10px;
}

.side-nav-wrapper{
	float: right;
}

.coupons{
	float: right;
}

.banner{
	float: right;
}

.banner_cat{
	/*padding-left: 5px;*/
}

.banner_cat:last-child{
	/*padding-left: 0;*/
}


.sidebar-list .lvl0-sidebar span{
	padding-left: 5px;
}

.galleryCarousel-wrapper{
	float: right;
}

#slider-thumbs .thumb-link{
	float: right;
}

#reserveRoom .banner-main-page{
	float: left;
}

/*---------- Special offer Styling ----------*/
.offer-content{
	float: right;
}

.offer-btn{
	float: left;
}

/*---------- about-banner Styling ----------*/
.about-main__movie{
	float: left;
}

.about-main__text{
	float: right;
}

/*---------- Products Styling ----------*/
.main-coupons{
	float: right;
}

.product{
	float: right;
}

.products-thumb .thumbnail .btn-bott{
    right: 0;
}

.product__btn{
	left: 15px;
}

.product__price{
	right: 15px;
}

.coupon-timer{
	/*right: 15px;*/
}

.item h4 span,
.item h3 span{
	float: left;
}

.go-to-full{
	float: left;
}

.go-to-full:after{
	font-family: "Glyphicons Halflings";
  	/*content: "\e250";*/
  	 content:"\e251"; 
}

.page-products .thumbnail .btn-bott,
.main-products .thumbnail .btn-bott{
    margin: 10px 0px 10px 10px;
}

.banner-ad-main-collection{
	float: left;
}


/*---------- Coupons Styling ----------*/

.coupon-panel{
	float: right;
}

.coupon-panel__price{
    float: right;
    border-left-width: 1px;
    border-right: none;
}

.coupon-panel__date{
    float: right;
}

.price-after-coupon span.after-dis{
	padding-left: 50px;
}

.price-after-coupon .after-dis{
	float: right;
	padding-right: 40px;
}

.price-after-coupon .before-dis{
	float: left;
	padding-left: 40px;
}

.coupon{
	float: right;
}

/*---------- News Styling ----------*/
.main-news{
	float: left;
}

.main-news .img-pos,
.news__img{
	float: right;
	padding-left: 10px;
}

.news__img{
	padding-left: 20px;
}

.proposal{
	float: right;
}

.main-proposal{
	float: right;
}

.main-news{
	float: left;
}

.news__btn{
	float: left;
}

.news__img{
	float: right;
	padding-left: 10px
}

.wall-news-img{
	float: right;
}

.wall-news-content{
	float: right;
}

.banner-main-page:first-child{
	/*padding-right: 0;*/
}

.banner-main-page:last-child{
	/*padding-left: 0;*/
}

/*---------- Jobs Styling ----------*/
.jobs-content{
	float: right;
}

.jobs-btn{
	float: left;
}

.jobs-head:after{
	font-family: "Glyphicons Halflings";
  	content:"\e128";
}
/*---------- Banner Advertisment Styling ----------*/
.membership-banner__member{
	float: right;
}

.membership-banner__ad{
	float: left;
}

.membership-banner__member img{
	float: right; 
}

.membership-banner__member-text{
	float: right;
}

/*---------- Contact Styling ----------*/
.contact-info, .contact-fields{
	float: right;
}

/*---------- Footer Styling ----------*/
footer span{
	margin-left: 5px;
}

.footer-col{
	float: right;
}

/*---------- Item Styling ----------*/
.item{
	float: right;
}

.item-page{
	float: right;
}

.item-price-table{
	float: left;
}

.item-page__price span{
	padding-left: 20px;
}

.item-page__coupon div{
	float: right;
	padding-left: 30px;
}

/*---------- Counter Styling ----------*/
#timer-detail-page{
    float: right;
}

#timer-detail-page > div{
    float: left;
}

/*---------- Pagination Styling ----------*/
.pagination, .pagination>li{
	float: right;
}

/*---------- about Styling ----------*/
.about-img{
	float: right;
}

.about-text{
	float: left;
}

.top_search{
	float: left;
}

.paginator, .category{
	float: right;
}

.pagination li{
	float: left;
}
/*---------- table Cart Styling ----------*/
.pay{
	float: left;
}

.news__btn{
	float: left;
}

th, td{
	text-align: right;
}

.cart-sum-field dt{
	float: right;
}

.cart-sum-field dd{
	float: left;
	margin-left: 50px;
}

.panel-footer .special_offer__btn{
	float: left;
}

/*---------- Banners Styling ----------*/
.banner-main-page img{
    padding: 0px 0px 10px 10px;
}

.banner-main-page{
	float: right;
}

p.timer-heading{
	float: right;
}

.user-reg ul li{
    padding-right: 5px;
}

.coupons .thumbnail .coupon-main-img{
	float: right;
	margin-left: 10px;
}

.product__badge>.coupon-badge {
	right: 10px;
}

.product__badge .coupon_persent {
	right: -8px;
}

.product__valid__coupon{
	float: right;
	margin-left: 10px;
}

.language-navi-dropdown {
    margin: -10px -101px 0 0;
    z-index: 99;
}

@media (max-width: 767px) {
	.banner>div {
		float: right;
	}
}