{% load static %}
{% load i18n %}
{% load CustomFilters %}
<div class="container">
    {% include "main/paginator.html" %}

    <ul class="listnews">
        {% for greeting in object_list %}
            <li>
                <div class="thumb shadow">
                    <a href="{% url "greetings:detail" greeting.slug %}">
                        <img src="{{ MEDIA_URL }}big/{{ greeting.image }}" alt="{{ greeting.title }}" title="{{ greeting.title }}" />
                    </a>
                </div>
                <div class="infoprd">
                    <a href="{% url "greetings:detail" greeting.slug %}" class="name">{{ greeting.title }}</a>
                    {{ greeting.text|truncatewords_html:"30"|cleanHtml|safe }}
                <br />
                <p><strong>{% trans "Organization" %}:</strong> {{ greeting.tpp_name }}</p>
                <p><strong>{% trans "Position" %}:</strong> {{ greeting.position }}</p>

                    <!--noindex-->
                        <a href="{% url "greetings:detail" greeting.slug %}" class="more">{% trans 'Read more' %}...</a>
                    <!--/noindex-->
                </div>
            </li>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </ul>
    {% include "main/paginator.html" %}
</div>
