{% load static %}
{% load i18n %}
{% load CustomFilters %}

<div class="new-details">
            {% with greetingValues.DETAIL_TEXT.0 as content %}
            {% with greetingValues.IMAGE.0 as image %}
            {% with greetingValues.NAME.0 as name %}
            {% with greetingValues.POSITION.0 as position %}
            {% with greetingValues.TPP.0 as tpp %}

            	<h1>{{ name }}</h1>
                <div class="content-news">
                    <img class="tmb" src="{{ MEDIA_URL }}big/{{ image }}" alt="{{ name }}" title="{{ name }}" />
                    {{ content|cleanHtml|safe }}
                <p></p>
                <p><strong>{% trans "Organization" %}:</strong>  &nbsp;&nbsp;{{ tpp }}</p>
                <p><strong>{% trans "Position" %}:</strong>  &nbsp;&nbsp;{{ position }}</p>
                </div>

            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
</div>
