{% extends 'main_page.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}

{% block header %}
    {% include "login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'tppcenter/css/company.css' %}" />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}

    <div class="new-details">

                    <h1>{{ item.title }}</h1>
                    <div class="content-news">
                        <img class="tmb" src="{{ MEDIA_URL }}big/{{ item.image }}" alt="{{ item.title }}" title="{{ item.title }}" />
                        {{ item.text|cleanHtml|safe }}
                    <p></p>
                    <p><strong>{% trans "Organization" %}:</strong>  &nbsp;&nbsp;{{ item.tpp }}</p>
                    <p><strong>{% trans "Position" %}:</strong>  &nbsp;&nbsp;{{ item.position }}</p>
                    </div>
    </div>
{% endblock %}
