{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load CustomFilters %}
               {% block title %}{% trans "Order history" %}{% endblock %}
{% block header %}
{% include "header_big.html" %}
{% endblock %}
{% block body %}
<div id="main">
		<div id="sidebar">
			{% include "main/cabinet_menu.html" %}
		</div>
		<div id="main-r">
			<div class="breadcrumbs">
				<div xmlns="http://rdf.data-vocabulary.org/#">
					<span typeof="v:Breadcrum"><a property="v:title" rel="v:url" href="/">{% trans "Home page" %}</a> &rarr;</span>
				</div>
			</div>
        <div class="listitemcart">
				<span class="title">{% trans "Order history" %}</span>
			<form action="" method="post" name="delete">
            {% csrf_token %}
                 <ul id="itemcart">
                        {% for id , order in favoriteList.items %}
                        {% with order.COST|first as price %}
                        {% with order.CURRENCY|first as currency %}
                        {% with order.IMAGE|first as picture %}
                        {% with order.NAME|first as name %}
                        {% with order.AFTER_DISCOUNT as real_cost %}

					<li>
						<div class="thumb">
							<img src="{% static picture %}" alt="{{ name }}" class="thumb" />
						</div>
						<div class="infoproduct">
						    <p><a href="{% url "products:detail" id %}">{{ name }}</a></p>
							<p class="id">Product ID: {{ id }}</p>

						</div>
						<div class="code">
							<p><font class="grey">Размер:</font> XS</p>
							<p><font class="grey">Цвет:</font> красный</p>
						</div>
						<div class="numberoder">
                            {% if real_cost > 0 %}
							<p><font class="number">{{ currency|getSymbol }}  {{ real_cost|formatPrice }}</font> </p>
                            <p class="old">{{ currency|getSymbol }}  {{ price|formatPrice }} </p>
                                {% else %}
                            <p><font class="number">{{ currency|getSymbol }}  {{ price|formatPrice }}</font> </p>
                            {% endif %}
                        </div>
                        <div>
                            <input type="checkbox" name="del[]" value="{{ id }}">
                        </div>




					 </li>
                         {% endwith %}
                         {% endwith %}
                         {% endwith %}
                         {% endwith %}
                         {% endwith %}

               {% endfor %}

				</ul>
              <div class="rows-check">
                  <a href="javascript:void(0);" onclick="$(this).closest('form').submit();" class="btnreg">{% trans "Delete" %}</a>
              </div>
            </form>
			</div>
             {% include "paginator.html" %}
		</div>
	</div>
 {% endblock %}
