{% load i18n %}
{% load CustomFilters %}
           {% include 'Paginator.html' %}
           <ul class="listprd">
                 {% for id ,attr in content.items %}
                     {% with attr.NAME.0 as name %}
                     {% with attr.COST.0 as cost %}
                     {% with attr.CURRENCY.0 as currency %}
                     {% with attr.IMAGE.0 as image %}
                     {% with attr.SLUG.0 as slug %}



            	<li>
                	<div class="thumb"><a href="#"><img style="max-width: 120px;" src="{{ MEDIA_URL }}big/{{ image }}" alt="" /></a></div>
                    <div class="link">

                        <a href="{% detail_page_to_tppcenter "products:detail" slug %}" class="name">{{ name|truncatewords:8 }}</a>
                    </div>
                    <div class="price">{{ cost }} {{ currency|getSymbol }}</div>
                    <a href="{% detail_page_to_tppcenter "products:detail" slug %}" class="btnbuy">{% trans "Buy" %}</a>
                </li>
                     {% endwith %}
                     {% endwith %}
                     {% endwith %}
                     {% endwith %}
                     {% endwith %}


                {% endfor %}
            </ul>
          {% include 'Paginator.html' %}