{% load static %} {% load i18n %} {% load CustomFilters %}

<script>
    {% getOwner item_id as owner %}

    {% if owner %}
        {% if owner.type == 'tpp' %}
            ga('set', 'dimension1', {{ owner.id }});
        {% else %}
            ga('set', 'dimension3', {{ owner.id }});
        {% endif %}
    {% endif %}
    ga('set', 'dimension2', 'product');
</script>

<!-- TOVAR DETAILS -->
<section class="tovar_details padbot70">

{% with productValues.NAME.0 as name %} {% with productValues.SKU.0 as sku %} {% with productValues.COST.0 as cost %} {% with productValues.CURRENCY.0 as currency %}
{% with productValues.IMAGE.0 as image %} {% with productValues.DETAIL_TEXT.0 as content %} {% with productValues.MEASUREMENT_UNIT.0 as meas_unit %}
{% with productValues.DOCUMENT_1.0 as doc_1 %} {% with productValues.DOCUMENT_2.0 as doc_2 %} {% with productValues.DOCUMENT_3.0 as doc_3 %}
{% with companyValues.NAME.0 as company_name %} {% with companyValues.ADDRESS.0 as company_address %} {% with companyValues.FAX.0 as company_fax %}
{% with companyValues.TELEPHONE_NUMBER.0 as company_telephone %} {% with companyValues.SITE_NAME.0 as site_name %} {% with companyValues.COMPANY_ID as company_id %}
{% with companyValues.COUNTRY_NAME.0 as country_name %} {% with companyValues.FLAG_CLASS.0 as country_flag %} {% with companyValues.COUNTRY_ID as country_id %}
{% with companyValues.SLUG|first as country_slug %}
 
	<!-- CONTAINER -->
    <div class="container">
    	<!-- ROW -->
        <div class="row">
        	
            <!-- SIDEBAR TOVAR DETAILS -->
            <div class="col-lg-3 col-md-3 sidebar_tovar_details">
            	<h3><b>Товары этой категории</b></h3>
                <ul class="tovar_items_small clearfix">
                	<li class="clearfix">
                    	<img class="tovar_item_small_img" src="{{ MEDIA_URL }}big/{{ image }}" alt="" />
                        <a href="product-page.html" class="tovar_item_small_title">{{ name }}  {{ sku }}</a>
                        <span class="tovar_item_small_price">{{ cost }} <small>{{ currency|getSymbol }}</small></span>
                    </li>
                </ul>
            </div>
            <!-- //SIDEBAR TOVAR DETAILS -->
            
            <!-- TOVAR DETAILS WRAPPER -->
            <div class="col-lg-9 col-md-9 tovar_details_wrapper clearfix">
            	<div class="tovar_details_header clearfix margbot35">
                	<h3 class="pull-left"><b>Category name</b></h3>
                    <div class="tovar_details_pagination pull-right">
                    	<a class="fa fa-angle-left" href="javascript:void(0);" ></a>
                        <span>2 из 34</span>
                        <a class="fa fa-angle-right" href="javascript:void(0);" ></a>
                    </div>
                </div>
                
                <!-- CLEARFIX -->
                <div class="clearfix padbot40">
                	<div class="tovar_view_fotos clearfix">
                    
                    	<div id="slider2" class="flexslider">
                        	<ul class="slides">{% if image %}<li><a href="javascript:void(0);" ><img src="{{ MEDIA_URL }}big/{{ image }}" alt="" /></a></li>
                            	{% else %}<li><a href="javascript:void(0);" ><img src="{% static 'tppcenter/img/item.jpg' %}" alt="" /></a></li>{% endif %}
                            </ul>
                        </div>
                        <div id="carousel2" class="flexslider">
                        	<ul class="slides">{% for photo in photos %}<li><a href="javascript:void(0);" ><img src="{{ MEDIA_URL }}big/{{ photo.photo }}" alt="" /></a></li>{% endfor %}</ul>
                        </div>
                    </div>
                    
                    <div class="tovar_view_description">
                    	<div class="tovar_view_title">{{ name }}  {{ sku }}</div>
                        <div class="tovar_article">ZIP-code: 88-305-676</div>
                        <div class="clearfix tovar_brend_price">
                        <div class="pull-left tovar_brend">Label</div>
                        {% if cost %}<div class="pull-right tovar_view_price">{{ cost }} <small>{{ currency|getSymbol }}</small></div>{% else %}{% trans 'Contact to price' %}{% endif %}
                    </div>
                    
                    <div class="tovar_color_select">
                    	<p>{% trans 'Deleviry method' %}</p>
                    </div>
                    <div class="tovar_size_select">
                    	<div class="clearfix"><p class="pull-left">Pay Pal in OneClick</p></div>
                    </div>
                    <div class="tovar_view_btn">
                    	<a class="add_bag" href="javascript:void(0);" ><i class="fa fa-shopping-cart"></i>To cart</a>
                        <a class="add_lovelist" href="javascript:void(0);" ><i class="fa fa-heart"></i></a>
                    </div>
                    
                    <div class="tovar_shared clearfix">
                    	<p>Рассказать друзьям в</p>
                        <ul>
                        	<li><a class="facebook" href="http://www.facebook.com/sharer/sharer.php?s=100&p%5Btitle%5D=TITLE&p%5Bsummary%5D=DESC&p%5Burl%5D=URL&p%5Bimages%5D%5B0%5D=IMG_PATH" target="_blank" onclick="return Share.me(this);"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Ffiddle.jshell.net%2F_display%2F&text=TITLE&url=URL" target="_blank" onclick="return Share.me(this)" ><i class="fa fa-twitter"></i></a></li>
                            <li><a class="vkontakte" href="http://vk.com/share.php?url=URL&title=TITLE&description=DESC&image=IMG_PATH&noparse=true" target="_blank" onclick="return Share.me(this);" ><i class="fa fa-vk"></i></a></li>
                            <li><a class="odnoklassniki" href="http://www.odnoklassniki.ru/dk?st.cmd=addShare&st.s=1&st.comments=DESC&st._surl=URL" target="_blank" onclick="return Share.me(this);"><i class="fa fa-odnoklassniki"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- //CLEARFIX -->
            
            <!-- TOVAR INFORMATION -->
            <div class="tovar_information">
            	<ul class="tabs clearfix">
                	<li class="current">{% trans 'About company' %}</li>
                    <li>{% trans 'Document' %}</li>
                    <li>Отзывы (2)</li>
                </ul>
                <div class="box visible"> {{ content|cleanHtml|safe }} </div>
                <div class="box"> {% if doc_1 %}<a href="{{ MEDIA_URL}}document/{{ doc_1 }}">{% trans 'Link to the document' %}</a><br>{% endif %}
                	{% if doc_2 %}<a href="{{ MEDIA_URL}}document/{{ doc_2 }}">{% trans 'Link to the document' %}</a><br>{% endif %}
                    {% if doc_3 %}<a href="{{ MEDIA_URL}}document/{{ doc_3 }}">{% trans 'Link to the document' %}</a><br>{% endif %}
                </div>
                <div class="box"> <h3>Написать отзыв</h3>
								<p>Напишите ваш отзыв о товаре....(осталось 2000 символов)</p>
								<div class="clearfix">
									<textarea id="review-textarea"></textarea>
									<label class="pull-left rating-box-label">Ваша оценка товара:</label>
									<div class="pull-left rating-box clearfix">
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
										<i class="fa fa-star-o"></i>
									</div>
									<input type="submit" class="dark-blue big" value="Оставить отзыв"> </div> </div>
            </div>
            <!-- //TOVAR INFORMATION -->
        </div>
        <!-- //TOVAR DETAILS WRAPPER -->
    </div>
    <!-- //ROW -->
</div>
<!-- //CONTAINER -->
 
{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}{% endwith %}
</section>
<!-- //TOVAR DETAILS -->