{% load CustomFilters %}
{% load inclusionTags %}
{% load staticfiles %}
{% load i18n %}
{% is_chamber_site as is_chamber %}
<div class="companyinfo"><div style="margin: 0 15% 0 15%;">{{ site.user_site.footer_text }}</div></div>
<div class="footer">
	<div class="wrapper">
    	<i class="logofooter imgmain"></i>
        <div class="adress">
            {% if not is_chamber and site.user_site.organization.parent %}
        	    <h3>{% trans "Member of" %} {{ site.user_site.organization.parent.name }}</h3>
            {% endif %}

            {% trans 'Copyright © 2011 - 2015 Expert Center, All Rights Reserved.' %}
        <div class="ads">{% site_banner "SITES FOOTER" %}</div>
    </div>
</div>
<div class="tophead"></div>