{% load staticfiles %}
{% load i18n %}

<link type="text/css" rel="stylesheet" href="{% static "tppcenter/css/gmapCompany.css" %}" />

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
<script src="{% static "tppcenter/js/gmapSearchMarker.js" %}"></script>
<script type="text/javascript">
 var RecaptchaOptions = {
    theme : 'clean'
 };
 </script>

{% with organizationValues.POSITION.0 as position %}
{% with organizationValues.ADDRESS.0 as address %}
{% with organizationValues.TELEPHONE_NUMBER.0 as telephone_number %}

 <script type="text/javascript">
   var marker;
   $(function()  {



              {% if position %}
                  marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ position }})
                });
                {% endif %}

            initialize(false);
  });
    </script>


            <div class="map">
            	<ul class="map-l">
                	<li>{{address }}</li>
                    <li>
                    	<span class="left">{% trans 'Telephone number' %}: </span>
                        <span class="right">
                        	<p>{{ telephone_number }}</p>

                        </span>
                    </li>

                </ul>
                <div class="ggmap"> <div   id="map-canvas"></div></div>
            </div>

    <form method="post" name="sendMessage">
    {% csrf_token %}
            <ul class="contact-form">
            	<li class="top">{% trans 'Ask a question' %}</li>
                <li>
                	<div class="clumn1">
                    	<label>{% trans 'Your name' %}</label>
                        <input type="text" name="NAME" placeholder="" class="text" style="width:95%;" />
                    </div>
                    <div class="clumn2">
                    	<label>{% trans 'You email' %}</label>
                        <input type="text" name="EMAIL" placeholder="" class="text" style="width:95%;" />
                    </div>
                </li>
                <li>
                	<label>{% trans 'Message' %}</label>
                	<textarea name="MESSAGE" cols="40" rows="5" style="width:98%;"></textarea>
                </li>
                <li class="center">




                      <script type="text/javascript"
                              src="http://api.recaptcha.net/challenge?k=6LeHR_QSAAAAAMpmnolyXMQhe-WB6CUpbNfEKbXQ">

                               </script>

                        <noscript>
                        <iframe src="http://api.recaptcha.net/noscript?k=6LeHR_QSAAAAAMpmnolyXMQhe-WB6CUpbNfEKbXQ"
                          height="100" width="100" frameborder="0"></iframe><br>
                        <textarea name="recaptcha_challenge_field" rows="3" cols="3">
                        </textarea>
                        <input type="hidden" name="recaptcha_response_field"
                        value="manual_challenge">
                        </noscript>
                </li>
                <li class="end center">
                	<input name="Send" type="submit" class="btnsend" value="{% trans 'Send' %}"/>
                </li>
            </ul>
    </form>
{% endwith %}
{% endwith %}
{% endwith %}
