html {
	text-align: right;
}

.bginput input.text {
  float: left;
  font-size: 14px;
  color: #999999;
  height: 34px;
  line-height: 34px;
  width: 70%;
  border: 0;
  margin-left: 45px;
  display: inline;
  text-align: right;
  padding-right: 10px;
}

.bginput .styled-select select {
  width: 125px;
  padding: 8px 0 7px 5px;
  height: 38px;
  font-size: 12px;
  text-align: right;
  float: right;
}

.styled-select select option {
  background-color: #FFF;
  padding: 3px 0;
  text-align: right;
  float: right;
}

.btns {
  position: relative;
  float: left;
  width: 48px;
  background-color: #383838;
  color: #FFF;
  font-size: 16px;
  padding: 8px 25px 9px 25px;
  margin: 8px 0 0 10px;
  display: inline;
  border-radius: 0px;
  border: 0px;
  text-align: right;
}

.regacc {
  position: relative;
  width: 300px;
  margin: 0 0 0 100px;
  display: inline;
  text-align: left;
  font-size: 14px;
  color: #9a9a9a;
}

#sl-lang {
  position: absolute;
  top: 0px;
  width: 150px;
  left: 192px;
}

#slide-var {
  position: relative;
  float: right;
  width: 740px;
  margin: 12px 0 0 0;
}

#sidevar {
  padding: 0;
  margin: 12px 0px 0 0;
  list-style: none;
  width: 240px;
  float: right;
}
  
  #sidevar div.listCol {
  width: 200px;
  float: right;
  margin: 22px 15px 0 280px;
  display: inline;
}

.title-discount .left {
  float: right !important;
}

#bestproduct li .clumn-best .name {
  position: relative;
  float: left;
  padding: 5px;
  font-size: 14px;
  color: #FFF;
  text-align: right;
}

#subscribe li .i-subs {
  position: relative;
  float: right;
  width: 32px;
  height: 32px;
  background-position: -338px 0px;
  margin-right: 0px;
  margin-left: 10px;
}

#subscribe li {
  position: relative;
  float: right;
  width: 100%;
  margin: 8px 0px 0 0;
  color: #9a9a9a;
}

#subscribe li input.text {
  float: right;
  width: 180px;
  height: 32px;
  background-color: #FFF;
  border: 1px #d5d5d5 solid;
  line-height: 32px;
  text-indent: 15px;
  color: #999;
  text-align: right;
  padding-right: 10px;
}

#nav-company li {
  position: relative;
  display: inline-block;
  float: right;
}

.company-search .bgsearch input.text {
  float: right;
  width: 75%;
  padding: 4px 0 4px 18px;
  font-size: 12px;
  color: #999;
  border: 0;
  text-align: right;
  padding-right: 10px;
}

#company-info {
  position: relative;
  float: left;
  width: 375px;
  margin: 0 0 0 20px;
  display: inline;
  color: #999;
  padding-right: 10px;
}

#top span {
  float: left;
}

#top span.reg {
  float: right;
}

#subscribe {
  float: left;
}

#subscribe li input {
  text-align: right;
}

#linkun {
  float: right !important;
}

.head-l {
  float: right;
}

#linklang {
 float: left;
  margin: 0 0 0 50px;
}

.regacc {
  text-align: right;

}

.title-discount .left
{
  float: right;
}
