body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  min-width: 1024px;
}
body .wrapper {
  padding: 0;
}
body .header-row {
  background-image: linear-gradient(180deg, #efefef, #fbfbfb);
}
body .header-row .header-container {
  width: 1090px;
}
body .header-row .header-container .header {
  min-width: 990px;
  margin-left: 0;
  padding-top: 2px;
}
body .header-row .header-container .header .logo img {
  width: 108px;
  height: 23px;
}
body .header-row .header-container .header .nav {
  color: #acacac;
  font-size: 12px;
  line-height: 23px;
  margin-top: 4px;
}
body .header-row .header-container .header .nav .tab {
  padding: 0 5px;
}
body .header-row .header-container .header .fa-map-marker {
  position: relative;
  font-size: 18px;
  top: 3px;
  margin-right: 10px;
}
body .header-row .header-container .header .flag-current {
  position: relative;
  height: 18px;
  margin-right: 10px;
}
body .header-row .header-container .header .avatar {
  position: relative;
  height: 18px;
  margin-right: 5px;
}
body .header-row .header-container .header .person-name {
  position: relative;
  height: 18px;
  margin-right: 8px;
  color: #000;
}
body .header-row .header-container .header .logout {
  position: relative;
  height: 18px;
  margin-left: 10px;
}
body .main {
  margin-top: 20px;
  min-width: 1092px;
}
body .main .article-filter {
  background-color: #eee;
}
body .main .left-aside {
  font-size: 12px;
  padding: 0 50px 0 40px;
  widows: 400px;
}
body .main .left-aside a {
  background-color: #f6f6f6;
  color: #0089bc;
  height: 30px;
  padding: 6px 10px;
  font-size: 11px;
}
body .main .left-aside a.active {
  color: #fff;
  background-color: #d7d7d7;
  border: none;
}
body .main .left-aside a.red {
  background-color: #f00;
}
body .main .left-aside a:hover {
  color: #fff;
  background-color: #f00;
}
body .main .left-aside a i {
  width: 15px;
  margin-right: 5px;
}
body .main .right-aside {
  background-color: #eee;
}
body .main .article-content {
  background-color: #eee;
  margin-top: 15px;
}
