.wrapper
  padding-top 10px
  .navbar-brand
    .logo
      position relative
      width 100px
      top -7px
  #responsive-menu
    #language-flag
      position relative
      top 15px
    .flag-icon
      box-shadow 2px 1px 5px #888
      margin 5px 2px
      width 30px
    .user-icon
      font-size 22px
    .dropdown-flags
      top 40px
      padding 5px 5px
  #content
    .left-menu
      .btn-menu
        position relative
        height 35px
        width 35px
        color #888
        margin 0 0 2px 10px
        float left
        clear left
        i
          position absolute
          left 6px
          font-size 1.5em
          &.fa-bars
            left 8px
          &.fa-newspaper-o
            left 6px
          &.fa-star-o
            left 7px
          &.fa-handshake-o
            left 3px
          &.fa-shield
            left 10px
          &.fa-lightbulb-o
            left 11px
          &.fa-graduation-cap
            left 4px
    .main
      .main-content
        margin-top 10px
      .main-tabs-link
        margin-top 5px
        
    /* GOODS_CARDS */
    .goods-caption
      padding 0
    .goods-flag
      width 20px
      margin 0 5px 5px 0
    .thumbnail
      padding 10px

    .right-menu
      .paid-thumbnail
        border-color tomato
        padding 10px
      .paid-alert
        font-size 12px
        a
          font-weight 300



// .navbar-right
//   .user-name
//     width 80px
//   .language-navi
//     top 15px
//     .header-language-selector
//       padding-top 15px
//       padding-bottom 15px
//     .flag-icon
//       top 1px
//     ul
//       .flag-icon
//         width 30px
//         margin 5px
//         box-shadow 1px 1px 5px rgba(0, 0, 0, 0.6)
//     .dropdown-menu
//       right 0
//       left auto
//       width 180px
//       top 30px
//       padding 6px 3px
