body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
body .wrapper {
  padding: 0;
}
body .header-row {
  background-image: linear-gradient(180deg, #efefef, #fbfbfb);
}
body .header-row .header-container {
  width: 1100px;
}
body .header-row .header-container .header {
  min-width: 990px;
  margin-left: 0;
  padding-top: 2px;
}
body .header-row .header-container .header .logo img {
  width: 108px;
  height: 23px;
}
body .header-row .header-container .header .nav {
  color: #acacac;
  font-size: 12px;
  line-height: 23px;
  margin-top: 4px;
}
body .header-row .header-container .header .nav.pull-right {
  margin-right: 30px;
}
body .header-row .header-container .header .nav .tab {
  padding: 0 5px;
}
body .header-row .header-container .header .fa-map-marker {
  position: relative;
  font-size: 18px;
  top: 3px;
  margin-right: 10px;
}
body .header-row .header-container .header .flag-current {
  position: relative;
  height: 18px;
  margin-right: 10px;
}
body .header-row .header-container .header .avatar {
  position: relative;
  height: 18px;
  margin-right: 5px;
}
body .header-row .header-container .header .person-name {
  position: relative;
  height: 18px;
  margin-right: 8px;
  color: #000;
}
body .header-row .header-container .header .logout {
  position: relative;
  height: 18px;
  margin-left: 10px;
}
body .main {
  margin-top: 20px;
}
body .main-row .main-container {
  margin-top: 20px;
  width: 1190px;
}
body .main-row .main-container .main-content {
  min-width: 990px;
  margin-left: 0;
  padding-top: 2px;
}
body .main-row .article-filter {
  background-color: #4a4a4a;
  height: 45px;
  border-radius: 4px;
}
body .main-row .article-filter .filter-ico {
  float: left;
  width: 32px;
  height: 32px;
  margin: -7px 10px 0 -7px;
  display: inline;
  background: url("../../static-assets/b24online/img/news.png");
  background-position: 0px -24px;
  cursor: pointer;
}
body .main-row .article-filter .filter-langs {
  margin-top: 13px;
}
body .main-row .article-filter .filter-langs .filter-lang {
  color: #fff;
  background-color: #333;
  padding: 4px 6px;
  border-radius: 4px;
  font-size: 12px;
  cursor: default;
}
body .main-row .article-filter .filter-langs .filter-lang a {
  color: #888;
  cursor: pointer;
}
body .main-row .article-filter .filter-search {
  top: -25px;
  width: 220px;
  right: -5px;
}
body .main-row .article-filter .filter-search input {
  height: 28px;
}
body .main-row .left-aside {
  font-size: 12px;
  padding: 0 50px 0 40px;
  widows: 400px;
}
body .main-row .left-aside a {
  background-color: #f6f6f6;
  color: #0089bc;
  height: 31px;
  padding: 7px 10px;
  font-size: 12px;
}
body .main-row .left-aside a.active {
  color: #fff;
  background-color: #d7d7d7;
  border: none;
}
body .main-row .left-aside a.red {
  background-color: #f00;
}
body .main-row .left-aside a:hover {
  color: #fff;
  background-color: #4a4a4a;
}
body .main-row .left-aside a i {
  width: 15px;
  margin-right: 5px;
}
body .main-row .right-aside {
  background-color: #eee;
}
body .main-row .article-content {
  background-color: #eee;
  margin-top: 15px;
}
