{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
<div class="container">
    <div class="companies">
        {% include "b24online/main/add_button.html" %}
        {% include "b24online/main/popupFilter.html" %}
        {% include "b24online/main/paginator.html" %}
        {% include "b24online/main/local_menu_script.html" %}
        <ul class="tender-list" id="afisha-list">
            {% for innov in object_list %}
                {{ innov|register_event:"view"|process_event:request }}
                <li>
                {% setContextMenu innov %}
                    <div class="title">
                    {% if innov.country %}
                        <i class="flag sprite {{ innov.country.flag }}" title="{{ innov.country.name }}"></i>
                    {% elif innov.organization.flag %}
                        <img src="{{ innov.organization.flag_url }}" class="flag" title="{{ innov.organization.name }}" alt="{{ innov.organization.name }}"/>
                    {% else %}
                        <i class="flag sprite {{ innov.created_by.profile.country.flag }}" title="{{ innov.created_by.profile.country.name }}"></i>
                    {% endif %}
                        <font class="name">{% trans 'Publication date' %}: {{ innov.created_at|date:'d M Y' }}</font>
                    </div>
                    <h2><a href="{{ innov.get_absolute_url }}">{{ innov.name|truncatewords:14 }}</a></h2>
                    <div class="desc">
                        {% trans 'Project cost' %}: <b class="num">{{ innov.currency|getSymbol }} {{ innov.cost|formatPrice }}</b>
                    </div>
                    <div class="line">
                        {% if innov.branches.count > 0 %}
                            {% for branch in innov.branches.all %}
                                <span class="clumn">{%  trans "Branch" %}: <font class="gray">{{ branch.name }}</font></span>
                            {% endfor %}
                        {% endif %}
                        <span class="clumn">{% trans 'Organizer' %}:
                            {% if innov.organization.name %}
                                <a href="{{ innov.organization.get_absolute_url }}">  {{ innov.organization.name }} </a>
                            {% elif innov.created_by.profile.full_name %}
                               <a href=""> {{ innov.created_by.profile.full_name }}</a>
                            {% endif %}
                        </span>
                    </div>
                    <a href="{{ innov.get_absolute_url }}" class="linkmore">{% trans 'More' %}...</a>
                </li>
            {% empty %}
                <div class="no-results">{% trans "No results found" %}</div>
            {% endfor %}
        </ul>
        {% include "b24online/main/paginator.html" %}
    </div>
</div>
