{% extends 'b24online/main_page.html' %}


{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
{% endblock %}

{% block keywords %}{% endblock %}

    {% block content %}
    <div class="new-details">
        <h1>{% if item.video_code %}<span title="YouTube" class="icon-youtube-play"></span>{% endif %}{{ item.title }}</h1>
        <p class="date">
            {% if item.country %}
                <i class="sprite {{ item.country.flag }}" title="{{ item.country.name }}"></i>
            {% elif item.organization %}
                <img src="{{ item.organization.flag_url }}" class="flag" title="{{ item.organization.flag }}" alt="{{ item.organization.name }}" />
            {% endif %}

            {% if item.country %}{{ item.country.name }},{% endif %} {{ item.created_at|date:"d M Y" }}, <a href="{{ item.organization.get_absolute_url }}" title="{{ item.organization.name }}">{{ item.organization.name }}</a>
            {% for category in item.categories.all %} {{ category.name }}{% endfor %}
        </p>

                    <div class="content-news">
                        <div class="gallery">
                            <div id="panel">
                                {% if item.image %}
                                    <img id="largeImage" src="{{ item.image.big }}" alt="{{ item.title }}" title="{{ item.title }}" />
                                {% else %}
                                     <img id="largeImage" src="{% static "b24online/img/news.jpg" %}" alt="" />
                                {% endif %}
                            </div>
                            <div id="thumbs">
                               {% for gallery in item.galleries.all %}
                                {% for gallery_item in gallery.gallery_items.all %}
                                    <img src="{{ gallery_item.image.big }}" alt="" />
                                {% endfor %}
                               {% endfor %}
                            </div>
                        </div>
                        <p>{{ item.content|cleanHtml|safe }} </p>
                    </div>
                    {% b2b_social_buttons  item.image item.title item.content %}

                    {% if item.video_code %}
                    <div class="video-details">
                        <iframe width="540" height="322" src="//www.youtube.com/embed/{{ item.video_code }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    {% endif %}

                      <div style="clear:both;"></div>
                      <div class="fb-comments" data-href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.path }}" data-width="100%" data-numposts="5"></div>
                    <div class="related-news">
                        <span class="title">{% trans 'Similar news' %}</span>
                        <ul>
                            {% for news in similarNews %}
                                <li>
                                    <div class="thumb-container">
                                        {% if news.image %}
                                            <img src="{{ news.image.big }}" alt="{{ news.title }}" title="{{ news.title }}" class="thumb" />
                                        {% else %}
                                            <img src="{% static 'b24online/img/news.jpg' %}" alt="" class="thumb" />
                                        {% endif %}
                                    </div>

                                    <a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:23 }}</a>
                                    <span class="date">{{ news.created_at|date:'d M Y' }}</span>
                                    <div class="description">{{ news.content|cleanHtml|safe|truncatewords_html:12 }}</div>
                                    <a href="{{ news.get_absolute_url }}" class="more">{% trans 'More' %}...</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

      </div>

{% endblock %}
