{% extends 'b24online/main_page.html' %}


{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/news.css' %}" />
        <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
{% endblock %}

{% block keywords %}{% endblock %}

<script>
    {% getOwner item as owner %}

    {% if owner %}
        {% if owner.type == 'tpp' %}
            ga('set', 'dimension1', {{ owner.pk }});
        {% else %}
            ga('set', 'dimension3', {{ owner.pk }});
        {% endif %}
    {% endif %}
    ga('set', 'dimension2', 'news');
</script>
    {% block content %}
    <div class="new-details">
        <h1>{% if item.video_code %}<span title="YouTube" class="icon-youtube-play"></span>{% endif %}{{ item.title }}</h1>
        <p class="date">
            {% if item.country %}
                <i class="sprite {{ item.country.flag }}" title="{{ item.country.name }}"></i>
            {% elif item.organization %}
                <img src="{{ item.organization.flag_url }}" class="flag" title="{{ item.organization.flag }}" alt="{{ item.organization.name }}" />
            {% endif %}

            {% if item.country %}{{ item.country.name }},{% endif %} {{ item.created_at|date:"d M Y" }}, <a href="{{ item.organization.get_absolute_url }}" title="{{ item.organization.name }}">{{ item.organization.name }}</a>
            {% for category in item.categories.all %} {{ category.name }}{% endfor %}
        </p>
                          <!-- Яндекс.Директ -->
                    <div id="yandex_ad"></div>
                    <script type="text/javascript">
                    (function(w, d, n, s, t) {
                        w[n] = w[n] || [];
                        w[n].push(function() {
                            Ya.Direct.insertInto(126256, "yandex_ad", {
                                stat_id: 1,
                                ad_format: "direct",
                                font_size: 1,
                                type: "horizontal",
                                border_type: "ad",
                                limit: 3,
                                title_font_size: 3,
                                site_bg_color: "FFFFFF",
                                header_bg_color: "FEEAC7",
                                border_color: "FBE5C0",
                                title_color: "0000CC",
                                url_color: "006600",
                                text_color: "000000",
                                hover_color: "0066FF",
                                favicon: true,
                                no_sitelinks: false
                            });
                        });
                        t = d.getElementsByTagName("script")[0];
                        s = d.createElement("script");
                        s.src = "//an.yandex.ru/system/context.js";
                        s.type = "text/javascript";
                        s.async = true;
                        t.parentNode.insertBefore(s, t);
                    })(window, document, "yandex_context_callbacks");
                    </script>

                    <div class="content-news">
                        <div class="gallery">
                            <div id="panel">
                                {% if item.image %}
                                    <img id="largeImage" src="{{ item.image.big }}" alt="{{ item.title }}" title="{{ item.title }}" />
                                {% else %}
                                     <img id="largeImage" src="{% static "b24online/img/news.jpg" %}" alt="" />
                                {% endif %}
                            </div>
                            <div id="thumbs">
                               {% for gallery in item.galleries.all %}
                                {% for gallery_item in gallery.gallery_items.all %}
                                    <img src="{{ gallery_item.image.big }}" alt="" />
                                {% endfor %}
                               {% endfor %}
                            </div>
                        </div>
                        <p>{{ item.content|cleanHtml|safe }} </p>
                    </div>
                    {% b2b_social_buttons  item.image item.title item.content %}
                    <!-- Яндекс.Директ -->
                    <div id="yandex_ad2"></div>
                    <script type="text/javascript">
                    (function(w, d, n, s, t) {
                        w[n] = w[n] || [];
                        w[n].push(function() {
                            Ya.Direct.insertInto(126256, "yandex_ad2", {
                                stat_id: 2,
                                ad_format: "direct",
                                font_size: 1,
                                type: "horizontal",
                                border_type: "block",
                                limit: 3,
                                title_font_size: 3,
                                border_radius: true,
                                site_bg_color: "FFFFFF",
                                header_bg_color: "FEEAC7",
                                border_color: "FBE5C0",
                                title_color: "0000CC",
                                url_color: "006600",
                                text_color: "000000",
                                hover_color: "0066FF",
                                favicon: true,
                                no_sitelinks: false
                            });
                        });
                        t = d.getElementsByTagName("script")[0];
                        s = d.createElement("script");
                        s.src = "//an.yandex.ru/system/context.js";
                        s.type = "text/javascript";
                        s.async = true;
                        t.parentNode.insertBefore(s, t);
                    })(window, document, "yandex_context_callbacks");
                    </script>
                    {% if item.video_code %}
                    <div class="video-details">
                        <iframe width="540" height="322" src="//www.youtube.com/embed/{{ item.video_code }}" frameborder="0" allowfullscreen></iframe>
                    </div>
                    {% endif %}

                      <div style="clear:both;"></div>
                      <div class="fb-comments" data-href="http://{{ request.get_host }}{{ request.path }}" data-width="100%" data-numposts="5"></div>
                    <div class="related-news">
                        <span class="title">{% trans 'Similar news' %}</span>
                        <ul>
                            {% for news in similarNews %}
                                <li>
                                    <div class="thumb-container">
                                        {% if news.image %}
                                            <img src="{{ news.image.big }}" alt="{{ news.title }}" title="{{ news.title }}" class="thumb" />
                                        {% else %}
                                            <img src="{% static 'b24online/img/news.jpg' %}" alt="" class="thumb" />
                                        {% endif %}
                                    </div>

                                    <a href="{{ news.get_absolute_url }}">{{ news.title|truncatechars:23 }}</a>
                                    <span class="date">{{ news.created_at|date:'d M Y' }}</span>
                                    <div class="description">{{ news.content|cleanHtml|safe|truncatewords_html:12 }}</div>
                                    <a href="{{ news.get_absolute_url }}" class="more">{% trans 'More' %}...</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

      </div>

{% endblock %}
