{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load humanize %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'b24online/js/jquery.uploadify.min.js' %}"></script>
    <script src="{% static 'usersites/js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'usersites/js/jquery.countdown.min.js' %}"></script>

    <script>
    $(function() {
         $(".goods-details-tab").tabs();});
    </script>

    <script>

    $(document).ready(function() {
      $(function(){
        var date = $('.timer').attr('date');
        $('.timer').countdown({until: new Date(date), format: 'dHM'});
      })

      $(function(){
        var date = $('.timer-mini').attr('date');
        $('.timer-mini').countdown({until: new Date(date), compact: true});
      })
    });

    </script>
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}

    <div class="goods-details">
        <h1>{{ item.name }} {{ item.sku|default_if_none:"" }}</h1>
        <div class="goods-details-left">
            <div class="gallery">
                <div id="panel">
                    {% if item.image %}
                      <img id="largeImage" src="{{ item.image.big }}" alt="{{ item.name }}" title="{{ item.name }}" />
                    {% else %}
                      <img id="largeImage" src="{% static 'b24online/img/item.jpg' %}" alt="" />
                    {% endif %}
                </div>
                <div id="thumbs">
                    {% for gallery_item in item.galleries.first.gallery_items.all|slice:":2" %}
                        <img src="{{ gallery_item.image.big }}" alt="" />
                    {% endfor %}
                </div>
            </div>
            {% b2b_social_buttons item.image item.name item.description %}
        </div>
    <div class="goods-details-center">
        {% if form %}
        <form action="" method="post">
        {% csrf_token %}
        <ul class="form-control">
            <fieldset class="dcol">
              <legend>{% trans 'Select customer' %}</legend>
              <li id="id-customer-type-row">
                <label>{{ form.customer_type.label }}:</label>
                <p>{{ form.customer_type }}</p>
              </li>
              <li id="id-customer-company-row">
                <label>{{ form.customer_company.label }}:</label>
                <p>{{ form.customer_company }}</p>
              </li>
            </fieldset>
            <fieldset class="dcol">
              <legend>{% trans 'Quantity' %}</legend>
              <li id="id-product-cost-row">
                <label>{% trans 'Product price' %}:</label>
                <p>
                  {% if item.cost and item.cost > 0 %}
                    {{ item.currency|getSymbol }} {{ item.cost|formatPrice }}
                  {% else %}
                    {% trans 'Contact for price'%}
                  {% endif %}
                </p>
              </li>
              <li id="id-customer-type-row">
                <label>{{ form.quantity.label }}:</label>
                <p>{{ form.quantity }}</p>
              </li>
            </fieldset>
            <li>
              <input type="submit" name="save" value="{% trans 'Buy' %}" />
            </li>
        </ul>
        </form>
        {% endif %}

    </div>


    <ul class="goods-info">
       <li class="top">
            <div class="iconinfo"><i class="sprite {{ item.country.flag }}" title="{{ item.country.name }}"></i> </div>
            <div class="nameinfo"><b><a href="{{ item.company.get_absolute_url }}">{{ item.company.name }}</a></b></div>
       </li>
       {% if item.company.address %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info1"></i></div>
                <div class="nameinfo">{{ item.company.address }}</div>
           </li>
       {% endif %}
       {% if item.company.phone %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info2"></i></div>
                <div class="nameinfo">{{ item.company.phone }}</div>
           </li>
       {% endif %}
       {% if item.company.fax %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info3"></i></div>
                <div class="nameinfo">{{ item.company.fax }}</div>
           </li>
       {% endif %}
       {% if item.company.site %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info4"></i></div>
                <div class="nameinfo"><a href="#">{{ item.company.site }}</a></div>
           </li>
       {% endif %}
       <li>
            <div class="iconinfo"><i class="imgnews icon-info5"></i></div>
            <div class="nameinfo">
                <a class="contact-us" data-name="{{ item.name }}" data-id="{{ item.company.pk }}" href="#" >{% trans 'Contact us' %}</a>
            </div>
       </li>
    </ul>

    <div class="goods-details-tab cpn-details-tab">

        <div class="tab-cate">
            <ul>
                <li><a href="#goods-tabs-1">{% trans 'About' %}</a></li>
                {% comment %}
                <li>
                    <a data-id="gallery-tabs" href="{% url "products:tabs_gallery" item.pk %}">
                        {% trans "Gallery" %}
                    </a>
                </li>
                {% endcomment %}
                <li><a href="#goods-tabs-2">{% trans 'Document' %}</a></li>
                <li><a href="#goods-tabs-3">{% trans 'Reviews' %}</a></li>
                {% for page in item.additional_pages.all %}
                     <li><a href="#goods-tabs-{{ forloop.counter0|add:4 }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>

        <div id="goods-tabs-1">
            <div class="content-goods-tab">{{ item.description|cleanHtml|safe }}</div>
        </div>

        <div id="goods-tabs-2">
            <div class="content-goods-tab">
                {% for document in item.documents.all %}
                    <a href="{{ MEDIA_URL}}document/{{ document.document_url }}">{% trans 'Link to the document' %}</a><br>
                {% endfor %}
            </div>
        </div>

        <div id="goods-tabs-3">
            <div class="content-goods-tab">

            </div>
        </div>

        {% for page in item.additional_pages.all %}
            <div id="goods-tabs-{{ forloop.counter0|add:4 }}">
                     <div class="content-goods-tab">{{ page.content|cleanHtml|safe }}</div>
             </div>
         {% endfor %}
    </div>
</div>
{% endblock %}
