{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load humanize %}

{% include "b24online/main/paginator.html" %}

<div class="row content-goods">
  {% for product in object_list %}

  <div class="col-xs-3 b2b-elem">
    {% setContextMenu product update_url=update_url delete_url=delete_url %}
    <div class="thumbnail coupons wall">
      <div class="thumbnail-container">
        <a href="{{ product.get_absolute_url }}">
          {% if product.image %}
          <img class="thumb-img" src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
          {% else %}
          <img class="thumb-img" src="{% static 'b24online/images/400x400.png' %}" alt="{{ product.name|truncatechars:40 }}" />
          {% endif %}
        </a>
      </div>

      <div class="caption">
        <ul class="media-list">
          <li class="media">
            <a class="pull-left" href="{{ product.get_absolute_url }}">
              {% if product.country %}
                <div class="thumb-flag-block pull-left sprite-flags {{ product.country.flag }}"></div>
              {% endif %}
            </a>

            <div class="media-body">
              <a href="{{ product.get_absolute_url }}">
                {{ product.name|truncatechars:45 }}
              </a>
            </div>
          </li>
        </ul>

        {% if product.cost %}
        <p class="price-block">{{ product.currency|getSymbol }} {{ product.cost|formatPrice }}</p>
        <p class="btn-block"><a href="{{ product.get_absolute_url }}" class="btn btn-primary buy" role="button">{% trans 'Buy' %}</a></p>
        {% else %}
        <p class="btn-block"><a href="{{ product.company.get_absolute_url }}" class="btn btn-primary buy" role="button">{% trans 'Contact to price' %}</a></p>
        {% endif %}



      </div>
    </div>
  </div>

  {% empty %}
  <p>{% trans "No results found" %}</p>
  {% endfor %}
</div>

{% include "b24online/main/paginator.html" %}
