{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load humanize %}

<div class="article-content col-xs-12">
    {% include "b24online/main/paginator.html" %}

    <div class="row content-goods">
    {% for product in object_list %}
        {% if forloop.first %}
        {% if product.is_coupon %}

            <script>
            $(document).ready(function() {
                $('.countdown-{{ product.id }}').countdown("{{ product.end_coupon_date|date:'Y/m/d' }}",
                function(event) {
                  $('.clock-days').html(event.strftime('%d'));
                  $('.clock-hours').html(event.strftime('%H'));
                  $('.clock-minutes').html(event.strftime('%M'));
                });
            });
            </script>

          <div class="banner">
            <div class="banner-container">
              <div class="body">
                <div class="content">
                  <div class="img col-md-3">
                    <a href="{% url 'products:B2CDetail' product.slug product.pk %}">
                    {% if product.image %}
                      <img src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
                    {% else %}
                      <img src="{% static 'b24online/images/400x400.png' %}" alt="{{ product.name|truncatechars:40 }}" />
                    {% endif %}
                    <div class="badge pull-left">-{{ product.coupon_discount_percent|intword }}%</div>
                    </a>
                  </div>

                  <div class="text col-md-8 col-md-offset-1">
                    <a href="{% url 'products:B2CDetail' product.slug product.pk %}" class="title">{{ product.name }}</a>
                    <div class="status">{% trans "Coupon's status" %}</div>
                    <div class="expire">
                      <div class="clock fa fa-clock-o pull-left"></div>
                      <div class="time pull-left countdown-{{ product.id }}">

                        <div class="exp days pull-left">
                          <div class="count clock-days"></div>
                          <div class="date">{% trans "Days" %}</div>
                        </div>

                        <div class="exp hours pull-left">
                          <div class="count clock-hours"></div>
                          <div class="date">{% trans "Hours" %}</div>
                        </div>

                        <div class="exp minuts pull-left">
                          <div class="count clock-minutes"></div>
                          <div class="date">{% trans "Minutes" %}</div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="footer">
                <a href="{% url 'products:B2CDetail' product.slug product.pk %}">
                <div class="buy pull-right">
                  {% trans 'Buy' %}
                </div>
                </a>
                <div class="current-price pull-right">
                  <div class="pull-left">{% trans "Current price" %}:</div>
                  <div class="pull-left price">{{ product.currency|getSymbol }}{{ product.get_discount_price|formatPrice }}</div>
                </div>
                <div class="old-price pull-right">
                  <p class="price pull-left">{{ product.currency|getSymbol }}{{ product.cost|formatPrice }}</p>
                  ({{ product.coupon_discount_percent|intword }}% off)
                </div>
              </div>
            </div>
          </div>

      {% endif %}
      {% else %}
      {% if product.is_coupon %}
            <!-- {% setContextMenu product update_url=update_url delete_url=delete_url %} -->
            <div class="col-xs-3">
              <div class="thumbnail coupons">

                <div class="thumbnail-container">
                  <div class="shadow-effect">
                  </div>
                  <a href="{% url 'products:B2CDetail' product.slug product.pk %}">
                    {% if product.image %}
                      <img src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
                    {% else %}
                      <img src="{% static 'b24online/images/400x400.png' %}" alt="{{ product.name|truncatechars:40 }}" />
                    {% endif %}
                  <div class="badge">-{{ product.coupon_discount_percent|intword }}%</div>
                  </a>
                </div>

                <div class="caption">
                  <ul class="media-list">
                    <li class="media">
                      <a class="pull-left" href="{% url 'products:B2CDetail' product.slug product.pk %}">
                        {% if product.country %}
                            <i class="flag sprite {{ product.country.flag }}" title="{{ product.country.name }}"></i>
                        {% endif %}
                        <!-- <img class="thumb-flag media-object" src="flags/english.png" alt="..."> -->
                      </a>
                      <div class="media-body">
                        <a href="{% url 'products:B2CDetail' product.slug product.pk %}">{{ product.name|truncatechars:45 }}</a>
                      </div>
                    </li>
                  </ul>

                  <div>{% trans "Discount price until" %}</div>
                  <div>{{ product.end_coupon_date }}</div>

                   {% if product.cost %}
                    <p class="price">{{ product.currency|getSymbol }}{{ product.get_discount_price|formatPrice }}</p>
                  {% else %}
                      {% trans 'Contact to price' %}
                  {% endif %}

                  <p><a href="{% url 'products:B2CDetail' product.slug product.pk %}" class="btn btn-primary coupon-buy" role="button">{% trans "Buy" %}</a></p>
                </div>

              </div>
            </div>

      {% endif %}
      {% endif %}

    {% empty %}
        <p>{% trans "No results found" %}</p>
    {% endfor %}
    </div>
    </div>

    <div class="article-content col-xs-12">
    {% include "b24online/main/paginator.html" %}
    </div>
