{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load humanize %}

    <link href="{% static 'b24online/css/jquery.bxslider.css' %}" rel="stylesheet" />

    <script src="{% static 'b24online/js/jquery.bxslider.min.js' %}"></script>
    <script>$(document).ready(function(){$('.bxslider').bxSlider();});</script>
    <div class="container">
    {% if page.number == 1 %}
        {% products_banner_slider %}
    {% endif %}

    {% if is_my %}
        {% include "b24online/main/add_button.html" %}
    <div>
        {% include "b24online/main/paginator.html" %}
        <div style="float:right;" class="data">
            <a href="{% url 'products:b2c_product_update_paginator' page=page.number %}">
                <img src="{% static 'b24online/img/as_list.png' %}" />
            </a>
        </div>
    </div>
    {% else %}
        {% include "b24online/main/paginator.html" %}
    {% endif %}

    {% include "b24online/main/popupFilter.html" %}
    {% include "b24online/main/local_menu_script.html" %}
    <ul class="listprd">
    {% for product in object_list %}
        <li>
         {% setContextMenu product update_url=update_url delete_url=delete_url %}
          <div class="thumb">
          {% if product.is_coupon %}<span class="universal-sale">-{{ product.coupon_discount_percent|intword }}%</span>{% endif %}
              <a href="{% url 'products:B2CDetail' product.slug product.pk %}">
                  {% if product.image %}
                      <img src="{{ product.image.big }}" alt="{{ product.name }}" title="{{ product.name }}" />
                  {% else %}
                      <img src="{% static 'b24online/img/item.jpg' %}" alt="{{ product.name|truncatechars:40 }}" />
                  {% endif %}
              </a>
          </div>
            <div class="link">
                {% if product.country %}
                     <i class="flag sprite {{ product.country.flag }}" title="{{ product.country.name }}"></i>
                {% endif %}
            <a href="{% url 'products:buyB2C' product.slug product.pk %}" class="name">{{ product.name|truncatechars:45 }}</a>
           </div>
           {% if product.is_coupon %}<label style="color:555">{% trans " Discount price until" %}<br>{{ product.end_coupon_date }}</label>{% else %}<label>&nbsp;<br>&nbsp;</label>{% endif %}
            <div class="price">
                {% if product.cost %}
                    <span{% if product.is_coupon %} style="color:red"{% endif %}>{{ product.currency|getSymbol }}{{ product.get_discount_price|formatPrice }}</span>
                {% else %}
                    {% trans 'Contact to price' %}
                {% endif %}
            </div>
            <a href="{% url 'products:buyB2C' product.slug product.pk %}" class="{% if product.is_coupon %}coupon_btnbuy{% else %}btnbuy{% endif %}">{% trans 'Buy' %}</a>
        </li>
    {% empty %}
        <div class="no-results">{% trans "No results found" %}</div>
    {% endfor %}
    </ul>
   {% include "b24online/main/paginator.html" %}
</div>
