{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block title %}{% trans 'Deals history' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/company.css" %}' />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/datepicker.css' %}" />
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/extra.css" %}' />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script  type="text/javascript" src="{% static 'b24online/js/deals.js' %}"></script>
    <script  type="text/javascript">
        $(document).ready(function () {
            document.body.onclick = function (e) {
                e = e || event;
                var target = e.target || e.srcElement;
                alert('tag = ' + target.tagName + '; id = ' +
                    target.id +'; class = ' + target.className)
            }
            $('#deals-tabs').on('tabsload', function( event, ui ) {
                alert('OKOKO');
            });
        });
        
    </script>
    
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}
<div class="cpn-details-tab ui-tabs ui-widget ui-widget-content ui-corner-all">
    <div class="tab-cate">
        <ul>
            <li><a href="#deals-tabs">{% trans 'All deals' %}</a></li>
            <li><a href="{% url 'products:deal_list' %}?status=draft">{% trans 'Ready to pay' %}</a></li>
            <li><a href="{% url 'products:deal_list' %}?status=ordered">{% trans 'Ordered by email' %}</a></li>
            <li><a href="{% url 'products:deal_list' %}?status=paid">{% trans 'Paid dals' %}</a></li>
        </ul>
    </div>
    <div id="deals-tabs" style="margin-top: 20px; padding: 15px;">
      {% with 1 as as_insert %}
      {% include "b24online/Products/dealListBase.html" %}
      {% endwith %}
    </div>
</div>

{% endblock %}
