{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block html_title %}{{ item }}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/extra.css' %}" />
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}
<div class="goods-details">
  <div class="data">
    <h1>{{ item }}</h1>
    <hr class="hr-divider-one">

    <div class="data">
      <p class="data-info">
        <label>{% trans 'Customer' %}:</label>
        {{ item.deal.deal_order.get_customer }}
      </p>
      <p class="data-info">
        <label>{% trans 'Supplier' %}:</label>
        {{ item.deal.supplier_company.name }}
      </p>
      <p class="data-info">
        <label>{% trans 'Deal date' %}:</label>
        {{ item.deal.created_at|date:'d M Y H:i' }}
      </p>
      <p class="data-info">
        <label>{% trans 'Cost' %}:</label>
        {{ item.cost }}
      </p>
      <p class="data-info">
        <label>{% trans 'Quantity' %}:</label>
        {{ item.quantity }}
      </p>
      <p class="data-info">
        <label>{% trans 'Total' %}:</label>
        {{ item.get_total }}
      </p>
      <p class="data-info">
        <label>{% trans 'Currency' %}:</label>
        {{ item.currency|getSymbol }}
      </p>
    </div>
    {% with item.get_extra_params as extra_params %}
      {% if extra_params %}
      <div class="data">
        <h1>{% trans 'Deal item additional parameters' %}</h1>
        <hr class="hr-divider-one">
        {% for param_descr, param_value in extra_params %}
          {% if param_descr.pre_text %}
            <p class="data-info pre-text">{{ param_descr.pre_text }}</p>
          {% endif %}
          <p class="data-info">
            <label>{{ param_descr.label|default:param_descr.name }}:</label>
            {{ param_value }}
          </p>
        {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
