{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block html_title %}{% trans 'Your basket' %}{% endblock %}
{% block title %}{% trans 'Your basket' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/extra.css' %}" />
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}
<div class="goods-details">
    <div class="data">
        <h1>{% trans 'Your basket' %}</h1>
        <hr class="hr-divider-one">
        <div class="data">
            {% for deal_order in object_list %}
            <div class="data">
                <h2>{{ deal_order }} for {{ deal_order.get_customer }}</h2>
                <hr class="hr-divider-two">
                <div class="data">
                <table width="100%" cellspacing="2" cellpadding="2" 
                    border="0" class="table-data">
                    <tr>
                      <th>{% trans 'Product supplier' %}</th>
                      <th>{% trans 'Deal date' %}</th>
                      <th>{% trans 'Product' %}</th>
                      <th>{% trans 'Product amount' %}</th>
                      <th>{% trans 'Product price' %}</th>
                      <th>{% trans 'Deal cost' %}</th>
                      <th>&nbsp;</th>
                    </tr>
                    {% for deal in deal_order.get_draft_deals %}
                      {% with deal.get_items as items %}
                      {% get_length items as items_len %}

                      {% for deal_item in deal.get_items %}
                      <tr valign="top">
                        {% if forloop.first %}
                        <td rowspan="{{ items_len }}">
                          {{ deal.supplier_company.name }}
                        </td>
                        <td rowspan="{{ items_len }}">
                          {{ deal.created_at|date:"d M Y H:i" }}
                        </td>
                        {% endif %}
                        <td><a href="{{ deal_item.item.get_absolute_url }}">{{ deal_item.item.name }}</a></td>
                        <td align="center">{{ deal_item.quantity}}</td>
                        <td align="center">{{ deal_item.cost }} {{ deal_item.currency|getSymbol }}</td>
                        {% if forloop.first %}
                        <td rowspan="{{ items_len }}>
                        {% with deal.get_total_cost as cost_list %}
                          {% if cost_list %}
                          {% for cost, currency in cost_list %}
                            <span class="bolded">{{ currency|getSymbol }}&nbsp;{{ cost }}</span>{% if not forloop.last %},&nbsp;{% endif %}
                          {% endfor %}
                          {% else %}
                            -
                          {% endif %}
                          {% endwith %}
                        </td>
                        <td rowspan="{{ items_len }}" nowrap>
                          <a class="mediumbuy" href="{% url 'products:deal_payment' deal.pk %}" >{% trans 'Order by Email' %}</a>
                          {% if deal.supplier_company.company_paypal_account %}
                          <br/><br/>
                          <a class="mediumbuy" href="" >{% trans 'Pay by Paypal' %}</a>
                          {% endif %}
                        </td>
                        {% endif %}
                      </tr>
                      {% endfor %}
                      {% endwith %}  
                    {% endfor %}
                </table> 
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
