{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block html_title %}{{ item }} :: {% trans 'Payment ' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/extra.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'b24online/js/deals.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var submit_button = $('#paypal-form-container').find('input[type="image"]');
            $(submit_button).css('cursor', 'text').attr('disabled', 'disabled');
            $('#agree-tos').change(function() {
                if($(this).is(":checked")) {
                    $(submit_button).css('cursor', 'pointer').removeAttr('disabled');
                } else {
                    $(submit_button).css('cursor', 'text').attr('disabled', 'disabled');
                }
            })
        });
    </script>
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}
<div class="goods-details">
  <div class="data">
    <h1>{{ item }}</h1>
    <hr class="hr-divider-one">

    <div class="data">
    <p class="data-info">
      <label>{% trans 'Customer' %}:</label>
      {{ item.deal_order.get_customer }}
    </p>
    <p class="data-info">
      <label>{% trans 'Supplier' %}:</label>
      {{ item.supplier_company.name }}
    </p>

    </div>


    <div class="data">
      <h2 class="data toggle-next">{% trans 'Products list' %}</h2>
      <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-data" style="display: none;">
        <tr>
          <th>{% trans 'Product' %}</th>
          <th>{% trans 'Quantity' %}</th>
          <th>{% trans 'Price' %}</th>
          <th>{% trans 'Total' %}</th>
          <th>{% trans 'Currency' %}</th>
          {% if item.can_edit %}
          <th>&nbsp;</th>
          {% endif %}
        </tr>

        {% for deal_item in item.get_items %}
        <tr>
          <td><a href="{{ deal_item.item.get_absolute_url }}">{{ deal_item.item.name }}</a></td>
          <td align="center">{{ deal_item.quantity}}</td>
          <td align="center">{{ deal_item.cost }}</td>
          <td align="center">{{ deal_item.get_total }}</td>
          <td align="center">{{ deal_item.currency|getSymbol }}</td>
          {% if item.can_edit %}
          <td align="center"><a href="{% url 'products:deal_item_delete' deal_item.pk %}">delete</a></td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <div class="data">
    <p class="data-info">
      <label>{% trans 'Total deal cost' %}:</label>
      <span class="bolded">{{ item.currency|getSymbol }}&nbsp;{{ item.total_cost }}</span>
    </p>

  </div>
  <div class="data">
      <input type="checkbox" id="agree-tos" name="agree_tos" />
      <label>Agree with TOS</label>
  </div>
  <div class="data" id="paypal-form-container">
      <div style="">{{ paypal_form.render }}</div>
  </div>
</div>
{% endblock %}
