{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% if not as_insert%}<div id="deals-tabs" style="margin-top: 20px; padding: 15px;">{% endif %}
<div class="data">
    <h1>{% trans 'Deals list' %} {% trans 'for' %} {{ current_organization }}</h1>
    <hr class="hr-divider-one">
    <div class="data">
      <table width="100%" cellspacing="2" cellpadding="2" border="0" class="table-data">
        <tr>
          <th>{% trans 'Deal' %}</th>
          <th>{% trans 'Customer' %}</th>
          {% if show_supplier %}
          <th>{% trans 'Supplier' %}</th>
          {% endif %}
          <th>{% trans 'Status' %}</th>
          <th>{% trans 'Cost' %}</th>
        </tr>
        {% for deal in object_list %}
        <tr>
          <td>
            <a href="{% url 'products:deal_detail' deal.pk %}">{{ deal }}</a>
          </td>
          {% with deal.deal_order.get_customer as customer %}
          <td>
            <a href="{{ customer.get_absolute_url }}" target="_blank">
              {{ customer }}
            </a>
          </td>
          {% endwith %}
          {% if show_supplier %}
          <td>
            <a gref="{{ deal.supplier_company.get_absolute_url }}" target="_blank">
              {{ deal.supplier_company }}
            </a>    
          </td>
          {% endif %}
          <td>{{ deal.get_status }}</td>
          <td>
            {% with deal.get_total_cost as cost_list %}
              {% if cost_list %}
                {% for cost, currency in cost_list %}
                <span class="bolded">{{ currency|getSymbol }}&nbsp;{{ cost }}</span>{% if not forloop.last %},&nbsp;{% endif %}
                {% endfor %}
              {% else %}
              -
              {% endif %}
            {% endwith %}
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4" align="center">
          {% trans 'There are no deals' %}
          </td>
        </tr>
        {% endfor %}
      </table>  
    </div>
</div>
{% if not as_insert%}</div>{% endif %}
