{% extends 'b24online/main_page.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load humanize %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static "b24online/js/jquery.uploadify.min.js" %}"></script>
    <script src="{% static "usersites/js/jquery.plugin.min.js" %}"></script>
    <script src="{% static "usersites/js/jquery.countdown.min.js" %}"></script>

    <script>
    $(function() {
         $(".goods-details-tab").tabs();});
    </script>

    <script>

    $(document).ready(function() {
      $(function(){
        var date = $('.timer').attr('date');
        $('.timer').countdown({until: new Date(date), format: 'dHM'});
      })

      $(function(){
        var date = $('.timer-mini').attr('date');
        $('.timer-mini').countdown({until: new Date(date), compact: true});
      })
    });

    </script>
{% endblock %}

{% block keywords %}{% endblock %}
{% block content %}

{% if item.is_coupon %}
    <div class="goods-details coupon-big">
    <span class="universal-sale">-{{ item.coupon_discount_percent|intword }}%</span>
    <h1>{{ item.name }}</h1>

        <div class="coupon-image">
        {% if item.image %}
            <img class="coupon-big-image" src="{{ item.image.big }}" alt="{{ item.name }}" title="{{ item.name }}" />
        {% else %}
            <img id="coupon-big-image" src="{% static 'b24online/img/item.jpg' %}" alt="" />
        {% endif %}

        <div style="margin:10px 0;text-align:center;">
            <p><strong><a href="{{ item.company.get_absolute_url }}">{{ item.company.name }}</a></strong></p>
            <p><a href="{{ item.company.site }}">{{ item.company.site }}</a></p>
            <p><a data-name="{{ item.name }}" data-id="{{ item.company.pk }}" href="#" >{% trans 'Contact us' %}</a></p>
        </div>

        </div>

        <div style="width:380px;padding:10px 20px;float:left;">

            <h2><span style="font-weight:normal;">{% trans 'Current price' %}:</span> {{ item.currency|getSymbol }}{{ item.get_discount_price|formatPrice }} <span class="price-off"><span style="font-weight:normal;color:#a5a5a5">(<strike>{{ item.currency|getSymbol }}{{ item.cost|formatPrice }}</strike>)</span></span></h2>

            <p class="timer-heading">{% trans 'Promotion ends' %}</p>
            <div style="font-size:32px;" class="timer icon-clock" date="{{ item.end_coupon_date|date:'Y-m-d' }}"></div>

            {% b2b_social_buttons item.image item.name item.name %}

            {% if paypal_form %}
                <div style="">{{ paypal_form.render }}</div>

                <input id="id_quantity_src" placeholder="{% trans 'Amount' %}" type="text" class="text" style="margin:10px 0;width:100px;" />

                <script>
                $("#id_quantity_src").keyup(function() {
                    document.getElementById('id_quantity').value = this.value;
                });
                </script>

            {% else %}
                <a class="bigbuy contact-us" data-name="{{ item.name }}" data-id="{{ item.company.pk }}" href="#" >{% trans 'Contact us' %}</a>
            {% endif %}

    </div>

{% else %}

    <div class="goods-details">
        <h1>{{ item.name }}</h1>
        <div class="goods-details-left">
            <div class="gallery">
                <div id="panel">
                    {% if item.image %}
                      <img id="largeImage" src="{{ item.image.big }}" alt="{{ item.name }}" title="{{ item.name }}" />
                    {% else %}
                      <img id="largeImage" src="{% static 'b24online/img/item.jpg' %}" alt="" />
                    {% endif %}
                </div>
                {% comment %}
                <div id="thumbs">
                    {% for gallery_item in item.galleries.first.gallery_items.all|slice:":2" %}
                    <img src="{{ gallery_item.image.big }}" alt="" />
                    {% endfor %}
                </div>
                {% endcomment %}
            </div>
            {% b2b_social_buttons item.image item.name item.name %}

        </div>
    <div class="goods-details-center">
        <ul>
            <li>

                {% if item.is_coupon %}
                <label style="color:red">{% trans " Discount price until" %} {{ item.end_coupon_date }}:</label>
                {% else %}
                <label>{% trans "Price" %}:</label>
                {% endif %}
                <p>
        <span {% if item.is_coupon %} style="color:red"{% endif %}>{{ item.currency|getSymbol }} {{ item.get_discount_price|formatPrice }}</span>
                </p>
            </li>
            {% if item.measurement_unit %}
                <li>
                    <label>{% trans 'Unit' %}:</label>
                    <p>{{ item.get_measurement_unit_display }}</p>
                </li>
            {% endif %}
            <li>
                <label>{% trans 'Amount' %}:</label>
                <input id="id_quantity_src" type="text" class="text" style="width:60%;" />

                <script>
                $("#id_quantity_src").keyup(function() {
                    document.getElementById('id_quantity').value = this.value;
                });
                </script>
            </li>
            {% comment %}
            <li>
                <label>{% trans 'Delivery method' %}:</label>
                <span class="trans-services"><i class="imgnews transport trans-1"></i></span>
                <span class="trans-services"><i class="imgnews transport trans-2"></i></span>
                <span class="trans-services selected"><i class="imgnews transport trans-3"></i></span>
                <span class="trans-services"><i class="imgnews transport trans-4"></i></span>
                <span class="trans-services"><i class="imgnews transport trans-5"></i></span>
           </li>
           {% endcomment %}
           <li>

            {% if paypal_form %}
                <div style="">{{ paypal_form.render }}</div>
            {% else %}
                <a class="bigbuy contact-us" data-name="{{ item.name }}" data-id="{{ item.company.pk }}" href="#" >{% trans 'Contact us' %}</a>
            {% endif %}

           </li>
        </ul>
    </div>


    <ul class="goods-info">
       <li class="top">
            <div class="iconinfo"><i class="sprite {{ item.country.flag }}" title="{{ item.country.name }}"></i> </div>
            <div class="nameinfo"><b><a href="{{ item.company.get_absolute_url }}">{{ item.company.name }}</a></b></div>
       </li>
       {% if item.company.address %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info1"></i></div>
                <div class="nameinfo">{{ item.company.address }}</div>
           </li>
       {% endif %}
       {% if item.company.phone %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info2"></i></div>
                <div class="nameinfo">{{ item.company.phone }}</div>
           </li>
       {% endif %}
       {% if item.company.fax %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info3"></i></div>
                <div class="nameinfo">{{ item.company.fax }}</div>
           </li>
       {% endif %}
       {% if item.company.site %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info4"></i></div>
                <div class="nameinfo"><a href="#">{{ item.company.site }}</a></div>
           </li>
       {% endif %}
       {% if item.producer %}
           <li>
                <div class="iconinfo"><i class="imgnews icon-info4"></i></div>
                <div class="nameinfo"><a href="#">{{ item.producer }}</a></div>
           </li>
       {% endif %}
       <li>
            <div class="iconinfo"><i class="imgnews icon-info5"></i></div>
            <div class="nameinfo">
                <a class="contact-us" data-name="{{ item.name }}" data-id="{{ item.company.pk }}" href="#" >{% trans 'Contact us' %}</a>
            </div>
       </li>
    </ul>

{% endif %}

    <div class="goods-details-tab cpn-details-tab">
        <div class="tab-cate">
            <ul>
                <li><a href="#goods-tabs-1">{% trans 'About' %}</a></li>
                <li>
                    <a data-id="gallery-tabs" href="{% url "products:tabs_gallery" "b2c" item.pk %}">
                        {% trans "Gallery" %}
                    </a>
                </li>
                <li>
                    <a data-id="document-tabs" href="{% url "products:tabs_documents" "b2c" item.pk %}">
                        {% trans "Documents" %}
                    </a>
                </li>
                {% comment %}
                <li><a href="#goods-tabs-3">{% trans 'Reviews' %}</a></li>
                {% endcomment %}
                {% for page in item.additional_pages.all %}
                     <li><a href="#goods-tabs-{{ forloop.counter0|add:4 }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div id="goods-tabs-1">
            <div class="content-goods-tab">{{ item.description|cleanHtml|safe }}</div>
        </div>
        {% comment %}
        <div id="goods-tabs-3">
            <div class="content-goods-tab">

            </div>
        </div>
        {% endcomment %}
        {% for page in item.additional_pages.all %}
            <div id="goods-tabs-{{ forloop.counter0|add:4 }}">
                     <div class="content-goods-tab">{{ page.content|cleanHtml|safe }}</div>
             </div>
         {% endfor %}


         ####################################<br><br><br>

         {% for i in item.additional_parameters.all %}

{{ i }}
         {% endfor %}

    </div>
</div>
<div style="clear:both;"></div>
<div class="fb-comments" data-href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.path }}" data-width="100%" data-numposts="5"></div>
{% endblock %}
