{% extends 'b24online/main_detail_page.html' %}
{% load static %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}
{% load humanize %}


{% block content %}

{% if item.is_coupon %}
      <script>
      $(document).ready(function() {
          $('.countdown').countdown("{{ item.end_coupon_date|date:'Y/m/d' }}",
          function(event) {
            $('.clock-days').html(event.strftime('%d'));
            $('.clock-hours').html(event.strftime('%H'));
            $('.clock-minutes').html(event.strftime('%M'));
          });
      });
      </script>

    <div class="coupon-product">
      <div class="banner details">
        <div class="banner-container">
          <div class="body details">
            <div class="content details">
              <div class="badge pull-left">-{{ item.coupon_discount_percent|intword }}%</div>
              <div class="col-xs-12 coupon-header">
                <div class="title">{{ item.name }}</div>
              </div>

              <div class="img col-md-3">
              {% if item.image %}
                <img src="{{ item.image.big }}" alt="{{ item.name }}" title="{{ item.name }}" />
              {% else %}
                <img src="{% static 'b24online/images/400x400.png' %}" alt="{{ item.name|truncatechars:40 }}" />
              {% endif %}
              </div>

              <div class="text col-md-8 col-md-offset-1">
                <div class="price-container">
                  <div class="pull-left">{% trans "Current price" %}:</div>
                  <div class="pull-left price">{{ item.currency|getSymbol }}{{ item.get_discount_price|formatPrice }}</div>
                  <div class="pull-left old-price">({{ item.currency|getSymbol }}{{ item.cost|formatPrice }})</div>
                </div>

                <div class="status">{% trans "Promotion ends" %}</div>
                <div class="expire-block details">
                  <div class="clock fa fa-clock-o pull-left"></div>
                  <div class="time pull-left countdown">

                    <div class="exp days pull-left">
                      <div class="count clock-days"></div>
                      <div class="date">{% trans "Days" %}</div>
                    </div>

                    <div class="exp hours pull-left">
                      <div class="count clock-hours"></div>
                      <div class="date">{% trans "Hours" %}</div>
                    </div>

                    <div class="exp minuts pull-left">
                      <div class="count clock-minutes"></div>
                      <div class="date">{% trans "Minutes" %}</div>
                    </div>

                  </div>
                </div>
                {% social_share item item.name %}

                {% if paypal_form %}
                  <div class="coupon-paypal col-md-4" style="margin-top: 15px">
                    <div>{% trans "Amount" %}</div>
                    <input id="id_quantity_src" type="text" class="quantity" />
                    <div style="margin-top: 10px;">{{ paypal_form.render }}</div>
                  </div>
                  <script>
                  $("#id_quantity_src").keyup(function() {
                      document.getElementById('id_quantity').value = this.value;
                  });
                  </script>
                {% else %}
                  <a href="{{ item.company.get_absolute_url }}">
                    <div class="col-xs-12 contact-us-btn" style="top: -5px;">{% trans "Contact us" %}</div>
                  </a>
                {% endif %}

            </div>
          </div>
        </div>
      </div>

{% else %}

      <div class="coupon-product">
        <div class="b2c">
          <div class="row content-block">
            <div class="title">{{ item.name }}</div>
            <div class="col-xs-4 media-content event">
              <div class="media">
                <a class="pull-left" href="#">
                  <div class="thumb-container">
                      {% if item.image %}
                        <img src="{{ item.image.big }}" alt="{{ item.name }}" title="{{ item.name }}" />
                      {% else %}
                        <img src="{% static 'b24online/images/400x400.png' %}" alt="{{ item.name|truncatechars:40 }}" />
                      {% endif %}
                  </div>
                </a>
                <div class="media-body">
                {% social_share item item.name %}
                </div>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="row">
                <div>{% trans "Price" %}</div>
                <div class="price-value">{{ item.currency|getSymbol }} {{ item.cost|formatPrice }}</div>
                <br>

                {% if paypal_form %}
                  <div>{% trans "Amount" %}</div>
                  <input id="id_quantity_src" type="text" class="text" />
                  <div style="margin-top: 10px;">{{ paypal_form.render }}</div>
                  <script>
                  $("#id_quantity_src").keyup(function() {
                    document.getElementById('id_quantity').value = this.value;
                  });
                </script>
                {% else %}
                  <a href="{{ item.company.get_absolute_url }}"><div class="col-xs-12 contact-us-btn">{% trans "Contact us" %}</div></a>
                {% endif %}

              </div>
            </div>
            <div class="col-xs-4 contacts">
              <a href="{{ item.company.get_absolute_url }}" class="event-title pull-left"><div class="thumb-flag-block pull-left sprite-flags {{ item.company.country.flag }}"></div>{{ item.company.name }}</a>

              {% if item.company.address %}
                <div class="address">
                  <i class="address-ico sprite pull-left"></i>
                  {{ item.company.address }}
                </div>
              {% endif %}

              {% if item.company.phone %}
              <div class="contact">
                <i class="phone-ico sprite pull-left"></i>
                {{ item.company.phone }}
              </div>
              {% endif %}

              {% if item.company.fax %}
              <div class="contact">
                <i class="extra-phone-ico sprite pull-left"></i>
                {{ item.company.fax }}
              </div>
              {% endif %}

             {% if item.company.site %}
                <div class="contact">
                  <i class="site-ico sprite pull-left"></i>
                  <a href="#">{{ item.company.site }}</a>
                </div>
             {% endif %}

             {% if item.producer %}
                <div class="contact">
                  <i class="site-ico sprite pull-left"></i>
                  <a href="#">{{ item.producer }}</a>
                </div>
             {% endif %}

              <div class="contact">
                <i class="mail-ico sprite pull-left"></i>
                <div class="data pull-left">
                  <a href="{{ item.company.get_absolute_url }}">{% trans "Contact us" %}</a>
                </div>
              </div>
            </div>
          </div>

{% endif %}

        <div class="row coupon">
          <div class="col-xs-12">
            <div class="col-xs-12 tabs">
              <div id="exTab">
                <!-- <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="3" data="http://google.com" data-target="about" data-toggle="tabajax">{% trans 'About' %}</a>
                    <script>
                    $('[data-toggle="tabajax"]').click(function(e) {
                      e.preventDefault()
                      let dataUrl = $(this).attr('data')
                      let targ = $(this).attr('data-target')
                      targ = $('#' + targ)
                      console.log(dataUrl, targ);
                      $.get(dataUrl, function(data) {
                        console.log(data);
                        $(targ).html(data);
                      });
                    })
                    </script>
                  </li>
                  <li>
                    <a href="#" data="{% url "products:tabs_gallery" "b2c" item.pk %}" data-target="gallery" data-toggle="tabajax">{% trans "Gallery" %}</a>
                    <script>
                    $('[data-toggle="tabajax"]').click(function(e) {
                      e.preventDefault()
                      let dataUrl = $(this).attr('data')
                      let targ = $(this).attr('data-target')
                      targ = $('#' + targ)
                      console.log(dataUrl, targ);
                      $.get(dataUrl, function(data) {
                        console.log(data);
                        $(targ).prepe(data);
                      });
                    })
                    </script>
                  </li>
                  <li>
                    <a href="#" data="{% url "products:tabs_documents" "b2c" item.pk %}" data-target="documents" data-toggle="tabajax">{% trans "Documents" %}</a>
                    <script>
                    $('[data-toggle="tabajax"]').click(function(e) {
                      e.preventDefault()
                      let dataUrl = $(this).attr('data')
                      let targ = $(this).attr('data-target')
                      targ = $('#' + targ)
                      console.log(dataUrl, targ);
                      $.get(dataUrl, function(data) {
                        console.log(data);
                        $(targ).html(data);
                      });
                    })
                    </script>
                  </li>

                  {% for page in item.additional_pages.all %}
                  <li>
                    <a href="#goods-tabs-{{ forloop.counter0|add:4 }}">{{ page.title }}</a>
                  </li>
                  {% endfor %}

                </ul> -->
                <!-- <div class="tab-content">
                  <div class="tab-pane active" id="about">
                    <div class="text">{{ item.description|cleanHtml|safe }}</div>
                  </div>
                  <div class="tab-pane" id="documents">
                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis doloribus cum aperiam odio numquam maxime voluptates laudantium facere eos voluptatibus.</div>
                    <a class="grouped_elements fancy" rel="group1" href="../images/gallery/img1.jpg"><img src="../images/gallery/img1.jpg" alt=""/></a>
                    <a class="grouped_elements fancy" rel="group1" href="../images/gallery/img2.jpg"><img src="../images/gallery/img2.jpg" alt=""/></a>
                    <a class="grouped_elements fancy" rel="group1" href="../images/gallery/slide1.jpg"><img src="../images/gallery/slide1.jpg" alt=""/></a>
                  </div>


                  <div class="tab-pane" id="gallery">
                    <div class="col-xs-2 document">
                      <div class="download">
                        <img src="../images/file_icon.png" alt="">
                        <p><a href="#">Download</a></p>
                      </div>
                      <div class="name">Name lorem ipsum dolor sit.</div>
                    </div>

                    <div class="col-xs-2 document">
                      <div class="download">
                        <img src="../images/file_icon.png" alt="">
                        <p><a href="#">Download</a></p>
                      </div>
                      <div class="name">Name lorem ipsum dolor sit.</div>
                    </div>
                    <div class="col-xs-2 document">
                      <div class="download">
                        <img src="../images/file_icon.png" alt="">
                        <p><a href="#">Download</a></p>
                      </div>
                      <div class="name">Name lorem ipsum dolor sit.</div>
                    </div>
                    <div class="col-xs-2 document">
                      <div class="download">
                        <img src="../images/file_icon.png" alt="">
                        <p><a href="#">Download</a></p>
                      </div>
                      <div class="name">Name lorem ipsum dolor sit.</div>
                    </div>
                    <div class="col-xs-2 document">
                      <div class="download">
                        <img src="../images/file_icon.png" alt="">
                        <p><a href="#">Download</a></p>
                      </div>
                      <div class="name">Name lorem ipsum dolor sit.</div>
                    </div>
                    <div class="col-xs-2 document">
                      <div class="download">
                        <img src="../images/file_icon.png" alt="">
                        <p><a href="#">Download</a></p>
                      </div>
                      <div class="name">Name lorem ipsum dolor sit.</div>
                    </div>
                  </div>

                  {% for page in item.additional_pages.all %}
                  <div class="tab-pane" id="goods-tabs-{{ forloop.counter0|add:4 }}">
                      <div class="content-goods-tab">{{ page.content|cleanHtml|safe }}</div>
                  </div>
                  {% endfor %}

                </div> -->
                <ul class="nav nav-tabs tabs-up" id="friends">
                  <li class="active"><a href="#about" data-target="#about" class="media_node active span" id="contacts_tab" data-toggle="tab" rel="tooltip">{% trans 'About' %}</a></li>
                  <li><a href="{% url "products:tabs_gallery" "b2c" item.pk %}" data-target="#gallery" class="media_node span" id="friends_list_tab" data-toggle="tabajax" rel="tooltip">{% trans 'Gallery' %}</a></li>
                  <li><a href="{% url "products:tabs_documents" "b2c" item.pk %}" data-target="#documents" class="media_node span" id="awaiting_request_tab" data-toggle="tabajax" rel="tooltip">{% trans 'Documents' %}</a></li>
                  <script>
                  $('[data-toggle="tabajax"]').click(function(e) {
                    e.preventDefault()
                    var $this = $(this),
                    loadurl = $this.attr('href'),
                    targ = $this.attr('data-target');

                    $.get(loadurl, function(data) {
                      $(targ).html(data);
                    });

                    $this.tab('show');
                    return false;
                  });
                  </script>
                </ul>

                <div class="tab-content">
                  <div class="tab-pane active" id="about">
                    <div class="text">{{ item.description|cleanHtml|safe }}</div>
                  </div>
                  <div class="tab-pane" id="gallery">

                  </div>
                  <div class="tab-pane" id="documents">

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="fb-comments" data-href="http{% if request.is_secure %}s{% endif %}://{{ request.get_host }}{{ request.path }}" data-width="100%" data-numposts="5"></div>
{% endblock %}
