{% extends 'b24online/forms.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'b24online/js/jstree/jstree.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            // По всем полям  сзаданным классом
            $('.js-tree-field').each(function() {
                var self = this;
                if ($(self).is('input') && $(self).is(':hidden')) {
                    // Если input[type=hidden]
                    var fieldId = $(self).attr('id'),
                        initValues = $(self).val();
                    if (typeof fieldId !== 'undefined') {
                        var divTreeWrapperId = fieldId + '_tree_wrapper',
                            divTreeId = fieldId + '_tree';

                        var url = $(self).data('url');
                        
                        // Добавляем слои
                        var divTree = $('<div/>').addClass('tree-container').attr('id', divTreeId),
                            divTreeWrapper = $('<div/>').attr('id', divTreeWrapperId);
                        $(divTreeWrapper).append(divTree);
                        $(divTreeWrapper).insertAfter($(self));
                   
                        $.getJSON(url, function(tree_data) {
                            $(divTree).jstree({
                                core: {
                                    data: tree_data,
                                },
                                plugins: ['checkbox',]
                            });
                        });
                    }
                }
            });
        });
    </script>

{% endblock %}

{% block title %}
    {% if form.instance %}
        {% trans 'Update the producer'%}
    {% else %}
        {% trans 'Add the producer' %}
    {% endif %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/company.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'b24online/css/extra.css' %}" />
    <link type="text/css" rel="stylesheet" href='{% static "b24online/js/jstree/themes/default/style.css" %}' />
{% endblock %}

{% block content %}
<div class="data" style="margin: 15px;">
    <h1>
    {% if form.instance and form.instance.pk %}
        {% trans 'Update the producer'%}
    {% else %}
        {% trans 'Add the producer' %}
    {% endif %}
    </h1>
    <hr class="hr-divider-one">
    <div class="newsform form-container">
        <form enctype="multipart/form-data" method="post" action="">
            {% csrf_token %}
            <ul>
                <li>
                    <label>{{ form.item_label }}</label>
                    <a href="{{ form.item.get_absolute_url }}" target="_blank">{{ form.item }}</a>
                </li>
                {% for field in form %}
                <li>
                    <label {% if field.field.required %}class="required"{% endif %}>{{ field.label }}:</label>
                    {% if form.bound and .content_type %}
                        <div class="error-handler">
                            <div class="formserror">{{ field.errors|striptags }}</div>
                        </div>
                    {% endif %}
                    {% if field.name == 'logo' and form.initial.logo %}
                        <div>
                            <div><img src="{{ form.initial.logo.big }}"></div>
                        </div>
                    {% endif %}
                    {{ field }}
                </li>
                {% endfor %}
            </ul>
            <div class="newform-button">
                <input type="submit" class="btntype2" name="submit" value="{% trans 'Save' %}">
                <a href="#" class="btntype1" onclick="javascript:window.location.href='{{ success_url }}'; retun false;">{% trans 'Cancel' %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
