{% extends 'b24online/main_page.html' %}

{% load static from staticfiles %}
{% load i18n %}
{% load CustomFilters %}
{% load inclusionTags %}

{% block title %}{% trans 'Producer list' %}{% endblock %}

{% block header %}
    {% include "b24online/login_header.html" %}
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/company.css" %}' />
    <link type="text/css" rel="stylesheet" href='{% static "b24online/css/extra.css" %}' />
{% endblock %}

{% block keywords %}{% endblock %}

{% block content %}
<div class="cpn-details-tab ui-tabs ui-widget ui-widget-content ui-corner-all">
    <div class="data">
    {% with 1 as as_insert %}
        {% include "b24online/Products/producerListBase.html" %}
    {% endwith %}
    </div>
</div>
{% endblock %}
