{% extends "b24online/Profile/index.html" %}
{% load i18n %}

{% block title %}{% trans "Change password" %}{% endblock %}
{% block content %}

<div class="user-profile">
      <h2 style="padding:10px 0  30px 0;">{% trans "Change password" %}</h2>
      <form method="post" action="">{% csrf_token %}

        <ul class="profile-clumn">
            <li>
                <label>{% trans 'Old opassword' %}</label>
                {% if form.errors.old_password %}
                    <div class="error-handler"> <div class="formserror2">{{ form.errors.old_password.0 }}</div></div>
                {% endif %}
                {{ form.old_password }}
            </li>

            <li>
                <label>{% trans 'New password' %}</label>
                {% if form.errors.new_password1 %}
                    <div class="error-handler"> <div class="formserror2">{{ form.errors.new_password1.0 }}</div></div>
                {% endif %}
                {{ form.new_password1 }}
            </li>

            <li>
                <label>{% trans 'New password confirmation:' %}</label>
                {% if form.errors.new_password2 %}
                    <div class="error-handler"> <div class="formserror2">{{ form.errors.new_password2.0 }}</div></div>
                {% endif %}
                {{ form.new_password2 }}
              </li>
        </ul>

          <div class="profilebutton">
            <input class="btntype2" type="submit" value="{% trans 'Change password' %}" />
            <a class="btntype1" href="{% url 'profile:main' %}">{% trans 'Cancel' %}</a>
          </div>
      </form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
