{% load static from staticfiles %}
{% load i18n %}

<div id="main_wrapper">
    <div style="margin-top: 20px;">
        <span style="font-size: 15px;">{% trans "Forgot your password? Enter your e-mail and we will send you the required information to create a new password."%}</span>
        <form class="dialog-form" method="POST" action="{% url 'auth_password_reset' %}">
            {% csrf_token %}
            <table cellPadding="2" celSpaing="2" width="100%">
                <tr>
                    <td colspan="2">
                    {% for key, value in form.errors.items %}
                        {% ifequal key '__all__' %}  <p style="color: red;padding-bottom: 25px;">{{ value.as_text }} </p>{% endifequal %}
                    {% endfor %}
                    </td>
                </tr>
                <tr valign="top">
                    <td><label>{% trans 'E-mail' %}</label></td>
                    <td>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="formerror">{{ form.email.errors.as_text }}</div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" name="Login" class="btnlogin" value="{% trans 'Reset Password' %}">
                    </td>
                </tr>
            </table>
         </form>
    </div>
</div>
