{% load static %}
{% load i18n %}
{% load CustomFilters %}
<script type="text/javascript">

</script>
<div class="container">
     <div class="companies">
        {% include "Companies/popupFilter.html" %}
        {% include "main/paginator.html" %}
        {% include "main/local_menu_script.html" %}
        <ul class="company-list">
            {% for company in object_list %}

                {% resolve items_perms company.pk|slugify as permlist %}
                <li>
                    {% if 'delete_company' in  permlist or 'change_company' in permlist%}
                        <div class="blockbox">
                                    <a href="#"><i class="btn-afisha imgnews"></i></a>
                                    <div class="localmenu">
                                        {% if 'change_company' in permlist %}
                                             <div class="tender-action"><i class="imgnews edit icon-action"></i><a href="{% url 'companies:update' company.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'edit' %}</span></a></div>
                                              <div class="tender-action"><i class="imgnews sett icon-action"></i><a href="{% url 'setCurrent' company.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'set current' %}</span></a></div>
                                       {% endif %}
                                       {% if 'add_advtop' in permlist %}
                                           <div class="tender-action"><i class="imgnews noty icon-action"></i><a href="{% url 'adv_top:top_form' company.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'Advertise' %}</span></a></div>
                                       {% endif %}
                                       {% if 'delete_company' in  permlist %}
                                             <div class="tender-action"><i class="imgnews remove icon-action"></i><a href="{% url 'companies:delete' company.pk %}?next={{ current_path }}"> <span class="deletext">{% trans 'remove' %}</span></a></div>
                                        {% endif %}
                                    </div>
                                </div>
                    {% endif %}
                    <div class="title">
                        {% if company.country.flag %}
                            <i class="flag sprite {{ company.country.flag }}"></i>
                        {% endif %}
                        <a href="{% url 'companies:detail' company.slug %}">{{ company.title }}</a>
                    </div>
                    <div class="company-infor">
                        {% if company.image %}
                            <img src="{{ MEDIA_URL }}small/{{ company.image }}" class="logocompany" alt="{{ company.title }}" title="{{ company.title }}"/>
                        {% else %}
                           <img src="{% static "tppcenter/img/company.jpg" %}" class="logocompany" alt="" />
                        {% endif %}
                        <div class="desc">
                            {% if company.organization.title %}
                                <p class="link">
                                    <b>{% trans 'Member of' %}</b>
                                    <a href="{% url company.organization.url company.organization.slug %}">{{ company.organization.title|truncatechars:30 }}</a>
                                </p>
                            {% endif %}

                            {% if company.anons %}
                                {{ company.anons|cleanHtml|safe|truncatechars:200 }}
                            {% else %}
                                {{ company.text|cleanHtml|safe|truncatewords_html:200 }}
                            {% endif %}
                            <a href="{% url 'companies:detail' company.slug %}">{% trans "More" %}...</a>

                        </div>
                        <div class="companycontact">
                            {% if company.address %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info1"></i></div>
                                    <div class="nameinfo">{{ company.address }}</div>
                                </div>
                            {% endif %}
                            {% if company.phone %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info2"></i></div>
                                    <div class="nameinfo">{{ company.phone }}</div>
                                </div>
                            {% endif %}
                            {% if company.fax %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info3"></i></div>
                                    <div class="nameinfo">{{ company.fax }}</div>
                                </div>
                            {% endif %}
                            {% if company.site %}
                                <div class="line">
                                    <div class="iconinfo"><i class="imgnews icon-info4"></i></div>
                                    <div class="nameinfo"><a href="http://{{ company.site }}">{{ company.site }}</a></div>
                                </div>
                            {% endif %}
                            <div class="line">
                                <div class="iconinfo"><i class="imgnews icon-info5"></i></div>
                                <div class="nameinfo">
                                    <a class="contact-us" data-name="{{ company.title }}" data-id="{{ company.pk }}" href="#" >
                                        {% trans 'Contact us' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            {% empty %}
                <div class="no-results">{% trans "No results found" %}</div>
            {% endfor %}

        </ul>
        {% include "main/paginator.html" %}
    </div>
</div>
