<div class="galleryHolder">
    <ul class="tpp-gallery">
        {% for photo in gallery %}
            <li>
                <div class="b-img">
                    <a class="fancybox" rel="gallery" href="{{ MEDIA_URL }}original/{{ photo.photo }}">
                        <img src="{{ MEDIA_URL }}big/{{ photo.photo }}" />
                    </a>
                    <div class="deleteimge">
                        <i class="imgnews delete"></i>
                        <span class="deletext">{% trans "remove" %}</span>
                    </div>
                    <div class="viewimge">
                    <a class="fancybox" rel="gallery" href="{{ MEDIA_URL }}original/{{ photo.photo }}">
                        <i class="imgnews zoom"></i><span class="zoomtext">{% trans 'zoom' %}</span>
                    </a>
                    </div>
                    <div class="gray-img"></div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include "main/paginator.html" %}
</div>