{% load i18n %}
{% load CustomFilters %}
<div class="tpp-dt-content">
    <table class="table-big" cellpadding="0" cellpadding="0">
        {% for news in page.object_list %}
            <tr>
                <td colspan="2">
                    <a href="{% url 'news:detail' news.slug %}" title="{{ news.title }}">
                        {{ news.title|truncatewords:10 }}
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'news:detail' news.slug %}" title="{{ news.title }}">
                        <img src="{{ MEDIA_URL }}small/{{ news.image }}" alt="{{ news.title }}" title="{{ news.title }}"/>
                    </a>
                </td>
                <td>
                    {{ news.content|cleanHtml|safe|truncatewords_html:50 }}
                </td>
            </tr>
        {% empty %}
            <div class="no-results">{% trans "No results found" %}</div>
        {% endfor %}
    </table>
    {% include "main/paginator.html" %}
</div>