{% load i18n %}
{% load staticfiles %}
{% load CustomFilters %}

<script>
        $(function(){
            companyStaff.init('{% url "companies:tab_staff" item_pk %}', LANG['staff']);
        });
</script>

<div id="staff-tabs" class="tpp-dt-content">
    <div class="content-staff">
        <div class="content-staffin">
            <div class="error-msg">
                {% if errorMessage %}
                    <p>{{ errorMessage }}</p>
                {% endif %}
            </div>
            <table width="100%" cellspacing="0" cellpadding="0" border="0" class="table-staff">
                <tr class="top">
                    <td width="24">&nbsp;</td>
                    <td>{% trans "Name" %}</td>
                    <td>{% trans "Department" %}</td>
                    <td>{% trans "Position" %}</td>
                    <td>{% trans "Contact" %}</td>
                    <td>{% trans "Status" %}</td>
                    <td class="status"></td>
                </tr>

                {% for id, attr in workersList.items %}
                    {% with attr.IMAGE|first as avatar %}
                    {% with attr.USER_FIRST_NAME|first as f_name %}
                    {% with attr.USER_MIDDLE_NAME|first as m_name %}
                    {% with attr.USER_LAST_NAME|first as l_name %}
                    {% with attr.EMAIL|first as email %}
                    {% with attr.DEPARTMENT|first as department %}
                    {% with attr.VACANCY|first as vacancy %}
                    {% with attr.STATUS|first as status %}


                    <tr data-cabinet="{{ id }}">
                        <td>
                            <div class="avatar">
                                {% if avatar %}
                                     <img src="{{ MEDIA_URL }}th/{{ avatar }}" alt="{{ l_name }}" />
                                {% else %}
                                     <img style="width: 24px;height: 24px;" src="{% static "tppcenter/img/profile.jpg"  %}" alt="{{ l_name }}" />
                                {% endif %}
                            </div>
                        </td>
                        {% if attr %}
                            <td><a href="#" title="{{ f_name }} {{ m_name }} {{ l_name }}">{{ f_name }} {{ m_name }} {{ l_name }}</a></td>
                        {% else %}
                            <td><a href="#" title="">{% trans "User with empty profile. Cabinet ID:" %} {{ id }}</a></td>
                        {% endif %}
                        <td>{{ department }}</td>
                        <td>{{ vacancy }}</td>
                        <td><i class="staff-contact-msg img-status contact-us" data-name="{{ f_name }} {{ m_name }} {{ l_name }}" data-id="{{ id }}"></i></td>
                        {% if status == 'Active' %}
                            <td><i class="staff-status-active img-status"></i></td>
                        {% else %}
                            <td><i class="staff-status-passive img-status"></i></td>
                        {% endif %}
                        <td>
                            {% if 'delete_cabinet' in permissionsList %}
                                <i class="btnremove-small imgnews"></i>
                            {% endif %}
                        </td>
                    </tr>

                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}
                    {% endwith %}

                {% empty %}
                    <div class="no-results">{% trans "No Staff found." %}</div>
                {% endfor %}

            </table>
            {% if 'add_cabinet' in permissionsList %}
                <div class="btn-clumn">
                    <i class="btnadd btnaction imgnews addform" id="user-add-button"></i>
                    <!-- <i class="btnremove btnaction imgnews"></i> -->
                </div>
            {% endif %}
        </div>
    </div>
    {% include "main/paginator.html" %}
</div>
